<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <b:column col-md="12">
            <div class="alert alert-success" >
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Atenção.</strong> Seleciona a conta paciente para gerar o fechamento.
            </div>
        </b:column>
        <b:column col-md="12">
            <h:form id="frmConsultarAtendimentos">
                <center><p:commandButton id="btnRecalcular" value="Recalcular valores" icon="refresh" update="frmConsultarAtendimentos:dltAtendimentos" /></center>
                <p:blockUI block="frmConsultarAtendimentos:dltAtendimentos"  trigger="btnRecalcular" >
                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                </p:blockUI>
                <br/>
                <p:dataTable id="dltAtendimentos" widgetVar="atend" value="#{cirurgiaMB.listaAtendimentosLazy}" lazy="true"
                             var="atend" paginator="true" rows="10" sortBy="#{atend.numeroAtendimentoPacienteTasy}" sortOrder="descending">
                    <p:column width="4%">
                        <p:rowToggler />
                    </p:column>

                    <p:column headerText="Atendimento"  sortBy="#{atend.numeroAtendimentoPacienteTasy}" filterBy="#{atend.numeroAtendimentoPacienteTasy}" filterMatchMode="contains" width="8%">
                        <center><h:outputText value="#{atend.numeroAtendimentoPacienteTasy}" title="#{atend.idAtendimentoPaciente}" /></center>
                    </p:column>
                    <p:column headerText="Paciente"  filterMatchMode="contains"  width="15%" filterBy="#{atend.idPaciente.nome}" sortBy="#{atend.idPaciente.nome}">
                        <h:outputText value="#{atend.idPaciente.nome}" />
                    </p:column>
                    <p:column headerText="Entrada"  width="10%" filterBy="#{atend.dtEntrada}" filterMatchMode="contains" sortBy="#{atend.dtEntrada}">
                        <center>
                        <h:outputText value="#{atend.dtEntrada}">
                            <f:convertDateTime pattern="dd/MM/yyy" />
                        </h:outputText>
                            </center>
                    </p:column>
                    <p:column headerText="Médico" width="15%" sortBy="#{atend.idMedicoResp != null? atend.idMedicoResp.nome : atend.idMedicoResp.nomeFantasia}" filterBy="#{atend.idMedicoResp != null? atend.idMedicoResp.nome : atend.idMedicoResp.nomeFantasia}" filterMatchMode="contains" >
                        <h:outputText value="#{atend.idMedicoResp != null? atend.idMedicoResp.nome : atend.idMedicoResp.nomeFantasia}" />
                    </p:column>
                    <p:column headerText="Tipo Atendimento" sortBy="#{atend.tipoAtendimento}" width="8%" filterBy="#{atend.tipoAtendimento}" filterMatchMode="contains">
                        <center>
                            <h:outputText value="#{atend.tipoAtendimento}"  />
                        </center>
                    </p:column>
                    <p:column headerText="Descrição Atendimento" sortBy="#{atend.descricaoTipoAtendimento}" width="8%" filterBy="#{atend.descricaoTipoAtendimento}" filterMatchMode="contains">
                        <center>
                            <h:outputText value="#{atend.descricaoTipoAtendimento}"  />
                        </center>
                    </p:column>                    
                    <p:rowExpansion>
                        <p:dataTable id="dtlContasPaciente" widgetVar="conta" value="#{cirurgiaMB.pesquisarContasPacientePorAtendimento(atend.idAtendimentoPaciente)}" 
                                     var="conta" paginator="true" rows="5" sortMode="multiple" paginatorPosition="bottom">
                            <p:column width="150">
        <!--                            disabled="#{conta.status.equals('Provisório')}"-->
                                <center>    
                                    <p:commandButton icon="selecionar" value="selecionar" 
                                                     action="#{cirurgiaMB.selecionarContaPaciente(conta)}" 
                                                     title="Gerar fechamento desta conta?" disabled="#{conta.status.equals('Provisório')}"
                                                     update=":frmInserir, :msg" oncomplete="PF('dlgConsultarAtendimentos').hide();">
                                        <p:ajax oncomplete="$(function(){PrimeFaces.focus('frmInserir:procedimentoField');});"/>
                                    </p:commandButton>                                        
                                </center>                                      
                            </p:column>
                            <p:column width="40">
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="Número da Conta" sortBy="#{conta.idContaPacienteTasy}" width="8%">
                                <center><h:outputText value="#{conta.idContaPacienteTasy}"  /></center>
                            </p:column>
                            <p:column headerText="Status" sortBy="#{conta.status}" width="10%">
                                <center>
                                    <h:outputText value="#{conta.status}" title="Somente contas no status 'Definitivo' podem ser selecionadas." styleClass="label #{conta.status.equals('Provisório') ? 'label-warning' : 'label-success'}"></h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Período Inicial" sortBy="#{conta.dtPeriodoInical}" width="10%">
                                <center>
                                    <h:outputText value="#{conta.dtPeriodoInical}">
                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Data Atualização" sortBy="#{conta.dtAtualizacao}" width="10%">
                                <center>
                                    <h:outputText value="#{conta.dtAtualizacao}">
                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Data Acerto" sortBy="#{conta.dtAcerto}" width="10%">
                                <center>
                                    <h:outputText value="#{conta.dtAtualizacao}">
                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            
                            <p:column headerText="Vl Total TASY" sortBy="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" width="10%">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}">
                                        <f:convertNumber type="currency"/>
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Vl Total SMA" sortBy="#{cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" width="10%">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" title="Valor total TASY">
                                        <f:convertNumber type="currency"/>                                
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Vl Total" sortBy="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)) + cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" width="10%">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)) + cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" title="Valor total">
                                        <f:convertNumber type="currency"/>                                
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:rowExpansion>
                                <p:dataTable widgetVar="proc" value="#{cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)}" 
                                             var="proc" paginator="true" rows="5" paginatorPosition="bottom"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15,25,50,100,200">
                                    <p:column headerText="ID Tasy" sortBy="#{proc.idProcedimentoPacienteTasy}" width="8%">
                                        <center><h:outputText value="#{proc.idProcedimentoPacienteTasy}"  /></center>
                                    </p:column>
                                    <p:column headerText="Ult. Atualização" sortBy="#{proc.dtAtualizacao}" width="10%">
                                        <center>
                                            <h:outputText value="#{proc.dtAtualizacao}">
                                                <f:convertDateTime pattern="dd/MM/yyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="ID Proc" sortBy="#{proc.proc.idServico.idServico}" width="8%">
                                        <center><h:outputText value="#{proc.idServico.idServico}"  /></center>
                                    </p:column>
                                    <p:column headerText="Procedimento" sortBy="#{proc.idServico.descricao}" width="15%">
                                        <center>
                                            <h:outputText value="#{proc.idServico.descricao}" ></h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Médico" sortBy="#{proc.idMedico != null ? proc.idMedico.nome : ''}" width="10%">
                                        <center>
                                            <h:outputText value="#{proc.idMedico != null ? proc.idMedico.nome: ''}"></h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Qtd" sortBy="#{proc.qtdProcedimento}" width="10%">
                                        <center>
                                            <h:outputText value="#{proc.qtdProcedimento}">
                                                <f:convertNumber minFractionDigits="2"/>
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Valor TASY" sortBy="#{proc.valorProcedimento}" width="10%">
                                        <center>
                                            <h:outputText value="#{proc.valorProcedimento}">
                                                <f:convertNumber type="currency"/>
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Valor SMA" width="10%">
                                        <center>
                                            <h:outputText value="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) != null ? cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) : ''}">
                                                <f:convertNumber type="currency"/>
                                            </h:outputText><br/>
                                            <p:link href="formRegraRepasse.xhtml" rendered="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) == 0 and proc.valorProcedimento != 0}" value="criar regra de repasse" target="_blank" style="color: red"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Valor Total" sortBy="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc)+ proc.valorProcedimento}" width="10%">
                                        <center>
                                            <h:outputText value="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) + proc.valorProcedimento}">
                                                <f:convertNumber type="currency"/>
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:dataTable>

                    </p:rowExpansion>
                </p:dataTable>
            </h:form>
        </b:column>
    </body>
</html>
