<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <b:column col-md="12">
            <div class="alert alert-success" >
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Atenção.</strong> Selecione a conta paciente para gerar o fechamento ou parcial.
            </div>

        </b:column>
        <b:column col-md="12">
            <h:form id="frmConsultarContasPacientes">
                <div class="row">
                    <b:column span="4">
                        Paciente: <strong>#{cirurgiaMB.orcamento.idPaciente.nome}</strong>  
                    </b:column>
                    <b:column span="4">
                        Orçamento: <strong>#{cirurgiaMB.orcamento.idOrcamento}</strong>  
                    </b:column>
                    <b:column span="4">
                        Categoria:  <strong>#{cirurgiaMB.orcamento.idAtendimentoPaciente.categoria}</strong>
                    </b:column>

                    <b:column span="4">
                        Médico Resp.:  <strong>#{cirurgiaMB.orcamento.idTerceiro.nome}</strong>
                    </b:column>
                    <b:column span="4">
                        Nº Atendimento:  <strong>#{cirurgiaMB.orcamento.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}</strong>
                    </b:column>
                    <b:column span="4">
                        Tipo Atendimento:  <strong>#{cirurgiaMB.orcamento.idAtendimentoPaciente.tipoAtendimento}</strong>
                    </b:column>


                </div>
                <hr/>
                <center><p:commandButton id="btnRecalcular" value="Recalcular" action="#{cirurgiaMB.atualizarAtendimento(cirurgiaMB.orcamento.idAtendimentoPaciente.numeroAtendimentoPacienteTasy)}" icon="refresh" update="dtlContasPaciente" /></center>
                <p:blockUI block="dtlContasPaciente"  trigger="btnRecalcular" >
                    <p:graphicImage value="Recursos/img/novoLoadingProcessando.gif"/>
                </p:blockUI>
                <br/>
                <p:dataTable id="dtlContasPaciente" widgetVar="conta" value="#{cirurgiaMB.pesquisarContasPacientePorAtendimento(cirurgiaMB.orcamento.idAtendimentoPaciente.idAtendimentoPaciente)}" 
                             var="conta" paginator="true" rows="5" sortMode="multiple" paginatorPosition="bottom" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15,25,50,100,200">
                    <p:column width="150">
                        <center>    
<!--                            disabled="#{conta.status.equals('Provisório')}"-->
                            <p:commandButton icon="selecionar" value="selecionar"  
                                             action="#{cirurgiaMB.mesclarContaPacienteOrcamento(cirurgiaMB.orcamento, conta)}" 
                                             title="Gerar fechamento desta conta?"
                                             update=":frmInserir, :msg" oncomplete="PF('dlgConsultarContasPacientePorAtendimento').hide();">
                                <p:ajax oncomplete="$(function(){PrimeFaces.focus('frmInserir:selPlan');});"/>
                            </p:commandButton>                                        

                        </center>

                    </p:column>
                    <p:column width="40">
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="Atend. TASY"  sortBy="#{conta.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" 
                              filterBy="#{conta.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" filterMatchMode="contains" width="8%">
                        <center><h:outputText value="#{conta.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" title="Conta SMA: #{conta.idAtendimentoPaciente.idAtendimentoPaciente}" /></center>
                    </p:column>
                    <p:column headerText="Conta TASY" sortBy="#{conta.idContaPacienteTasy}" filterBy="#{conta.idContaPacienteTasy}" width="8%">
                        <center><h:outputText value="#{conta.idContaPacienteTasy}" title="Conta SMA: #{conta.idContaPaciente}" /></center>
                    </p:column>
                    <p:column headerText="Período Inicial" sortBy="#{conta.dtPeriodoInical}" width="10%">
                        <center>
                            <h:outputText value="#{conta.dtPeriodoInical}">
                                <f:convertDateTime pattern="dd/MM/yyy" />
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Data Atualização" sortBy="#{conta.dtAtualizacao}" width="10%">
                        <center>
                            <h:outputText value="#{conta.dtAtualizacao}">
                                <f:convertDateTime pattern="dd/MM/yyy" />
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Data Acerto" sortBy="#{conta.dtAcerto}" width="10%">
                        <center>
                            <h:outputText value="#{conta.dtAtualizacao}">
                                <f:convertDateTime pattern="dd/MM/yyy" />
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Status" sortBy="#{conta.status}" width="10%">
                        <center>
                            <h:outputText value="#{conta.status}" title="Somente contas no status 'Definitivo' podem ser selecionadas." styleClass="label #{conta.status.equals('Provisório') ? 'label-warning' : 'label-success'}"></h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Vl Total TASY" sortBy="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" width="10%">
                        <center>
                            <h:outputText value="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Vl Total SMA" sortBy="#{cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" width="10%">
                        <center>
                            <h:outputText value="#{cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" style="color: #{cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)) == 0 and cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)) != 0 ? 'red': ''}" title="Valor total TASY">
                                <f:convertNumber type="currency"/>                                
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Vl Total" sortBy="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)) + cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" width="10%">
                        <center>
                            <h:outputText value="#{cirurgiaMB.retornaTotalTasyContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)) + cirurgiaMB.retornaTotalRealContaPaciente(cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente))}" title="Valor total TASY">
                                <f:convertNumber type="currency"/>                                
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable widgetVar="proc" value="#{cirurgiaMB.pesquisarProcedimentosPacientePorContaPaciente(conta.idContaPaciente)}" 
                                     var="proc" paginator="true" rows="5" paginatorPosition="bottom" scrollable="true" scrollHeight="300"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15,25,50,100,200">
                            <p:column headerText="ID Tasy" sortBy="#{proc.idProcedimentoPacienteTasy}" width="80">
                                <center><h:outputText value="#{proc.idProcedimentoPacienteTasy}"  /></center>
                            </p:column>
                            <p:column headerText="Procedimento" sortBy="#{proc.idServico.descricao}" width="200">
                                <center>
                                    <h:outputText value="#{proc.idServico.descricao}" ></h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Médico" sortBy="#{proc.idMedico != null ? proc.idMedico.nome : ''}" width="200">
                                <center>
                                    <h:outputText value="#{proc.idMedico != null ? proc.idMedico.nome: ''}"></h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Qtd" sortBy="#{proc.qtdProcedimento}" width="80">
                                <center>
                                    <h:outputText value="#{proc.qtdProcedimento}">
                                        <f:convertNumber minFractionDigits="2"/>
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Valor TASY" sortBy="#{proc.valorProcedimento}" width="120">
                                <center>
                                    <h:outputText value="#{proc.valorProcedimento}">
                                        <f:convertNumber type="currency"/>
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Valor SMA" width="120">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) != null ? cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) : ''}">
                                        <f:convertNumber type="currency"/>
                                    </h:outputText><br/>
                                    <p:link href="formRegraRepasse.xhtml" rendered="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) == 0 and proc.valorProcedimento != 0}" value="criar regra de repasse" target="_blank" style="color: red"/>
                                </center>
                            </p:column>
                            <p:column headerText="Valor Total" sortBy="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc)+ proc.valorProcedimento}" width="120">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaValorAjustadoPorRegraRepasse(proc) + proc.valorProcedimento}">
                                        <f:convertNumber type="currency"/>
                                    </h:outputText>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>

            </h:form>
        </b:column>
    </body>
</html>
