<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <script>
            function zerafield(){
                if (document.getElementById('frmCadastroPaciente:nome').value.toString() == "Null") {
                    document.getElementById('frmCadastroPaciente:nome').value = "";
                }                
            } 
            function up(lstr){ 
                var str=lstr.value; 
                lstr.value=str.toUpperCase(); 
            }
        </script>

        <h:form id="frmCadastroPaciente">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#DadosBasicos">Dados Básicos</a></li>
                <li><a data-toggle="tab" href="#Responsavel">Responsável</a></li>
            </ul>
            <div class="tab-content">
                <style>
                    .colEsquerda {
                        padding-left: 0px !important;
                    }
                </style>

                <p:messages closable="true" showIcon="true" id="mensagem"/>
                <div id="DadosBasicos" class="tab-pane fade in active" style="padding-left: 0px;">
                    <b:column span="7" >
                        <b:row>
                            <br/>
                            <b:column span="8">
                                <bcr:outputrequired value="Nome" />
                                <p:inputText  styleClass="form-control" onkeyup="up(this);" required="true"  id="nome" style="height: "  
                                              label="Nome" requiredMessage="O campo Nome é obrigatório" 
                                              value="#{pacienteMB.paciente.nome}" onblur="capitaliseFirstLetter(this.value, this.id)">
                                    <p:ajax event="blur" listener="#{pacienteMB.testarNome()}"  update=":frmCadastroPaciente:mensagem"/>
                                </p:inputText>

                            </b:column>
                            <b:column span="4">
                                <bcr:outputrequired  value="Sexo" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.sexo}" styleClass="form-control"  filter="true" 
                                                 filterMatchMode="contains" required="true" requiredMessage="O campo Sexo é obrigatório"  >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="Masculino" itemValue="M" />
                                    <f:selectItem itemLabel="Feminino" itemValue="F" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Nome da Mãe" />
                                <p:inputText  styleClass="form-control" onkeyup="up(this);" 
                                              required="true"  id="nomeMae" onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Mae" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomeMae}" />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Nome do Pai" />
                                <p:inputText  styleClass="form-control" onkeyup="up(this);" id="nomePai" onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Pai" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomePai}"  />
                            </b:column>
                            <b:column span="4" >
                                <bcr:outputrequired value="Nascimento" />
                                <p:calendar id="dataNasc" showOn="false" value="#{pacienteMB.paciente.dtNascimento}"
                                            required="true" mask="99/99/9999" pattern="dd/MM/yyyy" navigator="true" 
                                            maxdate="today" yearRange="1900:2019" 
                                            requiredMessage="Informe a data de nascimento do paciente!" >
                                    <p:ajax event="blur" update="idade, dataNasc" listener="#{pacienteMB.calculaIdade()}" />
                                </p:calendar>
                            </b:column>
                            <b:column span="2" >
                                <h:outputText value="Idade " />
                                <p:inputText styleClass="form-control" disabled="true" 
                                             style="color: #{pacienteMB.idade == 0 ? '' : pacienteMB.idade > 18 ? '' : 'red' } !important" readonly="true" 
                                             value="#{pacienteMB.idade}" id="idade" >
                                </p:inputText>
                            </b:column>
                            <b:column span="6" id="coluna5">
                                <h:outputText value="CPF"/>
                                <p:inputMask  value="#{pacienteMB.paciente.cpf}" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99"> 
                                    <p:ajax  event="blur" update=":frmCadastroPaciente:mensagem" listener="#{pacienteMB.verificaCPF()}"/>
                                </p:inputMask>
                            </b:column>

                            <b:column span="4">
                                <bcr:outputrequired value="Telefone" />
                                <p:inputMask value="#{pacienteMB.paciente.telefone}"  styleClass="form-control" required="true" id="telefone" label="Telefone"  requiredMessage="O campo Telefone é obrigatório" mask="(99) 9999-9999" />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Celular" />
                                <p:inputMask value="#{pacienteMB.paciente.telefoneCelular}"  styleClass="form-control"  id="telefonecelular" label="Celular"   mask="(99) 9999-9999" />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="RG" />
                                <p:inputText value="#{pacienteMB.paciente.rg}" styleClass="form-control"  id="rg" label="RG"    />
                            </b:column>

                        </b:row>
                    </b:column>
                    <b:column span="5">
                        <b:row>
                            <b:column span="8">
                                <br/>
                                <h:outputText value="CEP" />
                                <h:panelGrid columns="3" >
                                    <p:inputMask value="#{pacienteMB.paciente.cep}" styleClass="form-control"  id="cep"  label="cep" mask="99999-999" >
                                        <p:ajax event="blur" listener="#{pacienteMB.ConsultaCEP()}" update="logradouro, cidade, bairro, estado, complemento, tipoLogradouro, btnAbrirCEP" />
                                    </p:inputMask>
                                    <p:commandButton id="btnAbrirCEP" immediate="true" oncomplete="PF('dlgCEP').show()" styleClass="btn btninput" disabled="#{pacienteMB.paciente.nome.equals('') || pacienteMB.paciente.cpf.equals('')}" icon="consultar" title="Pesquisar por Logradouro"/>
                                </h:panelGrid>
                            </b:column>
                        </b:row>
                        <b:row>
                            <b:column span="3">
                                <h:outputText value="Tipo" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.tipoLogradouro}" styleClass="form-control" id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="Avenida" itemValue="AVENIDA" />
                                    <f:selectItem itemLabel="Beco" itemValue="BECO" />
                                    <f:selectItem itemLabel="Estrada" itemValue="ESTRADA" />
                                    <f:selectItem itemLabel="Outros" itemValue="OUTROS" />
                                    <f:selectItem itemLabel="Praça" itemValue="PRAÇA" />
                                    <f:selectItem itemLabel="Rua" itemValue="RUA" />
                                    <f:selectItem itemLabel="Travessa" itemValue="TRAVESSA" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="9" styleClass="colEsquerda">
                                <h:outputText value="Logradouro" />
                                <p:inputText value="#{pacienteMB.paciente.logradouro}"  styleClass="form-control"   id="logradouro"  label="logradouro"  />
                            </b:column>
                        </b:row>
                        <b:row>
                            <b:column span="3">
                                <h:outputText value="Número" />
                                <p:inputText value="#{pacienteMB.paciente.numero}" styleClass="form-control"  id="numero"  label="numero"  />
                            </b:column>
                            <b:column span="4" styleClass="colEsquerda">
                                <h:outputText value="Complemento" />
                                <p:inputText value="#{pacienteMB.paciente.complemento}" styleClass="form-control"  id="complemento"  label="complemento"  />
                            </b:column>                            
                            <b:column span="5" styleClass="colEsquerda">
                                <h:outputText value="Bairro" />
                                <p:inputText value="#{pacienteMB.paciente.bairro}" styleClass="form-control"  id="bairro"  label="bairro"  />
                            </b:column>


                        </b:row>
                        <b:row>
                            <b:column span="3">
                                <h:outputText value="Estado" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.uf}" styleClass="form-control" id="estado"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="AC" itemValue="AC" />
                                    <f:selectItem itemLabel="AL" itemValue="AL" />
                                    <f:selectItem itemLabel="AP" itemValue="AP" />
                                    <f:selectItem itemLabel="AM" itemValue="AM" />
                                    <f:selectItem itemLabel="BA" itemValue="BA" />
                                    <f:selectItem itemLabel="CE" itemValue="CE" />
                                    <f:selectItem itemLabel="DF" itemValue="DF" />
                                    <f:selectItem itemLabel="ES" itemValue="ES" />
                                    <f:selectItem itemLabel="GO" itemValue="GO" />
                                    <f:selectItem itemLabel="MA" itemValue="MA" />
                                    <f:selectItem itemLabel="MT" itemValue="MT" />
                                    <f:selectItem itemLabel="MS" itemValue="MS" />
                                    <f:selectItem itemLabel="MG" itemValue="MG" />
                                    <f:selectItem itemLabel="PA" itemValue="PA" />
                                    <f:selectItem itemLabel="PB" itemValue="PB" />
                                    <f:selectItem itemLabel="PR" itemValue="PR" />
                                    <f:selectItem itemLabel="PE" itemValue="PE" />
                                    <f:selectItem itemLabel="PI" itemValue="PI" />
                                    <f:selectItem itemLabel="RJ" itemValue="RJ" />
                                    <f:selectItem itemLabel="RN" itemValue="RN" />
                                    <f:selectItem itemLabel="RS" itemValue="RS" />
                                    <f:selectItem itemLabel="RO" itemValue="RO" />
                                    <f:selectItem itemLabel="RR" itemValue="RR" />
                                    <f:selectItem itemLabel="SC" itemValue="SC" />
                                    <f:selectItem itemLabel="SP" itemValue="SP" />
                                    <f:selectItem itemLabel="SE" itemValue="SE" />
                                    <f:selectItem itemLabel="TO" itemValue="TO" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="9" styleClass="colEsquerda">
                                <h:outputText value="Cidade" />
                                <p:inputText value="#{pacienteMB.paciente.cidade}" styleClass="form-control"  id="cidade"  label="cidade"  />
                            </b:column>                            
                        </b:row>

                    </b:column>
                </div>

                <div id="Responsavel" class="tab-pane fade">
                    <br/>
                    <b:column span="12">
                        <p:commandButton value="Consultar" icon="pesquisar" immediate="true" styleClass="btn"
                                         action="#{pacienteMB.carregarListaPacientes()}" update=":tblconsulta" 
                                         onclick="PF('dlgConsultarPacienteResp').show()" />
                        <p:commandButton value="Novo responsável" icon="add" immediate="true" styleClass="btn"
                                         action="#{pacienteMB.novoResponsavel()}" update=":frmCadastroPacienteResp" 
                                         onclick="PF('dlgCadastrarPacienteResp').show()"/>
                    </b:column>

                    <b:column span="12">
                        <hr/>
                        <p:dataTable  value="#{pacienteMB.listaResponsaveisSalvar}" var="tblAdicionados" id="tblResponsaveis">
                            <p:column headerText="Código" width="8%" >
                                <h:outputText value="#{tblAdicionados.idPacienteResponsavel.idPaciente}"/>
                            </p:column>
                            <p:column headerText="Nome" width="25%">
                                <h:outputText value="#{tblAdicionados.idPacienteResponsavel.nome}"/>
                            </p:column>
                            <p:column headerText="CPF" width="15%">
                                <h:outputText value="#{tblAdicionados.idPacienteResponsavel.cpf}"/>
                            </p:column>
                            <p:column>
                                <center>
                                    <p:commandLink title="Excluir" id="infoExc" actionListener="#{pacienteMB.removerResponsavel(tblAdicionados)}" update=":frmCadastroPaciente:mensagem, tblResponsaveis" >
                                        <p:graphicImage value="Recursos/icons/Delete.png" />
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </b:column>
                </div>
            </div>
            <b:column span="12">
                <hr/>
                <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar2()}" 
                                 actionListener="#{orcamentoMB.carregarListaPacientes()}"  styleClass="btn"  
                                 update="frmCadastroPaciente, :tabs:fromAvulso" 
                                 icon="salvar" validateClient="true" oncomplete="#{pacienteMB.retornoDialogo()}">
                </p:commandButton>
                <p:commandButton value="Sair" id="sair" oncomplete="if (!args.validationFailed)PF('dlgCadastrarPaciente').hide();"
                                 actionListener="#{pacienteMB.carregarListaPacientes()}" styleClass="btn"  
                                 update="frmCadastroPaciente, :tabs:fromAvulso" 
                                 icon="cancel16">
                </p:commandButton>
            </b:column>
        </h:form>
        <p:dialog widgetVar="novoPac" id="newPac" header="Novo Paciente"  resizable="false" closeOnEscape="true">
            <h:form id="tblDialogo">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#DadosBasicos1">Dados Básicos</a></li>
                    <li><a data-toggle="tab" href="#DadosAdicionais1">Dados Adicionais</a></li>
                </ul>
                <div class="tab-content">
                    <div id="DadosBasicos1" class="tab-pane fade in active">
                        <b:column span="6">
                            <b:column span="12">
                                <br/>
                                <bcr:outputrequired value="Nome" />
                                <p:inputText  styleClass="form-control"  required="true"  id="nome"  label="Nome" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nome}"  />
                            </b:column>
                            <b:column span="12">
                                <br/>
                                <bcr:outputrequired value="Nome da Mãe" />
                                <p:inputText  styleClass="form-control"  required="true"  id="nomeMae"  label="Nome Mae" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomeMae}" />
                            </b:column>
                            <b:column span="12">
                                <br/>
                                <h:outputText value="Nome do Pai" />
                                <p:inputText  styleClass="form-control"   id="nomePai"  label="Nome Pai" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomePai}" />
                            </b:column>
                            <b:column span="6" id="coluna5">
                                <h:outputText value="CPF"/>
                                <p:inputMask  value="#{pacienteMB.paciente.cpf}" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                    <p:ajax  event="change" partialSubmit="tblDialogo:cpf"  />
                                    <p:ajax  event="blur" update=":frmCadastroPaciente:mensagem" listener="#{pacienteMB.verificaCPF()}"/>
                                </p:inputMask>
                            </b:column>
                            <b:column span="6" >
                                <h:outputText value="Data de Nascimento " />
                                <p:calendar id="dataNasc" showOn="false" value="#{pacienteMB.paciente.dtNascimento}"
                                            required="true" mask="99/99/9999" pattern="dd/MM/yyyy"   navigator="true" maxdate="today" yearRange="1900:2019" 
                                            requiredMessage="Informe a data de nascimento do paciente!">
                                    <p:ajax event="blur" update="idade" listener="#{pacienteMB.calculaIdade()}" />
                                </p:calendar>
                            </b:column>
                            <b:column span="6" >
                                <h:outputText value="Idade " />
                                <p:inputText styleClass="form-control" readonly="true" disabled="true" value="#{pacienteMB.idade}" id="idade"/>
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Telefone" />
                                <p:inputMask value="#{pacienteMB.paciente.telefone}"  styleClass="form-control" required="true" id="telefone" label="Telefone"  requiredMessage="O campo Telefone é obrigatório" mask="(99) 9999-9999" />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="RG" />
                                <p:inputText value="#{pacienteMB.paciente.rg}" styleClass="form-control"  id="rg" label="RG"    />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Sexo" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.sexo}" styleClass="form-control"  filter="true" filterMatchMode="contains"   >
                                    <f:selectItem itemLabel="Selecione o sexo" itemValue="" />
                                    <f:selectItem itemLabel="Masculino" itemValue="M" />
                                    <f:selectItem itemLabel="Feminino" itemValue="F" />
                                </p:selectOneMenu>
                            </b:column>
                        </b:column>
                    </div>
                    <div id="DadosAdicionais1" class="tab-pane fade">
                        <b:column span="6">
                            <b:column span="8">
                                <br/>
                                <h:outputText value="CEP" />
                                <p:inputMask value="#{pacienteMB.paciente.cep}" styleClass="form-control"  id="cep"  label="cep" mask="99999-999" >
                                    <p:ajax event="keyup" update="btnAbrirCEP"/>
                                    <p:ajax event="blur" listener="#{pacienteMB.ConsultaCEP()}" update="logradouro, cidade, bairro, estado, complemento, tipoLogradouro, btnAbrirCEP" />
                                </p:inputMask>
                            </b:column>
                            <b:column span="2" >
                                <br/>
                                <h:outputText value="CEP" style="visibility: hidden;" />
                                <p:commandButton id="btnAbrirCEP" oncomplete="PF('dlgCEP').show()" icon="consultar" disabled="#{pacienteMB.paciente.cep.length() >= 1}"/>
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Tipo Logradouro" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.tipoLogradouro}" styleClass="form-control" id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="Avenida" itemValue="AVENIDA" />
                                    <f:selectItem itemLabel="Beco" itemValue="BECO" />
                                    <f:selectItem itemLabel="Estrada" itemValue="ESTRADA" />
                                    <f:selectItem itemLabel="Outros" itemValue="OUTROS" />
                                    <f:selectItem itemLabel="Praça" itemValue="PRAÇA" />
                                    <f:selectItem itemLabel="Rua" itemValue="RUA" />
                                    <f:selectItem itemLabel="Travessa" itemValue="TRAVESSA" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="Logradouro" />
                                <p:inputText value="#{pacienteMB.paciente.logradouro}"  styleClass="form-control"   id="logradouro"  label="logradouro"  />
                            </b:column>
                            <b:column span="2">
                                <h:outputText value="Número" />
                                <p:inputText value="#{pacienteMB.paciente.numero}" styleClass="form-control"  id="numero"  label="numero"  />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Bairro" />
                                <p:inputText value="#{pacienteMB.paciente.bairro}" styleClass="form-control"  id="bairro"  label="bairro"  />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Cidade" />
                                <p:inputText value="#{pacienteMB.paciente.cidade}" styleClass="form-control"  id="cidade"  label="cidade"  />
                            </b:column>

                            <b:column span="6">
                                <h:outputText value="Estado" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.uf}" styleClass="form-control" id="estado"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="Acre - AC" itemValue="AC" />
                                    <f:selectItem itemLabel="Alagoas - AL" itemValue="AL" />
                                    <f:selectItem itemLabel="Amapá - AP" itemValue="AP" />
                                    <f:selectItem itemLabel="Amazonas - AM" itemValue="AM" />
                                    <f:selectItem itemLabel="Bahia - BA" itemValue="BA" />
                                    <f:selectItem itemLabel="Ceara - CE" itemValue="CE" />
                                    <f:selectItem itemLabel="Distrito Federal - DF" itemValue="DF" />
                                    <f:selectItem itemLabel="Espirito Santo - ES" itemValue="ES" />
                                    <f:selectItem itemLabel="Goiás - GO" itemValue="GO" />
                                    <f:selectItem itemLabel="Maranhão - MA" itemValue="MA" />
                                    <f:selectItem itemLabel="Mato Grosso - MT" itemValue="MT" />
                                    <f:selectItem itemLabel="Mato Grosso do Sul - MS" itemValue="MS" />
                                    <f:selectItem itemLabel="Minas Gerais - MG" itemValue="MG" />
                                    <f:selectItem itemLabel="Pará - PA" itemValue="PA" />
                                    <f:selectItem itemLabel="Paraíba - PB" itemValue="PB" />
                                    <f:selectItem itemLabel="Paraná - PR" itemValue="PR" />
                                    <f:selectItem itemLabel="Pernambuco - PE" itemValue="PE" />
                                    <f:selectItem itemLabel="Paiauí - PI" itemValue="PI" />
                                    <f:selectItem itemLabel="Rio de Janeiro - RJ" itemValue="RJ" />
                                    <f:selectItem itemLabel="Rio Grande do Norte - RN" itemValue="RN" />
                                    <f:selectItem itemLabel="Rio Grande do Sul - RS" itemValue="RS" />
                                    <f:selectItem itemLabel="Rondônia - RO" itemValue="RO" />
                                    <f:selectItem itemLabel="Roraima - RR" itemValue="RR" />
                                    <f:selectItem itemLabel="Santa Catarina - SC" itemValue="SC" />
                                    <f:selectItem itemLabel="São Paulo - SP" itemValue="SP" />
                                    <f:selectItem itemLabel="Sergipe - SE" itemValue="SE" />
                                    <f:selectItem itemLabel="Tocantins - TO" itemValue="TO" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Complemento" />
                                <p:inputText value="#{pacienteMB.paciente.complemento}" styleClass="form-control"  id="complemento"  label="complemento"  />
                            </b:column>
                        </b:column>
                    </div>
                </div>
                <b:column span="12">
                    <hr/>
                    <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar()}" styleClass="btn btn-primary" ajax="true" update="tblDialogo, :frmInserir:RespOrcto" icon="salvar" validateClient="true">
                        <p:ajax event="click" update="idade" listener="#{pacienteMB.calculaIdade()}" />
                    </p:commandButton>
                    <p:commandButton value="Limpar" styleClass="btn btn-danger" immediate="true" icon="voltar"  >
                        <p:ajax update="@form, tblDialogo" listener="#{pacienteMB.novo()}"  resetValues="true" />
                    </p:commandButton>
                </b:column>
            </h:form>
        </p:dialog>

    </body>
</html>
