<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <h:form id="formCheque" >
            <b:column span="12">
                <b:row>
                    <b:column id="clnMensagem" span="12">
                        <div  class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Informação.</strong> Insira o pagamento.
                        </div>
                    </b:column>
                </b:row>
                <b:row id="rwTipo">
                    <b:column col-xs="6" col-lg="4" col-md="4" >
                        <p:outputLabel value="Forma de Pagamento" for="formaPagamento" indicateRequired="false"/>
                        <p:selectOneMenu value="#{lancamentoAvulsoMB.movimento}" styleClass="form-control" id="formaPagamento">
                            <f:selectItem itemLabel="Cheque"  itemValue="C" />
                            <f:selectItem itemLabel="Dinheiro" itemValue="D" />
                            <f:selectItem itemLabel="Nota Promissória" itemValue="N" />
                            <f:selectItem itemLabel="Cartão - Débito" itemValue="A" />
                            <f:selectItem itemLabel="Cartão - Crédito" itemValue="R" />
                            <p:ajax event="change" update="rwTipo, rwCheque" listener="#{lancamentoAvulsoMB.setarDatas()}"/>
                        </p:selectOneMenu>
                    </b:column>
                    <b:column col-xs="6" col-lg="3" col-md="4" id="clnDtCompensacao" rendered="#{lancamentoAvulsoMB.movimento == 'C'}">
                        <p:outputLabel id="labelVencimentoCompensacao" value="#{lancamentoAvulsoMB.movimento == 'C' ? 'Dt.Compensação' : 'Dt.Recebimento'}" for="dtCompensacaoVencimento" indicateRequired="false"/>
                        <p:calendar id="dtCompensacaoVencimento" value="#{lancamentoAvulsoMB.cheque.dtCompensacaoVencimento}"
                                    mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" showButtonPanel="true" locale="pt"/>
                    </b:column>
                    <b:column col-xs="12" col-lg="3" col-md="4">
                        <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                        <pe:inputNumber id="valor" emptyValue="empty" value="#{lancamentoAvulsoMB.cheque.valor}" symbol="R$ " 
                                        decimalSeparator="." thousandSeparator=","/>
                    </b:column>
                </b:row>
                <b:row id="rwCheque">
                    <b:column col-xs="6" col-lg="4" col-md="4" id="clnNumeroCheque" rendered="#{lancamentoAvulsoMB.movimento == 'C'}">
                        <p:outputLabel value="Nº Cheque" for="numeroCheque" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                        <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" required="#{lancamentoAvulsoMB.movimento == 'C'}" 
                                     requiredMessage="O nº cheque não foi informado." value="#{lancamentoAvulsoMB.cheque.numeroCheque}"/>
                    </b:column>
                    <b:column col-xs="6" col-lg="6" col-md="4" id="clnBanco" rendered="#{lancamentoAvulsoMB.movimento == 'C'}">
                        <p:outputLabel value="Banco" for="cmbBanco" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                        <h:panelGrid columns="2" style="width: 100% !important; ">
                            <p:selectOneMenu id="cmbBanco" value="#{lancamentoAvulsoMB.banco.idBanco}" style="text-transform: capitalize" 
                                             styleClass="form-control">
                                <f:selectItem itemLabel="Selecione o banco " itemValue=""  />
                                <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                               itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </b:column>
                    <b:column col-xs="6" col-lg="2" col-md="4" id="clnConta" rendered="#{lancamentoAvulsoMB.movimento == 'C'}">
                        <p:outputLabel value="Conta Bancária" for="Conta" indicateRequired="false"/>
                        <p:inputText  styleClass="form-control" id="Conta" label="Conta" value="#{lancamentoAvulsoMB.cheque.conta}"/>
                    </b:column> 

                    
                    <b:column col-xs="6" col-lg="4" col-md="6">
                        <p:outputLabel for="TxtCPF" id="CPF" value="CPF"
                                       rendered="#{lancamentoAvulsoMB.movimento == 'C'}"/>
                        <p:inputMask id="TxtCPF" rendered="#{lancamentoAvulsoMB.movimento == 'C'}" styleClass="form-control"
                                     value="#{lancamentoAvulsoMB.cheque.cpf}" mask="#{'999.999.999-99'}" required="#{lancamentoAvulsoMB.movimento == 'C'}" requiredMessage="O Nº do CPF é necessário.">
                        </p:inputMask>
                    </b:column>
                    <b:column col-xs="12" col-lg="8" col-md="6" id="clnEmitente" rendered="#{lancamentoAvulsoMB.movimento == 'C'}" >
                        <p:outputLabel for="TxtEmitente" id="emitente" value="Emitente"/>
                        <h:panelGrid columns="2" style="width: 100% !important;">
                            <p:inputText value="#{lancamentoAvulsoMB.cheque.emitente}" 
                                         style="text-transform: capitalize; font-size: 10px" id="TxtEmitente" styleClass="form-control"/>
                        </h:panelGrid>
                    </b:column>
                    <b:column col-xs="12" col-lg="12" col-md="12" col-sm="12">
                        <h:outputText value="Observação" />
                        <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{lancamentoAvulsoMB.cheque.observacao}" />
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="12">
                        <hr/>                                                   
                        <h:panelGrid columns="4">
                            <p:commandButton id="incluir" value="Pagar" icon="check16" styleClass="btn" oncomplete=""
                                             action="#{lancamentoAvulsoMB.salvarPagamento()}"
                                             update=":msg" />
                            <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                <f:facet name="start">
                                    <h:panelGrid columns="2">
                                        <img src="Recursos/img/launch_loading.gif" />   
                                    </h:panelGrid>
                                </f:facet>
                            </p:ajaxStatus>
                        </h:panelGrid> 
                    </b:column>
                </b:row>
            </b:column>
        </h:form>
    </body>
</html>
