.ui-icon.consultar{
    background-image: url(../icons/pesquisar.png);
    margin-right: 4px;
}
.ui-icon.pesquisar{
    background-image: url(../icons/new_pesquisar.png);
    margin-right: 4px;
}
.ui-icon.confirmar{
    background-image: url(../icons/Confirm.png);
    margin-right: 4px;
}
.ui-icon.cancelar{
    background-image: url(../icons/Cancel.png);
    margin-right: 4px;
}
.ui-icon.calendario{
    background-image: url(../icons/calendario.png);
    margin-right: 4px;
}
.ui-icon.deletar{
    background-image: url(../icons/Delete.png);
    margin-right: 4px;
}
.ui-icon.editar{
    background-image: url(../icons/Edit.png);
    margin-right: 4px;
}
.ui-icon.informacao{
    background-image: url(../icons/Info.png);
    margin-right: 4px;
}
.ui-icon.salvar{
    background-image: url(../icons/floppy.png);
    margin-right: 4px;
}
.ui-icon.voltar{
    background-image: url(../icons/Voltar.png);
    margin-right: 4px;
}

.ui-icon.limpar{
    background-image: url(../icons/clean.png);
    margin-right: 4px;
}

.ui-icon.novo{
    background-image: url(../icons/novo.png);
    margin-right: 4px;
}
.ui-icon.clear{
    background-image: url(../icons/clear.png);
    margin-right: 4px;
}
.ui-icon.add{
    background-image: url(../icons/add.png);
    margin-right: 4px;
}
.ui-icon.selecionar{
    background-image: url(../icons/selecionar.png);
    margin-right: 4px;
}


.ui-icon.check16{
    background-image: url(../icons/check2.png);
    margin-right: 4px;
}
.ui-icon.cancel16{
    background-image: url(../icons/Delete.png);
    margin-right: 4px;
}
.ui-icon.imprimir{
    background-image: url(../icons/printer.png);
    margin-right: 4px;
}
.ui-icon.copiar{
    background-image: url(../icons/Copiar.png);
    margin-right: 4px;
}
.ui-icon.info{
    background-image: url(../icons/Info.png);
    margin-right: 4px;
}
.ui-icon.excluir{
    background-image: url(../icons/Delete.png);
    margin-right: 4px;
}
.ui-icon.retorno{
    background-image: url(../icons/Delete.png);
    margin-right: 4px;
}
.ui-icon.processar{
    background-image: url(../icons/processar.png);
    margin-right: 4px;
}
.ui-icon.refresh {
    background-image: url(../icons/refresh.png);
    margin-right: 4px;
}
.ui-icon.close{
    background-image: url(../icons/box39.png);
    margin-right: 4px;
}
.ui-icon.open{
    background-image: url(../icons/box81.png);
    margin-right: 4px;
}
.ui-icon.lock{
    background-image: url(../icons/locked10.png);
    margin-right: 4px;
}
.ui-icon.unlock{
    background-image: url(../icons/unlocked17.png);
    margin-right: 4px;
}
.ui-icon.calcular{
    background-image: url(../icons/calculator.png);
    margin-right: 4px;
}

.ui-icon.pagamento{
    background-image: url(../icons/Pagamento.png);
    margin-right: 4px;
}

.ui-icon.transferencia{
    background-image: url(../icons/transferencia.png);
    margin-right: 4px;
}

.ui-icon.check2{
    background-image: url(../icons/check.png);
    margin-right: 4px;
}

.ui-icon.cancelar2{
    background-image: url(../icons/xis.png);
    margin-right: 4px;
}
.ui-icon.calcula{
    background-image: url(../icons/calculadora.png);
    margin-right: 4px;
}
.ui-icon.troca{
    background-image: url(../icons/troca.png);
    margin-right: 4px;
}
.ui-icon.adicionar{
    background-image: url(../icons/add_3.png);
    margin-right: 4px;
}

.ui-icon.email{
    background-image: url(../icons/message.png);
    margin-right: 4px;
}

.ui-icon.voltar{
    background-image: url(../icons/novos/voltar.png);
    margin-right: 4px;
}
.ui-icon.vincular{
    background-image: url(../icons/vincular.png);
    margin-right: 4px;
}
.ui-icon.menos{
    background-image: url(../icons/menos.png);
    margin-right: 4px;
}
