<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <script>
            function urlSite(){
                            
                var url = window.location;
                url = url.toString();
                //alert(url.contains('formOrcamento'));
                if(url.contains('formOrcamento')){
                    return false;
                }else{
                    return true;
                }
          
            }                                                
        </script>
        <h:form  id="frmConsultarPacientePesquisa">
            <p:dataTable id="dtlConsultarPaciente" value="#{pacienteMB.model}" sortBy="#{varPaciente.nome}"
                         lazy="true" var="varPaciente" widgetVar="wvarPaciente" paginator="true" rows="5">
                <f:facet name="header">
                    <style>
                        .coluna1{
                            width: 20%;
                        }
                        .coluna2{
                            width: 80%;
                        }
                    </style>
                </f:facet>
                <p:column width="15%" >
                    <p:commandButton icon="selecionar" value="Selecionar" actionListener="#{cirurgiaMB.selecionarPacientePesquisa(varPaciente)}" 
                                     update=":frmConsultar:paciente" oncomplete="PF('dlgConsultarPaciente').hide();"/>
                </p:column>
                <p:column headerText="Código" width="8%">
                    <center>
                    <h:outputText value="#{varPaciente.idPaciente} " style="text-align: center" />
                    </center>
                </p:column>
                <p:column headerText="Nome" filterBy="#{varPaciente.nome}" filterMatchMode="contains" sortBy="#{varPaciente.nome}" width="30%">
                    <h:outputText value="#{varPaciente.nome}"  />
                </p:column>
                <p:column headerText="CPF" filterBy="#{varPaciente.cpf}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.cpf}"  />
                </p:column>
                <p:column headerText="Nome da Mãe" filterBy="#{varPaciente.nomeMae}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.nomeMae}"  />
                </p:column>
                <p:column headerText="Telefone" filterBy="#{varPaciente.telefone}" filterMatchMode="contains" >
                    <f:facet name="filter">
                        <p:inputMask
                            styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                            onchange="PF('wvarPaciente').filter()"
                            onselect="PF('wvarPaciente').filter()"
                            onblur="PF('wvarPaciente').filter()"
                            onkeypress="PF('wvarPaciente').filter()"
                            mask="(99) 9999-9999"
                            />
                    </f:facet>
                    <h:outputText value="#{varPaciente.telefone}"  />
                </p:column>
            </p:dataTable>
        </h:form>
    </body>
</html>
