<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <h:form id="tblPrincipal" rendered="#{sessaoMB.usuario.idPapel.novoterceiro}">
            <p:focus context="tblPrincipal" />
            <br/>
            <b:row>
                <div id="DadosBasicos" class="tab-pane fade in active">
                    <b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
                        <b:row>
                            <b:column col-xs="6" col-sm="6" col-md="6" col-lg="4">
                                <bcr:outputrequired value="Tipo" />                              
                                <p:selectOneMenu id="tipoPes" styleClass="form-control" value="#{terceiroMB.terceiro.tipoPessoa}"  required="true" requiredMessage="Tipo de Pessoa é obrigatório!">
                                    <f:selectItem itemLabel="Física" itemValue="F"/>
                                    <f:selectItem itemLabel="Jurídica" itemValue="J"/>
                                    <p:ajax update="tblPrincipal"/>
                                </p:selectOneMenu>
                            </b:column>
                            <b:column col-xs="12" col-sm="12" col-md="12" col-lg="8" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                <bcr:outputrequired value="Nome"  rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />  
                                <p:inputText  styleClass="form-control" onkeyup="up(this);" required="true" id="nome"  label="Nome" requiredMessage="Nome é obrigatório" value="#{terceiroMB.terceiro.nome}" onblur="capitaliseFirstLetter(this.value, this.id)" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                            </b:column>

                            <b:column col-xs="6" col-sm="6" col-md="6" col-lg="2" rendered="false">
                                <h:outputText value="Hospitalar?" />
                                <br/>
                                <p:selectBooleanButton style="height: 34px !important" value="#{terceiroMB.terceiro.terceiroMedHosp}" onLabel="Sim" offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" styleClass="btn btn-primary" />
                            </b:column>   
                            <b:column col-xs="6" col-sm="6" col-md="6" col-lg="8" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}">
                                <bcr:outputrequired value="Nome Fantasia" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                <p:inputText  styleClass="form-control" onkeyup="up(this);" required="true" id="nomeFan"  label="Nome Fantasia" requiredMessage="Nome fantasia é obrigatório" value="#{terceiroMB.terceiro.nomeFantasia}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" onblur="capitaliseFirstLetter(this.value, this.id)"/>
                            </b:column>
                            <b:column col-xs="12" col-sm="12" col-md="6" col-lg="4" >                                                
                                <bcr:outputrequired  value="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'}"  />
                                <p:inputMask required="true" styleClass="form-control" id="cnpj" mask="#{terceiroMB.terceiro.tipoPessoa == 'J'? '99.999.999/9999-99' : '999.999.999-99'}"  
                                             value="#{terceiroMB.terceiro.cgccpf}" size="24" requiredMessage="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'} é obrigatório">
                                    <f:attribute name="param" value="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'}"/>
                                    <f:attribute name="paramID" value="#{terceiroMB.terceiro.idTerceiro}"/>
                                    <f:validator validatorId="cpfcnpjExistValidation" />
                                    <p:ajax  event="blur" update=":msgBar" listener="#{terceiroMB.verificaCPFCNPJ()}"/>
                                </p:inputMask>
                            </b:column>
                            <b:column col-xs="6" col-sm="6" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                <bcr:outputrequired value="Especialidade" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />  
                                <h:panelGrid columns="3" style="width: 100% !important;">
                                    <p:selectOneMenu required="true" requiredMessage="Especialidade é obrgatório" id="selectEspecialidade" 
                                                     styleClass="form-control" value="#{terceiroMB.especialidade.idEspecialidade}" 
                                                     filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                        <f:selectItem itemLabel="Selecione" itemValue=""/>
                                        <f:selectItems value="#{terceiroMB.listaEspecialidades()}" var="esp"
                                                       itemLabel="#{esp.descricao}" itemValue="#{esp.idEspecialidade}" >
                                        </f:selectItems>
                                    </p:selectOneMenu>
                                    <p:commandButton style="height: 34px !important" immediate="true" update=":formCadastroEspecialidade" action="#{especialidadeMB.novo()}" icon="add" styleClass="btn btn-input"
                                                     oncomplete="PF('dlgCadastrarEspecialidade').show()" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                </h:panelGrid>
                            </b:column>
                            
                            <b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
                                <h:outputText value="Inativo?" /><br/>
                                <p:selectBooleanCheckbox id="inativo" value="#{terceiroMB.terceiro.inativo}"  />
                                <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                            </b:column>
                            <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                <h:outputText value="Sexo" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                <p:selectOneMenu value="#{terceiroMB.terceiro.sexo}" styleClass="form-control"  filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="Masculino" itemValue="M" />
                                    <f:selectItem itemLabel="Feminino" itemValue="F" />
                                </p:selectOneMenu>
                            </b:column>


                            <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4">
                                <h:outputText value="Celular" />
                                <p:inputMask value="#{terceiroMB.terceiro.celular}"  styleClass="form-control" 
                                             id="celular" mask="(99) 99999999?9" >
                                </p:inputMask>
                            </b:column>
                            <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4">
                                <bcr:outputrequired value="Telefone" />
                                <p:inputMask value="#{terceiroMB.terceiro.telefone}"  styleClass="form-control" required="true" id="telefone" 
                                             label="Telefone"  requiredMessage="Telefone é obrigatório" mask="(99) 99999999?9" >
                                </p:inputMask>
                            </b:column>

                        </b:row>
                        <b:row>
                            <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                <bcr:outputrequired value="Tipo Conselho" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                <p:selectOneMenu required="true" value="#{terceiroMB.terceiro.tipoConselho}" requiredMessage="Tipo Conselho é obrigatório" 
                                                 styleClass="form-control"  filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="CRM" itemValue="CRM" />
                                    <f:selectItem itemLabel="COREN" itemValue="COREN" />
                                    <f:selectItem itemLabel="CREFITO" itemValue="CREFITO" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column col-xs="12" col-sm="12" col-md="6" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                <bcr:outputrequired value="Número Conselho" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                <p:inputText  required="true" requiredMessage="Número Conselho é obrigatório" styleClass="form-control"  id="descCons" 
                                              value="#{terceiroMB.terceiro.numeroConselho}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                            </b:column>

                            <b:column col-xs="6" col-sm="6" col-md="2" col-lg="2" rendered="false">
                                <h:outputText value="IE " rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                <p:inputText  styleClass="form-control"  id="ie"  label="Nome" onblur="if (this.value == ''){this.value='ISENTO'}" value="#{terceiroMB.terceiro.ie}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                            </b:column>


                            <b:column col-xs="6" col-sm="4" col-md="4" col-lg="3" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                <h:outputText value="RG" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                <p:inputText value="#{terceiroMB.terceiro.rg}" styleClass="form-control"  id="rg" label="RG" 
                                             rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"  />
                            </b:column>
                        </b:row>


                    </b:column>
                </div>
                <b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
                    <hr/>
                    <p:commandButton value="Salvar" id="salvar" action="#{terceiroMB.salvar()}" styleClass="btn" ajax="true" 
                                     update=":tblPrincipal, :frmConsultarTerceiro, :msgBar" icon="salvar" validateClient="true"/>
                    <p:blockUI block="tblPrincipal"  trigger="salvar" >
                        Salvando<br />
                        <p:graphicImage value="Recursos/img/loading.gif" />
                    </p:blockUI>
                    <p:commandButton  value="Limpar" styleClass="btn"  icon="limpar" immediate="true"  >
                        <p:ajax update="@form" listener="#{terceiroMB.novo()}"  resetValues="true" />
                    </p:commandButton>
                </b:column>
            </b:row>
        </h:form>
        <p:dialog widgetVar="dlgCadastrarEspecialidade" header="Cadastro de Especialidade" resizable="false"  width="50%" closeOnEscape="true" >
            <h:form id="formCadastroEspecialidade">
                <b:column span="6">
                    <b:column span="12">
                        <h:outputText value="Descrição *" />
                        <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" 
                                      value="#{especialidadeMB.especialidade.descricao}" />
                    </b:column>
                </b:column>
                <b:column span="12">
                    <hr/>
                    <p:commandButton value="Salvar" id="salvar" onclick="#{especialidadeMB.novo()}" action="#{especialidadeMB.salvar()}" 
                                     styleClass="btn btn-primary" update=":msg, :tblPrincipal:selectEspecialidade" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgCadastrarEspecialidade').hide();"/>
                </b:column>
            </h:form>

        </p:dialog>
    </body>
</html>
