<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <script >
            function urlSite(){
                            
                var url = window.location;
                url = url.toString();
                //alert(url.contains('formOrcamento'));
                if(url.contains('formOrcamento')){
                    return false;
                }else{
                    return true;
                }
          
            }
                                                
        </script>
        <h:form  id="frmConsultarPaciente">
            <p:dataTable id="dtlConsultarPaciente" value="#{pacienteMB.model}" sortBy="#{varPaciente.nome}"
                         lazy="true" var="varPaciente" widgetVar="wvarPaciente" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="10,15,25,50,100,200">
                <f:facet name="header">
                    <style>
                        .coluna1{
                            width: 20%;
                        }
                        .coluna2{
                            width: 80%;
                        }
                    </style>

                    <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                        <p:commandButton value="Novo Paciente" icon="add"  styleClass="btn" 
                                         immediate="true" action="#{pacienteMB.novo()}" update=":frmCadastroPaciente" 
                                         onclick="PF('dlgCadastrarPaciente').show()" >
                            <f:param id="pacienteNaoCadastrado" name="pacienteNaoCadastrado" value="#{orcamentoMB.orcamento.pacienteNaoCadastradado}"/>
                        </p:commandButton>

                    </h:panelGrid>
                </f:facet>
                <p:column width="18%" >
                    <p:commandButton icon="selecionar" value="selecionar" actionListener="#{orcamentoMB.selecionarPaciente(varPaciente)}" title="Selecionar"
                                     update=":frmInserir:itemtoadd, :frmInserir:rwPaciente" oncomplete="PF('dlgConsultarPaciente').hide();$(function(){PrimeFaces.focus('frmInserir:medico');});"/>
                    &nbsp;
                    <p:commandButton icon="editar" title="Editar" value="editar"
                                     action="#{pacienteMB.selecionarPorID(varPaciente.idPaciente)}"  rendered="#{sessaoMB.usuario.idPapel.editarpaciente}"                                                               
                                     update=":frmCadastroPaciente" 
                                     oncomplete="PF('dlgCadastrarPaciente').show();" >                        
                    </p:commandButton>
                </p:column>
                <p:column headerText="ID" filterBy="#{varPaciente.idPaciente}" filterMatchMode="contains" width="5%">
                    <h:outputText value="#{varPaciente.idPaciente} "  />
                </p:column>
                <p:column headerText="Nome" filterBy="#{varPaciente.nome}" sortBy="#{varPaciente.nome}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.nome}"  />
                </p:column>
                <p:column headerText="Data Nasc." width="10%" sortBy="#{varPaciente.dtNascimento}">
                    <center>
                        <h:outputText value="#{varPaciente.dtNascimento}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </center>
                </p:column>
                <p:column headerText="CPF" filterBy="#{varPaciente.cpf}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.cpf}"  />
                </p:column>
                <p:column headerText="Nome da Mãe" filterBy="#{varPaciente.nomeMae}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.nomeMae}"  />
                </p:column>
                <p:column headerText="Telefone" filterBy="#{varPaciente.telefone}" filterMatchMode="contains" width="10%">
                    <f:facet name="filter">
                        <p:inputMask
                            styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                            onchange="PF('wvarPaciente').filter()"
                            onselect="PF('wvarPaciente').filter()"
                            onblur="PF('wvarPaciente').filter()"
                            onkeypress="PF('wvarPaciente').filter()"
                            mask="(99) 999999999"
                            />
                    </f:facet>
                    <h:outputText value="#{varPaciente.telefone}"  />
                </p:column>
                <p:column headerText="Celular" filterBy="#{varPaciente.telefoneCelular}" width="10%" filterMatchMode="contains" >
                    <f:facet name="filter">
                        <p:inputMask
                            styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                            onchange="PF('wvarPaciente').filter()"
                            onselect="PF('wvarPaciente').filter()"
                            onblur="PF('wvarPaciente').filter()"
                            onkeypress="PF('wvarPaciente').filter()"
                            mask="(99) 999999999"
                            />
                    </f:facet>
                    <h:outputText value="#{varPaciente.telefoneCelular}"  />
                </p:column>
            </p:dataTable>
        </h:form>


    </body>
</html>
