<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form id="frmConsultarProcedimentos">
            <p:dataTable id="tblConsultaProc" value="#{orcamentoMB.modelProcedimento}" sortBy="#{varProc.descricao}"
                         var="varProc" lazy="true" widgetVar="wvarProc" paginator="true" rows="5">
                <f:facet name="header">
                    <p:commandButton title="Todos os procedimentos" value="Todos os procedimentos" icon="refresh" styleClass="btn"
                                     action="#{orcamentoMB.setProcedimento(null)}" update=":frmInserir, :frmConsultar" 
                                     oncomplete="PF('dlgConsultarProcedimentos').hide();" />
                </f:facet>
                <p:column width="15%">
                    <p:commandButton value="Selecionar" icon="selecionar"  actionListener="#{orcamentoMB.selecionarProcedimento(varProc)}" 
                                     oncomplete="PF('dlgConsultarProcedimentos').hide()" update=":frmInserir, :frmConsultar" />
                </p:column>
                <p:column headerText="Descrição" filterBy="#{varProc.descricao}" sortBy="#{varProc.descricao}">
                    <h:outputText value="#{varProc.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
