<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form  id="frmConsultarFormasPagamento">
            <p:dataTable value="#{formaPagamentoMB.model}" lazy="true" var="varPagto" widgetVar="wvarPagto" paginator="true" rows="10">
                <f:facet name="header">
                    <h:panelGrid columns="2" columnClasses="coluna1, coluna2">
                    </h:panelGrid>
                </f:facet>
                <p:column >
                    <p:commandButton value="Selecionar" icon="selecionar" actionListener="#{orcamentoMB.selecionarFormaDePagamento(varPagto)}" update=":frmInserir:formaField" oncomplete="PF('dlgConsultarFormas').hide()"/>
                </p:column>
                <p:column headerText="Código" filterBy="#{varPagto.idForma}" filterMatchMode="contains" width="5%">
                    <h:outputText value="#{varPagto.idForma}"  />
                </p:column>
                <p:column headerText="Nome" filterBy="#{varPagto.descricao}" filterMatchMode="contains">
                    <h:outputText value="#{varPagto.descricao}"  />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
