<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <script >
            function urlSite(){
                            
                var url = window.location;
                url = url.toString();
                //alert(url.contains('formOrcamento'));
                if(url.contains('formOrcamento')){
                    return false;
                }else{
                    return true;
                }
          
            }
                                                
        </script>
        <h:form  id="frmConsultarPaciente">
            <p:dataTable id="dtlConsultarPaciente" value="#{pacienteMB.listaPacientes}" var="varPaciente" 
                         widgetVar="wvarPaciente" paginator="true" rows="10" sortBy="#{varPaciente.nome}">
                <f:facet name="header">
                    <style>
                        .coluna1{
                            width: 20%;
                        }
                        .coluna2{
                            width: 80%;
                        }
                    </style>

                    <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                        <p:commandButton value="Novo Paciente" styleClass="btn" icon="add" immediate="true" action="#{pacienteMB.novo()}" update=":frmCadastroPaciente" onclick="PF('dlgCadastrarPaciente').show()" />
                        <p:inputText id="globalFilter"  onkeyup="PF('wvarPaciente').filter()" onkeypress="#{pacienteMB.carregarPacientes()}" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control">
                            <p:ajax update="dtlConsultarPaciente" />
                        </p:inputText>
                    </h:panelGrid>
                </f:facet>
                <p:column width="10%">
                    <p:commandButton  icon="selecionar" value="Selecionar" actionListener="#{orcamentoMB.selecionarPaciente(var.paciente)}" update=":frmInserir:pacienteField" oncomplete="PF('dlgConsultarPaciente').hide()"/>
                </p:column>
                <p:column headerText="ID" filterBy="#{varPaciente.idPaciente}" filterMatchMode="contains" width="5%">
                    <h:outputText value="#{varPaciente.idPaciente} "  />
                </p:column>
                <p:column headerText="Nome" filterBy="#{varPaciente.nome}" sortBy="#{varPaciente.nome}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.nome}"  />
                </p:column>
                <p:column headerText="Data Nasc." filterBy="#{varPaciente.dtNascimento}" sortBy="#{varPaciente.dtNascimento}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.dtNascimento}"  />
                </p:column>
                <p:column headerText="CPF" filterBy="#{varPaciente.cpf}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.cpf}"  />
                </p:column>
                <p:column headerText="RG" filterBy="#{varPaciente.rg}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.rg}"  />
                </p:column>
                <p:column headerText="Telefone" filterBy="#{varPaciente.telefone}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.telefone}"  />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
