<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <h:form id="frmUnidadeAtendimento">
            <b:column span="8">
                <bcr:outputrequired value="Descrição " />
                <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo Descrição é obrigatório." value="#{unidadeAtendimentoMB.unidadeAtendimento.descricao}" />
            </b:column>
            <b:column span="6">
                <p:messages id="msgsUnidadeAtendimento" />
            </b:column>
            <b:column span="12">
                <hr/>
                <p:commandButton value="Salvar" id="salvar" styleClass="btn" action="#{unidadeAtendimentoMB.salvar()}"  ajax="true" update=":frmInserir:slcUnidadeAtendimento, :msg, msgsUnidadeAtendimento" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgUnidadeAtendimento').hide();"/>
            </b:column>
        </h:form>
    </body>
</html>
