<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <h:form  id="frmConsultarTerceiro">
            <p:dataTable value="#{orcamentoMB.listaTerceirosACarregar}" 
                         var="varTerceiros" widgetVar="wvarTerceiros" paginator="true" rows="5" sortBy="#{varTerceiros.nome}">
                <f:facet name="header">
                    <h:panelGrid columns="2" columnClasses="coluna1, coluna2">
                        <p:commandButton value="Novo Terceiro" immediate="true"  styleClass="btn"  onclick="PF('dlgCadastrarTerceiro').show()" action="#{terceiroMB.novo()}"
                                         update=":tblPrincipal" icon="add" />
                    </h:panelGrid>
                </f:facet>
                <p:column width="13%" >
                    <p:commandButton value="Selecionar" icon="selecionar"  actionListener="#{orcamentoMB.selecionaTerceiroResponsavel(varTerceiros)}" oncomplete="PF('dlgConsultarTerceiros').hide()"/>
                </p:column>
                <p:column headerText="Código" filterBy="#{varTerceiros.idTerceiro}" filterMatchMode="contains" width="5%">
                    <center>
                        <h:outputText value="#{varTerceiros.idTerceiro}"  />
                    </center>
                </p:column>
                <p:column headerText="Nome" width="50%" filterBy="#{varTerceiros.tipoPessoa == 'J'? varTerceiros.nomeFantasia : varTerceiros.nome}" 
                          filterMatchMode="contains" sortBy="#{varTerceiros.nome}">
                    <h:outputText value="#{varTerceiros.tipoPessoa=='J'?varTerceiros.nomeFantasia:varTerceiros.nome}"  />
                </p:column>
                <p:column headerText="CPF/CNPJ" filterBy="#{varTerceiros.cgccpf}" filterMatchMode="contains">
                    <h:outputText value="#{varTerceiros.cgccpf}"  />
                </p:column>
                <p:column headerText="Especialidade" filterBy="#{varTerceiros.idEspecialidade.descricao}" filterMatchMode="contains">
                    <h:outputText value="#{varTerceiros.idEspecialidade.descricao}"  />
                </p:column>
                <p:column headerText="Telefone" filterBy="#{varTerceiros.telefone}" rendered="false" filterMatchMode="contains">
                    <f:facet name="filter">
                        <p:inputMask
                            styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                            onchange="PF('wvarTerceiros').filter()"
                            onselect="PF('wvarTerceiros').filter()"
                            onblur="PF('wvarTerceiros').filter()"
                            onkeypress="PF('wvarTerceiros').filter()"
                            mask="(99)9999-9999"
                            />
                    </f:facet>
                    <h:outputText value="#{varTerceiros.telefone}"  />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
