<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >
        <h:form id="frmInfoOrcto" >    
            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Orçamento" value="#{orcamentoMB.orcamento.idOrcamento}" />
                </b:column>
                <b:column span="4">
                    <bcr:outputInfo label="Convênio" value="#{orcamentoMB.orcamento.idConvenio.descricao}" />
                </b:column>
                <b:column span="4">
                    <bcr:outputInfoDate label="Lançado" value="#{orcamentoMB.orcamento.dtOrcamento}" />
                </b:column>
            </div>

            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Paciente" value="#{orcamentoMB.orcamento.idPaciente.nome == null ? orcamentoMB.orcamento.pacienteNaoCadastradado : orcamentoMB.orcamento.idPaciente.nome}" /> 
                    - DT.NASC: 
                    <h:outputText style="font-size: 14px;" value="#{orcamentoMB.orcamento.dtNascimento}" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                </b:column>
                <b:column span="4">
                    <bcr:outputInfo label="Telefone" value="#{orcamentoMB.orcamento.idPaciente.nome == null ? orcamentoMB.orcamento.telefone : orcamentoMB.orcamento.idPaciente.telefone}" /> 
                </b:column>
                <b:column span="4">
                    <bcr:outputInfoDate label="Validade" value="#{orcamentoMB.orcamento.dtValidade}" />
                </b:column>
            </div>

            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Médico" value="#{orcamentoMB.orcamento.idTerceiro.nome}" /> 
                </b:column>
                <b:column span="4">
                    <h:outputText value="Status: " style="font-weight: bolder; font-size: 14px; color: #999999;"/>
                    <h:outputText value="#{orcamentoMB.orcamento.idStatus.descricao}" styleClass="label #{orcamentoMB.orcamento.idStatus.fixo == 1 or  orcamentoMB.orcamento.idStatus.fixo == null ? 'label-default' : orcamentoMB.orcamento.idStatus.fixo == 2 ? 'label-primary' :  orcamentoMB.orcamento.idStatus.fixo == 3 or  orcamentoMB.orcamento.idStatus.fixo == 5 ? 'label-danger' : 'label-success' }"/>
                    <bcr:outputInfo label="Status" value="#{orcamentoMB.orcamento.idStatus.descricao}" rendered="false"/> 
                </b:column>
                <b:column span="2">
                    <bcr:outputInfoDate label="Previsão" value="#{orcamentoMB.orcamento.dtPrevisao}" />
                </b:column>

            </div>
            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Procedimento" value="#{orcamentoMB.orcamento.idProcedimento.descricao}" />
                </b:column>
                <b:column span="4">
                    <bcr:outputInfoMoney label="Total" value="#{orcamentoMB.orcamento.valor}" />
                </b:column>
                <!--Muita data-->
                <b:column span="2">
                    <bcr:outputInfoDate rendered="false" label="Liberação" value="#{orcamentoMB.orcamento.cirurgiaList.size()>0 ? orcamentoMB.orcamento.cirurgiaList.get(0).dtCirurgia : ''}" />
                </b:column>
                <b:column span="4" >
                    <bcr:outputInfoDate label="Internação" value="#{orcamentoMB.pegaDtInternacao(orcamentoMB.orcamento.cirurgiaList)}">
                    </bcr:outputInfoDate>
                </b:column>
                <b:column span="4" >
                    <bcr:outputInfo label="Parciais" value="#{orcamentoMB.orcamento.cirurgiaList.size()}">
                    </bcr:outputInfo>
                </b:column>                 
                <b:column span="4" >
                    <bcr:outputInfoDate label="Fechamento" value="#{orcamentoMB.pegaDtFinalizacao(orcamentoMB.orcamento.cirurgiaList)}">
                    </bcr:outputInfoDate>
                </b:column> 
                <b:column span="4"></b:column>
                <b:column span="4">
                    <bcr:outputInfo label="Cancelado" value="#{orcamentoMB.orcamento.idUsuarioCancelamento.usuario} " />
                    <h:outputText value="#{orcamentoMB.orcamento.dtCancelamento}" rendered="#{orcamentoMB.orcamento.idStatus.fixo == 5 or orcamentoMB.orcamento.situacao == 'Cancelado'}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </b:column>
            </div>
            <div class="row">
                <b:column span="4" >
                    <bcr:outputInfo label="Lançamento" value="#{orcamentoMB.orcamento.idUsuarioCriacao.usuario}" />
                </b:column>                
                <b:column span="4">
                    <bcr:outputInfo label="Adiantamento" value="#{orcamentoMB.orcamento.idUsuarioAdiantamento.usuario} em " />
                    <h:outputText value="#{orcamentoMB.orcamento.dtAdiantamento}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </b:column>
                <b:column span="4" >
                    <bcr:outputInfo label="Última alteração" value="#{orcamentoMB.orcamento.idUsuarioUltimaAlteracao.usuario} em " />
                    <h:outputText value="#{orcamentoMB.orcamento.dtModificacao}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:MM"/>
                    </h:outputText>
                </b:column>


            </div>
            <div class="row">
                <b:column span="12">
                    <h:panelGroup rendered="#{orcamentoMB.orcamento.subMotivo != null}">
                        <h:outputText style="font-weight: bolder; font-size: 14px; color: #999999;" value="Motivo: " />
                        <h:outputText style="font-size: 16px; font-weight: bolder;" value="#{orcamentoMB.orcamento.subMotivo}" />
                        <br/>
                    </h:panelGroup>
                    <h:outputText style="font-weight: bolder; font-size: 14px; color: #999999;" value="Observação: " />
                    <h:outputText style="font-size: 16px; font-weight: bolder;" value="#{orcamentoMB.orcamento.observacao}" />
                </b:column>
            </div>

            <div class="row">
                <b:column span="12">
                    <hr/>
                    <b:column span="12">
                        
                        <center> <strong><h3 style="font-weight: bolder; text-decoration: underline ">Adiantamento</h3></strong></center>
                    </b:column>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="20%">Tipo de Pagamento</th>
                                <th width="15%">Nº Cheque</th>
                                <th width="10%">Status</th>
                                <th width="20%"><center>Valor (R$)</center></th>
                                <th width="30%">Observações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat value="#{orcamentoMB.listaAdiantamentos}"  var="adc">
                                <tr>
                                    <td>#{adc.tipo == 'D' ? 'Dinheiro' : adc.tipo == 'C' ? 'Cheque' : adc.tipo == 'N' ? 'Nota Promissória' : adc.tipo == 'E' ? 'Depósito Bancário' : adc.tipo == 'B' ? 'Boleto Bancário' : adc.tipo == 'S' ? 'Sem Adiantamento' : 'Cartão'}</td>
                                    <td>#{adc.numeroCheque}</td>
                                    <td style="color: #{adc.status == 'L' ? 'green' : 'blue'}">#{adc.status == 'L' ? 'Lançado.' : 'Pago.' }</td>
                                    <td align="center">
                                        <h:outputText style="color : #0081FF; font-weight: bolder;" value="#{adc.valor}">
                                            <f:convertNumber minFractionDigits="2" />
                                        </h:outputText>
                                    </td>
                                    <td>#{adc.observacao}</td>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>
                    <hr/>
                    <b:column span="12">
                        <center> <strong><h4 style="font-weight: bolder; text-decoration: underline ">Itens do Orçamento</h4></strong></center>
                    </b:column>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serviço</th>
                                <th>Qtde</th>
                                <th>Vlr Unitário.</th>
                                <th>Vlr Total</th>
                                <th>Obs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat value="#{orcamentoMB.itens}" var="itns">
                                <tr>
                                    <td>#{itns.idServico.descricao}</td>
                                    <td>#{itns.quantidade}</td>
                                    <td>
                                        <h:outputText value="#{itns.valorUnitario}">
                                            <f:convertNumber minFractionDigits="2" />
                                        </h:outputText>
                                    </td>
                                    <td>
                                        <h:outputText value="#{itns.valorTotal}">
                                            <f:convertNumber minFractionDigits="2" />
                                        </h:outputText>
                                    </td>
                                    <td>#{itns.observacao}</td>
                                </tr>
                            </ui:repeat>
                            <tr>
                                <td></td> 
                                <td></td> 
                                <td><strong>Totais: </strong></td> 
                                <td>
                                    <strong>
                                        <h:outputText style="color: green" value="#{orcamentoMB.orcamento.valor}">
                                            <f:convertNumber minFractionDigits="2" />
                                        </h:outputText>
                                    </strong> 
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                </b:column>
                <div class="col-md-4">
                    Envio do email orçamento OPME: 
                    <h:outputText value="#{orcamentoMB.orcamento.dtEnvioEmail}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                    </h:outputText><br/>
                    Conf. recebimento orçamento OPME: 
                    <h:outputText value="#{orcamentoMB.orcamento.dtRecebimentoEmailOpme}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                    </h:outputText>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <!--<p:commandButton   value="Imprimir" action=""  ajax="false" immediate="true"  process="@this" onclick="this.form.target='_blank'" icon="imprimir" />-->
        </h:form>
    </body>
</html>
