<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <script>
            function zerafield(){
                if (document.getElementById('frmCadastroPaciente:nome').value.toString() == "Null") {
                    document.getElementById('frmCadastroPaciente:nome').value = "";
                }                
            } 
            function up(lstr){ 
                var str=lstr.value; 
                lstr.value=str.toUpperCase(); 
            }
        </script>

        <h:form id="frmCadastroPaciente">
            <div id="DadosBasicos" class="tab-pane fade in active" style="padding-left: 0px;">
                <b:column col-md="12">
                    <p:messages id="msgBar" closable="true" />
                    <b:row>
                        <br/>
                        <b:column col-sm="12">
                            <bcr:outputrequired value="Nome" />
                            <p:inputText  styleClass="form-control" onkeyup="up(this);" required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}"  id="nome" 
                                          label="Nome" requiredMessage="Nome é obrigatório." value="#{pacienteMB.paciente.nome}">
                                <p:ajax event="blur" listener="#{pacienteMB.testarNome()}" update=":frmCadastroPaciente:msgBar"/>
                            </p:inputText>
                        </b:column>
                        <b:column col-sm="12" >
                            <h:outputText value="Nome da Mãe" />
                            <p:inputText  styleClass="form-control" onkeyup="up(this);" id="nomeMae" 
                                          onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Mae" 
                                          required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}"
                                          requiredMessage="Nome da Mãe é obrigatório." value="#{pacienteMB.paciente.nomeMae}" />
                        </b:column>
                        <b:column col-sm="6" id="coluna5" >
                            <bcr:outputrequired value="CPF" />
                            <p:inputMask  value="#{pacienteMB.paciente.cpf}" required="#{pacienteMB.paciente.nomeMae.equals('') or pacienteMB.paciente.telefone.equals('(__) _________')}"
                                          requiredMessage="CPF é obrigatório" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                <p:ajax  event="blur" update=":frmCadastroPaciente:msgBar" listener="#{pacienteMB.verificaCPF()}"/>
                            </p:inputMask>
                        </b:column>
<!--                                            <b:column col-sm="6" rendered="#{pacienteMB.verificarCPF(pacienteMB.paciente.cpf)}" >-->
                        <b:column col-sm="6" >
                            <h:outputText value="Nascimento" />
                            <p:calendar id="dataNasc" showOn="false" value="#{pacienteMB.paciente.dtNascimento}"
                                        required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}" mask="99/99/9999" pattern="dd/MM/yyyy" navigator="true" 
                                        maxdate="today" yearRange="1900:2019" maxlength="10"
                                        requiredMessage="Data de Nascimento é obrigatório." >
                            </p:calendar>
                        </b:column>
                        <b:column col-sm="6" >
                            <h:outputText value="Telefone" />
                            <p:inputMask value="#{pacienteMB.paciente.telefone}" 
                                         styleClass="form-control" required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}" maxlength="13" id="telefone" label="Telefone"  
                                         requiredMessage="Telefone é obrigatório" mask="(99) ?999999999" />
                        </b:column>
                        <b:column col-sm="6" >
                            <h:outputText value="Celular" />
                            <p:inputMask value="#{pacienteMB.paciente.telefoneCelular}" 
                                         styleClass="form-control" maxlength="13" id="telefoneCelular" label="Celular"  
                                         mask="(99) ?999999999" />
                        </b:column>
                        <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3" rendered="false">
                            <h:outputText value="Inativo?" /><br/>
                            <p:selectBooleanCheckbox id="inativo" value="#{pacienteMB.paciente.inativo}"  />
                            <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível."/>
                        </b:column>
                    </b:row>
                    <hr/>
                    <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar2()}" 
                                     styleClass="btn"  
                                     update="frmCadastroPaciente, :frmConsultarPaciente:dtlConsultarPaciente,:frmInserir:clnPaciente" 
                                     icon="salvar" validateClient="true" oncomplete="#{pacienteMB.retornoDialogo()}">
                    </p:commandButton>
                    <p:commandButton value="Sair" id="sair" oncomplete="if (!args.validationFailed)PF('dlgCadastrarPaciente').hide();"
                                     styleClass="btn" immediate="true"
                                     update="frmCadastroPaciente, :frmConsultarPaciente:dtlConsultarPaciente,:frmInserir:clnPaciente" 
                                     icon="cancel16">
                    </p:commandButton>
                </b:column>
            </div>
        </h:form>
    </body>
</html>
