
html body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    /*overflow:hidden;*/
    font-family:arial;
    font-size:10px;
    color: white;
    background-color:#ffffff;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit !important;
}

.classTopo{
    height: 60px;
    font-family: sans-serif ;
    font-size: 13px  ;
    font-weight: bold;
    background-color: #5c9ccc;
}

.classConteudo{
    width: 90%;
    position:absolute;
    left:5%;
    /*background-color: #5c9ccc;*/
}

.ui-selectonemenu{
    width: 310px !important;
}

.coluna1{
    width: 140px;
    background-color: #d0d3ff;
    border-radius: 5%;
    font-weight: bold;
}
.colunaData1{
    background-color: #d0d3ff;
    border-radius: 5%;
    font-weight: bold;
}
.colunaBotao{
    width: 10px;

}
.coluna3{
    width: 130px;
    background-color: #d0d3ff;
    border-radius: 5%;
    font-weight: bold;
}

.coluna2{
    width: 330px;
}
.coluna2 input{
    width: 300px;
}
.coluna4{
    width: 400px;
}
.colunaNormal{

}
.coluna4 input{
    width: 300px;
}

.colunaAdd{
    margin-right: 50px;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{
    border: 1px solid #ff0000 !important;
    background-color: url('/CaixAgriV3/javax.faces.resource/images/ui-bg_diagonals-thick_20_e69700_40x40.png.xhtml?ln=primefaces-excite-bike') repeat scroll 50% 50% #ff0000 !important;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.unir {
    padding-right: 0px !important;
}

