.ui-icon.Adicionar{
    background-image: url('../icons/Adicionar.png');
    margin-right: 4px;
}
.ui-icon.Pesquisar{
    background-image: url('../icons/Pesquisar.png');
    margin-right: 4px;
}
.ui-icon.Sair{
    background-image: url('../icons/Sair.png');
    margin-right: 4px;
}
.ui-icon.Entrada_Estoque{
    background-image: url('../icons/Entrada_Estoque.png');
    margin-right: 4px;
}
.ui-icon.Saida_Estoque{
    background-image: url('../icons/Saida_Estoque.png');
    margin-right: 4px;
}
.ui-icon.Novo{
    background-image: url('../icons/Novo.png');
    margin-right: 4px;
}
.ui-icon.Salvar{
    background-image: url('../icons/Salvar.png');
    margin-right: 4px;
}
.ui-icon.Consultar{
    background-image: url('../icons/Consultar.png');
    margin-right: 4px;
}
.ui-icon.Listar{
    background-image: url('../icons/Listar.png');
    margin-right: 4px;
}
.ui-icon.Selecionar{
    background-image: url('../icons/Selecionar.png');
    margin-right: 4px;
}
.ui-icon.Importar{
    background-image: url('../icons/Importar.png');
    margin-right: 4px;
}
.ui-icon.Requisicoes{
    background-image: url('../icons/Requisicoes.png');
    margin-right: 4px;
}
.ui-icon.Requisicoes2{
    background-image: url('../icons/Requisicoes2.png');
    margin-right: 4px;
}
.ui-icon.ApuracaoRequisicoes{
    background-image: url('../icons/AcompanhamentoRequisicoes.png');
    margin-right: 4px;
}
.ui-icon.Ver{
    background-image: url('../icons/ver.png');
    margin-right: 4px;
}
.ui-icon.Comfirmar{
    background-image: url('../icons/Comfirmar.png');
    margin-right: 4px;
}
.ui-icon.Sim{
    background-image: url('../icons/Sim.png');
    margin-right: 4px;
}
.ui-icon.Nao{
    background-image: url('../icons/Nao.png');
    margin-right: 4px;
}
.ui-icon.Aprovar{
    background-image: url('../icons/Aprovar.png');
    margin-right: 4px;
}
.ui-icon.Recusar{
    background-image: url('../icons/Recusar.png');
    margin-right: 4px;
}
.ui-icon.Frota{
    background-image: url('../icons/Frota.png');
    margin-right: 4px;
}
.ui-icon.Historico{
    background-image: url('../icons/Historico.png');
    margin-right: 4px;
}
.ui-icon.Agendamento{
    background-image: url('../icons/Agendamento.png');
    margin-right: 4px;
}
.ui-icon.Inicio{
    background-image: url('../icons/Inicio.png');
    margin-right: 4px;
}
.ui-icon.Cadastros{
    background-image: url('../icons/Cadastros.png');
    margin-right: 4px;
}
.ui-icon.Faturamento{
    background-image: url('../icons/Faturamento.png');
    margin-right: 4px;
}
.ui-icon.Graficos{
    background-image: url('../icons/Graficos.png');
    margin-right: 4px;
}
.ui-icon.Relatorios{
    background-image: url('../icons/Relatorios.png');
    margin-right: 4px;
}
.ui-icon.Configuracoes{
    background-image: url('../icons/Configuracoes.png');
    margin-right: 4px;
}
.ui-icon.Movimento{
    background-image: url('../icons/Movimento.png');
    margin-right: 4px;
}
.ui-icon.Backup{
    background-image: url('../icons/Backup.png');
    margin-right: 4px;
}
.ui-icon.Parametros{
    background-image: url('../icons/Parametros.png');
    margin-right: 4px;
}
.ui-icon.OrdemCompra{
    background-image: url('../icons/Ordem_Compra.png');
    margin-right: 4px;
}
.ui-icon.Cotacao{
    background-image: url('../icons/Cotacao.png');
    margin-right: 4px;
}

.ui-icon.Estornar{
    background-image: url('../icons/Estorno.png');
    margin-right: 4px;
}
.ui-icon.Receber{
    background-image: url('../icons/Receber.png');
    margin-right: 4px;
}
.ui-icon.Pagar{
    background-image: url('../icons/Pagar.png');
    margin-right: 4px;
}

