<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <b:column span="12">
            <b:panel  title="Lançamento Avulso" look="primary" rendered="#{sessaoMB.usuario.idPapel.lancamentoAvulso}" >
                <p:messages id="msgs" closable="true"  showDetail="true"/>
                <h:form id="frmLancamentoAvulso">
                    <p:commandButton id="btnLancamento" action="#{lancamentoAvulsoMB.zerarCampos()}" update=":fromAvulso" styleClass="btn"
                                     onclick="PF('dlgLancamentoAvulso').show();" value="Novo Lançamento" icon="add"/>
                    &nbsp;
                    <p:commandButton value="Pesquisar" id="ctrl" icon="pesquisar" styleClass="btn" />
                    <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                        <p:panelGrid columns="1" style="width: 100%; " >
                            <p:commandButton style="width: 100%" value="Escolher período" icon="ui-icon-calendar" oncomplete="PF('dlgFiltroPesquisarMovimento').show();" />
                            <p:commandButton style="width: 100%" value="Hoje" actionListener="#{lancamentoAvulsoMB.setarDatasPesquisa('D')}" update=":frmLancamentoAvulso, :msgs" icon="ui-icon-arrowstop-1-s"/>
                            <p:commandButton style="width: 100%" value="Mês atual" actionListener="#{lancamentoAvulsoMB.setarDatasPesquisa('M')}" update=":frmLancamentoAvulso, :msgs" icon="ui-icon-arrowrefresh-1-e"/>
                            <p:commandButton style="width: 100%" value="Mês anterior" actionListener="#{lancamentoAvulsoMB.setarDatasPesquisa('A')}" update=":frmLancamentoAvulso, :msgs" icon="ui-icon-arrowthick-1-w"/>
                        </p:panelGrid>
                    </p:overlayPanel>

                    <hr/>
                    <p:dataTable id="dtlLancamentosAvulsos" value="#{lancamentoAvulsoMB.listaLancamentos}" var="ciruPesq"
                                 paginator="true" rows="10" widgetVar="dtlLancamentosAvulsos" 
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,15,25,50,100,200" sortBy="#{ciruPesq.idCirurgia}" sortOrder="descending">
                        <f:facet name="header">
                            Lançamentos Avulsos
                        </f:facet>
                        <p:column width="30">
                            <p:rowToggler />
                        </p:column>
                        <p:column width="90">
                            <p:commandButton value="Ações" id="ctrl" icon="ui-icon-info" />
                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                                <p:panelGrid columns="1" style="width: 100%; " >
                                    <p:column headerText="Trocar">
                                        <center>
                                            <p:commandButton id="btnTroca" style=" width: 100%; "  value="Trocar" title="Trocar Repasse ou Devolução ao Cliente." action="#{trocaRepasseMB.carregarValores(ciruPesq.repasseList.get(0))}" 
                                                             disabled="#{!ciruPesq.pago}"
                                                             update=":frmTrocaRepasse, :dlgTrocaRepasse, :frmTrocaRepasse:rwWidgets" icon="troca" 
                                                             oncomplete="PF('dlgTrocaRepasse').show();"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Pagar" rendered="#{sessaoMB.usuario.idPapel.receberLancamento}">
                                        <center>
                                            <p:commandButton id="btnPagar" style=" width: 100%; " value="Pagamento a vista" title="Pagar" 
                                                             action="#{lancamentoAvulsoMB.pagarAvulso(ciruPesq)}" disabled="#{ciruPesq.pago}"
                                                             update="@form, :msgs" icon="pagamento" >
                                            </p:commandButton>
                                            <p:blockUI block="frmLancamentoAvulso" trigger="btnPagar" >
                                                <img src="Recursos/img/novoLoading.gif" />
                                            </p:blockUI>
                                        </center>
                                    </p:column>
                                    
                                    <p:column>
                                        <center>
                                            <p:commandButton style="width: 100%" id="btnPagarCheque" title="Outro pagamento" 
                                                             action="#{cirurgiaMB.carregarValoresExterno(ciruPesq)}" 
                                                             disabled="#{ciruPesq.pago}" update=":formCheque, :formCheque:clnCPF" onclick="PF('dlgLancarCheque').show();" 
                                                             oncomplete="$(function(){PrimeFaces.focus('formCheque:numeroCheque');});" icon="pagamento" value="Outro pagamento">
                                            </p:commandButton>
                                        </center>
                                    </p:column>
                                    <p:column>
                                        <center>
                                            <p:commandButton id="btnExcluir" style=" width: 100%; " value="Excluir" 
                                                             title="#{!ciruPesq.contaCorrenteList.isEmpty() ? ciruPesq.contaCorrenteList.get(0).getSituacao().concat(' - ') : ''}Esta opção só é permitida antes do pagamento." 
                                                             action="#{lancamentoAvulsoMB.excluirAvulso(ciruPesq)}" 
                                                             disabled="#{!ciruPesq.contaCorrenteList.isEmpty()}"
                                                             update="@form, :msgs" icon="excluir" >
                                                <p:confirm header="Confirmação" message="Excluir este registro?" icon="ui-icon-alert" />
                                            </p:commandButton>

                                        </center>
                                    </p:column>
                                    <p:column>
                                        <center>
                                            <p:commandButton id="btnImprimir"  value="Imprimir" style=" width: 100%; "  
                                                             icon="imprimir" action="#{lancamentoAvulsoMB.imprimirLancamento(ciruPesq.idCirurgia)}" ajax="false" onclick="this.form.target = '_blank'"/>
                                        </center>
                                    </p:column>
                                </p:panelGrid>
                            </p:overlayPanel>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <center>
                                    <p:commandButton value="Sim" type="button" styleClass="btn ui-confirmdialog-yes" icon="confirmar" />
                                    <p:commandButton value="Não" type="button" styleClass="btn ui-confirmdialog-no" icon="excluir" />
                                </center>
                            </p:confirmDialog>


                        </p:column>

                        <p:column headerText="Nº"  sortBy="#{ciruPesq.idCirurgia}" filterMatchMode="contains" width="80">
                            <center><h:outputText value="#{ciruPesq.idCirurgia}"  /></center>
                        </p:column>
                        <p:column headerText="Usuário"  sortBy="#{ciruPesq.idUsuario.usuario}" filterMatchMode="contains" width="8%">
                            <center><h:outputText value="#{ciruPesq.idUsuario.usuario}"  /></center>
                        </p:column>
                        <p:column headerText="Pagamento" width="8%" filterBy="#{ciruPesq.pago}">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('dtlLancamentosAvulsos').filter()" filter="true" filterMatchMode="contains" 
                                                 styleClass="form-control" >
                                    <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Pagos" itemValue="true" />
                                    <f:selectItem itemLabel="Em Aberto" itemValue="false" />
                                </p:selectOneMenu>
                            </f:facet>
                            <center>
                                <h:outputText value="#{!ciruPesq.pago and ciruPesq.contaCorrenteList.isEmpty() ? 'Em Aberto' : !ciruPesq.contaCorrenteList.isEmpty() and !ciruPesq.pago ? 'Devolvido' : 'Pago'}" 
                                              styleClass="label #{!ciruPesq.pago and ciruPesq.contaCorrenteList.isEmpty() ? 'label-danger' : !ciruPesq.contaCorrenteList.isEmpty() and !ciruPesq.pago ? 'label-warning' : 'label-success' }">
                                </h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Paciente" filterBy="#{ciruPesq.idPaciente.nome}" filterMatchMode="contains" width="15%" sortBy="#{ciruPesq.idPaciente.nome}">
                            <h:outputText value="#{ciruPesq.idPaciente.nome}" />
                        </p:column>
                        <p:column headerText="Data" filterBy="#{ciruPesq.dtCirurgia}" filterMatchMode="contains" width="10%" sortBy="#{ciruPesq.dtCirurgia}">
                            <f:facet name="filter">
                                <p:calendar  pattern="dd/MM/yyyy" maxdate="today" locale="pt">
                                    <p:ajax event="dateSelect"  oncomplete="PF('dtlLancamentosAvulsos').filter()"/>
                                </p:calendar>
                            </f:facet>
                            <center>
                                <h:outputText value="#{ciruPesq.dtCirurgia}">
                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                </h:outputText>
                            </center>
                        </p:column>                                

                        
                        <p:column headerText="Médico" width="15%" filterBy="#{ciruPesq.idTerceiro.nome}" sortBy="#{ciruPesq.idTerceiro.nomeFantasia == null? ciruPesq.idTerceiro.nome : ciruPesq.idTerceiro.nomeFantasia}" >
                            <h:outputText value="#{ciruPesq.idTerceiro.nomeFantasia == null? ciruPesq.idTerceiro.nome : ciruPesq.idTerceiro.nomeFantasia}" />
                        </p:column>
                        <p:column headerText="Valor" sortBy="#{ciruPesq.valor}" width="10%">
                            <center>
                                <h:outputText value="#{ciruPesq.valor}" style="color: #{ciruPesq.valor > 0 ? '' : 'red'}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </center>
                        </p:column>
                        <p:column width="5%">
                            <h:form>

                            </h:form>
                        </p:column>
                        <p:rowExpansion>
                            <br/>
                            <h3>OBS: <h:outputText value="#{ciruPesq.observacao}"/> </h3>
                            <hr/>
                            <p:dataTable id="dtlItens" value="#{ciruPesq.cirurgiaItemList}" var="ciiList" >
                                <f:facet name="header">
                                    Itens do Lançamento / Pagamento
                                </f:facet>
                                <p:column headerText="Procedimento">
                                    <h:outputText value="#{ciiList.observacao}" >
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Pagamento" width="15%">
                                    <center>
                                        <h:outputText id="pagamento" styleClass="#{ciruPesq.repasseList.isEmpty() ? '' :ciruPesq.repasseList.get(0).idCheque == null ? 'label label-danger' : ''}"
                                                      value="#{ciruPesq.repasseList.isEmpty() ? '' : ciruPesq.repasseList.get(0).idCheque.movimento == 'D' ? 'Dinheiro' : 
                                                               ciruPesq.repasseList.get(0).idCheque.movimento == 'C' ? 'Cheque' : ciruPesq.repasseList.get(0).idCheque.movimento == 'N' ? 'Nota Promissória' : 
                                                               ciruPesq.repasseList.get(0).idCheque.movimento == 'A' ? 'Cartão - Débito' : ciruPesq.repasseList.get(0).idCheque.movimento == 'R' ? 'Cartão - Crédito' : ciruPesq.repasseList.get(0).idCheque.movimento == 'B' ? 'Depósito Bancário' : 'Sem Pagamento'}" />
                                    </center>
                                    <p:tooltip for="pagamento" value="#{ciruPesq.repasseList.isEmpty() ? '' : ciruPesq.repasseList.get(0).observacao}"/>
                                </p:column>
                                <p:column  headerText="Vlr. Total" width="15%">
                                    <h:outputText value="#{ciiList.valorTotal}" >
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </h:form>

                <p:dialog widgetVar="dlgLancamentoAvulso" header="Lançamento Avulso" modal="true" closeOnEscape="true" 
                          width="60%" resizable="false">
                    <h:form id="fromAvulso">
                        <b:row>
                            <b:column span="12">
                                <p:messages autoUpdate="true" id="msg" escape="true" closable="true"/>
                            </b:column>
                            <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12">
                                <bcr:outputrequired value="Paciente"/>
                                <h:panelGrid columns="2" width="100%">                                                        
                                    <p:autoComplete id="paciente" value="#{lancamentoAvulsoMB.cirurgia.idPaciente}" converter="Converter"
                                                    completeMethod="#{lancamentoAvulsoMB.completeMethodPaciente}" var="pac" maxResults="10"
                                                    itemLabel="#{pac.nome}" itemValue="#{pac}" placeholder="Digite o paciente" required="true" requiredMessage="Informe o paciente!">
                                        <p:column>
                                            <h:outputText value="#{pac.nome}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{pac.cpf==null ? pac.nomeMae : pac.cpf or pac.cpf=='' ? pac.nomeMae : pac.cpf}" />
                                        </p:column>
                                        <p:column>
                                            <center>
                                                <h:outputText value="#{pac.dtNascimento}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:ajax event="itemSelect" update="valorItem" oncomplete="$(function(){PrimeFaces.focus('fromAvulso:medico');});" />
                                    </p:autoComplete>
                                    <p:commandButton immediate="true"  styleClass="btn btninput" 
                                                     onclick="PF('dlgCadastroPaciente').show();" icon="add" />
                                </h:panelGrid>
                            </b:column>
                            <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12">
                                <bcr:outputrequired value="Méd. Responsável" />
                                <h:panelGrid columns="2" width="100%">                                                        
                                    <p:autoComplete id="medico" value="#{lancamentoAvulsoMB.cirurgia.idTerceiro}" converter="Converter"
                                                    completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5"
                                                    itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" placeholder="Digite o médico responsável" required="true" requiredMessage="Informe o médico responsável!">
                                        <p:column>
                                            <h:outputText value="#{terc.idTerceiro}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                        </p:column>
                                        <p:ajax event="itemSelect" update="valorItem" oncomplete="$(function(){PrimeFaces.focus('fromAvulso:procedimento');});" />
                                    </p:autoComplete> 
                                </h:panelGrid>
                            </b:column>
                            <b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" rendered="false">
                                <h:outputText  value="Observação" />
                                <p:inputText id="livre" value="#{lancamentoAvulsoMB.cirurgia.observacao}"  styleClass="form-control"/>
                            </b:column>
                        </b:row>    
                        <b:row>
                            <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12" >
                                <h:outputText value="Procedimento" />
                                <h:panelGrid columns="2" width="100%">
                                    <p:autoComplete id="procedimento" value="#{lancamentoAvulsoMB.procedimento}" converter="Converter"
                                                    completeMethod="#{lancamentoAvulsoMB.completeMethodProcedimento}" var="proc" maxResults="5"
                                                    itemLabel="#{proc.descricao}" itemValue="#{proc}" placeholder="Digite o procedimento">
                                        <p:column>
                                            <h:outputText value="#{proc.idProcedimento}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{proc.descricao}" />
                                        </p:column>
                                        <p:ajax event="itemSelect" update="valorItem" oncomplete="$(function(){PrimeFaces.focus('fromAvulso:valorItem');});" />
                                    </p:autoComplete>  
                                    <p:commandButton immediate="true" styleClass="btn btninput" onclick="PF('dlgCadastroProcedimento').show();"
                                                     icon="add" />
                                </h:panelGrid>                                                        
                            </b:column>
                            <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12" rendered="false">
                                <bcr:outputrequired value="Item"/>
                                <p:autoComplete id="Item" value="#{lancamentoAvulsoMB.descricaoExame}" converter="Converter"
                                                completeMethod="#{lancamentoAvulsoMB.completeMethodDescricaoExame}" var="desc" maxResults="5"
                                                itemLabel="#{desc.descricao}" itemValue="#{desc}" placeholder="Digite o item">
                                    <p:column>
                                        <h:outputText value="#{desc.idDescricaoExame}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{desc.descricao}" />
                                    </p:column>
                                    <p:ajax event="itemSelect" update="valorItem" oncomplete="$(function(){PrimeFaces.focus('frmAvulso:valorItem');});" />
                                </p:autoComplete>
                            </b:column>
                            <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12">
                                <h:outputText value="Valor" />
                                <pe:inputNumber id="valorItem" decimalSeparator="." thousandSeparator="," emptyValue="empty"
                                                symbol="R$ " value="#{lancamentoAvulsoMB.procedimento.valor}" >
                                </pe:inputNumber>

                            </b:column>
                            <b:column col-md="12">
                                <strong><h:outputText value="Observação" /></strong>
                                <h:panelGrid columns="2" width="100%">
                                    <p:inputText id="txtMotivo" value="#{lancamentoAvulsoMB.cirurgia.observacao}"/>
                                    <p:commandButton value="" icon="pesquisar" styleClass="btn btn-primary btninput" 
                                                     immediate="true" action="#{motivoMB.carregaMotivos()}"                                                                  
                                                     oncomplete="PF('dlgMotivos').show();"/>                                           
                                </h:panelGrid>

                            </b:column>


                            <b:column col-lg="6" col-md="6" col-sm="12" col-xs="12" rendered="#{lancamentoAvulsoMB.cheque.idCheque != null}">
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="font-bold">
                                            Pagamento lançado (Dinheiro):                                             
                                            <h:outputText value="#{lancamentoAvulsoMB.cheque.valor}">
                                                <f:convertNumber type="currency"/>
                                            </h:outputText>
                                        </span>

                                    </div>
                                    <div class="col-md-6">
                                        <p:commandButton id="btnExcluir" immediate="true"
                                                         update="@form, msg" icon="cancel16" action="#{lancamentoAvulsoMB.ExcluirPagamento()}" />
                                    </div>
                                </div>
                            </b:column>
                            <b:column col-lg="12" col-md="12" col-sm="12" col-xs="12">
                                <br/>
                                <p:dataTable id="dtlItens" value="#{lancamentoAvulsoMB.listaCirurgiaItens}" var="itens">
                                    <p:column headerText="Descrição">
                                        <h:outputText value="#{itens.observacao}"/>
                                    </p:column>
                                    <p:column headerText="Valor">
                                        <h:outputText value="#{itens.valorTotal}">
                                            <f:convertNumber type="currency"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Excluir"  width="10%">
                                        <center>
                                            <p:commandButton id="btnExcluir" styleClass="ui-confirmdialog-no" immediate="true" icon="cancel16" 
                                                             update="@form" 
                                                             action="#{lancamentoAvulsoMB.ExcluirItem(itens)}">
                                            </p:commandButton>
                                        </center>
                                    </p:column>
                                </p:dataTable>
                            </b:column>

                        </b:row>
                        <b:row>
                            <b:column span="12">
                                <br/>
                                <p:commandButton id="btnAdicionarItem" icon="salvar" value="Salvar" styleClass="btn" 
                                                 action="#{lancamentoAvulsoMB.addItem()}" update=":frmLancamentoAvulso:dtlLancamentosAvulsos, :fromAvulso" oncomplete="$(function(){PrimeFaces.focus('fromAvulso:procedimento');});">
                                    <f:param name="tipoLancamento" value="Crédito"/>
                                </p:commandButton>
                                &nbsp;
                                
                                <p:commandButton id="btnPagar" styleClass="btn" icon="pagamento" value="Adicionar Pagamento" rendered="false"
                                                 action="#{lancamentoAvulsoMB.carregarPagamento()}"
                                                 update=":fromAvulso" disabled="#{lancamentoAvulsoMB.listaCirurgiaItens.size() == 0}"/>
                                <p:blockUI block="fromAvulso" trigger="btnAdicionarItem" >
                                    <img src="Recursos/img/novoLoading.gif" />
                                </p:blockUI>
                            </b:column>
                            <b:column col-lg="12" col-md="12" col-sm="12" col-xs="12" rendered="false">
                                <hr/>
                                <p:commandButton id="btnSalvar" value="Salvar " styleClass="btn" 
                                                 update="@form, :frmLancamentoAvulso:dtlLancamentosAvulsos" icon="salvar" 
                                                 actionListener="#{lancamentoAvulsoMB.Salvar()}" oncomplete="$(function(){PrimeFaces.focus('fromAvulso:paciente');});" />
                                &nbsp;
                                <p:commandButton id="btnLimpar" value="Limpar" styleClass="btn" immediate="true"
                                                 update="@form" icon="limpar" action="#{lancamentoAvulsoMB.novo()}" 
                                                 oncomplete="$('html, body').animate({scrollTop:0}, 'slow');" />

                                <p:blockUI block="fromAvulso" trigger="btnSalvar" >
                                    <img src="Recursos/img/novoLoading.gif" />
                                </p:blockUI>
                            </b:column>
                        </b:row>
                    </h:form> 
                </p:dialog>

                

                <p:dialog widgetVar="dlgCadastroPaciente" header="Cadastro de Paciente" width="50%" height="80%" position="center" draggable="false" 
                          resizable="false"  >
                    <script>
                        function zerafield() {
                            if (document.getElementById('frmCadastroPaciente:nome').value.toString() == "Null") {
                                document.getElementById('frmCadastroPaciente:nome').value = "";
                            }
                        }
                        function up(lstr) {
                            var str = lstr.value;
                            lstr.value = str.toUpperCase();
                        }
                    </script>

                    <h:form id="frmCadastroPaciente">
                        <div id="DadosBasicos" class="tab-pane fade in active" style="padding-left: 0px;">
                            <b:column col-md="12">
                                <p:messages id="msgBar" closable="true" />
                                <b:row>
                                    <br/>
                                    <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3" rendered="false">
                                        <h:outputText value="Inativo?" /><br/>
                                        <p:selectBooleanCheckbox id="inativo" value="#{pacienteMB.paciente.inativo}"  />
                                        <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível."/>
                                    </b:column>
                                    <b:column col-sm="12">
                                        <bcr:outputrequired value="Nome" />
                                        <p:inputText  styleClass="form-control" onkeyup="up(this);" required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}"  id="nome" 
                                                      label="Nome" requiredMessage="Nome é obrigatório." value="#{pacienteMB.paciente.nome}">
                                            <p:ajax event="blur" listener="#{pacienteMB.testarNome()}" update=":frmCadastroPaciente:msgBar"/>
                                        </p:inputText>
                                    </b:column>
                                    <b:column col-sm="12" >
                                        <h:outputText value="Nome da Mãe" />
                                        <p:inputText  styleClass="form-control" onkeyup="up(this);" id="nomeMae" 
                                                      onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Mae" 
                                                      required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}"
                                                      requiredMessage="Nome da Mãe é obrigatório." value="#{pacienteMB.paciente.nomeMae}" />
                                    </b:column>
                                    <b:column col-sm="6" id="coluna5" >
                                        <bcr:outputrequired value="CPF" />
                                        <p:inputMask  value="#{pacienteMB.paciente.cpf}" required="#{pacienteMB.paciente.nomeMae.equals('') or pacienteMB.paciente.telefone.equals('(__) _________')}"
                                                      requiredMessage="CPF é obrigatório" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                            <p:ajax  event="blur" update=":frmCadastroPaciente:msgBar" listener="#{pacienteMB.verificaCPF()}"/>
                                        </p:inputMask>
                                    </b:column>            
                                    <b:column col-sm="6" >
                                        <h:outputText value="Nascimento" />
                                        <p:calendar id="dataNasc" showOn="false" value="#{pacienteMB.paciente.dtNascimento}"
                                                    required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}" mask="99/99/9999" 
                                                    pattern="dd/MM/yyyy" navigator="true" 
                                                    maxdate="today" yearRange="1900:2019" maxlength="10"
                                                    requiredMessage="Data de Nascimento é obrigatório." >
                                        </p:calendar>
                                    </b:column>
                                    <b:column col-sm="6" >
                                        <bcr:outputrequired value="Telefone" />
                                        <p:inputMask value="#{pacienteMB.paciente.telefone}" 
                                                     styleClass="form-control" required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}" maxlength="13" id="telefone" label="Telefone"  
                                                     requiredMessage="Telefone é obrigatório" mask="(99) ?999999999" />
                                    </b:column>
                                    <b:column col-sm="6" >
                                        <h:outputText value="Celular" />
                                        <p:inputMask value="#{pacienteMB.paciente.telefoneCelular}" 
                                                     styleClass="form-control" maxlength="13" label="Celular" mask="(99) ?999999999" />
                                    </b:column>
                                </b:row>
                                <hr/>
                                <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar2()}" 
                                                 styleClass="btn"  
                                                 update="frmCadastroPaciente, :fromAvulso:paciente" 
                                                 icon="salvar" >
                                </p:commandButton>
                                <p:commandButton value="Sair" id="sair" oncomplete="if (!args.validationFailed)PF('dlgCadastroPaciente').hide();"
                                                 styleClass="btn" immediate="true"
                                                 update="frmCadastroPaciente, :fromAvulso:paciente" 
                                                 icon="cancel16">
                                </p:commandButton>
                            </b:column>
                        </div>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgCadastroProcedimento" header="Cadastro de Procedimento" width="50%"
                          position="center" draggable="false" resizable="false" >
                    <h:form id="frmCadastroProcedimento">
                        <b:row>
                            <b:column span="12">
                                <p:messages id="msgsProcedimento" />
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="Descrição *" />
                                <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" 
                                              requiredMessage="O campo descrição é obrigatório" value="#{procedimentoMB.procedimento.descricao}" />
                            </b:column>                            
                            <b:column span="4">
                                <h:outputText value="Valor padrão" />
                                <pe:inputNumber decimalSeparator="." thousandSeparator="," emptyValue="empty"
                                                symbol="R$ " value="#{procedimentoMB.procedimento.valor}">
                                </pe:inputNumber>
                            </b:column>
                            <b:column span="12">
                                <hr/>
                                <p:commandButton value="Salvar" ajax="true" 
                                                 update=":fromAvulso:msg, :fromAvulso" icon="salvar" action="#{procedimentoMB.salvar('C')}" 
                                                 oncomplete="if (!args.validationFailed){PF('dlgCadastroProcedimento').hide();}" />
                            </b:column>
                        </b:row>
                    </h:form>
                </p:dialog>

                <p:dialog closeOnEscape="true" widgetVar="dlgTrocaRepasse" id="dlgTrocaRepasse" position="top" width="60%"
                          header="Troca de Repasses" 
                          resizable="false" modal="true">
                    <p:ajax event="close" listener="#{cirurgiaMB.novo()}"/>
                    <h:form id="frmTrocaRepasse">
                        <b:row id="rwWidgets">
                            <center>
                                <b:column col-md="4" col-xs="12">
                                    <div class="widget style1 navy-bg">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-check fa-3x"></i>
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span>Total Valor do Repasse</span>
                                                <h3 class="font-bold">
                                                    <h:outputText id="widgetValorRecebido" value="#{trocaRepasseMB.valorTotal}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </b:column>
                                <b:column col-md="4" col-xs="12">
                                    <div class="widget style1 yellow-bg">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-thumbs-o-up fa-3x"></i>
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span> Total já trocado</span>
                                                <h3 class="font-bold">
                                                    <h:outputText id="widgetValorRepassado" value="#{trocaRepasseMB.valorTrocado}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </b:column>
                                <b:column col-md="4" col-xs="12">
                                    <div class="widget style1 green-bg">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-tag fa-3x"></i>
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span> Valor Disponível </span>
                                                <h3 class="font-bold">
                                                    <h:outputText id="widgetValorRestante" 
                                                                  value="#{trocaRepasseMB.valorRestante}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </b:column>
                            </center>
                            <b:column col-md="12">
                                <p:messages id="msgTroca" autoUpdate="true" showDetail="true" />
                            </b:column>
                        </b:row>
                        <b:row>
                            <hr/>
                            <b:column col-md="3">
                                <bcr:outputrequired value="Tipo" />
                                <p:selectOneMenu id="AdcTipo" value="#{trocaRepasseMB.tipo}" 
                                                 styleClass="form-control" >
                                    <f:selectItem itemLabel="Troca de Repasses" itemValue="T" />
                                    <f:selectItem itemLabel="Devolução"  itemValue="D" />
                                    <p:ajax event="change" update="@form" listener="#{trocaRepasseMB.setarTipo()}"/>
                                </p:selectOneMenu>
                            </b:column>
                            <b:column col-md="9">
                                <bcr:outputrequired value="Informe o motivo desta movimentação:" />
                                <h:panelGrid columns="2" width="100%">
                                    <p:inputText id="txtMotivo" value="#{trocaRepasseMB.motivo}" required="true" 
                                                 requiredMessage="Informe o motivo desta #{tipo == 'D' ? 'devolução.' : 'troca.'}" />
                                    <p:commandButton value="" icon="pesquisar" styleClass="btn btn-primary btninput" 
                                                     immediate="true" action="#{motivoMB.carregaMotivos()}"                                                                  
                                                     oncomplete="PF('dlgMotivos').show();"/>                                           
                                </h:panelGrid>

                            </b:column>
                            <b:column col-md="3" >
                                <bcr:outputrequired value="Valor a repassar" />
                                <pe:inputNumber id="valor" value="#{trocaRepasseMB.valor}" maxValue="#{trocaRepasseMB.valorRestante}" 
                                                disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                decimalSeparator="," thousandSeparator="." symbol="R$ " required="true" requiredMessage="O valor é obrigatório!">
                                </pe:inputNumber>                                                           
                            </b:column>

                            <b:column col-md="6">
                                <bcr:outputrequired value="Novo Médico" />
                                <h:panelGrid columns="2" width="100%">                                                        
                                    <p:autoComplete id="medico" value="#{trocaRepasseMB.terceiro}" converter="Converter" disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                    completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5"
                                                    itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" placeholder="Digite o novo médico para troca" 
                                                    required="true" requiredMessage="Informe o médico!">
                                        <p:column>
                                            <h:outputText value="#{terc.idTerceiro}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                        </p:column>
                                        <p:ajax event="itemSelect" oncomplete="$(function(){PrimeFaces.focus('frmTrocaRepasse:valor');});" />
                                    </p:autoComplete> 
                                </h:panelGrid>
                            </b:column>

                            <b:column col-md="12">
                                <br/>
                                <p:commandButton id="btnAdicionarItem" icon="troca" value="Trocar"  styleClass="btn" disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                 update="@form, :frmTrocaRepasse:msgTroca" action="#{trocaRepasseMB.adicionar()}" validateClient="true"/>
                                &nbsp;
                                <p:commandButton id="btnSalvar" icon="salvar" value="Salvar e Sair"  styleClass="btn"
                                                 update="@form, :frmTrocaRepasse, :msgs, :frmLancamentoAvulso:dtlLancamentosAvulsos" action="#{trocaRepasseMB.salvar()}" />
                                <p:blockUI block="frmTrocaRepasse" trigger="btnAdicionarItem, btnSalvar" >
                                    <img src="Recursos/img/novoLoading.gif" />
                                </p:blockUI>
                            </b:column>
                        </b:row>
                        <b:row>
                            <b:column col-md="12">
                                <hr/>
                                <p:dataTable id="tblFor" value="#{trocaRepasseMB.repasses}" var="rep" 
                                             rowIndexVar="varIndex" sortBy="#{rep.dtVencimento}">
                                    <p:column  headerText="Médico" width="25%" >
                                        <h:outputText value="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" />
                                    </p:column>
                                    <p:column width="10%" headerText="Valor" >
                                        <center>
                                            <h:outputText value="#{rep.valorDocumento}"   >
                                                <center>
                                                    <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" type="currency" />
                                                </center>
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column width="10%" headerText="Vencimento" >
                                        <center>
                                            <h:outputText value="#{rep.dtVencimento}"  style="color: black;"  >
                                                <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column width="20%" headerText="Observação" >
                                        <h:outputText value="#{rep.observacao}"  /> 
                                    </p:column>
                                    <p:column headerText="Excluir" width="10%">
                                        <p:commandButton id="btnExcluir" icon="cancel16" 
                                                         action="#{trocaRepasseMB.excluirTroca(rep)}" immediate="true"
                                                         update="@form, :frmTrocaRepasse:rwWidgets">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </b:column>
                        </b:row>
                    </h:form>
                </p:dialog>

                <p:dialog focus="btnConsultar" widgetVar="dlgFiltroPesquisarMovimento" header="Pesquisar" >
                    <b:row>
                        <b:column col-md="6">
                            <h:outputText value="Data Inicial"   />
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt"   value="#{lancamentoAvulsoMB.PDtInicial}"/>
                        </b:column>
                        <b:column col-md="6">
                            <h:outputText value="Data Final"   />
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" value="#{lancamentoAvulsoMB.PDtFinal}" />
                        </b:column>
                        <b:column col-md="12">
                            <hr/>
                            <p:commandButton id="btnConsultar" value="Pesquisar" styleClass="btn"
                                             icon="pesquisar" action="#{lancamentoAvulsoMB.pesquisarMovimento(lancamentoAvulsoMB.PDtInicial, lancamentoAvulsoMB.PDtFinal)}" update=":frmLancamentoAvulso:dtlLancamentosAvulsos" oncomplete="PF('dlgFiltroPesquisarMovimento').hide();"/>
                        </b:column>
                    </b:row>
                </p:dialog>

                <bcr:dialogMotivo header="Motivos cadastrados" idDatatable="dtlMotivos"  idDialogo="dlgMotivos" idForm="frmMotivos" 
                                  metodoPesquisar="#{motivoMB.listaMotivosPorTipo('Lançamentos Avulsos')}"
                                  updateBtnSelecionar=":frmTrocaRepasse:txtMotivo, :fromAvulso:txtMotivo, @form" action="#{trocaRepasseMB.selecionarMotivo(motivo)}" />
                
                <p:dialog widgetVar="dlgLancarCheque" header="Lançar Pagamento" closeOnEscape="true" width="60%" 
                              position="top" closable="true" resizable="false">
                        <h:form id="formCheque" >
                            <b:column span="12">
                                <b:row>                                
                                </b:row>
                                <b:row id="rwTipo">
                                    <b:column col-xs="6" col-lg="4" col-md="4" >
                                        <p:outputLabel value="Forma de Pagamento" for="formaPagamento" indicateRequired="false"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.movimento}" styleClass="form-control" id="formaPagamento">
                                            <f:selectItem itemLabel="Cheque"  itemValue="C"  />
                                            <f:selectItem itemLabel="Cartão - Débito" itemValue="A" />
                                            <f:selectItem itemLabel="Cartão - Crédito" itemValue="R" />
                                            <f:selectItem itemLabel="Depósito Bancário" rendered="false" itemValue="B" /> 
                                            <p:ajax event="change" update="rwTipo, rwCheque" listener="#{cirurgiaMB.setarDatas()}"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="3" col-md="4" id="clnDtCompensacao" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}">
                                        <p:outputLabel id="labelVencimentoCompensacao" value="#{cirurgiaMB.movimento == 'C' ? 'Dt.Compensação' : cirurgiaMB.movimento == 'N' ? 'Dt.Vencimento' : 'Dt.Recebimento'}" for="dtCompensacaoVencimento" indicateRequired="false"/>
                                        <p:calendar id="dtCompensacaoVencimento" value="#{cirurgiaMB.dtCompensado}"
                                                    mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" showButtonPanel="true" locale="pt"/>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="3" col-md="4">
                                        <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                                        <pe:inputNumber id="valor" emptyValue="empty" value="#{cirurgiaMB.valorCheque}" disabled="true" symbol="R$ ">
                                            <p:ajax update="salvar, :msgs" event="blur"/>
                                        </pe:inputNumber>
                                    </b:column>
                                </b:row>
                                <b:row id="rwCheque">
                                    <b:column col-xs="6" col-lg="4" col-md="4" id="clnNumeroCheque" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Nº Cheque" for="numeroCheque" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                        <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" required="#{cirurgiaMB.movimento == 'C'}" 
                                                     requiredMessage="O nº cheque não foi informado." value="#{cirurgiaMB.numeroCheque}"/>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="6" col-md="4" id="clnBanco" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Banco" for="cmbBanco" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                        <h:panelGrid columns="2" style="width: 100% !important; ">
                                            <p:selectOneMenu id="cmbBanco" value="#{cirurgiaMB.banco.idBanco}" style="text-transform: capitalize" 
                                                             required="#{cirurgiaMB.movimento == 'C'}" 
                                                             requiredMessage="Informe o banco." styleClass="form-control">
                                                <f:selectItem itemLabel=" " itemValue=""  />
                                                <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                                               itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="2" col-md="4" id="clnConta" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Conta Bancária" for="Conta" indicateRequired="false"/>
                                        <p:inputText  styleClass="form-control" id="Conta" label="Conta" value="#{cirurgiaMB.conta}"/>
                                    </b:column> 

                                    <b:column span="1" rendered="false">
                                        <h:outputText value="Compensado?" />
                                        <p:selectOneMenu id="pagarAgora" value="#{cirurgiaMB.compensado}" styleClass="form-control">
                                            <f:selectItem itemLabel="Não" itemValue="N" />
                                            <f:selectItem itemLabel="Sim" itemValue="S" />
                                            <p:ajax update="dtCompensacaoVencimento" event="change"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="4" col-md="6" id="clnCPF">
                                        <p:outputLabel for="TxtCPF" id="CPF" value="#{cirurgiaMB.CPFCPNJ ? 'CNPJ' : 'CPF'}"
                                                       rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"/>
                                        <h:panelGrid columns="2" width="100%">
                                            <p:commandButton icon="refresh" immediate="true" id="btnCGC"
                                                             action="#{cirurgiaMB.mudarMascara()}" ajax="true" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"
                                                             update="TxtCPF, clnCPF" />                            
                                            <p:inputMask id="TxtCPF" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" styleClass="form-control" placeholder="#{cirurgiaMB.CPFCPNJ ? '__.___.___/____-__' : '___.___.___-__'}" 
                                                         value="#{cirurgiaMB.CPF}" mask="#{cirurgiaMB.CPFCPNJ ?  '99.999.999/9999-99' : '999.999.999-99' }" required="#{cirurgiaMB.movimento != 'D'}" requiredMessage="#{cirurgiaMB.CPFCPNJ ? 'O nº do CNPJ é necessário.' : 'O Nº do CPF é necessário.'}" style="border: #{cirurgiaMB.validacaoCGC ? 'black': '1px solid #ff0000 !important'} " >
                                                <p:ajax  event="blur" update="@this, :msgs" listener="#{cirurgiaMB.validarCPF()}"/>
                                            </p:inputMask>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="8" col-md="6" id="clnEmitente" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" >
                                        <p:outputLabel for="TxtEmitente" id="emitente" value="Emitente"/>
                                        <h:panelGrid columns="2" style="width: 100% !important;" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}">
                                            <p:inputText value="#{cirurgiaMB.emitenteCheque}" 
                                                         style="text-transform: capitalize; font-size: 10px" id="TxtEmitente" styleClass="form-control"/>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="12" col-md="12" col-sm="12">
                                        <h:outputText value="Observação" />
                                        <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{cirurgiaMB.observacao}" />
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <hr/>                                                   
                                        <h:panelGrid columns="4">
                                            <p:commandButton id="incluir" value="Salvar" icon="salvar" update=" @form, :formCheque:valor, :frmLancamentoAvulso"
                                                             action="#{lancamentoAvulsoMB.pagarAvulsoEmCheque(cirurgiaMB.movimento, cirurgiaMB.CPF, cirurgiaMB.emitenteCheque, cirurgiaMB.banco, cirurgiaMB.dtCompensado, cirurgiaMB.numeroCheque, cirurgiaMB.observacao, cirurgiaMB.conta, cirurgiaMB.valorCheque, cirurgiaMB.cirurgia)}"/>
                                            <p:commandButton id="salvar" value="Sair"  icon="cancel16" ajax="true" immediate="true" 
                                                             update=":msgs" oncomplete="PF('dlgLancarCheque').hide()"/>
                                            <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                                <f:facet name="start">
                                                    <h:panelGrid columns="2">
                                                        <img src="Recursos/img/launch_loading.gif" />   
                                                    </h:panelGrid>
                                                </f:facet>
                                            </p:ajaxStatus>
                                        </h:panelGrid> 
                                    </b:column>
                                </b:row>
                            </b:column>                            
                        </h:form>
                    </p:dialog>
            </b:panel>
        </b:column>
    </body>
</html>
