<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >
        <b:row id="todo" >
            <b:column span="12">
                <b:panel id="pnl2" title="Controle de Caixas" look="primary" rendered="#{!caixaMB.verificaCaixaAbertoDataAtual()}" >
                    <b:row>
                        <b:column span="12">
                            <h:form id="frmControles">
                                <h:panelGrid columns="4">
                                    <p:commandButton value="Abrir Caixa"  styleClass="btn btn-primary" icon="open" onclick="PF('dlgAbertura').show()" disabled="#{caixaMB.verificarCaixaAbertoAtual()}" rendered="#{sessaoMB.usuario.idPapel.abrircaixa}"/>
                                    <p:commandButton value="Fechar Caixa" styleClass="btn btn-primary" icon="close" onclick="PF('dlgFechamento').show()" disabled="#{!caixaMB.verificarCaixaAbertoAnterior()}" rendered="#{sessaoMB.usuario.idPapel.fecharcaixa}" />
                                </h:panelGrid>
                            </h:form>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="12">
                            <h:form id="frmDatatable">
                                <br/>
                                <p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
                                    <f:facet name="start">
                                        <img src="Recursos/img/24.GIF" />
                                        &nbsp;&nbsp;
                                        <span style="font-size: 15px; font-weight: bolder">Processando</span>
                                    </f:facet>
                                    <f:facet name="complete">
                                    </f:facet>
                                </p:ajaxStatus>

                                <p:dataTable id="tblCaixas" value="#{caixaMB.listarCaixasAnteriores()}" var="cp" emptyMessage="Nenhum Caixa Localizado" rows="10"
                                             paginator="true" editable="true"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="5,10,15,25,50,100" >
                                    <f:facet name="header">
                                        Movimentos de Caixas Anteriores
                                    </f:facet>
                                    <p:column width="4%" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" >
                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="Data Caixa" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" >
                                        <h:outputText value="#{cp.dtCaixaPai}">
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Tipo de Caixa" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{cp.tipoCaixa}"/>

                                            </f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{caixaMB.tipoCaixaPai}">
                                                    <f:selectItem itemLabel="Financeiro" itemValue="Financeiro" />
                                                    <f:selectItem itemLabel="Repasse" itemValue="Repasse" />
                                                    <p:ajax event="change" listener="#{caixaMB.atualizarCaixa(cp)}"  />
                                                </p:selectOneMenu>

                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Saldo Anterior" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" >
                                        <h:outputText value="#{cp.saldoAnterior}">
                                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                        </h:outputText> 
                                    </p:column>
                                    <p:column headerText="Saldo" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" >
                                        <h:outputText value="#{cp.saldo}">
                                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                        </h:outputText> 
                                    </p:column>
                                    <p:column headerText="Usuário" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" >
                                        <h:outputText value="#{cp.idUsuario.usuario}"/>
                                    </p:column>
                                    <p:column headerText="Situação" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" >
                                        <h:outputText value="#{cp.situacao}"/>
                                    </p:column>
                                    <p:column headerText="" width="3%" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" rendered="#{sessaoMB.usuario.idPapel.reabrirfecharcaixa}"  >
                                        <p:rowEditor rendered="#{!caixaMB.verificaDatas(cp.dtCaixaPai)}" />
                                    </p:column>
                                    <p:column headerText="Controle" width="20%" style="#{cp.situacao=='Fechado'?'background-color: #ffcccc;':'background-color: #ccffcc'}" rendered="#{sessaoMB.usuario.idPapel.reabrirfecharcaixa}"  >
                                        <p:commandButton id="btnReabrir" value="Reabrir" disabled="#{caixaMB.verificaDatas(cp.dtCaixaPai) or cp.situacao == 'Aberto'?'true':'false' }"  action="#{caixaMB.reabrirCaixaPai(cp)}" update="@form,:msg,:frmControles"/>
                                        <p:commandButton id="btnFechar" value="Fechar" disabled="#{cp.situacao != 'Fechado'?'false':'true'}" action="#{caixaMB.fecharCaixaPai(cp)}" update="@form,:msg,:frmControles"  />
                                    </p:column>

                                    <p:rowExpansion >
                                        <p:dataTable value="#{caixaMB.listarItensCaixaPorPai(cp)}" var="itens" >
                                            <p:column headerText="Operação">
                                                <h:outputText value="#{itens.idOperacao.descricao}" />
                                            </p:column>
                                            <p:column headerText="Data" width="15%">
                                                <h:outputText value="#{itens.dtCaixa}" >
                                                    <f:convertDateTime pattern="dd/MM/yyy HH:mm:ss"  />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Tipo" width="8%">
                                                <center> <h:outputText value="#{itens.tipoLancamento == 'C' ?'Crédito':'Débito'}" style="color: #{itens.tipoLancamento == 'C' ? 'green':'red'} " /></center>
                                            </p:column>
                                            <p:column headerText="Valor" width="10%">
                                                <h:outputText value="#{itens.valor}" style="color: #{itens.tipoLancamento == 'C' ? 'green':'red'} " >
                                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Histórico" >
                                                <h:outputText value="#{itens.historico}" style="font-size: 8px;" />
                                            </p:column>
                                            <p:column headerText="Status">
                                                <h:outputText value="#{itens.status}"  />
                                            </p:column>
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>

                            </h:form>
                        </b:column>
                    </b:row>
                    <br/>
                </b:panel>
            </b:column>


            <p:dialog id="dlgAbertura" widgetVar="dlgAbertura" header="Abertura de Caixa" modal="true" resizable="false" draggable="false">
                <bcr:alertDanger  rendered="#{caixaMB.verificarCaixaAberto()}" Titulo="Atenção!" Descricao="Existe um caixa aberto para este usuário. Favor feche-o." />
                <h:form id="frmAbrirCaixa" rendered="#{!caixaMB.verificarCaixaAberto()}">
                    <b:column span="6">
                        <h:outputText value="Tipo de Caixa" />
                        <p:selectOneMenu value="#{caixaMB.caixaPai.tipoCaixa}" styleClass="form-control" style="width: 100%" >
                            <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                            <f:selectItem itemLabel="Financeiro" itemValue="Financeiro" />
                            <f:selectItem itemLabel="Repasse" itemValue="Repasse" />
                        </p:selectOneMenu>
                    </b:column>
                    <b:column span="6">
                        <h:outputText value="Data Abertura" />
                        <p:calendar value="#{caixaMB.caixaPai.dtCaixaPai}" pattern="dd/MM/yyyy" mask="99/99/9999" mindate="today" maxdate="today"  locale="pt" readonlyInput="true"/>
                    </b:column>
                    <b:column span="12">
                        <hr/>
                        <p:commandButton value="Abrir" action="#{caixaMB.abrirCaixa()}" update=":msg,:frmDatatable,:frmControles, " ajax="false"  oncomplete="PF('dlgAbertura').hide()"/>
                    </b:column>
                </h:form>
            </p:dialog>


            <p:dialog widgetVar="dlgFechamento" header="Fechamento de Caixa" modal="true" resizable="false" draggable="false">
                <bcr:alertWarning Titulo="Atenção" Descricao="Ao confirmar o sistema efetuará o fechamento do caixa aberto!" />
                <bcr:alertWarning Titulo="Atenção" Descricao="Após o fechamento não poderá ser feita mais transações com o caixa!" />
                <h:form id="frmFecharCaixa" >
                    <bcr:alertDanger Titulo="Atenção" Descricao="Você confirma o fechamento do caixa?" />
                    <center>
                        <h:panelGrid columns="2">
                            <p:commandButton value="Sim" styleClass="btn"  icon="check16" action="#{caixaMB.fehcarCaixa()}" ajax="false" oncomplete="PF('dlgFechamento').hide()"/>
                            <p:commandButton value="Não" styleClass="btn"  icon="cancel16" oncomplete="PF('dlgFechamento').hide()" action="#{caixaMB.novo()}" update="@all"/>
                        </h:panelGrid>
                    </center>
                </h:form>
            </p:dialog>
        </b:row>
    </body>
</html>
