<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >

        <h:form id="frmDatatable">
            <b:row>
                <b:column span="3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Ontem</span>
                            <h5>Saldo Anterior</h5>
                        </div>
                        <div class="ibox-content">
                            <h:outputText styleClass="h4 no-margins" value="#{caixaMB.caixaAtual.saldoAnterior}">
                                <f:convertNumber type="currency" />
                            </h:outputText>
                            <div class="stat-percent font-bold text-success"> <i class="fa fa-bolt"></i></div>
                        </div>
                    </div>
                </b:column>

                <b:column span="3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-danger pull-right">Débitos</span>
                            <h5>Saídas</h5>
                        </div>
                        <div class="ibox-content">
                            <h:outputText styleClass="h4 no-margins" value="#{caixaMB.totalDebitosAtual}">
                                <f:convertNumber type="currency" />
                            </h:outputText>
                            <div class="stat-percent font-bold text-danger"> <i class="fa fa-level-down"></i></div>
                        </div>
                    </div>
                </b:column>
                <b:column span="3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Créditos</span>
                            <h5>Entradas</h5>
                        </div>
                        <div class="ibox-content">
                            <h:outputText styleClass="h4 no-margins" value="#{caixaMB.totalCreditosAtual}">
                                <f:convertNumber type="currency" />
                            </h:outputText>
                            <div class="stat-percent font-bold text-navy"><i class="fa fa-level-up"></i></div>
                        </div>
                    </div>
                </b:column>
                <b:column span="3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Saldo</h5>
                        </div>
                        <div class="ibox-content">
                            <h:outputText styleClass="h4 no-margins" value="#{caixaMB.totalCreditosAtual - caixaMB.totalDebitosAtual }">
                                <f:convertNumber type="currency" />
                            </h:outputText>
                            <div class="stat-percent font-bold text-success"> <i class="fa fa-bolt"></i></div>
                        </div>
                    </div>  
                </b:column>
            </b:row>
            <hr/>
            <p:dataTable id="tblItensCaixa"  value="#{caixaMB.listarItensCaixaAtual()}" var="itm" emptyMessage="Nenhum Lançamento Para Este Caixa" rows="10"
                         paginator="true" styleClass="table-responsive"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,25,50,100" >
                <f:facet name="header">
                    Movimentos de Caixas Anteriores
                </f:facet>
                <p:column style="width:32px" rendered="#{caixaMB.caixaAtual.tipoCaixa=='Repasse'?'true':'false'}">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="Histórico" > 
                    <h:outputText value="#{itm.historico}" style="font-size: 8px;"  />
                </p:column>
                <p:column headerText="Data Movimento"  width="13%">
                    <h:outputText value="#{itm.dtCaixa}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" width="10%" >
                    <h:outputText value="#{itm.valor}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Tipo" width="5%" >
                    <center>
                        <h:outputText styleClass="#{itm.tipoLancamento == 'D' ?'label label-danger pull-right':'label label-primary pull-right'}" value="#{itm.tipoLancamento}" />
                    </center>
                </p:column>
                <p:column headerText="Operação" styleClass="hidden-phone" >
                    <h:outputText  value="#{itm.idOperacao.descricao}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Lote" width="10%" rendered="#{caixaMB.caixaAtual.tipoCaixa=='Repasse'?'false':'true'}" >
                    <h:outputText value="#{itm.numLote}"/>
                </p:column>
                <p:column headerText="Status" width="10%" rendered="#{caixaMB.caixaAtual.tipoCaixa=='Repasse'?'false':'true'}" >
                    <h:outputText value="#{itm.status}"/>
                </p:column>
                <p:column headerText="Situação" width="10%" >
                    <h:outputText value="#{itm.situacao}"/>
                </p:column>
                <p:column headerText="Liberado" width="5%" >
                    <center><h:outputText value="#{itm.liberado}"/></center>
                </p:column>
                <p:column headerText="Ação" width="9%" rendered="#{caixaMB.caixaAtual.tipoCaixa =='Repasse'? 'true':'false'}" >
                    <p:commandButton id="btnLiberar" value="Liberar" disabled="#{itm.liberado=='N'?'false':'true'}" action="#{caixaMB.LiberarRecebimento(itm)}" update=":msg, @this, :frmDatatable, :tabs:frmDatatable:tblItensCaixa" />
                </p:column>
                <p:rowExpansion>
                    <p:dataTable value="#{caixaMB.pesquisarItensDoCaixa(caixaMB.caixaAtual, itm.numLote)}" var="itm2">
                        <p:column headerText="Terceiro"  >
                            <h:outputText value="#{itm2.idRepasse.idTerceiro.nome}"/>
                        </p:column>
                        <p:column headerText="Cirurgia" >
                            <h:outputText value="#{itm2.idCirurgia.idCirurgia}"/>
                        </p:column>
                        <p:column headerText="Repasse" >
                            <h:outputText value="#{itm2.idCirurgia.idCirurgia}"/>
                        </p:column>
                        <p:column headerText="Parcela" >
                            <h:outputText value="#{itm2.idRepasse.numeroParcela}"/>
                        </p:column>
                        <p:column headerText="Valor" >
                            <h:outputText value="#{itm2.idRepasse.valorDocumento}">
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Status" >
                            <h:outputText value="#{itm2.status}"/>
                        </p:column>
                        <p:column headerText="Vencimento">
                            <h:outputText value="#{itm2.idRepasse.dtVencimento}" >
                                <f:convertDateTime pattern="dd-MM-yyyy"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>
        </h:form>
    </body>
</html>
