<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >
        <ul class="nav nav-tabs">
            <li id="liSecA" class="active"><a data-toggle="tab" href="#sectionA">Consultar</a></li>
            <li id="liSecB" class=""><a data-toggle="tab" href="#sectionB">Saques / Estornos</a></li>
        </ul>
        <script>
            function mudaClasse(){
                $("#liSecA").removeClass("active"); //colocar id no li onde referencia o links
                $("#sectionA").removeClass("in active"); // id da tab no caso retira da que fica ativa primeiro
                $("#liSecB").addClass("active");
                $("#sectionB").addClass("in active");
                document.getElementById('tblPrincipal:nome').focus();
            }
        </script>
        <br/>
        <b:row>
            <b:column span="12">
                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <h:form id="frmPesquisaContaCorrente">
                            <b:column id="cln12" span="12">
                                <bcr:alertDanger rendered="#{!caixaMB.verificaCaixaAbertoDataAtual()}" Titulo="Atenção!" Descricao="Faça a abertura do caixa para que possa fazer as transações. Vá em Movimentação > Financeiro > Controle de Caixas" />
                                <b:row id="row1">
                                    <b:column span="3">
                                        <h:outputText value="Filtrar por: " />
                                        <p:selectOneMenu id="filtros" value="#{contaCorrenteMB.filtros}" styleClass="form-control">
                                            <f:selectItem itemLabel="Dt. Lançamento" itemValue="A" />
                                            <f:selectItem itemLabel="Dt. Estorno" itemValue="C" />                                                
                                            <f:selectItem itemLabel="Todos" itemValue="D" />
                                            <p:ajax event="change" update="row1"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column id="col1" span="2" rendered="#{contaCorrenteMB.filtros == 'A' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                        <h:outputText value="Lançamentos de" />
                                        <p:calendar  value="#{contaCorrenteMB.pdtINILancamento}" locale="pt" pattern="dd/MM/yyyy" />
                                    </b:column>
                                    <b:column id="col2" span="2" rendered="#{contaCorrenteMB.filtros == 'A' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                        <h:outputText value="até" />
                                        <p:calendar  value="#{contaCorrenteMB.pdtFIMLancamento}"   locale="pt" pattern="dd/MM/yyyy" />
                                    </b:column>
                                    <b:column id="col3" span="2" rendered="#{contaCorrenteMB.filtros == 'B' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                        <h:outputText value="Estornos de" />
                                        <p:calendar  value="#{contaCorrenteMB.pdtINIEstorno}"  locale="pt" pattern="dd/MM/yyyy"/>
                                    </b:column>
                                    <b:column id="col4" span="2" rendered="#{contaCorrenteMB.filtros == 'B' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                        <h:outputText value="até" />
                                        <p:calendar  value="#{contaCorrenteMB.pdtFIMEstorno}"   locale="pt" pattern="dd/MM/yyyy" />
                                    </b:column> 
                                    <b:column span="3">
                                        <h:outputText value="Situação" />
                                        <p:selectOneMenu id="situacao" value="#{contaCorrenteMB.psituacao}" styleClass="form-control">
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItem itemLabel="Liberado" itemValue="Liberado" />
                                            <f:selectItem itemLabel="Não Liberado" itemValue="Não Liberado" />
                                            <f:selectItem itemLabel="Compensado" itemValue="Compensado" />
                                            <f:selectItem itemLabel="Não Compensado" itemValue="Não Compensado" />     
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>
                                <b:row id="row2">
                                    <b:column span="3">
                                        <bcr:outputrequired value="Médico" />
                                        <h:panelGrid columns="2" style="width: 100% !important;">
                                            <p:selectOneMenu id="terceiro" value="#{contaCorrenteMB.terceiro}" converter="Converter" style="text-transform: capitalize" styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Selecione um médico.">
                                                <f:selectItem itemLabel="Selecione um médico" itemValue="" />
                                                <f:selectItems value="#{contaCorrenteMB.listaTerceiros()}"  var="terc"
                                                               itemLabel="#{terc.nome}" itemValue="#{terc}" />
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column span="2">
                                        <h:outputText value="Tipo" />
                                        <p:selectOneMenu id="tipo" value="#{contaCorrenteMB.credDeb}" styleClass="form-control">
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItem itemLabel="Crédito" itemValue="C" />
                                            <f:selectItem itemLabel="Débito" itemValue="D" />                                                       
                                            <p:ajax event="change" update="row2"/>
                                        </p:selectOneMenu>
                                    </b:column>

                                    <b:column span="2">
                                        <h:outputText value="Status" />
                                        <p:selectOneMenu id="status" value="#{contaCorrenteMB.pstatus}" styleClass="form-control">
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'C' ? 'true' : 'false'}" itemLabel="Retirado" itemValue="Retirado" />
                                            <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'C' ? 'true' : 'false'}" itemLabel="Não Retirado" itemValue="Não Retirado" />
                                            <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'D' ? 'true' : 'false'}" itemLabel="Pago" itemValue="Pago" />
                                            <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'D' ? 'true' : 'false'}" itemLabel="Não Pago" itemValue="Não Pago" />
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>

                                <b:row>
                                    <b:column span="12">
                                        <br/>
                                        <p:commandButton id="trg" icon="consultar" styleClass="btn"  update=":msg, :tabs:frmTable" value="Pesquisar" action="#{contaCorrenteMB.pesquisarContaCorrente()}"/>
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                        <h:form id="frmTable">
                            <b:column span="12">
                                <hr/>
                                <p:dataTable id="dtlCC" value="#{contaCorrenteMB.listaContaCorrente}" var="conta"
                                             selection="#{contaCorrenteMB.listaContaSelecionados}" rowKey="#{conta.idContaCorrente}" 
                                             disabledSelection="#{conta.status == 'Retirado' || conta.situacao == 'Não Liberado'}"         
                                             paginator="true" rows="5">
                                    <p:column selectionMode="multiple" width="12%" style="width:8px; text-align:center;" />
                                    <p:column headerText="Nº" width="10%" >
                                        <center><h:outputText value="#{conta.idContaCorrente}" style="font-size: 10px" /></center>
                                    </p:column>
                                    <p:column headerText="Repasse" width="20%" >
                                        <h:outputText value="#{conta.idRepasse.idRepasse}" />
                                    </p:column>
                                    <p:column headerText="Exame" width="15%">
                                        <h:outputText value="#{conta.idExame.idExame}" />
                                    </p:column>
                                    <p:column headerText="Situação" width="20%" >
                                        <h:outputText value="#{conta.situacao}"/>
                                    </p:column>
                                    <p:column headerText="Status" width="30%" >
                                        <h:outputText value="#{conta.status}"/>
                                    </p:column>
                                    <p:column headerText="Tipo" width="10%" >
                                        <center> <h:outputText value="#{conta.tipo}" style="color: #{conta.tipo == 'C'? 'blue': conta.tipo == 'E' ? 'green' : conta.tipo == 'S' ? 'green' : 'red'} ;" /></center>
                                    </p:column>
                                    <p:column headerText="Histórico" width="53%"  >
                                        <h:outputText value="#{conta.observacao}" style="font-size: 10px"/>
                                    </p:column>

                                    <p:column headerText="Lançado" width="25%" >
                                        <h:outputText value="#{conta.dtLancamento}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Estorno" width="25%" >
                                        <h:outputText value="#{conta.dtEstorno}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Retirada" width="25%" >
                                        <h:outputText value="#{conta.dtRetirada}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Valor" width="25%" >
                                        <h:outputText value="#{conta.valor}" style="color: #{conta.tipo == 'C'? 'blue': conta.tipo == 'E' ? 'green' : conta.tipo == 'S' ? 'green' : 'red'}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <f:facet name="footer">
                                        <p:commandButton id="retoPagar" process="dtlCC" action="#{contaCorrenteMB.retornaValorAPagar()}" styleClass="btn" update=":tabs:frmTable:selecionados" icon="ui-button-icon-left ui-icon ui-c confirmar" value="Pagar" disabled="#{contaCorrenteMB.listaContaSelecionados.size() > 0}" oncomplete="PF('dlgSelecionados').show()" />                                            
                                    </f:facet>
                                </p:dataTable>
                                <hr/>
                                <b:column span="4" >
                                </b:column>
                                <b:column span="4" >
                                    <b:panel id="totaisCreditos" title="Recebíveis" look="panel panel-info" >
                                        <h:panelGrid columns="2" style="width: 100% !important;" >
                                            <h:outputText value="Não Liberado "/>
                                            <h:outputText value="#{contaCorrenteMB.naoLiberado}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </h:panelGrid>
                                        <br/>
                                        <h:panelGrid columns="2" style="width: 100% !important;" >
                                            <h:outputText value="Liberado: " />
                                            <h:outputText value="#{contaCorrenteMB.liberado}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                            <h:outputText value="Retirado:"/>
                                            <h:outputText value="#{contaCorrenteMB.retirado}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                            <h:outputText value="Não Retirado" />
                                            <h:outputText value="#{contaCorrenteMB.naoRetirado}" style="color: green; font-weight: bold; text-align: end">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </h:panelGrid>
                                    </b:panel>
                                </b:column>
                                <b:column span="4" >
                                    <b:panel id="totaisGerais" title="Totais" look="panel panel-primary" >
                                        <h:panelGrid columns="2" style="width: 100% !important;" >
                                            <h:outputText value="Saldo Anterior: " />
                                            <h:outputText value="#{contaCorrenteMB.saldoAnterior}" style="color: black;">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                            <h:outputText value="Saldo a Pagar: "/>
                                            <h:outputText value="#{contaCorrenteMB.debito}" style="color: #ed5565; text-align: end">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                            <h:outputText value="Saldo a Receber: "/>
                                            <h:outputText value="#{contaCorrenteMB.credito}" style="color: #23c6c8; text-align: end">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                            <h:outputText value="Saldo Atual: "/>
                                            <h:outputText value="#{contaCorrenteMB.saldoFinal}" style="color: #{contaCorrenteMB.saldoFinal > 0 ? '#428bca':'#ed5565'}; font-weight: bold; text-align: end">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                            <h:outputText value="Saldo a receber: "/>
                                            <h:outputText value="#{contaCorrenteMB.naoRetirado}" style="color: #{contaCorrenteMB.saldoFinal > 0 ? 'green':'red'}; font-weight: bold; text-align: end">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </h:panelGrid>
                                    </b:panel>
                                </b:column>
                                <p:dialog header="Recebíveis selecionados" widgetVar="dlgSelecionados" modal="true" width="50%" resizable="false" closeOnEscape="true">
                                    <p:outputPanel id="selecionados">
                                        <fieldset>
                                            <legend>Itens</legend>
                                            <ui:repeat value="#{contaCorrenteMB.listaContaSelecionados}" var="conta">
                                                <h:panelGrid columns="2" style="width: 100% !important;"  >
                                                    <h:outputText  value="#{conta.observacao}" />
                                                    <h:outputText value="#{conta.valor}" style="font-weight: bolder">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                            </ui:repeat>
                                        </fieldset>
                                        <br/>
                                        <b:column span="4">
                                            <h:outputText value="Total:  "  style="font-size: 15px; font-weight: bolder"/>
                                            <h:outputText id="totalselecionados" value="#{contaCorrenteMB.totalSelecionado}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </b:column>
                                        <br/>
                                        <br/>
                                        <b:column span="12">
                                            <center>
                                                <p:commandButton id="btnPagar" update=":msg, :tabs:frmTable, :tabs:frmPesquisaContaCorrente" value="Pagar" icon="ui-button-icon-left ui-icon ui-c confirmar" actionListener="#{contaCorrenteMB.pagarSelecionados()}">
                                                    <p:confirm header="Confirmação" message="Sacar selecionados?" icon="ui-icon-check"  />
                                                </p:commandButton> 
<!--                                                <p:blockUI trigger="btnPagar" block=":tabs"  >
                                                    <bcr:alertWarning Titulo="Atenção! " Descricao="Pesquisando..." />
                                                    <img src="Recursos/img/generated-image.gif" />
                                                </p:blockUI>-->
                                            </center>
                                        </b:column>


                                        <p:confirmDialog global="true">
                                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>
                                    </p:outputPanel>
                                </p:dialog>
                            </b:column>
                        </h:form>
                    </div>
                    <div id="sectionB" class="tab-pane fade" >
                        <br/>
                        <h:form id="pesquisaSaques">
                            <b:column id="cln12" span="12">
                                <b:row id="row1">
                                    <b:column span="3">
                                        <h:outputText value="Médico" />
                                        <h:panelGrid columns="2" style="width: 100% !important;">
                                            <p:selectOneMenu id="terceiro" value="#{contaCorrenteMB.terceiro}" onchange="#{contaCorrenteMB.setarDatas('Retirada')}" converter="Converter" style="text-transform: capitalize" styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Selecione um médico.">
                                                <f:selectItem itemLabel="Selecione um médico" itemValue="" />
                                                <f:selectItems value="#{contaCorrenteMB.listaTerceiros()}"  var="terc"
                                                               itemLabel="#{terc.nome}" itemValue="#{terc}" />
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </b:column>

                                    <b:column id="col5" span="2" >
                                        <h:outputText value="Retiradas de"  />
                                        <p:calendar value="#{contaCorrenteMB.pdtINIRetirada}"  locale="pt" pattern="dd/MM/yyyy"/>
                                    </b:column>
                                    <b:column id="col6" span="2">
                                        <h:outputText value="até" />
                                        <p:calendar  value="#{contaCorrenteMB.pdtFIMRetirada}"   locale="pt" pattern="dd/MM/yyyy" />
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <br/>
                                        <p:commandButton id="trg" icon="consultar" styleClass="btn btn-primary"  update=":msg, :tabs:formSaques" value="Pesquisar" action="#{contaCorrenteMB.pesquisarSaque()}"/>
<!--                                        <p:blockUI trigger="trg" block="cln12"  >
                                            <bcr:alertWarning Titulo="Atenção! " Descricao="Pesquisando..." />
                                            <img src="Recursos/img/generated-image.gif" />
                                        </p:blockUI>-->
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                        <h:form id="formSaques">
                            <b:column span="12">
                                <hr/>
                                <p:dataTable id="dtlSaque" value="#{contaCorrenteMB.listaSaque}" var="conta" selection="#{contaCorrenteMB.listaContaSelecionados}" disabledSelection="#{conta.tipo == 'E'}" rowKey="#{conta.idContaCorrente}"
                                             paginator="true" rows="5">
                                    <p:column selectionMode="multiple" width="12%" style="width:8px; text-align:center;" />
                                    <p:column headerText="Nº" width="10%" >
                                        <center><h:outputText value="#{conta.idContaCorrente}" style="font-size: 10px" /></center>
                                    </p:column>
                                    <p:column headerText="Situação" width="20%" >
                                        <h:outputText value="#{conta.situacao}"/>
                                    </p:column>
                                    <p:column headerText="Tipo" width="10%" >
                                        <center> <h:outputText value="#{conta.tipo}" style="color: #{conta.tipo == 'E' ? 'blue':'red'};" /></center>
                                    </p:column>
                                    <p:column headerText="Histórico" width="53%"  >
                                        <h:outputText value="#{conta.observacao}" style="font-size: 10px"/>
                                    </p:column>
                                    <p:column headerText="Lançado" width="15%" >
                                        <h:outputText value="#{conta.dtLancamento}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Estorno" width="15%" >
                                        <h:outputText value="#{conta.dtEstorno}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Valor" width="25%" >
                                        <h:outputText value="#{conta.valor}" style="color: #{conta.tipo == 'E' ? 'blue':'red'};" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Itens" width="25%" >
                                        <p:commandButton id="btnestorno" action="#{contaCorrenteMB.estornarSaque()}" disabled="#{conta.situacao == 'Estornado' || conta.tipo == 'E' }" update=":msg, :tabs:formSaques" icon="ui-button-icon-left ui-icon ui-c confirmar" value="Estornar" >                                            
                                            <p:confirm header="Confirmação" message="Estornar o saque selecionado?" icon="ui-icon-check"  />
                                        </p:commandButton>    
<!--                                        <p:blockUI trigger="btnestorno" block=":Tabs"  >
                                            <bcr:alertWarning Titulo="Atenção! " Descricao="Estornando..." />
                                            <img src="Recursos/img/generated-image.gif" />
                                        </p:blockUI>-->
                                        <p:confirmDialog global="true" id="dlgEstorno">
                                            <p:commandButton value="Sim" id="btnConfirmEstornar" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>
<!--                                        <p:blockUI trigger="btnConfirmEstornar" block="dlgEstorno"  >
                                            <bcr:alertWarning Titulo="Atenção! " Descricao="Estornando..." />
                                            <img src="Recursos/img/generated-image.gif" />
                                        </p:blockUI>-->
                                    </p:column>
                                    <f:facet name="footer">
                                        <p:commandButton process="dtlSaque" action="#{contaCorrenteMB.pesquisarItensSaque()}" update=":tabs:formSaques:selecionados" icon="ui-icon-search" value="Detalhar" oncomplete="PF('dlgItensSaques').show()" />
                                    </f:facet>
                                </p:dataTable>
                                <hr/>

                            </b:column>
                            <b:column span="4" >
                            </b:column>
                            <b:column span="4" >
                            </b:column>
                            <b:column span="4" >
                                <b:panel id="totaisDebitos" title="Saldo" look="panel panel-primary" >
                                    <h:panelGrid columns="2" style="width: 100% !important;" >
                                        <h:outputText value="Saques: " style="color: red"/>
                                        <h:outputText value="#{contaCorrenteMB.saque}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                        <h:outputText value="Estornados: " style="color: blue"/>
                                        <h:outputText value="#{contaCorrenteMB.estorno}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </h:panelGrid>
                                </b:panel>
                            </b:column>
                            <p:dialog header="Itens do saque" widgetVar="dlgItensSaques" modal="true" width="50%" resizable="false" closeOnEscape="true">
                                <p:outputPanel id="selecionados">
                                    <ui:repeat value="#{contaCorrenteMB.listaItensSaque}" var="itens">
                                        <h:panelGrid columns="2" style="width: 100% !important;"  >
                                            <h:outputText value="#{itens.observacao}" />
                                            <h:outputText value="#{itens.valor}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </h:panelGrid>
                                    </ui:repeat>
                                    <hr/>
                                    <h:panelGrid columns="2" style="width: 100% !important;" >
                                        <h:outputText value="Total:  " />
                                        <h:outputText id="totalselecionados" value="#{contaCorrenteMB.totalItensSaque}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </h:panelGrid>
                                </p:outputPanel>
                            </p:dialog>
                        </h:form>
                    </div>
                </div>
            </b:column>
        </b:row>
    </body>
</html>
