<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >
        <h:form id="frmPendencias">
            <p:dataTable value="#{caixaMB.listarItensCaixaAtualPendencia()}" var="itm" emptyMessage="Nenhum Lançamento Para Este Caixa" rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,25,50,100" >
                <f:facet name="header">
                    Movimentos de Caixas Anteriores
                </f:facet>
                <p:column headerText="Histórico" >
                    <h:outputText value="#{itm.historico}" style="font-size: 8px;"  />
                </p:column>
                <p:column headerText="Data Movimento"  width="13%">
                    <h:outputText value="#{itm.dtCaixa}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" width="10%" >
                    <h:outputText value="#{itm.valor}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Tipo" width="5%" >
                    <center>
                        <h:outputText styleClass="#{itm.tipoLancamento == 'D' ?'label label-danger pull-right':'label label-primary pull-right'}" value="#{itm.tipoLancamento}" />
                    </center>
                </p:column>
                <p:column headerText="Operação"  >
                    <h:outputText  value="#{itm.idOperacao.descricao}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Lt" width="10%" >
                    <h:outputText  value="#{itm.numLote}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Lt Origem" width="10%"  >
                    <h:outputText  value="#{itm.loteOrigem}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Status" width="10%" >
                    <h:outputText value="#{itm.status}"/>
                </p:column>
                <p:column headerText="Controle"  width="18%"  >
                    <p:commandButton value="Aceitar" rendered="#{itm.situacao=='Aguardando'?'true':'false'}" action="#{caixaMB.aceitarPendencia(itm)}" ajax="false"/>
                    <p:commandButton value="Recusar" rendered="#{itm.situacao=='Aguardando'?'true':'false'}" action="#{caixaMB.recusarPendencia(itm)}" ajax="false" />
                </p:column>
            </p:dataTable>
        </h:form>
    </body>
</html>
