<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >
        <b:row>
            <b:column span="12" id="clnRecebimentos">
                <h:form id="frmConsultarRecebimentos">
                    <b:column span="12">
                        <fieldset>
                            <legend><i class="fa fa-search"></i> Pesquisar</legend>
                            <b:column span="2">
                                <p:inputText placeholder="Nº Cirurgia" value="#{repasseMB.numCirurgia}" styleClass="form-control"/>
                            </b:column>
                            <b:column span="2" >
                                <p:calendar  placeholder="Data Inicial"  value="#{repasseMB.dtIni}" pattern="yyyy-MM-dd" locale="pt"   requiredMessage="Informe a data inicial">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </p:calendar>

                            </b:column>
                            <b:column span="2">
                                <p:calendar  placeholder="Data Final"  value="#{repasseMB.dtFim}"  pattern="yyyy-MM-dd" locale="pt"  requiredMessage="Informe a data final!">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </p:calendar>
                            </b:column>
                            <b:column span="4">
                                <p:selectOneMenu  style="width: 100%" styleClass="form-control" value="#{repasseMB.idPac}" filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="Paciente" itemValue="" />
                                    <f:selectItems value="#{repasseMB.listaPacientes()}" var="pacs"
                                                   itemLabel="#{pacs.nome} | #{pacs.cpf}" itemValue="#{pacs.idPaciente}" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="12">
                                <h:panelGrid columns="2">
                                    <p:commandButton id="btnConsultar" value="Pesquisar" icon="consultar"  actionListener="#{repasseMB.processarListaRecebimentos()}"  update="tblPesq, :msg"  />
                                    <p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
                                        <f:facet name="start">
                                            <img src="Recursos/img/launch_loading.gif" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <p:blockUI block=":tabs"  trigger="btnConsultar"  >
                                        <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                    </p:blockUI>
                                </h:panelGrid>
                            </b:column>
                        </fieldset>
                    </b:column>

                    <b:column span="12" styleClass="total">
                        <br/>
                        <p:dataTable id="tblPesq" value="#{repasseMB.listaRepasses}" var="wPesq" emptyMessage="Pesquise a conta que deseja receber!" >
                            <f:facet name="header">
                                Registros encontrados: #{repasseMB.listaRepasses.size()}
                            </f:facet>
                            <p:column  width="8%" headerText="Receber?" >
                                <p:selectBooleanButton id="value2" value="#{wPesq.pagar}" onLabel="Sim" offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" style="width:60px">
                                    <p:ajax update="tblPesq" event="change" listener="#{repasseMB.verificarMarcados()}" />
                                </p:selectBooleanButton>
                            </p:column>
                            <p:column headerText="Cirurgia" width="7%">
                                <!--<p:column selectionMode="multiple" style="width:16px;text-align:center"/>-->
                                <center> <h:outputText value="#{wPesq.idCirurgia.idCirurgia}" /></center>
                            </p:column>
                            <p:column headerText="Paciente">
                                <h:outputText value="#{wPesq.idPaciente.nome}" />
                            </p:column>
                            <p:column headerText="Parcela" width="8%">
                                <center> <h:outputText value="#{wPesq.numeroParcela}" /></center>
                            </p:column>
                            <p:column headerText="Valor" width="10%">
                                <center>
                                    <h:outputText value="#{wPesq.valor}" >
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Lançamento" width="10%">
                                <center>
                                    <h:outputText value="#{wPesq.dtLancamento}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Vencimento" width="10%">
                                <center>
                                    <h:outputText value="#{wPesq.dtVencimento}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Situação">
                                <h:outputText value="#{wPesq.situacaoPaciente=='A'?'Aberto':wPesq.situacaoPaciente=='X'?'Parcialmente Pago':'Pago'}" />
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column colspan="3" style="text-align:right" footerText="Total a receber: " />
                                    <p:column colspan="3" footerText="#{repasseMB.formataMoeda(repasseMB.valorTotalPgto)}" style="color: #006621;" />
                                </p:row>
                            </p:columnGroup>
                            <f:facet name="footer" >
                                <p:commandButton id="btnConfirmar"  icon="confirmar"  value="Receber"  update=":tabs:frmConfirmarRecebimento, :tabs:transferencias" action="#{repasseMB.carregaValores(repasseMB.valorTotalPgto)}" oncomplete="PF('dlgConfimacao').show()" />
                                <p:blockUI block=":tabs"  trigger="btnConfirmar"  >
                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                </p:blockUI>
                            </f:facet>
                        </p:dataTable>
                    </b:column>
                </h:form>

                <p:dialog id="dlgRecebimentoDocs" widgetVar="dlgConfimacao" header="Recebimento de Documentos" modal="true" width="65%" resizable="false" closeOnEscape="true"    >
                    <h:form id="frmConfirmarRecebimento" >
                        <div class="row">
                            <b:column id="clnWarning" span="12">
                                <br/>
                                <bcr:alertWarning rendered="#{repasseMB.percentualTotal != 100?'true':'false'}" Titulo="Atenção!" Descricao="Você não está efetuando o pagamento do valor total dos documentos ! Neste caso será gerada uma nova parcela do restante do valor deste documento." />
                            </b:column> 
                            <b:column span="12">
                                <fieldset >
                                    <legend style="width: 30%; margin-bottom: 0px !important;">Informe os dados</legend>
                                    <b:row>
                                        <b:column span="3">
                                            <bcr:outputrequired value="Valor Recebido:"  />
                                            <p:inputText value="#{repasseMB.valor_recebido}" styleClass="form-control" required="true" requiredMessage="Informe o valor recebido" >
                                                <p:ajax event="blur" listener="#{repasseMB.calcularPercentual()}" update="percentual,@this,clnWarning" />
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />

                                            </p:inputText>
                                        </b:column>
                                        <b:column span="3">
                                            Desconto:  
                                            <p:inputText value="#{repasseMB.desconto}"  styleClass="form-control" >
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                <p:ajax update="@this" event="blur"/>
                                            </p:inputText>
                                        </b:column>
                                        <b:column span="2">
                                            Acréscimo:  
                                            <p:inputText value="#{repasseMB.acrescimo}"  styleClass="form-control" >
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                <p:ajax update="@this" event="blur"/>
                                            </p:inputText>
                                        </b:column>
                                        <b:column span="2">
                                            Juros:  
                                            <p:inputText value="#{repasseMB.juros}"  styleClass="form-control" >
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                <p:ajax update="@this" event="blur"/>
                                            </p:inputText>
                                        </b:column>
                                        <b:column span="2">
                                            % Pago:  
                                            <p:inputText id="percentual" value="#{repasseMB.percentualTotal}" readonly="true"  styleClass="form-control" >
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                            </p:inputText>
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column span="3">
                                            <bcr:outputrequired value="Data e Hora:"  />
                                            <p:calendar value="#{repasseMB.dt_recebimento}" pattern="dd/MM/yyyy HH:mm:ss" locale="pt" required="true" requiredMessage="Informe a data de recebimento"/>
                                        </b:column>

                                        <b:column span="5">
                                            <bcr:outputrequired value="Operação"  />
                                            <p:selectOneMenu value="#{repasseMB.operacao.idOperacao}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Informe a operação da movimentação">
                                                <f:selectItem itemLabel="Selecione uma operação" itemValue="" />
                                                <f:selectItems value="#{repasseMB.listaDeOperacoes()}" var="ops" 
                                                               itemLabel="#{ops.descricao}" itemValue="#{ops.idOperacao}"  />
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="3" styleClass="unir">
                                            <bcr:outputrequired value="Tipo de Pagamento"  />
                                            <p:selectOneMenu value="#{repasseMB.formaPagamento}" style="width: 100% !important;" styleClass="form-control">
                                                <f:selectItem itemLabel="Meio de pagamento" itemValue="" />
                                                <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                                <f:selectItem itemLabel="Cheque"   itemValue="Cheque" />
                                                <f:selectItem itemLabel="Cartão"   itemValue="Cartão" />
                                                <p:ajax update="lancarCheque" event="change"/>
                                            </p:selectOneMenu>
                                        </b:column>
                                        <br/>
                                        <p:commandButton id="lancarCheque" style="height: 35px !important" styleClass="btn btn-primary" icon="add" action="#{repasseMB.carregaValoresCheque()}" disabled="#{repasseMB.formaPagamento == 'Cheque' ? 'false' : 'true'}" oncomplete="PF('dlgLancarCheque').show()" />
                                    </b:row>
                                    <b:row>
                                        <b:column span="12">
                                            Observação:  
                                            <p:inputTextarea id="Obs" value="#{repasseMB.obs}" styleClass="form-control" autoResize="false" rows="1" >
                                            </p:inputTextarea>
                                        </b:column>
                                    </b:row>
                                </fieldset>
                            </b:column>
                        </div>
                        <div class="row">
                            <b:column span="6">
                                <br/>
                                <fieldset>
                                    <legend style="width: 30%; margin-bottom: 0px;">Totais</legend>
                                    <h:panelGrid columns="2" style="width: 100%">
                                        <h:outputText value="Valor Itens: " style="font-weight: bolder; font-size: 16px;" />
                                        <h:outputText value="#{repasseMB.valorTotalPgto}" style="font-weight: bolder; font-size: 16px;" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </h:panelGrid>
                                </fieldset>
                            </b:column>
                            <b:column span="6" rendered="#{repasseMB.listaCheque.size() > 0 ? 'true' : 'false'}">
                                <br/>
                                <fieldset>
                                    <legend style="width: 30%; margin-bottom: 0px;">Cheques</legend>
                                    <p:dataTable value="#{repasseMB.listaCheque}" var="cheque" >
                                        <p:column headerText="Núm.Cheque" width="30%">
                                            <h:outputText value="#{cheque.numeroCheque}"  />
                                        </p:column>
                                        <p:column headerText="Data a Compensar" width="30%">
                                            <h:outputText value="#{cheque.dtCompensacaoVencimento}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Valor" width="40%">
                                            <h:outputText value="#{cheque.valor}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </p:column>
                                        <f:facet name="footer"  >
                                            <h:outputText value="Valor total: " style="font-size: 14px"/>
                                            <h:outputText id="valorTotal" value="#{repasseMB.valorTotal}" style="font-size: 14px">
                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                            </h:outputText>
                                        </f:facet>
                                    </p:dataTable>
                                </fieldset>
                            </b:column> 
                            <br/>
                            <b:column span="12">
                                <hr/>
                                <h:panelGrid columns="2">
                                    <p:commandButton id="btnConfirmarRecebimento" disabled="#{repasseMB.valorTotalPgto==0 ? 'true':'false'}" icon="confirmar" styleClass="btn" value="Confirmar" update=":tabs:frmConfirmarRecebimento, :msg,:tabs:frmConsultarRecebimentos:tblPesq, :tabs:frmDatatable, :tabs:frmConfirmarTransferencia, :tabs:transferencias"   action="#{repasseMB.ConfirmarRecebimento()}" oncomplete="if (!args.validationFailed){PF('dlgConfimacao').hide()}" >
                                        <f:param name="idUser" value="#{sessaoMB.usuario.idUsuario}" />
                                    </p:commandButton>
                                    <p:ajaxStatus style="display:block;margin-bottom:2em; margin-top: 8px; height:1px;" >
                                        <f:facet name="start">
                                            <h:panelGrid columns="2">
                                                <img src="Recursos/img/launch_loading.gif" />   
                                            </h:panelGrid>
                                        </f:facet>
                                    </p:ajaxStatus>
                                </h:panelGrid>
                                <p:blockUI block="frmConfirmarRecebimento"  trigger="btnConfirmarRecebimento"  >
                                    Confirmando recebimento.<br />
                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                </p:blockUI>
                            </b:column>
                        </div>
                    </h:form>
                </p:dialog>
                <!--Lançar Cheques, caso necessário-->
                <p:dialog widgetVar="dlgLancarCheque" header="Lançar Cheques" modal="true" closeOnEscape="true" width="60%" closable="true" resizable="false">
                    <ui:include src="../includeLancamentoCaixa/inclCheque.xhtml" />
                </p:dialog>               
            </b:column>
        </b:row>

    </body>
</html>
