<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >
        <h:form id="transferencias">
            <p:dataTable id="dtTransf" value="#{caixaMB.carregalistarItensTransferenciaCaixaAtual()}" selection="#{caixaMB.itensLiberadoParaTransferencia}" rowKey="#{transf.numLote}"  var="transf"   >
                <p:column selectionMode="multiple" width="12%" style="width:8px; text-align:center;"/>
                <p:column headerText="Histórico" >
                    <h:outputText value="#{transf.historico}" style="font-size: 8px;"  />
                </p:column>
                <p:column headerText="Data Movimento"  width="13%">
                    <h:outputText value="#{transf.dtCaixa}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" width="10%" >
                    <h:outputText value="#{transf.valor}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Tipo" width="5%" >
                    <center>
                        <h:outputText styleClass="#{transf.tipoLancamento == 'D' ?'label label-danger pull-right':'label label-primary pull-right'}" value="#{transf.tipoLancamento}" />
                    </center>
                </p:column>
                <p:column headerText="Operação"  >
                    <h:outputText  value="#{transf.idOperacao.descricao}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Status" width="10%" >
                    <h:outputText value="#{transf.status}"/>
                </p:column>

                <f:facet name="footer" >
                    <p:commandButton id="transferir" icon="confirmar"  value="Transferir" update=":tabs:frmConfirmarTransferencia" action="#{caixaMB.calcularTotalaTransferir()}"  onclick="PF('dlgTransferencia').show();"  />
                </f:facet>
            </p:dataTable>
        </h:form>

        <p:dialog widgetVar="dlgTransferencia" modal="true" 
                  header="Transferência entre Caixas" resizable="false" draggable="false" width="50%" closeOnEscape="true">
            <h:form id="frmConfirmarTransferencia" >
                <b:row>
                    <b:column span="12">
                        <fieldset>
                            <legend style="width: 35%">Transferência</legend>
                            <b:column span="6">
                                <bcr:outputrequired value="Caixa Destino"  />

                                <p:selectOneMenu id="slcCaixaTransf" value="#{caixaMB.caixaPaiTransferencia}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" style="width: 100%" required="true" requiredMessage="Informe o caixa de destino" >
                                    <f:selectItem itemLabel="Selecione um caixa" itemValue=""  />
                                    <f:selectItems id="itens" value="#{caixaMB.listarCaixasAbertosDiario()}" var="cxs" 
                                                   itemLabel="Caixa #{cxs.idUsuario.usuario } - Nº #{cxs.idCaixaPai}" itemValue="#{cxs}" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Operação Destino"  /> 
                                <p:selectOneMenu value="#{caixaMB.operacaoTransferencia}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" style="width: 100%" required="true" requiredMessage="Informe a operação de destino">
                                    <f:selectItem itemLabel="Selecione a operação de destino" itemValue="" />
                                    <f:selectItems value="#{caixaMB.listarOperacoes()}" var="op1"
                                                   itemLabel="#{op1.descricao}" itemValue="#{op1}"  />
                                </p:selectOneMenu>
                            </b:column>
                        </fieldset>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="12">
                        <b:column span="12">
                            <br/>
                            <p:dataTable value="#{caixaMB.itensLiberadoParaTransferencia}" id="dtlTransferencia" var="caixa" 
                                         paginator="true" paginatorPosition="bottom" rows="4">
                                <p:column headerText="ID" width="10%">
                                    <h:outputText value="#{caixa.numLote}" />
                                </p:column>
                                <p:column headerText="Médico" width="40%">
                                    <h:outputText value="#{caixa.idCirurgia.idTerceiro.nome}" />
                                </p:column>
                                <p:column headerText="Data" width="20%" >
                                    <h:outputText value="#{caixa.dtCaixa}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Valor" width="20%">
                                    <h:outputText value="#{caixa.valor}" >
                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                    </h:outputText>
                                </p:column>
                                <f:facet name="footer"  >
                                    <h:outputText value="Valor total: " style="font-size: 14px"/>
                                    <h:outputText value="#{caixaMB.valorTotal}" style="font-size: 14px">
                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                    </h:outputText>
                                </f:facet>
                            </p:dataTable>
                        </b:column>
                    </b:column>
                    <b:column span="12">
                        <hr/>
                        <p:commandButton value="Transferir" styleClass="btn btn-primary" id="transferir" icon="confirmar" action="#{caixaMB.TransferirCaixa()}" oncomplete="if (!args.validationFailed) PF('dlgTransferencia').hide()" update="@this, :msg, :tabs:transferencias, :tabs:frmDatatable, @all" />
                        <p:blockUI block="dtlTransferencia" trigger="transferir" >
                            Transferindo<br />
                            <p:graphicImage value="Recursos/img/loading.gif" />
                        </p:blockUI>
                        <br/>
                    </b:column>
                </b:row> 
            </h:form>                                    
        </p:dialog>

    </body>
</html>
