<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <h:form id="formCheque" >
            <b:column span="8">
                <b:row>
                    <b:column id="clnMensagem" span="12">
                        <bcr:alertWarning rendered="#{repasseMB.valor_recebido != repasseMB.valorTotal ? 'true' : 'false'}" Titulo="Atenção!" Descricao="Reveja o valor dos cheques lançados." />
                        <hr/>
                        <p:commandButton value="Carregar Valores" action="#{repasseMB.carregaValoresCheque()}" update="@form"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="3">
                        <h:outputText value="Nº Cheque" />
                        <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" value="#{repasseMB.numeroCheque}"/>
                    </b:column> 
                </b:row>
                <b:row id="linha1">
                    <b:column span="6">
                        <bcr:outputrequired value="Paciente" />
                        <h:panelGrid columns="2" style="width: 100% !important;">
                            <p:inputText value="#{repasseMB.paciente.nome}" style="text-transform: capitalize" readonly="true" id="paciente" styleClass="form-control" required="true" requiredMessage="O campo Paciente é obrigatório."/>
                        </h:panelGrid>
                    </b:column>                                        
                    <b:column span="3">
                        <h:outputText value="Tipo" />
                        <p:selectOneMenu value="#{repasseMB.tipo}" styleClass="form-control" id="tipo" filter="true" filterMatchMode="contains" >
                            <f:selectItem itemLabel=" " itemValue="" />
                            <f:selectItem itemLabel="Emitido" itemValue="E" />
                            <f:selectItem itemLabel="Recebido" itemValue="R" />
                            <p:ajax update="labelEmissaoRecebimento, labelVencimentoCompensacao" />
                        </p:selectOneMenu>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="6">
                        <bcr:outputrequired value="Médico" />
                        <h:panelGrid columns="2" style="width: 100% !important;">
                            <p:inputText id="terceiro" value="#{repasseMB.terceiro.tipoPessoa == 'F' ? repasseMB.terceiro.nome : repasseMB.terceiro.nomeFantasia}" readonly="true" style="text-transform: capitalize" styleClass="form-control" required="true" requiredMessage="O campo Médico é obrigatório." />
                        </h:panelGrid>
                    </b:column>
                    <b:column span="3">
                        <h:outputText value="Compensado?" />
                        <p:selectOneMenu id="pagarAgora" value="#{repasseMB.compensado}" styleClass="form-control">
                            <f:selectItem itemLabel="Não" itemValue="N" />
                            <f:selectItem itemLabel="Sim" itemValue="S" />
                            <p:ajax update="dtCompensacaoVencimento" listener="#{chequeMB.compensar()}"/>
                        </p:selectOneMenu>
                    </b:column>
                </b:row>
                <b:row id="linha2">
                    <b:column span="3">
                        <bcr:outputrequired value="Banco" />
                        <h:panelGrid columns="2" style="width: 100% !important;">
                            <p:selectOneMenu  value="#{repasseMB.banco.idBanco}" style="text-transform: capitalize" required="true" requiredMessage="Informe o banco." styleClass="form-control" filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel=" " itemValue=""  />
                                <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                               itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </b:column>
                    <b:column span="3">
                        <h:outputText value="Conta" />
                        <p:inputText  styleClass="form-control" id="Conta"  label="Conta" value="#{repasseMB.conta}"/>
                    </b:column> 
                    <b:column span="3">
                        <h:outputText value="Valor" />
                        <p:inputText  styleClass="form-control" id="valor"  label="Valor" value="#{repasseMB.valorCheque}" onkeypress="mascara(this, mvalor);">
                            <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" />
                        </p:inputText>
                    </b:column>  
                </b:row>
                <b:row id="linha3">
                    <b:column span="3">
                        <h:outputText id="labelEmissaoRecebimento" value="#{repasseMB.tipo == 'E'? 'Data Emissão' : 'Data Recebimento'}" />
                        <p:calendar value="#{repasseMB.dtEmissao}" mask="99/99/9999" pattern="dd/MM/yyyy" locale="pt"/>
                    </b:column>
                    <b:column span="3">
                        <h:outputText id="labelVencimentoCompensacao" value="Data Compensação" />
                        <p:calendar id="dtCompensacaoVencimento" disabled="#{repasseMB.compensado == 'S' ? 'true' : 'false'}" value="#{repasseMB.dtCompensado}" mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" locale="pt"/>
                    </b:column>
                    <b:column span="4">
                        <h:outputText value="Observação" />
                        <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{repasseMB.observacao}" />
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="12">
                        <hr/>                                                   
                        <h:panelGrid columns="4">
                            <p:commandButton id="salvar" value="Salvar" icon="salvar" styleClass="btn" disabled="#{repasseMB.valor_recebido != repasseMB.valorTotal ? 'true' : 'false'}" action="#{repasseMB.salvarEmRepasse(repasseMB.listaCheque)}" ajax="true" update=" :msg" oncomplete="if (!args.validationFailed){PF('dlgLancarCheque').hide()}"/>
                            &nbsp;
                            &nbsp;
                            <p:commandButton id="incluir" value="Incluir e Continuar" icon="add" styleClass="btn" action="#{repasseMB.incluirVarios()}" ajax="true" update="dtlCheques, dtlCheques:valorTotal, clnMensagem, salvar, :msg"/>
                            <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                <f:facet name="start">
                                    <h:panelGrid columns="2">
                                        <img src="Recursos/img/launch_loading.gif" />   
                                    </h:panelGrid>
                                </f:facet>
                            </p:ajaxStatus>
                        </h:panelGrid> 
                    </b:column>
                </b:row>
            </b:column>
            <b:column span="4">
                <hr/>
                <p:dataTable value="#{repasseMB.listaCheque}" id="dtlCheques" rowKey="#{ch.idCheque}" var="ch" >
                    <p:column headerText="Núm.Cheque" width="30%">
                        <h:outputText value="#{ch.numeroCheque}" />
                    </p:column>
                    <p:column headerText="Data a Compensar" width="40%">
                        <h:outputText value="#{ch.dtCompensacaoVencimento}">
                            <f:convertDateTime pattern="dd/MM/YYYY" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Valor" width="20%">
                        <h:outputText value="#{ch.valor}" >
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                        </h:outputText>
                    </p:column>
                    <p:column width="10%">
                        <p:commandLink title="Excluir" id="infoExc" actionListener="#{repasseMB.excluirCheque(ch)}" update="dtlCheques">
                            <p:graphicImage value="Recursos/icons/Delete.png" />
                        </p:commandLink>
                    </p:column>
                    <f:facet name="footer"  >
                        <p:column width="30%">
                            <h:outputText value="Valor a liquidar: "/>
                            <h:outputText id="valorLiquidar" value="#{repasseMB.valor_recebido}" style="color: #{repasseMB.valor_recebido == repasseMB.valorTotal ? 'green' : 'blue'}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column width="40%">
                            |
                        </p:column>
                        <p:column width="30%">
                            <h:outputText value="Valor lançado: "/>
                            <h:outputText id="valorTotal" value="#{repasseMB.valorTotal}" style="color: #{repasseMB.valor_recebido == repasseMB.valorTotal ? 'green' : 'red'}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                            </h:outputText>
                        </p:column>

                    </f:facet>
                </p:dataTable>
            </b:column>                
        </h:form>
    </body>
</html>
