<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >
        <h:form id="frmNovoItem">
            <script>
                function Focus(){
                    document.getElementById('frmNovoItem:descIten').focus();
                }
            </script>
            <b:column span="12">
                <b:column span="6">
                    <bcr:outputrequired value="Descrição Subitem" />
                    <p:inputText  styleClass="form-control"  id="descIten" value="#{servicoMB.servicoItem.descritiva}" />
                </b:column>
                <b:column span="3">
                    <bcr:outputrequired value="Base de Calculo" />
                    <p:selectOneMenu value="#{servicoMB.servicoItem.baseCalculo}" styleClass="form-control" >
                        <f:selectItem itemLabel="Não" itemValue="N" />
                        <f:selectItem itemLabel="Sim" itemValue="S" />
                        <p:ajax update="percent" listener="#{servicoMB.setarBaseDeCalculo()}"/>
                    </p:selectOneMenu>
                </b:column>
                <b:column span="3">
                    <bcr:outputrequired value="Percentual Subitem" />
                    <pe:inputNumber id="percent" value="#{servicoMB.servicoItem.percentual}" symbol="%" symbolPosition="s" emptyValue="sign"/>
                </b:column>
                <b:column span="12">
                    <hr/>
                    <p:commandButton value="Adicionar" icon="add" styleClass="btn"  action="#{servicoMB.addItens()}" 
                                     update=":novo:tblItensServicos, :novo:msgBar2, frmNovoItem" />
                    &nbsp;
                    <p:commandButton value="Adicionar e Sair" icon="check16" styleClass="btn"  action="#{servicoMB.addItens()}" 
                                     update=":novo:tblItensServicos, :novo:msgBar2, frmNovoItem" oncomplete="PF('dlgAddItem').hide();"/>
                </b:column>
            </b:column>
        </h:form>
    </body>
</html>
