<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form  id="frmConsultarFormasPagamento">
            <p:dataTable value="#{cirurgiaMB.listaFormasDePagamento()}" var="varPagto" widgetVar="wvarPagto" paginator="true" rows="10">
                <p:column  width="20%">
                    <center>
                        <p:commandButton value="Selecionar" icon="selecionar" actionListener="#{cirurgiaMB.selecionarFormaDePagamento(varPagto)}" update=":frmInserir:formaField" oncomplete="PF('dlgConsultarFormas').hide()"/>
                    </center>
                </p:column>
                <p:column headerText="Código" filterBy="#{varPagto.idForma}" filterMatchMode="contains" width="10%">
                    <h:outputText value="#{varPagto.idForma}"  />
                </p:column>
                <p:column headerText="Nome" filterBy="#{varPagto.descricao}" width="80%" filterMatchMode="contains">
                    <h:outputText value="#{varPagto.descricao}"  />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
