<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <h:form  id="frmConsultarTerceiroItens">
            <p:dataTable value="#{orcamentoMB.listaDeTerceiros()}" var="varTerceiros" widgetVar="wvarTerceiros" paginator="true" rows="5">
                <f:facet name="header">
                    <h:panelGrid columns="2" columnClasses="coluna1, coluna2">
                        <p:commandButton value="Novo Terceiro" styleClass="btn" immediate="true" onclick="PF('dlgCadastrarTerceiro').show()" action="#{terceiroMB.novo()}" update=":tblPrincipal" icon="add" />
                    </h:panelGrid>
                </f:facet>
                <p:column width="15%" >
                    <center>
                    <p:commandButton value="Selecionar" icon="selecionar" actionListener="#{cirurgiaMB.selecionaTerceiroItem(varTerceiros)}" update=":frmInserir:TerceiroItem" oncomplete="PF('dlgConsultarTerceirosItens').hide()"/>
                    </center>
                </p:column>
                <p:column headerText="Nome" filterBy="#{varTerceiros.tipoPessoa=='J'?varTerceiros.nomeFantasia:varTerceiros.nome}" filterMatchMode="contains">
                    <h:outputText value="#{varTerceiros.tipoPessoa=='J'?varTerceiros.nomeFantasia:varTerceiros.nome}"  />
                </p:column>
                <p:column headerText="CPF/CNPJ" filterBy="#{varTerceiros.cgccpf}" filterMatchMode="contains">
                    <h:outputText value="#{varTerceiros.cgccpf}"  />
                </p:column>
                <p:column headerText="Especialidade" filterBy="#{varTerceiros.idEspecialidade.descricao}" filterMatchMode="contains">
                    <h:outputText value="#{varTerceiros.cgccpf}"  />
                </p:column>
                <p:column headerText="Telefone" filterBy="#{varTerceiros.telefone}" filterMatchMode="contains">
                    <h:outputText value="#{varTerceiros.telefone}"  />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
