<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <f:metadata >
            <f:event type="preRenderComponent" listener="#{cirurgiaMB.carregarServicos()}" >
                <p:ajax update=":frmConsultarServicos" />
            </f:event>
        </f:metadata>
        <h:form id="frmConsultarServicos">
            <p:dataTable id="dtlServicos" value="#{cirurgiaMB.listaDeServicosLazy}" lazy="true" 
                         var="varServ" widgetVar="wvarServ" paginator="true" rows="10" sortBy="#{varServ.descricao}">
                <f:facet name="header">
                    <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                        <p:commandButton value="Novo Serviço" styleClass="btn" icon="add" immediate="true" 
                                         action="#{servicoMB.novo()}" update=":novo" onclick="PF('dlgCadastrarServico').show()" />
                    </h:panelGrid>
                </f:facet>
                <p:column width="15%">
                    <center>
                        <p:commandButton value="Selecionar" icon="selecionar" actionListener="#{cirurgiaMB.selecionarServico(varServ)}" update=":frmInserir:ItemField" oncomplete="PF('dlgConsultarServico').hide(); setaCampoAposSelecionar();"/>
                    </center>
                </p:column>
                <p:column  width="70%" headerText="Descrição" filterBy="#{varServ.descricao}" filterMatchMode="contains" sortBy="#{varServ.descricao}">
                    <h:outputText value="#{varServ.descricao}" />
                </p:column>
                <p:column  headerText="Tipo" filterBy="#{varServ.tipo == 'H' ? 'Hospitalares' : 'Honorários' }" 
                           sortBy="#{varServ.tipo == 'H' ? 'Hospitalares' : 'Honorários' }">
                    <center>
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('wvarServ').filter()" value="#{terceiroMB.tipo}" filter="true" filterMatchMode="contains" styleClass="form-control" >
                            <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItem itemLabel="Hospitalares" itemValue="Hospitalares" />
                            <f:selectItem itemLabel="Honorários" itemValue="Honorários" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{varServ.tipo == 'H' ? 'Hospitalares' : 'Honorários' }" styleClass="#{varServ.tipo == 'N' ? 'label label-primary' : 'label label-success'}"/>
                    </center>
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
