<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >
        <h:form id="frmCadastroPaciente">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#DadosBasicos">Dados Básicos</a></li>
                <li><a data-toggle="tab" href="#DadosAdicionais">Dados Adicionais</a></li>
                <li><a data-toggle="tab" href="#Responsavel">Responsável</a></li>
            </ul>
            <div class="tab-content">
                <div id="DadosBasicos" class="tab-pane fade in active">
                    <b:column span="8">
                        <b:column span="12">
                            <bcr:outputrequired value="Nome" />
                            <p:inputText  styleClass="form-control" required="true" id="nome" 
                                          style="text-transform: capitalize" label="Nome" 
                                          requiredMessage="O campo Nome é obrigatório" 
                                          value="#{pacienteMB.paciente.nome}" onblur="capitaliseFirstLetter(this.value, this.id)">
                            </p:inputText>
                        </b:column>
                        <b:column span="6">
                            <bcr:outputrequired value="Nome da Mãe" />
                            <p:inputText  styleClass="form-control" style="text-transform: capitalize" required="true"  id="nomeMae" onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Mae" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomeMae}" />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Nome do Pai" />
                            <p:inputText  styleClass="form-control" style="text-transform: capitalize"  id="nomePai" onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Pai" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomePai}"  />
                        </b:column>
                        <b:column span="3" >
                            <bcr:outputrequired value="Nascimento" />
                            <p:calendar id="dataNasc" showOn="false" value="#{pacienteMB.paciente.dtNascimento}" 
                                        required="true" mask="99/99/9999" pattern="dd/MM/yyyy" navigator="true" 
                                        maxdate="today" yearRange="1900:2019" requiredMessage="Informe a data de nascimento do paciente!">
                                <p:ajax event="blur" update="idade" listener="#{pacienteMB.calculaIdade()}" />
                            </p:calendar>
                        </b:column>
                        <b:column span="3" >
                            <h:outputText value="Idade " />
                            <p:inputText styleClass="form-control" readonly="true" value="#{pacienteMB.idade}" id="idade">
                            </p:inputText>
                        </b:column>
                        <b:column span="3" id="coluna5">
                            <h:outputText value="CPF"/>
                            <p:inputMask  value="#{pacienteMB.paciente.cpf}" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                <p:ajax update=":msg" event="change" />
                            </p:inputMask>
                        </b:column>
                        <b:column span="3">
                            <h:outputText value="RG" />
                            <p:inputText value="#{pacienteMB.paciente.rg}" styleClass="form-control"  id="rg" label="RG"    />
                        </b:column>
                        <b:column span="6">
                            <bcr:outputrequired value="Telefone" />
                            <p:inputMask value="#{pacienteMB.paciente.telefone}"  styleClass="form-control" required="true" id="telefone" label="Telefone"  requiredMessage="O campo Telefone é obrigatório" mask="(99) 9999-9999" />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Celular" />
                            <p:inputMask value="#{pacienteMB.paciente.telefoneCelular}"  styleClass="form-control"  id="telefonecelular" label="Celular"   mask="(99) 9999-9999" />
                        </b:column>

                        <b:column span="6">
                            <bcr:outputrequired value="Sexo" />
                            <p:selectOneMenu value="#{pacienteMB.paciente.sexo}" styleClass="form-control"  filter="true" filterMatchMode="contains" required="true" requiredMessage="Informe o sexo do paciente!"  >
                                <f:selectItem itemLabel="Selecione o sexo" itemValue="" />
                                <f:selectItem itemLabel="Masculino" itemValue="M" />
                                <f:selectItem itemLabel="Feminino" itemValue="F" />
                            </p:selectOneMenu>
                        </b:column>
                    </b:column>
                </div>

                <div id="DadosAdicionais" class="tab-pane fade">
                    <b:column span="6">
                        <b:column span="8">
                            <br/>
                            <h:outputText value="CEP" />
                            <p:inputMask value="#{pacienteMB.paciente.cep}" styleClass="form-control"  id="cep"  label="cep" mask="99999-999" >
                                <p:ajax event="blur" listener="#{pacienteMB.ConsultaCEP()}"
                                        update="logradouro, cidade, bairro, estado, complemento, :msg" />
                            </p:inputMask>
                        </b:column>
                        <b:column span="2" >
                            <br/>
                            <h:outputText value="CEP" style="visibility: hidden;" />
                            <p:commandButton value="Consultar" id="consultar"  action="#{pacienteMB.ConsultaCEP()}" 
                                             update="logradouro, cidade, bairro, estado, complemento, :msg"  
                                             icon="consultar" styleClass="btn btn-primary" />
                        </b:column>
                        <b:column span="4">
                            <h:outputText value="Tipo" />
                            <p:selectOneMenu value="#{pacienteMB.paciente.tipoLogradouro}" styleClass="form-control" id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                <f:selectItem itemLabel="" itemValue="" />
                                <f:selectItem itemLabel="Avenida" itemValue="AVENIDA" />
                                <f:selectItem itemLabel="Beco" itemValue="BECO" />
                                <f:selectItem itemLabel="Estrada" itemValue="ESTRADA" />
                                <f:selectItem itemLabel="Outros" itemValue="OUTROS" />
                                <f:selectItem itemLabel="Praça" itemValue="PRAÇA" />
                                <f:selectItem itemLabel="Rua" itemValue="RUA" />
                                <f:selectItem itemLabel="Travessa" itemValue="TRAVESSA" />
                            </p:selectOneMenu>
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="Logradouro" />
                            <p:inputText value="#{pacienteMB.paciente.logradouro}"  styleClass="form-control" style="text-transform: capitalize"  id="logradouro" onblur="capitaliseFirstLetter(this.value, 'frmCadastroPaciente:logradouro')" label="logradouro"  />
                        </b:column>
                        <b:column span="2">
                            <h:outputText value="Número" />
                            <p:inputText value="#{pacienteMB.paciente.numero}" styleClass="form-control"  id="numero"  label="numero"  />
                        </b:column>
                        <b:column span="4">
                            <h:outputText value="Bairro" />
                            <p:inputText value="#{pacienteMB.paciente.bairro}" styleClass="form-control" onblur="capitaliseFirstLetter(this.value, 'frmCadastroPaciente:bairro')"  id="bairro"  label="bairro"  />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Cidade" />
                            <p:inputText value="#{pacienteMB.paciente.cidade}" styleClass="form-control" onblur="capitaliseFirstLetter(this.value, 'frmCadastroPaciente:cidade')"  id="cidade"  label="cidade"  />
                        </b:column>

                        <b:column span="6">
                            <h:outputText value="Estado" />
                            <p:selectOneMenu value="#{pacienteMB.paciente.uf}" styleClass="form-control" id="estado"  filter="true" filterMatchMode="contains" >
                                <f:selectItem itemLabel="Selecione um estado" itemValue="" />
                                <f:selectItem itemLabel="Acre - AC" itemValue="AC" />
                                <f:selectItem itemLabel="Alagoas - AL" itemValue="AL" />
                                <f:selectItem itemLabel="Amapá - AP" itemValue="AP" />
                                <f:selectItem itemLabel="Amazonas - AM" itemValue="AM" />
                                <f:selectItem itemLabel="Bahia - BA" itemValue="BA" />
                                <f:selectItem itemLabel="Ceara - CE" itemValue="CE" />
                                <f:selectItem itemLabel="Distrito Federal - DF" itemValue="DF" />
                                <f:selectItem itemLabel="Espirito Santo - ES" itemValue="ES" />
                                <f:selectItem itemLabel="Goiás - GO" itemValue="GO" />
                                <f:selectItem itemLabel="Maranhão - MA" itemValue="MA" />
                                <f:selectItem itemLabel="Mato Grosso - MT" itemValue="MT" />
                                <f:selectItem itemLabel="Mato Grosso do Sul - MS" itemValue="MS" />
                                <f:selectItem itemLabel="Minas Gerais - MG" itemValue="MG" />
                                <f:selectItem itemLabel="Pará - PA" itemValue="PA" />
                                <f:selectItem itemLabel="Paraíba - PB" itemValue="PB" />
                                <f:selectItem itemLabel="Paraná - PR" itemValue="PR" />
                                <f:selectItem itemLabel="Pernambuco - PE" itemValue="PE" />
                                <f:selectItem itemLabel="Paiauí - PI" itemValue="PI" />
                                <f:selectItem itemLabel="Rio de Janeiro - RJ" itemValue="RJ" />
                                <f:selectItem itemLabel="Rio Grande do Norte - RN" itemValue="RN" />
                                <f:selectItem itemLabel="Rio Grande do Sul - RS" itemValue="RS" />
                                <f:selectItem itemLabel="Rondônia - RO" itemValue="RO" />
                                <f:selectItem itemLabel="Roraima - RR" itemValue="RR" />
                                <f:selectItem itemLabel="Santa Catarina - SC" itemValue="SC" />
                                <f:selectItem itemLabel="São Paulo - SP" itemValue="SP" />
                                <f:selectItem itemLabel="Sergipe - SE" itemValue="SE" />
                                <f:selectItem itemLabel="Tocantins - TO" itemValue="TO" />
                            </p:selectOneMenu>
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Complemento" />
                            <p:inputText value="#{pacienteMB.paciente.complemento}" styleClass="form-control"  id="complemento"  onblur="capitaliseFirstLetter(this.value, 'frmCadastroPaciente:complemento')" label="complemento"  />
                        </b:column>
                        <p:blockUI block="frmCadastroPaciente"  trigger="consultar" >
                            Pesquisando<br />
                            <p:graphicImage value="Recursos/img/searching.gif"/>
                        </p:blockUI>
                    </b:column>
                </div>
                <div id="Responsavel" class="tab-pane fade">
                    <hr/>
                    <b:column span="12">
                        <hr/>
                    </b:column>
                    <b:column span="12">
                        <p:dataTable  value="#{pacienteMB.listaResponsaveisSalvar}" var="tblAdicionados" id="tblResponsaveis" emptyMessage="Nenhum responsável foi adicionado ainda!">
                            <p:column headerText="Código" width="8%" >
                                <h:outputText value="#{tblAdicionados.idPacienteResponsavel.idPaciente}"/>
                            </p:column>
                            <p:column headerText="Nome" width="25%">
                                <h:outputText value="#{tblAdicionados.idPacienteResponsavel.nome}"/>
                            </p:column>
                            <p:column headerText="CPF" width="15%">
                                <h:outputText value="#{tblAdicionados.idPacienteResponsavel.cpf}"/>
                            </p:column>
                        </p:dataTable>
                    </b:column>
                </div>
            </div>
            <b:column span="12">
                <hr/>
                <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar2()}" update=" frmCadastroPaciente, :frmConsultarPaciente:dtlConsultarPaciente" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgCadastrarPaciente').hide();"/>
                <p:commandButton value="Limpar"  immediate="true" icon="voltar"  >
                    <p:ajax update="@form, frmCadastroPaciente" listener="#{pacienteMB.novo()}"  resetValues="true" />
                </p:commandButton>
                <p:blockUI block="frmCadastroPaciente"  trigger="salvar" >
                    <p:graphicImage value="Recursos/img/novoLoading.gif" />
                </p:blockUI>
            </b:column>
        </h:form>






        <p:dialog widgetVar="dlg1" header="Consulta de Pacientes"  maximizable="true" width="100%" minimizable="true" position="top" resizable="false" closeOnEscape="true" closable="true"> 
            <h:form id="tblconsulta">
                <p:dataTable id="dtl" value="#{pacienteMB.model}"  var="pac" lazy="true" paginator="true" rows="10"
                             widgetVar="pacTable" emptyMessage="Nenhum registro encontrado" style="width: 100%" >
                    <f:facet name="header">
                        <p:commandButton value="Novo Paciente" icon="add" immediate="true" action="#{pacienteMB.novo()}" update=":tblDialogo" onclick="PF('novoPac').show()" style="float: left" />
                    </f:facet>
                    <p:column width="12%">
                        <p:commandButton action="#{pacienteMB.addResponsavel(pac)}" value="Adicionar Responsavel" icon="add"  update=":frmCadastroPaciente:tblResponsaveis" onclick="PF('dlg1').hide()"/>
                    </p:column>
                    <p:column filterBy="#{pac.nome}" headerText="Nome" sortBy="#{pac.nome}"  filterMatchMode="contains" width="25%" >
                        <h:outputText value="#{pac.nome}" />
                    </p:column>
                    <p:column filterBy="#{pac.cpf}" headerText="CPF" sortBy="#{pac.cpf}"  filterMatchMode="contains" width="10%">
                        <h:outputText value="#{pac.cpf}" />
                    </p:column>
                    <p:column  headerText="Nascimento"  width="10%"  sortBy="#{pac.dtNascimento}">
                        <h:outputText value="#{pac.dtNascimento}" >
                            <f:convertDateTime pattern="dd-MM-yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column  headerText="Telefone" filterBy="#{pac.telefone}" filterMatchMode="contains" width="10%"  >
                        <h:outputText value="#{pac.telefone}" />
                    </p:column>
                    <p:column  headerText="RG" filterBy="#{pac.rg}" filterMatchMode="contains" width="10%"  >
                        <h:outputText value="#{pac.rg}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="novoPac" id="newPac" header="Novo Paciente"  resizable="false" closeOnEscape="true" closable="true">
            <h:form id="tblDialogo">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#DadosBasicos1">Dados Básicos</a></li>
                    <li><a data-toggle="tab" href="#DadosAdicionais1">Dados Adicionais</a></li>
                </ul>
                <div class="tab-content">
                    <div id="DadosBasicos1" class="tab-pane fade in active">
                        <b:column span="6">
                            <b:column span="12">
                                <bcr:outputrequired value="Nome" />
                                <p:inputText  styleClass="form-control"  required="true"  id="nome" style="text-transform: capitalize"  label="Nome" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nome}" onblur="capitaliseFirstLetter(this.value, this.id)"   >
                                </p:inputText>
                            </b:column>
                            <b:column span="12">
                                <bcr:outputrequired value="Nome da Mãe" />
                                <p:inputText  styleClass="form-control" style="text-transform: capitalize" required="true"  id="nomeMae" onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Mae" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomeMae}" />
                            </b:column>
                            <b:column span="12">
                                <h:outputText value="Nome do Pai" />
                                <p:inputText  styleClass="form-control" style="text-transform: capitalize"  id="nomePai" onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Pai" requiredMessage="O campo Nome é obrigatório" value="#{pacienteMB.paciente.nomePai}" />
                            </b:column>
                            <b:column span="6" >
                                <bcr:outputrequired value="Data de Nascimento " />
                                <p:calendar showOn="false" value="#{pacienteMB.paciente.dtNascimento}" locale="pt" required="true"  mask="99/99/9999" pattern="dd/MM/yyyy" navigator="true" maxdate="today" yearRange="1900:2019">
                                    <p:ajax event="blur" update="idade, :msg" listener="#{pacienteMB.calculaIdade()}" />
                                </p:calendar>
                            </b:column>
                            <b:column span="6" >
                                <h:outputText value="Idade " />
                                <p:inputText styleClass="form-control" readonly="true" value="#{pacienteMB.idade}" id="idade">
                                    <f:attribute name="paramIdade" value="#{pacienteMB.idade}"/>
                                </p:inputText>
                            </b:column>
                            <b:column span="6" id="coluna5">
                                <h:outputText value="CPF"/>
                                <p:inputMask  value="#{pacienteMB.paciente.cpf}" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                    <p:ajax update=":msg" event="change" partialSubmit="tblDialogo:cpf"  />
                                </p:inputMask>
                                <p:hotkey bind="ctrl+b"  actionListener="#{pacienteMB.geraCPF()}" update="tblDialogo:cpf" immediate="true" />
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Telefone" />
                                <p:inputMask value="#{pacienteMB.paciente.telefone}"  styleClass="form-control" required="true" id="telefone" label="Telefone"  requiredMessage="O campo Telefone é obrigatório" mask="(99) 9999-9999" />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="RG" />
                                <p:inputText value="#{pacienteMB.paciente.rg}" styleClass="form-control"  id="rg" label="RG"    />
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Sexo" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.sexo}" styleClass="form-control"  filter="true" filterMatchMode="contains"   >
                                    <f:selectItem itemLabel="Selecione o sexo" itemValue="" />
                                    <f:selectItem itemLabel="Masculino" itemValue="M" />
                                    <f:selectItem itemLabel="Feminino" itemValue="F" />
                                </p:selectOneMenu>
                            </b:column>
                        </b:column>
                    </div>

                    <div id="DadosAdicionais1" class="tab-pane fade">
                        <b:column span="6">
                            <b:column span="8">
                                <br/>
                                <h:outputText value="CEP" />
                                <p:inputMask value="#{pacienteMB.paciente.cep}" styleClass="form-control"  id="cep"  label="cep" mask="99999-999" >
                                    <p:ajax event="blur" listener="#{pacienteMB.ConsultaCEP()}" update="logradouro,  cidade,bairro,estado,complemento, :msg" />
                                </p:inputMask>
                            </b:column>
                            <b:column span="2" >
                                <br/>
                                <h:outputText value="CEP" style="visibility: hidden;" />
                                <p:commandButton value="Consultar" id="consultar" action="#{pacienteMB.ConsultaCEP()}" update="logradouro,  cidade,bairro,estado,complemento, :msg"  icon="consultar"  />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Tipo Logradouro" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.tipoLogradouro}" styleClass="form-control" id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="Selecione um tipo de logradouro" itemValue="" />
                                    <f:selectItem itemLabel="Outros" itemValue="Outros" />
                                    <f:selectItem itemLabel="Aeroporto" itemValue="Aeroporto" />
                                    <f:selectItem itemLabel="Alameda" itemValue="Alameda" />
                                    <f:selectItem itemLabel="Área" itemValue="Área" />
                                    <f:selectItem itemLabel="Avenida" itemValue="Avenida" />
                                    <f:selectItem itemLabel="Campo" itemValue="Campo" />
                                    <f:selectItem itemLabel="Chácara" itemValue="Chácara" />
                                    <f:selectItem itemLabel="Colônia" itemValue="Colônia" />
                                    <f:selectItem itemLabel="Condomínio" itemValue="Condomínio" />
                                    <f:selectItem itemLabel="Conjunto" itemValue="Conjunto" />
                                    <f:selectItem itemLabel="Distrito" itemValue="Distrito" />
                                    <f:selectItem itemLabel="Esplanada" itemValue="Esplanada" />
                                    <f:selectItem itemLabel="Estação" itemValue="Estação" />
                                    <f:selectItem itemLabel="Estrada" itemValue="Estrada" />
                                    <f:selectItem itemLabel="Favela" itemValue="Favela" />
                                    <f:selectItem itemLabel="Fazenda" itemValue="Fazenda" />
                                    <f:selectItem itemLabel="Feira" itemValue="Feira" />
                                    <f:selectItem itemLabel="Jardim" itemValue="Jardim" />
                                    <f:selectItem itemLabel="Ladeira" itemValue="Ladeira" />
                                    <f:selectItem itemLabel="Lago" itemValue="Lago" />
                                    <f:selectItem itemLabel="Lagoa" itemValue="Lagoa" />
                                    <f:selectItem itemLabel="Largo" itemValue="Largo" />
                                    <f:selectItem itemLabel="Loteamento" itemValue="Loteamento" />
                                    <f:selectItem itemLabel="Morro" itemValue="Morro" />
                                    <f:selectItem itemLabel="Núcleo" itemValue="Núcleo" />
                                    <f:selectItem itemLabel="Parque" itemValue="SE" />
                                    <f:selectItem itemLabel="Passarela" itemValue="Passarela" />
                                    <f:selectItem itemLabel="Pátio" itemValue="Pátio" />
                                    <f:selectItem itemLabel="Praça" itemValue="Praça" />
                                    <f:selectItem itemLabel="Quadra" itemValue="Quadra" />
                                    <f:selectItem itemLabel="Recanto" itemValue="Recanto" />
                                    <f:selectItem itemLabel="Residencial" itemValue="Residencial" />
                                    <f:selectItem itemLabel="Rodovia" itemValue="Rodovia" />
                                    <f:selectItem itemLabel="Rua" itemValue="Rua" />
                                    <f:selectItem itemLabel="Setor" itemValue="Setor" />
                                    <f:selectItem itemLabel="Sítio" itemValue="Sítio" />
                                    <f:selectItem itemLabel="Travessa" itemValue="Travessa" />
                                    <f:selectItem itemLabel="Trecho" itemValue="Trecho" />
                                    <f:selectItem itemLabel="Trevo" itemValue="Trevo" />
                                    <f:selectItem itemLabel="Vale" itemValue="Vale" />
                                    <f:selectItem itemLabel="Vereda" itemValue="Vereda" />
                                    <f:selectItem itemLabel="Via" itemValue="Via" />
                                    <f:selectItem itemLabel="Viaduto" itemValue="Viaduto" />
                                    <f:selectItem itemLabel="Viela" itemValue="Viela" />
                                    <f:selectItem itemLabel="Vila" itemValue="Vila" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="Logradouro" />
                                <h:panelGrid columns="2">
                                    <p:inputText value="#{pacienteMB.paciente.logradouro}"  styleClass="form-control" style="text-transform: capitalize"  id="logradouro" onblur="capitaliseFirstLetter(this.value, this.id)" label="logradouro"  />
                                    <p:commandButton id="btnAbrirCEP" oncomplete="PF('dlgCEP').show()" icon="consultar"/>
                                </h:panelGrid>
                            </b:column>
                            <b:column span="2">
                                <h:outputText value="Número" />
                                <p:inputText value="#{pacienteMB.paciente.numero}" styleClass="form-control"  id="numero"  label="numero"  />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Bairro" />
                                <p:inputText value="#{pacienteMB.paciente.bairro}" styleClass="form-control" onblur="capitaliseFirstLetter(this.value, this.id)"  id="bairro"  label="bairro"  />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Cidade" />
                                <p:inputText value="#{pacienteMB.paciente.cidade}" styleClass="form-control" onblur="capitaliseFirstLetter(this.value, this.id)"  id="cidade"  label="cidade"  />
                            </b:column>

                            <b:column span="6">
                                <h:outputText value="Estado" />
                                <p:selectOneMenu value="#{pacienteMB.paciente.uf}" styleClass="form-control" id="estado"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="Selecione um estado" itemValue="" />
                                    <f:selectItem itemLabel="Acre - AC" itemValue="AC" />
                                    <f:selectItem itemLabel="Alagoas - AL" itemValue="AL" />
                                    <f:selectItem itemLabel="Amapá - AP" itemValue="AP" />
                                    <f:selectItem itemLabel="Amazonas - AM" itemValue="AM" />
                                    <f:selectItem itemLabel="Bahia - BA" itemValue="BA" />
                                    <f:selectItem itemLabel="Ceara - CE" itemValue="CE" />
                                    <f:selectItem itemLabel="Distrito Federal - DF" itemValue="DF" />
                                    <f:selectItem itemLabel="Espirito Santo - ES" itemValue="ES" />
                                    <f:selectItem itemLabel="Goiás - GO" itemValue="GO" />
                                    <f:selectItem itemLabel="Maranhão - MA" itemValue="MA" />
                                    <f:selectItem itemLabel="Mato Grosso - MT" itemValue="MT" />
                                    <f:selectItem itemLabel="Mato Grosso do Sul - MS" itemValue="MS" />
                                    <f:selectItem itemLabel="Minas Gerais - MG" itemValue="MG" />
                                    <f:selectItem itemLabel="Pará - PA" itemValue="PA" />
                                    <f:selectItem itemLabel="Paraíba - PB" itemValue="PB" />
                                    <f:selectItem itemLabel="Paraná - PR" itemValue="PR" />
                                    <f:selectItem itemLabel="Pernambuco - PE" itemValue="PE" />
                                    <f:selectItem itemLabel="Paiauí - PI" itemValue="PI" />
                                    <f:selectItem itemLabel="Rio de Janeiro - RJ" itemValue="RJ" />
                                    <f:selectItem itemLabel="Rio Grande do Norte - RN" itemValue="RN" />
                                    <f:selectItem itemLabel="Rio Grande do Sul - RS" itemValue="RS" />
                                    <f:selectItem itemLabel="Rondônia - RO" itemValue="RO" />
                                    <f:selectItem itemLabel="Roraima - RR" itemValue="RR" />
                                    <f:selectItem itemLabel="Santa Catarina - SC" itemValue="SC" />
                                    <f:selectItem itemLabel="São Paulo - SP" itemValue="SP" />
                                    <f:selectItem itemLabel="Sergipe - SE" itemValue="SE" />
                                    <f:selectItem itemLabel="Tocantins - TO" itemValue="TO" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Complemento" />
                                <p:inputText value="#{pacienteMB.paciente.complemento}" styleClass="form-control"  id="complemento"  onblur="capitaliseFirstLetter(this.value, this.id)" label="complemento"  />
                            </b:column>
                            <p:blockUI block="tblDialogo"  trigger="consultar" >
                                Pesquisando<br />
                                <p:graphicImage value="Recursos/img/searching.gif"/>
                            </p:blockUI>
                        </b:column>
                    </div>
                </div>
                <b:column span="12">
                    <hr/>
                    <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar2()}" ajax="true" update="tblDialogo" icon="salvar" validateClient="true">
                        <p:ajax event="click" update="idade" listener="#{pacienteMB.calculaIdade()}" />
                    </p:commandButton>
                    <p:commandButton value="Limpar"  immediate="true" icon="voltar"  >
                        <p:ajax update="@form, tblDialogo" listener="#{pacienteMB.novo()}"  resetValues="true" />
                    </p:commandButton>
                    <p:blockUI block="tblDialogo"  trigger="salvar" >
                        <p:graphicImage value="Recursos/img/novoLoading.gif" />
                    </p:blockUI>
                </b:column>
            </h:form>
        </p:dialog>


    </body>
</html>
