<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form id="frmInfoOrcto">
            <div class="row">
                <b:column span="4">
                    Cirurgia:  <strong>#{cirurgiaMB.cirurgia.idCirurgia}</strong>
                </b:column>
                <b:column span="4">
                    Orçamento:<strong>#{cirurgiaMB.cirurgia.idOrcamento.idOrcamento}</strong>  
                </b:column>
                <b:column span="3">
                    Data Cirurgia: 
                    <strong> <h:outputText value="#{cirurgiaMB.cirurgia.dtCirurgia}" >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </strong>
                </b:column>
            </div>

            <div class="row">
                <b:column span="4">
                    Paciente: <strong>#{cirurgiaMB.cirurgia.idPaciente.nome}</strong> 
                </b:column>
                <b:column span="4">
                    Telefone: <strong> #{cirurgiaMB.cirurgia.idPaciente.telefone}</strong> 
                </b:column>
                <b:column span="4">
                    Convênio:   <strong>#{cirurgiaMB.cirurgia.idConvenio.descricao}</strong>
                </b:column>
            </div>

            <div class="row">
                <b:column span="4">
                    Médico Responsável: <strong> #{cirurgiaMB.cirurgia.idTerceiro.nome}</strong>
                </b:column>
                <b:column span="4">
                </b:column>
                <b:column span="4">

                </b:column>
            </div>
            <div class="row">
                <b:column span="4">
                    Procedimento:   <strong> #{cirurgiaMB.cirurgia.idProcedimento.descricao}</strong>
                </b:column>
                <b:column span="4">
                    Valor Total:  
                    <strong><h:outputText value="#{cirurgiaMB.cirurgia.valor}">
                            <f:convertNumber minFractionDigits="2" type="currency" />
                        </h:outputText>
                    </strong>

                </b:column>
                <b:column span="4">

                </b:column>
                <b:column span="4">

                </b:column>
                <b:column span="12">
                    Observação:  <strong> #{cirurgiaMB.cirurgia.observacao}</strong>  
                </b:column>

            </div>
            <div class="row">
                <b:column span="12">
                    <hr/>
                    <center> <strong><h3 style="font-weight: bolder; text-decoration: underline ">Itens da Cirurgia</h3></strong></center>
                </b:column>
                <b:column span="12">
                    <p:dataTable value="#{cirurgiaMB.cirurgia.cirurgiaItemList}" var="ciList" >
                        <f:facet name="header">
                            Itens da Cirurgia
                        </f:facet>
                        <p:column width="4%">
                            <p:rowToggler />
                        </p:column>
                        <p:column headerText="Item">
                            <h:outputText value="#{ciList.idServico.descricao}" />
                        </p:column>
                        <p:column headerText="Quantidade">
                            <h:outputText value="#{ciList.quantidade}" />
                        </p:column>
                        <p:column headerText="Vlr Unit.">
                            <h:outputText value="#{ciList.valorUnitario}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Vlr Total.">
                            <h:outputText value="#{ciList.valorTotal}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Observação">
                            <h:outputText value="#{ciList.observacao}" >
                            </h:outputText>
                        </p:column>
                        <p:rowExpansion>
                            <p:dataTable value="#{ciList.servicoItemCirurgiaItemList}" var="siciList">
                                <f:facet name="header">
                                    Procedimentos dos Itens
                                </f:facet>
                                <p:column width="4%">
                                    <p:rowToggler />
                                </p:column>
                                <p:column headerText="Procedimento" >
                                    <h:outputText value="#{siciList.idServicoItem.descritiva}" />
                                </p:column>
                                <p:column headerText="Terceiro" >
                                    <h:outputText value="#{siciList.idTerceiro.nome == null ? siciList.idTerceiro.nomeFantasia : siciList.idTerceiro.nome}" />
                                </p:column>
                                <p:column headerText="Valor" >
                                    <h:outputText value="#{siciList.valor}" >
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Taxa %" >
                                    <h:outputText value="#{siciList.taxa}" >
                                        <f:convertNumber minFractionDigits="2"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Valor" >
                                    <h:outputText value="#{siciList.valorTaxado}" >
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </p:column>
                                <p:rowExpansion>
                                    <p:dataTable value="#{siciList.repasseList}" var="repList">
                                        <f:facet name="header">
                                            Repasses e Recebimentos das Cirurgias
                                        </f:facet>
                                        <p:column headerText="Parcela" sortBy="#{repList.numeroParcela}" width="8%">
                                            <h:outputText value="#{repList.numeroParcela}" />
                                        </p:column>
                                        <p:column headerText="Terceiro" sortBy="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" width="25%" >
                                            <h:outputText value="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" >
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Vencimento" sortBy="#{repList.dtVencimento}" >
                                            <h:outputText value="#{repList.dtVencimento}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Valor" >
                                            <h:outputText value="#{repList.valor}" >
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Pagto Médico" >
                                            <h:outputText value="#{repList.dtRecebimento}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Repasse" >
                                            <h:outputText value="#{repList.dtRepasse}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Sit. Paciente" >
                                            <h:outputText value="#{repList.situacaoPaciente == 'A' ? 'Aberto' : repList.situacaoPaciente == 'E' ? 'Estornado' : 'Paga'}" >
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Sit. Terceiro" >
                                            <h:outputText value="#{repList.situacaoTerceiro=='N'?'Não Liberado':'Liberado'}" >
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </p:rowExpansion>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </b:column>
            </div>
        </h:form>

    </body>
</html>
