<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >
        <h:form id="novo">
            <p:messages id="msgBar2" closable="true" />
            <b:row>
                <b:column span="6">
                    <bcr:outputrequired value="Descrição" />
                    <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Descrição" 
                                  requiredMessage="O campo Descrição é obrigatório" value="#{servicoMB.servico.descricao}" 
                                  onblur="capitaliseFirstLetter(this.value, this.id)" />
                </b:column>
            </b:row>
            <b:row>
                <b:column span="3">
                    <bcr:outputrequired value="Escala" />
                    <script>
                        function replaceMy(value){
                            var val = value;
                            var val2 = val.replace(".",",");
                            document.getElementById("novo:escala").value = val2;
                        }
                    </script>
                    <p:inputText id="escala" styleClass="form-control"  required="true"  label="Escala" 
                                 requiredMessage="O campo Escala é obrigatório" value="#{servicoMB.servico.escala}" 
                                 onblur="capitaliseFirstLetter(this.value, this.id); replaceMy(this.value);" >
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                        <p:ajax event="blur" update="saida" />
                    </p:inputText>
                </b:column>
                <b:column span="3">
                    <bcr:outputrequired value="Tipo Honorários" />
                    <p:selectOneMenu value="#{servicoMB.servico.tipo}" styleClass="form-control" required="true" requiredMessage="Informe o tipo de serviço!">
                        <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                        <f:selectItem itemLabel="Hospitalar" itemValue="H" />
                        <f:selectItem itemLabel="Honorários" itemValue="N" />
                    </p:selectOneMenu>
                </b:column>
                <b:column span="3">
                    <bcr:outputrequired value="% Fechamento dos Cálculos" /><br/>
                    <h:outputText id="saida" style="font-weight: bolder; font-size: 16px; color: red;"  value="#{servicoMB.servico.escala*100}" >
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                    </h:outputText>
                </b:column>
            </b:row>
            <b:row>
                <b:column span="12">
                    <br/>
                    <p:commandButton value="Adicionar Itens" icon="add" styleClass="btn" update=":frmNovoItem" 
                                     action="#{servicoMB.novoItem()}" onclick="PF('dlgAddItem').show()" />
                    <hr/>
                </b:column>
            </b:row>
            <b:row>
                <b:column span="6">
                    <p:dataTable id="tblItensServicos" value="#{servicoMB.itens}" var="it" emptyMessage="Nenhum subitem adicionado" rowIndexVar="var" >
                        <p:column headerText="Atribuição">
                            <center>
                                <h:outputText value="#{it.descritiva}" style="width: 60%"/>
                            </center>
                        </p:column>
                        <p:column headerText="Percentual (%)">
                            <center>
                                <h:outputText value="#{it.percentual}">
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                </h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Base de Cálculo">
                            <center>
                                <h:outputText value="#{it.baseCalculo == 'S' ? 'SIM' : 'NÃO'}" />
                            </center>
                        </p:column>
                        <p:column rendered="false">
                            <center>
                                <h:outputText value="#{it.setOrdenar(var)}" />
                            </center>
                        </p:column>
                        <p:column headerText="Excluir">
                            <center>
                                <p:commandLink title="Excluir Item" id="infoExc" actionListener="#{servicoMB.excluirItem(it,var)}" update=":novo:tblItensServicos, tblItensServicos, :novo, :novo:msgBar2" >
                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                </p:commandLink>
                            </center>
                        </p:column>
                        <f:facet name="footer">
                            <h:panelGrid columns="4">
                                Total:
                                <h:outputText value="#{servicoMB.valorTotalPercentual}">
                                    <f:convertNumber type="percent"  />
                                </h:outputText>
                                Restante:   
                                <h:outputText value="#{servicoMB.valorTotalRestantePercentual}">
                                    <f:convertNumber type="percent" />
                                </h:outputText>
                            </h:panelGrid>
                        </f:facet>
                    </p:dataTable>
                </b:column>
            </b:row>
            <b:row>
                <b:column span="12">
                    <br/>
                    <hr/>
                    <p:commandButton value="Salvar"  ajax="true" styleClass="btn" update=":novo:msgBar2, :frmConsultarServicos:dtlServicos" icon="salvar" validateClient="true" action="#{servicoMB.salvar()}" oncomplete="PF('dlgCadastrarServico').hide()" >
                    </p:commandButton>
                </b:column>
            </b:row>
        </h:form>

        <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" resizable="false" closeOnEscape="true" closable="true"> 
            <h:form id="frmConfirmarExclusao">
                <h:panelGrid columns="2">
                    <h:outputText value="Você confirma a exclusão do registro #{servicoMB.servico.descricao} " />
                </h:panelGrid>
                <hr/>
                <center>
                    <h:panelGrid columns="2">
                        <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{servicoMB.excluir(servicoMB.servico)}" update=":novo" oncomplete="PF('dlgConfirm').hide()"/>
                        <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{servicoMB.novo()}" update=":novo" />
                    </h:panelGrid>
                </center>
            </h:form>

        </p:dialog>

    </body>
</html>
