<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >
        <script >
            function urlSite(){           
                var url = window.location;
                url = url.toString();
                //alert(url.contains('formOrcamento'));
                if(url.contains('formOrcamento')){
                    return false;
                }else{
                    return true;
                }          
            }           
        </script>
        <h:form  id="frmConsultarPaciente">
            <p:dataTable id="dtlConsultarPaciente" value="#{cirurgiaMB.model}" var="varPaciente" widgetVar="wvarPaciente" paginator="true" rows="10" lazy="true">
                <f:facet name="header">
                    <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                        <p:commandButton value="Novo Paciente" styleClass="btn" icon="add" immediate="true" 
                                         action="#{pacienteMB.novo()}" update=":frmCadastroPaciente" 
                                         onclick="PF('dlgCadastrarPaciente').show();" />
                    </h:panelGrid>
                </f:facet>
                <p:column width="12%">
                    <p:commandButton   value="Selecionar" icon="add" actionListener="#{cirurgiaMB.selecionarPaciente(varPaciente)}" update=":frmInserir:pacienteField" oncomplete="PF('dlgConsultarPaciente').hide()"/>
                </p:column>
                <p:column headerText="Código" filterBy="#{varPaciente.idPaciente}" sortBy="#{varPaciente.idPaciente}" filterMatchMode="contains" width="8%">
                    <h:outputText value="#{varPaciente.idPaciente} "  />
                </p:column>
                <p:column headerText="Nome" filterBy="#{varPaciente.nome}" sortBy="#{varPaciente.nome}" filterMatchMode="contains" >
                    <h:outputText value="#{varPaciente.nome}"  />
                </p:column>
                <p:column headerText="CPF" filterBy="#{varPaciente.cpf}" sortBy="#{varPaciente.cpf}" filterMatchMode="contains">
                    <h:outputText value="#{varPaciente.cpf}"  />
                </p:column>
                <p:column headerText="RG" filterBy="#{varPaciente.rg}" filterMatchMode="contains" sortBy="#{varPaciente.rg}">
                    <h:outputText value="#{varPaciente.rg}"  />
                </p:column>
                <p:column headerText="Telefone" filterBy="#{varPaciente.telefone}" filterMatchMode="contains" sortBy="#{varPaciente.telefone}">
                    <h:outputText value="#{varPaciente.telefone}"  />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
