<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >
        <h:form id="frmCadastroProcedimento">
            <b:row>
                <b:column span="6">
                    <b:column span="12">
                        <bcr:outputrequired value="Descrição " />
                        <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" 
                                      value="#{procedimentoMB.procedimento.descricao}" />
                    </b:column>
                </b:column>
                <b:column span="6">
                    <p:messages id="msgsProcedimento" />
                </b:column>
                <b:column span="12">
                    <hr/>
                    <p:commandButton value="Salvar" update="msgsProcedimento, frmCadastroProcedimento,:frmConsultarProcedimentos:dtlConsultarProcedimentos " icon="salvar" 
                                     validateClient="true" action="#{procedimentoMB.salvar('I')}"  oncomplete="if (!args.validationFailed){PF('dlgCadastrarProcedimentos').hide()}" >
                    </p:commandButton>
                </b:column>
            </b:row>
        </h:form>

    </body>
</html>
