<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <h:form id="formCheque" >
            <b:column span="12">
                <b:row>
                    <b:column id="clnMensagem" span="12">
                        <div  class="alert alert-info" style="display: #{cirurgiaMB.verificarSaldoRestante() ? 'ruby' : 'none'}">
                            <div style=""/>
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Ok!</strong> Insira mais pagamentos. Valor Pago: <h:outputText value="#{cirurgiaMB.valorTotalPago}"><f:convertNumber type="currency" /></h:outputText>. Saldo restante: <h:outputText value="#{cirurgiaMB.valorRestante}"><f:convertNumber type="currency" /></h:outputText>
                        </div>
                        <div  class="alert alert-success" style="display: #{cirurgiaMB.verificarSaldoRestante() == false and cirurgiaMB.arredondar_double(cirurgiaMB.valorTotalPago) == cirurgiaMB.arredondar_double(cirurgiaMB.cirurgia.valor) ? 'ruby' : 'none'}">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Ok!</strong> Pagamentos lançados equivalem ao valor do fechamento. Fechamento: R$ <h:outputText value="#{cirurgiaMB.valorTotalPago}"><f:convertNumber type="currency" /></h:outputText>
                        </div>
                        <div  class="alert alert-danger" style="display: #{cirurgiaMB.arredondar_double(cirurgiaMB.valorTotalPago) > cirurgiaMB.arredondar_double(cirurgiaMB.cirurgia.valor) ? 'ruby' : 'none'}">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Atenção!</strong> Pagamentos lançados superam o valor do fechamento. Fechamento: R$ <h:outputText value="#{cirurgiaMB.cirurgia.valor}"><f:convertNumber type="currency" /></h:outputText>. Valor Pago: <h:outputText value="#{cirurgiaMB.valorTotalPago}"><f:convertNumber type="currency" /></h:outputText>
                        </div>
                        <div  class="alert alert-danger" style="display: #{cirurgiaMB.validacaoCGC ? 'none' : 'ruby'}">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Atenção!</strong> CPF inválido. Informe corretamente o CPF/CNPJ.
                        </div>
                    </b:column>
                </b:row>
                <b:row id="rwTipo">
                    <b:column col-xs="6" col-lg="4" col-md="4" >
                        <p:outputLabel value="Forma de Pagamento" for="formaPagamento" indicateRequired="false"/>
                        <p:selectOneMenu value="#{cirurgiaMB.movimento}" styleClass="form-control" id="formaPagamento">
                            <f:selectItem itemLabel="Cheque"  itemValue="C" />
                            <f:selectItem itemLabel="Dinheiro" itemValue="D" />
                            <f:selectItem itemLabel="Nota Promissória" itemValue="N" />
                            <f:selectItem itemLabel="Cartão - Débito" itemValue="A" />
                            <f:selectItem itemLabel="Cartão - Crédito" itemValue="R" />
                            <f:selectItem itemLabel="Depósito Bancário" itemValue="B" />                            
                            <p:ajax event="change" update="rwTipo, rwCheque" listener="#{cirurgiaMB.setarDatas()}"/>
                        </p:selectOneMenu>
                    </b:column>
                    <b:column col-xs="6" col-lg="3" col-md="4" id="clnDtCompensacao" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' or cirurgiaMB.movimento == 'R'}">
                        <p:outputLabel id="labelVencimentoCompensacao" value="#{cirurgiaMB.movimento == 'C' ? 'Dt.Compensação' : cirurgiaMB.movimento == 'N' ? 'Dt.Vencimento' : 'Dt.Recebimento'}" for="dtCompensacaoVencimento" indicateRequired="false"/>
                        <p:calendar id="dtCompensacaoVencimento" value="#{cirurgiaMB.dtCompensado}"
                                    mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" showButtonPanel="true" locale="pt"/>
                    </b:column>
                    <b:column col-xs="12" col-lg="3" col-md="4">
                        <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                        <pe:inputNumber id="valor" emptyValue="empty" value="#{cirurgiaMB.valorCheque}" symbol="R$ ">
                            <p:ajax update="clnMensagem, salvar" event="blur"/>
                        </pe:inputNumber>
                    </b:column>
                    <b:column col-xs="4" col-lg="2" col-md="2" styleClass="hidden-md hidden-xs" >
                        <p:outputLabel value="Emitir Recibo?" />
                        <p:selectBooleanButton value="#{cirurgiaMB.recibo}" onLabel="Sim" offLabel="Não" >
                            <p:ajax update="@form"/>
                        </p:selectBooleanButton>
                    </b:column>
                </b:row>
                <b:row id="rwCheque">
                    <b:column col-xs="6" col-lg="4" col-md="4" id="clnNumeroCheque" rendered="#{cirurgiaMB.movimento == 'C'}">
                        <p:outputLabel value="Nº Cheque" for="numeroCheque" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                        <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" required="#{cirurgiaMB.movimento == 'C'}" 
                                     requiredMessage="O nº cheque não foi informado." value="#{cirurgiaMB.numeroCheque}"/>
                    </b:column>
                    <b:column col-xs="6" col-lg="6" col-md="4" id="clnBanco" rendered="#{cirurgiaMB.movimento == 'C'}">
                        <p:outputLabel value="Banco" for="cmbBanco" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                        <h:panelGrid columns="2" style="width: 100% !important; ">
                            <p:selectOneMenu id="cmbBanco" value="#{cirurgiaMB.banco.idBanco}" style="text-transform: capitalize" 
                                             required="#{cirurgiaMB.movimento == 'C'}" 
                                             requiredMessage="Informe o banco." styleClass="form-control">
                                <f:selectItem itemLabel=" " itemValue=""  />
                                <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                               itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </b:column>
                    <b:column col-xs="6" col-lg="2" col-md="4" id="clnConta" rendered="#{cirurgiaMB.movimento == 'C'}">
                        <p:outputLabel value="Conta Bancária" for="Conta" indicateRequired="false"/>
                        <p:inputText  styleClass="form-control" id="Conta" label="Conta" value="#{cirurgiaMB.conta}"/>
                    </b:column> 

                    <b:column span="1" rendered="false">
                        <h:outputText value="Compensado?" />
                        <p:selectOneMenu id="pagarAgora" value="#{cirurgiaMB.compensado}" styleClass="form-control">
                            <f:selectItem itemLabel="Não" itemValue="N" />
                            <f:selectItem itemLabel="Sim" itemValue="S" />
                            <p:ajax update="dtCompensacaoVencimento" event="change"/>
                        </p:selectOneMenu>
                    </b:column>
                    <b:column col-xs="6" col-lg="4" col-md="6" id="clnCPF">
                        <p:outputLabel for="TxtCPF" id="CPF" value="#{cirurgiaMB.CPFCPNJ ? 'CNPJ' : 'CPF'}"
                                       rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"/>
                        <h:panelGrid columns="2" width="100%">
                            <p:commandButton icon="refresh" immediate="true" id="btnCGC"
                                             action="#{cirurgiaMB.mudarMascara()}" ajax="true" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"
                                             update="TxtCPF, clnCPF" />                            
                            <p:inputMask id="TxtCPF" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" styleClass="form-control" placeholder="#{cirurgiaMB.CPFCPNJ ? '__.___.___/____-__' : '___.___.___-__'}" 
                                         value="#{cirurgiaMB.CPF}" mask="#{cirurgiaMB.CPFCPNJ ?  '99.999.999/9999-99' : '999.999.999-99' }" required="#{cirurgiaMB.movimento != 'D'}" requiredMessage="#{cirurgiaMB.CPFCPNJ ? 'O nº do CNPJ é necessário.' : 'O Nº do CPF é necessário.'}" style="border: #{cirurgiaMB.validacaoCGC ? 'black': '1px solid #ff0000 !important'} " >
                                <p:ajax  event="blur" update="@this, clnMensagem" listener="#{cirurgiaMB.validarCPF()}"/>
                            </p:inputMask>
                        </h:panelGrid>
                    </b:column>
                    <b:column col-xs="8" col-lg="8" col-md="6" id="clnEmitente" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" >
                        <p:outputLabel for="TxtEmitente" id="emitente" value="Emitente"/>
                        <h:panelGrid columns="2" style="width: 100% !important;" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}">
                            <p:inputText value="#{cirurgiaMB.emitenteCheque}" 
                                         style="text-transform: capitalize; font-size: 10px" id="TxtEmitente" styleClass="form-control"/>
                        </h:panelGrid>
                    </b:column>
                    <b:column col-xs="4" col-lg="2" col-md="2" styleClass="hidden-lg" >
                        <p:outputLabel value="Emitir Recibo?" />
                        <p:selectBooleanButton value="#{cirurgiaMB.recibo}" onLabel="Sim" offLabel="Não" />
                    </b:column>
                    <b:column col-xs="12" col-lg="12" col-md="9" col-sm="12">
                        <p:outputLabel value="Observação" />
                        <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{cirurgiaMB.observacao}" />
                    </b:column>
                </b:row>
                <b:row id="tr">
                    <b:column span="12">
                        <br/>                                                   
                        <h:panelGrid columns="4">
                            <p:commandButton id="incluir" value="Incluir e continuar" icon="add" 
                                             action="#{cirurgiaMB.PagarCirurgiaCheque()}" ajax="true" 
                                             update=":msg, :formCheque:listaCheque, @form, :formCheque:valor" />
                            <p:commandButton id="salvar" value="Sair"  icon="cancel16" ajax="true" immediate="true" 
                                             update=":frmInserir:rptParcelas, :msg, :frmInserir:btnSalvar, :frmInserir:clnParcelas" 
                                             oncomplete="PF('dlgLancarCheque').hide()"/>
                            <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                <f:facet name="start">
                                    <h:panelGrid columns="2">
                                        <img src="Recursos/img/launch_loading.gif" />   
                                    </h:panelGrid>
                                </f:facet>
                            </p:ajaxStatus>
                            <p:blockUI block="formCheque:tr" trigger="salvar, incluir" >
                                <img src="Recursos/img/novoLoading.gif" />
                            </p:blockUI>
                        </h:panelGrid> 
                    </b:column>
                </b:row>
            </b:column>
            <br/>
            <b:column span="12">
                <hr/>
                <p:dataTable id="listaCheque" value="#{cirurgiaMB.listaChequeTemporaria}" var="chequeList" rows="2" paginator="true" 
                             paginatorPosition="top" emptyMessage="Não foram encontrados pagamentos">
                    <p:column width="50">
                        <center>
                        <h:outputText value="#{chequeList.numeroParcela}" />
                        </center>
                    </p:column>
                    <p:column headerText="Pagamento" width="15%" styleClass="hidden-xs">
                        <center>
                        <h:outputText value="#{chequeList.movimento == 'C' ? 'Cheque' : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'B' ? 'Depósito Bancário' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão - Débito' : chequeList.movimento == 'R' ? 'Cartão - Crédito' : '-'}" />
                        </center>
                    </p:column>
                    <p:column headerText="Emitente" width="15%" >
                        <h:outputText value="#{chequeList.emitente}" />
                    </p:column>
                    <p:column headerText="Nº Cheque" width="15%" >
                        <center>
                        <h:outputText value="#{chequeList.movimento == 'C' ? 'Cheque' : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'B' ? 'Depósito Bancário' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão - Débito' : chequeList.movimento == 'R' ? 'Cartão - Crédito' : '-'}" />
                        </center>
                    </p:column>
                    <p:column headerText="#{chequeList.movimento == 'C' ? 'Compensar' : 'Receber'}" width="12%" >
                        <center>
                            <h:outputText value="#{chequeList.dtCompensacaoVencimento}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </center>
                    </p:column>
                    <p:column headerText="Valor" width="15%">
                        <center>

                        <h:outputText value="#{chequeList.valor}" >
                            <f:convertNumber type="currency" />
                        </h:outputText>
                            </center>
                    </p:column>
                    <p:column headerText="Excluir"  width="10%">
                        <center>
                            <p:commandButton id="btnExcluir" styleClass="ui-confirmdialog-no" immediate="true" icon="cancel16" 
                                             update="@form, :frmInserir:clnParcelas" 
                                             action="#{cirurgiaMB.excluirCheque2(chequeList)}">
                            </p:commandButton>
                        </center>
                    </p:column>
                    <f:facet name="footer">
                        <h:panelGrid columns="2">
                            <h:outputText value="Valor pago:" />
                            <h:outputText value="#{cirurgiaMB.valorTotal}" >
                                <f:convertNumber type="currency" />
                            </h:outputText>
                        </h:panelGrid>
                    </f:facet>
                </p:dataTable>
            </b:column>

        </h:form>
    </body>
</html>
