<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:cc="http://java.sun.com/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:ajaxStatus style="display: block; text-align: center; height: 24px;" onsuccess="setTimeout(function() { $('.ui-messages').slideUp(); }, 10000);" rendered="#{cc.attrs.rendered}">
            <f:facet name="start">
                <img src="Recursos/img/novoLoadingProcessando.gif" />
                &nbsp;&nbsp;&nbsp;
                <span style="font-size: 15px; padding-top: 10px; font-weight: bolder"></span>
            </f:facet>
            <f:facet name="complete">
            </f:facet>
        </p:ajaxStatus>
    </cc:implementation>
</html>