<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="block" required="true" />
        <cc:attribute name="trigger" required="true" />
        <cc:attribute name="message" required="true" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:blockUI block="#{cc.attrs.block}" trigger="#{cc.attrs.trigger}" >
            <h:outputText value="#{cc.attrs.message}" /><br/>
            <img src="Recursos/img/loading.gif" />
        </p:blockUI>
    </cc:implementation>
</html>