<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <!--<cc:attribute name="visible"  required="true" shortDescription="false - mostra / true - oculta" />-->
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dialog closable="false" header="Atenção" visible="true" modal="true" resizable="false" draggable="false" position="400,0"  >
            #{cc.attrs.visible}
            <center><img src="Recursos/img/AcessoNegado.png"  style="width: 100%"/></center>
            <br/>
            <center><a  href="index.xhtml"  class="btn btn-primary">Voltar</a></center>
        </p:dialog>
    </cc:implementation>
</html>