<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="idDialogo" required="true" shortDescription="ID do Diálogo." />
        <cc:attribute name="header" required="true" shortDescription="Header do Diálogo." />
        <cc:attribute name="idForm" required="true" shortDescription="ID do Formulário do Diálogo." />
        <cc:attribute name="mostrarBotaoPacienteNaoCadastrado" shortDescription="Mostrar botão 'Paciente não cadastrados'" />
        <cc:attribute name="idDatatable" required="true" shortDescription="ID do DataTable do Diálogo." />
        <cc:attribute name="updateBtnSelecionar" required="true" shortDescription="id do Form/Campo para realizar o Update após o selecionar" />
        <cc:attribute name="action" targets=":#{cc.attrs.idForm}:#{cc.attrs.idDatatable}:btnSelecionar" 
                      method-signature="void method(javax.faces.event.ActionEvent)" shortDescription="Método Action do botão Selecionar" />
        <cc:attribute name="actionTodosPacientes" method-signature="void method(javax.faces.event.ActionEvent)" shortDescription="Método Action do botão Todos os Pacientes" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dialog closeOnEscape="true" id="#{cc.attrs.idDialogo}" widgetVar="#{cc.attrs.idDialogo}" 
                  header="#{cc.attrs.header}" modal="true" draggable="true" resizable="false" width="80%" 
                  position="top">
            <b:row id="rwPaciente">
                <h:form id="#{cc.attrs.idForm}">
                    <div class="col-md-12">
                        <p:dataTable id="#{cc.attrs.idDatatable}" value="#{pacienteMB.model}" sortBy="#{varPaciente.nome}"
                                     lazy="true" var="varPaciente" widgetVar="wvarPaciente" paginator="true" rows="10" 
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="10,15,25,50,100,200">
                            <f:facet name="header">
                                <p:commandButton id="btnTodosPacientes" title="Todos os pacientes" value="Todos os Pacientes" icon="refresh" styleClass="btn"
                                                 action="#{cc.attrs.actionTodosPacientes}" update="#{cc.attrs.updateBtnSelecionar}" 
                                                 oncomplete="PF('#{cc.attrs.idDialogo}').hide();" />
                                &nbsp;
                                <p:commandButton id="btnNaoCadastrados" title="Pacientes não Cadastrados" value="Pacientes não Cadastrados" 
                                                 icon="refresh" styleClass="btn" action="#{orcamentoMB.somentePacienteNaoCadastrados()}" rendered="#{orcamentoMB.acao == 'Inserindo' or cc.attrs.mostrarBotaoPacienteNaoCadastrado}" update="#{cc.attrs.updateBtnSelecionar}" 
                                                 oncomplete="PF('#{cc.attrs.idDialogo}').hide();" />
                                
                            </f:facet>
                            <p:column width="12%" >
                                <p:commandButton id="btnSelecionar" icon="selecionar" value="selecionar" action="#{cc.attrs.action}"
                                                 update="#{cc.attrs.updateBtnSelecionar}" oncomplete="PF('#{cc.attrs.idDialogo}').hide();" />
                            </p:column>
                            <p:column headerText="ID" filterBy="#{varPaciente.idPaciente}" filterMatchMode="contains" width="5%">
                                <h:outputText value="#{varPaciente.idPaciente} "  />
                            </p:column>
                            <p:column headerText="Nome" filterBy="#{varPaciente.nome}" sortBy="#{varPaciente.nome}" filterMatchMode="contains">
                                <h:outputText value="#{varPaciente.nome}"  />
                            </p:column>
                            <p:column headerText="Data Nasc." width="10%" sortBy="#{varPaciente.dtNascimento}" >
                                <center>
                                    <h:outputText value="#{varPaciente.dtNascimento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="CPF" filterBy="#{varPaciente.cpf}" filterMatchMode="contains">
                                <h:outputText value="#{varPaciente.cpf}"  />
                            </p:column>
                            <p:column headerText="Nome da Mãe" filterBy="#{varPaciente.nomeMae}" filterMatchMode="contains">
                                <h:outputText value="#{varPaciente.nomeMae}"  />
                            </p:column>
                            <p:column headerText="Telefone" filterBy="#{varPaciente.telefone}" filterMatchMode="contains" >
                                <f:facet name="filter">
                                    <p:inputMask
                                        styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                        onchange="PF('wvarPaciente').filter()"
                                        onselect="PF('wvarPaciente').filter()"
                                        onblur="PF('wvarPaciente').filter()"
                                        onkeypress="PF('wvarPaciente').filter()"
                                        mask="(99) 999999999"
                                        />
                                </f:facet>
                                <h:outputText value="#{varPaciente.telefone}"  />
                            </p:column>
                            <p:column headerText="Celular" filterBy="#{varPaciente.telefoneCelular}" width="10%" filterMatchMode="contains" >
                                <f:facet name="filter">
                                    <p:inputMask
                                        styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                        onchange="PF('wvarPaciente').filter()"
                                        onselect="PF('wvarPaciente').filter()"
                                        onblur="PF('wvarPaciente').filter()"
                                        onkeypress="PF('wvarPaciente').filter()"
                                        mask="(99) 999999999"
                                        />
                                </f:facet>
                                <h:outputText value="#{varPaciente.telefoneCelular}"  />
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>
            </b:row>
        </p:dialog>
    </cc:implementation>
</html>
