<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="idDialogo" required="true" shortDescription="ID do Diálogo." />
        <cc:attribute name="header" required="true" shortDescription="Header do Diálogo." />
        <cc:attribute name="idForm" required="true" shortDescription="ID do Formulário do Diálogo." />
        <cc:attribute name="idDatatable" required="true" shortDescription="ID do DataTable do Diálogo." />
        <cc:attribute name="updateBtnSelecionar" required="true" shortDescription="id do Form/Campo para realizar o Update após o selecionar" />
        <cc:attribute name="metodoPesquisar" required="true" shortDescription="Método para pesquisar motivos."/>
        <cc:attribute name="action" targets=":#{cc.attrs.idForm}:#{cc.attrs.idDatatable}:btnSelecionar" 
                      method-signature="void method(javax.faces.event.ActionEvent)" shortDescription="Método Action do botão Selecionar" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dialog closeOnEscape="true" id="#{cc.attrs.idDialogo}" widgetVar="#{cc.attrs.idDialogo}" 
                  header="#{cc.attrs.header}" modal="true" draggable="true" resizable="false" width="50%"
                  position="top">
            <b:row id="rwMotivo">
                <h:form id="#{cc.attrs.idForm}">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <strong>Informação.</strong> Selecione um motivo cadastrado.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p:dataTable id="#{cc.attrs.idDatatable}" value="#{cc.attrs.metodoPesquisar}" sortBy="#{motivo.descricao}"
                                     var="motivo" widgetVar="wvmotivo" paginator="true" rows="10" >
                            <f:facet name="header">
                                <p:commandButton id="btnAdicionarMotivo" title="Adicionar motivo" value="Novo" icon="add" styleClass="btn"
                                                 action="#{motivoMB.novo()}" update="@form"  rendered="#{sessaoMB.usuario.idPapel.novomotivo}"
                                                 oncomplete="PF('dlgNovo').show();" />
                            </f:facet>
                            <p:column width="150" >
                                <center>
                                    <p:commandButton id="btnSelecionar" icon="selecionar" value="selecionar" action="#{cc.attrs.action}"
                                                     update="#{cc.attrs.updateBtnSelecionar}" oncomplete="PF('#{cc.attrs.idDialogo}').hide();" />
                                </center>
                            </p:column>
                            <p:column headerText="ID" filterBy="#{motivo.idMotivo}" filterMatchMode="contains" width="80">
                                <h:outputText value="#{motivo.idMotivo} "  />
                            </p:column>
                            <p:column headerText="Descrição" filterBy="#{motivo.descricao}" sortBy="#{motivo.descricao}" filterMatchMode="contains">
                                <h:outputText value="#{motivo.descricao}"  />
                            </p:column>                            
                        </p:dataTable>
                    </div>
                </h:form>
            </b:row>
        </p:dialog>

        <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Motivo" height="25%" width="50%" resizable="false" closeOnEscape="true" closable="true">
            <h:form id="novo">
                <b:row>
                    <b:column span="12">
                        <b:column span="4">
                            <bcr:outputrequired value="Usar em:" />
                            <p:selectOneMenu value="#{motivoMB.motivo.tipo}" style="width: 100%" filter="true" 
                                             filterMatchMode="contains" styleClass="form-control" converter="Converter">
                                <f:selectItem itemLabel="Todos" itemValue="Todos"/>
                                <f:selectItem itemLabel="Orçamentos" itemValue="Orçamentos"/>
                                <f:selectItem itemLabel="Lançamentos Avulsos" itemValue="Lançamento Avulso"/>
                                <f:selectItem itemLabel="Troca de Repasses" itemValue="Troca de Repasses"/>
                            </p:selectOneMenu>
                        </b:column>
                        <b:column span="8">
                            <bcr:outputrequired value="Descrição" />
                            <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{motivoMB.motivo.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                        </b:column>
                    </b:column>

                    <b:column span="12">
                        <hr/>
                        <p:commandButton value="Salvar"  ajax="true" styleClass="btn" 
                                         update="@widgetVar(wvmotivo), novo" icon="salvar"  validateClient="true" action="#{motivoMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                        &nbsp;
                        <p:commandButton value="Incluir e continuar" styleClass="btn" ajax="true" update="@widgetVar(wvmotivo), novo" icon="add"  validateClient="true" action="#{motivoMB.salvar()}" oncomplete="#{motivoMB.novo()}" />
                    </b:column>
                </b:row>
            </h:form>
        </p:dialog>
    </cc:implementation>
</html>
