<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="url" required="false" shortDescription="Informe o url da pagina" /> 
        <cc:attribute name="value" required="true" shortDescription="Informe o label do menu" /> 
        <cc:attribute name="nameParam" required="false" shortDescription="Informe o nome do Paramêtro a ser criado" /> 
        <cc:attribute name="valueParam" required="false" shortDescription="Informe o valor do Paramêtro a ser criado" /> 
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <li>
            <a href="#{cc.attrs.url}" class="ui-commandlink ui-widget">
                #{cc.attrs.value}
                <f:param name="#{cc.attrs.nameParam}" value="#{cc.attrs.valueParam}"/>
            </a>          
        </li>
    </cc:implementation>
</html>