<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="label" required="true" />
        <cc:attribute name="value"  />
        
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <span  style="font-weight: bolder; font-size: 14px; color: #999999;">#{cc.attrs.label}: </span>
        <h:outputText style="font-size: 14px;" value="#{cc.attrs.value}" >
            <f:convertDateTime pattern="dd/MM/yyyy" />
        </h:outputText>
    </cc:implementation>
</html>