<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <link rel="icon" href = "Recursos/img/logo-ux.png" />
        <title>SMA - Sistema Médico de Associados (#{sessaoMB.tipoApp()})</title>
        <!-- CSS primários -->
        <link href="Recursos/css/tooltipster.bundle.min.css" rel="stylesheet"/>
        <link href="Recursos/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="Recursos/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <!-- CSS -->
        <link href="Recursos/css/animate.css" rel="stylesheet"/>
        <link href="Recursos/css/style.css" rel="stylesheet"/>
        <link href="Recursos/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="Recursos/css/icones-custom.css" rel="stylesheet"/>
        <link href="Recursos/css/alertify.core.css" rel="stylesheet"/>
        <link href="Recursos/css/alertify.default.css" rel="stylesheet"/>

        <!-- JS -->
        <script src="Recursos/js/bootstrap.min.js"></script>
        <script src="Recursos/js/plugins/metisMenu/jquery.metisMenu.js"></script>

        <script>
            $(document).ready(function () {

            });
        </script>

        <script>
            function deslogar( ) {
                alertify.confirm("Você deseja sair mesmo?", function (e) {
                    if (e) {
                        document.location = '#{request.contextPath}/j_spring_security_logout';
                    }
                });
            }

            function urlSite() {
                var url = window.location;
                url = url.toString()
                url = url.replace(".xhtml", "")
                url = url.split("/");
                alert(url);
            }

        </script>
        <script>
            PrimeFaces.locales['pt'] = {
                closeText: 'Fechar',
                prevText: 'Anterior',
                nextText: 'Próximo',
                currentText: 'Começo',
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Só Horas',
                timeText: 'Tempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Data Atual',
                        ampm: false,
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                allDayText: 'Todo Dia'
            };
        </script>

        <script language="JavaScript">
            function fullScreen()
            {
                window.open("", "_self", "fullscreen=yes, scrollbars=auto");
            }
            $(document).on('keyup keypress', 'form input[type="text"]', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $(document).ready(function () {
                $('input').keypress(function (e) {
                    var code = null;
                    code = (e.keyCode ? e.keyCode : e.which);
                    return (code == 13) ? false : true;
                });
                $.datepicker._gotoToday = function (id) {
                    $(id).datepicker('setDate', new Date()).datepicker('hide').blur();
                };
            });

            function capitaliseFirstLetter(string, id)
            {
                var a = string.charAt(0).toUpperCase() + string.slice(1);
                document.getElementById(id).value = a;
            }
        </script>
        <script>
            jQuery(function ($) {
                $("input.data:text").mask("99/99/9999");
            });
        </script>
        <script>
            function validarSenha(campo) {
                var regex = '[^a-zA-Z0-9]+';
                if (campo.match(regex)) {
                    alert("digite uma senha válida ");
                    return false;
                } else {
                    //não encontrou caracteres especiais
                    return true;
                }
            }
            function zeraCamposSenha() {
                document.getElementById('frmPerfil:senha').value = "";
                document.getElementById('frmPerfil:pwd2').value = "";
                document.getElementById('frmPerfil:pwd3').value = "";
            }

        </script>
    </h:head>

    <h:body styleClass="top-navigation">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <ui:insert name="top">
                    <div class="row border-bottom white-bg">
                        <nav class="navbar navbar-static-top" role="navigation">
                            <div class="navbar-header">
                                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                    <i class="fa fa-reorder"></i>
                                </button>
                                <a href="#" class="navbar-brand">Inspinia</a>
                            </div>
                            <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a aria-expanded="false" role="button" href="layouts.html"> Back to main Layout page</a>
                                    </li>
                                    <li class="dropdown">
                                        <h:panelGroup rendered="#{sessaoMB.usuario.idPapel.resumoPaciente or sessaoMB.usuario.idPapel.resumoMedico}">
                                            <li>
                                                <a aria-expanded="false" style="#{sessaoMB.usuario.idTerceiro != null ? 'display: none;' : ''}" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Resumo<span class="caret"></span></a>
                                                <ul role="menu" class="dropdown-menu">
                                                    <bcr:menuLink value="Resumo Paciente" url="formResumoPaciente.xhtml" rendered="#{sessaoMB.usuario.idPapel.resumoPaciente}"  />
                                                    <bcr:menuLink value="Resumo Médico"   url="formResumoMedico.xhtml"   rendered="#{sessaoMB.usuario.idPapel.resumoMedico}"/>
                                                </ul>
                                            </li>
                                        </h:panelGroup>






                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <ul class="nav navbar-top-links navbar-right">
                                    <li>
                                        <a href="login.html">
                                            <i class="fa fa-sign-out"></i> Log out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </ui:insert>
                <div class="wrapper wrapper-content">
                    <ui:insert name="content">
                    </ui:insert>
                    <div class="footer">
                        <div class="pull-right">
                            10GB of <strong>250GB</strong> Free.
                        </div>
                        <div>
                            <strong>Copyright</strong> Example Company © 2014-2017
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="Recursos/js/inspinia.js"></script>
        <script src="Recursos/js/plugins/pace/pace.min.js"></script>
        <script src="Recursos/js/functions.js"></script>
        <script src="Recursos/js/validarCPF.js"></script>
        <script src="Recursos/js/alertify.js"></script>
        <script src="Recursos/js/mask.js"></script>

    </h:body>

</html>
