<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <link rel="icon" href = "Recursos/img/logo-ux.png" />
        <title>SMA - Sistema Médico de Associados (#{sessaoMB.tipoApp()})</title>
        <!-- CSS primários -->
        <link href="Recursos/css/tooltipster.bundle.min.css" rel="stylesheet"/>
        <link href="Recursos/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="Recursos/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <!-- CSS -->
        <link href="Recursos/css/animate.css" rel="stylesheet"/>
        <link href="Recursos/css/style.css" rel="stylesheet"/>
        <link href="Recursos/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="Recursos/css/icones-custom.css" rel="stylesheet"/>
        <link href="Recursos/css/alertify.core.css" rel="stylesheet"/>
        <link href="Recursos/css/alertify.default.css" rel="stylesheet"/>

        <!-- JS -->
        <script src="Recursos/js/bootstrap.min.js"></script>
        <script src="Recursos/js/plugins/metisMenu/jquery.metisMenu.js"></script>

        <script>
            $(document).ready(function () {

            });
        </script>

        <script>
            function deslogar( ) {
                alertify.confirm("Você deseja sair mesmo?", function (e) {
                    if (e) {
                        document.location = '#{request.contextPath}/j_spring_security_logout';
                    }
                });
            }

            function urlSite() {
                var url = window.location;
                url = url.toString()
                url = url.replace(".xhtml", "")
                url = url.split("/");
                alert(url);
            }

        </script>
        <script>
            PrimeFaces.locales['pt'] = {
                closeText: 'Fechar',
                prevText: 'Anterior',
                nextText: 'Próximo',
                currentText: 'Começo',
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Só Horas',
                timeText: 'Tempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Data Atual',
                        ampm: false,
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                allDayText: 'Todo Dia'
            };
        </script>

        <script language="JavaScript">
            function fullScreen()
            {
                window.open("", "_self", "fullscreen=yes, scrollbars=auto");
            }
            $(document).on('keyup keypress', 'form input[type="text"]', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $(document).ready(function () {
                $('input').keypress(function (e) {
                    var code = null;
                    code = (e.keyCode ? e.keyCode : e.which);
                    return (code == 13) ? false : true;
                });
                $.datepicker._gotoToday = function (id) {
                    $(id).datepicker('setDate', new Date()).datepicker('hide').blur();
                };
            });

            function capitaliseFirstLetter(string, id)
            {
                var a = string.charAt(0).toUpperCase() + string.slice(1);
                document.getElementById(id).value = a;
            }
        </script>
        <script>
            jQuery(function ($) {
                $("input.data:text").mask("99/99/9999");
            });
        </script>
        <script>
            function validarSenha(campo) {
                var regex = '[^a-zA-Z0-9]+';
                if (campo.match(regex)) {
                    alert("digite uma senha válida ");
                    return false;
                } else {
                    //não encontrou caracteres especiais
                    return true;
                }
            }
            function zeraCamposSenha() {
                document.getElementById('frmPerfil:senha').value = "";
                document.getElementById('frmPerfil:pwd2').value = "";
                document.getElementById('frmPerfil:pwd3').value = "";
            }

        </script>
    </h:head>

    <h:body>
        <p:tooltip/>
        <div id="wrapper" >
            <nav class="navbar-default navbar-static-side" style="#{!sessaoMB.usuario.trocarSenha ? '' : 'display:none;'}" role="navigation">
                <div class="sidebar-collapse" >
                    <ul class="nav" id="side-menu" >
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                    <center><p:graphicImage styleClass="img-circle" value="Recursos/img/logo-ux.png" height="80px" /></center>
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> 
                                        <span class="block m-t-xs"> 
                                            <strong class="font-bold">#{sessaoMB.usuario.usuario}</strong>
                                        </span> 
                                        <span class="text-muted text-xs block">#{sessaoMB.usuario.idPapel.descricao} 
                                            <b class="caret"></b>
                                        </span> 
                                    </span>

                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a data-toggle="modal" data-target="#modalPerfil" onclick="zeraCamposSenha();" >Trocar senha?</a></li>
                                    <li class="divider"></li>                                    
                                    <li><a data-toggle="modal" data-target="#modalBackup" >Backups</a> </li>
                                    <li class="divider"></li>
                                    <li><a href="#" onclick="deslogar();">Sair</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                SMA
                            </div>
                        </li>
                        <li class="active">
                            <a href="index.xhtml"><i class="fa fa-home"></i> 
                                <span class="nav-label">Início</span> 
                            </a>
                        </li>

                        <h:panelGroup rendered="#{sessaoMB.usuario.idPapel.resumoPaciente or sessaoMB.usuario.idPapel.resumoMedico}">
                            <li>
                                <a href="#" style="#{sessaoMB.usuario.idTerceiro != null ? 'display: none;' : ''}"><i class="fa  fa-star"></i> <span class="nav-label">Resumo</span><span class="fa arrow"></span></a>  
                                <ul class="nav nav-second-level">
                                    <bcr:menuLink value="Resumo Paciente" url="formResumoPaciente.xhtml" rendered="#{sessaoMB.usuario.idPapel.resumoPaciente}"  />
                                    <bcr:menuLink value="Resumo Médico"   url="formResumoMedico.xhtml"   rendered="#{sessaoMB.usuario.idPapel.resumoMedico}"/>
                                </ul>
                            </li>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{sessaoMB.usuario.idTerceiro != null and !sessaoMB.Administrador()}">
                            <li>
                                <a href="mExtrato.xhtml"><i class="fa fa-book"></i> 
                                    <span class="nav-label">Extratos</span> 
                                </a>
                            </li>
                            <li>
                                <a href="mOrcamentos.xhtml"><i class="fa fa-file-text-o"></i> 
                                    <span class="nav-label">Orçamentos</span> 
                                </a>
                            </li>
                            <li>
                                <a href="mPagamentos.xhtml"><i class="fa fa-money"></i> 
                                    <span class="nav-label">Pagamentos</span> 
                                </a>
                            </li>


                        </h:panelGroup>

                        <li style="#{sessaoMB.montaMenuCadastro()}">
                            <a href="#"><i class="fa fa-book"></i> <span class="nav-label">Cadastros</span><span class="fa arrow" title="Cadastros"></span></a>
                            <ul class="nav nav-second-level">
                                <bcr:menuLink value="Médicos" url="formTerceiro.xhtml" rendered="#{sessaoMB.usuario.idPapel.menuterceiro}"  />                                
                                <bcr:menuLink value="Serviços" url="formServico.xhtml" rendered="#{sessaoMB.usuario.idPapel.menuitensorcto}" />
                                <bcr:menuLink value="Pacientes" url="formPaciente.xhtml" rendered="#{sessaoMB.usuario.idPapel.menupaciente}" />
                                <bcr:menuLink value="Regra Repasse" url="formRegraRepasse.xhtml" rendered="#{sessaoMB.usuario.idPapel.verRegraRepasse}" />
                                <li>
                                    <a href="#">Tesouraria<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <bcr:menuLink value="Bancos" url="formBanco.xhtml" rendered="#{sessaoMB.usuario.idPapel.menubanco}" />
                                        <bcr:menuLink value="Formas de Pagamento" url="formFormaPagamento.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menuformapagto}" />
                                        <bcr:menuLink value="Operações em Caixa" url="formOperacao.xhtml"  rendered="false" />
                                    </ul>
                                </li>

                                <li style="#{sessaoMB.montaMenuCadastroGerais()}">
                                    <a href="#">Cadastros Gerais<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <bcr:menuLink value="Status" url="formStatus.xhtml"  rendered="false" />
                                        <bcr:menuLink value="Motivo" url="formMotivo.xhtml"/>                                        
                                        <bcr:menuLink value="Convênios" url="formConvenio.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menuconvenio}" />
                                        <bcr:menuLink value="Procedimentos" url="formProcedimento.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menuprocedimento}" />                                        
                                        <bcr:menuLink value="Especialidades" url="formEspecialidade.xhtml"   rendered="#{sessaoMB.usuario.idPapel.menuespecialidade}"/>  
                                        <bcr:menuLink value="Textos para Emails" url="formTextos.xhtml" />                                        
                                        <bcr:menuLink value="Tipos de Lançamento" url="formTipoInternacao.xhtml" rendered="false"/>  
                                        <bcr:menuLink value="Locais de Atendimento" url="formUnidadeAtendimento.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menuunidadeatendimento}" />


                                    </ul>

                                </li>

                            </ul>
                        </li>  
                        <li style="#{sessaoMB.montaMenuTesouraria()}">
                            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Tesouraria</span><span class="fa  arrow"></span></a>  
                            <ul class="nav nav-second-level">
                                <bcr:menuLink value="Orçamento" url="formOrcamento.xhtml" rendered="#{sessaoMB.usuario.idPapel.menucirurgia}" />
                                <bcr:menuLink value="Atend. Internos" url="formFechamento.xhtml" rendered="#{sessaoMB.usuario.idPapel.menucirurgia}" nameParam="form" valueParam="Internação" />                                
                                <bcr:menuLink value="Atend. Externos" url="formAtendimentoExterno.xhtml" rendered="#{sessaoMB.usuario.idPapel.menucirurgia}" />
                                <bcr:menuLink value="Avulso" url="formLancamentoAvulso.xhtml" rendered="#{sessaoMB.usuario.idPapel.lancamentoAvulso}" />                                
<!--                                <bcr:menuLink value="Estornar Recebimento" url="formEstornoRecebimento.xhtml" rendered="#{sessaoMB.usuario.idPapel.menuestornorecebimento}" />-->
                            </ul>
                        </li>

                        <li style="#{sessaoMB.montaMenuTesouraria()}">
                            <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Caixa</span><span class="fa  arrow"></span></a>  
                            <ul class="nav nav-second-level">
                                <bcr:menuLink value="Movimentação" url="formMovimentoUsuario.xhtml"  rendered="#{sessaoMB.usuario.idPapel.verTransferencia}" />                                        
                                <bcr:menuLink value="Saldo em Caixa" url="formSaldo.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menucontrolecaixa}" />                                
                                <bcr:menuLink value="Cheques" url="formCheque.xhtml" rendered="#{sessaoMB.usuario.idPapel.menucontrolecheques}"  />                                
                                <bcr:menuLink value="Transferências" url="formTransferencia.xhtml"  rendered="#{sessaoMB.usuario.idPapel.verTransferencia}" />                                  
                                <bcr:menuLink value="Notas Promissórias" url="formNotasPromissorias.xhtml"  rendered="#{sessaoMB.usuario.idPapel.verNotasPromissorias}" />
                            </ul>
                        </li>



                        <li style="#{sessaoMB.montaMenuRelatorios()}">
                            <a href="#"><i class="fa fa-print"></i><span class="nav-label">Relatórios</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" >
                                <li style="display: none;">
                                    <a href="#">Listagens<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <bcr:menuLink value="Terceiro" url="formListagemTerceiro.xhtml"  />
                                        <bcr:menuLink value="Paciente" url="formListagemPaciente.xhtml"  />
                                    </ul>
                                </li>

                                <bcr:menuLink value="Orçamentos" url="formListagemOrcamento.xhtml" rendered="#{sessaoMB.usuario.idPapel.menulistagemorcamento}"  />
                                <bcr:menuLink value="Fechamentos" url="formListagemFechamento.xhtml" rendered="#{sessaoMB.usuario.idPapel.menulistagemcirurgia}" />

                                <bcr:menuLink value="Pagamentos" url="formPagamentos.xhtml" rendered="#{sessaoMB.usuario.idPapel.relatorioLancamentoCheques}" />
                                <bcr:menuLink value="Recibo Avulso" url="formReciboAvulso.xhtml" rendered="#{sessaoMB.usuario.idPapel.relatorioLancamentoAvulso}"  />
                                <bcr:menuLink value="Resumo do Médico" url="formListagemResumoPagamento.xhtml" rendered="#{sessaoMB.usuario.idPapel.relatorioResumoPagamentos}" />
                                <bcr:menuLink value="Lançamentos Avulsos" url="formListagemAvulso.xhtml" rendered="#{sessaoMB.usuario.idPapel.relatorioLancamentoAvulso}" />

                                <bcr:menuLink value="Laudos" url="formListagemLaudos.xhtml" rendered="#{sessaoMB.usuario.idPapel.relatorioLaudos}" />
                            </ul>
                        </li>
                        <li style="#{sessaoMB.montaMenuConfiguracao()}"  >
                            <a href="#"><i class="fa fa-cog"></i><span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <bcr:menuLink value="Usuários" url="formUsuario.xhtml" rendered="#{sessaoMB.usuario.idPapel.menuusuario}"  />
                                <bcr:menuLink value="Auditoria" url="formAuditoria.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menuauditoria}" />
                                <bcr:menuLink value="Permissões" url="formPermissoes.xhtml" rendered="#{sessaoMB.usuario.idPapel.menupermissao}"  />
                                <bcr:menuLink value="Configurações" url="formConfiguracao.xhtml"  rendered="#{sessaoMB.usuario.idPapel.menuassociacao}" />
                                <bcr:menuLink value="Backup" url="formBackup.xhtml"  rendered="false" />
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>
            <div class="modal inmodal fade" id="modalPerfil" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Trocar senha</h4>
                        </div>
                        <h:form id="frmPerfil">
                            <div class="modal-body">
                                <p:messages id="msgPerfil" autoUpdate="true" />
                                <b:row id="rwSenha">
                                    <b:column span="6">
                                        <p:outputLabel for="senha" value="Senha antiga:" />
                                        <p:inputText type="password" value="#{sessaoMB.senhaAntiga}" 
                                                     styleClass="form-control" id="senha"  
                                                     label="Senha"/>
                                    </b:column>
                                    <b:column span="6">
                                        <p:outputLabel for="pwd2" value="Nova senha:" />
                                        <p:password id="pwd2" styleClass="form-control" value="#{sessaoMB.novaSenha}" binding="#{sessaoMB.bindingSenha}"
                                                    match="pwd3" label="Nova senha" feedback="true" inline="true" goodLabel="Bom" weakLabel="Fraca" 
                                                    strongLabel="Forte"  promptLabel="Por favor, informe a senha.">
                                            <pe:keyFilter regEx="/[a-z0-9_]/i"/>
                                        </p:password>
                                        <p:outputLabel for="pwd3" value="Repetir senha:" />
                                        <p:password id="pwd3" styleClass="form-control" value="#{sessaoMB.novaSenha}" 
                                                    label="Repetir senha"/>
                                    </b:column>                                        

                                </b:row>
                            </div>
                            <div class="modal-footer">
                                <p:commandButton id="btnSalvar" update="frmPerfil, msgPerfil" styleClass="btn btn-primary" value="Salvar" icon="salvar" 
                                                 action="#{sessaoMB.atualizarSenha()}"/>
                                <p:blockUI block="frmPerfil" trigger="btnSalvar" >
                                    <img src="Recursos/img/novoLoading.gif" />
                                </p:blockUI>
                            </div>
                        </h:form>
                    </div>
                </div>
            </div>
            <div id="page-wrapper" class="white-bg dashbard-1">
                <div class="row">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div id="atalhos" class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class=" col-md-8 col-xs-8 col-lg-8 col-sm-8" >
                                <div class="col-md-1" style="padding-left: 0px;">
                                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                                </div>
                                <div class="col-md-11 text-center hidden-xs hidden-sm">
                                    <ul class="atalhos">
                                        <li class="" style="display: none">
                                            <span class="label label-info"><i class="fa fa-user"></i></span>
                                            <a href="formPaciente.xhtml">Pacientes</a> 
                                        </li>
                                        <li class="" style="display: #{sessaoMB.usuario.idPapel.menuorcamento ? '' : 'none'}">
                                            <span class="label label-success"><i class="fa fa-plus"></i></span>
                                            <a href="formOrcamento.xhtml">Orçamentos</a> 
                                        </li>
                                        <li class="" style="display: #{sessaoMB.usuario.idPapel.menucirurgia ? '' : 'none'}">
                                            <span class="label label-success"><i class="fa fa-plus"></i></span>
                                            <a href="formFechamento.xhtml">Atend. Internos</a>
                                        </li>

                                        <li class="" style="display: #{sessaoMB.usuario.idPapel.menucirurgia ? '' : 'none'}">
                                            <span class="label label-success "><i class="fa fa-plus"></i></span>
                                            <a href="formAtendimentoExterno.xhtml">Atend. Externos</a> 
                                        </li>
                                        <li class="" style="display: #{sessaoMB.usuario.idPapel.lancamentoAvulso ? '' : 'none'}">
                                            <span class="label label-success "><i class="fa fa-plus"></i></span>
                                            <a href="formLancamentoAvulso.xhtml">Avulsos</a> 
<!--                                            <p:commandLink action="#{lancamentoAvulsoMB.zerarCampos()}" onclick="PF('dlgLancamentoAvulso').show();" 
                                                           value=" Avulsos"/> -->
                                        </li>

                                        <li class="" style="display: #{sessaoMB.usuario.idPapel.menucontrolecheques ? '' : 'none'}">
                                            <span class="label label-default"><i class="fa fa-money"></i></span>
                                            <a href="formCheque.xhtml">Cheques</a> 
                                        </li>

                                        <li class="" style="#{!sessaoMB.usuario.idPapel.verTransferencia ? 'display: none' : ''}">
                                            <span class="label label-default"><i class="fa fa-money"></i></span>
                                            <a href="formMovimentoUsuario.xhtml" >Movimentação</a>
                                        </li>
                                        <li class="" style="display: none">
                                            <span class="label label-danger"><i class="fa fa-hdd-o"></i></span>
                                            <a data-toggle="modal" data-target="#modalBackup" >Backups</a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">

                                <ul class="nav clock text-right">
                                    <li style="#{sessaoMB.usuario.idTerceiro != null ? 'display: none !important;' : ''}"><p:clock  pattern="dd/MM/yyyy HH:mm:ss" /></li>
                                    <li>
                                        <a href="#" id="confirm" onclick="deslogar();" >
                                            <i class="fa fa-sign-out"></i>Sair
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row white-bg dashboard-header">
                    <div class="col-sm-5" style="display: none">
                        <ol class="breadcrumb" >
                            <li><a href="index.xhtml">Ínicio</a></li>
                            <ui:insert name="breadcrumb">
                                <li class="active" style="color: #428bca;">Pagina atual</li>
                            </ui:insert>
                        </ol>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <bcr:ajaxStatus />
                        </div>
                        <div class="text-right">

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content">
                            <div id="content" class="left_content">
                                <ui:insert name="content">
                                    <b:row>
                                        <b:column span="12">
                                            <b:panel  title="Cabeçalho" look="primary">
                                                <b:column span="6">
                                                    <h:form id="formCadastro">
                                                        <h:outputText value="Nome" />
                                                        <p:inputText value="" styleClass="form-control" required="true" id="nome" label="Nome" requiredMessage="O campo nome é obrigatório" />
                                                        <h:outputText value="Telefone" />
                                                        <p:inputMask value="" styleClass="form-control" mask="(99)9999-9999" />
                                                        <h:outputText value="Sexo" />
                                                        <p:selectOneMenu value="" styleClass="form-control" required="true" requiredMessage="O campo sexo é necessario" >
                                                            <f:selectItem itemLabel="Selecione o sexo" itemValue="" />
                                                            <f:selectItem itemLabel="Masculino" itemValue="M" />
                                                            <f:selectItem itemLabel="Feminino" itemValue="F" />
                                                            <f:selectItem itemLabel="Outro" itemValue="O" />
                                                        </p:selectOneMenu>
                                                        <hr/>
                                                        <p:commandButton value="Save" ajax="true" update="formCadastro" icon="ui-icon-check" validateClient="true"/>
                                                        <p:commandButton value="Consultar" onclick="PF('dlg1').show();" />
                                                        <p:dialog header="Basic Dialog" widgetVar="dlg1" minHeight="40" modal="true">
                                                            <h:outputText value="Resistance to PrimeFaces is futile!" />
                                                        </p:dialog>
                                                    </h:form>
                                                </b:column> 
                                                <b:column span="6">

                                                </b:column>



                                            </b:panel>
                                        </b:column>
                                    </b:row>
                                </ui:insert>
                            </div>
                        </div>
                        <div class="footer fixed">
                            <div>
                                <div align="right">
                                    <a href="#" style="color: #000" target="_blank"> SMA &copy; 2019</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="Recursos/js/inspinia.js"></script>
        <script src="Recursos/js/plugins/pace/pace.min.js"></script>
        <script src="Recursos/js/functions.js"></script>
        <script src="Recursos/js/validarCPF.js"></script>
        <script src="Recursos/js/alertify.js"></script>
        <script src="Recursos/js/mask.js"></script>
    </h:body>

</html>
