<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="update" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:dialog closeOnEscape="true" widgetVar="dlgCadastrarFormaPagamento" modal="true" header="Cadastro de Formas de Pagamento" resizable="false"  minimizable="true" maximizable="true" position="center">
            <f:metadata >
                <f:event type="preRenderComponent" listener="#{formaPagamentoMB.novo()}" >
                    <p:ajax update=":frmFormaPagamento" />
                </f:event>
            </f:metadata>
            <h:form id="frmFormaPagamento">
                <b:row>
                    <b:column span="6">
                        <b:column span="12">
                            <bcr:outputrequired value="Descrição " />
                            <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{formaPagamentoMB.formaPagamento.descricao}" />
                        </b:column>
                        <b:column span="6">
                            <bcr:outputrequired value="Tipo Forma " />
                            <p:selectOneMenu value="#{formaPagamentoMB.formaPagamento.tipo}" styleClass="form-control" style="width: 100% !important" required="true" requiredMessage="O tipo de forma de pagamento é obrigatório!">
                                <f:selectItem itemLabel="Selecione uma forma" itemValue="" />
                                <f:selectItem itemLabel="A Vista" itemValue="V" />
                                <f:selectItem itemLabel="A Prazo" itemValue="P" />
                            </p:selectOneMenu>
                        </b:column>
                        <b:column span="6">
                            <bcr:outputrequired value="Num Parcelas " />
                            <p:inputText  styleClass="form-control" id="numParcelas"  label="Número de Parcelas" required="#{formaPagamentoMB.formaPagamento.tipo == 'P'?'true':'false'}"  value="#{formaPagamentoMB.formaPagamento.numMeses}" requiredMessage="O número de parcelas é obrigatório"  />
                        </b:column>
                    </b:column>
                    <b:column span="6">
                        <p:messages id="msgsFormaPagamento" />
                    </b:column>
                    <b:column span="12">
                        <hr/>
                        <p:commandButton value="Salvar"  styleClass="btn" update="#{cc.attrs.update}" icon="salvar"  validateClient="true" action="#{formaPagamentoMB.Salvar()}" oncomplete="if (!args.validationFailed){PF('dlgCadastrarFormaPagamento').hide()}" />
                        <p:commandButton value="Limpar"   styleClass="btn" update="frmFormaPagamento" icon="limpar" immediate="true"  >
                            <p:ajax update="@form" listener="#{formaPagamentoMB.novo()}"  resetValues="true" />
                        </p:commandButton>
                    </b:column>
                </b:row>
            </h:form>
        </p:dialog>
    </cc:implementation>
</html>