<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <h:form id="frmVincular">
            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Orçamento" value="#{orcamentoMB.orcamento.idOrcamento}" />
                </b:column>
                <b:column span="4">
                    <bcr:outputInfo label="Convênio" value="#{orcamentoMB.orcamento.idConvenio.descricao}" />
                </b:column>
                <b:column span="4">
                    <bcr:outputInfoDate label="Data Orçamento" value="#{orcamentoMB.orcamento.dtOrcamento}" />
                </b:column>
            </div>

            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Paciente" value="#{orcamentoMB.orcamento.idPaciente.nome == null ? orcamentoMB.orcamento.pacienteNaoCadastradado : orcamentoMB.orcamento.idPaciente.nome}" /> 
                </b:column>
                <b:column span="4">
                    <bcr:outputInfo label="Telefone" value="#{orcamentoMB.orcamento.idPaciente.telefone}" /> 
                </b:column>
                <b:column span="4">
                    <bcr:outputInfoDate label="Válido Até" value="#{orcamentoMB.orcamento.dtValidade}" />
                </b:column>
            </div>

            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Médico" value="#{orcamentoMB.orcamento.idTerceiro.nome}" /> 
                </b:column>
                <b:column span="4">
                    <bcr:outputInfo label="Status" value="#{orcamentoMB.orcamento.idStatus.descricao}" /> 
                </b:column>
                <b:column span="2">
                    <bcr:outputInfoDate label="Previsão" value="#{orcamentoMB.orcamento.dtPrevisao}" />
                </b:column>

            </div>
            <div class="row">
                <b:column span="4">
                    <bcr:outputInfo label="Procedimento" value="#{orcamentoMB.orcamento.idProcedimento.descricao}" />
                </b:column>
                <b:column span="4">
                    <bcr:outputInfoMoney label="Total" value="#{orcamentoMB.orcamento.valor}" />
                </b:column>

                <b:column span="2">
                    <bcr:outputInfoDate label="Liberação" value="#{orcamentoMB.orcamento.cirurgiaList.size() > 0 ? orcamentoMB.orcamento.cirurgiaList.get(0).dtCirurgia : ''}" />
                </b:column>

                <b:column span="4">
                    <bcr:outputInfo label="Usuario de Criação" value="#{orcamentoMB.orcamento.idUsuarioCriacao.nomeCompleto}" />
                </b:column>
                <b:column span="4" >
                    <bcr:outputInfo label="Usuario de alteração" value="#{orcamentoMB.orcamento.idUsuarioUltimaAlteracao.nomeCompleto}" />
                </b:column>
                <b:column span="4" >
                    <bcr:outputInfoDatetime label="Dt Modificação" value="#{orcamentoMB.orcamento.dtModificacao}" />
                </b:column>
            </div>
            <hr/>
            <p:dataTable widgetVar="atend" value="#{atendimentoPacienteMB.listaAtendimentoPacientePorPaciente(orcamentoMB.orcamento.idPaciente)}" 
                         var="atend" paginator="true" rows="5" sortMode="multiple" paginatorPosition="bottom"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,25,50,100,200">

                <p:column width="4%">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="Vincular" width="12%">
                    <center>    
                        <p:commandButton icon="vincular" value="Vincular" action="#{atendimentoPacienteMB.vincularOrcamentoAoAtendimentoPaciente(orcamentoMB.orcamento, atend)}" title="Vincular este atendimento ao orçamento?"
                                         update=":msg" oncomplete="PF('dlgVincularTasy').hide();" />                                        
                    </center>
                </p:column>
                <p:column headerText="Atendimento"  sortBy="#{atend.numeroAtendimentoPacienteTasy}" filterMatchMode="contains" width="8%">
                    <center><h:outputText value="#{atend.numeroAtendimentoPacienteTasy}"  /></center>
                </p:column>
                <p:column headerText="Paciente"  filterMatchMode="contains"  width="15%" sortBy="#{atend.idPaciente.nome}">
                    <h:outputText value="#{atend.idPaciente.nome}" />
                </p:column>
                <p:column headerText="Entrada"   filterMatchMode="contains" width="10%" sortBy="#{atend.dtEntrada}">
                    <h:outputText value="#{atend.dtEntrada}">
                        <f:convertDateTime pattern="dd/MM/yyy" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Encerramento"   filterMatchMode="contains" width="10%" sortBy="#{atend.dtEntrada}">
                    <h:outputText value="#{atend.dtEncerramento}">
                        <f:convertDateTime pattern="dd/MM/yyy" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Médico" width="15%" sortBy="#{atend.idMedicoResp != null? atend.idMedicoResp.nome : atend.idMedicoResp.nomeFantasia}" >
                    <h:outputText value="#{atend.idMedicoResp != null? atend.idMedicoResp.nome : atend.idMedicoResp.nomeFantasia}" />
                </p:column>
                <p:column headerText="Procedimento"  width="15%" sortBy="#{atend.idServico != null? atend.idServico.descricao : ''}">
                    <h:outputText value="#{atend.idServico != null? atend.idServico.descricao : ''}"  />
                </p:column>
                <p:column headerText="Status" sortBy="#{atend.status}" width="8%">
                    <center>
                        <h:outputText value="#{atend.status}"  />
                    </center>
                </p:column>
                <p:column headerText="Tipo Atendimento" sortBy="#{atend.tipoAtendimento}" width="8%">
                    <center>
                        <h:outputText value="#{atend.tipoAtendimento}"  />
                    </center>
                </p:column>
                <p:column headerText="Descrição Atendimento" sortBy="#{atend.descricaoTipoAtendimento}" width="8%">
                    <center>
                        <h:outputText value="#{atend.descricaoTipoAtendimento}"  />
                    </center>
                </p:column>
                <p:column headerText="Categoria" sortBy="#{atend.categoria}" width="8%">
                    <center>
                        <h:outputText value="#{atend.categoria}"  />
                    </center>
                </p:column>
                <p:rowExpansion>
                    <p:dataTable widgetVar="conta" value="#{atend.contaPacienteList}" 
                                 var="conta" paginator="true" rows="5" sortMode="multiple" paginatorPosition="bottom"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="5,10,15,25,50,100,200">

                        <p:column headerText="Número da Conta" sortBy="#{conta.numeroAtendimentoPacienteTasy}" width="8%">
                            <center><h:outputText value="#{conta.numeroAtendimentoPacienteTasy}"  /></center>
                        </p:column>
                        <p:column headerText="Período Inicial" sortBy="#{conta.dtPeriodoInical}" width="10%">
                            <center>
                                <h:outputText value="#{conta.dtPeriodoInical}">
                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                </h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Data Atualização" sortBy="#{conta.dtAtualizacao}" width="10%">
                            <center>
                                <h:outputText value="#{conta.dtAtualizacao}">
                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                </h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Data Acerto" sortBy="#{conta.dtAcerto}" width="10%">
                            <center>
                                <h:outputText value="#{conta.dtAtualizacao}">
                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                </h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Status" sortBy="#{conta.status}" width="10%">
                            <center>
                                <h:outputText value="#{conta.status}"></h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Valor Procedimentos" sortBy="#{conta.valorProcedimento}" width="10%">
                            <center>
                                <h:outputText value="#{conta.valorProcedimento}"></h:outputText>
                            </center>
                        </p:column>
                        <p:column headerText="Valor total" sortBy="#{conta.valorTotal}" width="10%">
                            <center>
                                <h:outputText value="#{conta.valorTotal}"></h:outputText>
                            </center>
                        </p:column>
                    </p:dataTable>

                </p:rowExpansion>
            </p:dataTable>
        </h:form>
    </body>
</html>
