<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form id="frmCadastroPaciente">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#DadosBasicos">Dados Básicos</a></li>
                <li><a data-toggle="tab" href="#DadosAdicionais">Dados Adicionais</a></li>
            </ul>
            <div class="tab-content">
                <div id="DadosBasicos" class="tab-pane fade in active">
                    <b:column span="6">
                        <b:column span="12">
                            <h:outputText value="Nome *" />
                            <p:inputText  styleClass="form-control" required="true"  id="nome"  label="Nome" requiredMessage="O campo nome é obrigatório" value="#{pacienteMB.paciente.nome}" style="text-transform: capitalize  " />
                        </b:column>
                        <b:column span="12">
                            <h:outputText value="Nome da Mãe *" />
                            <p:inputText  styleClass="form-control" required="true"  id="nomemae"  label="Nome" requiredMessage="O campo nome é obrigatório" value="#{pacienteMB.paciente.nomeMae}" style="text-transform: capitalize  " />
                        </b:column>
                        <b:column span="12">
                            <h:outputText value="Nome do Pai" />
                            <p:inputText  styleClass="form-control" id="nomePai"  label="Nome" value="#{pacienteMB.paciente.nomePai}" style="text-transform: capitalize  " />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="CPF *" />
                            <p:inputMask value="#{pacienteMB.paciente.cpf}" styleClass="form-control" required="true" id="cpf" label="CPF" requiredMessage="O campo CPF é obrigatório" mask="999.999.999-99" />
                        </b:column>
                        <b:column span="6" >
                            <h:outputText value="Data de Nascimento" />
                            <p:calendar value="#{pacienteMB.paciente.dtNascimento}" showOn="false" styleClass="form-control" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Telefone *" />
                            <p:inputMask value="#{pacienteMB.paciente.telefone}"  styleClass="form-control" required="true" id="telefone" label="Telefone"  requiredMessage="O campo Telefone é obrigatório" mask="(99)9999-9999" />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="RG" />
                            <p:inputText value="#{pacienteMB.paciente.rg}" styleClass="form-control"  id="rg" label="RG"    />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Sexo" />
                            <p:selectOneMenu value="#{pacienteMB.paciente.sexo}" styleClass="form-control"  filter="true" filterMatchMode="contains"  >
                                <f:selectItem itemLabel="Selecione o sexo" itemValue="" />
                                <f:selectItem itemLabel="Masculino" itemValue="M" />
                                <f:selectItem itemLabel="Feminino" itemValue="F" />
                            </p:selectOneMenu>
                        </b:column>

                    </b:column>
                    <b:column span="6">
                        <p:messages id="msgPaciente" />
                    </b:column>
                </div>

                <div id="DadosAdicionais" class="tab-pane fade">
                    <b:column span="6">
                        <b:column span="8">
                            <h:outputText value="CEP" />
                            <p:inputMask value="#{pacienteMB.paciente.cep}" styleClass="form-control"  id="cep"  label="cep" mask="99999-999" >
                                <p:ajax event="blur" listener="#{pacienteMB.ConsultaCEP()}" update="logradouro,  cidade,bairro,estado,complemento" />
                            </p:inputMask>
                        </b:column>
                        <b:column span="2" >
                            <h:outputText value="CEP" style="visibility: hidden;" />
                            <p:commandButton value="Consultar" id="consultar" action="#{pacienteMB.ConsultaCEP()}"  update="logradouro, cidade, bairro, estado, complemento, msgs3"  icon="consultar" styleClass="btn btn-primary"  />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="Logradouro" />
                            <p:inputText value="#{pacienteMB.paciente.logradouro}"  styleClass="form-control"  id="logradouro"  label="logradouro"  />
                        </b:column>
                        <b:column span="4">
                            <h:outputText value="Número" />
                            <p:inputText value="#{pacienteMB.paciente.numero}" styleClass="form-control"  id="numero"  label="numero"   />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Cidade" />
                            <p:inputText value="#{pacienteMB.paciente.cidade}" styleClass="form-control"  id="cidade"  label="cidade"   />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Bairro" />
                            <p:inputText value="#{pacienteMB.paciente.bairro}" styleClass="form-control"  id="bairro"  label="bairro"  />
                        </b:column>

                        <b:column span="6">
                            <h:outputText value="Estado" />
                            <p:selectOneMenu value="#{pacienteMB.paciente.uf}" styleClass="form-control" id="estado"  filter="true" filterMatchMode="contains" >
                                <f:selectItem itemLabel="Selecione um estado" itemValue="" />
                                <f:selectItem itemLabel="Acre - AC" itemValue="AC" />
                                <f:selectItem itemLabel="Alagoas - AL" itemValue="AL" />
                                <f:selectItem itemLabel="Amapá - AP" itemValue="AP" />
                                <f:selectItem itemLabel="Amazonas - AM" itemValue="AM" />
                                <f:selectItem itemLabel="Bahia - BA" itemValue="BA" />
                                <f:selectItem itemLabel="Ceara - CE" itemValue="CE" />
                                <f:selectItem itemLabel="Distrito Federal - DF" itemValue="DF" />
                                <f:selectItem itemLabel="Espirito Santo - ES" itemValue="ES" />
                                <f:selectItem itemLabel="Goiás - GO" itemValue="GO" />
                                <f:selectItem itemLabel="Maranhão - MA" itemValue="MA" />
                                <f:selectItem itemLabel="Mato Grosso - MT" itemValue="MT" />
                                <f:selectItem itemLabel="Mato Grosso do Sul - MS" itemValue="MS" />
                                <f:selectItem itemLabel="Minas Gerais - MG" itemValue="MG" />
                                <f:selectItem itemLabel="Pará - PA" itemValue="PA" />
                                <f:selectItem itemLabel="Paraíba - PB" itemValue="PB" />
                                <f:selectItem itemLabel="Paraná - PR" itemValue="PR" />
                                <f:selectItem itemLabel="Pernambuco - PE" itemValue="PE" />
                                <f:selectItem itemLabel="Paiauí - PI" itemValue="PI" />
                                <f:selectItem itemLabel="Rio de Janeiro - RJ" itemValue="RJ" />
                                <f:selectItem itemLabel="Rio Grande do Norte - RN" itemValue="RN" />
                                <f:selectItem itemLabel="Rio Grande do Sul - RS" itemValue="RS" />
                                <f:selectItem itemLabel="Rondônia - RO" itemValue="RO" />
                                <f:selectItem itemLabel="Roraima - RR" itemValue="RR" />
                                <f:selectItem itemLabel="Santa Catarina - SC" itemValue="SC" />
                                <f:selectItem itemLabel="São Paulo - SP" itemValue="SP" />
                                <f:selectItem itemLabel="Sergipe - SE" itemValue="SE" />
                                <f:selectItem itemLabel="Tocantins - TO" itemValue="TO" />

                            </p:selectOneMenu>
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Complemento" />
                            <p:inputText value="#{pacienteMB.paciente.complemento}" styleClass="form-control"  id="complemento"  label="complemento"  />
                        </b:column>
                    </b:column>
                    <b:column span="6">
                        <p:messages id="msgs3" />
                    </b:column>
                </div>
            </div>
            <b:column span="12">
                <hr/>
                <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar()}"
                                 styleClass="btn btn-primary"  update=":frmCadastroPaciente:msgs3" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgCadastrarPaciente').hide();"/>
            </b:column>
        </h:form>

    </body>
</html>
