<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form id="frmConsultarDescricaoExame">
            <p:dataTable id="tblConsultaDescricaoExame" value="#{exameMB.listaDescricaoExames}" var="varProc" widgetVar="wvarProc" paginator="true" rows="10">
                <f:facet name="header">
                    <h:panelGrid columns="2" columnClasses="coluna1, coluna2">
                        <p:commandButton value="Nova descrição" immediate="true" onclick="PF('dlgCadastrarDescricaoExame').show()"  icon="add" />
                    </h:panelGrid>
                </f:facet>
                <p:column width="15%">
                    <p:commandButton value="Selecionar" icon="selecionar" actionListener="#{exameMB.selecionarDescricaoExames(varProc)}" update=":formExame:descricaoExame" oncomplete="PF('dlgConsultarDescricaoExames').hide()"/>
                </p:column>
                <p:column width="20%" headerText="Código" filterBy="#{varProc.idDescricaoExame}">
                    <h:outputText value="#{varProc.idDescricaoExame}" />
                </p:column>
                <p:column headerText="Descrição" filterBy="#{varProc.descricao}">
                    <h:outputText value="#{varProc.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>

    </body>
</html>
