<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template1.xhtml">            
            <ui:define name="content">
                <ui:include src="includeIndex/formTrocarSenha.xhtml" />
                <ui:include src="includeIndex/inclUsuario.xhtml" />                
                <ui:include src="includeIndex/inclMedico.xhtml" />                
            </ui:define>
        </ui:composition>
    </body>
</html>
