<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Regras de Repasse</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.verRegraRepasse}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Regras de Repasse" look="primary" rendered="#{sessaoMB.usuario.idPapel.verRegraRepasse}" >
                            <h:form id="frmRegraRepasse" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{regraRepasseMB.novo()}" update=":novo" 
                                                     onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.inserirRegraRepasse}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{regraRepasseMB.listaRegraRepasses}"  var="regra" 
                                                 paginator="true" rows="10" scrollable="true" scrollWidth="98%" sortMode="multiple"
                                                 widgetVar="rg" emptyMessage="Nenhum registro encontrado" >
                                        <p:column  headerText="Controle" width="100" >
                                            <p:commandLink title="Editar" id="editBtn" action="#{regraRepasseMB.selecionarRegraRepasse(regra)}" update=":novo"
                                                           oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarRegraRepasse}">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            &nbsp;
                                            <p:commandLink title="Duplicar regra"
                                                           actionListener="#{regraRepasseMB.copiarRegra(regra)}" oncomplete="PF('dlgNovo').show()" 
                                                           update=":novo, :msg" rendered="#{sessaoMB.usuario.idPapel.editarRegraRepasse}">
                                                <p:graphicImage value="Recursos/icons/Copiar.png" />
                                            </p:commandLink>
                                            &nbsp;
                                            <p:commandLink title="Excluir" id="infoExc"
                                                           actionListener="#{regraRepasseMB.selecionarRegraRepasse(regra)}" 
                                                           update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluirRegraRepasse}">
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{regra.idRegraRepasse}" sortBy="#{regra.idRegraRepasse}" 
                                                   filterMatchMode="contains" width="100" >
                                            <center>
                                                <h:outputText value="#{regra.idRegraRepasse}" />
                                            </center>
                                        </p:column>


                                        <p:column  headerText="Descrição" filterBy="#{regra.descricao}" sortBy="#{regra.descricao}" filterMatchMode="contains" 
                                                   width="250"  >
                                            <h:outputText value="#{regra.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Médico" filterBy="#{regra.idMedico.nome}" sortBy="#{regra.idMedico.nome}" width="300" filterMatchMode="contains" >
                                            <h:outputText value="#{regra.idMedico.nome}" />
                                        </p:column>
                                        <p:column  headerText="Área Procedimento" filterBy="#{regra.idAreaProcedimento.descricao}" width="300" sortBy="#{regra.idAreaProcedimento.descricao}" 
                                                   filterMatchMode="contains" >
                                            <h:outputText value="#{regra.idAreaProcedimento.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Especialidade Procedimento" filterBy="#{regra.idEspecialidadeProcedimento.descricao}" width="300" sortBy="#{regra.idEspecialidadeProcedimento.descricao}" 
                                                   filterMatchMode="contains" >
                                            <h:outputText value="#{regra.idEspecialidadeProcedimento.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Grupo Procedimento" filterBy="#{regra.idGrupoProcedimentoCbhpm.descricao}" width="300" sortBy="#{regra.idGrupoProcedimentoCbhpm.descricao}" 
                                                   filterMatchMode="contains" >
                                            <h:outputText value="#{regra.idGrupoProcedimentoCbhpm.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Procedimento" filterBy="#{regra.idServico.descricao}" width="350" sortBy="#{regra.idServico.descricao}" 
                                                   filterMatchMode="contains" >
                                            <h:outputText value="#{regra.idServico.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Tx. Procedimento" filterBy="#{regra.fatorProcedimento}" width="150" sortBy="#{regra.fatorProcedimento}" 
                                                   filterMatchMode="contains" >
                                            <h:outputText value="#{regra.fatorProcedimento/100}">
                                                <f:convertNumber type="percent"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column  headerText="Urgência" width="100" >
                                            <center>
                                                <h:outputText value="#{regra.urgencia ? 'Sim' : 'Não'}" />
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Repasse a outros médicos" width="100" >
                                            <center>
                                                <h:outputText id="repasseSecundario" value="#{regra.repasseSecundario ? 'Sim' : 'Não'}" styleClass="label #{regra.repasseSecundario ? 'label-primary' : ''}"/>
                                            </center>   
                                            <p:tooltip for="repasseSecundario" style="width: 400px;">
                                                <p:dataTable value="#{regra.regraRepasseMedicosList}" var="item">
                                                    <p:column headerText="Médico" width="300">
                                                        <h:outputText value="#{item.idTerceiro.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Taxa" width="50%">
                                                        <center>
                                                            <h:outputText value="#{item.fatorRepasseSecundario/100}">
                                                                <f:convertNumber  type="percent"/>
                                                            </h:outputText>
                                                        </center>

                                                    </p:column>
                                                </p:dataTable>
                                            </p:tooltip>
                                        </p:column>

                                        <p:column  headerText="Dt. Cadastro" filterBy="#{regra.dtCadastro}" width="150" sortBy="#{regra.dtCadastro}" 
                                                   filterMatchMode="contains" >
                                            <center>
                                                <h:outputText value="#{regra.dtCadastro}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Dt. Atualização" filterBy="#{regra.dtAtualizacao}" width="150" sortBy="#{regra.dtAtualizacao}" 
                                                   filterMatchMode="contains" >
                                            <center>
                                                <h:outputText value="#{regra.dtAtualizacao}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>                           

                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="false">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão da regra #{regraRepasseMB.regraRepasse.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim. Quero excluir." icon="check16" styleClass="ui-confirmdialog-yes"  
                                                             action="#{regraRepasseMB.excluir(regraRepasseMB.regraRepasse)}" update=":frmRegraRepasse, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar."  icon="cancel16" styleClass="ui-confirmdialog-no"  
                                                             oncomplete="PF('dlgConfirm').hide()" action="#{regraRepasseMB.novo()}" update=":frmRegraRepasse" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgNovo" modal="True" header="Nova Regra Repasse" width="80%" resizable="false"
                                      position="top" closeOnEscape="true" closable="true">
                                <h:form id="novo">     
                                    <b:column col-md="12">
                                        <div class="alert alert-success" >
                                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            <strong>Atenção</strong> Na definição do fator, calcule e informe as casas decimais corretamente.
                                        </div>
                                    </b:column>
                                    <b:column col-md="6">
                                        <h:outputText value="Descrição da Regra"/>
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:inputText value="#{regraRepasseMB.regraRepasse.descricao}" required="true" requiredMessage="Informe a descrição."/>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="6">
                                        <h:outputText value="Categoria Convênio"/>
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:inputText value="#{regraRepasseMB.regraRepasse.categoriaConvenio}" />
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="8" offset="2">
                                        <br/>
                                    </b:column>


                                    <b:column col-md="6">
                                        <h:outputText value="Médico" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="medico" value="#{regraRepasseMB.regraRepasse.idMedico}" converter="Converter"
                                                            completeMethod="#{regraRepasseMB.completeMethodTerceiro }" var="terc" maxResults="5" cache="true"
                                                            itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" >
                                                <p:column>
                                                    <h:outputText value="#{terc.idTerceiro}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                                </p:column>
                                            </p:autoComplete> 

                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="6">
                                        <h:outputText value="Por CBO Saúde" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="cbo" value="#{regraRepasseMB.regraRepasse.idCboSaude}" converter="Converter"
                                                            completeMethod="#{regraRepasseMB.completeMethodCBOSaude}" var="cbo" maxResults="5" cache="true"
                                                            itemLabel="#{cbo.descricao}" itemValue="#{cbo}" >
                                                <p:column>
                                                    <h:outputText value="#{cbo.idCboSaude}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{cbo.codigoCbo}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{cbo.descricao}" />
                                                </p:column>

                                            </p:autoComplete> 
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="6">
                                        <h:outputText value="Área Procedimento" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="areaProcedimento" value="#{regraRepasseMB.regraRepasse.idAreaProcedimento}" converter="Converter"
                                                            completeMethod="#{regraRepasseMB.completeMethodAreaProcedimento}" var="area" maxResults="5" cache="true"
                                                            itemLabel="#{area.descricao}" itemValue="#{area}" >
                                                <p:column>
                                                    <h:outputText value="#{area.idAreaProcedimento}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{area.descricao}" />
                                                </p:column>

                                            </p:autoComplete> 
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="6">
                                        <h:outputText value="Especialidade Procedimento" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="especialidadeProcedimento" value="#{regraRepasseMB.regraRepasse.idEspecialidadeProcedimento}" converter="Converter"
                                                            completeMethod="#{regraRepasseMB.completeMethodEspecialidadeProcedimento}" var="especialidade" 
                                                            maxResults="5" cache="true" groupBy="#{especialidade.idAreaProcedimento.descricao}"
                                                            itemLabel="#{especialidade.descricao}" itemValue="#{especialidade}" >
                                                <p:column>
                                                    <h:outputText value="#{especialidade.idEspecialidadeProcedimentoTasy}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{especialidade.idAreaProcedimento.descricao}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{especialidade.descricao}" />
                                                </p:column>

                                            </p:autoComplete> 
                                        </h:panelGrid>
                                    </b:column> 
                                    <b:column col-md="6">
                                        <h:outputText value="Grupo Procedimento" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="grupoProcedimento" value="#{regraRepasseMB.regraRepasse.idGrupoProcedimentoCbhpm}" converter="Converter"
                                                            completeMethod="#{regraRepasseMB.completeMethodGrupoProcedimento}" var="grupo" 
                                                            maxResults="5" cache="true" groupBy="#{grupo.idEspecialidadeProcedimento.idAreaProcedimento.descricao}"
                                                            itemLabel="#{grupo.descricao}" itemValue="#{grupo}" >
                                                <p:column>
                                                    <h:outputText value="#{grupo.idGrupoProcedimentoTasy}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{grupo.idEspecialidadeProcedimento.descricao}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{grupo.descricao}" />
                                                </p:column>

                                            </p:autoComplete> 
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="6">
                                        <h:outputText value="Procedimento" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="procedimento" value="#{regraRepasseMB.regraRepasse.idServico}" converter="Converter"
                                                            completeMethod="#{regraRepasseMB.completeMethodProcedimentosCbhpm}" var="serv" 
                                                            maxResults="5" cache="true" groupBy="#{serv.idGrupoProcedimentoCbhpm.idEspecialidadeProcedimento.idAreaProcedimento.descricao}"
                                                            itemLabel="#{serv.descricao}" itemValue="#{serv}" >
                                                <p:column >
                                                    <h:outputText value="#{serv.idProcedimentoTasy != null ? serv.idProcedimentoTasy : serv.idServico}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{serv.idProcedimentoTasy != null ? serv.idGrupoProcedimentoCbhpm.idEspecialidadeProcedimento.descricao : '-'}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{serv.idProcedimentoTasy != null ? serv.idGrupoProcedimentoCbhpm.descricao : '-'}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{serv.descricao}" />
                                                </p:column>

                                            </p:autoComplete> 
                                        </h:panelGrid>
                                    </b:column>
                                    <p:outputPanel id="col">
                                        <b:column col-md="1" >
                                            <h:outputText value="Ativo" /><br/>
                                            <p:selectBooleanCheckbox value="#{regraRepasseMB.regraRepasse.ativo}" />
                                        </b:column>
                                        <b:column col-md="1" >
                                            <h:outputText value="Urgência" /><br/>
                                            <p:selectBooleanCheckbox value="#{regraRepasseMB.regraRepasse.urgencia}" />
                                        </b:column>
                                        <b:column col-md="1">
                                            <h:outputText value="Ratear repasse?" /><br/>
                                            <p:selectBooleanCheckbox value="#{regraRepasseMB.regraRepasse.repasseSecundario}">
                                                <p:ajax event="change" update="btnAdicionarMedicos, AdicionarMedicos" />
                                            </p:selectBooleanCheckbox>
                                        </b:column>    
                                        <b:column id="AdicionarMedicos" col-md="3">
                                            <h:outputText rendered="#{!regraRepasseMB.regraRepasse.repasseSecundario}" value="" />
                                            <h:outputText id="rep" rendered="#{regraRepasseMB.regraRepasse.repasseSecundario}" value="Médicos relacionados: #{regraRepasseMB.listaMedicosSecundarios.size()}" /><br/>
                                            <p:tooltip for="rep" rendered="" style="width: 400px;">
                                                <p:dataTable value="#{regraRepasseMB.listaMedicosSecundarios}" var="item">
                                                    <p:column headerText="Médico" width="300">
                                                        <h:outputText value="#{item.idTerceiro.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Taxa" width="50%">
                                                        <center>
                                                            <h:outputText value="#{item.fatorRepasseSecundario/100}">
                                                                <f:convertNumber  type="percent"/>
                                                            </h:outputText>
                                                        </center>

                                                    </p:column>
                                                </p:dataTable>
                                            </p:tooltip>
                                            <p:commandButton id="btnAdicionarMedicos" value="Adicionar/Editar médicos" 
                                                             disabled="#{!regraRepasseMB.regraRepasse.repasseSecundario}" update=":frmAdicionarMedicos" icon="add"  
                                                             oncomplete="PF('dlgAdicionarMedicos').show()" action="#{regraRepasseMB.regraRepasseMedicos.setIdTerceiro(regraRepasseMB.regraRepasse.idMedico)}"/>
                                        </b:column>



                                        <b:column col-md="3">
                                            <h:outputText id="lblValorHospital" value="Percentual do Vlr. Total - Hospital" title="Este percentual é referente ao valor a ser lançado no TASY."/>
                                            <pe:inputNumber  id="valorHospital" value="#{regraRepasseMB.regraRepasse.valorHospital}" symbol="%" symbolPosition="s">
                                                <p:ajax event="blur" update="valorMedicos" listener="#{regraRepasseMB.regraRepasse.setFatorProcedimento(100 - regraRepasseMB.regraRepasse.valorHospital)}"/>
                                            </pe:inputNumber>
                                        </b:column>
                                        <b:column col-md="3">
                                            <h:outputText  value="Percentual do Vlr. Total - Médico(s)" />
                                            <pe:inputNumber id="valorMedicos" readonly="true" value="#{regraRepasseMB.regraRepasse.fatorProcedimento}" symbol="%" symbolPosition="s">

                                            </pe:inputNumber>
                                        </b:column>

                                    </p:outputPanel>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar"  update=":frmRegraRepasse, :frmRegraRepasse:dtl, :msg, :novo" icon="salvar"  
                                                         action="#{regraRepasseMB.salvar(regraRepasseMB.regraRepasse)}" />
                                        &nbsp;
                                        <p:commandButton value="Testar regra"  update=":frmTestarRegra, :novo" icon="refresh"  
                                                         oncomplete="PF('dlgTestarRegra').show()" action="#{regraRepasseMB.zerarTesteRegra()}" />

                                    </b:column>
                                </h:form>
                            </p:dialog>
                            <p:dialog widgetVar="dlgTestarRegra" header="Testar regra de Repasse" modal="true" closable="true" 
                                      resizable="false" width="50%" closeOnEscape="true"  position="top">
                                <h:form id="frmTestarRegra">
                                    <b:column col-md="12">
                                        <b:row>
                                            <b:column col-md="12">
                                                <div class="alert alert-success" >
                                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    <strong>Atenção!</strong> Informe a valor a ser pago pelo paciente, após a realização do atendimento externo.
                                                </div>
                                            </b:column>
                                            <b:column col-md="6" >
                                                <p:outputLabel for="valorTotalAtend" value="Qual é o valor total do atendimento externo?" />
                                                <pe:inputNumber id="valorTotalAtend" value="#{regraRepasseMB.valorTotalAtend}" required="true" 
                                                                requiredMessage="Informe a valor a ser pago pelo paciente, após a realização do atendimento externo." symbol="R$ ">
                                                </pe:inputNumber>
                                            </b:column>
                                            <b:column col-md="6">
                                                <br/>
                                                <p:commandButton id="btnAdicionarItem" icon="pagamento" styleClass="btn" ajax="true" style="height: 34px; margin-top: 5px;  " value="Testar"
                                                                 action="#{regraRepasseMB.testarRegra()}" update="pnlTestar, :msg"/>
                                            </b:column>
                                        </b:row>
                                    </b:column>
                                    <b:column col-md="12">
                                        <hr/>
                                        <p:panel id="pnlTestar">
                                            <b:row>
                                                <b:column col-md="12">
                                                    <b:column col-md="6">
                                                        <center>
                                                            <h2>
                                                                <i class="fa fa-hospital-o fa-2x"></i><br/> 
                                                                Valor Hospital
                                                                <br/>
                                                                <h:outputText value="#{regraRepasseMB.valorRepasseHospital}">
                                                                    <f:convertNumber type="currency"/>
                                                                </h:outputText>
                                                            </h2>
                                                        </center>
                                                    </b:column>
                                                    <b:column col-md="6">
                                                        <center>
                                                            <h2>

                                                                <i class="fa fa-user-md fa-2x"></i> <br/>
                                                                Valor Médico(s)
                                                                <br/>
                                                                <h:outputText value="#{regraRepasseMB.valorRepasseMedico}">
                                                                    <f:convertNumber type="currency"/>
                                                                </h:outputText>
                                                            </h2>
                                                        </center>
                                                    </b:column>
                                                </b:column>
                                            </b:row>
                                            <b:row>
                                                <b:column col-md="12">
                                                    <p:dataTable value="#{regraRepasseMB.listaMedicosSecundarios}" var="item">
                                                        <f:facet name="header">
                                                            Médicos relacionados a este repasse
                                                        </f:facet>
                                                        <p:column headerText="Médico" width="50%">
                                                            <h:outputText value="#{item.idTerceiro.nome}" />
                                                        </p:column>
                                                        <p:column headerText="Taxa" width="20%">
                                                            <center>
                                                                <h:outputText value="#{item.fatorRepasseSecundario}">
                                                                    <f:convertNumber  type="number"/>
                                                                </h:outputText>
                                                                <h:outputText value="%"/>
                                                            </center>

                                                        </p:column>
                                                        <p:column headerText="Valor a receber" width="30%">
                                                            <center>
                                                                <h:outputText value="#{(regraRepasseMB.valorTotalAtend * item.fatorRepasseSecundario)/100}">
                                                                    <f:convertNumber  type="currency"/>
                                                                </h:outputText>
                                                            </center>

                                                        </p:column>
                                                    </p:dataTable>
                                                </b:column>
                                            </b:row>


                                        </p:panel>
                                    </b:column>
                                </h:form>

                            </p:dialog>

                            <p:dialog widgetVar="dlgAdicionarMedicos" header="Médicos relacionados a este repasse" modal="true" closable="true" 
                                      resizable="false" width="50%" closeOnEscape="true"  position="top">
                                <h:form id="frmAdicionarMedicos">
                                    <b:column col-md="12">
                                        <b:row>
                                            <b:column col-md="12">
                                                <div class="alert alert-danger" >
                                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    <strong>Fique atento!</strong> O valor a ser repassado aos médicos não deve superar 
                                                    <h:outputText value="#{regraRepasseMB.regraRepasse.fatorProcedimento/100}">
                                                        <f:convertNumber  type="percent"/>
                                                    </h:outputText> do valor total do atendimento.
                                                </div>
                                            </b:column>
                                            <b:column col-md="8" >
                                                <p:outputLabel for="medicoSecundario" value="Médico para rateio" />
                                                <h:panelGrid columns="2" width="100%">                                                        
                                                    <p:autoComplete id="medicoSecundario" value="#{regraRepasseMB.regraRepasseMedicos.idTerceiro}" converter="Converter"
                                                                    completeMethod="#{regraRepasseMB.completeMethodTerceiro}" var="terc" maxResults="5" cache="true"
                                                                    itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" required="true" requiredMessage="Informe o médico">
                                                        <p:column>
                                                            <h:outputText value="#{terc.idTerceiro}" />
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                                        </p:column>
                                                    </p:autoComplete> 

                                                </h:panelGrid>
                                            </b:column>
                                            <b:column col-md="4" >
                                                <p:outputLabel for="taxaMed" value="Rateio Repasse (%)" />
                                                <pe:inputNumber id="taxaMed" value="#{regraRepasseMB.regraRepasseMedicos.fatorRepasseSecundario}" required="true" requiredMessage="Informe a taxa" symbol="%" symbolPosition="s">
                                                </pe:inputNumber>
                                            </b:column>
                                        </b:row>
                                    </b:column>
                                    <b:column col-md="12">
                                        <br/>
                                        <p:commandButton id="btnAdicionarItem" icon="add" styleClass="btn" ajax="true" value="Adicionar"
                                                         action="#{regraRepasseMB.adicionarMedicoSecundario()}" update="frmAdicionarMedicos, dtlAdicionarMedicos, :novo:AdicionarMedicos, :msg"/>
                                        <hr/>
                                        <p:dataTable id="dtlAdicionarMedicos" value="#{regraRepasseMB.listaMedicosSecundarios}"  var="rpm" 
                                                     emptyMessage="Nenhum item adicionado">
                                            <p:column headerText="Médico" width="300">
                                                <h:outputText value="#{rpm.idTerceiro.nome}" />
                                            </p:column>
                                            <p:column headerText="Taxa (%)" width="100">
                                                <center>
                                                    <h:outputText value="#{rpm.fatorRepasseSecundario}">
                                                        <f:convertNumber  type="number"/>
                                                    </h:outputText>
                                                    <h:outputText value="%"/>
                                                </center>
                                            </p:column>
                                            <p:column headerText="" width="80" >
                                                <center>
                                                    <p:commandButton id="btnExcluirItem" actionListener="#{regraRepasseMB.excluirMedicoSecundario(rpm)}" icon="cancel16"
                                                                     update="dtlAdicionarMedicos, :msg" ajax="true" immediate="true"/>
                                                </center>
                                            </p:column>

                                        </p:dataTable>
                                    </b:column>
                                </h:form>

                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
