<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Relatório de Pagamentos recebidos</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulistagemcirurgia}"/>
                <b:column span="12">
                    <b:panel  title="Pagamentos recebidos" look="primary" rendered="#{sessaoMB.usuario.idPapel.relatorioLancamentoCheques}">
                        <h:form id="frmCheques">
                            <b:column span="12">
                                <b:row>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <b:column span="6" >
                                                <h:outputText value="Data recebimento"/>                                        
                                                <p:calendar value="#{relatorioChequesMB.dtIni}" placeholder="Data Inicial" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                            </b:column>
                                            <b:column span="6">
                                                &nbsp;
                                                <p:calendar value="#{relatorioChequesMB.dtFim}" placeholder="Data Final" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                            </b:column>
                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                        <b:column span="6" >
                                            <h:outputText value="Data vencimento"/>  
                                            <p:calendar value="#{relatorioChequesMB.dtCompIni}" placeholder="Data Inicial" disabled="#{relatorioChequesMB.status != 'Comp'}"
                                                        pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                        </b:column>
                                        <b:column span="6">
                                            &nbsp;
                                            <p:calendar value="#{relatorioChequesMB.dtCompFim}" placeholder="Data Final" pattern="dd/MM/yyyy" locale="pt" disabled="#{relatorioChequesMB.status != 'Comp'}"
                                                        required="#{orcamentoMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                        </b:column>
                                    </div>
                                    <div class="col-md-3">    
                                        <h:outputText value="Procedimento"/>
                                        <p:selectOneMenu value="#{relatorioChequesMB.situacao}" style="width: 100%" styleClass="form-control" filter="true"
                                                         filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="%" />
                                            <f:selectItem itemLabel="Recebido" itemValue="Recebido" />
                                            <f:selectItem itemLabel="Enviado ao Banco" itemValue="Enviado ao Banco" />
                                            <f:selectItem itemLabel="Enviado ao SPC" itemValue="Enviado ao SPC" />
                                            <f:selectItem itemLabel="Representado" itemValue="Representado" />
                                            <f:selectItem itemLabel="Jurídico" itemValue="Jurídico" />
                                            <p:ajax update="@form" event="change"/>
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-md-3">
                                        <h:outputText value="Status"/>
                                        <p:selectOneMenu value="#{relatorioChequesMB.status}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="%" />
                                            <f:selectItem itemLabel="Somente avulsos" itemValue="Avul" />
                                            <f:selectItem itemLabel="Compensados" itemValue="Comp" />
                                            <f:selectItem itemLabel="Não Compensados" itemValue="NaoComp" />
                                            <f:selectItem itemLabel="Devolvidos" itemValue="Devo" />                                                
                                            <f:selectItem itemLabel="Cancelados" itemValue="Canc" />
                                            <f:selectItem itemLabel="Vencidos" itemValue="Venc" />
                                            <p:ajax update="@form" event="change"/>
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-md-3">
                                        <h:outputText value="Cheques ou Notas Promissórias?"/>
                                        <p:selectOneMenu value="#{relatorioChequesMB.movimento}" style="width: 100%" styleClass="form-control" filter="true"
                                                         filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Cheques" itemValue="C" />
                                            <f:selectItem itemLabel="Notas Promissórias" itemValue="N" />
                                            <p:ajax update="@form" event="change"/>
                                        </p:selectOneMenu>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <h:outputText value="Pagamentos médicos ou ao hospital?"/>
                                        <p:selectOneMenu value="#{relatorioChequesMB.tipo}" style="width: 100%" styleClass="form-control" filter="true"
                                                         filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="%" />
                                            <f:selectItem itemLabel="Misto" itemValue="M" />
                                            <f:selectItem itemLabel="Médicos" itemValue="N" />
                                            <f:selectItem itemLabel="Hospitalares" itemValue="H" />
                                            <p:ajax update="@form" event="change"/>
                                        </p:selectOneMenu>

                                    </div>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton styleClass="btn btn-primary"
                                                         value="Imprimir" action="#{relatorioChequesMB.imprimirRelatorio()}" ajax="false" 
                                                         onclick="this.form.target = '_blank'" icon="imprimir" />
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                    </b:panel>
                </b:column>
            </ui:define>
        </ui:composition>
    </body>
</html>
