<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Resumo do Paciente</li>
            </ui:define>
            <ui:define name="content">
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Resumo do Paciente" look="primary">    
                            <p:messages id="msg" closable="true"/>
                            <h:form id="frmResumoPaciente">

                                <b:column col-lg="5" col-md="6" col-sm="6" col-xs="12">
                                    <h:outputText value="Paciente"/>
                                    <h:panelGrid columns="3" width="100%">
                                        <p:autoComplete id="paciente" value="#{resumoPacienteMB.paciente}" converter="Converter"
                                                        completeMethod="#{resumoPacienteMB.completeMethodPaciente}" var="pac" maxResults="10"
                                                        itemLabel="#{pac.nome}" itemValue="#{pac}" placeholder="Digite o paciente" required="true" 
                                                        requiredMessage="Informe o paciente.">
                                            <p:column>
                                                <h:outputText value="#{pac.nome}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{pac.cpf==null ? pac.nomeMae : pac.cpf or pac.cpf=='' ? pac.nomeMae : pac.cpf}" />
                                            </p:column>
                                        </p:autoComplete>
                                        &nbsp;
                                        <p:commandButton id="trg" icon="pesquisar" styleClass="btn" 
                                                         update=":msg, rwDados, :frmInfoFechamento:dtlItensFechamento" 
                                                         value="Pesquisar" action="#{resumoPacienteMB.gerarResumo()}" />
                                    </h:panelGrid>
                                </b:column>

                                <b:column span="12">
                                    <br/>
                                    <b:row id="rwDados">       
                                        <b:column span="12">
                                            <p:dataTable id="tblPesq" widgetVar="wtblPesq" value="#{resumoPacienteMB.listaFechamentos}"
                                                         var="ciruPesq" paginator="true" rows="10" sortMode="multiple" paginatorPosition="bottom"
                                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                         rowsPerPageTemplate="5,10,15,25,50,100,200">
                                                <f:facet name="header">
                                                    Resumo de Atendimentos
                                                </f:facet>
                                                <p:column width="5%">
                                                    <p:rowToggler />
                                                </p:column>                                                
                                                <p:column headerText="Detalhes" width="5%">
                                                    <center>
                                                        <p:commandLink id="btnInfo" oncomplete="PF('dlgInfoFechamento').show()" 
                                                                       update=":frmInfoFechamento"  actionListener="#{resumoPacienteMB.setFechamento(ciruPesq)}" >
                                                            <p:graphicImage value="Recursos/icons/Info.png"/>
                                                        </p:commandLink>                                                        
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Lançamento" sortBy="#{ciruPesq.status}" width="10%">
                                                    <center>
                                                        <h:outputText styleClass="#{ciruPesq.idTipoInternacao.idTipoInternacao == 1 ? 'label label-success' : ciruPesq.externo ? 'label label-default' : ciruPesq.valor > 0 ? 'label label-primary' : 'label label-danger'}"
                                                                      value="#{ciruPesq.idTipoInternacao.idTipoInternacao == 1 ? 'Fechamento' : ciruPesq.externo ? 'Externo' :  'Avulso'}"  />
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Paciente"  filterMatchMode="contains"  width="15%" sortBy="#{ciruPesq.idPaciente.nome}">
                                                    <h:outputText value="#{ciruPesq.idPaciente.nome}" />
                                                </p:column>
                                                <p:column headerText="Data"   filterMatchMode="contains" width="10%" sortBy="#{ciruPesq.dtCirurgia}">
                                                    <h:outputText value="#{ciruPesq.dtCirurgia}">
                                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Médico" width="15%" sortBy="#{ciruPesq.externo ? '-' : ciruPesq.idTerceiro.nomeFantasia == null? ciruPesq.idTerceiro.nome : ciruPesq.idTerceiro.nomeFantasia}" >
                                                    <h:outputText value="#{ciruPesq.externo ? '-' : ciruPesq.idTerceiro.nomeFantasia == null? ciruPesq.idTerceiro.nome : ciruPesq.idTerceiro.nomeFantasia}" />
                                                </p:column>
                                                <p:column headerText="Procedimento"  width="15%" sortBy="#{ciruPesq.externo ? '-' : ciruPesq.idProcedimento.descricao}">
                                                    <h:outputText value="#{ciruPesq.externo ? '-' : ciruPesq.idProcedimento.descricao}"  />
                                                </p:column>

                                                <p:column headerText="Valor" sortBy="#{ciruPesq.valor}" width="10%">
                                                    <center>
                                                        <h:outputText value="#{ciruPesq.valor}" style="color: #{ciruPesq.idProcedimento.padrao == 'D' ? 'red' : ''}">
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>

                                                    </center>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <h:panelGrid columns="2">
                                                        
                                                        <p:column colspan="3" style="text-align:right">
                                                            <h:outputText value="Total: " />
                                                            <h:outputText value="#{cirurgiaMB.getSomaValores(resumoPacienteMB.listaFechamentos)}">
                                                                <f:convertNumber type="currency"  />
                                                            </h:outputText>
                                                        </p:column>                                            
                                                    </h:panelGrid>
                                                </f:facet>
                                                <p:rowExpansion>
                                                    <style>
                                                        .classRow1{background-color: #ffeeba;}
                                                        .classRow2{background-color: #ddf8b8}
                                                        .classRow3{background-color: #efffcc}
                                                        .classRow4{background-color: #c1fff1}
                                                        .classRow5{background-color: #fdd5f0}
                                                        .classRow6{background-color: #ffd7a7}
                                                        .classRow7{background-color: #e3e3e3}
                                                        .classRow8{background-color: #ccccff}
                                                        .classRow9{background-color: #e4e4f3}
                                                        .classRow10{background-color: #faebff}
                                                    </style>
                                                    <p:dataTable value="#{ciruPesq.repasseList}" sortBy="#{repList.idTerceiro.idTerceiro}, #{contaCorrenteMB.retornaNumeroParcela(repList.idRepasse, repList.idTerceiro.idTerceiro, repList.idCirurgia.idCirurgia)}" 
                                                                 var="repList" first="#{repList.idCheque.idCheque}" scrollable="true" scrollHeight="400">
                                                        <f:facet name="header">
                                                            Repasses e Recebimentos da Fechamento
                                                        </f:facet>
                                                        <p:column headerText="Trocar" width="8%">
                                                            <center>
                                                                <p:commandButton id="btnTroca" action="#{trocaRepasseMB.carregarValores(repList)}" 
                                                                                 rendered="#{repList.situacaoPaciente != 'E' and sessaoMB.usuario.idPapel.movimentoRepasse}"
                                                                                 update=":frmTrocaRepasse, :dlgTrocaRepasse, :frmTrocaRepasse:rwWidgets" icon="troca" 
                                                                                 oncomplete="PF('dlgTrocaRepasse').show();"/>
                                                            </center>
                                                            <p:rowToggler rendered="#{repList.situacaoPaciente == 'E'}"/>
                                                        </p:column>
                                                        <p:column width="50" >

                                                        </p:column>
                                                        <p:column headerText="Parcela" sortBy="#{contaCorrenteMB.retornaNumeroParcela(repList.idRepasse, repList.idTerceiro.idTerceiro, repList.idCirurgia.idCirurgia)}" width="5%">
                                                            <center>
                                                                <h:outputText id="parcela" value="#{ciruPesq.externo ? '1' :contaCorrenteMB.retornaNumeroParcela(repList.idRepasse, repList.idTerceiro.idTerceiro, repList.idCirurgia.idCirurgia)} / #{ciruPesq.externo ? '1' : contaCorrenteMB.retornaMaxNumeroParcela(repList.idTerceiro.idTerceiro, repList.idCirurgia.idCirurgia)}" title="Pagamento do Fechamento em: #{repList.idCheque.movimento == 'D' ? 'Dinheiro' : repList.idCheque.movimento == 'C' ? 'Cheque ' : repList.idCheque.movimento == 'N' ? 'Nota Promissória' : repList.idCheque.movimento == 'A' ? 'Cartão - Débito' : repList.idCheque.movimento == 'R' ? 'Cartão - Crédito' : repList.idCheque.movimento == 'B' ? 'Depósito Bancário' : ''}"/>
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Terceiro" sortBy="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" width="25%" >
                                                            <h:outputText value="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" >
                                                            </h:outputText>
                                                        </p:column>

                                                        <p:column headerText="Vencimento" width="10%">
                                                            <center>
                                                                <h:outputText value="#{repList.dtVencimento}" >
                                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Procedimento" width="20%" >
                                                            <h:outputText value="#{repList.idCirurgia.externo ? repList.idCirurgiaItem.idServico.descricao : repList.idSici.idServicoItem.descritiva}" >
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Sit. Paciente" rendered="false">
                                                            <center>
                                                                <h:outputText value="#{repList.situacaoPaciente == 'A' ? 'Aberto' : repList.situacaoPaciente == 'E' ? 'Estornado' : repList.situacaoPaciente == 'D' ? 'Devolvido' : 'Paga'}" >
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Recebimento" >
                                                            <h:outputText value="#{repList.contaCorrenteList.size() != 0? repList.contaCorrenteList.get(0).dtPagamentoMedico : ''}" >
                                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Valor" style="color: #{ciruPesq.idProcedimento.padrao == 'D' ? 'red' : ''}">
                                                            <center>
                                                                <h:outputText value="#{repList.valorDocumento}" >
                                                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:rowExpansion>
                                                            <p:dataTable value="#{repList.idCirurgiaItem.repasseList}" sortBy="#{repList.idTerceiro.idTerceiro}" 
                                                                         var="rep">
                                                                <f:facet name="header">
                                                                    Trocas e devoluções
                                                                </f:facet>
                                                                <p:column headerText="Terceiro" sortBy="#{rep.idTerceiro.nome == null ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" width="25%" >
                                                                    <h:outputText value="#{rep.idTerceiro.nome == null ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" >
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Procedimento" >
                                                                    <center>
                                                                        <h:outputText value="#{rep.idCirurgiaItem.idServico.descricao}" >
                                                                        </h:outputText>
                                                                    </center>
                                                                </p:column>
                                                                <p:column headerText="Motivo" >
                                                                    <center>
                                                                        <h:outputText value="#{rep.observacao}" >
                                                                        </h:outputText>
                                                                    </center>
                                                                </p:column>
                                                                <p:column headerText="Valor" >
                                                                    <center>
                                                                        <h:outputText value="#{rep.valorDocumento}" style="color: #{rep.idCirurgia.idProcedimento.padrao == 'D' ? 'red' : ''}" >
                                                                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                                                        </h:outputText>
                                                                    </center>
                                                                </p:column>
                                                            </p:dataTable>
                                                        </p:rowExpansion>
                                                    </p:dataTable>
                                                </p:rowExpansion>
                                            </p:dataTable>
                                        </b:column>
                                    </b:row>
                                </b:column>
                            </h:form>

                            <!-- Informações do Orcamento -->
                            <p:dialog closeOnEscape="true" widgetVar="dlgInfoOrcamento" 
                                      header="Informações do Orçamento #{resumoPagamentoMB.orcamento.idOrcamento}" resizable="false"  width="80%"  draggable="false"
                                      modal="true" position="top" height="600">
                                <ui:include src="includeOrcamento/formOrcamentoInfo.xhtml" />
                            </p:dialog>

                            <p:dialog closeOnEscape="true" widgetVar="dlgTrocaRepasse" id="dlgTrocaRepasse" position="top" width="60%"
                                      header="Troca de Repasses" 
                                      resizable="false" modal="true">
                                <h:form id="frmTrocaRepasse">
                                    <b:row id="rwWidgets">
                                        <center>
                                            <b:column col-md="4" col-xs="12">
                                                <div class="widget style1 navy-bg">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <i class="fa fa-check fa-3x"></i>
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span>Total Valor do Repasse</span>
                                                            <h3 class="font-bold">
                                                                <h:outputText id="widgetValorRecebido" value="#{trocaRepasseMB.valorTotal}">
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-md="4" col-xs="12">
                                                <div class="widget style1 yellow-bg">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <i class="fa fa-thumbs-o-up fa-3x"></i>
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span> Total já trocado</span>
                                                            <h3 class="font-bold">
                                                                <h:outputText id="widgetValorRepassado" value="#{trocaRepasseMB.valorTrocado}">
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-md="4" col-xs="12">
                                                <div class="widget style1 green-bg">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <i class="fa fa-tag fa-3x"></i>
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span> Valor Disponível </span>
                                                            <h3 class="font-bold">
                                                                <h:outputText id="widgetValorRestante" 
                                                                              value="#{trocaRepasseMB.valorRestante}">
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </b:column>
                                        </center>
                                        <b:column col-md="12">
                                            <p:messages id="msgTroca" autoUpdate="true" showDetail="true" />
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <hr/>
                                        <b:column col-md="3">
                                            <bcr:outputrequired value="Tipo" />
                                            <p:selectOneMenu id="AdcTipo" value="#{trocaRepasseMB.tipo}" 
                                                             styleClass="form-control" >
                                                <f:selectItem itemLabel="Troca de Repasses" itemValue="T" />
                                                <f:selectItem itemLabel="Devolução"  itemValue="D" />
                                                <p:ajax event="change" update="@form" listener="#{trocaRepasseMB.setarTipo()}"/>
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column col-md="9">
                                            <bcr:outputrequired value="Informe o motivo da movimentação:" />
                                            <h:panelGrid columns="2" width="100%">
                                                <p:inputText id="txtMotivo" value="#{trocaRepasseMB.motivo}" required="true" 
                                                             requiredMessage="Informe o motivo da #{tipo == 'D' ? 'devolução.' : 'troca.'}" />
                                                
                                                <p:commandButton value="" icon="pesquisar" styleClass="btn btn-primary btninput" 
                                                                 immediate="true" action="#{motivoMB.carregaMotivos()}"                                                                  
                                                                 oncomplete="PF('dlgMotivos').show();"/>                                            
                                            </h:panelGrid>                                           
                                        </b:column>

                                        <b:column col-md="3" >
                                            <bcr:outputrequired value="Valor a repassar" />
                                            <pe:inputNumber id="valor" value="#{trocaRepasseMB.valor}" maxValue="#{trocaRepasseMB.valorRestante}" 
                                                            disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                            decimalSeparator="," thousandSeparator="." symbol="R$ " required="true" requiredMessage="O valor é obrigatório!">
                                            </pe:inputNumber>                                                           
                                        </b:column>
                                        <b:column col-md="6">
                                            <bcr:outputrequired value="Novo Médico" />
                                            <h:panelGrid columns="2" width="100%">                                                        
                                                <p:autoComplete id="medico" value="#{trocaRepasseMB.terceiro}" converter="Converter" disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                                completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5"
                                                                itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" placeholder="Digite o novo médico para troca" 
                                                                required="true" requiredMessage="Informe o médico!">
                                                    <p:column>
                                                        <h:outputText value="#{terc.idTerceiro}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                                    </p:column>
                                                    <p:ajax event="itemSelect" oncomplete="$(function(){PrimeFaces.focus('frmTrocaRepasse:valor');});" />
                                                </p:autoComplete> 
                                            </h:panelGrid>
                                        </b:column>
                                        
                                        <b:column col-md="12">
                                            <br/>
                                            <p:commandButton id="btnAdicionarItem" icon="troca" value="Trocar"  styleClass="btn" disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                             update="@form, :frmTrocaRepasse:msgTroca" action="#{trocaRepasseMB.adicionar()}" validateClient="true"/>
                                            &nbsp;
                                            <p:commandButton id="btnSalvar" icon="salvar" value="Salvar e Sair"  styleClass="btn"
                                                             update="@form, :frmTrocaRepasse, :msg, :frmResumoPaciente" action="#{trocaRepasseMB.salvar()}" />
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column col-md="12">
                                            <hr/>
                                            <p:dataTable id="tblFor" value="#{trocaRepasseMB.repasses}" var="rep" 
                                                         rowIndexVar="varIndex" sortBy="#{rep.dtVencimento}">
                                                <p:column  headerText="Médico" width="25%" >
                                                    <h:outputText value="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" />
                                                </p:column>
                                                <p:column width="10%" headerText="Valor" >
                                                    <center>
                                                        <h:outputText value="#{rep.valorDocumento}"   >
                                                            <center>
                                                                <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" type="currency" />
                                                            </center>
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <p:column width="10%" headerText="Vencimento" >
                                                    <center>
                                                        <h:outputText value="#{rep.dtVencimento}"  style="color: black;"  >
                                                            <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <p:column width="20%" headerText="Observação" >
                                                    <h:outputText value="#{rep.observacao}"  /> 
                                                </p:column>
                                                <p:column headerText="Excluir" width="10%">
                                                    <p:commandButton id="btnExcluir" icon="cancel16" 
                                                                     action="#{trocaRepasseMB.excluirTroca(rep)}" immediate="true"
                                                                     update="@form, :frmTrocaRepasse:rwWidgets">
                                                    </p:commandButton>
                                                </p:column>
                                            </p:dataTable>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgInfoFechamento"  header="Informações do Fechamento #{resumoPagamentoMB.cirurgia.idCirurgia}" 
                                      resizable="true" width="80%" height="650" modal="true" 
                                      position="top" closeOnEscape="true" closable="true" >
                                <h:form id="frmInfoFechamento">
                                    <div class="row">
                                        <b:column span="4">
                                            Fechamento:  <strong>#{resumoPacienteMB.fechamento.idCirurgia}</strong>
                                        </b:column>
                                        <b:column span="4">
                                            Orçamento: <strong>#{resumoPacienteMB.fechamento.idOrcamento.idOrcamento}</strong>  
                                        </b:column>
                                        <b:column span="4">
                                            Convênio:   <strong>#{resumoPacienteMB.fechamento.idConvenio.descricao}</strong>
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            Paciente: <strong>#{resumoPacienteMB.fechamento.idPaciente.nome}</strong> 
                                        </b:column>
                                        <b:column span="4">
                                            Valor Orçamento: 
                                            <strong> 
                                                <h:outputText value="#{resumoPacienteMB.fechamento.idOrcamento.valor}">
                                                    <f:convertNumber minFractionDigits="2" type="currency" />
                                                </h:outputText>
                                            </strong> 
                                        </b:column>
                                        <b:column span="4">
                                            Telefone: <strong> #{resumoPacienteMB.fechamento.idPaciente.telefone}</strong> 
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            Médico responsável: <strong> #{resumoPacienteMB.fechamento.idTerceiro.nome}</strong>
                                        </b:column>
                                        <b:column span="3">
                                            Data Fechamento: 
                                            <strong> <h:outputText value="#{resumoPacienteMB.fechamento.dtCirurgia}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </strong>
                                        </b:column>
                                        <b:column span="4">

                                        </b:column>
                                    </div>
                                    <div class="row">
                                        <b:column span="4">
                                            Procedimento:   <strong> #{ciruPesq.externo ? '-' : resumoPacienteMB.fechamento.idProcedimento.descricao}</strong>
                                        </b:column>
                                        <b:column span="4">
                                            Valor Total:  
                                            <strong><h:outputText value="#{resumoPacienteMB.fechamento.valor}">
                                                    <f:convertNumber minFractionDigits="2" type="currency" />
                                                </h:outputText>
                                            </strong>

                                        </b:column>
                                        <b:column span="4">

                                        </b:column>
                                        <b:column span="4">

                                        </b:column>
                                        <b:column span="12">
                                            Observação:  <strong> #{resumoPacienteMB.fechamento.observacao}</strong>  
                                        </b:column>

                                    </div>
                                    <div class="row">
                                        <b:column span="12">
                                            <hr/>
                                        </b:column>
                                        <b:column span="12">
                                            <p:dataTable id="dtlItensFechamento" value="#{resumoPacienteMB.fechamento.cirurgiaItemList}" draggableColumns="true" var="ciList" >
                                                <f:facet name="header">
                                                    Itens do Fechamento
                                                </f:facet>
                                                <p:column headerText="Item" >
                                                    <h:outputText value="#{ciList.idServico.descricao}" />
                                                </p:column>
                                                <p:column headerText="Quantidade" width="10%" rendered="#{resumoPacienteMB.fechamento.idTipoInternacao.descricao != 'Geral'}">
                                                    <h:outputText value="#{ciList.quantidade}" />
                                                </p:column>
                                                <p:column headerText="Vlr Unit." rendered="#{resumoPacienteMB.fechamento.idTipoInternacao.descricao != 'Geral'}">
                                                    <h:outputText value="#{ciList.valorUnitario}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Vlr Total.">
                                                    <h:outputText value="#{ciList.valorTotal}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Observação">
                                                    <h:outputText value="#{ciList.observacao}" >
                                                    </h:outputText>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <h:panelGrid columns="2">
                                                        <h:outputText value="Valor total:" />
                                                        <h:outputText value="#{resumoPacienteMB.fechamento.valor}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </h:panelGrid>
                                                </f:facet>
                                            </p:dataTable>
                                            <hr/>
                                        </b:column>

                                        <b:column span="6">
                                            <p:dataTable value="#{resumoPacienteMB.listVt}" sortBy="#{repList.idTerceiro}" var="repList">
                                                <f:facet name="header">
                                                    Resumo Repasses
                                                </f:facet>
                                                <p:column headerText="Médico" width="70%">
                                                    <h:outputText value="#{repList.terceiro}"/>
                                                </p:column>
                                                <p:column headerText="Valor Total">
                                                    <h:outputText value="#{repList.valor}" style="color: #{repList.valor > 0 ? '' : 'red'}">
                                                        <f:convertNumber type="currency"/>
                                                    </h:outputText>
                                                </p:column>

                                                <f:facet name="footer">
                                                    <h:panelGrid columns="6">
                                                        <h:outputText value="Valor Médicos:" />
                                                        <h:outputText value="#{resumoPacienteMB.valorHonorariosMedicos}"  >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                        <h:outputText value="Valor Hospital:" />
                                                        <h:outputText value="#{resumoPacienteMB.valorHonorariosHospitalares}"   >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                        <h:outputText value="Valor total:" />
                                                        <h:outputText value="#{resumoPacienteMB.valorHonorariosMedicos + resumoPacienteMB.valorHonorariosHospitalares}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </h:panelGrid>
                                                </f:facet>
                                            </p:dataTable>
                                        </b:column>

                                        <b:column span="6">
                                            <p:dataTable value="#{resumoPacienteMB.fechamento.chequeList}" var="chequeList" emptyMessage="Sem registros.">
                                                <f:facet name="header">
                                                    Pagamentos
                                                </f:facet>
                                                <p:column headerText="ID" width="10%" >
                                                    <h:outputText value="#{chequeList.idCheque}" />
                                                </p:column>
                                                <p:column headerText="Numero Cheque" width="15%" >
                                                    <h:outputText value="#{chequeList.movimento == 'C' ? chequeList.numeroCheque : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão - Débito' : chequeList.movimento == 'B' ? 'Depósito Bancário' : chequeList.movimento == 'R' ? 'Cartão - Crédito' : ''}" />
                                                </p:column>
                                                <p:column headerText="Liberado?" width="15%" >
                                                    <h:outputText value="#{chequeList.compensado == 'S' ? 'Liberado' : 'Não Compensado'}" />
                                                </p:column>
                                                <p:column headerText="Banco" width="20%" >
                                                    <center>
                                                        <h:outputText value="#{chequeList.movimento == 'C' ? chequeList.idBanco.nome : '-'}" />
                                                    </center>                                                    
                                                </p:column>
                                                <p:column headerText="Conta" >
                                                    <center>
                                                        <h:outputText value="#{chequeList.movimento == 'C' ? chequeList.conta : '-'}" />
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Data Liberação" width="20%" >
                                                    <h:outputText value="#{chequeList.dtCompensacaoVencimento}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Valor" width="20%" >
                                                    <h:outputText value="#{chequeList.valor}" style="color: #{chequeList.valor > 0 ? '' : 'red'}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <h:panelGrid columns="2">
                                                        <h:outputText value="Valor total:" />
                                                        <h:outputText value="#{resumoPacienteMB.calcularValorTotal(chequeList)}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </h:panelGrid>
                                                </f:facet>
                                            </p:dataTable>
                                        </b:column> 
                                        <center>
                                            <b:column span="12">
                                                <hr/>
                                                <p:commandButton styleClass="btn"
                                                                 value="Imprimir" action="#{cirurgiaMB.imprimirFechamentoSintetico(resumoPacienteMB.fechamento.idCirurgia)}" 
                                                                 ajax="false" immediate="true"  process="@this" onclick="this.form.target = '_blank'" icon="imprimir" />
                                            </b:column>
                                        </center>
                                    </div>
                                </h:form>
                            </p:dialog>

                            <!-- Parciais do Orcamento -->
                            <p:dialog widgetVar="dlgParciais" header="Parciais do Orçamento" modal="true" closable="true" 
                                      resizable="false" width="70%" position="top" closeOnEscape="true" height="600">    
                                <h:form id="frmOrcto" >
                                    <div class="row">
                                        <b:column span="4">
                                            <bcr:outputInfo label="Orçamento" value="#{orcamentoMB.orcamento.idOrcamento}" />
                                        </b:column>
                                        <b:column span="4">
                                            <bcr:outputInfo label="Convênio" value="#{orcamentoMB.orcamento.idConvenio.descricao}" />
                                        </b:column>
                                        <b:column span="4">
                                            <bcr:outputInfoDate label="Data Orçamento" value="#{orcamentoMB.orcamento.dtOrcamento}" />
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            <bcr:outputInfo label="Paciente" value="#{orcamentoMB.orcamento.idPaciente.nome == null ? orcamentoMB.orcamento.pacienteNaoCadastradado : orcamentoMB.orcamento.idPaciente.nome}" /> 
                                        </b:column>
                                        <b:column span="4">
                                            <bcr:outputInfo label="Telefone" value="#{orcamentoMB.orcamento.idPaciente.telefone}" /> 
                                        </b:column>
                                        <b:column span="4">
                                            <bcr:outputInfoDate label="Válido Até" value="#{orcamentoMB.orcamento.dtValidade}" />
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            <bcr:outputInfo label="Médico" value="#{orcamentoMB.orcamento.idTerceiro.nome}" /> 
                                        </b:column>
                                        <b:column span="4">
                                            <bcr:outputInfo label="Status" value="#{orcamentoMB.orcamento.idStatus.descricao}" /> 
                                        </b:column>
                                        <b:column span="2">
                                            <bcr:outputInfoDate label="Previsão" value="#{orcamentoMB.orcamento.dtPrevisao}" />
                                        </b:column>

                                    </div>
                                    <div class="row">
                                        <b:column span="4">
                                            <bcr:outputInfo label="Procedimento" value="#{orcamentoMB.orcamento.idProcedimento.descricao}" />
                                        </b:column>
                                        <b:column span="4">
                                            <bcr:outputInfoMoney label="Total" value="#{orcamentoMB.orcamento.valor}" />
                                        </b:column>

                                        <b:column span="2">
                                            <bcr:outputInfoDate label="Liberação" value="#{orcamentoMB.orcamento.cirurgiaList.size() > 0 ? orcamentoMB.orcamento.cirurgiaList.get(0).dtCirurgia : ''}" />
                                        </b:column>

                                        <b:column span="4">
                                            <bcr:outputInfo label="Usuario de Criação" value="#{orcamentoMB.orcamento.idUsuarioCriacao.nomeCompleto}" />
                                        </b:column>
                                        <b:column span="4" >
                                            <bcr:outputInfo label="Usuario de alteração" value="#{orcamentoMB.orcamento.idUsuarioUltimaAlteracao.nomeCompleto}" />
                                        </b:column>
                                        <b:column span="4" >
                                            <bcr:outputInfoDatetime label="Dt Modificação" value="#{orcamentoMB.orcamento.dtModificacao}" />
                                        </b:column>
                                        <b:column span="8" rendered="#{orcamentoMB.orcamento.idMotivo.descricao == null ? 'false' : 'true'}">
                                            <bcr:outputInfo label="Sub Motivo" value="#{orcamentoMB.orcamento.subMotivo}" />
                                        </b:column>


                                    </div>
                                    <div class="row">
                                        <b:column span="12">
                                            <h:outputText style="font-weight: bolder; font-size: 14px; color: #999999;" value="Observação: " />
                                            <h:outputText style="font-weight: bolder; font-size: 16px;" value="#{orcamentoMB.limitarCaracteres(orcamentoMB.orcamento.observacao)}" />
                                        </b:column>
                                    </div>
                                    <div class="row">
                                        <b:column span="4" rendered="#{orcamentoMB.orcamento.idUsuarioAdiantamento.nomeCompleto == null ? 'false' : 'true'}">
                                            <bcr:outputInfo label="Usuario do Adiantamento" value="#{orcamentoMB.orcamento.idUsuarioAdiantamento.nomeCompleto}" />
                                        </b:column>
                                    </div>
                                    <hr/>

                                    <p:dataTable id="dtlParciais" widgetVar="wtblPesq" value="#{orcamentoMB.orcamento.cirurgiaList}" 
                                                 var="ciruPesq" paginator="true" rows="5" sortMode="multiple" paginatorPosition="bottom"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15,25,50,100,200">
                                        <p:column width="4%">
                                            <p:rowToggler />
                                        </p:column>
                                        <p:column headerText="Info" width="5%">
                                            <center>
                                                <p:commandLink style="width: 100%" title="Info" disabled="#{chequeMB.statusRetirado(forms) ? 'true' : forms.compensado == 'S' ? 'true' : forms.cancelado == 'S' ? 'true' : forms.cancelado == 'T' ? 'true' : 'false'}" 
                                                               actionListener="#{cirurgiaMB.selecionarPorIDInfo(ciruPesq.idCirurgia)}"  update=":frmInfoOrcto" 
                                                               oncomplete="PF('dlgInfoOrcto').show()"  rendered="#{sessaoMB.usuario.idPapel.infointernacao}">
                                                    <p:graphicImage value="Recursos/icons/new_pesquisar.png"  />
                                                </p:commandLink>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Nº"  sortBy="#{ciruPesq.idCirurgia}" filterMatchMode="contains" width="4%">
                                            <center><h:outputText value="#{ciruPesq.idCirurgia}"  /></center>
                                        </p:column>
                                        <p:column headerText="Paciente"  filterMatchMode="contains"  width="15%" sortBy="#{ciruPesq.idPaciente.nome}">
                                            <h:outputText value="#{ciruPesq.idPaciente.nome}" />
                                        </p:column>
                                        <p:column headerText="Data"   filterMatchMode="contains" width="10%" sortBy="#{ciruPesq.dtCirurgia}">
                                            <h:outputText value="#{ciruPesq.dtCirurgia}">
                                                <f:convertDateTime pattern="dd/MM/yyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Médico" width="15%" sortBy="#{ciruPesq.idTerceiro.nomeFantasia == null? ciruPesq.idTerceiro.nome : ciruPesq.idTerceiro.nomeFantasia}" >
                                            <h:outputText value="#{ciruPesq.idTerceiro.nomeFantasia == null? ciruPesq.idTerceiro.nome : ciruPesq.idTerceiro.nomeFantasia}" />
                                        </p:column>
                                        <p:column headerText="Procedimento"  width="15%" sortBy="#{ciruPesq.idProcedimento.descricao}">
                                            <h:outputText value="#{ciruPesq.idProcedimento.descricao}"  />
                                        </p:column>
                                        <p:column headerText="Status" sortBy="#{ciruPesq.status}" width="8%">
                                            <center>
                                                <h:outputText styleClass="#{ciruPesq.status == 'L' ? 'label label-success' : ciruPesq.status == 'N' ? 'label label-warning' : ciruPesq.status == 'C' ? 'label label-danger' : ''}"
                                                              value="#{ciruPesq.status=='L'?'Liberado':ciruPesq.status =='N'?'Não Liberado':ciruPesq.status=='C'?'Cancelado':''}"  />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Valor" sortBy="#{ciruPesq.valor}" width="10%">
                                            <center>
                                                <h:outputText value="#{ciruPesq.valor}">
                                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" type="currency" />
                                                </h:outputText>

                                            </center>
                                        </p:column>
                                        <p:rowExpansion>
                                            <p:dataTable value="#{ciruPesq.cirurgiaItemList}" var="ciiList" >
                                                <f:facet name="header">
                                                    Itens do Fechamento
                                                </f:facet>
                                                <p:column headerText="Item">
                                                    <h:outputText value="#{ciiList.idServico.descricao}" />
                                                </p:column>
                                                <p:column headerText="Quantidade" width="10%">
                                                    <h:outputText value="#{ciiList.quantidade}" />
                                                </p:column>
                                                <p:column headerText="Vlr. Unitário" width="15%">
                                                    <h:outputText value="#{ciiList.valorUnitario}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column  headerText="Vlr. Total" width="15%">
                                                    <h:outputText value="#{ciiList.valorTotal}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Observação" width="30%">
                                                    <h:outputText value="#{ciiList.observacao}" >
                                                    </h:outputText>
                                                </p:column>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>
                            
                            <bcr:dialogMotivo header="Motivos cadastrados" idDatatable="dtlMotivos"  idDialogo="dlgMotivos" idForm="frmMotivos" 
                                              metodoPesquisar="#{motivoMB.listaMotivosPorTipo('Troca de Repasses')}"
                                              updateBtnSelecionar=":frmTrocaRepasse:txtMotivo, @form" action="#{trocaRepasseMB.selecionarMotivo(motivo)}" />
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>

    </body>
</html>
