<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Relatório de Fechamento de Altas</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulistagemcirurgia}"/>
                <b:column span="12">
                    <b:panel  title="Listagem de Fechamento de Altas" look="primary" rendered="#{sessaoMB.usuario.idPapel.menulistagemcirurgia}">
                        <h:form id="frmConsultar">
                            <b:column span="12">
                                <b:row>
                                    <b:column span="2" >
                                        <h:outputText value="Data Inicial"/>
                                        <p:calendar value="#{cirurgiaMB.dtInicialPesquisa}" placeholder="Data Inicial" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                    </b:column>
                                    <b:column span="2">
                                        <h:outputText value="Data Final"/>
                                        <p:calendar value="#{cirurgiaMB.dtFinalPesquisa}" placeholder="Data Final" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Paciente" />
                                        <h:panelGrid columns="2" style="width: 110% !important;">
                                            <p:inputText id="paciente" value="#{cirurgiaMB.nomePacientePesquisa != null ? cirurgiaMB.nomePacientePesquisa : ''}" 
                                                         placeholder="Todos os pacientes" readonly="true" styleClass="form-control">
                                                <p:ajax update="@this"/>
                                            </p:inputText>
                                            <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" 
                                                             immediate="true" action="#{cirurgiaMB.carregarPacientesLazyModel()}" update=":dlgConsultaPacientePesquisa:frmConsultaPacientePesquisa"
                                                             onclick="PF('dlgConsultaPacientePesquisa').show();" />
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Procedimento"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramProcedimento}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter" >
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItems value="#{procedimentoMB.listaProcedimentos()}" var="pro"
                                                           itemLabel="#{pro.descricao}" itemValue="#{pro.idProcedimento}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="4">
                                        <h:outputText value="Status"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.statusPesquisa}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="%" />
                                            <f:selectItem itemLabel="Liberado" itemValue="L" />
                                            <f:selectItem itemLabel="Não Liberado" itemValue="N" />                                                
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Medico"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramTerceiro}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter">
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItems value="#{terceiroMB.listaTerceiros()}" var="ter"
                                                           itemLabel="#{ter.nome != null ? ter.nome : ter.nomeFantasia}" 
                                                           itemValue="#{ter.idTerceiro}"/>

                                        </p:selectOneMenu>
                                    </b:column>                                    
                                    <b:column id="servico" rendered="#{cirurgiaMB.nomePacientePesquisa == null}" span="4">
                                        <h:outputText value="Serviço"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramServico}" style="width: 100%" styleClass="form-control" filter="true"
                                                         filterMatchMode="contains" converter="Converter" >
                                            <f:selectItem itemLabel="Todos" itemValue="%" />
                                            <f:selectItems value="#{servicoMB.listaServicos()}" var="serv"
                                                           itemLabel="#{serv.descricao}" itemValue="#{serv.idServico}" >
                                                
                                            </f:selectItems>
                                            <p:ajax update="botoes"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column id="botoes" span="12">
                                        <hr/>
                                        <p:commandButton styleClass="btn btn-primary"
                                                         value="#{cirurgiaMB.nomePacientePesquisa == null ? 'Analítico' : 'Resumo'}" action="#{cirurgiaMB.imprimirListagemFechamento()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn btn-success" disabled="#{cirurgiaMB.nomePacientePesquisa != null or !cirurgiaMB.paramServico.equals('%')}"
                                                         value="Sintético" action="#{cirurgiaMB.imprimirListagemFechamentoSintetico()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn btn-warning" disabled="#{orcamentoMB.paramTipoData == 'Hora'}"
                                                         value="Resumo" action="#{cirurgiaMB.imprimirListagemFechamentoSinteticoResumo()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn " disabled="#{cirurgiaMB.nomePacientePesquisa != null}"
                                                         value="Orçado X Realizado (Consolidado)" action="#{cirurgiaMB.imprimirOrcadoXRealizado()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn" disabled="#{cirurgiaMB.nomePacientePesquisa != null}"
                                                         value="Orçado X Realizado (Período)" action="#{cirurgiaMB.imprimirOrcadoXRealizadoPeriodo()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                        <!-- Consultar Paciente em Pesquisa -->
                        <bcr:dialogPesquisaPaciente id="dlgConsultaPacientePesquisa" header="Consulta de Paciente" idDatatable="dtlConsultarPaciente" idDialogo="dlgConsultaPacientePesquisa"
                                                    idForm="frmConsultaPacientePesquisa" updateBtnSelecionar=":frmConsultar:paciente, :frmConsultar:botoes, :frmConsultar:servico" actionTodosPacientes="#{cirurgiaMB.zerarPaciente()}"
                                                    action="#{cirurgiaMB.selecionarPacientePesquisa(varPaciente)}"/>
                    </b:panel>
                </b:column>
            </ui:define>
        </ui:composition>
    </body>
</html>
