<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Operações</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuoperacaocaixa}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Operacao" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuoperacaocaixa}">
                            <h:form id="formOperacao" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{operacaoMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novooperacaocaixa}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{operacaoMB.listarOperacoes()}"  var="ops"  paginator="true" rows="10"  lazy="true"
                                                 widgetVar="frmBnc" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <p:column  headerText="Controle" width="10%"  >
                                            <p:commandLink title="Editar" id="editBtn" action="#{operacaoMB.selecionarPorID(ops.idOperacao)}" update=":novo" oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editaroperacaocaixa}">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            <p:blockUI block="dtl"  trigger="editBtn" >
                                                Carregando Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                            &nbsp;
                                            <p:commandLink title="Excluir" id="infoExc"
                                                           actionListener="#{operacaoMB.selecionarPorID(ops.idOperacao)}"  update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluiroperacaocaixa}" >
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                            <p:blockUI block="dtl"  trigger="infoExc" >
                                                Excluindo Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{ops.idOperacao}" sortBy="#{ops.idOperacao}" filterMatchMode="contains" width="15%"  >
                                            <h:outputText value="#{ops.idOperacao}" />
                                        </p:column>
                                        <p:column  headerText="Descrição" filterBy="#{ops.descricao}" sortBy="#{ops.descricao}" filterMatchMode="contains" width="55%"  >
                                            <h:outputText value="#{ops.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novas Operações" height="25%" width="50%"  resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="novo">
                                    <b:row>
                                        <b:column span="8">
                                            <b:column span="10">
                                                <bcr:outputrequired value="Descrição" />
                                                <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Nome" requiredMessage="O campo Nome é obrigatório" value="#{operacaoMB.operacao.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                            </b:column>
                                        </b:column>
                                        <b:column span="6">
                                            <p:messages id="msgs2" />
                                        </b:column>
                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar"  ajax="true" update=":formOperacao:dtl, :msg, :novo" icon="salvar"  validateClient="true" action="#{operacaoMB.Salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{operacaoMB.operacao.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{operacaoMB.Excluir()}" update=":formOperacao, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{operacaoMB.novo()}" update=":formOperacao" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
