<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Controle de Notas Promissórias</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.verNotasPromissorias}" />
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Controle de Notas Promissórias" look="primary"  rendered="#{sessaoMB.usuario.idPapel.verNotasPromissorias}">
                            <p:commandButton styleClass="btn" value="Receber várias" icon="check16" action="#{chequeMB.calcularTotalSelecionado()}"
                                             oncomplete="PF('dlgChequesSelecionados').show();" update=":dtlChequeSelecionados"/>
                            &nbsp;
                            <p:commandButton value="Pesquisar" id="ctrl" icon="pesquisar" styleClass="btn" />
                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                                <p:panelGrid columns="1" style="width: 100%; " >
                                    <p:commandButton style="width: 100%" value="Escolher período" icon="ui-icon-calendar" oncomplete="PF('dlgFiltroPesquisarMovimento').show();" />
                                    <p:commandButton style="width: 100%" value="Hoje" actionListener="#{chequeMB.setarDatasPesquisa('N', 'D')}" update=":consultaCheques, :msg" icon="ui-icon-arrowstop-1-s"/>
                                    <p:commandButton style="width: 100%" value="Mês atual" actionListener="#{chequeMB.setarDatasPesquisa('N', 'M')}" update=":consultaCheques, :msg" icon="ui-icon-arrowrefresh-1-e"/>
                                    <p:commandButton style="width: 100%" value="Mês anterior" actionListener="#{chequeMB.setarDatasPesquisa('N', 'A')}" update=":consultaCheques, :msg" icon="ui-icon-arrowthick-1-w"/>
                                </p:panelGrid>
                            </p:overlayPanel>
                            <hr/>
                            <h:form id="consultaCheques">
                                <style>
                                    .cancelado{
                                        background-color: rgba(255, 102, 102, 0.19);
                                    }
                                    .trocado{
                                        background-color: rgba(255, 185, 102, 0.33);
                                    }
                                </style>
                                <p:dataTable id="dtl" value="#{chequeMB.listaNotasPromissorias}"  var="forms"
                                             paginator="true" rowKey="#{forms.idCheque}" 
                                             selection="#{chequeMB.listaNotasPromissoriasSelecionadas}" 
                                             paginatorPosition="bottom" rows="10" disabledSelection="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T'}"
                                             emptyMessage="Nenhum registro encontrado" widgetVar="wigvCheques" >     
                                    <p:column selectionMode="multiple" width="3%" style="width:8px; text-align:center;" />
                                    <p:ajax event="rowSelectCheckbox"  update=":dtlChequeSelecionados" />
                                    <p:ajax event="toggleSelect"  update=":dtlChequeSelecionados" />
                                    <p:ajax event="rowUnselectCheckbox"  update=":dtlChequeSelecionados" />
                                    <p:column style="width: 3%">
                                        <p:rowToggler/>
                                    </p:column>
                                    <p:column  headerText="Controle" width="11%"  >
                                        <center>
                                            <p:commandButton value="Ações" id="ctrl" icon="ui-icon-circle-triangle-s" />
                                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px;" >
                                                <p:panelGrid columns="1" style="width: 100%; " >
                                                    <p:commandButton style="width: 100%" id="btnCompensar" oncomplete="PF('dlgCompensar').show()"  update=":frmCompensar"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="check16" value="Receber" rendered="#{sessaoMB.usuario.idPapel.compensarCheque}" 
                                                                     disabled="#{chequeMB.statusRetirado(forms) ? 'true' : forms.compensado == 'S' ? 'true' : forms.cancelado == 'S' ? 'true' : forms.cancelado == 'T' ? 'true' : 'false' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnAdiar" oncomplete="PF('dlgAdiar').show()"  update=":frmAdiar"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="calendario" value="Adiar" rendered="#{sessaoMB.usuario.idPapel.compensarCheque}" 
                                                                     disabled="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnSituacao" oncomplete="PF('dlgSituacao').show()"  update=":frmSituacao"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="refresh" value="Movimentar" rendered="#{sessaoMB.usuario.idPapel.movimentarCheque}" 
                                                                     disabled="#{forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />

                                                </p:panelGrid>
                                            </p:overlayPanel>
                                        </center>

                                    </p:column>
                                    <p:column headerText="Fech." width="5%" styleClass="hidden-xs hidden-sm hidden-md text-center" rendered="false"
                                              filterBy="#{forms.idCirurgia.idCirurgia}" filterMatchMode="contains" >
                                        <h:outputText value="#{forms.cancelado == 'S' ? 'Cancelado' : forms.idCirurgia.idCirurgia}" title="Fechamento"  />
                                    </p:column>
                                    <p:column headerText="Tipo" width="8%" filterBy="#{forms.tipo}">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="Mistos" itemValue="M" />
                                                <f:selectItem itemLabel="Médicos" itemValue="N" />
                                                <f:selectItem itemLabel="Hospitalares" itemValue="H" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <i class="fa fa-user-md" style="display: #{forms.tipo == 'M' or forms.tipo == 'N' ? '' : 'none'}" title="Este pagamento contém repasses médicos."></i>
                                            <i class="fa fa-h-square" style="display: #{forms.tipo == 'M' or forms.tipo == 'H' ? '' : 'none'}" title="Esta lote contém repasses hospitalares."></i>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Código" filterBy="#{forms.idCheque}" width="100" filterMatchMode="contains">
                                        <center>
                                            <h:outputText value="#{forms.cancelado == 'S' ? 'Cancelado' : forms.idCheque}" title="ID: #{forms.idCheque}" />
                                        </center>
                                    </p:column>

                                    <p:column headerText="Paciente" sortBy="#{forms.idPaciente.nome == forms.emitente or forms.idPaciente.emitente == null ? forms.idPaciente.nome : forms.emitente }" filterBy="#{forms.idPaciente.nome}" 
                                              filterMatchMode="contains" style="font-size: 11px;" width="15%">
                                        <h:outputText value="#{forms.cancelado == 'S' ? 'Cancelado' : forms.idPaciente.nome}" 
                                                      title="Nome do paciente" style="font-size: 11px;"/>
                                    </p:column>

                                    <p:column headerText="Emitente" sortBy="#{forms.emitente}" filterBy="#{forms.emitente}" width="15%" filterMatchMode="contains" >
                                        <h:outputText value="#{forms.emitente}" title="Nome do emitente" style="font-size: 11px;"/>
                                    </p:column>
                                    <p:column headerText="Situação" filterBy="#{forms.situacao}" width="10%" styleClass="hidden-xs hidden-sm" filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="A Receber" itemValue="A Compensar" />
                                                <f:selectItem itemLabel="Enviado ao Banco" itemValue="Enviado ao Banco" />
                                                <f:selectItem itemLabel="Recebido" itemValue="Recebido" />
                                                <f:selectItem itemLabel="Enviado ao SPC" itemValue="Enviado ao SPC" />                                        
                                                <f:selectItem itemLabel="Representado" itemValue="Representado" />
                                                <f:selectItem itemLabel="Jurídico" itemValue="Jurídico" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <h:outputText styleClass="#{forms.situacao == 'Recebido' ? 'label label-success' : forms.situacao == 'Enviado ao Banco' ? 'label label-default' : 'label label-danger'}"  style="font-size: 11px;"
                                                          value="#{forms.situacao == 'A Compensar' ? 'A Receber' : forms.situacao}" title="#{forms.situacao}"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Status" filterBy="#{forms.compensado}" width="8%" filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="Recebidas" itemValue="S" />
                                                <f:selectItem itemLabel="A Receber" itemValue="N" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <h:outputText styleClass="#{forms.compensado == 'S' ? 'label label-success' : 'label label-danger'}"  style="font-size: 11px;"
                                                          value="#{forms.compensado == 'S' ? 'OK' : '!'}" title="#{forms.compensado == 'S' ? 'Recebida' : 'A Receber'}"/>
                                        </center>
                                    </p:column>

                                    <p:column headerText="Lançado" sortBy="#{forms.dtRecebimentoEmissao}" 
                                              styleClass="hidden-xs hidden-md hidden-sm" width="10%" 
                                              filterBy="#{forms.dtRecebimentoEmissao}"  filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:inputText styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                         onchange="PF('wigvCheques').filter()"
                                                         onselect="PF('wigvCheques').filter()"
                                                         onblur="PF('wigvCheques').filter()"
                                                         onkeyup="PF('wigvCheques').filter()">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </f:facet>
                                        <center>
                                            <h:outputText value="#{forms.dtRecebimentoEmissao}" title="Data do recebimento do cheque"  style="font-size: 11px;" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Vencimento" sortBy="#{forms.dtCompensacaoVencimento}" 
                                              styleClass="hidden-xs hidden-sm " width="11%" filterBy="#{forms.dtCompensacaoVencimento}" 
                                              filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:inputText styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                         onchange="PF('wigvCheques').filter()"
                                                         onselect="PF('wigvCheques').filter()"
                                                         onblur="PF('wigvCheques').filter()"
                                                         onkeyup="PF('wigvCheques').filter()">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </f:facet>
                                        <center>
                                            <h:outputText value="#{forms.dtCompensacaoVencimento}" title="Data do compensação do cheque" 
                                                          style="font-size: 11px;" styleClass="#{chequeMB.chequeVencido(forms)}">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Recebimento" sortBy="#{forms.dtCompensado}" 
                                              styleClass="hidden-xs hidden-sm" width="10%" filterBy="#{forms.dtCompensado}" filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:inputText styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                         onchange="PF('wigvCheques').filter()"
                                                         onselect="PF('wigvCheques').filter()"
                                                         onblur="PF('wigvCheques').filter()"
                                                         onkeyup="PF('wigvCheques').filter()">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </f:facet>
                                        <center>
                                            <h:outputText value="#{forms.dtCompensado}" title="Data do compensação do cheque" style="font-size: 11px;">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column  headerText="Valor" filterBy="#{forms.valor}" width="10%" sortBy="#{forms.valor}" filterMatchMode="contains" >
                                        <center>
                                            <h:outputText value="#{forms.valor}" title="Valor" style="font-size: 11px;">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:rowExpansion>
                                        <style>
                                            .colfirst{
                                                width: 20%;
                                            }
                                            .colSecond{
                                                width: 80%;
                                                font-weight: bolder;
                                            }
                                        </style>
                                        <br/>
                                        <div class="col-lg-12">
                                            <br/>
                                            <center>
                                                <h3>Procedimento: #{forms.idCirurgia == null ? forms.idProcedimento.descricao : forms.idCirurgia.idProcedimento.descricao.concat(' - Valor total: R$ ').concat(forms.idCirurgia.valor).concat(' - Parcelado em: ').concat(forms.idCirurgia.chequeList.size()).concat('x')}</h3>
                                            </center>
                                        </div>
                                        <div class="col-lg-6">
                                            <p:panelGrid columns="2" columnClasses="colfirst, colSecond">
                                                <h:outputText value="Paciente: " />
                                                <h:outputText value="#{forms.idPaciente.nome}" />
                                                <h:outputText value="Emitente:" />
                                                <h:outputText value="#{forms.emitente}" />
                                                <h:outputText value="CPF: " />
                                                <h:outputText value="#{forms.cpf}" />

                                            </p:panelGrid>
                                        </div>
                                        <div class="col-lg-6">
                                            <p:panelGrid columns="2" columnClasses="colfirst, colSecond">
                                                <h:outputText value="Lançado:" />
                                                <h:outputText value="#{forms.dtRecebimentoEmissao}">
                                                    <f:convertDateTime pattern="dd/MM/YYYY"/> 
                                                </h:outputText>
                                                <h:outputText value="Receber:" />
                                                <h:outputText value="#{forms.dtCompensacaoVencimento}" >
                                                    <f:convertDateTime pattern="dd/MM/YYYY"/> 
                                                </h:outputText>
                                                <h:outputText value="Valor:" />
                                                <h:outputText value="#{forms.valor}" >
                                                    <f:convertNumber type="currency"/> 
                                                </h:outputText>
                                            </p:panelGrid>
                                        </div>
                                        <div class="col-lg-12">
                                            <br/>
                                            <h2><h:outputText value="#{forms.cancelado == 'S' ? 'Motivo: ' : 'OBS: ' }"/> #{forms.observacao}</h2>
                                        </div>
                                        <hr/>
                                        <h:panelGroup>
                                            <p:dataTable id="repasses" value="#{forms.repasseList}" sortBy="#{repList.numeroParcela}" var="repList" 
                                                         rendered="#{forms.cancelado == 'N' or forms.cancelado == null }" >
                                                <f:facet name="header">
                                                    Repasses e Recebimentos da Fechamento
                                                    <p:commandButton value="Atualizar" action="#{chequeMB.carregarCheques()}" 
                                                                     icon="refresh" update="repasses" />
                                                </f:facet>
                                                <p:column headerText="Fechamento" sortBy="#{repList.idCirurgia.idCirurgia}" rendered="#{forms.idCirurgia != null}" width="8%">
                                                    <center><h:outputText value="#{repList.idCirurgia.idCirurgia}" /></center>
                                                </p:column>
                                                <p:column headerText="Data" rendered="#{forms.idCirurgia != null}" >
                                                    <h:outputText value="#{repList.idCirurgia.dtCirurgia}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Parcela" sortBy="#{repList.numeroParcela}" rendered="#{forms.idCirurgia != null}" width="8%">
                                                    <center><h:outputText value="#{repList.numeroParcela}" /></center>
                                                </p:column>
                                                <p:column headerText="Terceiro" sortBy="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" width="25%" >
                                                    <h:outputText value="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Descrição" sortBy="#{repList.idSici.idServicoItem.descritiva}" width="25%" >
                                                    <h:outputText value="#{repList.idSici.idServicoItem.descritiva == null ? repList.idCheque.idProcedimento.descricao : repList.idSici.idServicoItem.descritiva}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Situação" >
                                                    <h:outputText value="#{repList.sacado == 'N' or repList.sacado == null ? 'Não Liberado' : 'Liberado'}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Vencimento" >
                                                    <h:outputText id="dtVencimento" value="#{repList.dtVencimento}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                    <p:tooltip for="dtVencimento" value="Obs: #{repList.observacao}"/>
                                                </p:column>
                                                <p:column headerText="Pgto Médico" >
                                                    <h:outputText value="#{repList.contaCorrenteList != null ? repList.contaCorrenteList.get(0).dtPagamentoMedico : ''}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column headerText="Valor" >
                                                    <center>
                                                        <h:outputText value="#{repList.valorDocumento}" >
                                                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                                        </h:outputText>
                                                    </center>
                                                </p:column>


                                            </p:dataTable>
                                        </h:panelGroup>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>   

                            <!--Janela de Cancelamento de Cheques-->
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Cancelamento" modal="true" resizable="false" closable="true" closeOnEscape="true" 
                                      width="40%">
                                <h:form id="frmConfirm">
                                    <h:outputText value="Você confirma o cancelamento do cheque nº #{chequeMB.cheque.numeroCheque} ?" />
                                    <br/>
                                    <h:outputText value="Motivo:" />
                                    <p:inputText value="#{chequeMB.cheque.observacao}"/>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim. Desejo cancelar." icon="check16" styleClass="ui-confirmdialog-yes"  action="#{chequeMB.cancelar(chequeMB.cheque)}" update=":consultaCheques, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Não."  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{exameMB.novo()}" update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgSituacao" header="Movimentação do Cheque" modal="true" resizable="false" closable="true" closeOnEscape="true" 
                                      width="40%">
                                <h:form id="frmSituacao">
                                    <p:outputLabel for="situacao" value="Situação" />
                                    <p:selectOneMenu id="situacao" value="#{chequeMB.cheque.situacao}" styleClass="form-control" style="width: 100%;">
                                        <f:selectItem itemLabel="A Receber" itemValue="A Compensar" />
                                        <f:selectItem itemLabel="Enviado ao Banco" itemValue="Enviado ao Banco" />
                                        <f:selectItem itemLabel="Enviado ao SPC" itemValue="Enviado ao SPC" />                                        
                                        <f:selectItem itemLabel="Representado" itemValue="Representado" />
                                        <f:selectItem itemLabel="Jurídico" itemValue="Jurídico" />
                                    </p:selectOneMenu>
                                    <br/>
                                    <h:outputText value="Observação:" />
                                    <p:inputText value="#{chequeMB.cheque.observacao}"/>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Salvar." icon="check16" styleClass="ui-confirmdialog-yes"  action="#{chequeMB.atualizar()}" update=":consultaCheques, :consultaCheques:dtl, :msg" oncomplete="PF('dlgSituacao').hide()"/>
                                            <p:commandButton value="Cancelar."  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgSituacao').hide()" update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgCompensar" header="Confirmação" modal="true" closable="true" closeOnEscape="true"> 
                                <h:form id="frmCompensar">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Deseja receber esta nota promissória? Cód: #{chequeMB.cheque.idCheque}" />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim, quero receber." icon="check16" styleClass="ui-confirmdialog-yes" 
                                                             action="#{chequeMB.compensar()}" update="@all" oncomplete="PF('dlgCompensar').hide()"/>
                                            <p:commandButton value="Não."  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgCompensar').hide()" action="#{chequeMB.novo()}"
                                                             update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgAdiar" header="Adiar cheque e seus repasses." modal="true" closable="true" resizable="false" closeOnEscape="true"> 
                                <h:form id="frmAdiar">
                                    <b:row>
                                        <b:column span="6">
                                            <h:outputText value="Nova data a ser compensado." />
                                            <p:calendar id="dtCompensacaoVencimento" value="#{chequeMB.cheque.dtCompensacaoVencimento}" 
                                                        mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" locale="pt"/>
                                        </b:column>
                                        <b:column span="12">
                                            <h:outputText value="Informe o motivo:" />
                                            <p:inputText value="#{chequeMB.cheque.observacao}" styleClass="form-control"/>
                                        </b:column>
                                    </b:row>                                    

                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Confirmar" icon="check16" styleClass="ui-confirmdialog-yes" 
                                                             action="#{chequeMB.adiar()}" update=":consultaCheques, :consultaCheques:dtl, :msg" oncomplete="PF('dlgAdiar').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgAdiar').hide()" action="#{chequeMB.novo()}"
                                                             update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgChequesSelecionados" header="Receber notas promissórias selecionadas" modal="true" closable="true" 
                                      width="60%" closeOnEscape="true" position="top">
                                <b:row>
                                    <b:column span="12">
                                        <p:dataTable id="dtlChequeSelecionados" value="#{chequeMB.listaNotasPromissoriasSelecionadas}" var="chq"  paginatorPosition="bottom"     
                                                     paginator="true" rows="5" paginatorAlwaysVisible="false" 
                                                     sortBy="#{chq.idCheque}">
                                            <p:column headerText="ID" width="10%">
                                                <h:outputText  value="#{chq.idCheque}"/>                                                                            
                                            </p:column>
                                            <p:column headerText="Número Cheque" width="10%">
                                                <h:outputText  value="#{chq.numeroCheque}"/>                                                                        
                                            </p:column>
                                            <p:column headerText="Paciente" width="20%">
                                                <h:outputText  value="#{chq.idPaciente.nome}"/>                                                                        
                                            </p:column>
                                            <p:column headerText="Emitente" width="20%">
                                                <h:outputText  value="#{chq.emitente}"/>                                                                        
                                            </p:column>
                                            <p:column headerText="Lançado em:" width="15%">
                                                <h:outputText  value="#{chq.emitente}"/>                                                                        
                                            </p:column>
                                            <p:column headerText="Receber em:" width="15%">
                                                <h:outputText  value="#{chq.emitente}"/>                                                                        
                                            </p:column>
                                            <p:column headerText="Valor" width="15%">
                                                <center>
                                                    <h:outputText value="#{chq.valor}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </center>                                                                        
                                            </p:column>
                                            <f:facet name="footer">
                                                <center>
                                                    <h:outputText value="#{chequeMB.valorTotalSelecionado}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </center>                                                                        
                                            </f:facet>
                                        </p:dataTable>
                                        <hr/>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <center>
                                            <p:commandButton id="btnPagar" update=":msg, :consultaCheques" styleClass="btn" 
                                                             value="Receber selecionados" icon="check16" actionListener="#{chequeMB.compensarSelecionados()}" oncomplete="PF('dlgChequesSelecionados').hide();"/>
                                            &nbsp;
                                            <p:commandButton id="btnCancelar" update=":consultaCheques" value="Cancelar" icon="cancel16" styleClass="btn" 
                                                             onclick="PF('dlgChequesSelecionados').hide();"/>
                                        </center>
                                    </b:column>
                                </b:row>
                            </p:dialog>
                            <p:dialog widgetVar="dlgFiltroPesquisarMovimento" header="Pesquisar" >
                                <h:form id="frmPesquisar">
                                    <b:row>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Inicial"   />
                                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt"   value="#{chequeMB.PDtInicial}"/>
                                        </b:column>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Final"   />
                                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" value="#{chequeMB.PDtFinal}" />
                                        </b:column>
                                        <b:column col-md="12">
                                            <hr/>
                                            <p:commandButton id="btnConsultar" value="Pesquisar" styleClass="btn"
                                                             icon="pesquisar" action="#{chequeMB.carregarChequesPorPeriodo(chequeMB.PNumeroCheque, 'N', chequeMB.PDtInicial, chequeMB.PDtFinal)}" update=":consultaCheques:dtl, :msg" oncomplete="PF('dlgFiltroPesquisarMovimento').hide();"/>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
