<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Permissões</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menupermissao}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel title="Controle de Permissões" look="primary" rendered="#{sessaoMB.usuario.idPapel.menupermissao}">
                            <h:form id="formParametro">
                                <p:commandButton value="Nova Permissão" icon="add"  
                                                 onclick="PF('dlgEdit').show()" 
                                                 action="#{papelMB.novo()}" update=":formEdicao" styleClass="btn btn-primary"/>
                                <hr/>
                                <p:dataTable id="tbl" value="#{papelMB.listarPermissoes()}" var="perms"
                                             paginator="true" rows="25" 
                                             widgetVar="permsTables" emptyMessage="Nenhum registro encontrado">
                                    <p:column  headerText="Controle" width="10%"  >
                                        <p:commandLink title="Editar" actionListener="#{papelMB.selecionarPorID(perms.idPapel)}"  oncomplete="PF('dlgEdit').show()" update=":formEdicao">
                                            <p:graphicImage value="Recursos/icons/Edit.png"  />
                                        </p:commandLink>
                                        &nbsp;
                                        <p:commandLink title="Excluir" actionListener="#{papelMB.Excluir(perms)}"  ajax="false" disabled="#{perms.usuarioList.size()>0?'true':'false'}"  >
                                            <p:graphicImage value="Recursos/icons/Delete.png" />
                                        </p:commandLink>
                                    </p:column>
                                    <p:column filterBy="#{perms.idPapel}" headerText="Código"  filterMatchMode="contains" width="10%">
                                        <center>
                                            <h:outputText value="#{perms.idPapel}" />
                                        </center>
                                    </p:column>
                                    <p:column filterBy="#{perms.descricao}" headerText="Descrição"  filterMatchMode="contains" >
                                        <h:outputText value="#{perms.descricao}" />
                                    </p:column>

                                </p:dataTable>
                            </h:form>
                            <p:dialog widgetVar="dlgEdit" header="Editar Permissões" modal="true" 
                                      resizable="false"  closable="true" closeOnEscape="true">
                                <h:form id="formEdicao">
                                    <b:row>
                                        <b:column span="12">
                                            <ul class="nav nav-tabs">
                                                <li><a data-toggle="tab" href="#config">Acessos</a></li>
                                                <li class="dropdown">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cadastros <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-toggle="tab" href="#paciente">Paciente</a></li>
                                                        <li><a data-toggle="tab" href="#terceiro">Terceiro</a></li>
                                                        <!--                                                        <li><a data-toggle="tab" href="#itensorcamento">Itens do Orçamento</a></li>
                                                                                                                <li><a data-toggle="tab" href="#descexame">Exame</a></li>
                                                                                                                <li><a data-toggle="tab" href="#motivo">Motivo</a></li>-->
                                                        <li><a data-toggle="tab" href="#regra">Regra de Repasse</a></li>
                                                        <li><a data-toggle="tab" href="#banco">Banco</a></li>
                                                        <li><a data-toggle="tab" href="#convenio">Convênio</a></li>
                                                        <li><a data-toggle="tab" href="#procedimento">Procedimento</a></li>
                                                        <li><a data-toggle="tab" href="#especialidade">Especialidade</a></li>
                                                        <li><a data-toggle="tab" href="#uniatendimento">Unidade de Atendimento</a></li>
                                                        <li><a data-toggle="tab" href="#formapagamento">Forma de Pagamento</a></li>
                                                        <!--                                                        <li><a data-toggle="tab" href="#operacao">Operacão Caixa</a></li>-->
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Orçamentos <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-toggle="tab" href="#orctos">Orçamento</a></li>
                                                        <!--                                                        <li><a data-toggle="tab" href="#exams">Lançamentos</a></li>-->
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Tesouraria <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-toggle="tab" href="#conCaixa">Movimentação</a></li>
                                                        <li><a data-toggle="tab" href="#cirurgis">Fechamento de Alta</a></li>
                                                        <li><a data-toggle="tab" href="#cirurgias">Atendimentos Externos</a></li>
                                                        <li><a data-toggle="tab" href="#conLancAvulso">Lançamentos Avulsos</a></li>
                                                        <li><a data-toggle="tab" href="#conCheque">Controles de Cheques</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Alertas <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-toggle="tab" href="#recebimentos">Recebimentos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="config" class="tab-pane fade in active">
                                                    <ui:include src="includePermissao/inclConfig.xhtml" />
                                                </div>
                                                <div id="conCaixa" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclControleCaixa.xhtml" />
                                                </div>
                                                <div id="paciente" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclPaciente.xhtml" />
                                                </div>
                                                <div id="terceiro" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclTerceiro.xhtml" />
                                                </div>
                                                <div id="regra" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclRegraRepasse.xhtml" />
                                                </div>
                                                <div id="itensorcamento" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclItensOrcamento.xhtml" />
                                                </div>
                                                <div id="descexame" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclDescricaoExame.xhtml" />
                                                </div>
                                                <div id="motivo" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclMotivo.xhtml" />
                                                </div>
                                                <div id="banco" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclBanco.xhtml" />
                                                </div>
                                                <div id="convenio" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclConvenio.xhtml" />
                                                </div>
                                                <div id="procedimento" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclProcedimento.xhtml" />
                                                </div>
                                                <div id="especialidade" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclEspecialidade.xhtml" />
                                                </div>
                                                <div id="uniatendimento" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclUnidadeAtendimento.xhtml" />
                                                </div>
                                                <div id="formapagamento" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclFormaPagamento.xhtml" />
                                                </div>
                                                <div id="operacao" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclOperacao.xhtml" />
                                                </div>
                                                <div id="orctos" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclOrcamento.xhtml" />
                                                </div>
                                                <div id="cirurgis" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclInternacao.xhtml" />
                                                </div>
                                                <div id="cirurgias" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclAtendimentoExterno.xhtml" />
                                                </div>
                                                <div id="recebimentos" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclAlerta.xhtml" />
                                                </div>
                                                <div id="conCheque" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclControleCheque.xhtml" />
                                                </div>
                                                <div id="conLancAvulso" class="tab-pane fade">
                                                    <ui:include src="includePermissao/inclLancamentoAvulso.xhtml" />
                                                </div>

                                            </div>
                                            <hr/>
                                            <p:commandButton value="Salvar" 
                                                             icon="salvar" action="#{papelMB.Salvar()}"  
                                                             ajax="false" styleClass="btn" update=":msg, :formParametro " />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgNovo" header="Cadastro de Permissões" modal="true" closable="true" closeOnEscape="true" resizable="true">
                                <h:form id="formNovo">
                                    <b:row>
                                        <b:column span="12">

                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
