<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Forma de Pagamento</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuformapagto}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Formas de Pagamento" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuformapagto}" >
                            <h:form id="formPagamento" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{formaPagamentoMB.novo()}" update=":frmFormaPagamento" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novoformapagamento}" />
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{formaPagamentoMB.model}" lazy="true" var="forms"  paginator="true" rows="25" 
                                                 widgetVar="frmPag" emptyMessage="Nenhum registro encontrado"   >
                                        <p:column  headerText="Controle" width="10%">
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" action="#{formaPagamentoMB.selecionarPorID(forms.idForma)}" update=":frmFormaPagamento" oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarformapagamento}" >
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="editBtn" >
                                                    Carregando Dados<br />
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc"
                                                               actionListener="#{formaPagamentoMB.selecionarPorID(forms.idForma)}"  update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluirformapagamento}" >
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="infoExc" >
                                                    Excluindo Dados<br />
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{forms.idForma}" sortBy="#{forms.idForma}" filterMatchMode="contains" width="10%">
                                            <center>
                                                <h:outputText value="#{forms.idForma}" />
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Descrição" filterBy="#{forms.descricao}" sortBy="#{forms.descricao}" filterMatchMode="contains" width="55%"  >
                                            <h:outputText value="#{forms.descricao}" />
                                        </p:column>
                                        <p:column filterBy="#{forms.tipo}" headerText="Tipo" sortBy="#{forms.tipo}" filterMatchMode="exact" width="15%" >
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('frmPag').filter()" styleClass="form-control" >
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="À Vista" itemValue="V" />
                                                    <f:selectItem itemLabel="À Prazo" itemValue="P" />
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{forms.tipo == 'V' ? 'À Vista':'À Prazo'}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>




                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="false">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{formaPagamentoMB.formaPagamento.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{formaPagamentoMB.Excluir(formaPagamentoMB.formaPagamento)}" update=":formPagamento, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{formaPagamentoMB.novo()}" update=":formPagamento" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>

                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>

                <p:dialog widgetVar="dlgNovo" modal="True" header="Nova Forma de Pagamento" height="25%" width="50%"  
                          resizable="false" closable="true" closeOnEscape="true">
                    <h:form id="frmFormaPagamento">
                        <b:row>

                            <b:column span="10">
                                <bcr:outputrequired value="Descrição " />
                                <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{formaPagamentoMB.formaPagamento.descricao}" />
                            </b:column>
                            <b:column col-xs="2" col-sm="2" col-md="2" col-lg="2">
                                <h:outputText value="Ativo" /><br/>
                                <p:selectBooleanCheckbox id="inativo" value="#{formaPagamentoMB.formaPagamento.inativo}"  />
                                <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Tipo Forma " />
                                <p:selectOneMenu value="#{formaPagamentoMB.formaPagamento.tipo}" styleClass="form-control" style="width: 100% !important" required="true" requiredMessage="O tipo de forma de pagamento é obrigatório!">
                                    <f:selectItem itemLabel="Selecione uma forma" itemValue="" />
                                    <f:selectItem itemLabel="A Vista" itemValue="V" />
                                    <f:selectItem itemLabel="A Prazo" itemValue="P" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <bcr:outputrequired value="Nº De Parcelas" />
                                <p:inputText  styleClass="form-control" id="numParcelas"  label="Número de Parcelas" required="#{formaPagamentoMB.formaPagamento.tipo == 'P'?'true':'false'}"  value="#{formaPagamentoMB.formaPagamento.numMeses}" requiredMessage="O número de parcelas é obrigatório"  />
                            </b:column>


                            <b:column span="12">
                                <hr/>
                                <p:commandButton value="Salvar" 
                                                 update=":formPagamento:dtl, :msg, frmFormaPagamento" icon="salvar"  validateClient="true" action="#{formaPagamentoMB.Salvar()}" oncomplete="if (!args.validationFailed){PF('dlgCadastrarFormaPagamento').hide()}" />

                            </b:column>
                        </b:row>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
