<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Serviços</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuitensorcto}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Serviço" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuitensorcto}" >
                            <h:form id="formMotivo" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{servicoMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novoitensorcamento}"/>
                                    &nbsp;
                                    <p:commandButton value="#{servicoMB.cbhpm ? 'Tabela Procedimentos Internos' : 'Tabela CBHPM'}" icon="troca" styleClass="btn" update="@form" action="#{servicoMB.carregarTabelaCbhpm()}"/>
                                    <hr/>
                                    <p:messages id="msgBar" closable="true" />
                                </b:column>
                                <b:column span="12" rendered="#{!servicoMB.cbhpm}">
                                    <!-- Lista de Procedimentos Internos -->
                                    <p:dataTable id="dtl" value="#{servicoMB.model}" var="serv"  paginator="true" rows="10" lazy="true"
                                                 widgetVar="motiv" emptyMessage="Nenhum registro encontrado"  style="width:100%" 
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15,25,50" paginatorPosition="bottom" >
                                        <f:facet name="header">
                                            Cadastro de Serviços
                                        </f:facet>
                                        <p:column width="5%">
                                            <p:rowToggler />
                                        </p:column>
                                        <p:column headerText="Ações" width="120"  >
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" action="#{servicoMB.selecionaPorID(serv.idServico)}" update=":novo" 
                                                               oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editaritensorcamento}">
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="editBtn" >
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc" actionListener="#{servicoMB.selecionaPorID(serv.idServico)}"
                                                               update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluiritensorcamento}">
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="infoExc" >
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Código" sortBy="#{serv.idServico}" filterBy="#{serv.idServico}"
                                                   filterMatchMode="contains" width="10%"  style="text-align: center" >
                                            <h:outputText value="#{serv.idServico}" />
                                        </p:column>
                                        <p:column  filterBy="#{serv.tipo == 'N' ? 'Honorários' : 'Hospitalar'}" headerText="Tipo" 
                                                   sortBy="#{serv.tipo == 'N' ? 'Honorários' : 'Hospitalar'}" filterMatchMode="contains" width="10%" style="text-align: center" >
                                            <h:outputText value="#{serv.tipo == 'N' ? 'Honorários' : 'Hospitalar'}" styleClass="#{serv.tipo == 'N' ? 'label label-primary' : 'label label-success'}" />
                                        </p:column>
                                        <p:column id="desc" filterBy="#{serv.descricao}"  headerText="Descrição" sortBy="#{serv.descricao}"  filterMatchMode="contains" width="75%" >
                                            <h:outputText value="#{serv.descricao}" />
                                        </p:column>
                                        <p:rowExpansion>
                                            <p:dataTable id="dt1List" sortBy="#{servList.ordenar}" value="#{serv.servicoItemList}"  var="servList">
                                                <p:column>
                                                    <h:outputText value="#{servList.descritiva}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{servList.percentual}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{servList.baseCalculo=='N'?'NÃO':'SIM'}" />
                                                </p:column>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </b:column>
                                <b:column span="12" rendered="#{servicoMB.cbhpm}">
                                    <!-- Lista de Procedimentos CBHPM -->
                                    <p:treeTable value="#{servicoMB.root}" var="document" >
                                        <f:facet name="header">
                                            Cadastro de Procedimentos CBHPM
                                        </f:facet>
                                        <p:column headerText="Descrição">
                                            <h:outputText value="#{document.descricao}" />
                                        </p:column>
                                        <p:column headerText="Codigo">
                                            <h:outputText value="#{document.codigo}" />
                                        </p:column>
                                        <p:column headerText="Codigo TASY">
                                            <h:outputText value="#{document.codigoTasy}" />
                                        </p:column>
                                        <p:column headerText="Classificação">
                                            <h:outputText value="#{document.classificacao}" />
                                        </p:column>
                                    </p:treeTable>

                                    <!-- Lista de Procedimentos CBHPM desabilitada -->
                                    <p:dataTable id="dtlProcedimentosCBHPM" rendered="false" value="#{areaProcedimentoMB.listarAreaProcedimento()}" var="area"  paginator="true" rows="10" lazy="true"
                                                 widgetVar="motiv" emptyMessage="Nenhum registro encontrado"  style="width:100%" 
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15,25,50,100,200" paginatorPosition="bottom" >
                                        <f:facet name="header">
                                            Cadastro de Áreas de Procedimento
                                        </f:facet>
                                        <p:column width="5%">
                                            <p:rowToggler />
                                        </p:column>
                                        <p:column  headerText="Código" sortBy="#{area.idAreaProcedimento}" filterBy="#{area.idAreaProcedimento}"
                                                   filterMatchMode="contains"  width="150" style="text-align: center" >
                                            <h:outputText value="#{area.idAreaProcedimento}" />
                                        </p:column>
                                        <p:column  headerText="Código TASY" sortBy="#{area.idAreaProcedimentoTasy}" filterBy="#{area.idAreaProcedimentoTasy}"
                                                   filterMatchMode="contains" width="150" style="text-align: center" >
                                            <h:outputText value="#{area.idAreaProcedimentoTasy}" />
                                        </p:column>

                                        <p:column id="desc" filterBy="#{area.descricao}"  headerText="Descrição" sortBy="#{area.descricao}"
                                                  filterMatchMode="contains" >
                                            <h:outputText value="#{area.descricao}" />
                                        </p:column>
                                        <p:rowExpansion>
                                            <h3 style="text-align: center">
                                                Cadastro de Especialidade dos Procedimentos - Área: #{area.descricao}
                                            </h3>
                                            <p:dataTable id="dt1List" value="#{area.especialidadeProcedimentoList}" var="esp">
                                                <p:column width="5%">
                                                    <p:rowToggler />
                                                </p:column>
                                                <p:column headerText="Código" width="150">
                                                    <h:outputText value="#{esp.idEspecialidadeProcedimento}" />
                                                </p:column>
                                                <p:column headerText="Código TASY" width="150">
                                                    <h:outputText value="#{esp.idEspecialidadeProcedimentoTasy}" />
                                                </p:column>
                                                <p:column headerText="Descrição">
                                                    <h:outputText value="#{esp.descricao}" />
                                                </p:column>
                                                <p:rowExpansion>
                                                    <h3 style="text-align: center">
                                                        Cadastro de Grupo dos Procedimentos - Esp: #{esp.descricao}
                                                    </h3>
                                                    <p:dataTable id="dt1List" value="#{esp.grupoProcedimentoCbhpmList}" var="grupo">
                                                        <p:column width="5%">
                                                            <p:rowToggler />
                                                        </p:column>
                                                        <p:column headerText="Código" width="150">
                                                            <h:outputText value="#{grupo.idGrupoProcedimentoCbhpm}" />
                                                        </p:column>
                                                        <p:column headerText="Código TASY" width="150">
                                                            <h:outputText value="#{grupo.idGrupoProcedimentoTasy}" />
                                                        </p:column>
                                                        <p:column headerText="Descrição">
                                                            <h:outputText value="#{grupo.descricao}" />
                                                        </p:column>
                                                        <p:rowExpansion>
                                                            <h3 style="text-align: center">
                                                                Cadastro de Procedimentos - Grupo: #{grupo.descricao}
                                                            </h3>
                                                            <p:dataTable id="dt1List" value="#{grupo.servicoList}" var="serv">
                                                                <p:column headerText="Código" width="150">
                                                                    <h:outputText value="#{serv.idServico}" />
                                                                </p:column>
                                                                <p:column headerText="Código CBHPM" width="150">
                                                                    <h:outputText value="#{serv.idProcedimentoTasy}" />
                                                                </p:column>
                                                                <p:column headerText="Descrição">
                                                                    <h:outputText value="#{serv.descricao}" />
                                                                </p:column>
                                                                <p:column headerText="Classificação" width="200">
                                                                    <h:outputText value="#{serv.classificacao}" />
                                                                </p:column>
                                                            </p:dataTable>
                                                        </p:rowExpansion>
                                                    </p:dataTable>
                                                </p:rowExpansion>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Serviço" height="50%" width="60%" 
                                      resizable="false" closeOnEscape="true" closable="true" >
                                <h:form id="novo">
                                    <p:messages id="msgBar2" closable="true" />
                                    <b:row>
                                        <b:column span="6">
                                            <bcr:outputrequired value="Descrição" />
                                            <p:inputText  styleClass="form-control"  
                                                          required="true" id="nome"  label="Descrição" 
                                                          requiredMessage="O campo Descrição é obrigatório" value="#{servicoMB.servico.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                        </b:column>
                                        <b:column span="3">
                                            <h:outputText value="Lançamento Avulso?" />
                                            <br/>
                                            <p:selectBooleanButton value="#{servicoMB.servico.lancamentoAvulso}" onLabel="Sim" 
                                                                   offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" 
                                                                   style="width:60px; height: 32px !important"/>
                                        </b:column>
                                        <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                            <h:outputText value="Ativo" /><br/>
                                            <p:selectBooleanCheckbox id="inativo" value="#{!servicoMB.servico.inativo}"  />
                                            <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column span="3">
                                            <bcr:outputrequired value="Tipo Honorários" />
                                            <p:selectOneMenu value="#{servicoMB.servico.tipo}" styleClass="form-control" required="true" requiredMessage="Informe o tipo de serviço!">
                                                <f:selectItem itemLabel="Selecione o tipo" itemValue="" />
                                                <f:selectItem itemLabel="Hospitalar" itemValue="H" />
                                                <f:selectItem itemLabel="Honorários" itemValue="N" />
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="3">
                                            <bcr:outputrequired value="Escala" />
                                            <script>
                                                function replaceMy(value) {
                                                    var val = value;
                                                    var val2 = val.replace(".", ",");
                                                    document.getElementById("novo:escala").value = val2;
                                                }
                                            </script>
                                            <p:inputText id="escala" styleClass="form-control"  required="true"  label="Escala" 
                                                         requiredMessage="O campo Escala é obrigatório" value="#{servicoMB.servico.escala}" onblur="capitaliseFirstLetter(this.value, this.id); replaceMy(this.value);" >
                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                <p:ajax event="blur" update="saida" />
                                            </p:inputText>
                                        </b:column>

                                        <b:column span="3">
                                            <bcr:outputrequired value="% Fechamento dos Cálculos" /><br/>
                                            <h:outputText id="saida" style="font-weight: bolder; font-size: 16px; color: red;"  value="#{servicoMB.servico.escala*100}" >
                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                            </h:outputText>
                                        </b:column>

                                    </b:row>
                                    <b:row>
                                        <b:column span="12">
                                            <br/>
                                            <p:commandButton value="Adicionar Itens" icon="add" styleClass="btn" 
                                                             update=":frmNovoItem" action="#{servicoMB.novoItem()}" onclick="PF('dlgAddItem').show()" />
                                            <hr/>
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column span="10">
                                            <p:dataTable id="tblItensServicos" value="#{servicoMB.itens}" var="it" widgetVar="servicoIt" 
                                                         emptyMessage="Nenhum subitem adicionado" rowIndexVar="var" >
                                                    <p:column headerText="Ações" width="120">
                                                        <center>
                                                            <p:commandLink title="Editar" id="infoExc3" action="#{servicoMB.selecionaItem(it)}" 
                                                                           update=":frmNovoItem, @all" oncomplete="PF('dlgAddItem').show()">
                                                                <p:graphicImage value="Recursos/icons/Edit.png" />
                                                            </p:commandLink>
                                                            &nbsp;
                                                            <p:commandLink title="Excluir Item" id="infoExc" actionListener="#{servicoMB.excluirItem(it,var)}" 
                                                                           update=":novo:tblItensServicos, tblItensServicos, :novo, :novo:msgBar2" disabled="#{it.idServico.cirurgiaItemList.size() > 0 || it.idServico.orcamentoItemList.size() > 0}">
                                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                                            </p:commandLink>
                                                        </center>
                                                    </p:column>
                                                    <p:column headerText="Atribuição">
                                                        <center>
                                                            <h:outputText value="#{it.descritiva}" style="width: 60%"/>
                                                        </center>
                                                    </p:column>
                                                    <p:column headerText="Percentual (%)">
                                                        <center>
                                                            <h:outputText value="#{it.percentual}">
                                                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                            </h:outputText>
                                                        </center>
                                                    </p:column>
                                                    <p:column headerText="Base de Cálculo">
                                                        <center>
                                                            <h:outputText value="#{it.baseCalculo == 'S' ? 'SIM' : 'NÃO'}" />
                                                        </center>
                                                    </p:column>
                                                    <p:column rendered="false">
                                                        <center>
                                                            <h:outputText value="#{it.setOrdenar(var)}" />
                                                        </center>
                                                    </p:column>

                                                    <f:facet name="footer">
                                                        <h:panelGrid columns="4">
                                                            Total:
                                                            <h:outputText value="#{servicoMB.valorTotalPercentual}">
                                                                <f:convertNumber type="percent"  />
                                                            </h:outputText>
                                                            Restante:   
                                                            <h:outputText value="#{servicoMB.valorTotalRestantePercentual}">
                                                                <f:convertNumber type="percent" />
                                                            </h:outputText>
                                                        </h:panelGrid>
                                                    </f:facet>
                                            </p:dataTable>
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column span="12">
                                            <br/>
                                            <hr/>
                                            <p:commandButton value="Salvar"  ajax="true" styleClass="btn" update=":novo:msgBar2, :formMotivo, :formMotivo:dtl, :formMotivo:dtl:dt1List" 
                                                             icon="salvar" action="#{servicoMB.salvar()}" 
                                                             oncomplete="PF('dlgNovo').hide()" >
                                            </p:commandButton>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgAddItem" header="Adicionar Novos Itens" closeOnEscape="true" closable="true" resizable="true">
                                <h:form id="frmNovoItem">
                                    <script>
                                        function Focus() {
                                            document.getElementById('frmNovoItem:descIten').focus();
                                        }
                                    </script>
                                    <b:column span="12">
                                        <b:column span="6">
                                            <bcr:outputrequired value="Descrição" />
                                            <p:inputText  styleClass="form-control"  id="descIten" value="#{servicoMB.servicoItem.descritiva}" />
                                        </b:column>
                                        <b:column span="3">
                                            <bcr:outputrequired value="Base de Calculo" />
                                            <p:selectOneMenu value="#{servicoMB.servicoItem.baseCalculo}" styleClass="form-control" >
                                                <f:selectItem itemLabel="Não" itemValue="N" />
                                                <f:selectItem itemLabel="Sim" itemValue="S" />
                                                <p:ajax update="percent" listener="#{servicoMB.setarBaseDeCalculo()}"/>
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="3">
                                            <bcr:outputrequired value="Percentual" />
                                            <pe:inputNumber id="percent" value="#{servicoMB.servicoItem.percentual}" symbol="%" symbolPosition="s" emptyValue="sign"/>
                                        </b:column>
                                        <b:column span="12" rendered="#{!servicoMB.editar}">
                                            <hr/>
                                            <p:commandButton value="Adicionar" icon="add" styleClass="btn"  action="#{servicoMB.addItens()}" 
                                                             update=":novo:tblItensServicos, :novo:msgBar2, frmNovoItem" />
                                            &nbsp;
                                            <p:commandButton value="Adicionar e Sair" icon="check16" styleClass="btn"  action="#{servicoMB.addItens()}" 
                                                             update=":novo:tblItensServicos, :novo:msgBar2, frmNovoItem" oncomplete="PF('dlgAddItem').hide();"/>
                                        </b:column>
                                        <b:column span="12" rendered="#{servicoMB.editar}">
                                            <hr/>
                                            <p:commandButton value="Salvar" icon="salvar" styleClass="btn"  action="#{servicoMB.salvarItemSimples(servicoMB.servicoItem)}" 
                                                             update=":novo:tblItensServicos, :novo:msgBar2, frmNovoItem" />
                                        </b:column>
                                    </b:column>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" resizable="false" closeOnEscape="true" closable="true"> 
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{servicoMB.servico.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{servicoMB.excluir(servicoMB.servico)}" update=":formMotivo" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{servicoMB.novo()}" update=":novo" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>

                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
