<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Paciente</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menupaciente}"/>           
                <script>
                    function capitaliseFirstLetter(string, id)
                    {
                        var a = string.charAt(0).toUpperCase() + string.slice(1);
                        document.getElementById(id).value = a;
                    }
                    function up(lstr){ 
                        var str=lstr.value; 
                        lstr.value=str.toUpperCase(); 
                    }
                </script>
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Cadastro de Paciente" look="primary" rendered="#{sessaoMB.usuario.idPapel.menupaciente}">
                            <h:panelGrid columns="2">
                                <p:commandButton value="Novo" icon="add" action="#{pacienteMB.novo()}" 
                                                 update=":tblPrincipal" styleClass="btn" onclick="$(function(){PrimeFaces.focus('tblPrincipal:nome');});" rendered="#{sessaoMB.usuario.idPapel.novopaciente}" />
                            </h:panelGrid>
                            <hr/>

                            <h:form id="tblPrincipal" rendered="#{sessaoMB.usuario.idPapel.novopaciente}">
                                <div id="DadosBasicos" class="tab-pane fade in active">
                                    <b:column col-md="4" styleClass="sem-padding-esquerda">
                                        <p:messages id="msgBar" closable="true" />
                                        <b:row>
                                            <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                                <h:outputText value="Inativo?" /><br/>
                                                <p:selectBooleanCheckbox id="inativo" value="#{pacienteMB.paciente.inativo}"  />
                                                <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível."/>

                                            </b:column>

                                            <b:column col-sm="12">
                                                <br/>
                                                <bcr:outputrequired value="Nome" />
                                                <p:inputText  styleClass="form-control" onkeyup="up(this);" required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}"  id="nome" 
                                                              label="Nome" requiredMessage="Nome é obrigatório." value="#{pacienteMB.paciente.nome}">
                                                    <p:ajax event="blur" listener="#{pacienteMB.testarNome()}" update=":tblPrincipal:msgBar"/>
                                                </p:inputText>
                                            </b:column>
<!--                                            <b:column col-sm="12" rendered="#{pacienteMB.verificarCPF(pacienteMB.paciente.cpf)}">-->
                                            <b:column col-sm="12" >
                                                <h:outputText value="Nome da Mãe" />
                                                <p:inputText  styleClass="form-control" onkeyup="up(this);" id="nomeMae" 
                                                              onblur="capitaliseFirstLetter(this.value, this.id)"  label="Nome Mae" 
                                                              required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}"
                                                              requiredMessage="Nome da Mãe é obrigatório." value="#{pacienteMB.paciente.nomeMae}" />
                                            </b:column>
                                            <b:column col-sm="6" id="coluna5" >
                                                <bcr:outputrequired value="CPF" />
                                                <p:inputMask  value="#{pacienteMB.paciente.cpf}" required="#{pacienteMB.paciente.nomeMae.equals('') or pacienteMB.paciente.telefone.equals('(__) _________')}"
                                                              requiredMessage="CPF é obrigatório" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                                    <p:ajax  event="blur" update=":tblPrincipal:msgBar" listener="#{pacienteMB.verificaCPF()}"/>
                                                </p:inputMask>
                                            </b:column>
<!--                                            <b:column col-sm="6" rendered="#{pacienteMB.verificarCPF(pacienteMB.paciente.cpf)}" >-->
                                            <b:column col-sm="6" >
                                                <h:outputText value="Nascimento" />
                                                <p:calendar id="dataNasc" showOn="false" value="#{pacienteMB.paciente.dtNascimento}"
                                                            required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}" mask="99/99/9999" pattern="dd/MM/yyyy" navigator="true" 
                                                            maxdate="today" yearRange="1900:2019" maxlength="10"
                                                            requiredMessage="Data de Nascimento é obrigatório." >
                                                </p:calendar>
                                            </b:column>
                                            <b:column col-sm="6" >
                                                <h:outputText value="Telefone" />
                                                <p:inputMask value="#{pacienteMB.paciente.telefone}" 
                                                             styleClass="form-control" required="#{pacienteMB.paciente.cpf.equals('___.___.___-__') or pacienteMB.paciente.cpf == null}" maxlength="13" id="telefone" label="Telefone"  
                                                             requiredMessage="Telefone é obrigatório" mask="(99) ?999999999" />
                                            </b:column>
                                            <b:column col-sm="6" >
                                                <h:outputText value="Celular" />
                                                <p:inputMask value="#{pacienteMB.paciente.telefoneCelular}" 
                                                             styleClass="form-control" maxlength="13" id="telefoneCelular" label="Telefone Celular"  
                                                             mask="(99) ?999999999" />
                                            </b:column>

                                        </b:row>
                                        <hr/>
                                        <p:commandButton value="Salvar" id="salvar" action="#{pacienteMB.salvar2()}" 
                                                         styleClass="btn btn-primary" 
                                                         ajax="true" update=":tblPrincipal, :consultaPrincipal:dt2, :tblPrincipal:msgBar" icon="salvar" />
                                        <p:commandButton value="Limpar" styleClass="btn" immediate="true" icon="limpar"  >
                                            <p:ajax update="@form, tblPrincipal" listener="#{pacienteMB.novo()}"  resetValues="true" />
                                        </p:commandButton>
                                    </b:column>
                                </div>
                            </h:form>

                            <h:form id="consultaPrincipal">
                                <div class="col-md-8">
                                    <p:dataTable id="dt2" value="#{pacienteMB.model}" var="pac"  paginator="true" rows="10" lazy="true"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="10,25,50,100,200" paginatorPosition="bottom" sortBy="#{pac.nome}" sortField="#{'nome'}"
                                                 emptyMessage="Nenhum registro encontrado" widgetVar="pacTbl"
                                                 style="width:100%;" >
                                        <p:column headerText="Controle" 
                                                  width="10%">
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" 
                                                               action="#{pacienteMB.selecionarPorID(pac.idPaciente)}" update=":tblPrincipal" 
                                                               rendered="#{sessaoMB.usuario.idPapel.editarpaciente}">
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                &nbsp;
                                                <p:commandLink title="Informação" id="informbtn" oncomplete="PF('dlgInfo').show()" 
                                                               action="#{pacienteMB.selecionarPorID(pac.idPaciente)}" update=":frmInfo" 
                                                               rendered="#{sessaoMB.usuario.idPapel.infopaciente}">
                                                    <p:graphicImage value="Recursos/icons/Info.png" />
                                                </p:commandLink>
                                                &nbsp;                                                                                                          
                                                <p:commandLink title="Excluir" id="infoExc" 
                                                               actionListener="#{pacienteMB.selecionarPorID(pac.idPaciente)}" 
                                                               update=":frmConfirm" oncomplete="PF('dlgConfirm').show()"  rendered="#{sessaoMB.usuario.idPapel.excluirpaciente}">
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                            </center>
                                        </p:column>
                                        <p:column filterBy="#{pac.idPaciente}" styleClass="hidden-xs hidden-sm hidden-md" headerText="Código" 
                                                  sortBy="#{pac.idPaciente}"  filterMatchMode="contains" width="8%" >
                                            <center>
                                                <h:outputText value="#{pac.idPaciente}" />
                                            </center>
                                        </p:column>
                                        <p:column filterBy="#{pac.nome}"  headerText="Nome" sortBy="#{pac.nome}" 
                                                  filterMatchMode="contains" width="20%" >
                                            <h:outputText value="#{pac.nome}" />
                                        </p:column>
                                        <p:column filterBy="#{pac.sexo}" headerText="Sexo" styleClass="hidden-xs hidden-sm" 
                                                  filterMatchMode="exact" width="10%" rendered="false">
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('pacTbl').filter()">
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="Feminino" itemValue="F" />
                                                    <f:selectItem itemLabel="Masculino" itemValue="M" />
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <center>
                                                <h:outputText value="#{pac.sexo == 'F' ? 'Feminino':'Masculino'}" />
                                            </center>
                                        </p:column>
                                        <p:column  headerText="CPF" filterBy="#{pac.cpf}" filterMatchMode="contains" width="10%">
                                            <center>
                                                <h:outputText value="#{pac.cpf}" />
                                            </center>
                                        </p:column>
                                        <p:column  headerText="RG" filterBy="#{pac.rg}" filterMatchMode="contains" width="10%" rendered="false"  >
                                            <center>
                                                <h:outputText value="#{pac.rg}" />
                                            </center>
                                        </p:column>

                                        <p:column  headerText="Telefone" style="-webkit-mask: '(99) 9999-9999'" styleClass="hidden-xs hidden-sm"
                                                   filterBy="#{pac.telefone}"  sortBy="#{pac.telefone}" filterMatchMode="contains" width="10%">
                                            <h:outputText value="#{pac.telefone}" />
                                        </p:column>
                                        <p:column  headerText="Celular" style="-webkit-mask: '(99) 9999-9999'" styleClass="hidden-xs hidden-sm"
                                                   filterBy="#{pac.telefoneCelular}"  sortBy="#{pac.telefoneCelular}" filterMatchMode="contains" width="10%">
                                            <h:outputText value="#{pac.telefoneCelular}" />
                                        </p:column>
                                        <p:column  headerText="Idade" styleClass="hidden-xs hidden-sm hidden-md" width="5%" rendered="false"  >
                                            <center> 
                                                <h:outputText value="#{pacienteMB.calculaIdadeDatatable(pac.dtNascimento)}" />
                                            </center>
                                        </p:column>
                                    </p:dataTable> 
                                </div>
                            </h:form>

                            <p:dialog id="dlgInfo" widgetVar="dlgInfo" modal="true" header="Informação do Paciente" width="90%" 
                                      position="top" resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="frmInfo">
                                    <ul id="contadores" class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#sectionC">Dados Básicos</a></li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Movimentações <b class="caret"></b></a>
                                            <ul id="" class="dropdown-menu">
                                                <li><a data-toggle="tab" href="#Orcamentos"><span class="label">(#{pacienteMB.paciente.orcamentoList1.size()})</span> Orçamentos</a></li>
                                                <li><a data-toggle="tab" href="#Fechamentos"><span class="label">(#{pacienteMB.paciente.cirurgiaList.size()})</span> Fechamentos</a></li>
                                                <li><a data-toggle="tab" href="#Pagamentos"><span class="label">(#{pacienteMB.paciente.chequeList.size()})</span>  Pagamentos </a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="sectionC" class="tab-pane fade in active">
                                            <div class="container">
                                                <div class="row">  
                                                    <b:column span="12">
                                                        <br/>
                                                        <b:panel title="#{pacienteMB.paciente.nome}">

                                                            <b:row>
                                                                <b:column span="4">
                                                                    <bcr:outputInfo label="Código" value="#{pacienteMB.paciente.idPaciente}" /><br/>
                                                                    <bcr:outputInfo label="Nome" value="#{pacienteMB.paciente.nome}" /><br/>
                                                                    <bcr:outputInfo label="Telefone" value="#{pacienteMB.paciente.telefone}" /><br/>
                                                                    <bcr:outputInfo label="Celular" value="#{pacienteMB.paciente.telefoneCelular}" /><br/>
                                                                    <bcr:outputInfoDate label="Data Cadastro" value="#{pacienteMB.paciente.dtCadastro}" />
                                                                </b:column>
                                                                <b:column span="6">
                                                                    <bcr:outputInfo label="CPF" value="#{pacienteMB.paciente.cpf}" /><br/>
                                                                    <bcr:outputInfo label="Nome da Mãe" value="#{pacienteMB.paciente.nomeMae}" /><br/>
                                                                    <bcr:outputInfoDate label="Data Nascimento" value="#{pacienteMB.paciente.dtNascimento}" /><br/>
                                                                </b:column>
                                                            </b:row>
                                                        </b:panel>
                                                    </b:column>
                                                </div>
                                            </div>  
                                        </div>

                                        <div id="Orcamentos" class="tab-pane fade">
                                            <div class="">
                                                <br/>
                                                <b:panel title="#{pacienteMB.paciente.nome}">
                                                    <h:form id="frmConsultar">
                                                        <br/>
                                                        <b:row>
                                                            <b:column span="12">
                                                                <p:dataTable id="tblPesq" widgetVar="wtblPesq" 
                                                                             value="#{pacienteMB.paciente.pacienteResponsavelList.size() > 0 ? pacienteMB.paciente.orcamentoList : pacienteMB.paciente.orcamentoList1}" 
                                                                             var="orctoPesq" paginator="true" rows="10" paginatorPosition="bottom" >
                                                                    <p:column headerText="Nº" filterBy="#{orctoPesq.idOrcamento}" sortBy="#{orctoPesq.idOrcamento}" filterMatchMode="contains" width="6%">
                                                                        <center><h:outputText value="#{orctoPesq.idOrcamento}"  /></center>
                                                                    </p:column>
                                                                    <p:column headerText="Paciente" filterBy="#{orctoPesq.idPaciente.nome}" sortBy="#{orctoPesq.idPaciente.nome}">
                                                                        <h:outputText value="#{orctoPesq.idPaciente.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Status" filterBy="#{orctoPesq.idStatus.descricao}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.idStatus.descricao}" >
                                                                        <h:outputText value="#{orctoPesq.idStatus.descricao}"   />
                                                                    </p:column>
                                                                    <p:column headerText="Data"  filterBy="#{orctoPesq.dtOrcamento}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.dtOrcamento}">
                                                                        <h:outputText value="#{orctoPesq.dtOrcamento}">
                                                                            <f:convertDateTime pattern="dd/MM/yyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Médico" filterBy="#{orctoPesq.idTerceiro.nome}" sortBy="#{orctoPesq.idTerceiro.nome}">
                                                                        <h:outputText value="#{orctoPesq.idTerceiro.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Procedimento" filterBy="#{orctoPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{orctoPesq.idProcedimento.descricao}">
                                                                        <h:outputText value="#{orctoPesq.idProcedimento.descricao}"  />
                                                                    </p:column>
                                                                    <p:column width="5%" rendered="false">
                                                                        <p:commandButton style="width: 100%" actionListener="#{orcamentoMB.imprimirOrcamento(orctoPesq.idOrcamento, 'A')}" ajax="false"
                                                                                         onclick="this.form.target='_blank'" icon="imprimir" rendered="#{sessaoMB.usuario.idPapel.infoorcamento}"/>
                                                                        
                                                                    </p:column>

                                                                </p:dataTable>
                                                            </b:column>
                                                        </b:row>
                                                    </h:form>
                                                </b:panel>
                                            </div>
                                        </div>
                                        <div id="Fechamentos" class="tab-pane fade">
                                            <div class="">
                                                <br/>
                                                
                                                <b:panel title="#{pacienteMB.paciente.nome}">
                                                    <h:form id="frmConsultarCirurgia">
                                                        <b:column span="12">
                                                            <p:dataTable id="tblPesq" widgetVar="wtblPesq" paginatorPosition="bottom"
                                                                         value="#{pacienteMB.paciente.cirurgiaList}" var="cirurgiaPesq" paginator="true" rows="25">
                                                                <p:column headerText="Nº" filterBy="#{cirurgiaPesq.idCirurgia}" sortBy="#{cirurgiaPesq.idCirurgia}" filterMatchMode="contains" width="6%">
                                                                    <center><h:outputText value="#{cirurgiaPesq.idCirurgia}"  /></center>
                                                                </p:column>
                                                                <p:column headerText="Paciente" filterBy="#{cirurgiaPesq.idPaciente.nome}" sortBy="#{cirurgiaPesq.idPaciente.nome}">
                                                                    <h:outputText value="#{cirurgiaPesq.idPaciente.nome}" />
                                                                </p:column>
                                                                <p:column headerText="Data"  filterBy="#{cirurgiaPesq.dtCirurgia}" filterMatchMode="contains"
                                                                          width="10%" sortBy="#{cirurgiaPesq.dtCirurgia}">
                                                                    <h:outputText value="#{cirurgiaPesq.dtCirurgia}">
                                                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Médico" filterBy="#{cirurgiaPesq.idTerceiro.nome}" sortBy="#{cirurgiaPesq.idTerceiro.nome}">
                                                                    <h:outputText value="#{cirurgiaPesq.idTerceiro.nome}" />
                                                                </p:column>
                                                                <p:column headerText="Procedimento" filterBy="#{cirurgiaPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{cirurgiaPesq.idProcedimento.descricao}">
                                                                    <h:outputText value="#{cirurgiaPesq.idProcedimento.descricao}"  />
                                                                </p:column>
                                                                <p:column headerText="Status" filterBy="#{cirurgiaPesq.status}" filterMatchMode="contains" width="10%" sortBy="#{cirurgiaPesq.status}" >
                                                                    <h:outputText styleClass="#{cirurgiaPesq.status == 'L' ? 'label label-primary' : cirurgiaPesq.status == 'C' ? 'label label-danger' : cirurgiaPesq.status == 'N' ? 'label label-success ' : ''}"
                                                                                  value="#{cirurgiaPesq.status == 'L' ? 'Liberado' : cirurgiaPesq.status == 'N' ? 'Não Liberado' : 'Cancelado'}"   />
                                                                </p:column>
                                                                <p:column width="5%" rendered="false">
                                                                    <p:commandButton style="width: 100%" action="#{cirurgiaMB.imprimirInternacaoAnalitico(cirurgiaPesq.idOrcamento.idCirurgia.get(0).idCirurgia)}" ajax="false" 
                                                                                     styleClass="btn" onclick="this.form.target='_blank'" icon="imprimir"/>
                                                                </p:column>
                                                            </p:dataTable>
                                                        </b:column>
                                                    </h:form>
                                                </b:panel>
                                            </div>
                                        </div>                                        
                                        <div id="Pagamentos" class="tab-pane fade">
                                            <br/>
                                            <b:panel title="#{pacienteMB.paciente.nome}">
                                                <h:form id="consultaExames">
                                                    <p:dataTable id="dtl" value="#{pacienteMB.paciente.chequeList}"  var="chequeList"  paginator="true" rows="25" 
                                                                 widgetVar="frmPag" emptyMessage="Nenhum registro encontrado" style="width:100%" paginatorPosition="bottom" >
                                                        <p:column headerText="ID" width="5%">
                                                            <center>
                                                                <h:outputText value="#{chequeList.idCheque}" />
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Número parcela" width="5%">
                                                            <center>
                                                                <h:outputText value="#{chequeList.numeroParcela}" />
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Cód. Fechamento" width="5%">
                                                            <center>
                                                                <h:outputText value="#{chequeList.idCirurgia.idCirurgia}" />
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Pagamento" width="15%" styleClass="hidden-xs">
                                                            <h:outputText value="#{chequeList.movimento == 'C' ? 'Cheque' : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão' : ''}" />
                                                        </p:column>
                                                        <p:column headerText="Emitente" width="25%">
                                                            <h:outputText value="#{chequeList.emitente}" />
                                                        </p:column>
                                                        <p:column headerText="Nº Cheque" width="15%" >
                                                            <h:outputText value="#{chequeList.movimento == 'C' ? chequeList.numeroCheque : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão - Débito' : chequeList.movimento == 'B' ? 'Depósito Bancário' : 'Cartão - Crédito'}" />
                                                        </p:column>
                                                        <p:column headerText="#{chequeList.movimento == 'C' ? 'Compensar em:' : 'Receber em:'}" width="15%" >
                                                            <center>
                                                                <h:outputText value="#{chequeList.dtCompensacaoVencimento}">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:column headerText="Valor" width="15%">
                                                            <h:outputText value="#{chequeList.valor}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </p:column>
                                                    </p:dataTable>
                                                </h:form>
                                            </b:panel>
                                        </div>
                                    </div>
                                </h:form>
                            </p:dialog>

                            <!-- Confirmação de Exclusão do Paciente -->
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="frmConfirm">
                                    <br/>
                                    <h:panelGrid columns="2">
                                        <h:outputText styleClass="avisoExclusao"
                                                      value="Você confirma a exclusão do registro #{pacienteMB.paciente.nome}?" />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2" >
                                            <p:commandButton value="Sim, quero excluir." ajax="true" icon="check16" styleClass="ui-confirmdialog-yes" 
                                                             action="#{pacienteMB.Excluir()}" oncomplete="PF('dlgConfirm').hide();"
                                                             update=":consultaPrincipal:dt2, :tblPrincipal:msgBar, @form, :consultaPrincipal" />
                                            <p:commandButton value="Não."  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgConfirm').hide()" />   
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
