<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Usuario</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuusuario}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Cadastro de Usuario" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuusuario}">
                            <h:form id="frmUsuario">
                                <script>
                                    function up(lstr){ 
                                        var str=lstr.value; 
                                        lstr.value=str.toUpperCase(); 
                                    }
                                </script>
                                <b:column span="12">
                                    <p:commandButton value="Novo usuário" icon="add" 
                                                     styleClass="btn" action="#{usuarioMB.novo()}" update=":frmNovo" onclick="PF('dlgNovo').show();"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtlUsuarios" value="#{usuarioMB.listaUsuarios()}"  var="us" paginator="true" rows="10"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15,25,50,100,200" sortBy="#{ter.nome}" paginatorPosition="bottom"
                                                 widgetVar="usuTable" emptyMessage="Nenhum registro encontrado" style="width: 100%">
                                        <p:column  headerText="Controle" width="10%">
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" oncomplete="PF('dlgNovo').show()" update=":frmNovo" action="#{usuarioMB.selecionaPorID(us.idUsuario)}">
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                &nbsp;
                                                <p:commandLink title="Informação" id="informbtn" oncomplete="PF('dlgInfo').show()"  action="#{usuarioMB.selecionaPorID(us.idUsuario)}" update=":frmInfo">
                                                    <p:graphicImage value="Recursos/icons/Info.png" />
                                                </p:commandLink>
                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc"  actionListener="#{usuarioMB.selecionaPorID(us.idUsuario)}" oncomplete="PF('dlgConfirm').show()" update=":frmConfirm" >
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Ativo" filterBy="#{us.ativo  == 'true' ? 'Ativo' : 'Inativo'}" 
                                                  sortBy="#{us.ativo  == 'true' ? 'Ativo' : 'Inativo'}" width="8%" styleClass="hidden-xs hidden-md">
                                            <center>
                                                <h:outputText value="#{us.ativo  == 'true' ? 'Ativo' : 'Inativo'}" styleClass="#{us.ativo  == 'true' ? 'label label-success' : 'label label-warning'}"/>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Nome" filterBy="#{us.nomeCompleto}" width="20%" sortBy="#{us.nomeCompleto}">
                                            <h:outputText value="#{us.nomeCompleto}"/>
                                        </p:column>
                                        <p:column headerText="Email" filterBy="#{us.email}" sortBy="#{us.email}">
                                            <h:outputText value="#{us.email}"/>
                                        </p:column>
                                        <p:column headerText="Usuario" filterBy="#{us.usuario}" sortBy="#{us.usuario}">
                                            <h:outputText value="#{us.usuario}"/>
                                        </p:column>
                                        <p:column headerText="Médico" filterBy="#{us.idTerceiro.tipoPessoa == 'J' ? us.idTerceiro.nomeFantasia : us.idTerceiro.nome}" sortBy="#{us.idTerceiro.tipoPessoa == 'J' ? us.idTerceiro.nomeFantasia : us.idTerceiro.nome}">
                                            <h:outputText value="#{us.idTerceiro.tipoPessoa == 'J' ? us.idTerceiro.nomeFantasia : us.idTerceiro.nome}"/>
                                        </p:column>


                                        <p:column headerText="Papel" filterBy="#{us.idPapel.descricao}" sortBy="#{us.idPapel.descricao}">
                                            <h:outputText value="#{us.idPapel.descricao}"/>
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <!--Aqui começa o dialogo novo-->
                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Usuário" width="60%" position="top" 
                                      resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="frmNovo">
                                    <b:row>
                                        <b:column span="12">
                                            <b:column span="12">
                                                <div  class="alert alert-info" style="display: #{usuarioMB.retornaSeUsuarioJaTemMovimentacao() ? 'ruby':'none'}">
                                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    <strong>Informação.</strong> O médico vinculado ao usuário não pode ser alterado se já houver movimentação.
                                                </div>
                                            </b:column>
                                            <b:column span="6">
                                                <h:outputLabel value="Nome completo:"  />
                                                <p:inputText value="#{usuarioMB.usuario.nomeCompleto}" onkeyup="up(this);" readonly="#{usuarioMB.retornaSeUsuarioJaTemMovimentacao() and usuario.usuario.nomeCompleto != null}" styleClass="form-control" id="nome" 
                                                             label="Nome completo" />
                                            </b:column>
                                            <b:column span="6">
                                                <h:outputLabel value="CPF:"  />
                                                <p:inputMask  value="#{usuarioMB.usuario.cpf}" styleClass="form-control" id="cpf" label="CPF" mask="999.999.999-99" > 
                                                    <p:ajax  event="blur" update=":msg" listener="#{usuarioMB.verificaCPF()}"/>
                                                </p:inputMask>
                                            </b:column>
                                            
                                            <b:column span="6">
                                                <bcr:outputrequired value="Usuário"/>
                                                <p:inputText value="#{usuarioMB.usuario.usuario}" onkeyup="up(this);" readonly="#{usuarioMB.retornaSeUsuarioJaTemMovimentacao() and usuario.usuario.cpf != null}" styleClass="form-control" required="true" id="usuario" 
                                                             label="Usuário" requiredMessage="O campo Usuário é obrigatório" />
                                            </b:column>
                                            <b:column styleClass="col-md-6">
                                                <h:outputLabel value="Email:"  />
                                                <p:inputText  id="email" value="#{usuarioMB.usuario.email}" styleClass="form-control" type="email"
                                                              validatorMessage="Email incorreto." required="true" requiredMessage="O campo Email é obrigatório.">                                                     
                                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                                </p:inputText>
                                            </b:column>
                                            
                                            <b:column span="6">
                                                <b:row>
                                                    <b:column span="8">
                                                        <bcr:outputrequired value="Senha"/>
                                                        <p:inputText type="password" value="#{usuarioMB.usuario.senha}" 
                                                                     styleClass="form-control" required="true" id="senha"  
                                                                     label="Senha" requiredMessage="O campo Senha é obrigatório" />
                                                    </b:column>
                                                    <b:column span="4" rendered="#{sessaoMB.Administrador()}">
                                                        <h:outputText value="Trocar senha?" /><br/>
                                                        <p:selectBooleanCheckbox value="#{usuarioMB.usuario.trocarSenha}"  />
                                                    </b:column>
                                                </b:row>
                                            </b:column>
                                            <b:column span="6" rendered="#{sessaoMB.Administrador()}">
                                                <bcr:outputrequired value="Papel"/>
                                                <p:selectOneMenu value="#{usuarioMB.papel}" converter="Converter"  styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Informe o papel do usuario" >
                                                    <f:selectItem itemLabel="Selecione um Papel" itemValue=""/>
                                                    <f:selectItems value="#{usuarioMB.listaPepeis()}" var="papel"
                                                                   itemLabel="#{papel.descricao}" itemValue="#{papel}" >
                                                    </f:selectItems>
                                                </p:selectOneMenu>
                                            </b:column>
                                            <b:column span="6" rendered="#{sessaoMB.Administrador()}">
                                                <h:outputLabel value="Terceiro"  />
                                                <h:panelGrid columns="2" style="width: 100% !important;">
                                                    <p:selectOneMenu id="usuTerceiro" value="#{usuarioMB.terceiro.idTerceiro}" disabled="#{usuarioMB.retornaSeUsuarioJaTemMovimentacao()}" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                                        <f:selectItem itemLabel="Selecione um Terceiro" itemValue=""/>
                                                        <f:selectItems value="#{usuarioMB.listaTerceiros()}" var="ter"
                                                                       itemLabel="#{ter.tipoPessoa == 'J' ? ter.nomeFantasia : ter.nome}" itemValue="#{ter.idTerceiro}" >
                                                        </f:selectItems>
                                                    </p:selectOneMenu>
                                                </h:panelGrid>

                                            </b:column>
                                            <b:column span="3" rendered="#{sessaoMB.Administrador()}">
                                                <h:outputText value="Ativo" /><br/>
                                                <p:selectBooleanCheckbox value="#{usuarioMB.usuario.ativo}"  />
                                            </b:column>
                                            <b:column span="3" rendered="#{sessaoMB.Administrador()}">
                                                <h:outputText value="Ver demais tranferências" /><br/>
                                                <p:selectBooleanCheckbox value="#{usuarioMB.usuario.verTransferencias}" />
                                            </b:column>
                                            <b:column span="3" rendered="#{sessaoMB.Administrador()}">
                                                <h:outputText value="Repasses médicos?" /><br/>
                                                <p:selectBooleanCheckbox value="#{usuarioMB.usuario.receberRepasse}" />
                                            </b:column>
                                            <b:column span="3" rendered="#{sessaoMB.Administrador()}">
                                                <h:outputText value="Repasses hospitalares?" /><br/>
                                                <p:selectBooleanCheckbox value="#{usuarioMB.usuario.receberRepasseHospital}" disabled="#{usuarioMB.retornaSeUsuarioJaTemMovimentacao()}" />
                                            </b:column>
                                        </b:column>
                                        <b:column span="6">
                                            <p:messages id="msgs2" />
                                        </b:column>
                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar" id="salvar" action="#{usuarioMB.salvar()}"
                                                             ajax="true" update=":frmUsuario, :msg" icon="salvar" validateClient="true" 
                                                             styleClass="btn"/>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgInfo" modal="true" header="Informação do Usuário" width="30%"
                                      closable="true" closeOnEscape="true" resizable="false" >
                                <h:form id="frmInfo">
                                    <b:panel title="#{usuarioMB.usuario.nomeCompleto}">
                                        <b:column span="12">
                                            <p><strong>Código: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.idUsuario}" />
                                            </p>
                                            <p><strong>Nome: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.nomeCompleto}" />
                                            </p>
                                            <p><strong>CPF: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.cpf}" />
                                            </p>
                                            <p><strong>Email: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.email}" />
                                            </p>
                                            <p><strong>Usuário: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.usuario}" />
                                            </p>
                                            <p><strong>Ativo: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.ativo == true ? 'Sim' : 'Não'}" />
                                            </p>
                                            <p><strong>Usuário p/ Repasse médicos: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.receberRepasse == true ? 'Sim' : 'Não'}" />
                                            </p>
                                            <p><strong>Usuário p/ Repasse hospitalares: </strong> 
                                                <h:outputText value="#{usuarioMB.usuario.receberRepasseHospital == true ? 'Sim' : 'Não'}" />
                                            </p>
                                            <p><strong>Papel: </strong> 
                                                <h:outputText value="#{usuarioMB.papel.descricao}" />
                                            </p>
                                            <p><strong>Médico: </strong> 
                                                <h:outputText value="#{usuarioMB.terceiro.nome}" />
                                            </p>
                                        </b:column>
                                    </b:panel>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        #{usuarioMB.usuario.terceiroList}
                                        <h:outputText rendered="#{usuarioMB.usuario.terceiroList.size() >  0? 'true' : usuarioMB.usuario.terceiroList.size()  > 0 ? 'true' : 'false' }" styleClass="avisoExclusao"  value="Atenção! Este Registro não pode ser excluído pois está sendo usado!" /><br/>
                                        <h:outputText rendered="#{usuarioMB.usuario.terceiroList.size() >  0? 'false' : usuarioMB.usuario.terceiroList.size()  > 0 ? 'false' : 'true' }" styleClass="avisoExclusao" value="Você confirma a exclusão do registro  #{usuarioMB.usuario.usuario} ? " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton rendered="#{usuarioMB.usuario.terceiroList.size() >  0? 'false' : usuarioMB.usuario.terceiroList.size() > 0 ? 'false' : 'true' }" value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{usuarioMB.excluir()}" oncomplete="PF('dlgConfirm').hide(); " update=":frmUsuario, :msg"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{usuarioMB.novo()}" update=":frmUsuario" />   
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
