<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body >

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Configurações</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuassociacao}"/>
                <p:growl id="msg" showDetail="true"/>
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Configurações" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuassociacao}">
                            <h:form id="formAssociacao">
                                <b:row>
                                    <b:column span="12">
                                        <b:column span="6">
                                            <bcr:outputrequired value="Nome"/>
                                            <p:inputText  styleClass="form-control" required="true" requiredMessage="O campo nome é obrigatório" value="#{associacaoMB.associacao.nome}" />
                                        </b:column>
                                        <b:column span="6">
                                            <h:outputText value="Tema" />
                                            <p:themeSwitcher value="#{associacaoMB.associacao.tema}" styleClass="form-control" style="width: 100%;">
                                                <f:selectItem itemLabel="afterdark" itemValue="afterdark" />
                                                <f:selectItem itemLabel="afternoon" itemValue="afternoon" />
                                                <f:selectItem itemLabel="afterwork" itemValue="afterwork" />
                                                <f:selectItem itemLabel="aristo" itemValue="aristo" />
                                                <f:selectItem itemLabel="black-tie" itemValue="black-tie" />
                                                <f:selectItem itemLabel="blitzer" itemValue="blitzer" />
                                                <f:selectItem itemLabel="bluesky" itemValue="bluesky" />
                                                <f:selectItem itemLabel="bootstrap" itemValue="bootstrap" />
                                                <f:selectItem itemLabel="casablanca" itemValue="casablanca" />
                                                <f:selectItem itemLabel="cruze" itemValue="cruze" />
                                                <f:selectItem itemLabel="cupertino" itemValue="cupertino" />
                                                <f:selectItem itemLabel="dark-hive" itemValue="dark-hive" />
                                                <f:selectItem itemLabel="delta" itemValue="delta" />
                                                <f:selectItem itemLabel="dot-luv" itemValue="dot-luv" />
                                                <f:selectItem itemLabel="eggplant" itemValue="eggplant" />
                                                <f:selectItem itemLabel="flick" itemValue="flick" />
                                                <f:selectItem itemLabel="glass-x" itemValue="glass-x" />
                                                <f:selectItem itemLabel="home" itemValue="home" />
                                                <f:selectItem itemLabel="hot-sneaks" itemValue="hot-sneaks" />
                                                <f:selectItem itemLabel="humanity" itemValue="humanity" />
                                                <f:selectItem itemLabel="le-frog " itemValue="le-frog " />
                                                <f:selectItem itemLabel="midnight" itemValue="midnight" />
                                                <f:selectItem itemLabel="mint-choc" itemValue="mint-choc" />
                                                <f:selectItem itemLabel="overcast" itemValue="overcast" />
                                                <f:selectItem itemLabel="redmond " itemValue="redmond" />
                                                <f:selectItem itemLabel="rocket " itemValue="rocket" />
                                                <f:selectItem itemLabel="sam " itemValue="sam" />
                                                <f:selectItem itemLabel="smoothness " itemValue="smoothness" />
                                                <f:selectItem itemLabel="south-street  " itemValue="south-street " />
                                                <f:selectItem itemLabel="start" itemValue="start" />
                                                <f:selectItem itemLabel="sunny" itemValue="sunny" />
                                                <f:selectItem itemLabel="swanky-purse" itemValue="swanky-purse" />
                                                <f:selectItem itemLabel="trontastic" itemValue="trontastic" />
                                                <f:selectItem itemLabel="ui-darkness" itemValue="ui-darkness" />
                                                <f:selectItem itemLabel="ui-lightness" itemValue="ui-lightness" />
                                                <f:selectItem itemLabel="vader" itemValue="vader" />
                                            </p:themeSwitcher>
                                        </b:column>

                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <b:column span="2">
                                            <h:outputText value="Tipo Logradouro" />
                                            <p:selectOneMenu value="#{associacaoMB.associacao.tipoLogradouro}" styleClass="form-control" id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                                <f:selectItem itemLabel="" itemValue="" />
                                                <f:selectItem itemLabel="Avenida" itemValue="AVENIDA" />
                                                <f:selectItem itemLabel="Beco" itemValue="BECO" />
                                                <f:selectItem itemLabel="Estrada" itemValue="ESTRADA" />
                                                <f:selectItem itemLabel="Outros" itemValue="OUTROS" />
                                                <f:selectItem itemLabel="Praça" itemValue="PRAÇA" />
                                                <f:selectItem itemLabel="Rua" itemValue="RUA" />
                                                <f:selectItem itemLabel="Travessa" itemValue="TRAVESSA" />
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="4">
                                            <h:outputText value="Logradouro" />
                                            <p:inputText value="#{associacaoMB.associacao.logradouro}"  styleClass="form-control"   id="logradouro" onblur="capitaliseFirstLetter(this.value, 'formAssociacao:logradouro')" label="logradouro"  />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Número" />
                                            <p:inputText value="#{associacaoMB.associacao.numero}" styleClass="form-control"  label="numero"  />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="CEP" />
                                            <p:inputMask value="#{associacaoMB.associacao.cep}" styleClass="form-control"  id="cep"  label="cep" mask="99999-999" />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Bairro" />
                                            <p:inputText value="#{associacaoMB.associacao.bairro}" styleClass="form-control"   id="bairro"  label="bairro"  />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Telefone *" />
                                            <p:inputMask  styleClass="form-control" required="true"  mask="(99) 9999-9999" requiredMessage="O campo telefone é obrigatório" value="#{associacaoMB.associacao.telefone}" />
                                        </b:column>

                                        <b:column span="2">
                                            <h:outputText value="Cidade" />
                                            <p:inputText value="#{associacaoMB.associacao.cidade}" styleClass="form-control"   id="cidade"  label="cidade"  />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Estado" />
                                            <p:selectOneMenu value="#{associacaoMB.associacao.estado}" styleClass="form-control"  filter="true" filterMatchMode="contains" >
                                                <f:selectItem itemLabel="Selecione um estado" itemValue="" />
                                                <f:selectItem itemLabel="Acre - AC" itemValue="AC" />
                                                <f:selectItem itemLabel="Alagoas - AL" itemValue="AL" />
                                                <f:selectItem itemLabel="Amapá - AP" itemValue="AP" />
                                                <f:selectItem itemLabel="Amazonas - AM" itemValue="AM" />
                                                <f:selectItem itemLabel="Bahia - BA" itemValue="BA" />
                                                <f:selectItem itemLabel="Ceara - CE" itemValue="CE" />
                                                <f:selectItem itemLabel="Distrito Federal - DF" itemValue="DF" />
                                                <f:selectItem itemLabel="Espirito Santo - ES" itemValue="ES" />
                                                <f:selectItem itemLabel="Goiás - GO" itemValue="GO" />
                                                <f:selectItem itemLabel="Maranhão - MA" itemValue="MA" />
                                                <f:selectItem itemLabel="Mato Grosso - MT" itemValue="MT" />
                                                <f:selectItem itemLabel="Mato Grosso do Sul - MS" itemValue="MS" />
                                                <f:selectItem itemLabel="Minas Gerais - MG" itemValue="MG" />
                                                <f:selectItem itemLabel="Pará - PA" itemValue="PA" />
                                                <f:selectItem itemLabel="Paraíba - PB" itemValue="PB" />
                                                <f:selectItem itemLabel="Paraná - PR" itemValue="PR" />
                                                <f:selectItem itemLabel="Pernambuco - PE" itemValue="PE" />
                                                <f:selectItem itemLabel="Paiauí - PI" itemValue="PI" />
                                                <f:selectItem itemLabel="Rio de Janeiro - RJ" itemValue="RJ" />
                                                <f:selectItem itemLabel="Rio Grande do Norte - RN" itemValue="RN" />
                                                <f:selectItem itemLabel="Rio Grande do Sul - RS" itemValue="RS" />
                                                <f:selectItem itemLabel="Rondônia - RO" itemValue="RO" />
                                                <f:selectItem itemLabel="Roraima - RR" itemValue="RR" />
                                                <f:selectItem itemLabel="Santa Catarina - SC" itemValue="SC" />
                                                <f:selectItem itemLabel="São Paulo - SP" itemValue="SP" />
                                                <f:selectItem itemLabel="Sergipe - SE" itemValue="SE" />
                                                <f:selectItem itemLabel="Tocantins - TO" itemValue="TO" />
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="2" rendered="false">
                                            <h:outputText value="Diferença tolerada."/>  
                                            <pe:inputNumber id="diferenca" value="#{associacaoMB.associacao.diferencaTolerada}" decimalPlaces="2" decimalSeparator="." 
                                                            emptyValue="empty" symbol="R$ " symbolPosition="p" thousandSeparator="," 
                                                            title="Informe a diferença a ser tolerada entre os valores em um Fechamento e Repasses realizados do mesmo."/> 
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Dias venc. médicos (Cheque)"/>  
                                            <p:inputText id="prazoCompensacao" value="#{associacaoMB.associacao.prazoCompensacaoCheque}" styleClass="form-control"
                                                         title="Informe os dias a serem adicionados para visualização da Data de Vencimentos para os médicos."/> 
                                        </b:column>

                                        <b:column span="2">
                                            <h:outputText value="Taxa Depósito Bancário"/>  
                                            <pe:inputNumber id="descontoDeposito" value="#{associacaoMB.associacao.taxaDescontoRepasseDeposito}" decimalPlaces="2" decimalSeparator="." 
                                                            emptyValue="empty" symbol="%" symbolPosition="s" thousandSeparator="," 
                                                            title="Informe a taxa do depósito bancário a ser descontado nos repasses dos médicos."/> 
                                        </b:column>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <b:column span="12">
                                            <br/>
                                        </b:column>
                                        <b:column span="8">
                                            <h:outputText value="Texto para Rodapé dos Orçamentos: "/> <h:outputText id="display" style="color: #6699ff"/>
                                            <p:inputTextarea value="#{associacaoMB.associacao.obsOrcamento}" rows="10" cols="50" counter="display" 
                                                             maxlength="1000" counterTemplate="{0} characters remaining." autoResize="true" 
                                                             title="Este texto irá ser utilizado como informativo no rodapé dos Orçamentos impressos."/>

                                        </b:column>
                                        <b:column span="4">
                                            <div class="row">
                                                
                                                <b:column span="6">
                                                    <h:outputText value="Habilitar Parciais"/> <br/>
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.habilitarParciais}" offLabel="Não" onLabel="Sim    " 
                                                                           onIcon="confirmar" offIcon="excluir"/> 
                                                </b:column>
                                                <b:column span="6">
                                                    <h:outputText value="Recibo - Atend. Interno"/> <br/>
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.imprimirReciboAtendimentoInterno}" offLabel="Não" onLabel="Sim    " 
                                                                           onIcon="confirmar" offIcon="excluir"/> 
                                                </b:column>

                                                <b:column span="6">
                                                    <h:outputText value="Compensar Cheques automaticamente"/> <br/>
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.compensarChequesAutomatico}" offLabel="Não" onLabel="Sim    " 
                                                                           onIcon="confirmar" offIcon="excluir"/>
                                                </b:column>
                                                <b:column span="6">
                                                    <h:outputText value="Dias para compensar automaticamente"/>  
                                                    <p:inputText id="diasauto" value="#{associacaoMB.associacao.diasCompensarChequeAuto}" styleClass="form-control"/> 
                                                </b:column>
                                                <b:column span="6">
                                                    <h:outputText value="Transferir cheques para caixa honorários"/> <br/>
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.transferirChequesCaixaHonorarios}" offLabel="Não" onLabel="Sim    " 
                                                                           onIcon="confirmar" offIcon="excluir"/>
                                                </b:column>
                                                <b:column span="6">
                                                    <h:outputText value="Pagar repasses ao hospital automaticamente"/> <br/>
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.compensarRepassesHospitalAoCompensarCheque}" title="Ativando esta opção, ao compensar o cheque, os repasses ao hospital referente a este pagamento, serão baixados automaticamente." 
                                                                           offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                                                </b:column>
                                                <b:column span="6">
                                                    <h:outputText value="Transferir Pag. pelo perfil"/>  
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.transferirFechamentoPerfil}" 
                                                                           title="Ativando esta opção, os usuários poderão transferir pagamentos recebidos por outros usuários do mesmo perfil." 
                                                                           offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                                                </b:column>
                                                <b:column span="6">
                                                    <h:outputText value="Repasses sem transferência"/> <br/>
                                                    <p:selectBooleanButton value="#{associacaoMB.associacao.permitirPagamentoSemTransferir}" offLabel="Não" onLabel="Sim    " 
                                                                           onIcon="confirmar" offIcon="excluir"/> 
                                                </b:column>
                                            </div>
                                        </b:column>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">


                                        <b:column span="2">
                                            <h:outputText value="Logo para Relatórios" />
                                            <p:fileUpload fileUploadListener="#{fotoMB.handleFileUpload}" mode="advanced" skinSimple="true" dragDropSupport="false"
                                                          update=":msg, logo" auto="true" allowTypes="/(\.|\/)(png)$/" />
                                            <br/>
                                            <p:graphicImage id="logo" value="#{fotoMB.foto}" cache="disable"/>
                                            <br/>
                                        </b:column>
                                        <b:column span="3">
                                            <h:outputText value="SMTP Server"/>
                                            <p:inputText value="#{associacaoMB.associacao.smtpServer}" />
                                        </b:column>
                                        <b:column span="3">
                                            <h:outputText value="Email padrão"/>
                                            <p:inputText value="#{associacaoMB.associacao.emailPadrao}" />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Porta SMTP"/>
                                            <p:inputText value="#{associacaoMB.associacao.portaSmtp}" placeholder="465 (não SSL) ou 587" />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Senha"/>
                                            <p:password value="#{associacaoMB.associacao.senhaEmailPadrao}" />
                                        </b:column>
                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar" icon="salvar" styleClass="btn btn-primary" ajax="true" action="#{associacaoMB.Salvar()}"  update=":msg, :formAssociacao"/>
                                        </b:column>
                                    </b:column>


                                </b:row>



                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>

            </ui:define>

        </ui:composition>

    </body>
</html>
