<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body >

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Orçamentos</li>
            </ui:define>

            <ui:define name="content">
                <p:growl id="msg" showDetail="true" autoUpdate="true" life="10000" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Orçamentos" look="primary" >
                            <h:form id="frmConsultar">
                                <b:panel id="pnlConsultar" title="Consulta de Fechamentos de Alta " rendered="#{cirurgiaMB.status == 'Consultando' ? 'true' : 'false'}" >

                                    <hr/>
                                    <b:column span="2" >
                                        <p:calendar value="#{cirurgiaMB.dtInicialPesquisa}" placeholder="Data Inicial" styleClass="form-control" pattern="dd/MM/yyyy" locale="pt" required="#{cirurgiaMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                    </b:column>
                                    <b:column span="2">
                                        <p:calendar value="#{cirurgiaMB.dtFinalPesquisa}" placeholder="Data Final" styleClass="form-control"  pattern="dd/MM/yyyy" locale="pt" required="#{cirurgiaMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                    </b:column>
                                    <b:column span="5">
                                        <p:selectOneMenu value="#{cirurgiaMB.idPacientePesquisa}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Paciente" itemValue="" />
                                            <f:selectItems value="#{cirurgiaMB.listaDePacientes()}" var="pacPesquisa" 
                                                           itemLabel="#{pacPesquisa.idPaciente} | #{pacPesquisa.nome} | #{pacPesquisa.cpf}" 
                                                           itemValue="#{pacPesquisa.idPaciente}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="3">

                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Pesquisar" icon="consultar"  styleClass="btn" actionListener="#{cirurgiaMB.pesquisarOrcamentos()}" update="tblPesq, :msg"  />
                                        <hr/>
                                    </b:column>
                                    <style>
                                        .total{
                                            width: 106% !important;
                                            margin-left: -3% !important;
                                        }
                                    </style>
                                    <b:column span="12" styleClass="total">
                                        <p:dataTable id="tblPesq" widgetVar="wtblPesq" value="#{cirurgiaMB.listaCirurgiaAPesquisar}" var="ciruPesq" paginator="true" rows="25">
                                            <f:facet name="header">
                                                <p:outputPanel>
                                                    <p:inputText id="globalFilter"  onkeyup="PF('wtblPesq').filter()" style="width: 80% !important;"  placeholder="Pesquise o campo" />
                                                </p:outputPanel>
                                            </f:facet>
                                            <p:column width="4%">
                                                <p:rowToggler />
                                            </p:column>
                                            <p:column headerText="Nº" filterBy="#{ciruPesq.idCirurgia}"  sortBy="#{ciruPesq.idCirurgia}" filterMatchMode="contains" width="6%">
                                                <center><h:outputText value="#{ciruPesq.idCirurgia}"  /></center>
                                            </p:column>
                                            <p:column headerText="Paciente" filterBy="#{ciruPesq.idPaciente.nome}" filterMatchMode="contains"  sortBy="#{ciruPesq.idPaciente.nome}">
                                                <h:outputText value="#{ciruPesq.idPaciente.nome}" />
                                            </p:column>
                                            <p:column headerText="Data"  filterBy="#{ciruPesq.dtCirurgia}" filterMatchMode="contains" width="10%" sortBy="#{ciruPesq.dtCirurgia}">
                                                <f:facet name="filter">
                                                    <p:calendar
                                                        id="calendarDate"
                                                        styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all "
                                                        locale="pt" 
                                                        pattern="dd/MM/yyyy"
                                                        onchange="PF('wtblPesq').filter()"
                                                        onselect="PF('wtblPesq').filter()"
                                                        onblur="PF('wtblPesq').filter()"
                                                        >
                                                    </p:calendar>
                                                </f:facet>
                                                <h:outputText value="#{ciruPesq.dtCirurgia}">
                                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Médico" filterBy="#{ciruPesq.idTerceiro.nome}" filterMatchMode="contains" sortBy="#{ciruPesq.idTerceiro.nome}" width="15%">
                                                <h:outputText value="#{ciruPesq.idTerceiro.nome}" />
                                            </p:column>
                                            <p:column headerText="Procedimento" filterBy="#{ciruPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{ciruPesq.idProcedimento.descricao}">
                                                <h:outputText value="#{ciruPesq.idProcedimento.descricao}"  />
                                            </p:column>

                                            <p:column  headerText="Controle" width="10%"  >

                                                <p:commandLink title="Informação" id="informbtn" oncomplete="PF('dlgInfoOrcto').show()"  update=":frmInfoOrcto"  actionListener="#{cirurgiaMB.selecionarPorIDInfo(ciruPesq.idCirurgia)}"  >
                                                    <p:graphicImage value="Recursos/icons/Info.png" />
                                                </p:commandLink>

                                            </p:column>

                                            <p:rowExpansion>
                                                <p:dataTable value="#{ciruPesq.cirurgiaItemList}" var="ciiList" >
                                                    <f:facet name="header">
                                                        Itens do Fechamento
                                                    </f:facet>
                                                    <p:column width="4%">
                                                        <p:rowToggler />
                                                    </p:column>
                                                    <p:column headerText="Item">
                                                        <h:outputText value="#{ciiList.idServico.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Quantidade">
                                                        <h:outputText value="#{ciiList.quantidade}" />
                                                    </p:column>
                                                    <p:column headerText="Vlr Unit.">
                                                        <h:outputText value="#{ciiList.valorUnitario}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Vlr Total.">
                                                        <h:outputText value="#{ciiList.valorTotal}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Observação">
                                                        <h:outputText value="#{ciiList.observacao}" >
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:rowExpansion>
                                                        <p:dataTable value="#{ciiList.servicoItemCirurgiaItemList}" var="siiciList">
                                                            <f:facet name="header">
                                                                Procedimentos dos Itens
                                                            </f:facet>
                                                            <p:column width="4%">
                                                                <p:rowToggler />
                                                            </p:column>
                                                            <p:column headerText="Procedimento" >
                                                                <h:outputText value="#{siiciList.idServicoItem.descritiva}" />
                                                            </p:column>
                                                            <p:column headerText="Terceiro" >
                                                                <h:outputText value="#{siiciList.idTerceiro.nome == null ? siiciList.idTerceiro.nomeFantasia : siiciList.idTerceiro.nome }" />
                                                            </p:column>
                                                            <p:column headerText="Valor" >
                                                                <h:outputText value="#{siiciList.valor}" >
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </p:column>
                                                            <p:column headerText="Taxa %" >
                                                                <h:outputText value="#{siiciList.taxa}" >
                                                                    <f:convertNumber minFractionDigits="2"/>
                                                                </h:outputText>
                                                            </p:column>
                                                            <p:column headerText="Valor" >
                                                                <h:outputText value="#{siiciList.valorTaxado}" >
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </p:column>
                                                            <p:rowExpansion>
                                                                <p:dataTable value="#{siiciList.repasseList}" var="reppList">
                                                                    <f:facet name="header">
                                                                        Repasses e Recebimentos dos Fechamentos
                                                                    </f:facet>
                                                                    <p:column headerText="Parcela" sortBy="#{reppList.numeroParcela}" width="8%">
                                                                        <h:outputText value="#{reppList.numeroParcela}" />
                                                                    </p:column>
                                                                    <p:column headerText="Terceiro" sortBy="#{reppList.idTerceiro.nome == null ? reppList.idTerceiro.nomeFantasia : reppList.idTerceiro.nome}" width="25%" >
                                                                        <h:outputText value="#{reppList.idTerceiro.nome == null ? reppList.idTerceiro.nomeFantasia : reppList.idTerceiro.nome}" >
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Vencimento" sortBy="#{reppList.dtVencimento}" >
                                                                        <h:outputText value="#{reppList.dtVencimento}" >
                                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Valor" >
                                                                        <h:outputText value="#{reppList.valor}" >
                                                                            <f:convertNumber type="currency" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Pagto Médico" >
                                                                        <h:outputText value="#{reppList.dtRecebimento}" >
                                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Repasse" >
                                                                        <h:outputText value="#{reppList.dtRepasse}" >
                                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Sit. Paciente" >
                                                                        <h:outputText value="#{reppList.situacaoPaciente=='A'?'Aberto':'Paga'}" >
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Sit. Terceiro" >
                                                                        <h:outputText value="#{reppList.situacaoTerceiro=='N'?'Não Liberado':'Liberado'}" >
                                                                        </h:outputText>
                                                                    </p:column>
                                                                </p:dataTable>
                                                            </p:rowExpansion>
                                                        </p:dataTable>
                                                    </p:rowExpansion>
                                                </p:dataTable>
                                            </p:rowExpansion>
                                        </p:dataTable>
                                    </b:column>
                                </b:panel>
                            </h:form>
                            <h:form id="frmInfoOrcto">
                                <p:dialog widgetVar="dlgInfoOrcto"  header="Informações da Cirurgia #{cirurgiaMB.cirurgia.idCirurgia}" onHide="#{cirurgiaMB.limpaObjeto()}" resizable="true" width="80%" height="600" maximizable="true" minimizable="true"   modal="true" position="top" closeOnEscape="true" closable="true">
                                    <div class="row">
                                        <b:column span="4">
                                            Fechamento:  <strong>#{cirurgiaMB.cirurgia.idCirurgia}</strong>
                                        </b:column>
                                        <b:column span="4">
                                            Orçamento:<strong>#{cirurgiaMB.cirurgia.idOrcamento.idOrcamento}</strong>  
                                        </b:column>
                                        <b:column span="3">
                                            Data Fechamento: 
                                            <strong> <h:outputText value="#{cirurgiaMB.cirurgia.dtCirurgia}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </strong>
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            Paciente: <strong>#{cirurgiaMB.cirurgia.idPaciente.nome}</strong> 
                                        </b:column>
                                        <b:column span="4">
                                            Telefone: <strong> #{cirurgiaMB.cirurgia.idPaciente.telefone}</strong> 
                                        </b:column>
                                        <b:column span="4">
                                            Convênio:   <strong>#{cirurgiaMB.cirurgia.idConvenio.descricao}</strong>
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            Cirurgião: <strong> #{cirurgiaMB.cirurgia.idTerceiro.nome}</strong>
                                        </b:column>
                                        <b:column span="4">
                                        </b:column>
                                        <b:column span="4">

                                        </b:column>
                                    </div>
                                    <div class="row">
                                        <b:column span="4">
                                            Procedimento:   <strong> #{cirurgiaMB.cirurgia.idProcedimento.descricao}</strong>
                                        </b:column>
                                        <b:column span="4">
                                            Valor Total:  
                                            <strong><h:outputText value="#{cirurgiaMB.cirurgia.valor}">
                                                    <f:convertNumber minFractionDigits="2" type="currency" />
                                                </h:outputText>
                                            </strong>

                                        </b:column>
                                        <b:column span="4">

                                        </b:column>
                                        <b:column span="4">

                                        </b:column>
                                        <b:column span="12">
                                            Observação:  <strong> #{cirurgiaMB.cirurgia.observacao}</strong>  
                                        </b:column>

                                    </div>
                                    <div class="row">
                                        <b:column span="12">
                                            <hr/>
                                            <center> <strong><h3 style="font-weight: bolder; text-decoration: underline ">Itens da Cirurgia</h3></strong></center>
                                        </b:column>
                                        <b:column span="12">
                                            <p:dataTable value="#{cirurgiaMB.cirurgia.cirurgiaItemList}" var="ciList" >
                                                <f:facet name="header">
                                                    Itens da Fechamento
                                                </f:facet>
                                                <p:column width="4%">
                                                    <p:rowToggler />
                                                </p:column>
                                                <p:column headerText="Item">
                                                    <h:outputText value="#{ciList.idServico.descricao}" />
                                                </p:column>
                                                <p:column headerText="Quantidade">
                                                    <h:outputText value="#{ciList.quantidade}" />
                                                </p:column>
                                                <p:column headerText="Vlr Unit.">
                                                    <h:outputText value="#{ciList.valorUnitario}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Vlr Total.">
                                                    <h:outputText value="#{ciList.valorTotal}" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Observação">
                                                    <h:outputText value="#{ciList.observacao}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:rowExpansion>
                                                    <p:dataTable value="#{ciList.servicoItemCirurgiaItemList}" var="siciList">
                                                        <f:facet name="header">
                                                            Procedimentos dos Itens
                                                        </f:facet>
                                                        <p:column width="4%">
                                                            <p:rowToggler />
                                                        </p:column>
                                                        <p:column headerText="Procedimento" >
                                                            <h:outputText value="#{siciList.idServicoItem.descritiva}" />
                                                        </p:column>
                                                        <p:column headerText="Terceiro" >
                                                            <h:outputText value="#{siciList.idTerceiro.nome == null ? siciList.idTerceiro.nomeFantasia : siciList.idTerceiro.nome }" />
                                                        </p:column>
                                                        <p:column headerText="Valor" >
                                                            <h:outputText value="#{siciList.valor}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Taxa %" >
                                                            <h:outputText value="#{siciList.taxa}" >
                                                                <f:convertNumber minFractionDigits="2"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Valor" >
                                                            <h:outputText value="#{siciList.valorTaxado}" >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:rowExpansion>
                                                            <p:dataTable value="#{siciList.repasseList}" var="repList">
                                                                <f:facet name="header">
                                                                    Repasses e Recebimentos dos Fechamentos
                                                                </f:facet>
                                                                <p:column headerText="Parcela" sortBy="#{repList.numeroParcela}" width="8%">
                                                                    <h:outputText value="#{repList.numeroParcela}" />
                                                                </p:column>
                                                                <p:column headerText="Terceiro" sortBy="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" width="25%" >
                                                                    <h:outputText value="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" >
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Vencimento" sortBy="#{repList.dtVencimento}" >
                                                                    <h:outputText value="#{repList.dtVencimento}" >
                                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Valor" >
                                                                    <h:outputText value="#{repList.valor}" >
                                                                        <f:convertNumber type="currency" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Pagto Médico" >
                                                                    <h:outputText value="#{repList.dtRecebimento}" >
                                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Repasse" >
                                                                    <h:outputText value="#{repList.dtRepasse}" >
                                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Sit. Paciente" >
                                                                    <h:outputText value="#{repList.situacaoPaciente=='A'?'Aberto':'Paga'}" >
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Sit. Terceiro" >
                                                                    <h:outputText value="#{repList.situacaoTerceiro=='N'?'Não Liberado':'Liberado'}" >
                                                                    </h:outputText>
                                                                </p:column>
                                                            </p:dataTable>
                                                        </p:rowExpansion>
                                                    </p:dataTable>
                                                </p:rowExpansion>
                                            </p:dataTable>
                                        </b:column>
                                    </div>
                                </p:dialog>
                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>

