<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Resumo do Médico</li>
            </ui:define>
            <ui:define name="content">
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Resumo do Médico" look="primary">    
                            <p:messages id="msg" closable="true"/>
                            <h:form id="frmResumoMedico">
                                <b:row>
                                    <b:column span="12">
                                        <p:messages autoUpdate="true" closable="true" id="msg"/>
                                    </b:column>
                                    <b:column span="12">
                                        <fieldset>
                                            <legend><i class="fa fa-search"></i> Pesquisar</legend>
                                            <b:row>                                                
                                                <b:column col-xs="12" col-sm="6" col-md="6" col-lg="3">
                                                    <bcr:outputrequired value="Médico" />
                                                    <h:panelGrid columns="2" width="100%">                                                        
                                                        <p:autoComplete id="medico" value="#{contaCorrenteMB.terceiro}" converter="Converter"
                                                                        completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5" cache="true"
                                                                        itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" 
                                                                        placeholder="Digite o médico responsável" required="true" requiredMessage="Informe o médico responsável!">
                                                            <p:column>
                                                                <h:outputText value="#{terc.idTerceiro}" />
                                                            </p:column>
                                                            <p:column>
                                                                <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                                            </p:column>
                                                        </p:autoComplete> 
                                                    </h:panelGrid>
                                                </b:column>
                                                <b:column col-xs="12" col-sm="6" col-md="6" col-lg="3">
                                                    <h:panelGrid columns="3">
                                                        <h:panelGroup>
                                                            <h:outputText value="Período" />
                                                            <p:calendar value="#{contaCorrenteMB.dtInicioResumo}"  locale="pt" pattern="dd/MM/yyyy"/>
                                                        </h:panelGroup>
                                                        &nbsp;
                                                        <h:panelGroup>
                                                            <br/>
                                                            <p:calendar  value="#{contaCorrenteMB.dtFinalResumo}"   locale="pt" pattern="dd/MM/yyyy" />
                                                        </h:panelGroup>
                                                    </h:panelGrid>
                                                </b:column>
                                                <b:column col-xs="12" col-sm="6" col-md="6" col-lg="3">
                                                    <br/>
                                                    <h:panelGrid columns="3" styleClass="hidden-xs">
                                                        <p:commandButton id="trg" icon="pesquisar" styleClass="btn" 
                                                                         update=":msg, :frmResumoMedico, :frmResumoMedico:dtlCC" 
                                                                         value="Pesquisar" action="#{contaCorrenteMB.pesquisarContaCorrenteResumo(contaCorrenteMB.terceiro)}" />
                                                        
                                                        <p:commandButton id="btnImprimir" icon="imprimir" styleClass="btn hidden-xs" value="Imprimir" 
                                                                         action="#{contaCorrenteMB.imprimirAtendimentos(contaCorrenteMB.terceiro.idTerceiro, contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo)}"
                                                                         ajax="false"
                                                                         process="@this" onclick="this.form.target = '_blank'" rendered="false"/>
                                                        
                                                        <p:commandButton id="btnImprimir2" icon="imprimir" styleClass="btn hidden-xs" value="Imprimir Resumo" oncomplete="PF('dlgImprimirResumo').show();"
                                                                         update="@this"   rendered="false"/>
                                                    </h:panelGrid>
                                                    <p:commandButton id="trg2" icon="pesquisar" styleClass="btn visible-xs" style="width: 100%"
                                                                     update=":msg, :frmResumoMedico, :frmResumoMedico:dtlCC" 
                                                                     value="Pesquisar" action="#{contaCorrenteMB.pesquisarContaCorrenteResumo(contaCorrenteMB.terceiro.idTerceiro)}" />
                                                </b:column>
                                            </b:row>
                                        </fieldset>
                                    </b:column>

                                    <h:panelGroup rendered="false">
                                        <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12" >
                                            <div class="widget style1 green-bg">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <i class="fa fa-money fa-3x"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-right">
                                                        <span>Total Disponível: </span>
                                                        <h3 class="font-bold">
                                                            <h:outputText value="#{contaCorrenteMB.liberado}">
                                                                <f:convertNumber type="currency"/>
                                                            </h:outputText>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </b:column>

                                        <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12" >
                                            <div class="widget style1 red-bg">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <i class="fa fa-money fa-3x"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-right">
                                                        <span>Total não Liberado: </span>
                                                        <h3 class="font-bold">

                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </b:column>
                                    </h:panelGroup>
                                </b:row>
                                <br/>                
                                <b:row>
                                    <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-success">Saldo disponível</span>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins">
                                                    <h:outputText value="#{contaCorrenteMB.liberado}">
                                                        <f:convertNumber type="currency"/>
                                                    </h:outputText>
                                                </h1>
                                                <small>
                                                    Em
                                                    <h:outputText value="#{contaCorrenteMB.dtAtual}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy - HH:MM" />
                                                    </h:outputText>
                                                    (Horário Atual)
                                                </small>
                                            </div>
                                        </div>
                                    </b:column>
                                    <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-danger">Saldo vencido</span>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins">
                                                    <h:outputText value="#{contaCorrenteMB.vencido}">
                                                        <f:convertNumber type="currency"/>
                                                    </h:outputText>
                                                </h1>
                                                <small>
                                                    Até
                                                    <h:outputText value="#{contaCorrenteMB.addDia(contaCorrenteMB.dtAtual, -1)}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                    (Ontem)
                                                </small>
                                            </div>
                                        </div>
                                    </b:column>
                                    <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-warning">Saldo a liberar</span>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins">
                                                    <h:outputText value="#{contaCorrenteMB.naoLiberado}">
                                                        <f:convertNumber type="currency"/>
                                                    </h:outputText>
                                                </h1>
                                                <small>
                                                    <h:outputText value="#{contaCorrenteMB.dtInicioResumo}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                    á
                                                    <h:outputText value="#{contaCorrenteMB.dtFinalResumo}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </small>
                                            </div>
                                        </div>
                                    </b:column>
                                    <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-default">Saldo total</span>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins">
                                                    <h:outputText value="#{contaCorrenteMB.naoLiberado + contaCorrenteMB.vencido + contaCorrenteMB.liberado}">
                                                        <f:convertNumber type="currency"/>
                                                    </h:outputText>
                                                </h1>
                                                <small>
                                                    <h:outputText value="#{contaCorrenteMB.dtInicioResumo}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                    á
                                                    <h:outputText value="#{contaCorrenteMB.dtFinalResumo}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </small>
                                            </div>
                                        </div>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <p:dataTable id="dtlCC" value="#{contaCorrenteMB.listaResumo}" var="conta" 
                                                     sortBy="#{conta.idAtendimento.idCirurgia}" rowKey="#{conta.idAtendimento}" 
                                                     paginator="true" rows="10" emptyMessage="Não foram encontrados registros."
                                                     rowsPerPageTemplate="10,15,25,50" paginatorPosition="bottom">
                                            <f:facet name="header">
                                                Recebimentos
                                            </f:facet>
                                            <p:column headerText="Parcela" width="10%" styleClass="hidden-md hidden-xs">
                                                <center>
                                                    <h:outputText id="parcela" 
                                                                  value="#{conta.procedimento == null ? '1' : contaCorrenteMB.retornaNumeroParcela(conta.contaCorrente.idRepasse.idRepasse, conta.contaCorrente.idRepasse.idTerceiro.idTerceiro, conta.contaCorrente.idRepasse.idCirurgia.idCirurgia)} / #{conta.procedimento == null ? '1' : contaCorrenteMB.retornaMaxNumeroParcela(conta.contaCorrente.idRepasse.idTerceiro.idTerceiro, conta.contaCorrente.idRepasse.idCirurgia.idCirurgia)}" title="Atendimento: #{conta.idAtendimento.idCirurgia}. Pagamento: #{conta.contaCorrente.idRepasse.idCheque.movimento == 'D' ? 'Dinheiro' : conta.contaCorrente.idRepasse.idCheque.movimento == 'C' ? 'Cheque' : conta.contaCorrente.idRepasse.idCheque.movimento == 'N' ? 'Nota Promissória' : conta.contaCorrente.idRepasse.idCheque.movimento == 'A' ? 'Cartão - Débito' : conta.contaCorrente.idRepasse.idCheque.movimento == 'R' ? 'Cartão - Crédito' : conta.contaCorrente.idRepasse.idCheque.movimento == 'B' ? 'Depósito Bancário' : ''}"/>
                                                    <p:tooltip for="parcela" />
                                                </center>
                                            </p:column>
                                            <p:column headerText="Paciente" sortBy="#{conta.paciente.nome}" width="30%">
                                                <h:outputText id="Paciente" value="#{conta.paciente.nome}" />
                                            </p:column> 
                                            <p:column headerText="Procedimento" sortBy="#{conta.procedimento == null ? conta.item.idServico.descricao : conta.procedimento.descricao}" styleClass="hidden-md hidden-sm hidden-xs" width="20%">
                                                <h:outputText value="#{conta.procedimento == null? conta.item.idServico.descricao : conta.procedimento.descricao}" />
                                            </p:column> 

                                            <p:column headerText="Status" rendered="false" width="15%" >
                                                <center>
                                                    <h:outputText value="#{conta.status}"/>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Data" width="15%" styleClass="hidden-md hidden-sm hidden-xs">
                                                <center>
                                                    <h:outputText value="#{conta.dtProcedimento}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Situação Pgto." width="18%" >
                                                <center>      
                                                    <h:outputText id="focus" value="#{conta.dtRetirada != null ? 'Liberado' : conta.pagamento.movimento == 'C' ? conta.pagamento.situacao == null or conta.pagamento.situacao == '' and conta.pagamento.compensado == 'N' ? 'A Compensar' : conta.pagamento.situacao : conta.contaCorrente.situacao}" 
                                                                  styleClass="#{conta.pagamento.situacao == 'A Compensar' or conta.pagamento.situacao == null or conta.pagamento.situacao == ''? 'label label-default' : conta.pagamento.situacao == 'Enviado ao Banco' or conta.pagamento.movimento == 'Dinheiro'  ? 'label label-success' : 'label label-danger'}" 
                                                                  title="#{conta.pagamento.observacao == null ? '' : conta.pagamento.observacao}" />
                                                    <p:tooltip id="toolTipFocus" for="focus" />
                                                </center>

                                            </p:column>                            
                                            <p:column headerText="Previsão" width="18%" >
                                                <center>
                                                    <h:outputText  value="#{contaCorrenteMB.addDia(conta.dtPrevisao, associacaoMB.retornaPrazoCompensacaoCheque())}" styleClass="#{contaCorrenteMB.addDia(conta.dtPrevisao, associacaoMB.retornaPrazoCompensacaoCheque()).before(contaCorrenteMB.dtAtual) ? 'label label-danger': ''}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Liberado em:" width="15%" styleClass="hidden-md hidden-sm hidden-xs">
                                                <center>
                                                    <h:outputText value="#{conta.dtRetirada}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Valor Pago" width="15%" >
                                                <center>
                                                    <h:outputText value="#{conta.valor}" style="color: #{conta.valor > 0 ? '' : 'red'}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                        </p:dataTable>
                                    </b:column>
                                </b:row>
                                <p:dialog widgetVar="dlgImprimirResumo" modal="true" header="Impressão" 
                                          closable="true" closeOnEscape="true" resizable="false" width="40%">
                                    <h:form id="frmImprimir">
                                        <b:row>
                                            <b:column span="12">
                                                <bcr:alertInfo Descricao="Escolha uma das opções abaixo para imprimir as informações sobre valores de acordo com o status:  " />
                                                <hr/>
                                                <center>
                                                    <p:commandButton value="Todos" icon="imprimir" action="#{contaCorrenteMB.imprimirAtendimentosResumo(sessaoMB.usuario.idTerceiro.idTerceiro, contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo, '%' )}" 
                                                                     onclick="this.form.target = '_blank'" ajax="false" oncomplete="PF('dlgImprimir').hide();">
                                                    </p:commandButton>
                                                    &nbsp;
                                                    <p:commandButton value="Saldo retirado" icon="imprimir" action="#{contaCorrenteMB.imprimirAtendimentosResumo(sessaoMB.usuario.idTerceiro.idTerceiro, contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo, 'Retirado' )}" 
                                                                     onclick="this.form.target = '_blank'" ajax="false" oncomplete="PF('dlgImprimir').hide();">
                                                    </p:commandButton>
                                                    &nbsp;
                                                    <p:commandButton value="Saldo a liberar" icon="imprimir" action="#{contaCorrenteMB.imprimirAtendimentosResumo(sessaoMB.usuario.idTerceiro.idTerceiro, contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo, 'Não Retirado' )}" 
                                                                     onclick="this.form.target = '_blank'" ajax="false" oncomplete="PF('dlgImprimir').hide();">
                                                    </p:commandButton>
                                                </center>
                                            </b:column>
                                        </b:row>
                                    </h:form>
                                </p:dialog>

                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>

    </body>
</html>
