<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Caixa</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulancarcaixa}"/>
                <p:growl id="msg" life="100000"/>
                <b:row rendered="#{sessaoMB.usuario.idPapel.menulancarcaixa}">
                    <f:metadata rendered="#{caixaMB.verificaCaixaAbertoDataAtual()}" >
                        <f:event type="preRenderComponent" listener="#{caixaMB.atualizarSaldoDeAcordoItens()}" >
                            <p:ajax update=":pnl" />
                        </f:event>
                    </f:metadata>
                    <b:column span="12">
                        <ui:include src="includeLancamentoCaixa/iclAberturaCaixa.xhtml" />

                        <b:panel id="pnl" title="Lançamento em Caixa" look="primary" rendered="#{caixaMB.verificaCaixaAbertoDataAtual()}" >
                            <b:row>
                                <b:column span="12">
                                    <p:tabView id="tabs" rendered="#{caixaMB.verificaCaixaAbertoDataAtual()}">
                                        <p:tab title="Movimento Caixa">
                                            <span>Caixa atual: </span> <span style="font-weight: bolder">#{caixaMB.caixaAtual.idCaixaPai}</span>
                                            <br/>
                                            Usuário atual: <span style="font-weight: bolder">#{caixaMB.caixaAtual.idUsuario.usuario}</span><br/>
                                            Tipo Caixa: <span style="font-weight: bolder">#{caixaMB.caixaAtual.tipoCaixa}</span>
                                            <hr/>
                                            <ui:include src="includeLancamentoCaixa/iclMovimentoCaixa.xhtml" />
                                        </p:tab>

                                        <p:tab title="Transferências " rendered="#{caixaMB.caixaAtual.tipoCaixa == 'Repasse'?'false':'true'}" >
                                            <ui:include src="includeLancamentoCaixa/iclTransferencia.xhtml" />
                                        </p:tab>

                                        <p:tab title="Recebimentos" id="tabRecebimentos" rendered="#{caixaMB.caixaAtual.tipoCaixa == 'Repasse'?'false':'true'}">
                                            <ui:include src="includeLancamentoCaixa/iclRecebimento.xhtml" />
                                        </p:tab>
                                        <p:tab title="Pagamento" id="tabPagamentos" rendered="#{caixaMB.caixaAtual.tipoCaixa == 'Repasse'?'true':'false'}">
                                            <ui:include src="includeLancamentoCaixa/iclPagamento.xhtml" />
                                        </p:tab>
                                        <p:tab title="Pendências #{caixaMB.listarItensCaixaAtualPendencia().size()}" id="tabPendencias" rendered="#{caixaMB.caixaAtual.tipoCaixa == 'Repasse'?'true':'false'}">
                                            <ui:include src="includeLancamentoCaixa/iclPendencias.xhtml" />
                                        </p:tab>
                                    </p:tabView>
                                </b:column>
                            </b:row>
                        </b:panel>
                    </b:column>
                </b:row>


            </ui:define>
        </ui:composition>

    </body>
</html>
