<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Motivo</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menumotivo}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Motivo" look="primary" rendered="#{sessaoMB.usuario.idPapel.menumotivo}">
                            <h:form id="formMotivo" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" 
                                                     action="#{motivoMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novomotivo}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{motivoMB.listaMotivos()}" var="motivo" paginator="true" rows="25" lazy="true"
                                                 widgetVar="motiv" emptyMessage="Nenhum registro encontrado"  style="width:100%" >

                                        <p:column  headerText="Controle" width="10%"  >
                                            <p:commandLink title="Editar" id="editBtn" action="#{motivoMB.setMotivo(motivo)}" update=":novo" 
                                                           oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarmotivo}">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            &nbsp;
                                            <p:commandLink title="Excluir" action="#{motivoMB.setMotivo(motivo)}" 
                                                           update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluirmotivo}">
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column  headerText="Código" sortBy="#{motivo.idMotivo}" filterBy="#{motivo.idMotivo}" filterMatchMode="contains" width="15%"  >
                                            <h:outputText value="#{motivo.idMotivo}" />
                                        </p:column>
                                        <p:column  headerText="Usar em" filterBy="#{motivo.tipo}" sortBy="#{motivo.tipo}" filterMatchMode="contains" width="20%"  >
                                            <h:outputText value="#{motivo.tipo}" />
                                        </p:column>
                                        <p:column  headerText="Descrição" filterBy="#{motivo.descricao}" sortBy="#{motivo.descricao}" filterMatchMode="contains" width="75%"  >
                                            <h:outputText value="#{motivo.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Motivo" height="25%" width="50%"  resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="novo">
                                    <b:row>
                                        <b:column span="12">
                                            <b:column span="4">
                                                <bcr:outputrequired value="Usar em:" />
                                                <p:selectOneMenu value="#{motivoMB.motivo.tipo}" style="width: 100%" filter="true" 
                                                                 filterMatchMode="contains" styleClass="form-control" converter="Converter">
                                                    <f:selectItem itemLabel="Todos" itemValue="Todos"/>
                                                    <f:selectItem itemLabel="Orçamentos" itemValue="Orçamentos"/>
                                                    <f:selectItem itemLabel="Devolução" itemValue="Devolução"/>
                                                    <f:selectItem itemLabel="Troca de Repasses" itemValue="Troca de Repasses"/>
                                                </p:selectOneMenu>
                                            </b:column>
                                            <b:column span="8">
                                                <bcr:outputrequired value="Descrição" />
                                                <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" 
                                                              requiredMessage="O campo descrição é obrigatório" value="#{motivoMB.motivo.descricao}" />
                                            </b:column>
                                        </b:column>

                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar" styleClass="btn" update=":formMotivo:dtl, :msg, novo" icon="salvar"  
                                                             action="#{motivoMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                                            &nbsp;
                                            <p:commandButton value="Incluir e continuar" styleClass="btn"
                                                             update=":formMotivo:dtl, :msg, novo" icon="add"  validateClient="true" action="#{motivoMB.salvar()}"
                                                             oncomplete="#{motivoMB.novo()}" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro? " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim, quero excluir." icon="check16" action="#{motivoMB.excluir(motivoMB.motivo)}" 
                                                             update=":formMotivo, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Não." icon="cancel16" oncomplete="PF('dlgConfirm').hide()" 
                                                             action="#{motivoMB.novo()}" update=":formMotivo" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>

                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
