<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       xmlns:b="http://bootsfaces.net/ui"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Unidade de Atendimento</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuunidadeatendimento}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Unidade de Atendimento" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuunidadeatendimento}">
                            <h:form id="frmUnidadeAtendimento">
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{unidadeAtendimentoMB.novo()}" update=":frmNovo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novounidadeatendimento}" />
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="tblUnidadeAtendimento" value="#{unidadeAtendimentoMB.model}" lazy="true" var="consul" rows="5" paginator="true" style="width: 100%"  widgetVar="tblunid" emptyMessage="Nenhum registro encontrado!">

                                        <p:column  headerText="Controle" width="10%"  >
                                            <p:commandLink id="btnEdit" title="Editar" actionListener="#{unidadeAtendimentoMB.selecionarporid(consul.idUnidade) }" oncomplete="PF('dlgNovo').show()" update=":frmNovo" rendered="#{sessaoMB.usuario.idPapel.editarunidadeatendimento}">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            <p:blockUI block="tblUnidadeAtendimento"  trigger="btnEdit" >
                                                Carregando Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                            &nbsp;
                                            <p:commandLink id="btnExcluir" title="Excluir" actionListener="#{unidadeAtendimentoMB.selecionarporid(consul.idUnidade) }" oncomplete="PF('dlgConfirm').show(); " update=":frmConfirm"  disabled="#{consul.cirurgiaList.size()>0?'true':consul.orcamentoList.size()>0?'true':'false'}" rendered="#{sessaoMB.usuario.idPapel.excluirunidadeatendimento}" >
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                            <p:blockUI block="tblUnidadeAtendimento"  trigger="btnExcluir" >
                                                Excluindo Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                        </p:column>
                                        <p:column headerText="Código" filterBy="#{consul.idUnidade}" sortBy="#{consul.idUnidade}" width="8%">
                                            <h:outputText value="#{consul.idUnidade}" style="size: 100px"/>
                                        </p:column>
                                        <p:column headerText="Descrição" filterBy="#{consul.descricao}" sortBy="#{consul.descricao}">
                                            <h:outputText value="#{consul.descricao}"/>
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>


                            <p:dialog widgetVar="dlgNovo" modal="True" header="Nova Unidade de Atendimento" height="25%" width="50%" closeOnEscape="true" resizable="false" closable="true" >
                                <h:form id="frmNovo">
                                    <p:messages id="msgs2" />
                                    <b:column span="6">
                                        <b:column span="12">
                                            <bcr:outputrequired value="Descrição" />
                                            <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" 
                                                          requiredMessage="O campo Descrição é obrigatório." value="#{unidadeAtendimentoMB.unidadeAtendimento.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)"/>
                                        </b:column>
                                    </b:column>
                                    <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                        <h:outputText value="Inativo?" /><br/>
                                        <p:selectBooleanCheckbox id="inativo" value="#{unidadeAtendimentoMB.unidadeAtendimento.inativo}"  />
                                        <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar" id="salvar" action="#{unidadeAtendimentoMB.salvar()}"
                                                         update=":frmUnidadeAtendimento, :msg, @this, :frmUnidadeAtendimento:tblUnidadeAtendimento" icon="salvar"
                                                         oncomplete="if (!args.validationFailed ) PF('dlgNovo').hide();"/>
                                    </b:column>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText rendered="#{unidadeAtendimentoMB.unidadeAtendimento.cirurgiaList.size() >  0? 'true' : unidadeAtendimentoMB.unidadeAtendimento.orcamentoList.size() > 0 ? 'true' : 'false' }" styleClass="avisoExclusao"  value="Atenção! Este Registro não pode ser excluído pois está sendo usado!" /><br/>
                                        <h:outputText rendered="#{unidadeAtendimentoMB.unidadeAtendimento.cirurgiaList.size() >  0? 'false' : unidadeAtendimentoMB.unidadeAtendimento.orcamentoList.size() > 0 ? 'false' : 'true' }" styleClass="avisoExclusao" value="Você confirma a exclusão do registro  #{unidadeAtendimentoMB.unidadeAtendimento.idUnidade} ? " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton rendered="#{unidadeAtendimentoMB.unidadeAtendimento.cirurgiaList.size() >  0? 'false' : unidadeAtendimentoMB.unidadeAtendimento.orcamentoList.size() > 0 ? 'false' : 'true' }" value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{unidadeAtendimentoMB.excluir()}" oncomplete="PF('dlgConfirm').hide(); " update=":frmUnidadeAtendimento, :msg"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{unidadeAtendimentoMB.novo()}"  />   
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
