<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Relatório de Orçamentos</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulistagemorcamento}"/>
                <b:column span="12">
                    <p:messages autoUpdate="true"/>
                    <b:panel  title="Listagem de Orçamentos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menulistagemorcamento}">
                        <h:form id="frmConsultar">
                            <b:column span="12">
                                <b:row>
                                    <b:column span="2" >
                                        <h:outputText value="Filtrar por"/>
                                        <p:selectOneMenu value="#{orcamentoMB.paramTipoData}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Data Orçamento" itemValue="Orçamento" />
                                            <f:selectItem itemLabel="Data Agendado" itemValue="Agendado" />
                                            <f:selectItem itemLabel="Data Vencimento" itemValue="Vencimento" />
                                            <f:selectItem itemLabel="Data Finalização" itemValue="Finalização" />
                                            <f:selectItem itemLabel="Horário de lançamento" itemValue="Hora" />
                                            <p:ajax update="@form"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="2" >
                                        <h:outputText value="Data Inicial"/>
                                        <p:calendar value="#{orcamentoMB.dtInicialPesquisa}" placeholder="Data Inicial" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                    </b:column>
                                    <b:column span="2">
                                        <h:outputText value="Data Final"/>
                                        <p:calendar value="#{orcamentoMB.dtFinalPesquisa}" placeholder="Data Final" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Paciente"/>
                                        <h:panelGrid columns="3" style="width: 110% !important;">
                                            <p:inputText id="paciente" value="#{orcamentoMB.nomePacientePesquisa != null ? orcamentoMB.nomePacientePesquisa : ''}" 
                                                         placeholder="Todos os pacientes" readonly="true" styleClass="form-control">
                                                <p:ajax update="@this"/>
                                            </p:inputText>
                                            <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" 
                                                             immediate="true" action="#{orcamentoMB.carregarPacientesLazyModel()}" update=":dlgConsultaPacientePesquisa:frmConsultaPacientePesquisa"
                                                             onclick="PF('dlgConsultaPacientePesquisa').show();"/>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-md="2" col-sm="12" col-xs="12">
                                        <h:outputText value="Utilizados?"/>
                                        <p:selectOneMenu value="#{orcamentoMB.paramSemFechamentos}" style="width: 100%" styleClass="form-control" filter="true"
                                                         filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue=""/>
                                            <f:selectItem itemLabel="Utilizados" itemValue="Não" />
                                            <f:selectItem itemLabel="Não Utilizados" itemValue="Sim" />                                            
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="2" rendered="#{orcamentoMB.paramTipoData == 'Hora'}" >
                                        <h:outputText value="Horário Inicial"/>
                                        <p:calendar value="#{orcamentoMB.horarioInicialPesquisa}" placeholder="Horário Inicial" pattern="HH:mm" timeOnly="true" locale="pt" />
                                    </b:column>
                                    <b:column span="2" rendered="#{orcamentoMB.paramTipoData == 'Hora'}">
                                        <h:outputText value="Horário Final"/>
                                        <p:calendar value="#{orcamentoMB.horarioFinalPesquisa}" placeholder="Horário Final" pattern="HH:mm" timeOnly="true" locale="pt"/>
                                    </b:column>
                                    <b:column span="2" rendered="#{orcamentoMB.paramTipoData != 'Hora'}">
                                        <h:outputText value="Status"/>
                                        <p:selectOneMenu value="#{orcamentoMB.idStatusPesquisa}" style="width: 100%" styleClass="form-control" 
                                                         filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue=""/>
                                            <f:selectItems value="#{orcamentoMB.listaStatus()}" var="st"
                                                           itemLabel="#{st.descricao}" itemValue="#{st.idStatus}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    
                                    <b:column col-md="2" col-sm="12" col-xs="12" rendered="#{orcamentoMB.paramTipoData != 'Hora'}">
                                        <h:outputText value="Adiantamento?"/>
                                        <p:selectOneMenu value="#{orcamentoMB.paramAdiantamento}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue=""/>
                                            <f:selectItem itemLabel="Já lançados" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não lançados" itemValue="Não" />
                                            <f:selectItem itemLabel="Sem Adiantamento" itemValue="Sem" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Médico"/>
                                        <p:selectOneMenu value="#{orcamentoMB.paramTerceiro}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter">
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItems value="#{terceiroMB.listaTerceiros()}" var="ter"
                                                           itemLabel="#{ter.nome != null ? ter.nome : ter.nomeFantasia}" 
                                                           itemValue="#{ter.idTerceiro}"/>

                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Procedimento"/>
                                        <p:selectOneMenu value="#{orcamentoMB.paramProcedimento}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter" >
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItems value="#{procedimentoMB.listaProcedimentos()}" var="pro"
                                                           itemLabel="#{pro.descricao}" itemValue="#{pro.idProcedimento}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton styleClass="btn btn-primary"
                                                         value="Sintético" action="#{orcamentoMB.imprimirListagemOrcamento()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn btn-success" disabled="#{orcamentoMB.paramTipoData == 'Hora'}"
                                                         value="Envio/Recebimento Email OPME" action="#{orcamentoMB.imprimirListagemOrcamentoEnvioRecebimento()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn btn-warning" disabled="#{orcamentoMB.paramTipoData == 'Hora'}"
                                                         value="Resumo" action="#{orcamentoMB.imprimirListagemOrcamentoPorPaciente()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        &nbsp;
                                        <p:commandButton styleClass="btn" disabled="#{orcamentoMB.paramTipoData == 'Hora'}"
                                                         value="Por Agrupamento" action="#{orcamentoMB.imprimirListagemOrcamentoPorAgrupamento()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                        
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                        <!-- Consultar Paciente em Pesquisa -->
                        <bcr:dialogPesquisaPaciente id="dlgConsultaPacientePesquisa" header="Consulta de Paciente" idDatatable="dtlConsultarPaciente" idDialogo="dlgConsultaPacientePesquisa"
                                                    idForm="frmConsultaPacientePesquisa" updateBtnSelecionar=":frmConsultar:paciente" mostrarBotaoPacienteNaoCadastrado="true"
                                                    action="#{orcamentoMB.selecionarPacientePesquisa(varPaciente)}" actionTodosPacientes="#{orcamentoMB.zerarPaciente()}"/>
                    </b:panel>
                </b:column>
            </ui:define>
        </ui:composition>
    </body>
</html>
