<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Recebimentos</li>
            </ui:define>

            <ui:define name="content">
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Recebimento de Pacientes" look="primary" >
                            <h:form id="frmConsultarRecebimentos">
                                <b:column span="12">
                                    <fieldset>
                                        <legend><i class="fa fa-search"></i> Pesquisar</legend>
                                        <b:column span="2">
                                            <p:inputText placeholder="Nº Cirurgia" value="#{repasseMB.numCirurgia}" styleClass="form-control"/>
                                        </b:column>
                                        <b:column span="2" >
                                            <p:calendar  placeholder="Data Inicial" styleClass="form-control" value="#{repasseMB.dtIni}" pattern="yyyy-MM-dd" locale="pt"   requiredMessage="Informe a data inicial">
                                                <f:convertDateTime pattern="yyyy-MM-dd" />
                                            </p:calendar>

                                        </b:column>
                                        <b:column span="2">
                                            <p:calendar  placeholder="Data Final" styleClass="form-control" value="#{repasseMB.dtFim}"  pattern="yyyy-MM-dd" locale="pt"  requiredMessage="Informe a data final!">
                                                <f:convertDateTime pattern="yyyy-MM-dd" />
                                            </p:calendar>
                                        </b:column>
                                        <b:column span="4">
                                            <p:selectOneMenu  style="width: 100%" styleClass="form-control" value="#{repasseMB.idPac}" filter="true" filterMatchMode="contains" >
                                                <f:selectItem itemLabel="Paciente" itemValue="" />
                                                <f:selectItems value="#{repasseMB.listaPacientes()}" var="pacs"
                                                               itemLabel="#{pacs.nome} | #{pacs.cpf}" itemValue="#{pacs.idPaciente}" />
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="12">
                                            <h:panelGrid columns="2">
                                                <p:commandButton value="Pesquisar" icon="consultar"  styleClass="btn btn-primary" actionListener="#{repasseMB.processarListaRecebimentos()}"  update="tblPesq, :msg"  />
                                                <p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
                                                    <f:facet name="start">
                                                        <img src="Recursos/img/launch_loading.gif" />
                                                    </f:facet>
                                                </p:ajaxStatus>
                                            </h:panelGrid>
                                        </b:column>
                                    </fieldset>
                                </b:column>

                                <b:column span="12" styleClass="total">
                                    <br/>
                                    <p:dataTable id="tblPesq" value="#{repasseMB.listaRepasses}" var="wPesq" 
                                                 emptyMessage="Pesquise a conta que deseja receber!" >
                                        <f:facet name="header">
                                            Registros encontrados: #{repasseMB.listaRepasses.size()}
                                        </f:facet>
                                        <p:column  width="8%" headerText="Receber?" >
                                            <p:selectBooleanButton id="value2" value="#{wPesq.pagar}" onLabel="Sim" offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" style="width:60px">
                                                <p:ajax update="tblPesq" event="change" listener="#{repasseMB.verificarMarcados()}" />
                                            </p:selectBooleanButton>
                                        </p:column>
                                        <p:column headerText="Cirurgia" width="7%">
                                            <!--<p:column selectionMode="multiple" style="width:16px;text-align:center"/>-->
                                            <center> <h:outputText value="#{wPesq.idCirurgia.idCirurgia}" /></center>
                                        </p:column>
                                        <p:column headerText="Paciente">
                                            <h:outputText value="#{wPesq.idPaciente.nome}" />
                                        </p:column>
                                        <p:column headerText="Parcela" width="8%">
                                            <center> <h:outputText value="#{wPesq.numeroParcela}" /></center>
                                        </p:column>
                                        <p:column headerText="Valor" width="10%">
                                            <center>
                                                <h:outputText value="#{wPesq.valor}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Lançamento" width="10%">
                                            <center>
                                                <h:outputText value="#{wPesq.dtLancamento}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Vencimento" width="10%">
                                            <center>
                                                <h:outputText value="#{wPesq.dtVencimento}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Situação">
                                            <h:outputText value="#{wPesq.situacaoPaciente=='A'?'Aberto':wPesq.situacaoPaciente=='X'?'Parcialmente Pago':'Pago'}" />
                                        </p:column>
                                        <p:columnGroup type="footer">
                                            <p:row>
                                                <p:column colspan="3" style="text-align:right" footerText="Total a receber: " />
                                                <p:column colspan="3" footerText="#{repasseMB.formataMoeda(repasseMB.valorTotalPgto)}" style="color: #006621;" />
                                            </p:row>
                                        </p:columnGroup>
                                        <f:facet name="footer" >
                                            <p:commandButton  icon="confirmar"  value="Receber"  update=":frmConfirmarRecebimento"  oncomplete="PF('dlgConfimacao').show()" />
                                        </f:facet>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgConfimacao" header="Recebimento de Documentos" modal="true" width="60%" resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="frmConfirmarRecebimento" >
                                    <div class="row">
                                        <b:column id="clnWarning" span="12">
                                            <br/>
                                            <bcr:alertWarning rendered="#{repasseMB.percentualTotal != 100?'true':'false'}" Titulo="Atenção!" Descricao="Você não está efetuando o pagamento do valor total dos documentos ! Neste caso será gerada uma nova parcela do restante do valor deste documento." />
                                        </b:column>
                                        <b:column span="12">

                                            <fieldset>
                                                <legend style="width: 30%">Informe os dados</legend>
                                                <b:column span="12">
                                                    <bcr:alertWarning Titulo="Alerta: " Descricao=" Selecione um documento para receber!" rendered="#{repasseMB.valorTotalPgto==0.0?'true':'false'}" />
                                                </b:column>
                                                <b:column span="3">
                                                    <bcr:outputrequired value="Valor Recebido:"  />
                                                    <p:inputText value="#{repasseMB.valor_recebido}"    styleClass="form-control" required="true" requiredMessage="Informe o valor recebido" >
                                                        <p:ajax event="blur" listener="#{repasseMB.calcularPercentual()}" update="percentual,@this,clnWarning" />
                                                        <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />

                                                    </p:inputText>
                                                </b:column>
                                                <b:column span="3">
                                                    Desconto:  
                                                    <p:inputText value="#{repasseMB.desconto}"  styleClass="form-control" >
                                                        <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                        <p:ajax update="@this" event="blur"/>
                                                    </p:inputText>
                                                </b:column>
                                                <b:column span="3">
                                                    Acréscimo:  
                                                    <p:inputText value="#{repasseMB.acrescimo}"  styleClass="form-control" >
                                                        <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                        <p:ajax update="@this" event="blur"/>
                                                    </p:inputText>
                                                </b:column>
                                                <b:column span="3">
                                                    Juros:  
                                                    <p:inputText value="#{repasseMB.juros}"  styleClass="form-control" >
                                                        <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                        <p:ajax update="@this" event="blur"/>
                                                    </p:inputText>
                                                </b:column>
                                                <b:column span="6">
                                                    <bcr:outputrequired value="Data e Hora de Recebimento:"  />
                                                    <p:calendar value="#{repasseMB.dt_recebimento}" placeholder="Data Inicial"  pattern="dd/MM/yyyy HH:mm:ss" locale="pt" required="true" requiredMessage="Informe a data de recebimento"/>
                                                </b:column>
                                                <b:column span="3">
                                                    % Diferença:  
                                                    <p:inputText id="percentual" value="#{repasseMB.percentualTotal}" readonly="true"  styleClass="form-control" >
                                                        <f:convertNumber groupingUsed="true" minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                    </p:inputText>
                                                </b:column>
                                                <b:column span="12">

                                                    Observação:  

                                                    <p:inputTextarea value="#{repasseMB.obs}" styleClass="form-control" autoResize="false" rows="2" >
                                                    </p:inputTextarea>
                                                </b:column>
                                            </fieldset>
                                        </b:column>
                                    </div>
                                    <p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;" >
                                        <f:facet name="start">
                                            <h:panelGrid columns="2">
                                                <img src="Recursos/img/launch_loading.gif" />
                                                <h:outputText value="Aguarde! O Sistema está fazendo os calculos!" />
                                            </h:panelGrid>
                                        </f:facet>
                                        <f:facet name="complete">
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <div class="row">
                                        <b:column span="6">
                                            <fieldset>
                                                <legend style="width: 30%">Totais</legend>
                                                <h:panelGrid id="pnlTotaisRep" columns="2" style="width: 100%">
                                                    <h:outputText value="Valor Itens: " style="font-weight: bolder; font-size: 16px;" />
                                                    <h:outputText value="#{repasseMB.valorTotalPgto}" style="font-weight: bolder; font-size: 16px;" >
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                            </fieldset>
                                        </b:column>
                                        <b:column span="6">

                                        </b:column>
                                        <br/>
                                        <b:column span="12">
                                            <br/>
                                            <p:commandButton disabled="#{repasseMB.valorTotalPgto==0.0 ? 'true':'false'}" icon="confirmar" value="Confirmar" update=":frmConsultarRecebimentos, :msg"   action="#{repasseMB.ConfirmarRecebimento()}" oncomplete="if (!args.validationFailed){PF('dlgConfimacao').hide()}" />
                                        </b:column>
                                    </div>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
