<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Consulta Terceiro</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuconsultaterceiro}" />
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Consulta Terceiro" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuconsultaterceiro}" >
                            <hr/>
                            <div class="tab-content">
                                <h:form id="consultaPrincipal">
                                    <p:dataTable id="dt2" value="#{terceiroMB.model}" var="ter" lazy="true"  paginator="true" rows="25" 
                                                 widgetVar="terTbl" emptyMessage="Nenhum registro encontrado"   style="width:100%" >
                                        <f:facet name="header">
                                            <!--                                            <p:outputPanel>
                                                                                            <p:inputText id="globalFilter"  onkeyup="PF('terTbl').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                                                                        </p:outputPanel>-->
                                        </f:facet>
                                        <p:column  headerText="Controle" width="10%"  >

                                            <p:commandLink   rendered="#{ter.tipoPessoa == 'J'? 'false' : 'true' }" title="Informação" id="informbtnF" oncomplete="PF('dlgInfoF').show()"  action="#{terceiroMB.selecionaPorID(ter.idTerceiro)}" update=":frmInfoF">
                                                <p:graphicImage value="Recursos/icons/Info.png" />
                                            </p:commandLink>
                                            <p:blockUI block="dt2"  trigger="informbtnF" >
                                                <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                            </p:blockUI>
                                            <p:commandLink  rendered="#{ter.tipoPessoa == 'F'? 'false' : 'true' }" title="Informação" id="informbtnJ" oncomplete="PF('dlgInfoJ').show()"  action="#{terceiroMB.selecionaPorID(ter.idTerceiro)}"  update=":frmInfoJ">
                                                <p:graphicImage value="Recursos/icons/Info.png" />
                                            </p:commandLink>
                                            <p:blockUI block="dt2"  trigger="informbtnJ" >
                                                <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                            </p:blockUI>

                                        </p:column>
                                        <p:column filterBy="#{ter.idTerceiro}" sortBy="#{ter.idTerceiro}" headerText="Código"  filterMatchMode="contains" width="10%">
                                            <h:outputText value="#{ter.idTerceiro}" />
                                        </p:column>
                                        <p:column filterBy="#{ter.tipoPessoa == 'F' ? ter.nome : ter.nomeFantasia}" headerText="Nome/Nome Fantasia"  filterMatchMode="contains" width="25%" >
                                            <h:outputText value="#{ter.tipoPessoa == 'F' ? ter.nome : ter.nomeFantasia}" />
                                        </p:column>
                                        <p:column filterBy="#{ter.tipoPessoa}" sortBy="#{ter.tipoPessoa}" headerText="Tipo Pessoa"  filterMatchMode="exact">
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('terTbl').filter()" value="#{terceiroMB.tipo}" >
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="Física" itemValue="F" />
                                                    <f:selectItem itemLabel="Jurídica" itemValue="J" />
                                                    <p:ajax update="maskInput"/>
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{ter.tipoPessoa == 'F' ? 'Física':'Jurídica'}" />
                                        </p:column>
                                        <p:column  headerText="CPF/CNPJ" filterBy="#{ter.cgccpf}"  filterMatchMode="contains" width="15%">
                                            <f:facet name="filter">
                                                <p:inputMask id="maskInput"
                                                             styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                             onchange="PF('terTbl').filter()"
                                                             onselect="PF('terTbl').filter()"
                                                             onblur="PF('terTbl').filter()"
                                                             mask="#{terceiroMB.tipo =='F'? '999.999.999-99': terceiroMB.tipo =='J'?'99.999.999/9999-99' : ''}"
                                                             />
                                            </f:facet>
                                            <h:outputText value="#{ter.cgccpf}" />
                                        </p:column>
                                        <p:column  headerText="Telefone" style="-webkit-mask: '(99)9999-9999'" filterBy="#{ter.telefone}"  sortBy="#{ter.telefone}" filterMatchMode="contains" width="15%">
                                            <f:facet name="filter">
                                                <p:inputMask
                                                    styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                    onchange="PF('terTbl').filter()"
                                                    onselect="PF('terTbl').filter()"
                                                    onblur="PF('terTbl').filter()"
                                                    onkeypress="PF('terTbl').filter()"
                                                    mask="(99)9999-9999"
                                                    />
                                            </f:facet>
                                            <h:outputText value="#{ter.telefone}" />
                                        </p:column>
                                        <p:column filterBy="#{ter.idEspecialidade.descricao}" headerText="Especialidade" sortBy="#{ter.idEspecialidade.descricao}" filterMatchMode="exact">
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('terTbl').filter()" filter="true" filterMatchMode="contains" >
                                                    <f:selectItem itemLabel="Selecione " itemValue="#{null}" noSelectionOption="true" />
                                                    <f:selectItems value="#{terceiroMB.listaEspecialidades()}" var="esp"
                                                                   itemLabel="#{esp.descricao}" itemValue="#{esp.descricao}"/>
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{ter.idEspecialidade.descricao}" />
                                        </p:column>
                                    </p:dataTable> 
                                </h:form>
                            </div>
                        </b:panel>
                    </b:column>
                </b:row>
                <p:dialog widgetVar="dlgInfoF" modal="true" header="Informação do Terceiero" width="70%" resizable="false" maximizable="true" minimizable="true" closable="true" closeOnEscape="true"> 
                    <h:form id="frmInfoF">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sectionC">Dados Básicos</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Movimentação <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-toggle="tab" href="#dropdown1">Orçamentos</a></li>
                                    <li><a data-toggle="tab" href="#dropdown2">Cirurgias</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionC" class="tab-pane fade in active">
                                <div class="container">
                                    <div class="row">
                                        <b:panel title="#{terceiroMB.terceiro.nome}">
                                            <b:column span="4">
                                                <p><strong>Código: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.idTerceiro}" />
                                                </p>
                                                <p><strong>Nome: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.nome}" />
                                                </p>
                                                <p><strong>Especialidade: </strong> 
                                                    <h:outputText value="#{terceiroMB.especialidade.descricao}" />
                                                </p>
                                                <p><strong>Telefone: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.telefone}" />
                                                </p>
                                            </b:column>
                                            <b:column span="8">
                                                <p><strong>CPF/CNPJ </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.cgccpf}" />
                                                </p>
                                                <p><strong>Tipo Conselho: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.tipoConselho}" />
                                                </p>
                                                <p><strong>Num. Conselho: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.numeroConselho}" />
                                                </p>
                                                <p><strong>RG: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.rg}" />
                                                </p>
                                                <p><strong>Sexo: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.sexo}" />
                                                </p>
                                            </b:column>
                                        </b:panel>
                                        <b:panel title="Endereço">
                                            <b:column span="8">
                                                <p><strong>Logradouro: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.logradouro}" />
                                                </p>

                                                <p><strong>Número: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.numero}" />
                                                </p>
                                                <p><strong>Cidade: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.cidade}" />
                                                </p>   
                                                <p><strong>Bairro: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.bairro}" />
                                                </p>
                                                <p><strong>Estado: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.uf}" />
                                                </p>
                                                <p><strong>Complemento: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.complemento}" />
                                                </p>
                                                <p><strong>CEP: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.cep}" />
                                                </p>
                                            </b:column>
                                        </b:panel>
                                    </div>
                                </div>
                            </div>

                            <div id="dropdown1" class="tab-pane fade">
                                <div class="container">
                                    <div class="row">
                                        <b:panel title="#{terceiroMB.terceiro.nome}">
                                        </b:panel>
                                    </div>
                                </div>
                            </div>
                            <div id="dropdown2" class="tab-pane fade">
                                <div class="container">
                                    <div class="row">
                                        <b:panel title="#{terceiroMB.terceiro.nome}">
                                        </b:panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </p:dialog>
                <p:dialog widgetVar="dlgInfoJ" modal="true" header="Informação do Terceiero" width="70%" resizable="false" maximizable="true" minimizable="true" closable="true" closeOnEscape="true"> 
                    <h:form id="frmInfoJ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sectionC">Dados Básicos</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Movimentação <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-toggle="tab" href="#dropdown1">Orçamentos</a></li>
                                    <li><a data-toggle="tab" href="#dropdown2">Cirurgias</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionC" class="tab-pane fade in active">
                                <div class="container">
                                    <div class="row">
                                        <b:panel title="#{terceiroMB.terceiro.nome}">
                                            <b:column span="4">
                                                <p><strong>Código: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.idTerceiro}" />
                                                </p>
                                                <p><strong>Tipo Pessoa: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.tipoPessoa}" />
                                                </p>
                                                <p><strong>Nome Fantasia: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.nomeFantasia}" />
                                                </p>
                                                <p><strong>Razão Social:: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.razaoSocial}" />
                                                </p>
                                                <p><strong>Telefone: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.telefone}" />
                                                </p>
                                                <p><strong>CPF/CNPJ: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.cgccpf}" />
                                                </p>
                                                <p><strong>IE: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.ie}" />
                                                </p>
                                            </b:column>
                                            <b:column span="8">

                                            </b:column>
                                        </b:panel>
                                        <b:panel title="Endereço">
                                            <b:column span="8">
                                                <p><strong>Logradouro: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.logradouro}" />
                                                </p>
                                                <p><strong>Número: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.numero}" />
                                                </p>
                                                <p><strong>Cidade: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.cidade}" />
                                                </p>   
                                                <p><strong>Bairro: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.bairro}" />
                                                </p>
                                                <p><strong>Estado: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.uf}" />
                                                </p>
                                                <p><strong>Complemento: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.complemento}" />
                                                </p>
                                                <p><strong>CEP: </strong> 
                                                    <h:outputText value="#{terceiroMB.terceiro.cep}" />
                                                </p>
                                            </b:column>
                                        </b:panel>
                                    </div>
                                </div>
                            </div>

                            <div id="dropdown1" class="tab-pane fade">
                                <div class="container">
                                    <div class="row">
                                        <b:panel title="#{terceiroMB.terceiro.nome}">
                                        </b:panel>
                                    </div>
                                </div>
                            </div>
                            <div id="dropdown2" class="tab-pane fade">
                                <div class="container">
                                    <div class="row">
                                        <b:panel title="#{terceiroMB.terceiro.nome}">
                                        </b:panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>
