<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Terceiro</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuterceiro}"/>
                <script>
                    function up(lstr) {
                        var str = lstr.value;
                        lstr.value = str.toUpperCase();
                    }
                </script>
                <p:growl id="msg" />
                <b:row>
                    <b:column col-md="12">
                        <b:panel id="pnl" title="Cadastro de Terceiro" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuterceiro}">
                            <p:commandButton value="Novo" icon="add" immediate="true"  update=":tblPrincipal, @all" 
                                             styleClass="btn" onclick="mudaClasse()" rendered="#{sessaoMB.usuario.idPapel.novoterceiro}">
                            </p:commandButton>
                            <hr/>
                            <script>
                                function mudaClasse() {
                                    $("#liSecA").removeClass("active"); //colocar id no li onde referencia o links
                                    $("#sectionA").removeClass("in active"); // id da tab no caso retira da que fica ativa primeiro
                                    $("#liSecB").addClass("active");
                                    $("#sectionB").addClass("in active");
                                    document.getElementById('tblPrincipal:nome').focus();
                                }
                                function mudaFocoCPF() {
                                    document.getElementById('tblPrincipal:cnpj').focus();
                                }
                            </script>
                            <b:row>
                                <b:column col-md="5" >
                                    <p:messages id="msgBar" closable="true" />
                                    <h:form id="tblPrincipal" rendered="#{sessaoMB.usuario.idPapel.novoterceiro}">
                                        <p:focus context="tblPrincipal" />
                                        <br/>
                                        <b:row>
                                            <div id="DadosBasicos" class="tab-pane fade in active">
                                                <b:column col-xs="6" col-sm="6" col-md="2" col-lg="2">
                                                    <h:outputText value="Inativo" /><br/>
                                                    <p:selectBooleanCheckbox id="inativo" value="#{terceiroMB.terceiro.inativo}"  />
                                                    <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                                </b:column>
                                                <b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
                                                    <b:row>
                                                        <b:column col-xs="6" col-sm="6" col-md="6" col-lg="4">
                                                            <bcr:outputrequired value="Tipo" />                              
                                                            <p:selectOneMenu id="tipoPes" styleClass="form-control" value="#{terceiroMB.terceiro.tipoPessoa}"  required="true" requiredMessage="Tipo de Pessoa é obrigatório!">
                                                                <f:selectItem itemLabel="Física" itemValue="F"/>
                                                                <f:selectItem itemLabel="Jurídica" itemValue="J"/>
                                                                <p:ajax update="tblPrincipal"/>
                                                            </p:selectOneMenu>
                                                        </b:column>
                                                        <b:column col-xs="12" col-sm="12" col-md="12" col-lg="8" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                                            <bcr:outputrequired value="Nome"  rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />  
                                                            <p:inputText  styleClass="form-control" onkeyup="up(this);" required="true" id="nome"  
                                                                          label="Nome" requiredMessage="Nome é obrigatório" value="#{terceiroMB.terceiro.nome}" 
                                                                          onblur="capitaliseFirstLetter(this.value, this.id)" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                                        </b:column>

                                                        <b:column col-xs="6" col-sm="6" col-md="6" col-lg="2" rendered="false">
                                                            <h:outputText value="Hospitalar?" />
                                                            <br/>
                                                            <p:selectBooleanButton style="height: 34px !important" value="#{terceiroMB.terceiro.terceiroMedHosp}" onLabel="Sim" offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" styleClass="btn btn-primary" />
                                                        </b:column>   
                                                        <b:column col-xs="6" col-sm="6" col-md="6" col-lg="8" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}">
                                                            <bcr:outputrequired value="Nome Fantasia" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                                            <p:inputText  styleClass="form-control" onkeyup="up(this);" required="true" id="nomeFan"  label="Nome Fantasia" requiredMessage="Nome fantasia é obrigatório" value="#{terceiroMB.terceiro.nomeFantasia}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" onblur="capitaliseFirstLetter(this.value, this.id)"/>
                                                        </b:column>
                                                        <b:column col-xs="6" col-sm="6" col-md="6" col-lg="8" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}">
                                                            <bcr:outputrequired value="Razão Social *" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}"/>
                                                            <p:inputText  styleClass="form-control" onkeyup="up(this);" required="true" id="razao"  label="Nome" requiredMessage="Razão social é obrigatório" value="#{terceiroMB.terceiro.razaoSocial}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                                        </b:column>
                                                        <b:column col-xs="12" col-sm="12" col-md="6" col-lg="4" >                                                
                                                            <bcr:outputrequired  value="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'}"  />
                                                            <p:inputMask required="true" styleClass="form-control" id="cnpj" mask="#{terceiroMB.terceiro.tipoPessoa == 'J'? '99.999.999/9999-99' : '999.999.999-99'}"  
                                                                         value="#{terceiroMB.terceiro.cgccpf}" size="24" requiredMessage="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'} é obrigatório">
                                                                <f:attribute name="param" value="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'}"/>
                                                                <f:attribute name="paramID" value="#{terceiroMB.terceiro.idTerceiro}"/>
                                                                <f:validator validatorId="cpfcnpjExistValidation" />
                                                                <p:ajax  event="blur" update=":msgBar" listener="#{terceiroMB.verificaCPFCNPJ()}"/>
                                                            </p:inputMask>
                                                        </b:column>
                                                        <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                                            <h:outputText value="Sexo" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                                            <p:selectOneMenu value="#{terceiroMB.terceiro.sexo}" styleClass="form-control"  filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                                                <f:selectItem itemLabel="" itemValue="" />
                                                                <f:selectItem itemLabel="Masculino" itemValue="M" />
                                                                <f:selectItem itemLabel="Feminino" itemValue="F" />
                                                            </p:selectOneMenu>
                                                        </b:column>
                                                        <b:column col-xs="6" col-sm="6" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                                            <bcr:outputrequired value="Especialidade" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />  
                                                            <h:panelGrid columns="3" style="width: 100% !important;">
                                                                <p:selectOneMenu required="true" requiredMessage="Especialidade é obrgatório" id="selectEspecialidade" 
                                                                                 styleClass="form-control" value="#{terceiroMB.especialidade.idEspecialidade}" 
                                                                                 filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                                                    <f:selectItem itemLabel="Selecione" itemValue=""/>
                                                                    <f:selectItems value="#{terceiroMB.listaEspecialidades()}" var="esp"
                                                                                   itemLabel="#{esp.descricao}" itemValue="#{esp.idEspecialidade}" >
                                                                    </f:selectItems>
                                                                </p:selectOneMenu>
                                                                <p:commandButton style="height: 34px !important" immediate="true" update=":formCadastroEspecialidade" action="#{especialidadeMB.novo()}" icon="add" styleClass="btn btn-input"
                                                                                 oncomplete="PF('dlgCadastrarEspecialidade').show()" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                                            </h:panelGrid>
                                                        </b:column>


                                                        <b:column col-xs="6" col-sm="4" col-md="8" col-lg="8" >
                                                            <bcr:outputrequired value="Telefone" />
                                                            <p:inputMask value="#{terceiroMB.terceiro.telefone}"  styleClass="form-control" required="true" id="telefone" 
                                                                         label="Telefone"  requiredMessage="Telefone é obrigatório" mask="(99) 99999999?9" >
                                                            </p:inputMask>
                                                        </b:column>

                                                        <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4" >
                                                            <h:outputText value="Celular" />
                                                            <p:inputMask value="#{terceiroMB.terceiro.celular}"  styleClass="form-control" 
                                                                         id="celular" mask="(99) 99999999?9" >
                                                            </p:inputMask>
                                                        </b:column>

                                                    </b:row>
                                                    <b:row>
                                                        <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                                            <bcr:outputrequired value="Tipo Conselho" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                                            <p:selectOneMenu required="true" value="#{terceiroMB.terceiro.tipoConselho}" requiredMessage="Tipo Conselho é obrigatório" 
                                                                             styleClass="form-control"  filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                                                <f:selectItem itemLabel="" itemValue="" />
                                                                <f:selectItem itemLabel="CRM" itemValue="CRM" />
                                                                <f:selectItem itemLabel="COREN" itemValue="COREN" />
                                                                <f:selectItem itemLabel="CREFITO" itemValue="CREFITO" />
                                                            </p:selectOneMenu>
                                                        </b:column>
                                                        <b:column col-xs="12" col-sm="12" col-md="6" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                                            <bcr:outputrequired value="Número Conselho" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                                            <p:inputText  required="true" requiredMessage="Número Conselho é obrigatório" styleClass="form-control"  id="descCons" 
                                                                          value="#{terceiroMB.terceiro.numeroConselho}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                                        </b:column>

                                                        <b:column col-xs="6" col-sm="6" col-md="2" col-lg="2" rendered="false">
                                                            <h:outputText value="IE " rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                                            <p:inputText  styleClass="form-control"  id="ie"  label="Nome" onblur="if (this.value == '') {
                                                                        this.value = 'ISENTO'
                                                                    }" value="#{terceiroMB.terceiro.ie}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                                        </b:column>


                                                        <b:column col-xs="6" col-sm="4" col-md="4" col-lg="4" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}">
                                                            <h:outputText value="RG" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                                            <p:inputText value="#{terceiroMB.terceiro.rg}" styleClass="form-control"  id="rg" label="RG" 
                                                                         rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"  />
                                                        </b:column>
                                                    </b:row>


                                                </b:column>
                                            </div>
                                            <b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
                                                <hr/>
                                                <p:commandButton value="Salvar" id="salvar" action="#{terceiroMB.salvar()}" 
                                                                 styleClass="btn btn-primary" update=":tblPrincipal, :consultaPrincipal,:msgBar" icon="salvar" />

                                                &nbsp;
                                                <p:commandButton  value="Limpar" styleClass="btn"  icon="limpar" immediate="true"  >
                                                    <p:ajax update="@form" listener="#{terceiroMB.novo()}"  resetValues="true" />
                                                </p:commandButton>
                                            </b:column>
                                        </b:row>
                                    </h:form>
                                </b:column>
                                <b:column col-md="7">
                                    <h:form id="consultaPrincipal">
                                        <p:dataTable id="dt2" value="#{terceiroMB.model2}" var="ter" lazy="true" paginator="true" rows="10"
                                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                     rowsPerPageTemplate="10,25,50,100,200" paginatorPosition="bottom"
                                                     widgetVar="terTbl" emptyMessage="Nenhum registro encontrado"   style="width:100%" >    
                                            <p:column headerText="Controle" width="15%"  >
                                                <center>
                                                    <p:commandLink title="Editar" id="editBtn"  action="#{terceiroMB.selecionaPorID(ter.idTerceiro)}" update=":tblPrincipal" 
                                                                   onclick="mudaClasse();" rendered="#{sessaoMB.usuario.idPapel.editarterceiro}">
                                                        <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                    </p:commandLink>
                                                    &nbsp;
                                                    <p:commandLink  rendered="#{ter.tipoPessoa == 'J'? 'false' : 'true' and sessaoMB.usuario.idPapel.infoterceiro }" title="Informação" id="informbtnF" oncomplete="PF('dlgInfoF').show()"  action="#{terceiroMB.selecionaPorID(ter.idTerceiro)}" update=":frmInfoF">
                                                        <p:graphicImage value="Recursos/icons/Info.png" />
                                                    </p:commandLink>
                                                    <p:commandLink  rendered="#{ter.tipoPessoa == 'F'? 'false' : 'true' and sessaoMB.usuario.idPapel.infoterceiro}" title="Informação" id="informbtnJ" oncomplete="PF('dlgInfoJ').show()"  action="#{terceiroMB.selecionaPorID(ter.idTerceiro)}"  update=":frmInfoJ">
                                                        <p:graphicImage value="Recursos/icons/Info.png" />
                                                    </p:commandLink>
                                                    &nbsp;                                                                                                          
                                                    <p:commandLink title="Excluir" id="infoExc" actionListener="#{terceiroMB.selecionaPorID(ter.idTerceiro)}" update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" 
                                                                   rendered="#{sessaoMB.usuario.idPapel.excluirterceiro}" >
                                                        <p:graphicImage value="Recursos/icons/Delete.png" />
                                                    </p:commandLink>
                                                </center>
                                            </p:column>
                                            <p:column filterBy="#{ter.nome}" sortBy="#{ter.nome }"  headerText="Nome/Nome Fantasia"  filterMatchMode="contains" width="40%" >
                                                <h:outputText value="#{ter.tipoPessoa == 'F' ? ter.nome : ter.nomeFantasia != null ? ter.nomeFantasia : ter.nome}" />
                                            </p:column>

                                            <p:column  headerText="CPF/CNPJ" filterBy="#{ter.cgccpf}" sortBy="#{ter.cgccpf}" filterMatchMode="contains" width="20%">
                                                <h:outputText value="#{ter.cgccpf}" />
                                            </p:column>
                                            <p:column  headerText="Telefone" style="-webkit-mask: '(99) 9999-9999'" filterBy="#{ter.telefone}"  sortBy="#{ter.telefone}" 
                                                       filterMatchMode="contains" width="15%">
                                                <h:outputText value="#{ter.telefone}" />
                                            </p:column>
                                        </p:dataTable> 
                                    </h:form>
                                </b:column>
                            </b:row>



                            <!-- Info Terceiro -->
                            <p:dialog widgetVar="dlgInfoF" modal="true" header="Detalhes do médico" width="70%" resizable="false" 
                                      minimizable="true" closeOnEscape="true" closable="true" position="top"> 
                                <h:form id="frmInfoF">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#sectionC">Dados Básicos</a></li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Movimentação <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-toggle="tab" href="#dropdown1">Orçamentos</a></li>
                                                <li><a data-toggle="tab" href="#dropdown2">Fechamentos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="sectionC" class="tab-pane fade in active">
                                            <div class="container">
                                                <div class="row">
                                                    <br/>
                                                    <b:panel title="#{terceiroMB.terceiro.nome}">
                                                        <b:column span="4">
                                                            <bcr:outputInfo label="Código" value="#{terceiroMB.terceiro.idTerceiro}" /><br/>
                                                            <bcr:outputInfo label="Nome" value="#{terceiroMB.terceiro.nome}" /><br/>
                                                            <bcr:outputInfo label="Especialidade" value="#{terceiroMB.terceiro.idEspecialidade.descricao}" /><br/>
                                                            <bcr:outputInfo label="Telefone" value="#{terceiroMB.terceiro.telefone}" /><br/>
                                                        </b:column>
                                                        <b:column span="8">
                                                            <bcr:outputInfo label="CPF/CNPJ" value="#{terceiroMB.terceiro.cgccpf}" /><br/>
                                                            <bcr:outputInfo label="Tipo Conselho" value="#{terceiroMB.terceiro.tipoConselho}" /><br/>
                                                            <bcr:outputInfo label="Num. Conselho" value="#{terceiroMB.terceiro.numeroConselho}" /><br/>
                                                            <bcr:outputInfo label="RG" value="#{terceiroMB.terceiro.rg}" /><br/>
                                                            <bcr:outputInfo label="Sexo" value="#{terceiroMB.terceiro.sexo}" /><br/>
                                                        </b:column>
                                                    </b:panel>
                                                    <b:panel title="Endereço">
                                                        <b:column span="8">
                                                            <p><strong>Logradouro: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.logradouro}" />
                                                            </p>

                                                            <p><strong>Número: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.numero}" />
                                                            </p>
                                                            <p><strong>Cidade: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.cidade}" />
                                                            </p>   
                                                            <p><strong>Bairro: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.bairro}" />
                                                            </p>
                                                            <p><strong>Estado: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.uf}" />
                                                            </p>
                                                            <p><strong>Complemento: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.complemento}" />
                                                            </p>
                                                            <p><strong>CEP: </strong> 
                                                                <h:outputText value="#{terceiroMB.terceiro.cep}" />
                                                            </p>
                                                        </b:column>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="dropdown1" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <br/>
                                                    <b:panel title="#{terceiroMB.terceiro.nome}">
                                                        <h:form id="frmConsultar">
                                                            <b:column span="12">
                                                                <p:dataTable id="tblPesq" widgetVar="orctoPesq" paginatorPosition="bottom"
                                                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                                             value="#{terceiroMB.terceiro.orcamentoList}" var="orctoPesq" paginator="true" rows="5">
                                                                    <p:column width="4%">
                                                                        <p:rowToggler />
                                                                    </p:column>
                                                                    <p:column headerText="Nº" filterBy="#{orctoPesq.idOrcamento}" sortBy="#{orctoPesq.idOrcamento}" filterMatchMode="contains" width="6%">
                                                                        <center><h:outputText value="#{orctoPesq.idOrcamento}"  /></center>
                                                                    </p:column>
                                                                    <p:column headerText="Paciente" filterBy="#{orctoPesq.idPaciente.nome}" sortBy="#{orctoPesq.idPaciente.nome}">
                                                                        <h:outputText value="#{orctoPesq.idPaciente.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Data"  filterBy="#{orctoPesq.dtOrcamento}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.dtOrcamento}">
                                                                        <f:facet name="filter">
                                                                            <p:calendar
                                                                                id="calendarDate"
                                                                                styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all "
                                                                                locale="pt" 
                                                                                pattern="dd/MM/yyyy"
                                                                                onchange="PF('wtblPesq').filter()"
                                                                                onselect="PF('wtblPesq').filter()"
                                                                                onblur="PF('wtblPesq').filter()"

                                                                                >

                                                                            </p:calendar>
                                                                        </f:facet>
                                                                        <h:outputText value="#{orctoPesq.dtOrcamento}">
                                                                            <f:convertDateTime pattern="dd/MM/yyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Médico" filterBy="#{orctoPesq.idTerceiro.nome}" sortBy="#{orctoPesq.idTerceiro.nome}">
                                                                        <h:outputText value="#{orctoPesq.idTerceiro.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Procedimento" filterBy="#{orctoPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{orctoPesq.idProcedimento.descricao}">
                                                                        <h:outputText value="#{orctoPesq.idProcedimento.descricao}"  />
                                                                    </p:column>
                                                                    <p:column headerText="Situação" filterBy="#{orctoPesq.situacao}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.situacao}" >
                                                                        <h:outputText styleClass="#{orctoPesq.situacao == 'Aberto' ? 'label label-primary' : orctoPesq.situacao == 'Vencido' ? 'label label-danger' : orctoPesq.situacao == 'Realizado' ? 'label label-success ' : orctoPesq.situacao == 'Não Realizado' ? 'label label-warning' : orctoPesq.situacao == 'Cancelado' ? 'label label-default' : ''}"  
                                                                                      value="#{orctoPesq.situacao}"   />
                                                                    </p:column>
                                                                    <p:column headerText="Status" filterBy="#{orctoPesq.status}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.status}" >
                                                                        <h:outputText value="#{orctoPesq.status == 'L' ? 'Liberado' : orctoPesq.status == 'N' ? 'Não Liberado' : 'Cancelado'}"   />
                                                                    </p:column>
                                                                    <p:rowExpansion>
                                                                        <p:dataTable value="#{orctoPesq.orcamentoItemList}" var="itnList" >
                                                                            <f:facet name="header">
                                                                                Itens do Orcamento #{orctoPesq.idOrcamento}
                                                                            </f:facet>
                                                                            <p:column width="4%">
                                                                                <p:rowToggler />
                                                                            </p:column>
                                                                            <p:column headerText="Serviço" >
                                                                                <h:outputText value="#{itnList.idServico.descricao}" />
                                                                            </p:column>
                                                                            <p:column headerText="Terceiro" >
                                                                                <h:outputText value="#{itnList.idTerceiro.nome}" />
                                                                            </p:column>
                                                                            <p:column headerText="Quantidade" >
                                                                                <h:outputText value="#{itnList.quantidade}" />
                                                                            </p:column>
                                                                            <p:column headerText="Vlr Unit." >
                                                                                <h:outputText value="#{itnList.valorUnitario}" >
                                                                                    <f:convertNumber minFractionDigits="2" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:column headerText="Taxa" >
                                                                                <h:outputText value="#{itnList.taxa}" >
                                                                                    <f:convertNumber minFractionDigits="2" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:column headerText="Vlt Total" >
                                                                                <h:outputText value="#{itnList.valorTotal}" >
                                                                                    <f:convertNumber minFractionDigits="2" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:rowExpansion>
                                                                                <p:dataTable value="#{itnList.idServico.servicoItemList}" var="sil" >
                                                                                    <p:column headerText="Descritivas do Item do Orçamento">
                                                                                        <h:outputText value="#{sil.descritiva}" />
                                                                                    </p:column>
                                                                                </p:dataTable>
                                                                            </p:rowExpansion>
                                                                        </p:dataTable>
                                                                    </p:rowExpansion>
                                                                </p:dataTable>
                                                            </b:column>
                                                        </h:form>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="dropdown2" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <br/>
                                                    <b:panel title="#{terceiroMB.terceiro.nome}">
                                                        <h:form id="frmConsultarCirurgia">
                                                            <b:column span="12">
                                                                <p:dataTable id="tblPesq" widgetVar="wtblPesq"
                                                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                                             value="#{terceiroMB.terceiro.cirurgiaList}" var="cirurgiaPesq" paginator="true" rows="5">
                                                                    <p:column width="4%">
                                                                        <p:rowToggler />
                                                                    </p:column>
                                                                    <p:column headerText="Nº" filterBy="#{cirurgiaPesq.idCirurgia}" sortBy="#{cirurgiaPesq.idCirurgia}" filterMatchMode="contains" width="6%">
                                                                        <center><h:outputText value="#{orctoPesq.idOrcamento}"  /></center>
                                                                    </p:column>
                                                                    <p:column headerText="Paciente" filterBy="#{cirurgiaPesq.idPaciente.nome}" sortBy="#{cirurgiaPesq.idPaciente.nome}">
                                                                        <h:outputText value="#{cirurgiaPesq.idPaciente.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Data"  filterBy="#{cirurgiaPesq.dtCirurgia}" filterMatchMode="contains" width="10%" sortBy="#{cirurgiaPesq.dtCirurgia}">
                                                                        <f:facet name="filter">
                                                                            <p:calendar
                                                                                id="calendarDate"
                                                                                styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all "
                                                                                locale="pt" 
                                                                                pattern="dd/MM/yyyy"
                                                                                onchange="PF('tblPesq').filter()"
                                                                                onselect="PF('tblPesq').filter()"
                                                                                onblur="PF('tblPesq').filter()">
                                                                            </p:calendar>
                                                                        </f:facet>
                                                                        <h:outputText value="#{cirurgiaPesq.dtCirurgia}">
                                                                            <f:convertDateTime pattern="dd/MM/yyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Médico" filterBy="#{cirurgiaPesq.idTerceiro.nome}" sortBy="#{cirurgiaPesq.idTerceiro.nome}">
                                                                        <h:outputText value="#{cirurgiaPesq.idTerceiro.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Procedimento" filterBy="#{cirurgiaPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{cirurgiaPesq.idProcedimento.descricao}">
                                                                        <h:outputText value="#{cirurgiaPesq.idProcedimento.descricao}"  />
                                                                    </p:column>
                                                                    <p:column headerText="Status" filterBy="#{cirurgiaPesq.status}" filterMatchMode="contains" width="10%" sortBy="#{cirurgiaPesq.status}" >
                                                                        <h:outputText styleClass="#{cirurgiaPesq.status == 'L' ? 'label label-primary' : cirurgiaPesq.status == 'C' ? 'label label-danger' : cirurgiaPesq.status == 'N' ? 'label label-success ' : ''}"
                                                                                      value="#{cirurgiaPesq.status == 'L' ? 'Liberado' : cirurgiaPesq.status == 'N' ? 'Não Liberado' : 'Cancelado'}"   />
                                                                    </p:column>
                                                                    <p:rowExpansion>
                                                                        <p:dataTable value="#{cirurgiaPesq.cirurgiaItemList}" var="ciList" >
                                                                            <f:facet name="header">
                                                                                Itens da Cirurgia
                                                                            </f:facet>
                                                                            <p:column width="4%">
                                                                                <p:rowToggler />
                                                                            </p:column>
                                                                            <p:column headerText="Item">
                                                                                <h:outputText value="#{ciList.idServico.descricao}" />
                                                                            </p:column>
                                                                            <p:column headerText="Quantidade">
                                                                                <h:outputText value="#{ciList.quantidade}" />
                                                                            </p:column>
                                                                            <p:column headerText="Vlr Unit.">
                                                                                <h:outputText value="#{ciList.valorUnitario}" >
                                                                                    <f:convertNumber type="currency" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:column headerText="Vlr Total.">
                                                                                <h:outputText value="#{ciList.valorTotal}" >
                                                                                    <f:convertNumber type="currency" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:column headerText="Observação">
                                                                                <h:outputText value="#{ciList.observacao}" >
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:rowExpansion>
                                                                                <p:dataTable value="#{cirurgiaPesq.servicoItemCirurgiaItemList}" var="siciList">
                                                                                    <f:facet name="header">
                                                                                        Repasses
                                                                                    </f:facet>
                                                                                    <p:column headerText="Procedimento" >
                                                                                        <h:outputText value="#{siciList.idServicoItem.descritiva}" />
                                                                                    </p:column>
                                                                                    <p:column headerText="Terceiro" >
                                                                                        <h:outputText value="#{siciList.idTerceiro.nome == null ? siciList.idTerceiro.nomeFantasia : siciList.idTerceiro.nome }" />
                                                                                    </p:column>
                                                                                    <p:column headerText="Valor" >
                                                                                        <h:outputText value="#{siciList.valor}" >
                                                                                            <f:convertNumber type="currency" />
                                                                                        </h:outputText>
                                                                                    </p:column>
                                                                                    <p:column headerText="Taxa %" >
                                                                                        <h:outputText value="#{siciList.taxa}" >
                                                                                            <f:convertNumber minFractionDigits="2"/>
                                                                                        </h:outputText>
                                                                                    </p:column>
                                                                                    <p:column headerText="Valor" >
                                                                                        <h:outputText value="#{siciList.valorTaxado}" >
                                                                                            <f:convertNumber type="currency" />
                                                                                        </h:outputText>
                                                                                    </p:column>
                                                                                </p:dataTable>
                                                                            </p:rowExpansion>
                                                                        </p:dataTable>
                                                                    </p:rowExpansion>
                                                                </p:dataTable>
                                                            </b:column>
                                                        </h:form>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgInfoJ" modal="true" header="Informação do Terceiero" width="70%" resizable="false" maximizable="true" minimizable="true" closeOnEscape="true" closable="true"> 
                                <h:form id="frmInfoJ">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#sectionC">Dados Básicos</a></li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Movimentação <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-toggle="tab" href="#dropdown1">Orçamentos</a></li>
                                                <li><a data-toggle="tab" href="#dropdown2">Cirurgias</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="sectionC" class="tab-pane fade in active">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{terceiroMB.terceiro.nomeFantasia}">
                                                        <b:column span="8">
                                                            <bcr:outputInfo label="Código" value="#{terceiroMB.terceiro.idTerceiro}" /><br/>
                                                            <bcr:outputInfo label="Tipo Pessoa" value="#{terceiroMB.terceiro.tipoPessoa}" /><br/>
                                                            <bcr:outputInfo label="Nome Fantasia" value="#{terceiroMB.terceiro.nomeFantasia}" /><br/>
                                                            <bcr:outputInfo label="Razão Social" value="#{terceiroMB.terceiro.razaoSocial}" /><br/>
                                                            <bcr:outputInfo label="Telefone" value="#{terceiroMB.terceiro.telefone}" /><br/>
                                                            <bcr:outputInfo label="CPF/CNPJ" value="#{terceiroMB.terceiro.cgccpf}" /><br/>
                                                            <bcr:outputInfo label="IE" value="#{terceiroMB.terceiro.ie}" /><br/>

                                                        </b:column>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="dropdown1" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{terceiroMB.terceiro.nome}">
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="dropdown2" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{terceiroMB.terceiro.nome}">
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </p:dialog>

                            <!-- Cadastrar Especialidade -->
                            <p:dialog widgetVar="dlgCadastrarEspecialidade" header="Cadastro de Especialidade" resizable="false" maximizable="true" minimizable="true" width="60%" closeOnEscape="true" modal="true" closable="true">
                                <h:form id="formCadastroEspecialidade">
                                    <b:column span="6">
                                        <b:column span="12">
                                            <bcr:outputrequired value="Descrição" />
                                            <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Descrição" requiredMessage="Descrição é obrigatório" value="#{especialidadeMB.especialidade.descricao}" />
                                        </b:column>
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar" id="salvar" onclick="#{especialidadeMB.novo()}" action="#{especialidadeMB.salvar()}" styleClass="btn btn-primary" update=":msgBar, :tblPrincipal:selectEspecialidade" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgCadastrarEspecialidade').hide();"/>
                                    </b:column>
                                </h:form>
                            </p:dialog>

                            <!-- Confirmação Exclusão -->
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão este registro? 
                                                      Nome: #{terceiroMB.terceiro.tipoPessoa == 'J' ? terceiroMB.terceiro.nomeFantasia : terceiroMB.terceiro.nome} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim. Desejo excluir." icon="check16" styleClass="ui-confirmdialog-yes"  
                                                             action="#{terceiroMB.excluir(terceiroMB.terceiro)}" update="@all" 
                                                             oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Não."  icon="cancel16" styleClass="ui-confirmdialog-no"  
                                                             oncomplete="PF('dlgConfirm').hide()"/>
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
