<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Tipo de Lançamentos</li>
            </ui:define>
            <ui:define name="content">
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <h:form id="frmTipInter" >
                            <b:column span="12">
                                <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{tipoInternacaoMB.novo()}" update=":frmNovo" onclick="PF('dlgNovo').show();"/>
                                <hr/>
                            </b:column>
                            <b:column span="12">
                                <p:dataTable id="dtlPlanos" value="#{tipoInternacaoMB.model}" lazy="true" var="tipInter" paginator="true" rows="25" style="width: 100%;"
                                             widgetVar="planTable" emptyMessage="Nenhum registro encontrado"  >
                                    <f:facet name="header">
                                        Cadastro de Tipo de Lançamentos
                                    </f:facet>
                                    <p:column  headerText="Controle" width="5%"  >
                                        <p:commandLink title="Editar" style="margin-right: 15px" id="editBtn" oncomplete="PF('dlgNovo').show()"  action="#{tipoInternacaoMB.selecionarPorID(tipInter.idTipoInternacao)}" update=":frmNovo">
                                            <p:graphicImage value="Recursos/icons/Edit.png"  />
                                        </p:commandLink>
                                        <p:commandLink title="Excluir" id="infoExc"  ajax="true" action="#{tipoInternacaoMB.selecionarPorID(tipInter.idTipoInternacao)}" oncomplete="PF('dlgConfirm').show(); " update=":frmConfirm" >
                                            <p:graphicImage value="Recursos/icons/Delete.png" />
                                        </p:commandLink>
                                    </p:column>
                                    <p:column filterBy="#{tipInter.idTipoInternacao}" headerText="Código" sortBy="#{tipInter.idTipoInternacao}"  filterMatchMode="contains" width="5%">
                                        <h:outputText value="#{tipInter.idTipoInternacao}" />
                                    </p:column>
                                    <p:column filterBy="#{tipInter.descricao}" headerText="Descrição" sortBy="#{tipInter.descricao}"  filterMatchMode="contains" width="30%">
                                        <h:outputText value="#{tipInter.descricao}" />
                                    </p:column>
                                </p:dataTable>
                            </b:column>
                        </h:form>

                        <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Plano" height="25%" width="50%" closeOnEscape="true"  resizable="false" closable="true">
                            <h:form id="frmNovo">
                                <b:column span="6">
                                    <b:column span="12">
                                        <bcr:outputrequired value="Descrição"  />
                                        <p:inputText   styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo Descrição é obrigatório." value="#{tipoInternacaoMB.tipoInternacao.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                    </b:column>
                                </b:column>
                                <b:column span="6">
                                    <p:messages id="msgs2" />
                                </b:column>
                                <b:column span="12">
                                    <hr/>
                                    <p:commandButton value="Salvar" id="salvar" action="#{tipoInternacaoMB.salvar()}" ajax="true" update="frmNovo,:frmTipInter, :msg" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgNovo').hide();"/>
                                </b:column>
                            </h:form>
                        </p:dialog>


                        <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" resizable="false" closable="true">
                            <h:form id="frmConfirm">
                                <h:panelGrid columns="2">
                                    <h:outputText rendered="#{tipoInternacaoMB.tipoInternacao.orcamentoList.size() >  0? 'true' : tipoInternacaoMB.tipoInternacao.cirurgiaList.size() >0?'true' : 'false' }" styleClass="avisoExclusao"  value="Atenção! Este Registro não pode ser excluído pois está sendo usado!" /><br/>
                                    <h:outputText rendered="#{tipoInternacaoMB.tipoInternacao.orcamentoList.size() > 0? 'false' : tipoInternacaoMB.tipoInternacao.cirurgiaList.size() > 0 ? 'false' : 'true' }" styleClass="avisoExclusao" value="Você confirma a exclusão do registro  #{tipoInternacaoMB.tipoInternacao.idTipoInternacao} ? " />
                                </h:panelGrid>
                                <hr/>
                                <center>
                                    <h:panelGrid columns="2">
                                        <p:commandButton rendered="#{tipoInternacaoMB.tipoInternacao.cirurgiaList.size() >  0? 'false' : tipoInternacaoMB.tipoInternacao.orcamentoList.size() > 0 ? 'false' : 'true' }" value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{tipoInternacaoMB.excluir(tipoInternacaoMB.tipoInternacao)}" ajax="true" oncomplete="PF('dlgConfirm').hide(); " update=":msg, :frmTipInter"/>
                                        <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{tipoInternacaoMB.novo()}"  />   
                                    </h:panelGrid>
                                </center>
                            </h:form>
                        </p:dialog>

                    </b:column>
                </b:row>              
            </ui:define>
        </ui:composition>
    </body>
</html>

