<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Itens Avulsos</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuexame}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Itens para Lançamentos Avulsos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuexame}">
                            <h:form id="formDescricaoExame" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{descricaoExameMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novodescexame}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{descricaoExameMB.model}"  var="exame" lazy="true"
                                                 paginator="true" paginatorPosition="bottom" rows="25" 
                                                 widgetVar="DescExame" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <f:facet name="header">
                                            <!--                                            <p:outputPanel>
                                                                                            <p:inputText id="globalFilter"  onkeyup="PF('DescExame').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                                                                        </p:outputPanel>-->
                                        </f:facet>

                                        <p:column  headerText="Controle" width="10%"  >
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" action="#{descricaoExameMB.selecionaPorID(exame.idDescricaoExame)}" update=":novo" oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editardescexame}">
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="editBtn" >
                                                    Carregando Dados<br />
                                                    <p:graphicImage value="Recursos/img/loading.gif"/>
                                                </p:blockUI>

                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc"
                                                               actionListener="#{descricaoExameMB.selecionaPorID(exame.idDescricaoExame)}"  update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluirdescexame}">
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="infoExc" >
                                                    Excluindo Dados<br />
                                                    <p:graphicImage value="Recursos/img/loading.gif"/>
                                                </p:blockUI>
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{exame.idDescricaoExame}" sortBy="#{exame.idDescricaoExame}" filterMatchMode="contains" width="10%"  >
                                            <h:outputText value="#{exame.idDescricaoExame}" />
                                        </p:column>
                                        <p:column  headerText="Descrição" sortBy="#{exame.descricao}" filterBy="#{exame.descricao}" filterMatchMode="contains" >
                                            <h:outputText value="#{exame.descricao}"  />
                                        </p:column>
                                        <p:column  headerText="Tipo" sortBy="#{exame.tipo == 'C' ? 'Consulta' : exame.tipo == 'E'? 'Exame' : 'Geral'}" 
                                                   filterBy="#{exame.tipo == 'C' ? 'Consulta' : exame.tipo == 'E'? 'Exame' : 'Geral'}" filterMatchMode="contains" >
                                            <h:outputText value="#{exame.tipo == 'C' ? 'Consulta' : exame.tipo == 'E'? 'Exame' : 'Geral'}"  />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Item Avulso" height="25%" width="60%"  resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="novo">
                                    <b:row>
                                        <p:messages id="msgs2" />
                                        <b:column span="6">
                                            <b:column span="12">
                                                <bcr:outputrequired value="Descrição" />
                                                <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{descricaoExameMB.descricaoExame.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                            </b:column>
                                        </b:column>
                                        <b:column span="3">
                                            <b:column span="12">
                                                <bcr:outputrequired value="Tipo" />
                                                <p:selectOneMenu id="slcFormaPagto" value="#{descricaoExameMB.descricaoExame.tipo}" style="width: 100% fixed" 
                                                                 filter="true" filterMatchMode="contains" required="true" requiredMessage="Informe a forma de Pagamento." styleClass="form-control" >
                                                    <f:selectItem itemLabel="" itemValue="" />
                                                    <f:selectItems value="#{tipoInternacaoMB.listarTodos()}" var="tipo"
                                                                   itemLabel="#{tipo.descricao}" itemValue="#{tipo.descricao.charAt(0)}" />
                                                </p:selectOneMenu>
                                            </b:column>
                                        </b:column>
                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar" styleClass="btn"
                                                             ajax="true" update=":formDescricaoExame:dtl, :msg, novo" icon="salvar"  
                                                             validateClient="true" action="#{descricaoExameMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{descricaoExameMB.descricaoExame.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{descricaoExameMB.excluir(descricaoExameMB.descricaoExame)}" update=":formDescricaoExame, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{descricaoExameMB.novo()}" update=":formDescricaoExame" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
