<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Convenios</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuconvenio}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Cadastro de Convênios" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuconvenio}" >
                            <h:form id="frmConvenio" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{convenioMB.novo()}" update=":frmNovo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novoconvenio}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{convenioMB.model}"  var="conv" paginator="true" rows="25" style="width: 100%;" lazy="true"
                                                 widgetVar="convTable" emptyMessage="Nenhum registro encontrado"  >
                                        <p:column width="5%">
                                            <p:rowToggler />
                                        </p:column>
                                        <p:column  headerText="Controle" width="10%"  >
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn"    action="#{convenioMB.selecionarPorID(conv.idConvenio)}" update=":frmNovo" oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarconvenio}">
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="editBtn" >
                                                    Carregando Dados<br />
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc" 
                                                               actionListener="#{convenioMB.selecionarPorID(conv.idConvenio)}" update=":frmConfirm" oncomplete="PF('dlgConfirm').show();" rendered="#{sessaoMB.usuario.idPapel.excluirconvenio}">
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                                <p:blockUI block="dtl"  trigger="infoExc" >
                                                    Excluindo Dados<br />
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                            </center>
                                        </p:column>
                                        <p:column filterBy="#{conv.idConvenio}" headerText="Código" sortBy="#{conv.idConvenio}"  filterMatchMode="contains" width="10%">
                                            <center>
                                            <h:outputText value="#{conv.idConvenio}" />
                                            </center>
                                        </p:column>
                                        <p:column filterBy="#{conv.descricao}" headerText="Descrição" sortBy="#{conv.descricao}"  filterMatchMode="contains" >
                                            <h:outputText value="#{conv.descricao}" />
                                        </p:column>
                                        <p:rowExpansion>
                                            <p:dataTable value="#{conv.planoConvenioList}" var="planoConv">
                                                <p:column>
                                                    <h:outputText value="#{planoConv.idPlano.descricao}" />
                                                </p:column>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Convênio" height="55%" width="50%"  resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="frmNovo">
                                    <b:column span="12">
                                        <b:column span="12">
                                            <bcr:outputrequired value="Descrição" />
                                            <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" 
                                                          requiredMessage="O campo descrição é obrigatório" value="#{convenioMB.convenio.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                        </b:column>
                                        <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                            <h:outputText value="Inativo?" /><br/>
                                            <p:selectBooleanCheckbox id="inativo" value="#{convenioMB.convenio.inativo}"  />
                                            <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                        </b:column>
                                        <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                            <h:outputText value="Padrão?" /><br/>
                                            <p:selectBooleanCheckbox id="padrao" value="#{convenioMB.convenio.padrao}"  />
                                            <p:tooltip for="inativo" value="Ativando este campo, ao inserir novo orçamento, este convênio será selecionado por padrão."/>
                                        </b:column>
                                        <b:column span="12">
                                            <hr />
                                            <p:dataTable value="#{convenioMB.listaPlanosASalvar}" id="tblplanosadd" var="planSalv" emptyMessage="Nenhum plano adicionado!">
                                                <f:facet name="header">
                                                    <p:commandButton  value="Adicionar Plano" icon="add" onclick="PF('dlgAddPlano').show()" immediate="true" />
                                                </f:facet>
                                                <p:column headerText="Código" >
                                                    <h:outputText value="#{planSalv.idPlano.idPlano}" />
                                                </p:column>
                                                <p:column headerText="Descrição" >
                                                    <h:outputText value="#{planSalv.idPlano.descricao}" style="text-transform: uppercase" />
                                                </p:column>

                                                <p:column headerText="Controle" >
                                                    <p:commandLink title="Excluir" actionListener="#{convenioMB.removerPlano(planSalv)}" update="tblplanosadd, :msg" immediate="true" >
                                                        <p:graphicImage value="Recursos/icons/Delete.png" />
                                                    </p:commandLink>
                                                </p:column>
                                            </p:dataTable>
                                        </b:column>
                                    </b:column>
                                    <b:column span="4">
                                        <p:messages id="msgs2" />
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar" id="salvar" action="#{convenioMB.Salvar()}"   update=":frmConvenio,:msg" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgNovo').hide();" >
                                            <!--                                            <p:ajax update=":frmConvenio, :msg, msgs2"/>-->
                                        </p:commandButton>
                                        <p:blockUI block="frmNovo"  trigger="salvar" >
                                            Salvando<br />
                                            <p:graphicImage value="Recursos/img/novoLoading.gif" />
                                        </p:blockUI>
                                    </b:column>
                                </h:form>
                            </p:dialog>
                            <p:dialog widgetVar="dlgAddPlano"  header="Adicionar Plano" height="25%" width="50%"  resizable="false" closeOnEscape="true" closable="true">
                                <f:metadata >
                                    <f:event type="preRenderComponent" listener="#{convenioMB.listaPlanos()}" >
                                        <p:ajax update=":frmAddPlano" />
                                    </f:event>
                                </f:metadata>
                                <h:form id="frmAddPlano">

                                    <p:dataTable id="tblListPlanos" value="#{convenioMB.listaPlanos()}" var="plan" rows="15" paginator="true"
                                                 widgetVar="planTable" emptyMessage="Nenhum registro encontrado" sortMode="multiple" >
                                        <f:facet name="header">
                                            <style>
                                                .coluna1{
                                                    width: 35% !important;
                                                }
                                                .coluna2{
                                                    width: 65% !important;
                                                }
                                            </style>
                                            <h:panelGrid columns="2" columnClasses="coluna1, coluna2">
                                                <p:commandButton update=":frmNovoPlano"  value="Cadastrar Plano" icon="add" onclick="PF('dlgCadastrarPlano').show()"/>
                                            </h:panelGrid>
                                        </f:facet>
                                        <p:column headerText="Código" filterBy="#{plan.idPlano}" sortBy="#{plan.idPlano}" >
                                            <h:outputText value="#{plan.idPlano}" />
                                        </p:column>
                                        <p:column headerText="Descrição" filterBy="#{plan.descricao}"  sortBy="#{plan.descricao}" >
                                            <h:outputText value="#{plan.descricao}" />
                                        </p:column>

                                        <p:column headerText="Controle"  >
                                            <p:commandButton value="Adicionar" icon="add" action="#{convenioMB.addPlano(plan)}" update=":frmNovo:tblplanosadd, :msg" />
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgCadastrarPlano" modal="true" header="Cadastro de Plano" closable="true" closeOnEscape="true" resizable="false">
                                <h:form id="frmNovoPlano">
                                    <b:column span="12">
                                        <b:column span="12">
                                            <bcr:outputrequired value="Descrição" />
                                            <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo Descrição é obrigatório." value="#{planoMB.plano.descricao}"  onblur="capitaliseFirstLetter(this.value, this.id)"/>
                                        </b:column>
                                    </b:column>
                                    <b:column span="6">
                                        <p:messages id="msgs2" />
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar" id="salvar" action="#{planoMB.salvar()}"  ajax="true" update=":frmAddPlano:tblListPlanos, :msg" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgCadastrarPlano').hide();"/>
                                    </b:column>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closable="true" closeOnEscape="true" resizable="false">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText styleClass="avisoExclusao" value="Atenção! Este Registro não pode ser excluído pois está sendo usado!" /><br/>
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{convenioMB.novo()}"  />   
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
