<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Relatório de Lançamentos Avulsos</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.relatorioLancamentoAvulso}"/>
                <b:column span="12">
                    <b:panel  title="Relatório de Lançamentos Avulsos" look="primary" rendered="#{sessaoMB.usuario.idPapel.relatorioLancamentoAvulso}">
                        <h:form id="frmTerceiro">
                            <b:column span="12">
                                <b:row>
                                    <b:column span="2" >
                                        <h:outputText value="Data Inicial"/>
                                        <p:calendar value="#{cirurgiaMB.dtInicialPesquisa}" placeholder="Data Inicial" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                    </b:column>
                                    <b:column span="2">
                                        <h:outputText value="Data Final"/>
                                        <p:calendar value="#{cirurgiaMB.dtFinalPesquisa}" placeholder="Data Final" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Pagamento"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramPago}" style="width: 100%" styleClass="form-control" 
                                                         filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="#{null}" />
                                            <f:selectItem itemLabel="Pago" itemValue="1" />
                                            <f:selectItem itemLabel="Não Pago" itemValue="0" />                                                
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4" rendered="false">
                                        <h:outputText value="Status"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.statusPesquisa}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="%" />
                                            <f:selectItem itemLabel="Liberado" itemValue="L" />
                                            <f:selectItem itemLabel="Não Liberado" itemValue="N" />                                                
                                            <f:selectItem itemLabel="Cancelado" itemValue="C" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Médico"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramTerceiro}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter">
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItems value="#{terceiroMB.listaTerceiros()}" var="ter"
                                                           itemLabel="#{ter.nome != null ? ter.nome : ter.nomeFantasia}" 
                                                           itemValue="#{ter.idTerceiro}"/>

                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Procedimento"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramProcedimento}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" converter="Converter" >
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItems value="#{procedimentoMB.listaProcedimentos()}" var="pro"
                                                           itemLabel="#{pro.descricao}" itemValue="#{pro.idProcedimento}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Usuário"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.paramUsuario}" style="width: 100%" styleClass="form-control" filter="true" 
                                                         filterMatchMode="contains" converter="Converter">
                                            <f:selectItem itemLabel="Todos" itemValue="" itemDisabled="#{usuarioMB.retornaUsuarioLogado().idPapel.prontoAtendimento}" />
                                            <f:selectItem itemLabel="Somente Pronto Atendimento" itemValue="9999" rendered="#{usuarioMB.retornaUsuarioLogado().idPapel.prontoAtendimento}" />
                                            <f:selectItems value="#{usuarioMB.retornaUsuarioLogado().idPapel.prontoAtendimento ? usuarioMB.listaUsuariosProntoAtendimento() : usuarioMB.listaUsuarios()}" var="usu"
                                                           itemLabel="#{usu.nomeCompleto}" 
                                                           itemValue="#{usu.idUsuario}"/>

                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Imprimir com o campo 'Observações'"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.exceto}" style="width: 100%" styleClass="form-control" filter="true" 
                                                         filterMatchMode="contains" converter="Converter">
                                            <f:selectItem itemLabel="Não" itemValue="false" />
                                            <f:selectItem itemLabel="Sim" itemValue="true" />
                                        </p:selectOneMenu>
                                    </b:column>

                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton styleClass="btn btn-primary"
                                                         value="Imprimir" action="#{cirurgiaMB.imprimirListagemAvulso()}" ajax="false" 
                                                         onclick="this.form.target='_blank'" icon="imprimir" />
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                    </b:panel>
                </b:column>
            </ui:define>
        </ui:composition>
    </body>
</html>
