<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Controle de Cheques</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menucontrolecheques}" />
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Controle de Cheques" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menucontrolecheques}">
                            <p:commandButton styleClass="btn" value="Novo Cheque" icon="adicionar" action="#{chequeMB.novo()}" 
                                             rendered="#{sessaoMB.usuario.idPapel.lancamentoChequeAvulso}"
                                             oncomplete="PF('dlgNovoCheque').show()" update=":frmNovoCheque"/>
                            &nbsp;
                            <p:commandButton value="Pesquisar" id="ctrl" icon="pesquisar" styleClass="btn" />
                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                                <p:panelGrid columns="1" style="width: 100%; " >
                                    <p:commandButton style="width: 100%" value="Escolher período" icon="ui-icon-calendar" oncomplete="PF('dlgFiltroPesquisarMovimento').show();" />
                                    <p:commandButton style="width: 100%" value="Hoje" actionListener="#{chequeMB.setarDatasPesquisa('C', 'D')}" update=":consultaCheques, :msg" icon="ui-icon-arrowstop-1-s"/>
                                    <p:commandButton style="width: 100%" value="Mês atual" actionListener="#{chequeMB.setarDatasPesquisa('C', 'M')}" update=":consultaCheques, :msg" icon="ui-icon-arrowrefresh-1-e"/>
                                    <p:commandButton style="width: 100%" value="Mês anterior" actionListener="#{chequeMB.setarDatasPesquisa('C', 'A')}" update=":consultaCheques, :msg" icon="ui-icon-arrowthick-1-w"/>
                                </p:panelGrid>
                            </p:overlayPanel>
                            &nbsp;
                            <p:commandButton styleClass="btn btn-primary" value="Trocar Cheques" icon="pagamento" action="#{chequeMB.novo()}"
                                             oncomplete="PF('dlgTrocarCheque').show()" update=":frmTrocarCheque"/>
                            &nbsp;
                            <p:commandButton styleClass="btn" value="Compensar vários" icon="check16" action="#{chequeMB.calcularTotalSelecionado()}"
                                             oncomplete="PF('dlgChequesSelecionados').show();" update=":frmCompensarSelecionados:dtlChequeSelecionados"/>
                            <hr/>
                            <h:form id="consultaCheques">
                                <style>
                                    .cancelado{
                                        background-color: rgba(255, 102, 102, 0.19);
                                    }
                                    .trocado{
                                        background-color: rgba(255, 185, 102, 0.33);
                                    }
                                </style>
                                <p:dataTable id="dtl" value="#{chequeMB.listaCheque}"  var="forms"
                                             paginator="true" rowKey="#{forms.idCheque}" 
                                             selection="#{chequeMB.listaChequeSelecionados}" 
                                             paginatorPosition="bottom" rows="10" disabledSelection="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T'}"
                                             emptyMessage="Nenhum registro encontrado" widgetVar="wigvCheques" >     
                                    <p:column selectionMode="multiple" width="3%" style="width:8px; text-align:center;" />
                                    <p:ajax event="rowSelectCheckbox"  update=":frmCompensarSelecionados:dtlChequeSelecionados" />
                                    <p:ajax event="toggleSelect"  update=":frmCompensarSelecionados:dtlChequeSelecionados" />
                                    <p:ajax event="rowUnselectCheckbox"  update=":frmCompensarSelecionados:dtlChequeSelecionados" />
                                    <p:column style="width: 3%">
                                        <p:rowToggler/>
                                    </p:column>
                                    <p:column  headerText="Controle" width="11%"  >
                                        <center>
                                            <p:commandButton value="Ações" id="ctrl" icon="ui-icon-circle-triangle-s" />
                                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px;" >
                                                <p:panelGrid columns="1" style="width: 100%; " >
                                                    <p:commandButton style="width: 100%" id="btnExcluir" oncomplete="PF('dlgConfirm').show()"  update=":frmConfirm"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="cancel16" value="Cancelar" rendered="#{sessaoMB.usuario.idPapel.excluirCheque}" 
                                                                     disabled="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnCompensar" oncomplete="PF('dlgCompensar').show()"  update=":frmCompensar"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="check16" value="Compensar" rendered="#{sessaoMB.usuario.idPapel.compensarCheque}" 
                                                                     disabled="#{chequeMB.statusRetirado(forms) ? 'true' : forms.compensado == 'S' ? 'true' : forms.cancelado == 'S' ? 'true' : forms.cancelado == 'T' ? 'true' : 'false' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnAdiar" oncomplete="PF('dlgAdiar').show()"  update=":frmAdiar"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="calendario" value="Adiar" rendered="#{sessaoMB.usuario.idPapel.compensarCheque}" 
                                                                     disabled="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnSituacao" oncomplete="PF('dlgSituacao').show()"  update=":frmSituacao"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="refresh" value="Movimentar" rendered="#{sessaoMB.usuario.idPapel.movimentarCheque}" 
                                                                     disabled="#{forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnDevolver" oncomplete="PF('dlgDevolver').show()"  update=":frmDevolver"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="retorno" value="Devolver" 
                                                                     rendered="#{forms.avulso == true}" 
                                                                     disabled="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />
                                                    <p:commandButton style="width: 100%" id="btnEditar" oncomplete="PF('dlgNovoCheque').show()"  update=":frmNovoCheque"  
                                                                     actionListener="#{chequeMB.selecionarPorID(forms.idCheque)}" icon="editar" value="Editar" 
                                                                     rendered="#{forms.avulso == true}" 
                                                                     disabled="#{forms.compensado == 'S' || forms.cancelado == 'S' || forms.cancelado == 'T' || forms.devolvido == true}" />
                                                </p:panelGrid>
                                            </p:overlayPanel>

                                        </center>

                                    </p:column>
                                    <p:column headerText="Fech." width="5%" styleClass="hidden-xs hidden-sm hidden-md text-center" rendered="false"
                                              filterBy="#{forms.idCirurgia.idCirurgia}" filterMatchMode="contains" >
                                        <h:outputText value="#{forms.cancelado == 'S' ? 'Cancelado' : forms.idCirurgia.idCirurgia}" title="Fechamento"  />
                                    </p:column>
                                    <p:column headerText="Tipo" width="8%" filterBy="#{forms.tipo}">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="Mistos" itemValue="M" />
                                                <f:selectItem itemLabel="Médicos" itemValue="N" />
                                                <f:selectItem itemLabel="Hospitalares" itemValue="H" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <i class="fa fa-user-md" style="display: #{forms.tipo == 'M' or forms.tipo == 'N' ? '' : 'none'}" title="Este pagamento contém repasses médicos."></i>
                                            <i class="fa fa-h-square" style="display: #{forms.tipo == 'M' or forms.tipo == 'H' ? '' : 'none'}" title="Esta lote contém repasses hospitalares."></i>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Cheque" filterBy="#{forms.numeroCheque}" width="9%" filterMatchMode="contains" styleClass="text-center" style="font-size: 11px;">
                                        <h:outputText value="#{forms.cancelado == 'S' ? 'Cancelado' : forms.numeroCheque}" title="ID: #{forms.idCheque}" />
                                    </p:column>

                                    <p:column headerText="Paciente" sortBy="#{forms.idPaciente.nome == forms.emitente or forms.idPaciente.emitente == null ? forms.idPaciente.nome : forms.emitente }" filterBy="#{forms.idPaciente.nome}" 
                                              filterMatchMode="contains" style="font-size: 11px;" width="15%">
                                        <h:outputText value="#{forms.cancelado == 'S' ? 'Cancelado' : forms.idPaciente.nome}" 
                                                      title="Nome do paciente" style="font-size: 11px;"/>
                                    </p:column>

                                    <p:column headerText="Emitente" sortBy="#{forms.emitente}" filterBy="#{forms.emitente}" width="15%" filterMatchMode="contains" >
                                        <h:outputText value="#{forms.emitente}" title="Nome do emitente" style="font-size: 11px;"/>
                                    </p:column>
                                    <p:column headerText="Situação" filterBy="#{forms.situacao}" width="10%" styleClass="hidden-xs hidden-sm" filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="A Compensar" itemValue="A Compensar" />
                                                <f:selectItem itemLabel="Recebido" itemValue="Recebido" />
                                                <f:selectItem itemLabel="Enviado ao Banco" itemValue="Enviado ao Banco" />
                                                <f:selectItem itemLabel="Enviado ao SPC" itemValue="Enviado ao SPC" />                                        
                                                <f:selectItem itemLabel="Representado" itemValue="Representado" />
                                                <f:selectItem itemLabel="Jurídico" itemValue="Jurídico" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <h:outputText styleClass="#{forms.situacao == 'Recebido' ? 'label label-success' : forms.situacao == 'Enviado ao Banco' ? 'label label-default' : 'label label-danger'}"  style="font-size: 11px;"
                                                          value="#{forms.situacao}" title="#{forms.situacao}"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Status" filterBy="#{forms.compensado}" width="8%" filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="Compensados" itemValue="S" />
                                                <f:selectItem itemLabel="Não compensados" itemValue="N" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <h:outputText styleClass="#{forms.compensado == 'S' ? 'label label-success' : 'label label-danger'}"  style="font-size: 11px;"
                                                          value="#{forms.compensado == 'S' ? 'OK' : '!'}" title="#{forms.compensado == 'S' ? 'Compensado' : 'Não Compensado'}"/>
                                        </center>
                                    </p:column>

                                    <p:column headerText="Cancelado" filterBy="#{forms.cancelado}" width="10%" filterMatchMode="contains" rendered="false">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('wigvCheques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                                <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="Não Cancelados" itemValue="N" />
                                                <f:selectItem itemLabel="Cancelados" itemValue="S" />                                                
                                                <f:selectItem itemLabel="Trocados" itemValue="T" />     
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <center>
                                            <h:outputText styleClass="#{forms.cancelado == 'N' or forms.cancelado == null ? 'label label-default' : forms.cancelado == 'T' ? 'label label-warning' : 'label label-danger'}" 
                                                          style="font-size: 11px;"     value="#{forms.cancelado == 'N' ? 'OK' : forms.cancelado == 'T' ? 'Trocado': forms.cancelado == null ? 'Não Cancelado' : 'Cancelado'}" title="#{forms.cancelado == 'S' ? 'Cancelado' : forms.cancelado == 'T' ? 'Trocado': 'Não Cancelado'}"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Recebido" sortBy="#{forms.dtRecebimentoEmissao}" 
                                              styleClass="hidden-xs hidden-md hidden-sm" width="10%" 
                                              filterBy="#{forms.dtRecebimentoEmissao}"  filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:inputText styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                         onchange="PF('wigvCheques').filter()"
                                                         onselect="PF('wigvCheques').filter()"
                                                         onblur="PF('wigvCheques').filter()"
                                                         onkeyup="PF('wigvCheques').filter()">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </f:facet>
                                        <center>
                                            <h:outputText value="#{forms.dtRecebimentoEmissao}" title="Data do recebimento do cheque"  style="font-size: 11px;" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Vencimento" sortBy="#{forms.dtCompensacaoVencimento}" 
                                              styleClass="hidden-xs hidden-sm " width="11%" filterBy="#{forms.dtCompensacaoVencimento}" 
                                              filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:inputText styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                         onchange="PF('wigvCheques').filter()"
                                                         onselect="PF('wigvCheques').filter()"
                                                         onblur="PF('wigvCheques').filter()"
                                                         onkeyup="PF('wigvCheques').filter()">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </f:facet>
                                        <center>
                                            <h:outputText value="#{forms.dtCompensacaoVencimento}" title="Data do compensação do cheque" 
                                                          style="font-size: 11px;" styleClass="#{chequeMB.chequeVencido(forms)}">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Compensado" sortBy="#{forms.dtCompensado}" 
                                              styleClass="hidden-xs hidden-sm" width="10%" filterBy="#{forms.dtCompensado}" filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:inputText styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                         onchange="PF('wigvCheques').filter()"
                                                         onselect="PF('wigvCheques').filter()"
                                                         onblur="PF('wigvCheques').filter()"
                                                         onkeyup="PF('wigvCheques').filter()">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </f:facet>
                                        <center>
                                            <h:outputText value="#{forms.dtCompensado}" title="Data do compensação do cheque" style="font-size: 11px;">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column  headerText="Valor" filterBy="#{forms.valor}" width="10%" sortBy="#{forms.valor}" filterMatchMode="contains" >
                                        <center>
                                            <h:outputText value="#{forms.valor}" title="Valor" style="font-size: 11px;">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:rowExpansion>
                                        <style>
                                            .colfirst{
                                                width: 20%;
                                            }
                                            .colSecond{
                                                width: 80%;
                                                font-weight: bolder;
                                            }
                                        </style>
                                        <br/>
                                        <div class="col-lg-12">
                                            <br/>
                                            <center>
                                                <h3>Procedimento: #{forms.idCirurgia == null ? forms.idProcedimento.descricao : forms.idCirurgia.idProcedimento.descricao.concat(' - Valor total: R$ ').concat(forms.idCirurgia.valor).concat(' - Parcelado em: ').concat(forms.idCirurgia.chequeList.size()).concat('x')}</h3>
                                            </center>
                                        </div>
                                        <div class="col-lg-4">
                                            <p:panelGrid columns="2" columnClasses="colfirst, colSecond">
                                                <h:outputText value="Paciente: " />
                                                <h:outputText value="#{forms.idPaciente.nome}" />
                                                <h:outputText value="Emitente:" />
                                                <h:outputText value="#{forms.emitente}" />
                                                <h:outputText value="CPF: " />
                                                <h:outputText value="#{forms.cpf}" />

                                            </p:panelGrid>
                                        </div>
                                        <div class="col-lg-4">
                                            <p:panelGrid columns="2" columnClasses="colfirst, colSecond">
                                                <h:outputText value="Recebido:" />
                                                <h:outputText value="#{forms.dtRecebimentoEmissao}">
                                                    <f:convertDateTime pattern="dd/MM/YYYY"/> 
                                                </h:outputText>
                                                <h:outputText value="Compensar:" />
                                                <h:outputText value="#{forms.dtCompensacaoVencimento}" >
                                                    <f:convertDateTime pattern="dd/MM/YYYY"/> 
                                                </h:outputText>
                                                <h:outputText value="Valor:" />
                                                <h:outputText value="#{forms.valor}" >
                                                    <f:convertNumber type="currency"/> 
                                                </h:outputText>
                                            </p:panelGrid>
                                        </div>
                                        <div class="col-lg-4">
                                            <p:panelGrid columns="2" columnClasses="colfirst, colSecond">
                                                <h:outputText value="Número:" />
                                                <h:outputText value="#{forms.numeroCheque}" />
                                                <h:outputText value="Banco:" />
                                                <h:outputText value="#{forms.idBanco.nome}" />
                                                <h:outputText value="Cód.Banco:" />
                                                <h:outputText value="#{forms.idBanco.numero}" />
                                            </p:panelGrid>
                                        </div>
                                        <div class="col-lg-12">
                                            <br/>
                                            <h2><h:outputText value="#{forms.cancelado == 'S' ? 'Motivo: ' : 'OBS: ' }"/> #{forms.observacao}</h2>
                                        </div>
                                        <hr/>
                                        <h:panelGroup>
                                            <p:dataTable id="repasses" value="#{forms.repasseList}" sortBy="#{repList.numeroParcela}" var="repList" 
                                                         rendered="#{forms.cancelado == 'N' or forms.cancelado == null }" >
                                                <f:facet name="header">
                                                    Repasses e Recebimentos da Fechamento

                                                </f:facet>
                                                <p:column headerText="Fechamento" sortBy="#{repList.idCirurgia.idCirurgia}" rendered="#{forms.idCirurgia != null}" width="8%">
                                                    <center><h:outputText value="#{repList.idCirurgia.idCirurgia}" /></center>
                                                </p:column>
                                                <p:column headerText="Data" rendered="#{forms.idCirurgia != null}" >
                                                    <h:outputText value="#{repList.idCirurgia.dtCirurgia}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Parcela" sortBy="#{repList.numeroParcela}" rendered="#{forms.idCirurgia != null}" width="8%">
                                                    <center><h:outputText value="#{repList.numeroParcela}" /></center>
                                                </p:column>
                                                <p:column headerText="Terceiro" sortBy="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" width="25%" >
                                                    <h:outputText value="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Descrição" sortBy="#{repList.idSici.idServicoItem.descritiva}" width="25%" >
                                                    <h:outputText value="#{repList.idSici.idServicoItem.descritiva == null ? repList.idCheque.idProcedimento.descricao : repList.idSici.idServicoItem.descritiva}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Situação" >
                                                    <h:outputText value="#{repList.sacado == 'N' or repList.sacado == null ? 'Não Liberado' : 'Liberado'}" >
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Vencimento" >
                                                    <h:outputText id="dtVencimento" value="#{repList.dtVencimento}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                    <p:tooltip for="dtVencimento" value="Obs: #{repList.observacao}"/>
                                                </p:column>
                                                <p:column headerText="Pgto Médico" >
                                                    <h:outputText value="#{repList.contaCorrenteList != null ? repList.contaCorrenteList.get(0).dtPagamentoMedico : ''}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column headerText="Valor" >
                                                    <center>
                                                        <h:outputText value="#{repList.valorDocumento}" >
                                                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                                        </h:outputText>
                                                    </center>
                                                </p:column>


                                            </p:dataTable>
                                        </h:panelGroup>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>   

                            <!--Janela de Cancelamento de Cheques-->
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Cancelamento" modal="true" resizable="false" closable="true" closeOnEscape="true" 
                                      width="40%">
                                <h:form id="frmConfirm">
                                    <h:outputText value="Você confirma o cancelamento do cheque nº #{chequeMB.cheque.numeroCheque} ?" />
                                    <br/>
                                    <h:outputText value="Motivo:" />
                                    <p:inputText value="#{chequeMB.cheque.observacao}"/>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Cancelar" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{chequeMB.cancelar(chequeMB.cheque)}" update=":consultaCheques, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Não cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{exameMB.novo()}" update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgSituacao" header="Movimentação do Cheque" modal="true" resizable="false" closable="true" closeOnEscape="true" 
                                      width="40%">
                                <h:form id="frmSituacao">
                                    <p:outputLabel for="situacao" value="Situação" />
                                    <p:selectOneMenu id="situacao" value="#{chequeMB.cheque.situacao}" styleClass="form-control" style="width: 100%;">
                                        <f:selectItem itemLabel="A Compensar" itemValue="A Compensar" />
                                        <f:selectItem itemLabel="Enviado ao Banco" itemValue="Enviado ao Banco" />
                                        <f:selectItem itemLabel="Enviado ao SPC" itemValue="Enviado ao SPC" />                                        
                                        <f:selectItem itemLabel="Representado" itemValue="Representado" />
                                        <f:selectItem itemLabel="Jurídico" itemValue="Jurídico" />
                                        <f:selectItem itemLabel="Devolvido" itemValue="Devolvido" />
                                    </p:selectOneMenu>
                                    <br/>
                                    <h:outputText value="Observação:" />
                                    <p:inputText value="#{chequeMB.cheque.observacao}"/>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Salvar." icon="check16" styleClass="ui-confirmdialog-yes"  action="#{chequeMB.atualizar()}" update=":consultaCheques, :consultaCheques:dtl, :msg" oncomplete="PF('dlgSituacao').hide()"/>
                                            <p:commandButton value="Cancelar."  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgSituacao').hide()" update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgCompensar" header="Confirmação" modal="true" closable="true" closeOnEscape="true"> 
                                <h:form id="frmCompensar">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Deseja compensar este cheque? Nº Cheque: #{chequeMB.cheque.numeroCheque}" />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton id="btnCompensacao" value="Compensar" icon="check16" styleClass="ui-confirmdialog-yes" 
                                                             action="#{chequeMB.compensarCheque(chequeMB.cheque)}" update=":consultaCheques, :consultaCheques:dtl, :msg" oncomplete="PF('dlgCompensar').hide()"/>
                                            <p:commandButton id="btnCancelar" value="Não compensar"  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgCompensar').hide()" action="#{chequeMB.novo()}"
                                                             update=":consultaCheques" />
                                        </h:panelGrid>
                                        <p:blockUI block="frmCompensar" trigger="btnCompensacao, btnCancelar">
                                            <img src="Recursos/img/novoLoadingProcessando.gif" />
                                        </p:blockUI>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgAdiar" header="Adiar cheque e seus repasses." modal="true" closable="true" resizable="false" closeOnEscape="true"> 
                                <h:form id="frmAdiar">
                                    <b:row>
                                        <b:column span="6">
                                            <h:outputText value="Nova data a ser compensado." />
                                            <p:calendar id="dtCompensacaoVencimento" value="#{chequeMB.cheque.dtCompensacaoVencimento}" 
                                                        mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" locale="pt"/>
                                        </b:column>
                                        <b:column span="12">
                                            <h:outputText value="Informe o motivo:" />
                                            <p:inputText value="#{chequeMB.cheque.observacao}" styleClass="form-control"/>
                                        </b:column>
                                    </b:row>                                    

                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Confirmar" icon="check16" styleClass="ui-confirmdialog-yes" 
                                                             action="#{chequeMB.adiar()}" update=":consultaCheques, :consultaCheques:dtl, :msg" oncomplete="PF('dlgAdiar').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgAdiar').hide()" action="#{chequeMB.novo()}"
                                                             update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgDevolver" header="Perda de Cheque." modal="true" closable="true" resizable="false" closeOnEscape="true"> 
                                <h:form id="frmDevolver">
                                    <h:outputText value="Este cheque foi perdido?" />
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Confirmar" icon="check16" styleClass="ui-confirmdialog-yes" 
                                                             action="#{chequeMB.devolverCheque()}" update=":consultaCheques, :consultaCheques:dtl, :msg" oncomplete="PF('dlgDevolver').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgAdiar').hide()" action="#{chequeMB.novo()}"
                                                             update=":consultaCheques" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>



                            <p:dialog widgetVar="dlgTrocarCheque" header="Trocar Cheque" modal="true" closable="true" 
                                      width="60%" closeOnEscape="true" position="top"> 
                                <h:form id="frmTrocarCheque" >
                                    <b:column span="12">
                                        <p:messages id="clnMensagem" autoUpdate="true" />
                                        <b:row>
                                            <b:column id="alerta" span="12">
                                                <div class="alert alert-info" style="display: #{chequeMB.lancando ? 'none' : 'ruby'}">
                                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    <strong>Informação.</strong> Selecione o cheque a trocar!
                                                </div>
                                                <div class="alert alert-success" style="display: #{chequeMB.lancando ? 'ruby' : 'none'}" >
                                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    <strong>OK!</strong> Agora, lançe os dados do novo pagamento.
                                                </div>
                                            </b:column>
                                            <b:column span="4">
                                                <p:selectOneMenu id="cmbCheque" value="#{chequeMB.cheque}" style="width: 100%" converter="Converter"
                                                                 styleClass="form-control" filter="true" filterMatchMode="contains" var="chqs">
                                                    <f:selectItem itemLabel="Somente cheques cancelados" itemDisabled="#{chequeMB.lancando}" itemValue="" />
                                                    <f:selectItems value="#{chequeMB.listaChequesCancelados()}" var="chq" 
                                                                   itemLabel="#{chq.numeroCheque} | #{chq.idPaciente.nome} | #{chq.emitente}" 
                                                                   itemValue="#{chq}" />
                                                    <p:column>
                                                        <h:outputText value="#{chqs.numeroCheque}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{chqs.idPaciente.nome}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{chqs.emitente != null ? chqs.emitente : chqs.idPaciente.nome}" />
                                                    </p:column>
                                                    <p:ajax event="change" update="rwTipo, rwCheque, alerta, cmbCheque, btnTrocar"
                                                            listener="#{chequeMB.setarCheque()}"/>
                                                </p:selectOneMenu>
                                            </b:column>
                                        </b:row>
                                        <b:row id="rwTipo">
                                            <b:column span="12">
                                                <div class="hr-line-dashed"></div>
                                            </b:column>


                                            <b:column col-xs="6" col-lg="4" col-md="4" >
                                                <p:outputLabel value="Forma de Pagamento" for="formaPagamento" indicateRequired="false"/>
                                                <p:selectOneMenu value="#{chequeMB.chequeTrocar.movimento}" styleClass="form-control" id="formaPagamento">
                                                    <f:selectItem itemLabel="Cheque"  itemValue="C" />
                                                    <f:selectItem itemLabel="Dinheiro" itemValue="D" />
                                                    <f:selectItem itemLabel="Nota Promissória" itemValue="N" />
                                                    <f:selectItem itemLabel="Cartão - Débito" itemValue="A" />
                                                    <f:selectItem itemLabel="Cartão - Crédito" itemValue="R" />                                                    
                                                    <p:ajax event="change" update="rwTipo, rwCheque" listener="#{chequeMB.setarDatas()}"/>
                                                </p:selectOneMenu>
                                            </b:column>
                                            <b:column col-xs="6" col-lg="3" col-md="4" id="clnDtCompensacao" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}">
                                                <p:outputLabel id="labelVencimentoCompensacao" value="#{chequeMB.chequeTrocar.movimento == 'C' ? 'Dt.Compensação' : 'Dt.Recebimento'}" for="dtCompensacaoVencimento" indicateRequired="false"/>
                                                <p:calendar id="dtCompensacaoVencimento" value="#{chequeMB.chequeTrocar.dtCompensacaoVencimento}"
                                                            mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" showButtonPanel="true" locale="pt"/>
                                            </b:column>
                                            <b:column col-xs="12" col-lg="3" col-md="4">
                                                <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                                                <pe:inputNumber id="valor" emptyValue="empty" disabled="true" value="#{chequeMB.chequeTrocar.valor}" symbol="R$ "/>
                                            </b:column>
                                        </b:row>
                                        <b:row id="rwCheque">
                                            <b:column col-xs="6" col-lg="4" col-md="4" id="clnNumeroCheque" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}">
                                                <p:outputLabel value="Nº Cheque" for="numeroCheque" indicateRequired="false"/>
                                                <span style="color: red; font-weight: bold"> *</span>
                                                <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" 
                                                             required="#{chequeMB.chequeTrocar.movimento == 'C'}" maxlength="8" 
                                                             requiredMessage="O nº cheque não foi informado." value="#{chequeMB.chequeTrocar.numeroCheque}"/>
                                            </b:column>
                                            <b:column col-xs="6" col-lg="6" col-md="4" id="clnBanco" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}">
                                                <p:outputLabel value="Banco" for="cmbBanco" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                                <h:panelGrid columns="2" style="width: 100% !important; ">
                                                    <p:selectOneMenu id="cmbBanco" value="#{chequeMB.chequeTrocar.idBanco.idBanco}" style="text-transform: capitalize" 
                                                                     required="#{chequeMB.chequeTrocar.movimento == 'C'}" 
                                                                     requiredMessage="Informe o banco." styleClass="form-control">
                                                        <f:selectItem itemLabel=" " itemValue=""  />
                                                        <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                                                       itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                                                    </p:selectOneMenu>
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column col-xs="6" col-lg="2" col-md="4" id="clnConta" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}">
                                                <p:outputLabel value="Conta Bancária" for="Conta" indicateRequired="false"/>
                                                <p:inputText  styleClass="form-control" id="Conta" label="Conta" value="#{chequeMB.chequeTrocar.conta}"/>
                                            </b:column> 
                                            <b:column col-xs="6" col-lg="4" col-md="6" id="clnCPF">
                                                <p:outputLabel for="TxtCPF" id="CPF" value="#{chequeMB.CPFCPNJ ? 'CNPJ' : 'CPF'}"
                                                               rendered="#{chequeMB.chequeTrocar.movimento == 'C' ? 'true' : 'false'}"/>
                                                <h:panelGrid columns="2" >
                                                    <p:commandButton icon="refresh" immediate="true" id="btnCGC"
                                                                     action="#{chequeMB.mudarMascara()}" ajax="true" rendered="#{chequeMB.chequeTrocar.movimento == 'C' ? 'true' : 'false'}"
                                                                     update="TxtCPF, clnCPF" />                            
                                                    <p:inputMask id="TxtCPF" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}" styleClass="form-control" placeholder="#{chequeMB.CPFCPNJ ? '__.___.___/____-__' : '___.___.___-__'}" 
                                                                 value="#{chequeMB.chequeTrocar.cpf}" mask="#{cirurgiaMB.CPFCPNJ ?  '99.999.999/9999-99' : '999.999.999-99' }" required="#{chequeMB.chequeTrocar.movimento != 'D'}" requiredMessage="#{chequeMB.CPFCPNJ ? 'O nº do CNPJ é necessário.' : 'O Nº do CPF é necessário.'}" style="border: #{chequeMB.validacaoCGC ? 'black': '1px solid #ff0000 !important'} " >
                                                        <p:ajax  event="blur" update="@this, clnMensagem" listener="#{chequeMB.validarCPF()}"/>
                                                    </p:inputMask>
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column col-xs="12" col-lg="8" col-md="6" id="clnEmitente" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}" >
                                                <p:outputLabel for="TxtEmitente" id="emitente" value="Emitente"/>
                                                <h:panelGrid columns="2" style="width: 100% !important;" rendered="#{chequeMB.chequeTrocar.movimento == 'C'}">
                                                    <p:inputText value="#{chequeMB.chequeTrocar.emitente}" 
                                                                 style="text-transform: capitalize; font-size: 10px" id="TxtEmitente" styleClass="form-control"/>
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column col-xs="12" col-lg="#{chequeMB.chequeTrocar.movimento == 'C' ? '12' : '12'}" col-md="12" col-sm="12">
                                                <h:outputText value="Observação" />
                                                <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{chequeMB.chequeTrocar.observacao}" />
                                            </b:column>
                                        </b:row>
                                        <b:row>
                                            <b:column span="12">
                                                <br/>
                                                <h:panelGrid columns="4">
                                                    <p:commandButton id="btnTrocar" value="Trocar" icon="check16" styleClass="btn"
                                                                     action="#{chequeMB.trocarCheque()}" ajax="true" disabled="#{!chequeMB.lancando}" 
                                                                     update=":msg, @form, :consultaCheques" oncomplete="if (!args.validationFailed )PF('dlgTrocarCheque').hide();"/>
                                                    &nbsp;
                                                    <p:commandButton id="btnCancelar" value="Sair" icon="cancel16" styleClass="btn"
                                                                     action="#{chequeMB.novo()}" ajax="true" 
                                                                     update=":msg, @form, :consultaCheques" oncomplete="PF('dlgTrocarCheque').hide();"/>
                                                    <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                                        <f:facet name="start">
                                                            <h:panelGrid columns="2">
                                                                <img src="Recursos/img/launch_loading.gif" />   
                                                            </h:panelGrid>
                                                        </f:facet>
                                                    </p:ajaxStatus>
                                                </h:panelGrid> 
                                            </b:column>
                                        </b:row>
                                    </b:column>
                                </h:form>
                            </p:dialog>

                            <p:dialog widgetVar="dlgChequesSelecionados" header="Compensar cheques selecionados" modal="true" closable="true" 
                                      width="60%" closeOnEscape="true" position="top">
                                <h:form id="frmCompensarSelecionados">
                                    <b:row>

                                        <b:column span="12">

                                            <p:dataTable id="dtlChequeSelecionados" value="#{chequeMB.listaChequeSelecionados}" var="chq"  paginatorPosition="bottom"     
                                                         paginator="true" rows="5" paginatorAlwaysVisible="false" 
                                                         sortBy="#{chq.idCheque}">
                                                <p:column headerText="ID" width="10%">
                                                    <h:outputText  value="#{chq.idCheque}"/>                                                                            
                                                </p:column>
                                                <p:column headerText="Número Cheque" width="10%">
                                                    <h:outputText  value="#{chq.numeroCheque}"/>                                                                        
                                                </p:column>
                                                <p:column headerText="Paciente" width="20%">
                                                    <h:outputText  value="#{chq.idPaciente.nome}"/>                                                                        
                                                </p:column>
                                                <p:column headerText="Emitente" width="20%">
                                                    <h:outputText  value="#{chq.emitente}"/>                                                                        
                                                </p:column>
                                                <p:column headerText="Recebido em:" width="15%">
                                                    <h:outputText  value="#{chq.emitente}"/>                                                                        
                                                </p:column>
                                                <p:column headerText="Compensar em:" width="15%">
                                                    <h:outputText  value="#{chq.emitente}"/>                                                                        
                                                </p:column>
                                                <p:column headerText="Valor" width="15%">
                                                    <center>
                                                        <h:outputText value="#{chq.valor}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </center>                                                                        
                                                </p:column>
                                                <f:facet name="footer">
                                                    <center>
                                                        <h:outputText value="#{chequeMB.valorTotalSelecionado}" >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </center>                                                                        
                                                </f:facet>
                                            </p:dataTable>

                                            <hr/>
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column span="12">

                                            <center>
                                                <p:commandButton id="btnPagar" update=":msg, :consultaCheques" styleClass="btn" 
                                                                 value="Compensar selecionados" icon="check16" actionListener="#{chequeMB.compensarSelecionados()}" oncomplete="PF('dlgChequesSelecionados').hide();"/>
                                                &nbsp;
                                                <p:commandButton id="btnCancelar" update=":consultaCheques" value="Cancelar" icon="cancel16" styleClass="btn" 
                                                                 oncomplete="PF('dlgChequesSelecionados').hide();" onclick="#{chequeMB.novo()}"/>

                                                <p:blockUI block="frmCompensarSelecionados" trigger="btnPagar, btnCancelar">
                                                    <img src="Recursos/img/novoLoadingProcessando.gif" />
                                                </p:blockUI>

                                            </center>

                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgNovoCheque" header="Novo Cheque" modal="true" closable="true"  width="60%" closeOnEscape="true" position="top" >
                                <h:form id="frmNovoCheque">
                                    <b:column span="12">
                                        <p:messages  autoUpdate="true" />
                                        <b:row>
                                            <b:column col-md="8">
                                                <bcr:outputrequired value="Procedimento" />
                                                <h:panelGrid columns="2" width="100%">                                                        
                                                    <p:autoComplete id="procedimento" value="#{chequeMB.cheque.idProcedimento}" converter="Converter"
                                                                    completeMethod="#{orcamentoMB.completeMethodProcedimento}" var="proc" maxResults="5"
                                                                    itemLabel="#{proc.descricao}" itemValue="#{proc}" placeholder="Digite o procedimento" required="true" requiredMessage="Informe o procedimento" >
                                                        <p:column>
                                                            <h:outputText value="#{proc.idProcedimento}" />
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="#{proc.descricao}" />
                                                        </p:column>
                                                        <p:ajax event="blur" update=":frmNovoCheque:pacie"/>
                                                        <p:ajax event="itemSelect" oncomplete="$(function(){PrimeFaces.focus('frmNovoCheque:pacie');});" />
                                                    </p:autoComplete>                                                        
                                                    <p:commandButton id="btnAddProcedimento" styleClass="btn btninput" immediate="true" onclick="PF('dlgCadastrarProcedimentos').show()"  icon="add" >
                                                        <p:tooltip for="btnAddProcedimento" value="Adicionar novo cadastro"/>
                                                    </p:commandButton>
                                                </h:panelGrid>
                                            </b:column>
                                        </b:row>
                                        <b:row>
                                            <b:column span="4">
                                                <p:outputLabel  value="Paciente" />
                                                <p:autoComplete  value="#{chequeMB.cheque.idPaciente}" converter="Converter"
                                                                 completeMethod="#{chequeMB.completeMethodPaciente}" var="parc"
                                                                 itemLabel="#{parc.nome}" itemValue="#{parc}" maxResults="10" minQueryLength="2"
                                                                 id="pacie" >
                                                    <p:ajax event="itemSelect" listener="#{chequeMB.selecionarPaciente()}" 
                                                            oncomplete="$(function(){PrimeFaces.focus('frmNovoCheque:banc');});" update="emit, cpf" />
                                                    <p:column>
                                                        <h:outputText value="#{parc.nome}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{parc.cpf}" />
                                                    </p:column>
                                                </p:autoComplete>
                                            </b:column>
                                            <b:column span="4">
                                                <p:outputLabel  for="emit" value="Emitente" />
                                                <p:inputText value="#{chequeMB.cheque.emitente}" id="emit"   required="true" requiredMessage="Informe o emitente!" />
                                            </b:column>
                                            <b:column span="4">
                                                <p:outputLabel  for="cpf"  value="CPF" />
                                                <p:inputMask value="#{chequeMB.cheque.cpf}" id="cpf" required="true" requiredMessage="Informe o cpf do emitente!" mask="999.999.999-99" >
                                                    <p:ajax listener="#{chequeMB.validarCPF(chequeMB.cheque.cpf)}" event="blur"  update=":msg" />
                                                </p:inputMask>
                                            </b:column>
                                            <b:column span="4">
                                                <p:outputLabel  for="banc"  value="Banco" />
                                                <p:selectOneMenu value="#{chequeMB.cheque.idBanco}" converter="Converter" filter="true" 
                                                                 filterMatchMode="contains" styleClass="form-control" id="banc" 
                                                                 required="true" requiredMessage="Informe o banco!">
                                                    <f:selectItem itemLabel="Selecione o banco" itemValue="" />
                                                    <f:selectItems value="#{bancoMB.listaBancos()}" var="bak" itemLabel="#{bak.nome}" itemValue="#{bak}" />
                                                </p:selectOneMenu>
                                            </b:column>
                                            <b:column span="4">
                                                <p:outputLabel  for="nchec"  value="Nº do Cheque" />
                                                <p:inputText value="#{chequeMB.cheque.numeroCheque}" id="nchec" required="true" requiredMessage="Informe o nº do cheque!" />
                                            </b:column>

                                            <b:column span="2">
                                                <p:outputLabel  for="dtEmi"  value="Compensação" />
                                                <p:calendar value="#{chequeMB.cheque.dtCompensacaoVencimento}" id="dtEmi" mask="99/99/9999"  required="true" requiredMessage="Informe a data!" pattern="dd/MM/yyyy" />
                                            </b:column>
                                            <b:column span="2">
                                                <p:outputLabel  for="dtRec"  value="Recebimento" />
                                                <p:calendar value="#{chequeMB.cheque.dtRecebimentoEmissao}" id="dtRec" mask="99/99/9999"  required="true" requiredMessage="Informe a data!" pattern="dd/MM/yyyy" />
                                            </b:column>
                                            <b:column span="4">
                                                <p:outputLabel  for="val"  value="Valor" />
                                                <pe:inputNumber value="#{chequeMB.cheque.valor}" id="val" 
                                                                required="true" requiredMessage="Informe o valor!" decimalSeparator="," thousandSeparator="."  symbol="R$ "/>
                                            </b:column>
                                            <b:column span="8">
                                                <p:outputLabel for="Obs" value="Observação" />
                                                <p:inputText value="#{chequeMB.cheque.observacao}" id="Obs" />
                                            </b:column>
                                            <b:column span="12">
                                                <hr/>
                                                <p:commandButton value="#{chequeMB.cheque.idCheque == null ? 'Salvar' : 'Sair'}" icon="#{chequeMB.cheque.idCheque == null ? 'salvar' : 'excluir'}" 
                                                                 styleClass="btn" action="#{chequeMB.salvarAvulso()}" ajax="false" 
                                                                 oncomplete="if (!args.validationFailed) PF('dlgNovoCheque').hide();"/>
                                                &nbsp;
                                                <p:commandButton value="Salvar e Lançar repasse" icon="pagamento" styleClass="btn" 
                                                                 action="#{chequeMB.carregarValoresRepasses()}" update=":frmRepasses, :msg, :consultaCheques, :consultaCheques:dtl" 
                                                                 oncomplete="if (!args.validationFailed) PF('dlgRepasses').show(); $(function(){PrimeFaces.focus('frmRepasses:medico');});" />
                                            </b:column>
                                            <b:column id="repasses" span="12" rendered="#{chequeMB.repassesConsolidados.size() > 0}">
                                                <br/>
                                                <p:dataTable id="dtlRepasses" value="#{chequeMB.repassesConsolidados}" emptyMessage="Não há repasses lançados"  paginator="true" 
                                                             paginatorAlwaysVisible="false" rows="5" var="rep">
                                                    <f:facet name="header">
                                                        Repasses
                                                    </f:facet>
                                                    <p:column  headerText="Médico" width="50%" 
                                                               sortBy="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}">
                                                        <h:outputText value="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Vencimento">
                                                        <center>
                                                            <h:outputText value="#{rep.dtVencimento}"  style="color: black;"  >
                                                                <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                            </h:outputText>
                                                        </center>
                                                    </p:column>
                                                    <p:column headerText="Percentual (%)">
                                                        <center>
                                                            <h:outputText value="#{(rep.valorDocumento * 100) / rep.idCheque.valor}"   >
                                                                <f:convertNumber maxFractionDigits="2" maxIntegerDigits="3"  />
                                                            </h:outputText>
                                                        </center>
                                                    </p:column>
                                                    <p:column headerText="Valor">
                                                        <center>
                                                            <h:outputText value="#{rep.valorDocumento}"   >
                                                                <f:convertNumber type="currency" />
                                                            </h:outputText>
                                                        </center>
                                                    </p:column>
                                                    <p:column headerText="Excluir" width="10%">
                                                        <center>
                                                            <p:commandButton id="btnExcluir" styleClass="ui-confirmdialog-no" 
                                                                             icon="cancel16" 
                                                                             action="#{chequeMB.excluirRepasse(rep)}" ajax="true" immediate="true"
                                                                             update="@form, :frmRepasses:dtlRepasses, :frmRepasses:rwWidgets, :frmRepasses:msg ">
                                                            </p:commandButton>
                                                        </center>
                                                    </p:column>

                                                </p:dataTable>
                                            </b:column>
                                        </b:row>
                                    </b:column>
                                </h:form>
                            </p:dialog>

                            <!-- Lançar Repasses -->
                            <p:dialog widgetVar="dlgRepasses" header="Lançar repasse" modal="true" closable="false" 
                                      width="60%" closeOnEscape="true" position="top">
                                <h:form id="frmRepasses">
                                    <b:row id="rwWidgets">
                                        <center>
                                            <b:column col-md="4" col-xs="12">
                                                <div class="widget style1 navy-bg">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <i class="fa fa-check fa-3x"></i>
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span> Valor Recebido </span>
                                                            <h3 class="font-bold">
                                                                <h:outputText id="widgetValorRecebido" value="#{chequeMB.cheque.valor}">
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-md="4" col-xs="12">

                                                <div class="widget style1 yellow-bg">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <i class="fa fa-thumbs-o-up fa-3x"></i>
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span> Valor Repassado </span>
                                                            <h3 class="font-bold">
                                                                <h:outputText id="widgetValorRepassado" value="#{cirurgiaMB.arredondar_double(chequeMB.valorRepassado)}">
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-md="4" col-xs="12">

                                                <div class="widget style1 green-bg">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <i class="fa fa-tag fa-3x"></i>
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span> Valor Restante </span>
                                                            <h3 class="font-bold">
                                                                <h:outputText id="widgetValorRestante" value="#{cirurgiaMB.arredondar_double(chequeMB.cheque.valor - chequeMB.valorRepassado)}">
                                                                    <f:convertNumber type="currency" />
                                                                </h:outputText>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </b:column>
                                        </center>
                                        <b:column col-md="12">
                                            <p:messages id="msg" autoUpdate="true"/>
                                        </b:column>
                                    </b:row>
                                    <br/>
                                    <div class="row">
                                        <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12">
                                            <bcr:outputrequired value="Méd. Responsável" />
                                            <h:panelGrid columns="2" width="100%">                                                        
                                                <p:autoComplete id="medico" value="#{chequeMB.repasse.idTerceiro}" converter="Converter"
                                                                completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5"
                                                                itemLabel="#{terc.nome != null ? terc.nome : terc.nomeFantasia}" itemValue="#{terc}" placeholder="Digite o médico responsável" required="true" requiredMessage="Informe o médico responsável!">
                                                    <p:column>
                                                        <h:outputText value="#{terc.idTerceiro}" />
                                                    </p:column>
                                                    <p:column>
                                                        <h:outputText value="#{terc.nome != null ? terc.nome : terc.nomeFantasia}" />
                                                    </p:column>
                                                    <p:ajax event="itemSelect" update="valorItem" oncomplete="$(function(){PrimeFaces.focus('frmRepasses:valorItem');});" />
                                                </p:autoComplete> 
                                            </h:panelGrid>
                                        </b:column>
                                        <b:column col-lg="6" col-md="6" col-sm="6" col-xs="12">
                                            <h:outputText value="Valor"/>
                                            <pe:inputNumber id="valorItem" decimalSeparator="." thousandSeparator="," emptyValue="empty"
                                                            symbol="R$ " value="#{chequeMB.repasse.valorDocumento}" required="true" requiredMessage="Informe o valor do repasse">
                                            </pe:inputNumber>

                                        </b:column>
                                        <b:column id="botoes" col-md="12">
                                            <br/>
                                            <p:commandButton value="Adicionar" icon="pagamento" styleClass="btn" 
                                                             action="#{chequeMB.lancarRepasse()}" update="dtlRepasses, @form, :frmRepasses:msg" 
                                                             oncomplete="$(function(){PrimeFaces.focus('frmRepasses:medico');});" />

                                            <p:commandButton value="Sair" icon="excluir" styleClass="btn" immediate="true" disabled="#{chequeMB.valorRepassado != 0 and (chequeMB.cheque.valor - chequeMB.valorRepassado) > 0}"
                                                             update="@form, :frmRepasses, dtlRepasses, :frmNovoCheque, :frmNovoCheque:repasses, :frmRepasses:msg" 
                                                             oncomplete="PF('dlgRepasses').hide();" />
                                            <hr/>
                                        </b:column>

                                        <b:column col-md="12">
                                            <p:dataTable id="dtlRepasses" value="#{chequeMB.repasses}" emptyMessage="Não há repasses lançados"  paginator="true" 
                                                         paginatorAlwaysVisible="false" rows="5" var="rep" rowKey="#{rep.idRepasse}">
                                                <p:column  headerText="ID" width="5%" >
                                                    <h:outputText value="#{rep.idRepasse}" />
                                                </p:column>
                                                <p:column  headerText="Médico" width="50%" 
                                                           sortBy="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}">
                                                    <h:outputText value="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" />
                                                </p:column>
                                                <p:column headerText="Vencimento">
                                                    <center>
                                                        <h:outputText value="#{rep.dtVencimento}"  style="color: black;"  >
                                                            <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Percentual (%)">
                                                    <center>
                                                        <h:outputText value="#{(rep.valorDocumento * 100) / rep.idCheque.valor}"   >
                                                            <f:convertNumber maxFractionDigits="2" maxIntegerDigits="3"  />
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Valor">
                                                    <center>
                                                        <h:outputText value="#{rep.valorDocumento}"   >
                                                            <f:convertNumber type="currency" />
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Excluir" width="10%">
                                                    <center>
                                                        <p:commandButton id="btnExcluir" styleClass="ui-confirmdialog-no" 
                                                                         icon="cancel16" 
                                                                         action="#{chequeMB.excluirRepasse(rep)}" ajax="true" immediate="true"
                                                                         update="@form, :frmRepasses:dtlRepasses, :frmRepasses:rwWidgets, :frmRepasses:botoes, :frmNovoCheque:dtlRepasses, :frmNovoCheque, :frmRepasses:msg ">
                                                        </p:commandButton>
                                                    </center>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <h:outputText value="Valor total repassado:"/>
                                                    <h:outputText value="#{cirurgiaMB.arredondar_double(chequeMB.valorRepassado)}"/>
                                                </f:facet>
                                            </p:dataTable>
                                        </b:column>                                        
                                    </div>
                                </h:form>                                
                            </p:dialog>
                            <p:dialog widgetVar="dlgFiltroPesquisarMovimento" header="Pesquisar por data de vencimento" >
                                <h:form id="frmPesquisar">
                                    <b:row>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Inicial"   />
                                            <p:calendar value="#{chequeMB.PDtInicial}" placeholder="Data Inicial" 
                                                        pattern="dd/MM/yyyy" locale="pt" requiredMessage="Informe a data inicial"/>
                                        </b:column>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Final"   />
                                            <p:calendar value="#{chequeMB.PDtFinal}" placeholder="Data Final"
                                                        pattern="dd/MM/yyyy" locale="pt" requiredMessage="Informe a data final"/>
                                        </b:column>
                                        <b:column col-md="12">
                                            <hr/>
                                            <p:commandButton id="btnConsultar" value="Pesquisar" styleClass="btn"
                                                             icon="pesquisar" action="#{chequeMB.pesquisarCheque()}" update=":consultaCheques, :msg" oncomplete="PF('dlgFiltroPesquisarMovimento').hide();"/>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
