<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Relatório de Resumo de Pagamentos</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulistagemcirurgia}"/>
                <b:column span="12">
                    <b:panel  title="Listagem de Resumo de Pagamentos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menulistagemcirurgia}">
                        <h:form id="frmCheques">
                            <b:column span="12">
                                <b:row>
                                    <b:column span="2" >
                                        <h:outputText value="Data Inicial" />
                                        <p:calendar  value="#{contaCorrenteMB.dtInicioResumo}" locale="pt" pattern="dd/MM/yyyy" />
                                    </b:column>
                                    <b:column span="2" >
                                        <h:outputText value="Data Final" />
                                        <p:calendar  value="#{contaCorrenteMB.dtFinalResumo}" locale="pt" pattern="dd/MM/yyyy" />
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Paciente" />
                                        <h:panelGrid columns="2" style="width: 110% !important;">
                                            <p:inputText id="paciente" value="#{contaCorrenteMB.nomePacientePesquisa != null ? contaCorrenteMB.nomePacientePesquisa : ''}" 
                                                         placeholder="Todos os pacientes" readonly="true" styleClass="form-control">
                                                <p:ajax update="@this"/>
                                            </p:inputText>
                                            <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" 
                                                             immediate="true" action="#{cirurgiaMB.carregarPacientesLazyModel()}" update=":dlgConsultaPacientePesquisa:frmConsultaPacientePesquisa"
                                                             onclick="PF('dlgConsultaPacientePesquisa').show();" />
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Médico"/>
                                        <p:selectOneMenu id="terceiro" value="#{contaCorrenteMB.terceiro}" converter="Converter" 
                                                         style="text-transform: capitalize" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Todos" itemValue="#{null}"  >
                                            </f:selectItem>
                                            <f:selectItems value="#{contaCorrenteMB.listaTerceiros()}"  var="terc"
                                                           itemLabel="#{terc.tipoPessoa == 'J' ? terc.nomeFantasia : terc.nome}" itemValue="#{terc}" />
                                            <p:ajax update="@this"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton id="btnImprimir2" icon="imprimir" styleClass="btn hidden-xs" value="Imprimir Resumo" 
                                                         oncomplete="PF('dlgImprimirResumo').show();"
                                                         update="@this" />
                                    </b:column>
                                </b:row>
                            </b:column>
                        </h:form>
                    </b:panel>
                </b:column>
                <p:dialog widgetVar="dlgImprimirResumo" modal="true" header="Impressão" 
                          closable="true" closeOnEscape="true" resizable="false" width="40%">
                    <h:form id="frmImprimir">
                        <b:row>
                            <b:column span="12">
                                <bcr:alertInfo Descricao="Escolha uma das opções abaixo para imprimir as informações sobre valores de acordo com o status:  " />
                                <hr/>
                                <center>
                                    <p:commandButton value="Todos" icon="imprimir" action="#{contaCorrenteMB.imprimirAtendimentosResumo(contaCorrenteMB.terceiro.idTerceiro , contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo, '%' )}" 
                                                     onclick="this.form.target='_blank'" ajax="false" oncomplete="PF('dlgImprimirResumo').hide();">
                                    </p:commandButton>
                                    &nbsp;
                                    <p:commandButton value="Retirado" icon="imprimir" action="#{contaCorrenteMB.imprimirAtendimentosResumo(contaCorrenteMB.terceiro.idTerceiro, contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo, 'Retirado' )}" 
                                                     onclick="this.form.target='_blank'" ajax="false" oncomplete="PF('dlgImprimirResumo').hide();">
                                    </p:commandButton>
                                    &nbsp;
                                    <p:commandButton value="Não Retirado" icon="imprimir" action="#{contaCorrenteMB.imprimirAtendimentosResumo(contaCorrenteMB.terceiro.idTerceiro, contaCorrenteMB.dtInicioResumo, contaCorrenteMB.dtFinalResumo, 'Não Retirado' )}" 
                                                     onclick="this.form.target='_blank'" ajax="false" oncomplete="PF('dlgImprimirResumo').hide();">
                                    </p:commandButton>
                                </center>
                            </b:column>
                        </b:row>
                    </h:form>
                </p:dialog>
                <!-- Consultar Paciente em Pesquisa -->
                <bcr:dialogPesquisaPaciente id="dlgConsultaPacientePesquisa" header="Consulta de Paciente" idDatatable="dtlConsultarPaciente" idDialogo="dlgConsultaPacientePesquisa"
                                            idForm="frmConsultaPacientePesquisa" updateBtnSelecionar=":frmCheques" actionTodosPacientes="#{contaCorrenteMB.limparPaciente()}"
                                            action="#{contaCorrenteMB.selecionarPacientePesquisa(varPaciente)}"/>
            </ui:define>
        </ui:composition>
    </body>
</html>
