<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Estorno de Recebimentos</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuestornorecebimento}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Estorno de Recebimentos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuestornorecebimento}">
                            <h:form id="frmConsultarRecebimentos">
                                <b:column span="2">

                                </b:column>

                                <b:column span="12">
                                    <fieldset>
                                        <legend><i class="fa fa-search"></i> Pesquisar</legend>
                                        <b:column span="2" >
                                            <p:inputText value="#{estornarMB.filtros.idCirurgia}" styleClass="form-control" placeholder="Nº Cirurgia" />
                                        </b:column>
                                        <b:column span="2">
                                            <p:inputText value="#{estornarMB.filtros.idRepasse}" styleClass="form-control" placeholder="Nº Repasse" />
                                        </b:column>
                                        <b:column span="5">

                                        </b:column>
                                        <b:column span="12">
                                            <br/>
                                            <h:panelGrid columns="2">
                                                <p:commandButton value="Pesquisar" icon="consultar"  styleClass="btn btn-primary" actionListener="#{estornarMB.listarRepassesAEstornar()}"  update="tblPesq, :msg"  />
                                            </h:panelGrid>
                                        </b:column>
                                    </fieldset>
                                </b:column>
                                <br/>
                                <b:column span="12" styleClass="total">
                                    <p:dataTable id="tblPesq" value="#{estornarMB.repasseSelecionados}" var="wPesq" emptyMessage="Pesquise a conta que deseja estornar!" >
                                        <f:facet name="header">
                                            Estorno de Documentos
                                        </f:facet>
                                        <p:column  width="8%" headerText="Estornar?" >
                                            <p:selectBooleanButton id="value2" value="#{wPesq.pagar}" onLabel="Sim" offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" style="width:60px">
                                                <p:ajax update="tblPesq" event="change"  />
                                            </p:selectBooleanButton>
                                        </p:column>

                                        <p:column headerText="Paciente">
                                            <h:outputText value="#{wPesq.idPaciente.nome}" />
                                        </p:column>
                                        <p:column headerText="Cirurgia" width="7%">
                                            <center> <h:outputText value="#{wPesq.idCirurgia.idCirurgia}" /></center>
                                        </p:column>
                                        <p:column headerText="Parcela" width="6%">
                                            <center> <h:outputText value="#{wPesq.numeroParcela}" /></center>
                                        </p:column>
                                        <p:column headerText="Valor Recebido" width="13%">
                                            <center>
                                                <h:outputText value="#{wPesq.valorRecebido}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Valor Documento" width="13%">
                                            <center>
                                                <h:outputText value="#{wPesq.valorDocumento}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Recebimento" width="10%">
                                            <center>
                                                <h:outputText value="#{wPesq.dtRecebimento}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column headerText="Situação">
                                            <h:outputText value="#{wPesq.situacaoPaciente=='A'?'Aberto':wPesq.situacaoPaciente=='X'?'Parcialmente Pago':'Pago'}" />
                                        </p:column>
                                        <f:facet name="footer" >
                                            <p:commandButton  icon="confirmar"  value="Estornar" update=":frmConfirmarRecebimento"  oncomplete="PF('dlgConfimacao').show()" />
                                        </f:facet>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgConfimacao" header="Estorno de Documentos" modal="true" width="30%" resizable="false" closeOnEscape="true"  closable="true">
                                <h:form id="frmConfirmarRecebimento" >
                                    <b:column span="12">
                                        <center><bcr:alertDanger Titulo="Atenção! " Descricao="Você deseja fazer o estorno destes documentos?!" /></center>
                                        <bcr:outputrequired value="Operação" />
                                        <p:selectOneMenu value="#{estornarMB.operacao}" converter="Converter" styleClass="form-control" style="width: 100%" filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Selecione uma operação" itemValue="" />
                                            <f:selectItems value="#{estornarMB.listarOperacoes()}" var="ops"
                                                           itemLabel="#{ops.descricao}" itemValue="#{ops}" />
                                        </p:selectOneMenu>
                                        <br/>
                                        <hr/>
                                        <center>
                                            <p:commandButton icon="confirmar" value="Confirmar" update=":frmConsultarRecebimentos, :msg"   action="#{estornarMB.ConfirmarEstorno()}" oncomplete="PF('dlgConfimacao').hide()" />
                                        </center>
                                    </b:column>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>

            </ui:define>

        </ui:composition>

    </body>
</html>
