<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body >

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Orçamentos</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuconsultaorcamento}" />
                <p:growl id="msg" showDetail="true" autoUpdate="true" life="10000" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Orçamentos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuconsultaorcamento}" >
                            <h:form id="frmConsultar">
                                <b:panel id="pnlConsultar" title="Consulta de Orçamentos" rendered="#{orcamentoMB.status == 'Consultando' ? 'true' : 'false'}" >

                                    <hr/>
                                    <b:column span="2" >
                                        <p:calendar value="#{orcamentoMB.dtInicialPesquisa}" placeholder="Data Inicial" styleClass="form-control" pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtFinalPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data inicial"/>
                                    </b:column>
                                    <b:column span="2">
                                        <p:calendar value="#{orcamentoMB.dtFinalPesquisa}" placeholder="Data Final" styleClass="form-control"  pattern="dd/MM/yyyy" locale="pt" required="#{orcamentoMB.dtInicialPesquisa != null ? 'true':'false'}" requiredMessage="Informe a data final!"/>
                                    </b:column>
                                    <b:column span="5">
                                        <p:selectOneMenu value="#{orcamentoMB.idPacientePesquisa}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Paciente" itemValue="" />
                                            <f:selectItems value="#{orcamentoMB.listaDePacientes()}" var="pacPesquisa" 
                                                           itemLabel="#{pacPesquisa.nome}" 
                                                           itemValue="#{pacPesquisa.idPaciente}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="3">
                                        <p:selectOneMenu value="#{orcamentoMB.situacaoPesquisa}" style="width: 100%" styleClass="form-control" filter="true" filterMatchMode="contains" >
                                            <f:selectItem itemLabel="Situação" itemValue="" />
                                            <f:selectItem itemLabel="Aberto" itemValue="Aberto" />
                                            <f:selectItem itemLabel="Vencido" itemValue="Vencido" />
                                            <f:selectItem itemLabel="Não Realizado" itemValue="Não Realizado" />
                                            <f:selectItem itemLabel="Realizado" itemValue="Realizado" />
                                            <f:selectItem itemLabel="Cancelado" itemValue="Cancelado" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <b:column span="6">
                                            <p:commandButton value="Pesquisar" icon="consultar"  
                                                             styleClass="btn" actionListener="#{orcamentoMB.pesquisarOrcamentos()}" update="tblPesq, :msg"  />
                                        </b:column>
                                        <b:column span="2">

                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Liberado"  /> &nbsp; &nbsp;  <p:graphicImage value="Recursos/icons/OK.png" /> 
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Não Liberado" /> &nbsp; &nbsp;  <p:graphicImage value="Recursos/icons/Close.png" /> 
                                        </b:column>
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                    </b:column>
                                    <b:column span="12">
                                        <p:dataTable id="tblPesq" widgetVar="wtblPesq" value="#{orcamentoMB.listaOrcamentoAPesquisar}" var="orctoPesq" paginator="true" rows="25">
                                            <f:facet name="header">
                                                <p:outputPanel>
                                                    <p:inputText id="globalFilter"  onkeyup="PF('wtblPesq').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                                </p:outputPanel>
                                            </f:facet>
                                            <p:column width="4%">
                                                <p:rowToggler />
                                            </p:column>
                                            <p:column headerText="Nº" filterBy="#{orctoPesq.idOrcamento}" sortBy="#{orctoPesq.idOrcamento}" filterMatchMode="contains" width="6%">
                                                <center><h:outputText value="#{orctoPesq.idOrcamento}"  /></center>
                                            </p:column>
                                            <p:column headerText="Paciente" filterBy="#{orctoPesq.idPaciente.nome}" sortBy="#{orctoPesq.idPaciente.nome}">
                                                <h:outputText value="#{orctoPesq.idPaciente.nome}" />
                                            </p:column>
                                            <p:column headerText="Data"  filterBy="#{orctoPesq.dtOrcamento}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.dtOrcamento}">
                                                <f:facet name="filter">
                                                    <p:calendar
                                                        id="calendarDate"
                                                        styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all "
                                                        locale="pt" 
                                                        pattern="dd/MM/yyyy"
                                                        onchange="PF('wtblPesq').filter()"
                                                        onselect="PF('wtblPesq').filter()"
                                                        onblur="PF('wtblPesq').filter()"

                                                        >

                                                    </p:calendar>
                                                </f:facet>
                                                <h:outputText value="#{orctoPesq.dtOrcamento}">
                                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Médico" filterBy="#{orctoPesq.idTerceiro.nome}" sortBy="#{orctoPesq.idTerceiro.nome}">
                                                <h:outputText value="#{orctoPesq.idTerceiro.nome}" />
                                            </p:column>
                                            <p:column headerText="Procedimento" filterBy="#{orctoPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{orctoPesq.idProcedimento.descricao}">
                                                <h:outputText value="#{orctoPesq.idProcedimento.descricao}"  />
                                            </p:column>
                                            <p:column headerText="Situação" filterBy="#{orctoPesq.situacao}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.situacao}" >
                                                <h:outputText styleClass="#{orctoPesq.situacao == 'Aberto' ? 'label label-primary' : orctoPesq.situacao == 'Vencido' ? 'label label-danger' : orctoPesq.situacao == 'Realizado' ? 'label label-success ' : orctoPesq.situacao == 'Não Realizado' ? 'label label-warning' : orctoPesq.situacao == 'Cancelado' ? 'label label-default' : orctoPesq.situacao == 'Andamento' ? 'label label-danger' : ''}"  
                                                              value="#{orctoPesq.situacao}" />
                                            </p:column>
                                            <p:column  headerText="Status" filterBy="#{orctoPesq.status}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.status}" >
                                                <center><p:graphicImage value="#{orctoPesq.status == 'Liberado' ? 'Recursos/icons/OK.png' : 'Recursos/icons/Close.png'}"  /> </center>
                                            </p:column>

                                            <p:column  headerText="Controle" width="10%"  >
                                                <p:commandLink title="Informação" action="#{orcamentoMB.selecionarPorID(orctoPesq.idOrcamento)}" update=":frmInfoOrcto" oncomplete="PF('dlgInfoOrcto').show()"   >
                                                    <center> <p:graphicImage value="Recursos/icons/Info.png" /></center>
                                                </p:commandLink>
                                            </p:column>
                                            <p:rowExpansion>
                                                <p:dataTable value="#{orctoPesq.orcamentoItemList}" var="itnList" >
                                                    <f:facet name="header">
                                                        Itens do Orcamento #{orctoPesq.idOrcamento}
                                                    </f:facet>
                                                    <p:column width="4%">
                                                        <p:rowToggler />
                                                    </p:column>
                                                    <p:column headerText="Serviço" >
                                                        <h:outputText value="#{itnList.idServico.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Terceiro" >
                                                        <h:outputText value="#{itnList.idTerceiro.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Quantidade" >
                                                        <h:outputText value="#{itnList.quantidade}" />
                                                    </p:column>
                                                    <p:column headerText="Vlr Unit." >
                                                        <h:outputText value="#{itnList.valorUnitario}" >
                                                            <f:convertNumber minFractionDigits="2" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Taxa" >
                                                        <h:outputText value="#{itnList.taxa}" >
                                                            <f:convertNumber minFractionDigits="2" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Vlt Total" >
                                                        <h:outputText value="#{itnList.valorTotal}" >
                                                            <f:convertNumber minFractionDigits="2" />
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:rowExpansion>
                                                        <p:dataTable value="#{itnList.idServico.servicoItemList}" var="sil" >
                                                            <p:column headerText="Descritivas do Item do Orçamento">
                                                                <h:outputText value="#{sil.descritiva}" />
                                                            </p:column>
                                                        </p:dataTable>
                                                    </p:rowExpansion>
                                                </p:dataTable>
                                            </p:rowExpansion>
                                        </p:dataTable>
                                    </b:column>
                                </b:panel>

                            </h:form>
                            <p:dialog closeOnEscape="true" closable="true" onHide="#{orcamentoMB.limpaObjeto()}" widgetVar="dlgInfoOrcto" header="Informações do Orçamento #{orcamentoMB.orcamento.idOrcamento}" resizable="true" height="600" maximizable="true" minimizable="true"   modal="true" position="top">
                                <h:form id="frmInfoOrcto" >    
                                    <div class="row">
                                        <b:column span="4">
                                            <h4><strong>Orçamento:</strong>  #{orcamentoMB.orcamento.idOrcamento}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Convênio: </strong>  #{orcamentoMB.orcamento.idConvenio.descricao}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Data Orçamento: </strong>  <h:outputText value="#{orcamentoMB.orcamento.dtOrcamento}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </h4>
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            <h4><strong>Paciente:</strong>  #{orcamentoMB.orcamento.idPaciente.nome}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Telefone: </strong>  #{orcamentoMB.orcamento.idPaciente.telefone}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Válido Até: </strong>  <h:outputText value="#{orcamentoMB.orcamento.dtValidade}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </h4>
                                        </b:column>
                                    </div>

                                    <div class="row">
                                        <b:column span="4">
                                            <h4><strong>Cirurgião:</strong>  #{orcamentoMB.orcamento.idTerceiro.nome}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Status:</strong>  #{orcamentoMB.orcamento.status}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Data de Previsão:</strong> <h:outputText value="#{orcamentoMB.orcamento.dtPrevisao}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText></h4>
                                        </b:column>
                                    </div>
                                    <div class="row">
                                        <b:column span="4">
                                            <h4><strong>Procedimento: </strong>  #{orcamentoMB.orcamento.idProcedimento.descricao}</h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Valor Total: </strong> 
                                                <h:outputText value="#{orcamentoMB.orcamento.valor}">
                                                    <f:convertNumber minFractionDigits="2" />
                                                </h:outputText>
                                            </h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Status</strong> 
                                                <h:outputText value="#{orcamentoMB.orcamento.status}">
                                                </h:outputText>
                                            </h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Situação </strong> 
                                                <h:outputText value="#{orcamentoMB.orcamento.situacao}">
                                                </h:outputText>
                                            </h4>
                                        </b:column>
                                        <b:column span="4">
                                            <h4><strong>Observação: </strong> 
                                                <h:outputText   value="#{orcamentoMB.limitarCaracteres(orcamentoMB.orcamento.observacao)}">
                                                </h:outputText>
                                            </h4>
                                        </b:column>
                                    </div>
                                    <div class="row">
                                        <b:column span="12">
                                            <center> <strong><h3 style="font-weight: bolder; text-decoration: underline ">Itens do Orçamento</h3></strong></center>
                                        </b:column>
                                        <b:column span="12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Serviço</th>
                                                        <th>Qtde</th>
                                                        <th>Vlr Unit.</th>
                                                        <th>Vlr Tot.</th>
                                                        <th>Obs</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ui:repeat value="#{orcamentoMB.itens}" var="itns">
                                                        <tr>
                                                            <td>#{itns.idServico.descricao}</td>
                                                            <td>#{itns.quantidade}</td>
                                                            <td>
                                                                <h:outputText value="#{itns.valorUnitario}">
                                                                    <f:convertNumber minFractionDigits="2" />
                                                                </h:outputText>
                                                            </td>
                                                            <td>
                                                                <h:outputText value="#{itns.valorTotal}">
                                                                    <f:convertNumber minFractionDigits="2" />
                                                                </h:outputText>
                                                            </td>
                                                            <td>#{itns.observacao}</td>
                                                        </tr>
                                                    </ui:repeat>
                                                    <tr>
                                                        <td></td> 
                                                        <td></td> 
                                                        <td><strong>Totais: </strong></td> 
                                                        <td>
                                                            <strong>
                                                                <h:outputText style="color: #ff0000" value="#{orcamentoMB.orcamento.valor}">
                                                                    <f:convertNumber minFractionDigits="2" />
                                                                </h:outputText>
                                                            </strong> 
                                                        </td> 
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <hr/>
                                            <h:form>
                                                <p:commandButton value="Imprimir"  styleClass="btn btn-primary" icon="imprimir" />
                                            </h:form>
                                        </b:column>
                                    </div>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>

