<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Transferências</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage rendered="#{!sessaoMB.usuario.idPapel.verTransferencia}"/>
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Transferências de valores entre usuários" look="primary" rendered="#{sessaoMB.usuario.idPapel.verTransferencia}" >
                            <p:messages id="msg" closable="true"/>
                            <h:form id="frmTransferencia">
                                <p:commandButton value="Pesquisar" id="ctrl" styleClass="btn" icon="pesquisar" />
                                <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                                    <p:panelGrid columns="1" style="width: 100%; " >
                                        <p:commandButton style="width: 100%" value="Filtros" icon="ui-icon-calendar" onclick="PF('dlgFiltroPesquisarMovimento').show();" />
                                        <p:commandButton style="width: 100%" value="Diário" actionListener="#{movimentoUsuarioMB.setarDatasPesquisa('D')}" update="frmTransferencia, :msg" icon="ui-icon-arrowstop-1-s"/>
                                        <p:commandButton style="width: 100%" value="Mês atual" actionListener="#{movimentoUsuarioMB.setarDatasPesquisa('M')}" update="frmTransferencia, :msg" icon="ui-icon-arrowrefresh-1-e"/>
                                        <p:commandButton style="width: 100%" value="Mês anterior" actionListener="#{movimentoUsuarioMB.setarDatasPesquisa('A')}" update="frmTransferencia, :msg" icon="ui-icon-arrowthick-1-w"/>
                                        <p:commandButton style="width: 100%" value="Próximo mês" actionListener="#{movimentoUsuarioMB.setarDatasPesquisa('P')}" update="frmTransferencia, :msg" icon="ui-icon-arrowthick-1-e"/>
                                    </p:panelGrid>
                                </p:overlayPanel>
                                &nbsp;
                                <p:commandButton styleClass="btn" value="Hoje" actionListener="#{movimentoUsuarioMB.setarDatasPesquisa('D')}" 
                                                 update="frmTransferencia, :msg" icon="fa fa-calendar">
                                </p:commandButton>
                                &nbsp;
                                <p:commandButton value="Nova Transferência" id="btnTransferir" icon="add" 
                                                 styleClass="btn" action="#{movimentoUsuarioMB.novaTransferencia(movimentoUsuarioMB.PDtIni, movimentoUsuarioMB.PDtFim)}" 
                                                 update=":novo, :novo:dtlTransferir" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.realizarTransferencia}" />
                                &nbsp;
                                <p:commandButton value="Imprimir Varios" id="btnImprimirSelecionadas" icon="imprimir" onclick="form.target = '_blank'" ajax="false" immediate="true"
                                                 styleClass="btn" action="#{movimentoUsuarioMB.imprimirTransferenciaSelecionadas()}"
                                                 rendered="#{sessaoMB.usuario.idPapel.realizarTransferencia}" />

                                <hr/>

                                <p:dataTable id="dtlTransferidos" value="#{movimentoUsuarioMB.listaCaixas}" var="transf" paginator="true" rows="10" 
                                             rowKey="#{transf.idCirurgia.idCirurgia}"  paginatorPosition="bottom"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="10,25,50,100,200" 
                                             selection="#{movimentoUsuarioMB.listaCaixasTransferir}" 
                                             emptyMessage="Nenhuma transferência realizada!">

                                    <p:column selectionMode="multiple" width="5%" style="width:8px; text-align:center;" />
                                    <p:ajax event="rowSelectCheckbox"  update=":frmTransferencia:btnImprimirSelecionadas" />
                                    <p:ajax event="toggleSelect"  update=":frmTransferencia:btnImprimirSelecionadas" />
                                    <p:ajax event="rowUnselectCheckbox"  update=":frmTransferencia:btnImprimirSelecionadas" />




                                    

                                    <p:column headerText="Lote" width="10%" filterBy="#{transf.loteOrigem}" filterMatchMode="contains">
                                        <center>
                                            <h:outputText value="#{transf.loteOrigem}" title="#{transf.situacao}" />
                                        </center>
                                    </p:column>
                                    <p:column headerText="Histórico" width="50%" filterMatchMode="contains">
                                        <h:outputText value="#{transf.historico}" />
                                    </p:column>
                                    <p:column headerText="Data" width="10%" style="text-align: center" filterBy="#{transf.dtCaixa}" filterMatchMode="contains">
                                        <h:outputText value="#{transf.dtCaixa}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Valor" style="text-align: center" width="10%">
                                        <h:outputText value="#{transf.valor}" >
                                            <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2" />
                                        </h:outputText>
                                    </p:column>

                                    <p:column headerText="Ações" width="10%">
                                        <center>
                                            <p:commandButton value="Ações" id="ctrl" icon="ui-icon-circle-triangle-s" />
                                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                                                <p:panelGrid columns="1" style="width: 100%; " >
                                                     
                                                    <p:commandButton id="btnInfo" value="Detalhar" style="width: 100%"
                                                                     action="#{movimentoUsuarioMB.listaItensCaixaTransferidosDetalhados(transf.loteOrigem, transf.idUsuario.idUsuario)}" 
                                                                     update=":frmPagamentos" icon="pesquisar" oncomplete="PF('dlgPagamentosDetalhados').show();"/>
                                                    <p:commandButton id="btnImprimirTransferencia" value="Imprimir" icon="imprimir" style="width: 100%"
                                                                     oncomplete="PF('dlgImprimir').show();"
                                                                     update=":frmImprimir"
                                                                     action="#{movimentoUsuarioMB.imprimir(transf.loteOrigem)}" />
                                                    <p:blockUI block=":frmImprimir" trigger="btnImprimirTransferencia" />
                                                    <p:commandButton id="btnReverter" value="Reverter" style="width: 100%" icon="excluir" disabled="#{!movimentoUsuarioMB.permiteReverterTransferencia(transf.loteOrigem)}"
                                                                     action="#{movimentoUsuarioMB.recusarTransferencia(transf.loteOrigem, sessaoMB.usuario.idUsuario)}" update=":msg, dtlTransferidos">
                                                        <p:confirm header="Reverter" message="Deseja reverter esta transferencia?" icon="ui-icon-alert" />
                                                        <p:blockUI block="dtlTransferidos" trigger="btnReverter" />
                                                    </p:commandButton> 
                                                </p:panelGrid>
                                            </p:overlayPanel>
                                        </center>
                                    </p:column>

                                </p:dataTable>
                            </h:form>

                            <p:dialog header="Detalhes da Transferencia" widgetVar="dlgDetalhesTransferencia" modal="true" resizable="false" width="80%" >
                                <h:form id="frmDetalhes">
                                    <p:dataTable id="dtlMovimento" value="#{movimentoUsuarioMB.listaItensCaixaTransferidos(movimentoUsuarioMB.transferenciaSelecionadaPorId)}" var="mov"
                                                 emptyMessage="Nenhum movimento encontrado!" sortBy="#{mov.idCaixa}" paginator="true" rows="10" >                                                            
                                        <p:column headerText="Emitente" width="10%">
                                            <center>
                                                <h:outputText id="emitente" value="#{mov.idUsuarioDestino.usuario}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Destinatário" width="10%">
                                            <center>
                                                <h:outputText id="destinatario" value="#{mov.idUsuario.usuario}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Situação" width="10%">
                                            <center>
                                                <h:outputText id="situacao" value="#{mov.situacao}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Data tranfêrencia" width="10%" style="text-align: center">
                                            <h:outputText id="MovDataCaixa" value="#{mov.dtCaixa}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Valor" style="text-align: center" width="10%">
                                            <h:outputText id="MovValor" value="#{mov.valor}" style="#{mov.tipoLancamento=='C' ? 'color:blue' : 'color:red'}" >
                                                <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Imprimir" width="5%" rendered="false">
                                            <center>
                                                <p:commandButton  icon="imprimir"
                                                                  action="#{movimentoUsuarioMB.imprimirTransferenciaPorUsuario(transf.loteOrigem, mov.idUsuario.idUsuario)}" immediate="true" 
                                                                  onclick="form.target = '_blank'" ajax="false" />
                                            </center>
                                        </p:column>

                                    </p:dataTable>
                                </h:form>
                            </p:dialog>

                            <p:dialog header="Pagamentos detalhados" widgetVar="dlgPagamentosDetalhados" modal="true" position="top"
                                      width="80%" resizable="false" closeOnEscape="true" >
                                <h:form id="frmPagamentos">

                                    <p:dataTable id="dtlMovimentoDetalhado" paginatorPosition="bottom"
                                                 value="#{movimentoUsuarioMB.listaCaixasDetalhados}" var="mov" paginator="true" rows="10"
                                                 emptyMessage="Nenhum movimento encontrado!" >                                                          

                                        <p:column headerText="Fechamento" sortBy="#{mov.idCirurgia.idCirurgia}" width="10%">
                                            <center>
                                                <h:outputText id="fech" value="#{mov.idCirurgia.idCirurgia}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Pagamento" width="10%">
                                            <center>
                                                <h:outputText value="#{mov.idCheque.movimento == 'C' ? 'Cheque nº '.concat(mov.idCheque.numeroCheque) : mov.idCheque.movimento == 'D' ? 'Dinheiro' : mov.idCheque.movimento == 'N' ? 'Nota Promissória' : mov.idCheque.movimento == 'A' ? 'Cartão - Débito' : mov.idCheque.movimento == 'B' ? 'Depósito Bancário' : 'Cartão - Crédito'}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Emitente" sortBy="#{mov.idUsuario.usuario}" width="10%">
                                            <center>
                                                <h:outputText id="destinatario" value="#{mov.idUsuario.usuario}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Destinatário" sortBy="#{mov.idUsuarioDestino.usuario}" width="10%">
                                            <center>
                                                <h:outputText id="emitente" value="#{mov.idUsuarioDestino.usuario}" />
                                            </center>
                                        </p:column>
                                        <p:column headerText="Data" width="10%" style="text-align: center">
                                            <h:outputText id="MovDataCaixa" value="#{mov.dtCaixa}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Valor" style="text-align: center" width="10%">
                                            <h:outputText id="MovValor" value="#{mov.valor}" style="color: #{mov.idCirurgia.idProcedimento.padrao == 'D' ? 'red' : ''}">
                                                <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>

                            <p:dialog header="Nova Transferência" widgetVar="dlgNovo" position="top" width="80%" 
                                      resizable="false" modal="true" >
                                <h:form id="novo">
                                    <b:column span="12" >
                                        <b:row id="rowAlerts">
                                            <p:messages autoUpdate="true"/>
                                        </b:row>
                                    </b:column>
                                    <b:row>
                                        <b:column span="3">
                                            <h:outputLabel value="Número Lote" />
                                            <p:inputText id="numLote" value="#{movimentoUsuarioMB.numAleatorio}" readonly="true" />
                                        </b:column>
                                        <b:column span="3">
                                            <h:outputLabel value="Destinatário" />
                                            <p:selectOneMenu id="cmbTerceiro" value="#{movimentoUsuarioMB.usuarioTransferencia}" converter="Converter" 
                                                             required="true" requiredMessage="Informe o usuário de destino da transferência!" styleClass="form-control" style="width: 100%" filter="true" filterMatchMode="contains">                                                
                                                <f:selectItems value="#{usuarioMB.listaUsuariosAptosTransferencia()}" var="usu"
                                                               itemLabel="#{usu.usuario}" itemValue="#{usu}" />
                                            </p:selectOneMenu>

                                        </b:column>
                                        <b:column span="6">
                                            <h:outputLabel value="Observações" />
                                            <p:inputText  styleClass="form-control" value="#{movimentoUsuarioMB.obs}"/>
                                        </b:column>                                        
                                    </b:row>

                                    <b:row>
                                        <b:column span="12">
                                            <hr/>
                                            <p:dataTable id="dtlTransferir" value="#{movimentoUsuarioMB.listaCaixasTransferir}" var="th" emptyMessage="Nenhum item a transferir"
                                                         paginator="true" rows="10" selection="#{movimentoUsuarioMB.itensParaSeremTransferidos}" scrollable="true"
                                                         scrollHeight="300"
                                                         rowsPerPageTemplate="5,10,15,30" paginatorPosition="bottom"  rowKey="#{th.numLote}" 
                                                         sortBy="#{th.dtCaixa}" sortOrder="descending" widgetVar="dtlTransferir" >
                                                <f:facet name="header">
                                                    <h:outputText value="Período: " />    
                                                    <h:outputText value="#{movimentoUsuarioMB.PDtIni}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                    </h:outputText>
                                                    <h:outputText value=" até " />    
                                                    <h:outputText value="#{movimentoUsuarioMB.PDtFim}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                    </h:outputText>
                                                </f:facet>
                                                <p:column selectionMode="multiple" width="5%" style="text-align: center"/>
                                                <p:column sortBy="#{th.idCirurgia.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}"
                                                          headerText="Atend. TASY" width="100" filterBy="#{th.idCirurgia.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}">
                                                    <center>
                                                        <h:outputText value="#{th.idCirurgia.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" />
                                                    </center>
                                                </p:column>
                                                <p:column filterBy="#{th.historico}" headerText="Histórico" sortBy="#{th.idCirurgia.idCirurgia}">
                                                    <h:outputText value="#{th.historico}" />
                                                </p:column>
                                                <p:column headerText="Data" width="120"  sortBy="#{th.dtCaixa}">
                                                    <center>
                                                        <h:outputText value="#{th.dtCaixa}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Valor" width="120">
                                                    <center>
                                                        <h:outputText value="#{th.valor}" style="color: #{th.valor > 0 ? '' : 'red'}" >
                                                            <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <h:outputLabel value="Valor total: "/>
                                                    <h:outputText value="#{movimentoUsuarioMB.valorTotalListaTransferir}" >
                                                        <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                                    </h:outputText>
                                                </f:facet>                                                                
                                            </p:dataTable>
                                        </b:column>
                                    </b:row>
                                    <b:row>
                                        <b:column span="6">
                                            <br/>
                                            <p:commandButton id="btnConfirmar" value="Confirmar" icon="check16" 
                                                             update=":msg, :transferir, :transferir:dtlConfirmarTransferencia " 
                                                             oncomplete="if(!args.validationFailed)PF('dlgTransferir').show();" action="#{movimentoUsuarioMB.setarLoteEmSelecionados()}"  />
                                            &nbsp;
                                            <p:commandButton id="btnCancelar" value="Cancelar" icon="cancel16" 
                                                             onclick="PF('dlgNovo').hide();" immediate="true" /> 
                                            &nbsp;
                                            <p:commandButton id="btnPesquisar" value="Pesquisar" icon="pesquisar" 
                                                             onclick="PF('dlgPesquisar').show();" />  
                                            <p:blockUI block="novo" trigger="btnCancelar, btnConfirmar" >
                                                <img src="Recursos/img/novoLoading.gif" />
                                            </p:blockUI>
                                        </b:column>
                                        <b:column span="6">
                                            <p:ajaxStatus style="margin-top: 20px; height:1px;">
                                                <f:facet name="start">
                                                    <h:panelGrid columns="2">
                                                        <img src="Recursos/img/launch_loading.gif" />
                                                    </h:panelGrid>
                                                </f:facet>
                                                <f:facet name="complete">
                                                </f:facet>
                                            </p:ajaxStatus>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>

                            <p:dialog header="Confirmar transferência" widgetVar="dlgTransferir" width="70%" resizable="false" position="top">
                                <h:form id="transferir">
                                    <b:row>
                                        <b:column span="12">
                                            <bcr:alertSuccess Titulo="Pronto!" Descricao="Agora, confirme os itens de sua transferência." />
                                            <p:dataTable id="dtlConfirmarTransferencia" value="#{movimentoUsuarioMB.itensParaSeremTransferidos}" var="th" emptyMessage="Nenhum item a transferir"
                                                         paginatorPosition="bottom"  rowKey="#{th.numLote}" sortBy="#{th.dtCaixa}" rows="10" paginator="true">
                                                <p:column>
                                                    <h:outputText value="#{th.historico}" />
                                                </p:column>
                                                <p:column headerText="Data" width="15%" style="text-align: center">
                                                    <h:outputText value="#{th.dtCaixa}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Valor"   width="10%">
                                                    <center>
                                                        <h:outputText value="#{th.valor}" style="color: #{th.valor > 0 ? '' : 'red'}">
                                                            <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                                        </h:outputText>
                                                    </center>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <h:outputLabel value="Valor total selecionado: "/>
                                                    <h:outputText value="#{movimentoUsuarioMB.valorSelecionadoTransferir}" >
                                                        <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                                    </h:outputText>
                                                </f:facet>                                                                
                                            </p:dataTable>
                                        </b:column>
                                        <b:column span="12">
                                            <br/>
                                            <p:commandButton id="btnConfirmarTransferencia" value="Transferir" icon="check16" styleClass="btn" 
                                                             update=":novo, :novo:dtlTransferir, :frmTransferencia:dtlTransferidos, :transferir:dtlConfirmarTransferencia, :msg,:frmImprimir" 
                                                             action="#{movimentoUsuarioMB.transferenciaEntreUsuarios()}" oncomplete="PF('dlgTransferir').hide(); " onclick="PF('dlgNovo').hide();"/>
                                            <p:blockUI block="transferir" trigger="btnConfirmarTransferencia" >
                                                <img src="Recursos/img/novoLoading.gif" />
                                            </p:blockUI>
                                        </b:column>

                                    </b:row>
                                </h:form>
                            </p:dialog>
                            <p:dialog widgetVar="dlgImprimir" modal="true" header="Confirmação" 
                                      closable="true" closeOnEscape="true" resizable="false" width="60%">
                                <h:form id="frmImprimir">
                                    <b:row>
                                        <b:column span="12">
                                            <bcr:alertInfo Descricao="Deseja imprimir esta transferência?" />
                                            <hr/>
                                            <center>
                                                <p:commandButton value="Transferências médicas" icon="check16" action="#{movimentoUsuarioMB.imprimirTransferenciaMedicos()}" 
                                                                 onclick="PF('dlgImprimir').hide(); form.target = '_blank'"  ajax="false">
                                                </p:commandButton>
                                                &nbsp;
                                                <p:commandButton value="Transferências médicas (Por médico)" icon="check16" action="#{movimentoUsuarioMB.imprimirTransferenciaMedicosAgrupados()}" 
                                                                 onclick="PF('dlgImprimir').hide(); form.target = '_blank'"  ajax="false">
                                                </p:commandButton>
                                                &nbsp;
                                                <p:commandButton value="Todas transferências" icon="check16" action="#{movimentoUsuarioMB.imprimirTransferencia(movimentoUsuarioMB.loteImprimir)}" 
                                                                 onclick="PF('dlgImprimir').hide(); form.target = '_blank'" ajax="false">
                                                </p:commandButton>
                                                &nbsp;
                                                <p:commandButton value="Sair." icon="cancel16"
                                                                 oncomplete="PF('dlgImprimir').hide();" >
                                                </p:commandButton>
                                            </center>
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>

                            <p:confirmDialog global="true">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                            </p:confirmDialog>

                            <p:dialog  widgetVar="dlgFiltroPesquisarMovimento" header="Pesquisar Movimento" position="top" width="50%">
                                <b:row>
                                    <h:form>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Inicial"   />
                                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt"   value="#{movimentoUsuarioMB.PDtIni}"/>
                                        </b:column>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Final"   />
                                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" value="#{movimentoUsuarioMB.PDtFim}" />
                                        </b:column>
                                        <b:column col-md="6">
                                            <h:outputText value="Lote" />
                                            <p:inputText value="#{movimentoUsuarioMB.lotePesquisar}" placeholder="Ex: 1478978167850 ou somente os 4 últimos digitos"/>
                                        </b:column>
                                        <b:column col-md="12">
                                            <hr/>
                                            <p:commandButton id="btnConsultar" value="Pesquisar" styleClass="btn"
                                                             icon="pesquisar" action="#{movimentoUsuarioMB.pesquisaMovimento(sessaoMB.usuario.idUsuario)}" update="frmTransferencia" oncomplete="PF('dlgFiltroPesquisarMovimento').hide();"/>
                                        </b:column>
                                    </h:form>
                                </b:row>
                            </p:dialog>

                            <p:dialog widgetVar="dlgPesquisar" header="Pesquisar tranferências" position="top" width="50%">
                                <b:row>
                                    <h:form>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Inicial"   />
                                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" value="#{movimentoUsuarioMB.PDtIni}"/>
                                        </b:column>
                                        <b:column col-md="6">
                                            <h:outputText value="Data Final"   />
                                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" value="#{movimentoUsuarioMB.PDtFim}" />
                                        </b:column>
                                        <b:column col-md="12">
                                            <hr/>
                                            <p:commandButton id="btnConsultar" value="Pesquisar" styleClass="btn"
                                                             icon="pesquisar" action="#{movimentoUsuarioMB.novaTransferencia(movimentoUsuarioMB.PDtIni, movimentoUsuarioMB.PDtFim)}" update=":novo, :novo:dtlTransferir" oncomplete="PF('dlgPesquisar').hide();"/>
                                        </b:column>
                                    </h:form>
                                </b:row>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>

            </ui:define>
        </ui:composition>

    </body>
</html>
