<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Listagem Pacientes</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulistagempaciente}"/>
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Listagem de Pacientes" look="primary" rendered="#{sessaoMB.usuario.idPapel.menulistagempaciente}">
                            <h:form id="principal" rendered="#{sessaoMB.usuario.idPapel.menulistagempaciente}">
                                <b:column span="12">
                                    <b:column span="3">
                                        <h4>Intervalo Data de Cadastro:</h4>
                                        <h:outputText value="Data Inicio: " />
                                        <p:calendar showOn="false" value="#{pacienteMB.data_inicio_cadastro}" mask="99/99/9999" pattern="dd/MM/yyyy"   navigator="true" maxdate="today" yearRange="1900:2019"/>
                                        <h:outputText value="Data Fim: " />
                                        <p:calendar showOn="false" value="#{pacienteMB.data_fim_cadastro}" mask="99/99/9999" pattern="dd/MM/yyyy"   navigator="true" maxdate="today" yearRange="1900:2019"/>
                                    </b:column>
                                    <b:column span="3">
                                        <h4>Intervalo Data de Nascimento:</h4>
                                        <h:outputText value="Data Inicio: " />
                                        <p:calendar showOn="false" value="#{pacienteMB.data_inicio_nasc}" mask="99/99/9999" pattern="dd/MM/yyyy"   navigator="true" maxdate="today" yearRange="1900:2019"/>
                                        <h:outputText value="Data Fim: " />
                                        <p:calendar showOn="false" value="#{pacienteMB.date_fim_nasc}" mask="99/99/9999" pattern="dd/MM/yyyy"   navigator="true" maxdate="today" yearRange="1900:2019"/>
                                    </b:column>
                                </b:column>
                                <b:column span="12">
                                    <b:column>
                                        <hr/>
                                        <p:commandButton styleClass="btn btn-primary"  value="Imprimir" action="#{pacienteMB.imprimirListagemPaciente()}" ajax="false"   onclick="this.form.target='_blank'" icon="ui-icon-print" />
                                    </b:column>
                                </b:column>
                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>

    </body>
</html>
