<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Atendimentos Externos</li>
            </ui:define>
            <ui:define name="content">
                <b:panel  title="Atendimentos Externos" look="primary" rendered="#{sessaoMB.usuario.idPapel.lancamentoAvulso}" >
                    <p:growl id="msgs" widgetVar="msgs"/>

                    <h:form id="frmAtendimentosExternos">
                        <p:commandButton styleClass="btn" icon="refresh" value="Atualizar" 
                                         action="#{atendimentoExternoMB.carregarListaAtendimentosExternos()}" update="dtlexternos"/>
                        &nbsp;
                        <p:commandButton id="btnRecalcular" styleClass="btn" icon="processar" value="Recalcular Valores" 
                                         action="#{atendimentoExternoMB.recalcularRegrasRepasse()}" update="dtlexternos"/>
                        <p:blockUI block="dtlexternos"  trigger="btnRecalcular" >
                            <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                        </p:blockUI>
                        <hr/>

                        <p:dataTable id="dtlexternos" value="#{atendimentoExternoMB.listaAtendimentosExterno}" var="ciruPesq" 
                                     paginator="true" rows="10" widgetVar="dtlexternos" lazy="true" 
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="10,15,25,50,100,200" sortBy="#{ciruPesq.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" scrollable="true" scrollWidth="100%">
                            <p:ajax event="rowDblselect" listener="#{cirurgiaMB.atualizarAtendimento(ciruPesq.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy)}" 
                                    update=":msgs" global="false" />
                            <f:facet name="header">
                                Atendimentos Externos
                            </f:facet>
                            <p:column width="40">
                                <p:rowToggler />
                            </p:column>
                            <p:column width="95">
                                <p:commandButton value="Ações" id="ctrl" icon="ui-icon-circle-triangle-s" >
                                </p:commandButton >
                                <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 240px" >
                                    <p:panelGrid columns="1" style="width: 100%; " >
                                        <center>
                                            <p:commandButton id="btnSincronizar" style="width: 100%" value="Sincronizar" 
                                                             action="#{cirurgiaMB.atualizarAtendimento(ciruPesq)}" 
                                                             update="dtlexternos, :msgs" icon="refresh" disabled="#{ciruPesq.pago}"/>

                                            <p:commandButton style="width: 100%" rendered="#{ciruPesq.cirurgiaItemList.size() == 0}" value="Imprimir" action="#{cirurgiaMB.imprimirAtendimentoExterno(ciruPesq)}" 
                                                             immediate="true"  process="@this" update=":frmInformeValores" oncomplete="$(function(){PrimeFaces.focus('frmInformeValores:procedimento');});" icon="imprimir" />

                                            <p:commandButton style="width: 100%" rendered="#{ciruPesq.cirurgiaItemList.size() > 0}" value="Imprimir" action="#{cirurgiaMB.imprimirAtendimentoExterno(ciruPesq)}" 
                                                             ajax="false" immediate="true"  process="@this" onclick="this.form.target = '_blank'" icon="imprimir" />

                                            <p:commandButton  style="width: 100%" id="btnPagarDinheiro" title="Pagar com dinheiro" action="#{atendimentoExternoMB.pagarEmDinheiro(ciruPesq)}" widgetVar="btnPagarDinheiro"
                                                              disabled="#{ciruPesq.pago or ciruPesq.valor == 0 or ciruPesq.idContaPaciente.status.equals('Provisório') or !sessaoMB.usuario.idPapel.receberLancamento or cirurgiaMB.retornaStatusRegraRepasseItens(ciruPesq.cirurgiaItemList)}"
                                                              update="@form, :msgs" icon="pagamento" value="Pagar com dinheiro">
                                            </p:commandButton>
                                            <p:commandButton style="width: 100%" id="btnPagarCheque" title="Lançar pagamento à vista" action="#{cirurgiaMB.carregarValoresExterno(ciruPesq)}" 
                                                             disabled="#{ciruPesq.pago or ciruPesq.valor == 0 or ciruPesq.idContaPaciente.status.equals('Provisório') or !sessaoMB.usuario.idPapel.receberLancamento or cirurgiaMB.retornaStatusRegraRepasseItens(ciruPesq.cirurgiaItemList)}"
                                                             update=":formCheque, :formCheque:clnCPF" onclick="PF('dlgLancarCheque').show();" oncomplete="$(function(){PrimeFaces.focus('formCheque:numeroCheque');});" 
                                                             icon="pagamento" value="Lançar pagamento à vista">
                                                <p:blockUI block="dtlexternos" trigger="btnPagarDinheiro, btnSincronizar, btnEstorno">
                                                    <img src="Recursos/img/novoLoading.gif" />
                                                </p:blockUI>  
                                            </p:commandButton>
                                            <p:commandButton style="width: 100%" id="btnPagarParcelado" title="Lançar pagamento parcelado" action="#{cirurgiaMB.reiniciarLancamentoExternoParcelado(ciruPesq)}" 
                                                             disabled="#{ciruPesq.pago or ciruPesq.valor == 0 or ciruPesq.idContaPaciente.status.equals('Provisório') or !sessaoMB.usuario.idPapel.receberLancamento or cirurgiaMB.retornaStatusRegraRepasseItens(ciruPesq.cirurgiaItemList)}"
                                                             update=":formChequeParcelado, :formChequeParcelado:clnCPF" onclick="PF('dlgLancarParcelado').show();" 
                                                             oncomplete="$(function(){PrimeFaces.focus('formChequeParcelado:numeroCheque');});" icon="pagamento" value="Lançar pagamento parcelado">
                                                <p:blockUI block="dtlexternos" trigger="btnPagarDinheiro, btnSincronizar, btnEstorno">
                                                    <img src="Recursos/img/novoLoading.gif" />
                                                </p:blockUI>  
                                            </p:commandButton>


                                            <p:commandButton  style="width: 100%" id="btnEstorno" title="Estornar os pagamentos e repasses deste fechamento?" 
                                                              action="#{atendimentoExternoMB.estornarPagamento(ciruPesq)}" 
                                                              disabled="#{!ciruPesq.pago}"
                                                              update="@form, :msgs" icon="pagamento" value="Estornar pagamento">
                                            </p:commandButton>



                                            <p:commandButton id="btnRecalcular" icon="processar" value="Recalcular valores" style="width: 100%"
                                                             action="#{atendimentoExternoMB.recalcularRegrasRepassePorFechamento(ciruPesq)}" update="dtlexternos, :msgs">
                                                <p:blockUI block="dtlexternos"  trigger="btnRecalcular" >
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                            </p:commandButton>

                                        </center>
                                    </p:panelGrid>
                                </p:overlayPanel>
                            </p:column>
                            <p:column headerText="Atend. TASY"  sortBy="#{ciruPesq.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" 
                                      filterBy="#{ciruPesq.idContaPaciente.idAtendimentoPaciente.numeroAtendimentoPacienteTasy}" filterMatchMode="contains" width="120" >
                                <center><h:outputText value="#{ciruPesq.idContaPaciente.numeroAtendimentoPacienteTasy}" title="#{ciruPesq.idContaPaciente.idAtendimentoPaciente.categoria} - #{ciruPesq.idContaPaciente.idAtendimentoPaciente.urgencia ? 'Urgência' : ''} - Fechamento SMA: #{ciruPesq.idCirurgia} #{ciruPesq.pago ? '- Lote: '.concat(cirurgiaMB.retornaLoteOrigemPorFechamento(ciruPesq.idCirurgia)) : ''}" style="#{ciruPesq.idContaPaciente.idAtendimentoPaciente.urgencia ? 'color: red' : ''}"/></center>
                            </p:column>
                            <p:column headerText="Conta TASY"  sortBy="#{ciruPesq.idContaPaciente.idContaPacienteTasy}" filterBy="#{ciruPesq.idContaPaciente.idContaPacienteTasy}" filterMatchMode="contains" width="120">
                                <center><h:outputText value="#{ciruPesq.idContaPaciente.idContaPacienteTasy}" title="Conta SMA: #{ciruPesq.idContaPaciente.idContaPaciente}" /></center>

                            </p:column>
                            <p:column headerText="Status TASY" width="120" sortBy="#{ciruPesq.idContaPaciente.status}">
                                <center>
                                    <h:outputText value="#{ciruPesq.idContaPaciente.status}" >
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Pagamento" width="95" sortBy="#{ciruPesq.pago}">
                                <center>
                                    <h:outputText value="#{!ciruPesq.pago ? 'Em Aberto' : 'Pago'}" title="#{ciruPesq.chequeList.isEmpty() ? '' : 'D'.equals(ciruPesq.chequeList.get(0).movimento) ? 'Dinheiro' : ciruPesq.chequeList.get(0).movimento.equals('C') ? 'Cheque' : 'N'.equals(ciruPesq.chequeList.get(0).movimento) ? 'Nota Promissória' : 'B'.equals(ciruPesq.chequeList.get(0).movimento) ? 'Depósito Bancário' : 'A'.equals(ciruPesq.chequeList.get(0).movimento) ? 'Cartão - Débito' : 'R'.equals(ciruPesq.chequeList.get(0).movimento) ? 'Cartão - Crédito' : ''}"
                                                  styleClass="label #{!ciruPesq.pago ? 'label-danger' : 'label-success' }">
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Paciente" filterBy="#{ciruPesq.idPaciente.nome}" filterMatchMode="contains" width="200" sortBy="#{ciruPesq.idPaciente.nome}">
                                <h:outputText value="#{ciruPesq.idPaciente.nome}" />
                            </p:column>
                            <p:column headerText="Vlr. Total SMA" sortBy="#{cirurgiaMB.retornaTotalGeralContaPacientePorItens(ciruPesq.cirurgiaItemList, 1)}" width="90">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaTotalGeralContaPacientePorItens(ciruPesq.cirurgiaItemList, 1)}"> 
                                        <f:convertNumber type="currency" />
                                    </h:outputText>

                                </center>
                            </p:column>

                            <p:column headerText="Vlr. Total TASY" sortBy="#{cirurgiaMB.retornaTotalGeralContaPacientePorItens(ciruPesq.cirurgiaItemList, 2)}" width="90">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaTotalGeralContaPacientePorItens(ciruPesq.cirurgiaItemList, 2)}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>

                                </center>
                            </p:column>

                            <p:column headerText="Vlr. Total" sortBy="#{cirurgiaMB.retornaTotalGeralContaPacientePorItens(ciruPesq.cirurgiaItemList, 3)}" width="90">
                                <center>
                                    <h:outputText value="#{cirurgiaMB.retornaTotalGeralContaPacientePorItens(ciruPesq.cirurgiaItemList, 3)}" title="Valor total" >
                                        <f:convertNumber type="currency"/>                                
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Lançado"  filterMatchMode="contains" width="75" sortBy="#{ciruPesq.dtCirurgia}">
                                <center>
                                    <h:outputText value="#{ciruPesq.dtCirurgia}">
                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                    </h:outputText>
                                </center>
                            </p:column>                                

                            <p:column headerText="Pago" width="75"  >
                                <center>
                                    <h:outputText value="#{ciruPesq.pago ? ciruPesq.repasseList.isEmpty() ? '' : ciruPesq.repasseList.get(0).dtVencimento : ''}">
                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                    </h:outputText>
                                </center>
                            </p:column>                               
                            <p:rowExpansion>
                                <p:dataTable id="dtlItens" value="#{ciruPesq.cirurgiaItemList}" editable="true" editMode="cell"  scrollable="true"
                                             scrollHeight="#{ciruPesq.cirurgiaItemList.size() > 3 ? '400' : '200'}" var="ciiList" rowIndexVar="varItens">
                                    <f:facet name="header">
                                        Procedimentos
                                    </f:facet>
                                    <p:column headerText="Trocar" width="75">
                                        <center>
                                            <p:commandButton id="btnTroca" action="#{trocaRepasseMB.carregarValores(ciiList.repasseList.get(0))}" 
                                                             rendered="#{sessaoMB.usuario.idPapel.movimentoRepasse}"
                                                             update=":frmTrocaRepasse, :dlgTrocaRepasse" icon="troca" 
                                                             oncomplete="PF('dlgTrocaRepasse').show();"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Proced. Tasy" width="75">
                                        <h:outputText value="#{ciiList.idProcedimentoPaciente.idProcedimentoPacienteTasy}" >
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Cód. CBHPM" width="75">
                                        <h:outputText value="#{ciiList.idServico.idProcedimentoTasy}" >
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Procedimento" width="200" >
                                        <h:outputText value="#{ciiList.idServico.nomeProcedimentoInternoTasy != null ? ciiList.idServico.nomeProcedimentoInternoTasy : ciiList.idServico.descricao}" 
                                                      title="#{ciiList.idServico.idGrupoProcedimentoCbhpm.idEspecialidadeProcedimento.idAreaProcedimento.descricao} - #{ciiList.idServico.idGrupoProcedimentoCbhpm.idEspecialidadeProcedimento.descricao} - #{ciiList.idServico.idGrupoProcedimentoCbhpm.descricao}">
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Médico" width="200">
                                        <h:outputText value="#{ciiList.idTerceiro.nome}" >
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Pagamento" width="80" rendered="false">
                                        <center>
                                            <h:outputText id="pagamento" styleClass="#{ciruPesq.repasseList.isEmpty() ? '' :ciruPesq.repasseList.get(0).idCheque == null ? 'label label-danger' : ''}"
                                                          value="#{ciruPesq.repasseList.isEmpty() ? '' : ciruPesq.repasseList.get(0).idCheque.movimento == 'D' ? 'Dinheiro' : 
                                                                   ciruPesq.repasseList.get(0).idCheque.movimento == 'C' ? 'Cheque' : ciruPesq.repasseList.get(0).idCheque.movimento == 'N' ? 'Nota Promissória' : 
                                                                   ciruPesq.repasseList.get(0).idCheque.movimento == 'A' ? 'Cartão - Débito' : ciruPesq.repasseList.get(0).idCheque.movimento == 'R' ? 'Cartão - Crédito' : ciruPesq.repasseList.get(0).idCheque.movimento == 'B' ? 'Depósito Bancário' :  'Sem Pagamento'}" />
                                        </center>
                                        <p:tooltip for="pagamento" value="#{ciruPesq.repasseList.isEmpty() ? '' : ciruPesq.repasseList.get(0).observacao}"/>
                                    </p:column>

                                    <p:column  headerText="Vlr. TASY" width="100" >
                                        <h:outputText value="#{ciiList.valorTasy}" style="text-align: right">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column  headerText="Vlr. SMA" width="100" >
                                        <h:outputText id="txtVlrSMA" value="#{ciiList.valorTotal}" title="#{ciiList.idProcedimentoPaciente.idRegraRepasse.repasseSecundario ? 'Este repasse possui rateio a outro médico vinculado'.concat('. Regra de repasse nº ').concat(ciiList.idProcedimentoPaciente.idRegraRepasse.idRegraRepasse) : 'Regra de repasse selecionada nº '.concat(ciiList.idProcedimentoPaciente.idRegraRepasse.idRegraRepasse)}" style="text-align: right; color: #{ciiList.valorTotal == 0 ? 'red' : ciiList.idProcedimentoPaciente.idRegraRepasse.repasseSecundario ? '#2196f3' : ''}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                        <p:tooltip for="txtVlrSMA" style="width: 550px;">

                                            <center>
                                                <h3 style="margin-top: 10px;">Regra de repasse selecionada nº #{ciiList.idProcedimentoPaciente.idRegraRepasse.idRegraRepasse}</h3>
                                            </center>
                                            <h:panelGroup rendered="#{ciiList.idCirurgia.pago}">
                                                <hr/>
                                                <p:dataTable value="#{ciruPesq.repasseList}" var="item">
                                                    <p:column headerText="ID" width="100">
                                                        <h:outputText value="#{item.idRepasse}" />
                                                    </p:column>
                                                    <p:column headerText="Médico" width="200">
                                                        <h:outputText value="#{item.idTerceiro.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Data de Vencimento" width="100">
                                                        <center>
                                                            <h:outputText value="#{item.dtVencimento}">
                                                                <f:convertDateTime pattern="dd/MM/yyy" />
                                                            </h:outputText>
                                                        </center>

                                                    </p:column>

                                                    <p:column headerText="Valor a receber" width="100">
                                                        <center>
                                                            <h:outputText value="#{item.valorDocumento}">
                                                                <f:convertNumber  type="currency"/>
                                                            </h:outputText>
                                                        </center>

                                                    </p:column>
                                                </p:dataTable>
                                            </h:panelGroup>
                                        </p:tooltip>
                                    </p:column>

                                    <p:column headerText="Desconto" width="100">                              
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <center>
                                                    <h:outputText value="#{ciiList.desconto}" style="text-align: right;">
                                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                                    </h:outputText>
                                                </center>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="vlrDesconto" immediate="true" value="#{ciiList.desconto}" disabled="#{!ciruPesq.idContaPaciente.status.equals('Provisório') or !sessaoMB.usuario.idPapel.permitirDescontoFechamentoInterno}" >
                                                    <p:ajax  update="dtlItens, vlrProcedimento" 
                                                             event="blur" listener="#{atendimentoExternoMB.calcularTotalItemIndex(ciruPesq, ciruPesq.cirurgiaItemList, ciiList, varItens)}" />
                                                    <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                </p:inputText>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column id="vlrProcedimento" headerText="Vlr. Total" width="100">
                                        <h:outputText value="#{ciiList.valorTotalGeral}" style="text-align: right; color: #{ciiList.valorTotal == 0 ? 'red' : ''}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:dataTable>
                    </h:form>

                    <p:dialog closeOnEscape="true" widgetVar="dlgTrocaRepasse" id="dlgTrocaRepasse" position="top" width="60%"
                              header="Troca de Repasses" 
                              resizable="false" modal="true">
                        <p:ajax event="close" listener="#{cirurgiaMB.novo()}"/>
                        <h:form id="frmTrocaRepasse">
                            <b:row>
                                <b:column col-md="12">
                                    <p:messages id="msgTroca" autoUpdate="true" showDetail="true" />
                                </b:column>
                            </b:row>
                            <b:row>
                                <b:column col-md="4">
                                    <p:outputLabel for="AdcTipo" value="Tipo"/>
                                    <p:selectOneMenu id="AdcTipo" value="#{trocaRepasseMB.tipo}" 
                                                     styleClass="form-control" >
                                        <f:selectItem itemLabel="Troca de Repasses" itemValue="T" />
                                        <f:selectItem itemLabel="Devolução"  itemValue="D" itemDisabled="true"/>
                                        <p:ajax event="change" update="@form" listener="#{trocaRepasseMB.setarTipo()}"/>
                                    </p:selectOneMenu>
                                </b:column>
                                <b:column col-md="8">
                                    <p:outputLabel for="motivo" value="Informe o motivo desta movimentação:"/>
                                    <p:inputText id="motivo" value="#{trocaRepasseMB.motivo}" required="true" requiredMessage="Informe o motivo desta #{tipo == 'D' ? 'devolução.' : 'troca.'}" />
                                </b:column>
                                <b:column col-md="4">
                                    <h:outputText value="Médico anterior" />
                                    <p:inputText value="#{trocaRepasseMB.repasse.idTerceiro.nome}" readonly="true"/>
                                </b:column>

                                <b:column col-md="5">
                                    <bcr:outputrequired value="Novo Médico" />
                                    <h:panelGrid columns="2" width="100%">                                                        
                                        <p:autoComplete id="medico" value="#{trocaRepasseMB.terceiro}" converter="Converter" disabled="#{trocaRepasseMB.tipo == 'D'}"
                                                        completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5"
                                                        itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" placeholder="Digite o novo médico para troca" 
                                                        required="true" requiredMessage="Informe o médico!">
                                            <p:column>
                                                <h:outputText value="#{terc.idTerceiro}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                            </p:column>
                                        </p:autoComplete> 
                                    </h:panelGrid>
                                </b:column>
                                <b:column col-md="3" >
                                    <bcr:outputrequired value="Valor a repassar" />
                                    <pe:inputNumber id="valor" value="#{trocaRepasseMB.valor}" maxValue="#{trocaRepasseMB.valorRestante}" 
                                                    disabled="true"
                                                    decimalSeparator="," thousandSeparator="." symbol="R$ " required="true" requiredMessage="O valor é obrigatório!">
                                    </pe:inputNumber>                                                           
                                </b:column>
                                <b:column col-md="12">
                                    <br/>                                    
                                    <p:commandButton id="btnSalvar" icon="salvar" value="Salvar"  styleClass="btn" validateClient="true"
                                                     update="@form, :frmTrocaRepasse, :msgs, :frmAtendimentosExternos:dtlexternos" action="#{trocaRepasseMB.trocarRepasse()}" />
                                </b:column>
                            </b:row>
                            <b:row>
                                <b:column col-md="12">
                                    <hr/>
                                    <p:dataTable id="tblFor" value="#{trocaRepasseMB.repasses}" var="rep" 
                                                 rowIndexVar="varIndex" sortBy="#{rep.dtVencimento}">
                                        <p:column  headerText="Médico" width="25%" >
                                            <h:outputText value="#{rep.idTerceiro.tipoPessoa=='J' ? rep.idTerceiro.nomeFantasia : rep.idTerceiro.nome}" />
                                        </p:column>
                                        <p:column width="10%" headerText="Valor" >
                                            <center>
                                                <h:outputText value="#{rep.valorDocumento}"   >
                                                    <center>
                                                        <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" type="currency" />
                                                    </center>
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column width="10%" headerText="Vencimento" >
                                            <center>
                                                <h:outputText value="#{rep.dtVencimento}"  style="color: black;"  >
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column width="20%" headerText="Observação" >
                                            <h:outputText value="#{rep.observacao}"  /> 
                                        </p:column>
                                        <p:column headerText="Excluir" width="10%">
                                            <p:commandButton id="btnExcluir" icon="cancel16" 
                                                             action="#{trocaRepasseMB.excluirTroca(rep)}" immediate="true"
                                                             update="@form, :frmTrocaRepasse:rwWidgets">
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </b:row>
                        </h:form>
                    </p:dialog>

                    <p:dialog widgetVar="dlgLancarCheque" header="Lançar pagamento à vista" modal="true" closeOnEscape="true" width="60%" 
                              position="top" closable="true" resizable="false">
                        <h:form id="formCheque" >
                            <b:column span="12">
                                <b:row>                                
                                </b:row>
                                <b:row id="rwTipo">
                                    <b:column col-xs="6" col-lg="4" col-md="4" >
                                        <p:outputLabel value="Forma de Pagamento" for="formaPagamento" indicateRequired="false"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.movimento}" styleClass="form-control" id="formaPagamento">
                                            <f:selectItem itemLabel="Cheque"  itemValue="C"  />
                                            <f:selectItem itemLabel="Cartão - Débito" itemValue="A" />
                                            <f:selectItem itemLabel="Cartão - Crédito" itemValue="R" />
                                            <f:selectItem itemLabel="Depósito Bancário" itemValue="B" /> 
                                            <p:ajax event="change" update="rwTipo, rwCheque" listener="#{cirurgiaMB.setarDatas()}"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="3" col-md="4" id="clnDtCompensacao" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}">
                                        <p:outputLabel id="labelVencimentoCompensacao" value="#{cirurgiaMB.movimento == 'C' ? 'Dt.Compensação' : cirurgiaMB.movimento == 'N' ? 'Dt.Vencimento' : 'Dt.Recebimento'}" for="dtCompensacaoVencimento" indicateRequired="false"/>
                                        <p:calendar id="dtCompensacaoVencimento" value="#{cirurgiaMB.dtCompensado}"
                                                    mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" showButtonPanel="true" locale="pt"/>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="3" col-md="4">
                                        <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                                        <pe:inputNumber id="valor" emptyValue="empty" value="#{cirurgiaMB.valorCheque}" disabled="true" symbol="R$ ">
                                            <p:ajax update="salvar, :msgs" event="blur"/>
                                        </pe:inputNumber>
                                    </b:column>
                                </b:row>
                                <b:row id="rwCheque">
                                    <b:column col-xs="6" col-lg="4" col-md="4" id="clnNumeroCheque" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Nº Cheque" for="numeroCheque" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                        <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" required="#{cirurgiaMB.movimento == 'C'}" 
                                                     requiredMessage="O nº cheque não foi informado." value="#{cirurgiaMB.numeroCheque}"/>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="6" col-md="4" id="clnBanco" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Banco" for="cmbBanco" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                        <h:panelGrid columns="2" style="width: 100% !important; ">
                                            <p:selectOneMenu id="cmbBanco" value="#{cirurgiaMB.banco.idBanco}" style="text-transform: capitalize" 
                                                             required="#{cirurgiaMB.movimento == 'C'}" 
                                                             requiredMessage="Informe o banco." styleClass="form-control">
                                                <f:selectItem itemLabel=" " itemValue=""  />
                                                <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                                               itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="2" col-md="4" id="clnConta" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Conta Bancária" for="Conta" indicateRequired="false"/>
                                        <p:inputText  styleClass="form-control" id="Conta" label="Conta" value="#{cirurgiaMB.conta}"/>
                                    </b:column> 

                                    <b:column span="1" rendered="false">
                                        <h:outputText value="Compensado?" />
                                        <p:selectOneMenu id="pagarAgora" value="#{cirurgiaMB.compensado}" styleClass="form-control">
                                            <f:selectItem itemLabel="Não" itemValue="N" />
                                            <f:selectItem itemLabel="Sim" itemValue="S" />
                                            <p:ajax update="dtCompensacaoVencimento" event="change"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="4" col-md="6" id="clnCPF">
                                        <p:outputLabel for="TxtCPF" id="CPF" value="#{cirurgiaMB.CPFCPNJ ? 'CNPJ' : 'CPF'}"
                                                       rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"/>
                                        <h:panelGrid columns="2" width="100%">
                                            <p:commandButton icon="refresh" immediate="true" id="btnCGC"
                                                             action="#{cirurgiaMB.mudarMascara()}" ajax="true" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"
                                                             update="TxtCPF, clnCPF" />                            
                                            <p:inputMask id="TxtCPF" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" styleClass="form-control" placeholder="#{cirurgiaMB.CPFCPNJ ? '__.___.___/____-__' : '___.___.___-__'}" 
                                                         value="#{cirurgiaMB.CPF}" mask="#{cirurgiaMB.CPFCPNJ ?  '99.999.999/9999-99' : '999.999.999-99' }" required="#{cirurgiaMB.movimento != 'D'}" requiredMessage="#{cirurgiaMB.CPFCPNJ ? 'O nº do CNPJ é necessário.' : 'O Nº do CPF é necessário.'}" style="border: #{cirurgiaMB.validacaoCGC ? 'black': '1px solid #ff0000 !important'} " >
                                                <p:ajax  event="blur" update="@this, :msgs" listener="#{cirurgiaMB.validarCPF()}"/>
                                            </p:inputMask>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="8" col-md="6" id="clnEmitente" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" >
                                        <p:outputLabel for="TxtEmitente" id="emitente" value="Emitente"/>
                                        <h:panelGrid columns="2" style="width: 100% !important;" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}">
                                            <p:inputText value="#{cirurgiaMB.emitenteCheque}" 
                                                         style="text-transform: capitalize; font-size: 10px" id="TxtEmitente" styleClass="form-control"/>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="12" col-md="12" col-sm="12">
                                        <h:outputText value="Observação" />
                                        <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{cirurgiaMB.observacao}" />
                                    </b:column>
                                </b:row>
                                <b:row>
                                    <b:column span="12">
                                        <hr/>                                                   
                                        <h:panelGrid columns="4">
                                            <p:commandButton id="incluir" value="Salvar" icon="salvar" update=":msgs, @form, :formCheque:valor, :frmAtendimentosExternos"
                                                             action="#{atendimentoExternoMB.pagarEmCheque(cirurgiaMB.movimento, cirurgiaMB.CPF, cirurgiaMB.emitenteCheque, cirurgiaMB.banco, cirurgiaMB.dtCompensado, cirurgiaMB.numeroCheque, cirurgiaMB.observacao, cirurgiaMB.conta, cirurgiaMB.valorCheque, cirurgiaMB.cirurgia)}"/>
                                            <p:commandButton id="salvar" value="Sair"  icon="cancel16" ajax="true" immediate="true" 
                                                             update=":msgs" oncomplete="PF('dlgLancarCheque').hide()"/>
                                            <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                                <f:facet name="start">
                                                    <h:panelGrid columns="2">
                                                        <img src="Recursos/img/launch_loading.gif" />   
                                                    </h:panelGrid>
                                                </f:facet>
                                            </p:ajaxStatus>
                                        </h:panelGrid> 
                                    </b:column>
                                </b:row>
                            </b:column>                            
                        </h:form>
                    </p:dialog>

                    <p:dialog widgetVar="dlgLancarParcelado" header="Lançar pagamento parcelado" modal="true" closeOnEscape="true" 
                              width="70%" position="top" closable="false" resizable="false" >
                        <h:form id="formChequeParcelado" >
                            <b:column span="12">
                                <b:row>
                                    <b:column id="clnMensagem" span="12">
                                        <div  class="alert alert-info" style="display: #{cirurgiaMB.verificarSaldoRestante() ? 'ruby' : 'none'}">
                                            <div style=""/>
                                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            <strong>Ok!</strong> Insira mais pagamentos. Valor Pago: <h:outputText value="#{cirurgiaMB.valorTotalPago}"><f:convertNumber type="currency" /></h:outputText>. Saldo restante: <h:outputText value="#{cirurgiaMB.valorRestante}"><f:convertNumber type="currency" /></h:outputText>
                                        </div>
                                        <div  class="alert alert-success" style="display: #{cirurgiaMB.verificarSaldoRestante() == false and cirurgiaMB.arredondar_double(cirurgiaMB.valorTotalPago) == cirurgiaMB.arredondar_double(cirurgiaMB.cirurgia.valor) ? 'ruby' : 'none'}">
                                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            <strong>Ok!</strong> Pagamentos lançados equivalem ao valor do fechamento. Fechamento: R$ <h:outputText value="#{cirurgiaMB.valorTotalPago}"><f:convertNumber type="currency" /></h:outputText>
                                        </div>
                                        <div  class="alert alert-danger" style="display: #{cirurgiaMB.arredondar_double(cirurgiaMB.valorTotalPago) > cirurgiaMB.arredondar_double(cirurgiaMB.cirurgia.valor) ? 'ruby' : 'none'}">
                                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            <strong>Atenção!</strong> Pagamentos lançados superam o valor do fechamento. Fechamento: <h:outputText value="#{cirurgiaMB.cirurgia.valor}"><f:convertNumber type="currency" /></h:outputText>. Valor Pago: <h:outputText value="#{cirurgiaMB.valorTotalPago}"><f:convertNumber type="currency" /></h:outputText>
                                        </div>
                                        <div  class="alert alert-danger" style="display: #{cirurgiaMB.validacaoCGC ? 'none' : 'ruby'}">
                                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            <strong>Atenção!</strong> CPF inválido. Informe corretamente o CPF/CNPJ.
                                        </div>
                                    </b:column>
                                </b:row>
                                <b:row id="rwTipo">
                                    <b:column col-xs="6" col-lg="4" col-md="4" >
                                        <p:outputLabel value="Forma de Pagamento" for="formaPagamento" indicateRequired="false"/>
                                        <p:selectOneMenu value="#{cirurgiaMB.movimento}" styleClass="form-control" id="formaPagamento">
                                            <f:selectItem itemLabel="Cheque"  itemValue="C" />
                                            <f:selectItem itemLabel="Dinheiro" itemValue="D" />
                                            <f:selectItem itemLabel="Nota Promissória" itemValue="N" />
                                            <f:selectItem itemLabel="Cartão - Débito" itemValue="A" />
                                            <f:selectItem itemLabel="Cartão - Crédito" itemValue="R" />
                                            <f:selectItem itemLabel="Depósito Bancário" itemValue="B" />                             
                                            <p:ajax event="change" update="rwTipo, rwCheque" listener="#{cirurgiaMB.setarDatas()}"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="3" col-md="4" id="clnDtCompensacao" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' or cirurgiaMB.movimento == 'R'}">
                                        <p:outputLabel id="labelVencimentoCompensacao" value="#{cirurgiaMB.movimento == 'C' ? 'Dt.Compensação' : cirurgiaMB.movimento == 'N' ? 'Dt.Vencimento' : 'Dt.Recebimento'}" for="dtCompensacaoVencimento" indicateRequired="false"/>
                                        <p:calendar id="dtCompensacaoVencimento" value="#{cirurgiaMB.dtCompensado}"
                                                    mask="99/99/9999" pattern="dd/MM/yyyy" mindate="now" showButtonPanel="true" locale="pt"/>
                                    </b:column>
                                    <b:column col-xs="12" col-lg="3" col-md="4">
                                        <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                                        <pe:inputNumber id="valor" emptyValue="empty" value="#{cirurgiaMB.valorCheque}" symbol="R$ ">
                                            <p:ajax update="clnMensagem, salvar" event="blur"/>
                                        </pe:inputNumber>
                                    </b:column>
                                    <b:column col-xs="4" col-lg="2" col-md="2" rendered="false" >
                                        <p:outputLabel value="Emitir Recibo?" />
                                        <p:selectBooleanButton value="#{cirurgiaMB.recibo}" onLabel="Sim" offLabel="Não" >
                                            <p:ajax update="@form"/>
                                        </p:selectBooleanButton>
                                    </b:column>
                                </b:row>
                                <b:row id="rwCheque">
                                    <b:column col-xs="6" col-lg="4" col-md="4" id="clnNumeroCheque" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Nº Cheque" for="numeroCheque" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                        <p:inputText id="numeroCheque" styleClass="form-control" label="Numero do Cheque" required="#{cirurgiaMB.movimento == 'C'}" 
                                                     requiredMessage="O nº cheque não foi informado." value="#{cirurgiaMB.numeroCheque}"/>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="6" col-md="4" id="clnBanco" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Banco" for="cmbBanco" indicateRequired="false"/><span style="color: red; font-weight: bold"> *</span>
                                        <h:panelGrid columns="2" style="width: 100% !important; ">
                                            <p:selectOneMenu id="cmbBanco" value="#{cirurgiaMB.banco.idBanco}" style="text-transform: capitalize" 
                                                             required="#{cirurgiaMB.movimento == 'C'}" 
                                                             requiredMessage="Informe o banco." styleClass="form-control">
                                                <f:selectItem itemLabel=" " itemValue=""  />
                                                <f:selectItems value="#{repasseMB.listaBancos()}" var="banco"
                                                               itemLabel="#{banco.nome}" itemValue="#{banco.idBanco}" />
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="2" col-md="4" id="clnConta" rendered="#{cirurgiaMB.movimento == 'C'}">
                                        <p:outputLabel value="Conta Bancária" for="Conta" indicateRequired="false"/>
                                        <p:inputText  styleClass="form-control" id="Conta" label="Conta" value="#{cirurgiaMB.conta}"/>
                                    </b:column> 

                                    <b:column span="1" rendered="false">
                                        <h:outputText value="Compensado?" />
                                        <p:selectOneMenu id="pagarAgora" value="#{cirurgiaMB.compensado}" styleClass="form-control">
                                            <f:selectItem itemLabel="Não" itemValue="N" />
                                            <f:selectItem itemLabel="Sim" itemValue="S" />
                                            <p:ajax update="dtCompensacaoVencimento" event="change"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-xs="6" col-lg="4" col-md="6" id="clnCPF">
                                        <p:outputLabel for="TxtCPF" id="CPF" value="#{cirurgiaMB.CPFCPNJ ? 'CNPJ' : 'CPF'}"
                                                       rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"/>
                                        <h:panelGrid columns="2" width="100%">
                                            <p:commandButton icon="refresh" immediate="true" id="btnCGC"
                                                             action="#{cirurgiaMB.mudarMascara()}" ajax="true" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N' ? 'true' : 'false'}"
                                                             update="TxtCPF, clnCPF" />                            
                                            <p:inputMask id="TxtCPF" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" styleClass="form-control" placeholder="#{cirurgiaMB.CPFCPNJ ? '__.___.___/____-__' : '___.___.___-__'}" 
                                                         value="#{cirurgiaMB.CPF}" mask="#{cirurgiaMB.CPFCPNJ ?  '99.999.999/9999-99' : '999.999.999-99' }" required="#{cirurgiaMB.movimento != 'D'}" requiredMessage="#{cirurgiaMB.CPFCPNJ ? 'O nº do CNPJ é necessário.' : 'O Nº do CPF é necessário.'}" style="border: #{cirurgiaMB.validacaoCGC ? 'black': '1px solid #ff0000 !important'} " >
                                                <p:ajax  event="blur" update="@this, clnMensagem" listener="#{cirurgiaMB.validarCPF()}"/>
                                            </p:inputMask>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="8" col-lg="8" col-md="6" id="clnEmitente" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}" >
                                        <p:outputLabel for="TxtEmitente" id="emitente" value="Emitente"/>
                                        <h:panelGrid columns="2" style="width: 100% !important;" rendered="#{cirurgiaMB.movimento == 'C' or cirurgiaMB.movimento == 'N'}">
                                            <p:inputText value="#{cirurgiaMB.emitenteCheque}" 
                                                         style="text-transform: capitalize; font-size: 10px" id="TxtEmitente" styleClass="form-control"/>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-xs="4" col-lg="2" col-md="2" styleClass="hidden-lg" >
                                        <p:outputLabel value="Emitir Recibo?" />
                                        <p:selectBooleanButton value="#{cirurgiaMB.recibo}" onLabel="Sim" offLabel="Não" />
                                    </b:column>
                                    <b:column col-xs="12" col-lg="12" col-md="9" col-sm="12">
                                        <p:outputLabel value="Observação" />
                                        <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{cirurgiaMB.observacao}" />
                                    </b:column>
                                </b:row>
                                <b:row id="tr">
                                    <b:column span="12">
                                        <br/>                                                   
                                        <h:panelGrid columns="4">
                                            <p:commandButton id="incluir" value="Incluir e continuar" icon="add" 
                                                             action="#{cirurgiaMB.PagarCirurgiaCheque()}" ajax="true" 
                                                             update=":msgs, :formChequeParcelado:listaCheque, @form, :formChequeParcelado:valor" />

                                            <p:commandButton id="salvar" value="Cancelar"  icon="cancel16" ajax="true" immediate="true" 
                                                             update=":msgs, " action="#{cirurgiaMB.cancelarPagamentosExternos()}">
                                                <p:confirm header="Confirmação" message="Deseja cancelar estes pagamentos e repasses?" icon="ui-icon-alert" />
                                            </p:commandButton>

                                            <p:commandButton id="concluir" value="Concluir e sair" icon="confirmar" ajax="true" immediate="true" 
                                                             update=":formChequeParcelado:listaCheque, @form, :msgs, :frmAtendimentosExternos" action="#{cirurgiaMB.concluirFechamentoExternoParcelado()}">
                                                <p:confirm header="Confirmação" message="Deseja concluir os lançamentos?" icon="ui-icon-alert" />
                                            </p:commandButton>

                                            <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                                <f:facet name="start">
                                                    <h:panelGrid columns="2">
                                                        <img src="Recursos/img/launch_loading.gif" />   
                                                    </h:panelGrid>
                                                </f:facet>
                                            </p:ajaxStatus>
                                            <p:blockUI block="formChequeParcelado:tr" trigger="salvar, incluir" >
                                                <img src="Recursos/img/novoLoading.gif" />
                                            </p:blockUI>
                                        </h:panelGrid> 
                                    </b:column>
                                </b:row>
                            </b:column>
                            <br/>
                            <b:column span="12">
                                <hr/>
                                <p:dataTable id="listaCheque" value="#{cirurgiaMB.listaChequeTemporaria}" var="chequeList" rows="3" paginator="true" 
                                             paginatorPosition="top" emptyMessage="Não foram encontrados pagamentos">
                                    <p:column width="50">
                                        <center>
                                            <h:outputText value="#{chequeList.numeroParcela}" />
                                        </center>
                                    </p:column>
                                    <p:column headerText="Pagamento" width="15%" styleClass="hidden-xs">
                                        <center>
                                            <h:outputText value="#{chequeList.movimento == 'C' ? 'Cheque' : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'B' ? 'Depósito Bancário' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão - Débito' : chequeList.movimento == 'R' ? 'Cartão - Crédito' : '-'}" />
                                        </center>
                                    </p:column>
                                    <p:column headerText="Emitente" width="15%" >
                                        <h:outputText value="#{chequeList.emitente}" />
                                    </p:column>
                                    <p:column headerText="Nº Cheque" width="15%" >
                                        <center>
                                            <h:outputText value="#{chequeList.movimento == 'C' ? 'Cheque' : chequeList.movimento == 'D' ? 'Dinheiro' : chequeList.movimento == 'B' ? 'Depósito Bancário' : chequeList.movimento == 'N' ? 'Nota Promissória' : chequeList.movimento == 'A' ? 'Cartão - Débito' : chequeList.movimento == 'R' ? 'Cartão - Crédito' : '-'}" />
                                        </center>
                                    </p:column>
                                    <p:column headerText="#{chequeList.movimento == 'C' ? 'Compensar' : 'Receber'}" width="12%" >
                                        <center>
                                            <h:outputText value="#{chequeList.dtCompensacaoVencimento}">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Valor" width="15%">
                                        <center>

                                            <h:outputText value="#{chequeList.valor}" >
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Repasses">
                                        <center>
                                            <p:commandButton id="btnPagarAutomatico" styleClass="ui-confirmdialog-no" icon="pagamento" disabled="#{chequeList.idCheque != null}"
                                                             action="#{cirurgiaMB.pagarRepasseProporcional(chequeList)}" value="Lançar" immediate="true" update=":msgs, @form">
                                                <p:confirm header="Confirmação" message="Lançar repasses proporcionais para este pagamento?" icon="ui-icon-alert" />
                                                <f:param name="automatico" value="sim" />
                                            </p:commandButton>
                                        </center>

                                    </p:column>
                                    <p:column headerText="Excluir"  width="10%">
                                        <center>
                                            <p:commandButton id="btnExcluir" styleClass="ui-confirmdialog-no" immediate="true" icon="cancel16" 
                                                             update="@form" 
                                                             action="#{cirurgiaMB.excluirCheque2(chequeList)}">
                                            </p:commandButton>
                                        </center>
                                    </p:column>
                                    <f:facet name="footer">
                                        <h:panelGrid columns="2">
                                            <h:outputText value="Valor pago:" />
                                            <h:outputText value="#{cirurgiaMB.valorTotal}" >
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </h:panelGrid>
                                    </f:facet>
                                </p:dataTable>
                            </b:column>

                        </h:form>
                    </p:dialog>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <center>
                            <p:commandButton value="Sim" type="button" styleClass="btn ui-confirmdialog-yes" icon="confirmar" />
                            <p:commandButton value="Não" type="button" styleClass="btn ui-confirmdialog-no" icon="excluir" />
                        </center>
                    </p:confirmDialog>

                    <p:dialog widgetVar="dlgRepassesAutomaticos" modal="true" header="Confirmação" 
                              closable="true" closeOnEscape="true" resizable="false">
                        <b:column span="12">
                            <bcr:alertInfo Descricao="Criar repasses para esse pagamento?" />
                            <hr/>
                        </b:column>
                        <b:column span="12">
                            <h:form id="btnPagamentos">
                                <center>
                                    <p:panel id="pnl" style="border: 0;">

                                        &nbsp;
                                        <p:commandButton id="btnPagarManual" styleClass="ui-confirmdialog-no" icon="adicionar" disabled="true"
                                                         action="#{cirurgiaMB.selecionarCheque(cirurgiaMB.cheque)}" value="Editar"
                                                         oncomplete="PF('dlgRepassesAutomaticos').hide(); ">
                                            <f:param name="automatico" value="nao" />
                                        </p:commandButton>
                                    </p:panel>
                                    <p:blockUI block="pnl" trigger="btnPagarManual " >
                                        <img src="Recursos/img/novoLoadingProcessando.gif" />
                                    </p:blockUI>
                                </center>
                            </h:form>
                        </b:column>
                    </p:dialog>

                    <p:dialog widgetVar="dlgInformarValores" header="Informe os valores para o recibo" modal="true" closeOnEscape="true" width="50%" 
                              position="top" closable="true" resizable="false">
                        <h:form id="frmInformeValores" >
                            <b:column span="6">
                                <p:outputLabel value="Procedimento" />
                                <h:panelGrid columns="2" width="100%">
                                    <p:autoComplete id="procedimento" value="#{cirurgiaMB.servicoExterno}" converter="Converter"
                                                    completeMethod="#{cirurgiaMB.completeMethodServico}" var="serv" maxResults="5"
                                                    itemLabel="#{serv.descricao}" itemValue="#{proc}" placeholder="Digite o procedimento">
                                        <p:column>
                                            <h:outputText value="#{serv.idServico}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{serv.descricao}" />
                                        </p:column>
                                        <p:ajax event="itemSelect" update="valorMed" oncomplete="$(function(){PrimeFaces.focus('frmInformeValores:valorMed');});" />
                                    </p:autoComplete>  
                                </h:panelGrid>
                            </b:column>
                            <b:column span="3">
                                <p:outputLabel value="Valor" for="valorMed" indicateRequired="false"/>
                                <pe:inputNumber id="valorMed" emptyValue="empty" value="#{cirurgiaMB.valorReciboMed}" symbol="R$ ">
                                    <p:ajax update=":msgs" event="blur"/>
                                </pe:inputNumber>
                            </b:column>
                            <b:column span="3">
                                <p:outputLabel value="Valor" for="valorHosp" indicateRequired="false"/>
                                <pe:inputNumber id="valorHosp" emptyValue="empty" value="#{cirurgiaMB.valorReciboHosp}" symbol="R$ ">
                                    <p:ajax update=":msgs" event="blur"/>
                                </pe:inputNumber>
                            </b:column>
                            <b:column span="12">
                                <hr/>
                                <p:commandButton value="Imprimir" action="#{cirurgiaMB.imprimirAtendimentoExternoValores()}" 
                                                 ajax="false" immediate="true"  process="@this" onclick="this.form.target = '_blank'" icon="imprimir" />
                            </b:column>
                        </h:form>
                    </p:dialog>

                </b:panel>
            </ui:define>
        </ui:composition>
    </body>
</html>
