<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:atalhos="http://java.sun.com/jsf/composite/atalhos">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Busca CEP</li>
            </ui:define>
            <ui:define name="content">
                <p:commandButton id="btnAbrirCEP" oncomplete="PF('dlgCEP').show()" icon="consultar"/>
                

                <p:dialog widgetVar="dlgCEP" id="dlgCEP" closable="true" width="60%" closeOnEscape="true" position="top" header="Busca CEP por logradouro" modal="true">
                    <h:form id="frmLogradouro">
                        <p:messages id="msg" autoUpdate="true" />
                        <b:row>
                            <b:column span="3">
                                <p:outputLabel value="Logradouro" for="txtLogradouro" />
                                <p:inputText id="txtLogradouro" title="Ex: Rua Endereço de Teste, 123. (Logradouro = Endereço de Teste)." value="#{logradouroMB.logradouro}" >
                                    <p:ajax event="blur" update="btnCarregar"/>
                                </p:inputText>
                            </b:column>
                            <b:column span="3">
                                <p:outputLabel value="Cidade" for="txtLogradouro" />
                                <p:inputText id="txtCidade" value="#{logradouroMB.cidade}" title="Informe a Cidade. Ex: Patos de Minas." >
                                    <p:ajax event="blur" update="btnCarregar"/>
                                </p:inputText>
                            </b:column>
                            <b:column span="3">
                                <p:outputLabel value="UF" for="txtLogradouro" />
                                <h:panelGrid columns="3" cellspacing="5">
                                    <p:inputText id="txtUF" value="#{logradouroMB.uf}" maxlength="2" title="Informe o estado em sigla. Ex: MG.">
                                        <p:ajax event="blur" update="btnCarregar, :frmLogradouro:dtlLogradouros, :frmLogradouro:msg" listener="#{logradouroMB.carregarLogradouro(logradouroMB.logradouro, logradouroMB.cidade, logradouroMB.uf)}"/>
                                    </p:inputText>
                                    <p:commandButton id="btnCarregar" value="Buscar" disabled="#{logradouroMB.uf == '' or logradouroMB.cidade == '' or logradouroMB.logradouro == ''}"
                                                     action="#{logradouroMB.carregarLogradouro(logradouroMB.logradouro, logradouroMB.cidade, logradouroMB.uf)}" styleClass="btn btn-primary btninput" icon="consultar" update=":frmLogradouro:dtlLogradouros, :frmLogradouro:msg"/>
                                    <p:ajaxStatus style="display:block; margin-bottom:2em; margin-top: 8px; height:1px;" >
                                        <f:facet name="start">
                                            <h:panelGrid columns="2">
                                                <img src="Recursos/img/launch_loading.gif" />
                                            </h:panelGrid>
                                        </f:facet>
                                    </p:ajaxStatus>
                                </h:panelGrid>
                            </b:column>
                            <b:column span="3">

                            </b:column>
                            <pe:tooltip global="true" showEvent="focus" adjustX="10" myPosition="bottom center" atPosition="top center"/>
                        </b:row>
                        <b:row>

                            <b:column span="12">
                                <hr/>
                                <p:dataTable id="dtlLogradouros" value="#{logradouroMB.listaLogradouros}" var="logList" emptyMessage="Nenhum resultado"
                                             paginator="true" rows="10"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                                             rowsPerPageTemplate="5,10,15,25,50,100,200">
                                    <f:facet name="header">
                                        Busca CEP por Logradouro
                                    </f:facet>
                                    <p:column style="width: 5%">
                                        <p:commandButton id="btnSelecionar" action="#{logradouroMB.selecionarLogradouroPorID(logList.logNuSequencial)}" icon="selecionar"  update=":frmLogradouro:dtlLogradouros"/>
                                    </p:column>
                                    <p:column headerText="Logradouro" >
                                        <h:outputText value="#{logList.logNome}" />
                                    </p:column>
                                    <p:column headerText="Bairro" >
                                        <h:outputText value="#{logList.baiNuSequencialIni.baiNo}" />
                                    </p:column>
                                    <p:column headerText="CEP" style="width: 10%">
                                        <h:outputText value="#{logList.cep}"/>
                                    </p:column>
                                    <p:column headerText="Cidade" >
                                        <h:outputText value="#{logList.locNuSequencial.locNo}" />
                                    </p:column>
                                    <p:column headerText="UF" >
                                        <h:outputText value="#{logList.ufeSg}" />
                                    </p:column>
                                </p:dataTable>
                            </b:column>
                        </b:row>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
