<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Auditoria</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuauditoria}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Auditoria" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuauditoria}">
                            <h:form id="formAuditoria">
                                <b:column span="12">
                                    <p:messages id="msgs2" />
                                    <fieldset style="border-color: #CCC !important;">
                                        <legend><i class="fa fa-search"></i> Pesquisar</legend>
                                        <b:column span="3">
                                            <h:outputText value="Texto"/>
                                            <p:inputText styleClass="form-control" value="#{auditoriaMB.pesquisar}"/>
                                        </b:column>
                                        <b:column span="3">
                                            <h:outputText value="Ação: " />
                                            <p:selectOneMenu value="#{auditoriaMB.acao}"  styleClass="form-control">
                                                <f:selectItem itemLabel="Todos" itemValue="%" />
                                                <f:selectItem itemLabel="Cadastro" itemValue="Cadastro" />
                                                <f:selectItem itemLabel="Atualização" itemValue="Atualização" />
                                                <f:selectItem itemLabel="Remoção" itemValue="Remoção" />
                                                <f:selectItem itemLabel="Pagamento" itemValue="Pagamento" />
                                                <f:selectItem itemLabel="Liberação" itemValue="Liberação" />
                                                <f:selectItem itemLabel="Compensado" itemValue="Compensado" />
                                                <f:selectItem itemLabel="Cancelamento" itemValue="Cancelamento" />                                                
                                                <f:selectItem itemLabel="Geral" itemValue="Obs" />
                                            </p:selectOneMenu>
                                        </b:column>
                                        <b:column span="2">
                                            <bcr:outputrequired value="Data inicial:"/>
                                            <p:calendar value="#{auditoriaMB.dataInicial}" pattern="dd/MM/yyyy" locale="pt" mask="99/99/9999" 
                                                        maxdate="today" yearRange="1900:2018" required="true" requiredMessage="Informe a Data Inicial" />
                                        </b:column>
                                        <b:column span="2">
                                            <bcr:outputrequired value="Data final:"/>
                                            <p:calendar value="#{auditoriaMB.dataFinal}" pattern="dd/MM/yyyy" locale="pt" mask="99/99/9999" maxdate="today" yearRange="1900:2018" required="true" requiredMessage="Informe a Data Final" />
                                        </b:column>
                                        <b:column span="2">
                                            <h:outputText value="Usuário: " />
                                            <p:inputText styleClass="form-control" value="#{auditoriaMB.nomeUsuario}"/>
                                        </b:column>
                                        

                                        <b:column span="12">
                                            <br/>
                                            <p:commandButton styleClass="btn"  update="tbl, :msg,msgs2" icon="consultar" value="Pesquisar" ajax="true" action="#{auditoriaMB.pesquisarAuditoria()}" />
                                        </b:column>
                                    </fieldset>
                                    <br/>
                                    <p:dataTable id="tbl"  value="#{auditoriaMB.model}" var="audi" paginator="true" rows="10" lazy="true"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15,25,50,100,200" paginatorPosition="bottom"
                                                 widgetVar="audiTable" emptyMessage="Nenhum registro encontrado">
                                        <p:column  headerText="Data" width="10%" filterMatchMode="contains">
                                            <center>
                                                <h:outputText value="#{audi.dtHora}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                                </h:outputText>
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Ação" sortBy="#{audi.acao}" width="8%" filterMatchMode="exact">
                                            <center>
                                                <h:outputText value="#{audi.acao}" />
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Descrição da ação" width="40%">
                                            <h:outputText value="#{audi.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
