<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <ui:composition template="./../WEB-INF/Template.xhtml">
        <ui:define name="breadcrumb">
            <li class="active" style="color: #428bca;">Lançamento de Consultas / Exames</li>
        </ui:define>
        <ui:define name="content">
            <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulancarexame}"/>
            <b:row>
                <b:column span="12">
                    <b:panel  title="Lançamento de Consultas / Exames" look="primary" rendered="#{sessaoMB.usuario.idPapel.menulancarexame}" >
                        <b:row>
                            <b:column span="12">
                                <h:panelGrid columns="2" cellspacing="5">
                                    <p:commandButton value="Novo Lançamento" icon="add" action="#{exameMB.novo()}" update=":formExame" styleClass="btn btn-primary" onclick="mudaClasse()"/>
                                </h:panelGrid>

                            </b:column>
                        </b:row>
                        <hr/>
                        <ul class="nav nav-tabs">
                            <li id="liSecA" class="active"><a data-toggle="tab" href="#sectionA">Consultar</a></li>
                            <li id="liSecB"><a data-toggle="tab" href="#sectionB">Lançamento</a></li>
                        </ul>
                        <script>
                            function mudaClasse(){
                                $("#liSecA").removeClass("active"); 
                                $("#liSecB").addClass("active");
                                $("#sectionA").removeClass("in active");
                                $("#sectionB").addClass("in active");
                                //document.getElementById('formExame:dtExame').focus();
                            }

                        </script>
                        <style>
                            .coluna1{
                                width: 20%;
                            }
                            .coluna2{
                                width: 80%;
                            }
                        </style>

                        <!--Consulta de Exames já lançados-->
                        <div class="tab-content">
                            <div id="sectionA" class="tab-pane fade in active">
                                <h:form id="consultaExames">
                                    <p:dataTable id="dtl" value="#{exameMB.model}"  lazy="true" var="forms"  paginator="true" rows="25" 
                                                 widgetVar="frmPag" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <f:facet name="header">
                                            <p:outputPanel>
                                                <p:inputText id="globalFilter"  onkeyup="PF('frmPag').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                            </p:outputPanel>
                                        </f:facet>
                                        <p:column  headerText="Controle" width="12%"  >
                                            <p:commandButton value="Ação" id="ctrl" icon="ui-icon-circle-triangle-s" />
                                            <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 15%" >
                                                <p:panelGrid columns="1" style="width: 100%; " >
                                                    <p:commandButton style="width: 100%" id="infoBtn" oncomplete="PF('dlgInfoExame').show()" update=":frmInfo"  action="#{exameMB.selecionarPorID(forms.idExame)}" icon="info" value="Info"/>
                                                    <p:commandButton style="width: 100%" id="editBtn" disabled="#{forms.situacao == 'Liberado' ? 'true' : forms.situacao == 'Cancelado' ? 'true' : 'false'}" action="#{exameMB.selecionarPorID(forms.idExame)}" onclick="mudaClasse();" update=":formExame" icon="editar" value="Editar" />
                                                    <p:commandButton style="width: 100%" id="infoExc" disabled="#{forms.situacao == 'Cancelado' ? 'true' : 'false'}" actionListener="#{exameMB.selecionarPorID(forms.idExame)}" update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" icon="excluir" value="Cancelar"/>
                                                </p:panelGrid>
                                            </p:overlayPanel>
                                            <p:blockUI block="dtl"  trigger="editBtn" >
                                                Carregando Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                        </p:column>
                                        <p:column  headerText="" sortBy="#{forms.idExame}"  width="5%">
                                            <center><h:outputText value="#{forms.idExame}" /></center>
                                        </p:column>
                                        <p:column headerText="Paciente" sortBy="#{forms.idPaciente.nome}" width="20%" >
                                            <h:outputText value="#{forms.idPaciente.nome}"  />
                                        </p:column>
                                        <p:column headerText="Médico" width="15%" >
                                            <h:outputText value="#{forms.idTerceiro.nome}"  />
                                        </p:column>
                                        <p:column  headerText="Status" sortBy="#{forms.situacao}" width="10%" >
                                            <center><h:outputText value="#{forms.situacao}" style="color: #{forms.situacao == 'Cancelado' ? 'red' : 'green'}}"/></center>
                                        </p:column>
                                        <p:column headerText="Descrição" width="15%" >
                                            <h:outputText value="#{forms.idDescricaoExame.descricao}"  />
                                        </p:column>
                                        <p:column headerText="Data" sortBy="#{forms.dtExame}" width="10%" >
                                            <h:outputText value="#{forms.dtExame}"  >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column  headerText="Valor" width="10%" >
                                            <h:outputText value="#{forms.valor}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column  headerText="Obs." width="20%" >
                                            <h:outputText value="#{forms.observacao}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:form>    
                            </div>

                            <!-- Lançamento -->
                            <div id="sectionB" class="tab-pane fade">
                                <h:form id="formExame">
                                    <b:row>
                                        <b:column span="12">
                                            <b:column span="8">
                                                <br/>
                                                <p:selectOneButton value="#{exameMB.tipo}" >
                                                    <f:selectItem itemLabel="Exame" itemValue="E"  />
                                                    <f:selectItem itemLabel="Consulta" itemValue="C" />
                                                    <p:ajax event="change" update="msg" listener="#{exameMB.addMessage()}"/>
                                                </p:selectOneButton>
                                            </b:column>
                                            <b:column span="4">
                                                <p:messages autoUpdate="false" closable="true" id="msg"/>
                                            </b:column>
                                        </b:column>
                                        <br/>
                                    </b:row>
                                    <b:row>
                                        <b:column span="8">
                                            <b:column span="6">
                                                <bcr:outputrequired value="Paciente" />
                                                <h:panelGrid columns="3" style="width: 100% !important;">
                                                    <p:inputText value="#{exameMB.paciente.nome}"  readonly="true" id="paciente" styleClass="form-control" required="true" requiredMessage="O campo Paciente é obrigatório"/>
                                                    <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" action="#{exameMB.carregarPacientes()}"  immediate="true" oncomplete="PF('dlgConsultarPaciente').show()"  update=":formPacientes" />
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column span="6">
                                                <bcr:outputrequired value="Médico" />
                                                <h:panelGrid columns="2" style="width: 100% !important;">
                                                    <p:selectOneMenu id="terc" value="#{exameMB.terceiro.idTerceiro}"  styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="O campo Médico é obrigatório">
                                                        <f:selectItem itemLabel="Selecione Médico Responsável" itemValue="" />
                                                        <f:selectItems value="#{exameMB.listaTerceiros()}"  var="terc"
                                                                       itemLabel="#{terc.tipoPessoa == 'J' ? terc.nomeFantasia : terc.nome}" itemValue="#{terc.idTerceiro}" />
                                                    </p:selectOneMenu>
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column span="6">
                                                <bcr:outputrequired value="Descrição" />
                                                <h:panelGrid columns="3" style="width: 100% !important;">
                                                    <p:inputText value="#{exameMB.descricaoExame.descricao}"  readonly="true" id="descricaoExame" styleClass="form-control" required="true" requiredMessage="O campo Descrição é obrigatório"/>
                                                    <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" action="#{exameMB.carregarDescricaoExames()}" immediate="true" oncomplete="PF('dlgConsultarDescricaoExames').show()"  update=":frmConsultarDescricaoExame" >
                                                        <f:param name="tipo" value="E"/>
                                                    </p:commandButton>
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column span="3">
                                                <h:outputText value="Data" />
                                                <p:calendar id="dtExame" value="#{exameMB.exame.dtExame}" ondblclick="#{exameMB.setarDataAtual()}" locale="pt" mask="99/99/9999" pattern="dd/MM/yyyy" navigator="true"/>
                                            </b:column>

                                            <b:column span="3">
                                                <bcr:outputrequired value="Valor:"  />
                                                <pe:inputNumber id="valor" value="#{exameMB.exame.valor}" required="true" requiredMessage="Informe o valor." symbol="R$ "/>
                                            </b:column>
                                            <b:column span="12">
                                                <h:outputText value="Observação" />
                                                <p:inputText  styleClass="form-control" required="false" id="obs"  label="Observação" value="#{exameMB.exame.observacao}" />                                                
                                                <hr/>
                                            </b:column>
                                            <b:column span="12">
                                                <p:commandButton value="Salvar" icon="salvar" styleClass="btn btn-primary" action="#{exameMB.salvar()}" update=":formExame, :consultaExames"/>
                                                &nbsp;
                                                <p:commandButton value="Limpar" styleClass="btn btn-info"  icon="limpar">
                                                    <p:ajax update="@form" listener="#{exameMB.novo()}"  resetValues="true" />
                                                </p:commandButton> 
                                            </b:column>
                                        </b:column>

                                    </b:row>

                                </h:form>
                            </div>
                        </div>
                        <!--Cadastro de Paciente, caso necessário-->
                        <p:dialog widgetVar="dlgCadastrarPaciente"  header="Cadastro de Paciente" modal="true" maximizable="true" minimizable="true" closeOnEscape="true" closable="true" width="80%" resizable="false">
                            <ui:include src="includes/includeExame/formAtalhoPaciente.xhtml" />
                        </p:dialog>

                        <!--Consulta de Paciente-->
                        <p:dialog widgetVar="dlgConsultarPaciente" header="Consulta de Paciente" width="70%" modal="true" closeOnEscape="true" closable="true" resizable="false">
                            <h:form id="formPacientes">
                                <p:dataTable id="dtl" value="#{exameMB.pacientesAcarregar}"  var="pac" paginator="true" rows="10"
                                             widgetVar="pacTable" emptyMessage="Nenhum registro encontrado"  style="width:100%">
                                    <f:facet name="header">
                                        <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                            <p:commandButton value="Novo Paciente" icon="add" immediate="true"  action="#{pacienteMB.novo()}" update=":frmCadastroPaciente" onclick="PF('dlgCadastrarPaciente').show();"  />
                                        </h:panelGrid>
                                    </f:facet>
                                    <p:column  headerText="Controle" width="10%"  >
                                        <p:commandButton value="Selecionar" icon="selecionar" action="#{exameMB.selecionarPaciente(pac)}" immediate="true" update=":formExame:paciente" oncomplete="PF('dlgConsultarPaciente').hide()" />
                                    </p:column>
                                    <p:column filterBy="#{pac.nome}" headerText="Nome" sortBy="#{pac.nome}"  filterMatchMode="contains" width="25%" >
                                        <h:outputText value="#{pac.nome}" />
                                    </p:column>
                                    <p:column filterBy="#{pac.cpf}" headerText="CPF" sortBy="#{pac.cpf}"  filterMatchMode="contains" width="10%">
                                        <h:outputText value="#{pac.cpf}" />
                                    </p:column>
                                    <p:column  headerText="Nascimento"  width="10%"  sortBy="#{pac.dtNascimento}">
                                        <h:outputText value="#{pac.dtNascimento}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column  headerText="Telefone" filterBy="#{pac.telefone}" filterMatchMode="contains" width="10%"  >
                                        <h:outputText value="#{pac.telefone}" />
                                    </p:column>
                                    <p:column  headerText="RG" filterBy="#{pac.rg}" filterMatchMode="contains" width="10%"  >
                                        <h:outputText value="#{pac.rg}" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:dialog>

                        <!--Cadastro de Terceiros, caso necessário-->
                        <p:dialog widgetVar="dlgCadastrarTerceiro" header="Cadastrar Terceiro" closeOnEscape="true" modal="true" maximizable="true" minimizable="true" width="80%" resizable="false" closable="true" >
<!--                            <p:ajax update=":formExame:terc"/>-->
                            <ui:include src="includes/includeExame/formAtalhoTerceiro.xhtml" />
                        </p:dialog>

                        <!--Cadastro de Especialidade-->
                        <p:dialog widgetVar="dlgCadastrarEspecialidade" header="Cadastro de Especialidade" modal="true" width="80%" closable="true" closeOnEscape="true" resizable="false">
                            <h:form id="formCadastroEspecialidade">
                                <b:column span="6">
                                    <b:column span="12">
                                        <h:outputText value="Descrição *" />
                                        <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{especialidadeMB.especialidade.descricao}" />
                                    </b:column>
                                </b:column>
                                <b:column span="12">
                                    <hr/>
                                    <p:commandButton value="Salvar" id="salvar" onclick="#{especialidadeMB.novo()}" action="#{especialidadeMB.salvar()}" styleClass="btn btn-primary" update=":formExame" icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgCadastrarEspecialidade').hide();"/>
                                </b:column>
                            </h:form>
                        </p:dialog>

                        <!-- Consulta Descrição em Exames -->
                        <p:dialog widgetVar="dlgConsultarDescricaoExames" header="Consulta de Descrições" width="80%" modal="true" closeOnEscape="true" closable="true" resizable="false">
                            <ui:include src="includes/includeExame/formConsultarDescricao.xhtml" />
                        </p:dialog> 

                        <!-- Cadastro de Descrição de Exames -->
                        <p:dialog widgetVar="dlgCadastrarDescricaoExame" header="Cadastro de Descrições" width="40%" closeOnEscape="true" modal="true" closable="true" resizable="false">
                            <h:form id="frmCadastroDescricaoExame">
                                <b:row>
                                    <b:column span="9">
                                        <bcr:outputrequired value="Descrição"/>
                                        <p:inputText  styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{descricaoExameMB.descricaoExame.descricao}" />
                                    </b:column>
                                    <b:column span="3">
                                        <h:outputText value="Tipo" />
                                        <p:selectOneMenu id="terc" value="#{descricaoExameMB.descricaoExame.tipo}"  styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="O campo Tipo é obrigatório">
                                            <f:selectItem itemLabel="Tipo" itemValue="" />
                                            <f:selectItem itemLabel="Exames" itemValue="E" />
                                            <f:selectItem itemLabel="Consultas" itemValue="C" />
                                        </p:selectOneMenu>

                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar"  styleClass="btn" update=":frmConsultarDescricaoExame" icon="salvar"  action="#{descricaoExameMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgCadastrarDescricaoExame').hide()}" />
                                    </b:column>
                                </b:row>
                            </h:form>
                        </p:dialog>

                        <p:dialog widgetVar="dlgInfoExame" modal="true" header="Informações do Lançamento" closable="true" closeOnEscape="true" resizable="false">
                            <h:form id="frmInfo">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#sectionB">Dados</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="sectionB" class="tab-pane fade in active">
                                        <div class="container">
                                            <div class="row">
                                                <b:panel title="#{exameMB.descricaoExame.descricao}">
                                                    <b:column span="4">
                                                        <bcr:outputInfo label="Código" value="#{exameMB.exame.idExame}" /><br/>
                                                        <bcr:outputInfo label="Situação"/>
                                                        <h:outputText value="#{exameMB.exame.situacao}" style="font-weight: bolder; color: #{exameMB.exame.situacao == 'Cancelado' ? 'red' : 'green'}}"/><br/>
                                                        <bcr:outputInfo label="Tipo" value="#{exameMB.exame.tipoLancamento == 'E' ? 'Exame' : 'Consulta'}" /><br/>
                                                        <bcr:outputInfo label="Paciente" value="#{exameMB.paciente.nome}" /><br/>
                                                        <bcr:outputInfo label="Terceiro" value="#{exameMB.terceiro.tipoPessoa == 'F' ? exameMB.terceiro.nome : exameMB.terceiro.nomeFantasia}" /><br/>
                                                    </b:column>
                                                    <b:column span="4">
                                                        <bcr:outputInfo label="Data"/>
                                                        <h:outputText value="#{exameMB.exame.dtExame}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                        </h:outputText><br/>
                                                        <bcr:outputInfo label="Tipo de Pagamento" value="#{exameMB.exame.tipoPagamento == 'V' ? 'Á Vista' : 'Prazo'}" /><br/>
                                                        <bcr:outputInfo label="Forma de Pagamento" value="#{exameMB.formaPagamento.descricao}" /><br/>
                                                        <bcr:outputInfo label="Valor: R$ " value="#{exameMB.exame.valor}" /><br/>                                                        
                                                    </b:column>
                                                </b:panel>
                                            </div>
                                            <div class="row">
                                                <p:rowExpansion>
                                                    <p:dataTable id="dtlParcelas" value="#{exameMB.exame.repasseList}" var="parc" widgetVar="frmPag" filteredValue="#{parc.numeroParcela}"
                                                                 emptyMessage="Nenhum registro encontrado" sortBy="#{parc.numeroParcela}" >
                                                        <p:column  headerText="Parcela" width="5%">
                                                            <center><h:outputText value="#{parc.numeroParcela}" /></center>
                                                        </p:column>
                                                        <p:column  headerText="Gerada" width="5%">
                                                            <h:outputText value="#{parc.dtLancamento}">
                                                                <f:convertDateTime pattern="dd/MM/yyy" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column  headerText="Vencimento" width="5%">
                                                            <h:outputText value="#{parc.dtVencimento}">
                                                                <f:convertDateTime pattern="dd/MM/yyy" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column  headerText="Recebida" width="5%">
                                                            <center><h:outputText value="#{parc.dtRecebimento}">
                                                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:column  headerText="Valor" width="5%">
                                                            <h:outputText value="#{parc.valor}" id="valorParcela">
                                                                <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column  headerText="Desconto" width="5%">
                                                            <center><h:outputText value="#{parc.desconto}" >
                                                                    <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:column  headerText="Valor total" width="5%">
                                                            <center><h:outputText value="#{parc.valorDocumento}" >
                                                                    <f:convertNumber  minFractionDigits="2" maxFractionDigits="2" pattern="#0.000" />
                                                                </h:outputText>
                                                            </center>
                                                        </p:column>
                                                        <p:column  headerText="Obs.:" width="30%">
                                                            <h:outputText value="#{parc.observacao}" />
                                                        </p:column>
                                                    </p:dataTable>
                                                </p:rowExpansion>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:form>
                        </p:dialog>

                        <!--Janela de Cancelamento de Exames-->
                        <p:dialog widgetVar="dlgConfirm" header="Confirmação de Cancelamento" modal="true" closeOnEscape="true" closable="true" resizable="false">
                            <h:form id="frmConfirm">
                                <h:panelGrid columns="2">
                                    <h:outputText value="Você confirma o cancelamento do lançamento: #{exameMB.descricaoExame.descricao} " />
                                </h:panelGrid>
                                <hr/>
                                <center>
                                    <h:panelGrid columns="2">
                                        <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{exameMB.cancelar(exameMB.exame)}" update=":formExame, :consultaExames" oncomplete="PF('dlgConfirm').hide()"/>
                                        <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{exameMB.novo()}" update=":formExame, :consultaExames" />
                                    </h:panelGrid>
                                </center>
                            </h:form>
                        </p:dialog>
                    </b:panel>
                </b:column>
            </b:row>
        </ui:define>
    </ui:composition>
</html>
