<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Especialidade</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuespecialidade}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Especialidade" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuespecialidade}">
                            <h:form id="formPagamento" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{especialidadeMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novoespecialidade}" />
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{especialidadeMB.model}"  var="esp" lazy="true" paginator="true" rows="10" 
                                                 widgetVar="espc" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <p:column  headerText="Controle" width="10%"  >
                                            <p:commandLink title="Editar" id="editBtn" action="#{especialidadeMB.selecionaPorID(esp.idEspecialidade)}" update=":novo" oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarespecialidade}" >
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            <p:blockUI block="dtl"  trigger="editBtn" >
                                                Carregando Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                            &nbsp;
                                            <p:commandLink title="Excluir" id="infoExc" disabled="#{esp.terceiroList.size()>0?'true':'false'}"
                                                           actionListener="#{especialidadeMB.selecionaPorID(esp.idEspecialidade)}"  update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluirespecialidade}" >
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                            <p:blockUI block="dtl"  trigger="infoExc" >
                                                Excluindo Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{esp.idEspecialidade}" sortBy="#{esp.idEspecialidade}" filterMatchMode="contains" width="15%"  >
                                            <h:outputText value="#{esp.idEspecialidade}" />
                                        </p:column>
                                        <p:column  headerText="Descrição" filterBy="#{esp.descricao}" sortBy="#{esp.descricao}" filterMatchMode="contains" width="55%"  >
                                            <h:outputText value="#{esp.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Nova Especialidade" height="25%" width="50%" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="novo">
                                    <p:messages id="msgs2" />
                                    <b:row>
                                        <b:column span="6">
                                            <b:column span="12">
                                                <bcr:outputrequired value="Descrição" />
                                                <p:inputText styleClass="form-control"  required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{especialidadeMB.especialidade.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                            </b:column>
                                        </b:column>
                                        <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                            <h:outputText value="Inativo?" /><br/>
                                            <p:selectBooleanCheckbox id="inativo" value="#{especialidadeMB.especialidade.inativo}"  />
                                            <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                        </b:column>
                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar"  ajax="true" update=":formPagamento:dtl, :msg, novo" icon="salvar"  validateClient="true" action="#{especialidadeMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{especialidadeMB.especialidade.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{especialidadeMB.excluir(especialidadeMB.especialidade)}" update=":formPagamento, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{especialidadeMB.novo()}" update=":formPagamento" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
