<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Planos</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage rendered="#{!sessaoMB.usuario.idPapel.menuplano}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Cadastro de Planos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuplano}" >
                            <h:form id="frmPlano" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{planoMB.novo()}" update=":frmNovo" onclick="PF('dlgNovo').show();"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtlPlanos" value="#{planoMB.model}" lazy="true" var="plan" paginator="true" rows="25" style="width: 100%;"
                                                 widgetVar="planTable" emptyMessage="Nenhum registro encontrado"  >
                                        <f:facet name="header">
                                            Cadastro de Planos
                                        </f:facet>
                                        <p:column  headerText="Controle" width="5%"  >
                                            <p:commandLink title="Editar" style="margin-right: 15px" id="editBtn" oncomplete="PF('dlgNovo').show()"  action="#{planoMB.selecionarPorID(plan.idPlano)}" update=":frmNovo">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            <p:commandLink title="Excluir" id="infoExc"  ajax="true" action="#{planoMB.selecionarPorID(plan.idPlano)}" oncomplete="PF('dlgConfirm').show(); " update=":frmConfirm" >
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column filterBy="#{plan.idPlano}" headerText="Código" sortBy="#{plan.idPlano}"  filterMatchMode="contains" width="10%">
                                            <h:outputText value="#{plan.idPlano}" />
                                        </p:column>
                                        <p:column filterBy="#{plan.descricao}" headerText="Descrição" sortBy="#{plan.descricao}"  filterMatchMode="contains" width="30%">
                                            <h:outputText value="#{plan.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Plano" height="25%" width="50%" closeOnEscape="true"  resizable="false" closable="true">
                                <h:form id="frmNovo">
                                    <b:column span="6">
                                        <b:column span="12">
                                            <bcr:outputrequired value="Descrição"  />
                                            <p:inputText   styleClass="form-control" required="true" id="nome"  label="Descrição" requiredMessage="O campo Descrição é obrigatório." value="#{planoMB.plano.descricao}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                        </b:column>
                                    </b:column>
                                    <b:column span="6">
                                        <p:messages id="msgs2" />
                                    </b:column>
                                    <b:column span="12">
                                        <hr/>
                                        <p:commandButton value="Salvar" id="salvar" action="#{planoMB.salvar()}" ajax="true" update="frmNovo,:frmPlano, :msg," icon="salvar" validateClient="true" oncomplete="if (!args.validationFailed ) PF('dlgNovo').hide();"/>
                                    </b:column>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText rendered="#{planoMB.plano.orcamentoList.size() >  0? 'true' : planoMB.plano.cirurgiaList.size() >0?'true' : 'false' }" styleClass="avisoExclusao"  value="Atenção! Este Registro não pode ser excluído pois está sendo usado!" /><br/>
                                        <h:outputText rendered="#{planoMB.plano.orcamentoList.size() > 0? 'false' : planoMB.plano.cirurgiaList.size() > 0 ? 'false' : 'true' }" styleClass="avisoExclusao" value="Você confirma a exclusão do registro  #{planoMB.plano.idPlano} ? " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton rendered="#{planoMB.plano.cirurgiaList.size() >  0? 'false' : planoMB.plano.orcamentoList.size() > 0 ? 'false' : 'true' }" value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{planoMB.Excluir()}" ajax="true" oncomplete="PF('dlgConfirm').hide(); " update=":msg, :frmPlano"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{planoMB.novo()}"  />   
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>

                        </b:panel>
                    </b:column>
                </b:row>              
            </ui:define>
        </ui:composition>
    </body>
</html>
