<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Saldo em Caixa</li>
            </ui:define>
            <ui:define name="content">
                <p:growl id="msg" showDetail="true" autoUpdate="true" life="10000" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Caixa" look="primary"  >
                            <b:column span="12">
                                <b:row>
                                    <h:form id="frmCaixa">
                                        <p:commandButton value="Adicionar" styleClass="btn" icon="add" update=":frmSaldo" 
                                                         oncomplete="PF('dlgSaldoInicial').show();"/>
                                        &nbsp;
                                        <p:commandButton value="Pesquisar" id="ctrl" icon="pesquisar" styleClass="btn"/>
                                        <p:overlayPanel  for="ctrl" hideEffect="fade" style="width: 200px" >
                                            <p:panelGrid columns="1" style="width: 100%; " >
                                                <p:commandButton style="width: 100%" value="Escolher período" icon="ui-icon-calendar" onclick="PF('dlgFiltroPesquisarMovimento').show();" />
                                                <p:commandButton style="width: 100%" value="Hoje" actionListener="#{saldoCaixaMB.setarDatasPesquisaCaixa('D')}" update=":frmCaixa, :msg" icon="ui-icon-arrowstop-1-s"/>
                                                <p:commandButton style="width: 100%" value="Mês atual" actionListener="#{saldoCaixaMB.setarDatasPesquisaCaixa('M')}" update=":frmCaixa, :msg" icon="ui-icon-arrowrefresh-1-e"/>
                                                <p:commandButton style="width: 100%" value="Mês anterior" actionListener="#{saldoCaixaMB.setarDatasPesquisaCaixa('A')}" update=":frmCaixa, :msg" icon="ui-icon-arrowthick-1-w"/>
                                                <p:commandButton style="width: 100%" value="Próximo mês" actionListener="#{saldoCaixaMB.setarDatasPesquisaCaixa('P')}" update=":frmCaixa, :msg" icon="ui-icon-arrowthick-1-e"/>
                                            </p:panelGrid>
                                        </p:overlayPanel>
                                        &nbsp;
                                        <p:commandButton value="Hoje" actionListener="#{saldoCaixaMB.setarDatasPesquisaCaixa('D')}" 
                                                         update=":frmCaixa, :msg" styleClass="btn" icon="fa fa-calendar"/>

                                        <i class="fa fa-calendar-o"> </i>&nbsp;
                                        <h:outputText value="#{saldoCaixaMB.PDtIni}" style="color: #428bca" >
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>
                                        &nbsp;<i class="fa fa-ellipsis-h"> </i>&nbsp;
                                        <i class="fa fa-calendar-o"> </i>&nbsp;
                                        <h:outputText value="#{saldoCaixaMB.PDtFim}" style="color: #428bca">
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>

                                        <br/><br/>
                                        <b:row>
                                            <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <span class="label label-default">Saldo inicial</span>

                                                    </div>
                                                    <div class="ibox-content">
                                                        <h1 class="no-margins">
                                                            <h:outputText value="#{saldoCaixaMB.saldoInicial}">
                                                                <f:convertNumber type="currency"/>
                                                            </h:outputText>
                                                        </h1>
                                                        <small>                                                            
                                                            Em 
                                                            <h:outputText value="#{saldoCaixaMB.PDtIni}" style="color: #428bca">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </small>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <span class="label label-primary">Entradas</span>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <h1 class="no-margins">
                                                            <h:outputText value="#{saldoCaixaMB.totalEntrada}">
                                                                <f:convertNumber type="currency"/>
                                                            </h:outputText>
                                                        </h1>
                                                        <small>
                                                            <h:panelGroup >
                                                                <h:outputText value="#{saldoCaixaMB.PDtIni}" style="color: #428bca" >
                                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                </h:outputText>
                                                                <h:outputText value=" à " ></h:outputText>
                                                                <h:outputText value="#{saldoCaixaMB.PDtFim}" style="color: #428bca">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                </h:outputText>
                                                            </h:panelGroup>
                                                        </small>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <span class="label label-danger">Saídas</span>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <h1 class="no-margins">
                                                            <h:outputText value="#{saldoCaixaMB.totalSaida}">
                                                                <f:convertNumber type="currency"/>
                                                            </h:outputText>
                                                        </h1>
                                                        <small>
                                                            <h:panelGroup >
                                                                <h:outputText value="#{saldoCaixaMB.PDtIni}" style="color: #428bca" >
                                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                </h:outputText>
                                                                <h:outputText value=" à " ></h:outputText>
                                                                <h:outputText value="#{saldoCaixaMB.PDtFim}" style="color: #428bca">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                </h:outputText>
                                                            </h:panelGroup>

                                                        </small>
                                                    </div>
                                                </div>
                                            </b:column>
                                            <b:column col-lg="3" col-md="12" col-sm="12" col-xs="12">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <span class="label label-success">Saldo final</span>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <h1 class="no-margins">
                                                            <h:outputText value="#{(saldoCaixaMB.saldoInicial + saldoCaixaMB.totalEntrada) - saldoCaixaMB.totalSaida}">
                                                                <f:convertNumber type="currency"/>
                                                            </h:outputText>
                                                        </h1>
                                                        <small>                                                            
                                                            Em 
                                                            <h:outputText value="#{saldoCaixaMB.PDtFim}" style="color: #428bca">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </small>
                                                    </div>
                                                </div>
                                            </b:column>
                                        </b:row>

                                        <p:dialog focus="btnConsultar" widgetVar="dlgFiltroPesquisarMovimento" header="Pesquisar Movimento" >
                                            <b:row>
                                                <b:column col-md="6">
                                                    <h:outputText value="Data Inicial"   />
                                                    <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt"   value="#{saldoCaixaMB.PDtIni}"/>
                                                </b:column>
                                                <b:column col-md="6">
                                                    <h:outputText value="Data Final"   />
                                                    <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" value="#{saldoCaixaMB.PDtFim}" />
                                                </b:column>
                                                <b:column col-md="12">
                                                    <hr/>
                                                    <p:commandButton id="btnConsultar" value="Pesquisar" styleClass="btn"
                                                                     icon="pesquisar" action="#{saldoCaixaMB.pesquisaMovimentoCaixa(sessaoMB.usuario.idUsuario)}" update=":frmCaixa" oncomplete="PF('dlgFiltroPesquisarMovimento').hide();"/>
                                                </b:column>
                                            </b:row>
                                        </p:dialog>

                                        <p:dataTable id="dtlMovimento"  value="#{saldoCaixaMB.listaMovimentoCaixa}" var="saldo" emptyMessage="Nenhum movimento encontrado!">

                                            <p:column headerText="Descrição" width="50%" >
                                                <h:outputText value="#{saldo.descricao}" />
                                            </p:column>
                                            <p:column headerText="Tipo" width="100" sortBy="#{saldo.tipoMovimentacao}" >
                                                <center>
                                                    <h:outputText value="#{saldo.tipoMovimentacao == 'C' ? 'Crédito' : 'Débito'}" styleClass="label #{saldo.tipoMovimentacao == 'C' ? 'label-success':'label-danger'} " />
                                                </center>
                                            </p:column>
                                            <p:column headerText="Data" width="10%" style="text-align: center" >
                                                <h:outputText id="MovDataCaixa" value="#{saldo.dtMovimentacao}" rendered="#{!saldo.descricao.equals('Saldo Inicial')}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Valor" style="text-align: center" width="10%">
                                                <h:outputText id="MovValor" value="#{saldo.valor}" style="#{saldo.tipoMovimentacao == 'C' ? 'color:blue' : 'color:red'}" >
                                                    <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                                </h:outputText>
                                            </p:column>
                                        </p:dataTable>
                                        <script>
                                            function imprimirDiv(id) {
                                                var conteudo = document.getElementById(id).innerHTML,
                                                        tela_impressao = window.open('about:blank');

                                                tela_impressao.document.write(conteudo);
                                                tela_impressao.window.print();
                                                tela_impressao.window.close();
                                            }

                                        </script>
                                    </h:form>
                                </b:row>

                            </b:column>

                        </b:panel>
                    </b:column>
                </b:row>

                <p:dialog header="Adicionar movimentação"
                          widgetVar="dlgSaldoInicial" id="dlgSaldoInicial" modal="true" width="40%" resizable="false" closable="true" closeOnEscape="true" >
                    <h:form id="frmSaldo" >
                        <b:column span="12">
                            <b:row>
                                <b:column span="12">
                                    <div  class="alert alert-info">
                                        <div style=""/>
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        <strong>Ok!</strong> Informe o valor da movimentação.
                                    </div>
                                </b:column>
                                <b:column span="4">
                                    <p:outputLabel value="Movimentação" for="movimentacao" indicateRequired="false"/>
                                    <p:selectOneMenu id="movimentacao" value="#{saldoCaixaMB.tipoMovimentacao}" styleClass="form-control">
                                        <f:selectItem itemLabel="Saldo Inicial" itemValue="S" />                                        
                                        <f:selectItem itemLabel="Entrada" itemValue="C" />
                                        <f:selectItem itemLabel="Saída" itemValue="D" />
                                    </p:selectOneMenu>
                                </b:column>
                                <b:column span="8">
                                    <p:outputLabel value="Valor" for="valor" indicateRequired="false"/>
                                    <pe:inputNumber id="valor" emptyValue="empty" value="#{saldoCaixaMB.valorSaldoInicial}" symbol="R$ ">
                                        <p:ajax update="atualizar" event="blur"/>
                                    </pe:inputNumber>
                                </b:column>
                                <b:column span="12">
                                    <p:outputLabel value="Descrição" for="descricao" indicateRequired="false"/>
                                    <p:inputText id="descricao" value="#{saldoCaixaMB.descricaoMovimentacao}"/>
                                </b:column>
                            </b:row>
                            <b:row>
                                <b:column span="12">
                                    <hr/>
                                    <p:commandButton id="atualizar" value="Salvar" icon="salvar" 
                                                     action="#{saldoCaixaMB.salvarValorSaldoInicial()}" ajax="false" 
                                                     update=":msg, @all" oncomplete="PF('dlgSaldoInicial').hide();"/>
                                </b:column>
                            </b:row>


                        </b:column>
                    </h:form>

                </p:dialog>

                <p:dialog header="Pagamentos detalhados" widgetVar="dlgPagamentosDetalhados" modal="true" 
                          width="70%" resizable="false" closeOnEscape="true">
                    <h:form id="frmPagamentos">
                        <p:dataTable id="dtlMovimentoDetalhado" 
                                     value="#{movimentoUsuarioMB.listaCaixasDetalhados}" var="mov"
                                     emptyMessage="Nenhum movimento encontrado!" >                                                          
                            <p:column width="5%">
                                <p:rowToggler/>
                            </p:column>
                            <p:column headerText="Número Cheque" width="10%">
                                <center>
                                    <h:outputText value="#{mov.idCheque.movimento == 'C' ? mov.idCheque.numeroCheque : mov.idCheque.movimento == 'D' ? 'Dinheiro' : mov.idCheque.movimento == 'N' ? 'Nota Promissória' : mov.idCheque.movimento == 'A' ? 'Cartão - Débito' : mov.idCheque.movimento == 'B' ? 'Depósito Bancário' : 'Cartão - Crédito'}" />
                                </center>
                            </p:column>
                            <p:column headerText="Emitente" sortBy="#{mov.idUsuarioDestino.usuario}" width="10%">
                                <center>
                                    <h:outputText id="emitente" value="#{mov.idUsuarioDestino.usuario}" />
                                </center>
                            </p:column>
                            <p:column headerText="Destinatário" sortBy="#{mov.idUsuario.usuario}" width="10%">
                                <center>
                                    <h:outputText id="destinatario" value="#{mov.idUsuario.usuario}" />
                                </center>
                            </p:column>
                            <p:column headerText="Situação" width="10%">
                                <h:outputText id="situacao" value="#{mov.situacao}" />
                            </p:column>
                            <p:column headerText="Data" width="10%" style="text-align: center">
                                <h:outputText id="MovDataCaixa" value="#{mov.dtCaixa}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Valor" style="text-align: center" width="10%">
                                <h:outputText id="MovValor" value="#{mov.valor}" style="#{mov.tipoLancamento=='C' ? 'color:blue' : 'color:red'}" >
                                    <f:convertNumber type="currency" minFractionDigits="2"  maxFractionDigits="2"/>
                                </h:outputText>
                            </p:column>
                            <p:rowExpansion>
                                <p:dataTable value="#{movimentoUsuarioMB.listaRepassesPorCaixa(mov.idCaixa)}" var="repList">
                                    <p:column headerText="Fechamento" width="10%">
                                        <center>
                                            <h:outputText value="#{repList.idCirurgia.idCirurgia}" />
                                        </center>
                                    </p:column>
                                    <p:column headerText="Data" width="10%">
                                        <center>
                                            <h:outputText value="#{repList.idCirurgia.dtCirurgia}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Parcela" sortBy="#{repList.numeroParcela}" width="8%">
                                        <center><h:outputText value="#{repList.numeroParcela}" /></center>
                                    </p:column>
                                    <p:column headerText="Terceiro" sortBy="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" width="25%" >
                                        <h:outputText value="#{repList.idTerceiro.nome == null ? repList.idTerceiro.nomeFantasia : repList.idTerceiro.nome}" >
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Descrição" sortBy="#{repList.idCirurgia.externo ? repList.idCirurgiaItem.idServico.descricao : repList.idSici.idServicoItem.descritiva}" width="25%" >
                                        <h:outputText value="#{repList.idCirurgia.externo ? repList.idCirurgiaItem.idServico.descricao : repList.idSici.idServicoItem.descritiva}" >
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Valor" >
                                        <h:outputText value="#{repList.valorDocumento}" style="color: green">
                                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

            </ui:define>

        </ui:composition>

    </body>
</html>
