<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Consuta Pacientes</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuconsultapaciente}" />
                <p:growl id="msg" />
                <b:row rendered="#{sessaoMB.usuario.idPapel.menuconsultapaciente}">
                    <b:column span="12">
                        <b:panel id="pnl" title="Consulta Pacientes" look="primary" >
                            <hr/>

                            <div class="tab-content">
                                <div id="sectionA" class="tab-pane fade in active">
                                    <h:form id="consultaPrincipal">
                                        <p:dataTable id="dt2" value="#{pacienteMB.model}" var="pac"  lazy="true" paginator="true" rows="25" 
                                                     widgetVar="pacTbl" emptyMessage="Nenhum registro encontrado"   style="width:100%" >
                                            <f:facet name="header">
                                                <!--                                                <p:outputPanel>
                                                                                                    <p:inputText id="globalFilter"  onkeyup="PF('pacTbl').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                                                                                </p:outputPanel>-->
                                            </f:facet>
                                            <p:column  headerText="Controle" width="10%"  >
                                                &nbsp;
                                                <p:commandLink title="Informação" id="informbtn" oncomplete="PF('dlgInfo').show()"  action="#{pacienteMB.selecionarPorID(pac.idPaciente)}" update=":frmInfo">
                                                    <p:graphicImage value="Recursos/icons/Info.png" />
                                                </p:commandLink>
                                                <p:blockUI block="dt2"  trigger="informbtn" >
                                                    Carregando Dados<br />
                                                    <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                                </p:blockUI>
                                                &nbsp;                                                                                                          

                                            </p:column>
                                            <p:column filterBy="#{pac.nome}" headerText="Nome" sortBy="#{pac.nome}"  filterMatchMode="contains" width="25%" >
                                                <h:outputText value="#{pac.nome}" />
                                            </p:column>
                                            <p:column filterBy="#{pac.sexo}" headerText="Sexo"  filterMatchMode="exact" width="10%">
                                                <f:facet name="filter">
                                                    <p:selectOneMenu onchange="PF('pacTbl').filter()">
                                                        <f:selectItem itemLabel="Todos" itemValue="" />
                                                        <f:selectItem itemLabel="Feminino" itemValue="F" />
                                                        <f:selectItem itemLabel="Masculino" itemValue="M" />
                                                    </p:selectOneMenu>
                                                </f:facet>
                                                <h:outputText value="#{pac.sexo == 'F' ? 'Feminino':'Masculino'}" />
                                            </p:column>
                                            <p:column  headerText="CPF" filterBy="#{pac.cpf}" filterMatchMode="contains" width="10%">
                                                <f:facet name="filter">
                                                    <p:inputMask
                                                        styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                        onchange="PF('pacTbl').filter()"
                                                        onselect="PF('pacTbl').filter()"
                                                        onblur="PF('pacTbl').filter()"
                                                        onkeypress="PF('pacTbl').filter()"
                                                        mask="999.999.999-99"
                                                        />
                                                </f:facet>
                                                <h:outputText value="#{pac.cpf}" />
                                            </p:column>
                                            <p:column  headerText="Idade" filterMatchMode="contains"  width="5%"  >
                                                <h:outputText value="#{pacienteMB.calculaIdadeDatatable(pac.dtNascimento)}" />
                                            </p:column>
                                            <p:column  headerText="Telefone" style="-webkit-mask: '(99)9999-9999'" filterBy="#{pac.telefone}"  sortBy="#{pac.telefone}" filterMatchMode="contains" width="15%">
                                                <f:facet name="filter">
                                                    <p:inputMask
                                                        styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all"
                                                        onchange="PF('pacTbl').filter()"
                                                        onselect="PF('pacTbl').filter()"
                                                        onblur="PF('pacTbl').filter()"
                                                        onkeypress="PF('pacTbl').filter()"
                                                        mask="(99)9999-9999"
                                                        />
                                                </f:facet>
                                                <h:outputText value="#{pac.telefone}" />
                                            </p:column>
                                            <p:column  headerText="RG" filterBy="#{pac.rg}" filterMatchMode="contains" width="10%"  >
                                                <h:outputText value="#{pac.rg}" />
                                            </p:column>
                                        </p:dataTable> 
                                    </h:form>

                                </div>
                            </div>
                            <p:dialog widgetVar="dlgInfo" modal="true" header="Info do Médico responsável" closeOnEscape="true" closable="true">
                                <h:form id="frmInfo">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#sectionC">Dados Básicos</a></li>
                                        <li><a data-toggle="tab" href="#sectionD">Endereço</a></li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Movimentação <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-toggle="tab" href="#dropdown1">Orçamentos</a></li>
                                                <li><a data-toggle="tab" href="#dropdown2">Cirurgias</a></li>
                                                <li><a data-toggle="tab" href="#dropdown3">Exames</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="sectionC" class="tab-pane fade in active">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{pacienteMB.paciente.nome}">
                                                        <b:column span="4">
                                                            <p><strong>Código: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.idPaciente}" />
                                                            </p>
                                                            <p><strong>Nome: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.nome}" />
                                                            </p>
                                                            <p><strong>Telefone: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.telefone}" />
                                                            </p>
                                                            <p><strong>CPF: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.cpf}" />
                                                            </p>
                                                        </b:column>
                                                        <b:column span="8">
                                                            <p><strong>Data Cadastro: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.dtCadastro}" >
                                                                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                                                                </h:outputText>
                                                            </p>
                                                            <p><strong>RG: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.rg}" />
                                                            </p>
                                                            <p><strong>Data Nascimento: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.dtNascimento}" >
                                                                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                                                                </h:outputText>
                                                            </p>
                                                            <p><strong>Sexo: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.sexo}" />
                                                            </p>
                                                        </b:column>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="sectionD" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{pacienteMB.paciente.nome}">
                                                        <b:column span="4">
                                                            <p><strong>Logradouro: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.logradouro}" />
                                                            </p>
                                                            <p><strong>Número: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.numero}" />
                                                            </p>
                                                            <p><strong>Bairro: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.bairro}" />
                                                            </p>
                                                            <p><strong>Cidade: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.cidade}" />
                                                            </p>
                                                            <p><strong>Estado: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.uf}" />
                                                            </p>
                                                            <p><strong>Complemento: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.complemento}" />
                                                            </p>
                                                            <p><strong>CEP: </strong> 
                                                                <h:outputText value="#{pacienteMB.paciente.cep}" />
                                                            </p>
                                                        </b:column>
                                                        <b:column span="8">
                                                        </b:column>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="dropdown1" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{pacienteMB.paciente.nome}">
                                                        <h:form id="frmConsultar">
                                                            <b:column span="12">
                                                                <p:dataTable id="tblPesq" widgetVar="wtblPesq" value="#{pacienteMB.paciente.orcamentoList}" var="orctoPesq" paginator="true" rows="25">
                                                                    <f:facet name="header">
                                                                        <p:outputPanel>
                                                                            <p:inputText id="globalFilter"  onkeyup="PF('wtblPesq').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                                                        </p:outputPanel>
                                                                    </f:facet>
                                                                    <p:column width="4%">
                                                                        <p:rowToggler />
                                                                    </p:column>
                                                                    <p:column headerText="Nº" filterBy="#{orctoPesq.idOrcamento}" sortBy="#{orctoPesq.idOrcamento}" filterMatchMode="contains" width="6%">
                                                                        <center><h:outputText value="#{orctoPesq.idOrcamento}"  /></center>
                                                                    </p:column>
                                                                    <p:column headerText="Paciente" filterBy="#{orctoPesq.idPaciente.nome}" sortBy="#{orctoPesq.idPaciente.nome}">
                                                                        <h:outputText value="#{orctoPesq.idPaciente.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Data"  filterBy="#{orctoPesq.dtOrcamento}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.dtOrcamento}">
                                                                        <f:facet name="filter">
                                                                            <p:calendar
                                                                                id="calendarDate"
                                                                                styleClass="ui-column-filter ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all "
                                                                                locale="pt" 
                                                                                pattern="dd/MM/yyyy"
                                                                                onchange="PF('wtblPesq').filter()"
                                                                                onselect="PF('wtblPesq').filter()"
                                                                                onblur="PF('wtblPesq').filter()"

                                                                                >

                                                                            </p:calendar>
                                                                        </f:facet>
                                                                        <h:outputText value="#{orctoPesq.dtOrcamento}">
                                                                            <f:convertDateTime pattern="dd/MM/yyy" />
                                                                        </h:outputText>
                                                                    </p:column>
                                                                    <p:column headerText="Médico" filterBy="#{orctoPesq.idTerceiro.nome}" sortBy="#{orctoPesq.idTerceiro.nome}">
                                                                        <h:outputText value="#{orctoPesq.idTerceiro.nome}" />
                                                                    </p:column>
                                                                    <p:column headerText="Procedimento" filterBy="#{orctoPesq.idProcedimento.descricao}" filterMatchMode="contains" width="14%" sortBy="#{orctoPesq.idProcedimento.descricao}">
                                                                        <h:outputText value="#{orctoPesq.idProcedimento.descricao}"  />
                                                                    </p:column>
                                                                    <p:column headerText="Situação" filterBy="#{orctoPesq.situacao}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.situacao}" >
                                                                        <h:outputText styleClass="#{orctoPesq.situacao == 'Aberto' ? 'label label-primary' : orctoPesq.situacao == 'Vencido' ? 'label label-danger' : orctoPesq.situacao == 'Realizado' ? 'label label-success ' : orctoPesq.situacao == 'Não Realizado' ? 'label label-warning' : orctoPesq.situacao == 'Cancelado' ? 'label label-default' : ''}"  
                                                                                      value="#{orctoPesq.situacao}"   />
                                                                    </p:column>
                                                                    <p:column headerText="Status" filterBy="#{orctoPesq.status}" filterMatchMode="contains" width="10%" sortBy="#{orctoPesq.status}" >
                                                                        <h:outputText value="#{orctoPesq.status}"   />
                                                                    </p:column>
                                                                    <p:rowExpansion>
                                                                        <p:dataTable value="#{orctoPesq.orcamentoItemList}" var="itnList" >
                                                                            <f:facet name="header">
                                                                                Itens do Orcamento #{orctoPesq.idOrcamento}
                                                                            </f:facet>
                                                                            <p:column width="4%">
                                                                                <p:rowToggler />
                                                                            </p:column>
                                                                            <p:column headerText="Serviço" >
                                                                                <h:outputText value="#{itnList.idServico.descricao}" />
                                                                            </p:column>
                                                                            <p:column headerText="Terceiro" >
                                                                                <h:outputText value="#{itnList.idTerceiro.nome}" />
                                                                            </p:column>
                                                                            <p:column headerText="Quantidade" >
                                                                                <h:outputText value="#{itnList.quantidade}" />
                                                                            </p:column>
                                                                            <p:column headerText="Vlr Unit." >
                                                                                <h:outputText value="#{itnList.valorUnitario}" >
                                                                                    <f:convertNumber minFractionDigits="2" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:column headerText="Taxa" >
                                                                                <h:outputText value="#{itnList.taxa}" >
                                                                                    <f:convertNumber minFractionDigits="2" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:column headerText="Vlt Total" >
                                                                                <h:outputText value="#{itnList.valorTotal}" >
                                                                                    <f:convertNumber minFractionDigits="2" />
                                                                                </h:outputText>
                                                                            </p:column>
                                                                            <p:rowExpansion>
                                                                                <p:dataTable value="#{itnList.idServico.servicoItemList}" var="sil" >
                                                                                    <p:column headerText="Descritivas do Item do Orçamento">
                                                                                        <h:outputText value="#{sil.descritiva}" />
                                                                                    </p:column>
                                                                                </p:dataTable>
                                                                            </p:rowExpansion>
                                                                        </p:dataTable>
                                                                    </p:rowExpansion>
                                                                </p:dataTable>
                                                            </b:column>
                                                        </h:form>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="dropdown2" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{pacienteMB.paciente.nome}">

                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div id="dropdown3" class="tab-pane fade">
                                            <div class="container">
                                                <div class="row">
                                                    <b:panel title="#{pacienteMB.paciente.nome}">
                                                        <h:form id="consultaExames">
                                                            <p:dataTable id="dtl" value="#{pacienteMB.paciente.exameList}"  var="forms"  paginator="true" rows="25" 
                                                                         widgetVar="frmPag" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                                                <f:facet name="header">
                                                                    <p:outputPanel>
                                                                        <p:inputText id="globalFilter"  onkeyup="PF('frmPag').filter()" style="width:100%" placeholder="Pesquise o campo" styleClass="form-control"/>
                                                                    </p:outputPanel>
                                                                </f:facet>

                                                                <p:column  headerText="Código" filterBy="#{forms.idExame}" filterMatchMode="contains" width="5%"  >
                                                                    <h:outputText value="#{forms.idExame}" />
                                                                </p:column>
                                                                <p:column headerText="Paciente" filterBy="#{forms.idPaciente.nome}" filterMatchMode="contains" >
                                                                    <h:outputText value="#{forms.idPaciente.nome}"  />
                                                                </p:column>
                                                                <p:column headerText="Médico Resp." filterBy="#{forms.idTerceiro.nome}" filterMatchMode="contains" >
                                                                    <h:outputText value="#{forms.idTerceiro.nome}"  />
                                                                </p:column>
                                                                <p:column  headerText="Descrição" filterBy="#{forms.descricao}" filterMatchMode="contains"  >
                                                                    <h:outputText value="#{forms.descricao}" />
                                                                </p:column>
                                                                <p:column headerText="Data Exame" filterBy="#{forms.dtExame}"   filterMatchMode="contains" >
                                                                    <h:outputText value="#{forms.dtExame}"  >
                                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Pagto Médico" filterBy="#{forms.dtRecebimento}"   filterMatchMode="contains" >
                                                                    <h:outputText value="#{forms.dtRecebimento}"  >
                                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column  headerText="Valor" filterBy="#{forms.valor}" filterMatchMode="contains" >
                                                                    <h:outputText value="#{forms.valor}" />
                                                                </p:column>

                                                                <p:column  headerText="Observação" filterBy="#{forms.observacao}" filterMatchMode="contains" >
                                                                    <h:outputText value="#{forms.observacao}" />
                                                                </p:column>
                                                            </p:dataTable>
                                                        </h:form>
                                                    </b:panel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>