<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Status - Orçamento</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuorcamento}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Status - Orçamento" look="primary" rendered="#{sessaoMB.usuario.idPapel.menuorcamento}" >

                            <b:column span="12">
                                <p:commandButton value="Novo" icon="add" styleClass="btn" action="#{statusMB.novo()}" update=":novo" />
                                <hr/>
                            </b:column>
                            <h:form id="novo">
                                <b:column span="4">
                                    <p:messages id="msgs2" />
                                    <bcr:outputrequired value="Descrição" />
                                    <p:inputText  styleClass="form-control"  required="true" id="nome" 
                                                  requiredMessage="O campo Descrição é obrigatório" value="#{statusMB.status.descricao}" />
                                    <p:outputLabel value="Ativo" />
                                    <p:selectBooleanCheckbox value="#{statusMB.status.ativo}"/>
                                    <p:outputLabel value="Ao selecionar este status, o motivo deve ser informado?" />
                                    <p:selectBooleanCheckbox value="#{statusMB.status.motivoObrigatorio}"/>
                                    <hr/>
                                    <p:commandButton value="Salvar" update=":frmCadastrarStatus:dtl, :novo:msgs2, :novo" icon="salvar" 
                                                     action="#{statusMB.salvar()}" ajax="true" styleClass="btn btn-primary" />
                                </b:column>
                                

                            </h:form>
                            <h:form id="frmCadastrarStatus" >
                                <b:column span="8">
                                    <p:dataTable id="dtl" value="#{statusMB.listaStatus()}"  var="status"  paginator="true" 
                                                 rows="10"  lazy="true"
                                                 widgetVar="frmSta" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <p:column  headerText="Controle" width="10%"  >
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" action="#{statusMB.selecionaPorID(status.idStatus)}" update=":novo" >
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc" disabled="#{status.fixo != null}"
                                                               actionListener="#{statusMB.selecionaPorID(status.idStatus)}" update=":frmConfirm" 
                                                               oncomplete="PF('dlgConfirm').show()">
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                            </center>
                                        </p:column>                                        
                                        <p:column  headerText="Descrição" filterBy="#{status.descricao}" sortBy="#{status.descricao}" filterMatchMode="contains" >
                                            <h:outputText value="#{status.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Ativo" filterBy="#{status.ativo}" sortBy="#{status.ativo}" filterMatchMode="contains" >
                                            <h:outputText value="#{status.ativo ? 'Ativo' : 'Inativo'}" styleClass="#{status.ativo ? 'label label-success' : 'label label-warning'}"/>
                                        </p:column>
                                        <p:column  headerText="Motivo obrigatório" filterBy="#{status.motivoObrigatorio}" sortBy="#{status.motivoObrigatorio}" filterMatchMode="contains" >
                                            <h:outputText value="#{status.motivoObrigatorio ? 'Obrigatório' : 'Opcional'}" styleClass="#{status.motivoObrigatorio ? 'label label-danger' : ''}"/>
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <!-- Excluir status -->
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="false">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{statusMB.status.descricao} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  
                                                             action="#{statusMB.excluir(statusMB.status)}" update=":novo, :frmCadastrarStatus, :msg" 
                                                             oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgConfirm').hide()" action="#{statusMB.novo()}" update=":novo, :frmCadastrarStatus" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
