<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Procedimentos</li>
            </ui:define>

            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menuprocedimento}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Procedimentos" look="primary"  rendered="#{sessaoMB.usuario.idPapel.menuprocedimento}">
                            <h:form id="formProcedimento" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{procedimentoMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novoprocedimento}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{procedimentoMB.model}" lazy="true" var="forms" paginator="true" rows="10" paginatorPosition="bottom"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="5,10,15,25,50,100,200"
                                                 widgetVar="frmPag" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <p:column  headerText="Controle" width="10%"  >
                                            <p:commandLink title="Editar" id="editBtn" action="#{procedimentoMB.selecionarProcedimento(forms)}" update=":novo" 
                                                           oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarprocedimento}">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            <p:blockUI block="dtl" trigger="editBtn" >
                                                Carregando Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                            &nbsp;
                                            <p:commandLink title="Excluir" id="infoExc" actionListener="#{procedimentoMB.selecionarPorID(forms.idProcedimento)}"  update=":frmConfirm" oncomplete="PF('dlgConfirm').show()"  rendered="#{sessaoMB.usuario.idPapel.excluirprocedimento}" >
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                            <p:blockUI block="dtl"  trigger="infoExc" >
                                                Excluindo Dados<br />
                                                <p:graphicImage value="Recursos/img/loading.gif"/>
                                            </p:blockUI>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{forms.idProcedimento}" sortBy="#{forms.idProcedimento}" filterMatchMode="contains" width="15%"  >
                                            <h:outputText value="#{forms.idProcedimento}" />
                                        </p:column>
                                        <p:column  headerText="Descrição" filterBy="#{forms.descricao}" sortBy="#{forms.descricao}" filterMatchMode="contains" width="50%"  >
                                            <h:outputText value="#{forms.descricao}" />
                                        </p:column>
                                        <p:column  headerText="Padrão" filterBy="#{forms.padrao}" sortBy="#{forms.padrao}" filterMatchMode="contains" width="30%"  >
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('frmPag').filter()" value="#{terceiroMB.tipo}" styleClass="form-control" >
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="Exames" itemValue="E" />
                                                    <f:selectItem itemLabel="Consultas" itemValue="C" />
                                                    <f:selectItem itemLabel="Fechamentos" itemValue="I" />
                                                    <f:selectItem itemLabel="Débito" itemValue="D" />
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{forms.padrao == 'E' ? 'Procedimento para exames' : forms.padrao == 'C' ? 'Procedimento para consultas' : forms.padrao == 'I' ? 'Procedimento para fechamentos' : forms.padrao == 'D' ? 'Procedimento para débitos' : '' }" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Procedimento" height="25%" width="50%" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="novo">
                                    <b:row>
                                        <b:column span="12">
                                            <b:column span="4">
                                                <bcr:outputrequired value="Descrição" />
                                                <p:inputText required="true" id="nome"  label="Descrição" requiredMessage="O campo descrição é obrigatório" value="#{procedimentoMB.procedimento.descricao}" />
                                            </b:column>
                                            <b:column span="4">
                                                <bcr:outputrequired value="Usar em:" />
                                                <p:selectOneMenu id="padrao" value="#{procedimentoMB.procedimento.padrao}" styleClass="form-control" style="width: 100%">
                                                    <f:selectItem itemLabel="" itemValue="" />
                                                    <f:selectItem itemLabel="Exames" itemValue="E" />
                                                    <f:selectItem itemLabel="Débitos" itemValue="D" />
                                                    <f:selectItem itemLabel="Consultas" itemValue="C" />
                                                    <f:selectItem itemLabel="Fechamentos" itemValue="I" />
                                                </p:selectOneMenu>
                                                <p:tooltip id="toolTipPadrao" for="padrao" value="Padronize o procedimento pelo tipo da internação. Escolha a opção." trackMouse="true" />
                                            </b:column>
                                            <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                                <h:outputText value="Inativo?" /><br/>
                                                <p:selectBooleanCheckbox id="inativo" value="#{procedimentoMB.procedimento.inativo}"  />
                                                <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                            </b:column>
                                        </b:column>

                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar" ajax="true" update=":formProcedimento:dtl, :msg, novo" icon="salvar" styleClass="btn" 
                                                             action="#{procedimentoMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                                            &nbsp;
                                            <p:commandButton value="Incluir e continuar"  ajax="true" update=":formProcedimento:dtl, :msg,  novo" icon="add"  styleClass="btn" validateClient="true" action="#{procedimentoMB.salvar()}" oncomplete="#{procedimentoMB.novo()}" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText  value="Você confirma a exclusão do registro #{procedimentoMB.procedimento.idProcedimento} "  styleClass="avisoExclusao"/>
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{procedimentoMB.excluir(procedimentoMB.procedimento)}" update=":formProcedimento, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{formaPagamentoMB.novo()}" update=":formProcedimento" />
                                        </h:panelGrid>  
                                    </center>
                                </h:form>

                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
