<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Listagem Terceiro</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menulistagemterceiro}"/>
                <b:row rendered="#{sessaoMB.usuario.idPapel.menulistagemterceiro}">
                    <b:column span="12">
                        <b:panel  title="Listagem de Terceiro" look="primary" rendered="#{sessaoMB.usuario.idPapel.menulistagemterceiro}">
                            <h:form id="frmTerceiro">
                                <b:column span="12">
                                    <b:column span="3">
                                        <h:outputText value="Tipo Pessoa"  />
                                        <p:selectOneMenu styleClass="form-control" value="#{terceiroMB.tipo}" >
                                            <f:selectItem itemLabel="Todos" itemValue="" />
                                            <f:selectItem itemLabel="Física" itemValue="F" />
                                            <f:selectItem itemLabel="Jurídica" itemValue="J" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column span="3">
                                        <h:outputText  value="Especialidade" />
                                        <p:selectOneMenu styleClass="form-control" value="#{terceiroMB.espec}" >
                                            <f:selectItem itemLabel="Todos " itemValue="" />
                                            <f:selectItems value="#{terceiroMB.listaEspecialidades()}" var="esp"
                                                           itemLabel="#{esp.descricao}" itemValue="#{esp.idEspecialidade}" />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column>
                                        <hr/>
                                        <p:commandButton styleClass="btn btn-primary"  value="Imprimir" action="#{terceiroMB.imprimirListaTerceiro()}" ajax="false"   onclick="this.form.target='_blank'" icon="ui-icon-print" />
                                    </b:column>
                                </b:column>
                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>

    </body>
</html>
