<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Recibo Avulso</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.relatorioLancamentoAvulso}"/>
                <b:column span="12">
                    <b:panel  title="Recibo Avulso" look="primary" rendered="#{sessaoMB.usuario.idPapel.relatorioLancamentoAvulso}">
                        <h:form id="frmInformeValores" >
                            <b:row>
                                <b:column span="12">
                                    <b:column span="2" >
                                        <p:outputLabel value="Atendimento Paciente TASY" />
                                        <h:panelGrid columns="2" width="100%">
                                            <p:inputText value="#{cirurgiaMB.numeroAtendimento}" styleClass="form-control" >
                                                <p:ajax event="blur" update="row2" oncomplete="$(function(){PrimeFaces.focus('#{cirurgiaMB.numeroAtendimento != 0 ? 'frmInformeValores:paciente' : 'frmInformeValores:procedimento'}');});"/>
                                            </p:inputText>
                                        </h:panelGrid>
                                    </b:column>
                                </b:column>
                            </b:row>
                            <b:row id="row2" >
                                <b:column span="12">
                                    <b:column col-lg="3" col-md="3" col-sm="3" col-xs="12">
                                        <p:outputLabel value="Paciente"/>
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="paciente" value="#{cirurgiaMB.paciente}" converter="Converter" disabled="#{cirurgiaMB.numeroAtendimento != 0 and cirurgiaMB.numeroAtendimento != null}"
                                                            completeMethod="#{lancamentoAvulsoMB.completeMethodPaciente}" var="pac" maxResults="10"
                                                            itemLabel="#{pac.nome}" itemValue="#{pac}" placeholder="Digite o paciente" required="true" requiredMessage="Informe o paciente!">
                                                <p:column>
                                                    <h:outputText value="#{pac.nome}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{pac.cpf==null ? pac.nomeMae : pac.cpf or pac.cpf=='' ? pac.nomeMae : pac.cpf}" />
                                                </p:column>
                                                <p:ajax event="itemSelect" update="medico" oncomplete="$(function(){PrimeFaces.focus('frmInformeValores:medico');});" />
                                            </p:autoComplete>
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-lg="3" col-md="3" col-sm="3" col-xs="12">
                                        <p:outputLabel  value="Méd. Responsável" />
                                        <h:panelGrid columns="2" width="100%">                                                        
                                            <p:autoComplete id="medico" value="#{cirurgiaMB.terceiro}" converter="Converter"  disabled="#{cirurgiaMB.numeroAtendimento != 0 and cirurgiaMB.numeroAtendimento != null}"
                                                            completeMethod="#{orcamentoMB.completeMethodTerceiro}" var="terc" maxResults="5"
                                                            itemLabel="#{terc.nome != null ? terc.nome : terc.razaoSocial}" itemValue="#{terc}" placeholder="Digite o médico responsável" required="true" requiredMessage="Informe o médico responsável!">
                                                <p:column>
                                                    <h:outputText value="#{terc.idTerceiro}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{terc.nome != null ? terc.nome : terc.razaoSocial}" />
                                                </p:column>
                                                <p:ajax event="itemSelect" update="medico" oncomplete="$(function(){PrimeFaces.focus('frmInformeValores:procedimento');});" />
                                            </p:autoComplete> 
                                        </h:panelGrid>
                                    </b:column>

                                    <b:column col-lg="2" col-md="2" col-sm="2" col-xs="12">
                                        <p:outputLabel value="Procedimento" />
                                        <h:panelGrid columns="2" width="100%">
                                            <p:autoComplete id="procedimento" value="#{cirurgiaMB.servicoExterno}" converter="Converter"
                                                            completeMethod="#{cirurgiaMB.completeMethodServico}" var="serv" maxResults="5"
                                                            itemLabel="#{serv.nomeProcedimentoInternoTasy == null ? serv.descricao : serv.nomeProcedimentoInternoTasy}" itemValue="#{serv}" placeholder="Digite o procedimento">
                                                <p:column>
                                                    <h:outputText value="#{serv.idServico}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{serv.idProcedimentoTasy}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{serv.nomeProcedimentoInternoTasy == null ? serv.descricao : serv.nomeProcedimentoInternoTasy}" />
                                                </p:column>
                                                <p:ajax event="itemSelect" update="valorMed" oncomplete="$(function(){PrimeFaces.focus('frmInformeValores:valorMed');});" />
                                            </p:autoComplete>  
                                        </h:panelGrid>
                                    </b:column>
                                    <b:column col-lg="2" col-md="2" col-sm="2" col-xs="12">
                                        <p:outputLabel value="Valor Médicos" for="valorMed" indicateRequired="false"/>
                                        <pe:inputNumber id="valorMed" emptyValue="empty" value="#{cirurgiaMB.valorReciboMed}"  symbol="R$ ">

                                        </pe:inputNumber>
                                    </b:column>
                                    <b:column span="2">
                                        <p:outputLabel value="Valor Hospital" for="valorHosp" indicateRequired="false"/>
                                        <pe:inputNumber id="valorHosp" emptyValue="empty" value="#{cirurgiaMB.valorReciboHosp}"  symbol="R$ ">

                                        </pe:inputNumber>
                                    </b:column>
                                    <b:column span="12">
                                        <p:outputLabel value="Observação" for="obs" indicateRequired="false"/>
                                        <p:inputTextarea id="obs" value="#{cirurgiaMB.observacao}" styleClass="form-control" autoResize="true" rows="2" />
                                    </b:column>
                                </b:column>
                            </b:row>
                            <b:column span="12">
                                <hr/>
                                <p:commandButton value="Imprimir" action="#{cirurgiaMB.imprimirAtendimentoExternoValores()}" 
                                                 ajax="false" styleClass="btn"
                                                 onclick="this.form.target = '_blank'" icon="imprimir" />
                            </b:column>
                        </h:form>
                    </b:panel>
                </b:column>
            </ui:define>
        </ui:composition>
    </body>
</html>
