<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Bancos</li>
            </ui:define>
            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menubanco}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Bancos" look="primary" rendered="#{sessaoMB.usuario.idPapel.menubanco}" >
                            <h:form id="formBanco" >
                                <b:column span="12">
                                    <p:commandButton value="Novo" icon="add" styleClass="btn btn-primary" action="#{bancoMB.novo()}" update=":novo" onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novobanco}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{bancoMB.model}"  var="banco"  paginator="true" rows="10"  lazy="true"
                                                 widgetVar="frmBnc" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <p:column  headerText="Controle" width="10%"  >
                                            <p:commandLink title="Editar" id="editBtn" action="#{bancoMB.selecionaPorID(banco.idBanco)}" update=":novo" oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarbanco}">
                                                <p:graphicImage value="Recursos/icons/Edit.png"  />
                                            </p:commandLink>
                                            <p:blockUI block="dtl"  trigger="editBtn" >
                                                Carregando Dados<br />
                                                <p:graphicImage value="Recursos/img/novoLoading.gif"/>
                                            </p:blockUI>
                                            &nbsp;
                                            <p:commandLink title="Excluir" id="infoExc"
                                                           actionListener="#{bancoMB.selecionaPorID(banco.idBanco)}"  update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" rendered="#{sessaoMB.usuario.idPapel.excluirbanco}">
                                                <p:graphicImage value="Recursos/icons/Delete.png" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{banco.idBanco}" sortBy="#{banco.idBanco}" filterMatchMode="contains" width="15%"  >
                                            <h:outputText value="#{banco.idBanco}" />
                                        </p:column>
                                        <p:column  headerText="Nome" filterBy="#{banco.nome}" sortBy="#{banco.nome}" filterMatchMode="contains" width="55%"  >
                                            <h:outputText value="#{banco.nome}" />
                                        </p:column>
                                        <p:column  headerText="Número do Banco" filterBy="#{banco.numero}" sortBy="#{banco.numero}" filterMatchMode="contains" width="55%"  >
                                            <h:outputText value="#{banco.numero}" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo banco" height="25%" width="50%"  resizable="false" closeOnEscape="true" closable="true">
                                <h:form id="novo">
                                    <b:row>
                                        <b:column span="8">
                                            <b:column span="6">
                                                <bcr:outputrequired value="Nome" />
                                                <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Nome" requiredMessage="O campo Nome é obrigatório" value="#{bancoMB.banco.nome}" onblur="capitaliseFirstLetter(this.value, this.id)" />
                                            </b:column>
                                            <b:column span="6">
                                                <h:outputText value="Número" />
                                                <p:inputText  styleClass="form-control" id="numero"  label="Numero" value="#{bancoMB.banco.numero}" />
                                            </b:column>
                                            <b:column col-xs="6" col-sm="6" col-md="3" col-lg="3">
                                                <h:outputText value="Inativo?" /><br/>
                                                <p:selectBooleanCheckbox id="inativo" value="#{bancoMB.banco.inativo}"  />
                                                <p:tooltip for="inativo" value="Inativando este cadastro, ele não será mais visível em TODAS as telas do SMA."/>
                                            </b:column>
                                        </b:column>
                                        <b:column span="6">
                                            <p:messages id="msgs2" />
                                        </b:column>
                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar"  ajax="true" update=":formBanco:dtl, :msg, :novo" icon="salvar"  validateClient="true" action="#{bancoMB.salvar()}" oncomplete="if (!args.validationFailed){PF('dlgNovo').hide()}" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>
                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="false">
                                <h:form id="frmConfirm">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="Você confirma a exclusão do registro #{bancoMB.banco.nome} " />
                                    </h:panelGrid>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim" icon="check16" styleClass="ui-confirmdialog-yes"  action="#{bancoMB.excluir(bancoMB.banco)}" update=":formBanco, :msg" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Cancelar"  icon="cancel16" styleClass="ui-confirmdialog-no"  oncomplete="PF('dlgConfirm').hide()" action="#{bancoMB.novo()}" update=":formBanco" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>
                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </body>
</html>
