<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Cadastro de Textos (Modelos) para Emails</li>
            </ui:define>

            <ui:define name="content">
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel  title="Cadastro de Textos (Modelos) para Emails" look="primary" >
                            <h:form id="formTextoEmails" >
                                <b:column span="12">
                                    <p:commandButton value="Novo Texto" icon="add" styleClass="btn" action="#{textoEmailsMB.Novo()}" update=":novo" 
                                                     onclick="PF('dlgNovo').show();" rendered="#{sessaoMB.usuario.idPapel.novoprocedimento}"/>
                                    <hr/>
                                </b:column>
                                <b:column span="12">
                                    <p:dataTable id="dtl" value="#{textoEmailsMB.listarTextoEmails()}" var="forms" paginator="true" rows="10" 
                                                 paginatorPosition="bottom"
                                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                                 rowsPerPageTemplate="10,20,30" emptyMessage="Nenhum registro encontrado"  style="width:100%" >
                                        <p:column  headerText="Controle" width="10%"  >
                                            <center>
                                                <p:commandLink title="Editar" id="editBtn" action="#{textoEmailsMB.selecionarPorID(forms.idTextoEmail)}" update=":novo" 
                                                               oncomplete="PF('dlgNovo').show()" rendered="#{sessaoMB.usuario.idPapel.editarprocedimento}">
                                                    <p:graphicImage value="Recursos/icons/Edit.png"  />
                                                </p:commandLink>
                                                &nbsp;
                                                <p:commandLink title="Excluir" id="infoExc" action="#{textoEmailsMB.selecionarPorID(forms.idTextoEmail)}" 
                                                               update=":frmConfirm" oncomplete="PF('dlgConfirm').show()" 
                                                               rendered="#{sessaoMB.usuario.idPapel.excluirprocedimento}" >
                                                    <p:graphicImage value="Recursos/icons/Delete.png" />
                                                </p:commandLink>
                                            </center>
                                        </p:column>
                                        <p:column  headerText="Código" filterBy="#{forms.idTextoEmail}" sortBy="#{forms.idTextoEmail}" 
                                                   filterMatchMode="contains" width="8%"  >
                                            <h:outputText value="#{forms.idTextoEmail}" />
                                        </p:column>
                                        <p:column  headerText="Texto" filterBy="#{forms.texto}" sortBy="#{forms.texto}" 
                                                   filterMatchMode="contains" width="50%"  >
                                            <h:outputText value="#{forms.texto}" escape="" />
                                        </p:column>
                                    </p:dataTable>
                                </b:column>
                            </h:form>

                            <p:dialog widgetVar="dlgNovo" modal="True" header="Novo Texto (Modelo) para Emails" width="800px" 
                                      closeOnEscape="true" resizable="false" closable="true" position="top">
                                <h:form id="novo">
                                    <b:row>
                                        <b:column span="12">
                                            <b:column span="12">
                                                <bcr:outputrequired value="Etiqueta (Máx. 20 caracteres)" />
                                                <p:inputText value="#{textoEmailsMB.textoEmails.etiqueta}" required="true" requiredMessage="O campo Etiqueta é obrigatório" maxlength="20"/>
                                                <br/>
                                                <bcr:outputrequired value="Texto" />                                                
                                                <p:editor id="editor" widgetVar="editorWidget" 
                                                          value="#{textoEmailsMB.textoEmails.texto}" width="740" />
                                            </b:column>
                                        </b:column>

                                        <b:column span="12">
                                            <hr/>
                                            <p:commandButton value="Salvar" update=":formTextoEmails:dtl, :msg, novo" icon="salvar" styleClass="btn" 
                                                             action="#{textoEmailsMB.Salvar()}" />
                                            &nbsp;
                                            <p:commandButton value="Sair"  ajax="true" update=":formTextoEmails:dtl, :msg,  novo" icon="cancel16"  
                                                             styleClass="btn" oncomplete="PF('dlgNovo').hide();" />
                                        </b:column>
                                    </b:row>
                                </h:form>
                            </p:dialog>


                            <p:dialog widgetVar="dlgConfirm" header="Confirmação de Exclusão" 
                                      modal="true" width="500px" closeOnEscape="true" resizable="false" closable="true">
                                <h:form id="frmConfirm">
                                    <div class="alert alert-danger">
                                        <h:outputText value="Você confirma a exclusão deste texto?" />
                                    </div>
                                    <hr/>
                                    <center>
                                        <h:panelGrid columns="2">
                                            <p:commandButton value="Sim. Desejo excluir." update=":formTextoEmails, :msg"  icon="check16"
                                                             action="#{textoEmailsMB.Excluir(textoEmailsMB.textoEmails)}" oncomplete="PF('dlgConfirm').hide()"/>
                                            <p:commandButton value="Não excluir."  icon="cancel16" styleClass="ui-confirmdialog-no" 
                                                             oncomplete="PF('dlgConfirm').hide()" action="#{textoEmailsMB.novo()}" update=":formTextoEmails" />
                                        </h:panelGrid>
                                    </center>
                                </h:form>

                            </p:dialog>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
