<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body onload="#{backupMB.criarPastas()}">

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Backups</li>
            </ui:define>


            <ui:define name="content">
                <bcr:blockPage  rendered="#{!sessaoMB.usuario.idPapel.menubackup}"/>
                <p:growl id="msg" />
                <b:row>
                    <b:column span="12">
                        <b:panel id="pnl" title="Backup" look="primary" rendered="#{sessaoMB.usuario.idPapel.menubackup}">
                            <h:form id="formBackup">
                                <b:column id="cln12" span="12">
                                    <b:column span="4">
                                        <h:outputText value="Caminho MySQL: " />
                                        <p:inputText value="#{backupMB.caminhoMySQL}" required="true" placeholder="Path da instalação do MySQL" requiredMessage="Informe o path da instalação do MySQL!" styleClass="form-control" />
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Destino: " />
                                        <p:inputText value="#{backupMB.destino}" required="true" placeholder="Informe o destino do backup." requiredMessage="Informe o path do destino!" styleClass="form-control" />
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Schema: " />
                                        <p:inputText value="#{backupMB.BD}" required="true" placeholder="Schema do banco de dados" requiredMessage="Infome o path do destino!" styleClass="form-control" />
                                    </b:column>
                                </b:column>
                                <b:column span="12">
                                    <hr/>
                                    <p:commandButton id="trg" styleClass="btn btn-primary"  update=":msg" value="Backup Local"  
                                                     action="#{backupMB.GerarBackup()}" />                                    
                                </b:column>
                            </h:form>
                        </b:panel>
                        <b:panel id="pnl2" title="Importação de Tabelas" look="primary" rendered="#{sessaoMB.usuario.idPapel.menubackup}">
                            <h:form id="formImportacao">
                                <b:column span="12" id="importacao">
                                    <b:column span="4">
                                        <h:outputText value="Arquivo CSV: " />
                                        <p:fileUpload value="#{backupMB.file}" fileUploadListener="#{backupMB.handleFileUpload}" allowTypes="/(\.|\/)(csv)$/" invalidFileMessage="Tipo inválido" mode="advanced" auto="true" update=":msg"/>
                                    </b:column>
                                    <b:column span="4">
                                        <h:outputText value="Tabela: " />
                                        <p:inputText value="#{backupMB.tablename}" required="true" placeholder="Informe a tabela a ser importada. Ex: terceiro, paciente." requiredMessage="Infome a tabela!" styleClass="form-control" />
                                    </b:column>
                                </b:column>
                                <b:column span="12">
                                    <hr/>
                                    <p:commandButton id="imp" styleClass="btn btn-primary"  update=":msg" value="Importar" action="#{backupMB.importarDados()}" />                                    
                                    <p:blockUI trigger="imp" block="importacao"  >
                                        <bcr:alertWarning Titulo="Atenção! " Descricao="Importando tabelas... Aguarde e não feche a página!" />
                                        <img src="Recursos/img/generated-image.gif" />
                                    </p:blockUI>
                                </b:column>
                            </h:form>
                        </b:panel>
                    </b:column>
                </b:row>
            </ui:define>

        </ui:composition>

    </body>
</html>
