<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Extrato</li>
            </ui:define>
            <ui:define name="content">

                <h:form id="extratos">
                    <b:column col-md="12">
                        <p:messages autoUpdate="true" id="msgs" escape="true" closable="true"/>
                        <fieldset>
                            <legend><i class="fa fa-search"></i> Pesquisar</legend>
                            <b:row>
                                <b:column col-md="6">
                                    <b:column col-md="4">
                                        <h:outputText value="Nº Atendimento" />
                                        <p:inputText placeholder="Nº Atendimento" value="#{contaCorrenteMB.paidCirurgia}"/>
                                    </b:column>
                                    <b:column col-md="4">
                                        <h:outputText value="Data Inicial" />
                                        <p:calendar placeholder="Data Inicial" locale="pt" value="#{contaCorrenteMB.padtIni}" pattern="dd/MM/yyyy" /> 
                                    </b:column>
                                    <b:column col-md="4">
                                        <h:outputText value="Data Final" />
                                        <p:calendar placeholder="Data Final" locale="pt" value="#{contaCorrenteMB.padtFim}" pattern="dd/MM/yyyy" />
                                    </b:column>
                                </b:column>
                                <b:column span="12">
                                    <b:column col-md="2">
                                        <h:outputText value="Procedimento" />
                                        <p:selectOneMenu  value="#{contaCorrenteMB.paidprocedimentofiltro}" styleClass="form-control"  filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Todos" itemValue=""  />
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-md="4">
                                        <h:outputText value="Paciente" />
                                        <h:panelGrid columns="2" style="width: 110% !important;">
                                            <p:inputText id="paciente" value="#{contaCorrenteMB.nomePacientePesquisa != null ? contaCorrenteMB.nomePacientePesquisa : ''}" 
                                                         placeholder="Todos os pacientes" readonly="true" styleClass="form-control">
                                                <p:ajax update="@this"/>
                                            </p:inputText>
                                            <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" 
                                                             immediate="true" action="#{contaCorrenteMB.carregarPacientesLazyModel()}" update=":dlgConsultaPacientePesquisa:frmConsultaPacientePesquisa"
                                                             onclick="PF('dlgConsultaPacientePesquisa').show();" />
                                        </h:panelGrid>
                                    </b:column>                               

                                    <b:column col-md="2">
                                        <h:outputText value="Situação" />
                                        <p:selectOneMenu  value="#{contaCorrenteMB.paSituacao}" styleClass="form-control" filter="true" 
                                                          filterMatchMode="contains">
                                            <f:selectItem itemLabel="Todos" itemValue=""  />
                                            <f:selectItem itemLabel="Liberado"  itemValue="Liberado"/>
                                            <f:selectItem itemLabel="Não Liberado"  itemValue="Não Liberado"/>
                                            <f:selectItem itemLabel="Estornado"  itemValue="Estornado"/>
                                            <f:selectItem itemLabel="Devolvido"  itemValue="Devolvido"/>
                                        </p:selectOneMenu>
                                    </b:column>
                                    <b:column col-md="3" rendered="false">
                                        <h:outputText value="Status" />
                                        <p:selectOneMenu  value="#{contaCorrenteMB.paStatus}"  styleClass="form-control"  filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Todos" itemValue=""  />
                                            <f:selectItem itemLabel="Não Retirado" itemValue="Não Retirado" />
                                            <f:selectItem itemLabel="Retirado" itemValue="Retirado" />
                                        </p:selectOneMenu>
                                    </b:column>
                                </b:column>
                            </b:row>
                        </fieldset>
                    </b:column>

                    <b:column col-md="12">
                        <br/>
                        <p:commandButton id="btnPesquisar" value="Pesquisar" styleClass="btn" icon="consultar" 
                                         action="#{contaCorrenteMB.pesquisarExtratos(sessaoMB.usuario.idTerceiro.idTerceiro)}" 
                                         update="tblPesq, extratos, btnImprimirExtrato" />
                        <p:commandButton id="btnImprimirExtrato" value="Imprimir" disabled="#{contaCorrenteMB.extratos.size() == 0}" 
                                         styleClass="btn" action="#{contaCorrenteMB.imprimirExtratoPorTerceiro(sessaoMB.usuario.idTerceiro.idTerceiro)}"  ajax="false"  process="@this" onclick="this.form.target = '_blank'" icon="imprimir"/>                            
                        <hr/>
                    </b:column>
                    <b:column col-md="12">
                        <p:blockUI block="tblPesq" trigger="btnPesquisar" >
                            <img src="Recursos/img/novoLoading.gif" />
                        </p:blockUI>
                        <p:dataTable id="tblPesq" widgetVar="wtblPesq" value="#{contaCorrenteMB.listaCirurgiaAPesquisar}" 
                                     var="ciruPesq" paginator="true" rows="10" sortMode="multiple"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15,25,50,100,200">
                            <f:facet name="header">
                                Fechamento de Alta Hospitalar
                            </f:facet>
                            <p:column width="4%">
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="ID"  sortBy="#{ciruPesq.idCirurgia}" filterMatchMode="contains" width="4%">
                                <center><h:outputText value="#{ciruPesq.idCirurgia}"  /></center>
                            </p:column>
                            <p:column headerText="Conta TASY"  sortBy="#{ciruPesq.idContaPaciente.idContaPacienteTasy}" filterMatchMode="contains" width="6%">
                                <center><h:outputText value="#{ciruPesq.idContaPaciente.idContaPacienteTasy == null ? '-' : ciruPesq.idContaPaciente.idContaPacienteTasy}"  /></center>
                            </p:column>
                            <p:column headerText="Paciente"  filterMatchMode="contains"  width="15%" sortBy="#{ciruPesq.idPaciente.nome}">
                                <h:outputText value="#{ciruPesq.idPaciente.nome}" />
                            </p:column>
                            <p:column headerText="Data"   filterMatchMode="contains" width="10%" sortBy="#{ciruPesq.dtCirurgia}">
                                <center>
                                    <h:outputText value="#{ciruPesq.dtCirurgia}">
                                        <f:convertDateTime pattern="dd/MM/yyy" />
                                    </h:outputText>
                                </center>

                            </p:column>
                            <p:column headerText="Procedimento"  width="15%" sortBy="#{ciruPesq.idProcedimento == null ? 'Externos' : ciruPesq.idProcedimento.descricao}">
                                <center>
                                    <h:outputText value="#{ciruPesq.idProcedimento == null ? 'EXTERNOS' : ciruPesq.idProcedimento.descricao}"  />
                                </center>
                            </p:column>

                            <p:column headerText="Vlr. Total a Receber" width="10%">
                                <center>
                                    <h:outputText value="#{contaCorrenteMB.calcularValoresTotais(contaCorrenteMB.pesquisarExtratoPorFechamento(ciruPesq.idCirurgia, sessaoMB.usuario.idTerceiro.idTerceiro))}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" type="currency" />
                                    </h:outputText>

                                </center>
                            </p:column>
                            <p:rowExpansion> 
                                <div >
                                    <style>
                                        .colfirst{
                                            width: 20%;
                                        }
                                        .colSecond{
                                            width: 80%;
                                            font-weight: bolder;
                                        }
                                        .cinza {
                                            background-color: #F7f7f7 !important;
                                        }
                                    </style>
                                    <hr style="margin-bottom: 5px;"/>
                                    <div class="col-lg-12" style="background-color: #F7f7f7;">
                                        <center>                                            
                                            <h3>Procedimento: #{ciruPesq.idProcedimento == null ? 'EXTERNO' : ciruPesq.idProcedimento.descricao} - #{ciruPesq.idPaciente.nome}</h3>
                                            <h4>Valor Total: <h:outputText value="#{contaCorrenteMB.retornaValorTotalListaContas(contaCorrenteMB.pesquisarExtratoPorFechamento(ciruPesq.idCirurgia, sessaoMB.usuario.idTerceiro.idTerceiro))}"><f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                                </h:outputText>
                                                - Desconto: R$ <h:outputText value="#{contaCorrenteMB.pesquisarExtratoPorFechamento(ciruPesq.idCirurgia, sessaoMB.usuario.idTerceiro.idTerceiro).get(0).idRepasse.idSici.taxaValor == null ? 0 : contaCorrenteMB.pesquisarExtratoPorFechamento(ciruPesq.idCirurgia, sessaoMB.usuario.idTerceiro.idTerceiro).get(0).idRepasse.idSici.taxaValor}"><f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" /></h:outputText>

                                            </h4>
                                        </center>
                                    </div>
                                    <hr style="margin-top: 5px; margin-bottom: 0;"/>                                    
                                    <h:panelGroup>
                                        <p:dataTable id="dtlExtrato" 
                                                     value="#{contaCorrenteMB.pesquisarExtratoPorFechamento(ciruPesq.idCirurgia, sessaoMB.usuario.idTerceiro.idTerceiro)}" 
                                                     var="extrato" style="width: 100%; font-size: 8px;" 
                                                     sortBy="#{contaCorrenteMB.retornaNumeroParcela(extrato.idRepasse.idRepasse, extrato.idRepasse.idTerceiro.idTerceiro, extrato.idRepasse.idCirurgia.idCirurgia)}"
                                                     emptyMessage="Não foram encontrados registros." tableStyleClass="cinza" >
                                            <f:facet name="header">
                                                Repasses
                                            </f:facet>
                                            <p:column headerText="Parcela" width="60" styleClass="hidden-md hidden-xs">
                                                <center>
                                                    <h:outputText id="parcela" value="#{extrato.idRepasse.idCirurgia.externo ? '1' : contaCorrenteMB.retornaNumeroParcela(extrato.idRepasse.idRepasse, extrato.idRepasse.idTerceiro.idTerceiro, extrato.idRepasse.idCirurgia.idCirurgia)} / #{extrato.idRepasse.idCirurgia.externo ? '1' : contaCorrenteMB.retornaMaxNumeroParcela(extrato.idRepasse.idTerceiro.idTerceiro, extrato.idRepasse.idCirurgia.idCirurgia)}" title="Pagamento do Fechamento em: #{extrato.idRepasse.idCheque.movimento == 'D' ? 'Dinheiro' : extrato.idRepasse.idCheque.movimento == 'C' ? 'Cheque ' : extrato.idRepasse.idCheque.movimento == 'N' ? 'Nota Promissória' : extrato.idRepasse.idCheque.movimento == 'A' ? 'Cartão - Débito' : extrato.idRepasse.idCheque.movimento == 'R' ? 'Cartão - Crédito' : extrato.idRepasse.idCheque.movimento == 'B' ? 'Depósito Bancário' : ''}"/>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Situação" width="100">
                                                <center>
                                                    <h:outputText id="sit" value="#{extrato.situacao}" 
                                                                  styleClass="#{extrato.situacao == 'Liberado' ? 'label label-success' : 
                                                                                extrato.situacao == 'Estornado' ? 'label label-warning' : 
                                                                                extrato.situacao == 'Devolvido' ? 'label label-default' : 
                                                                                'label label-danger' }"/>
                                                    <p:tooltip id="tooltipObservacao" for="sit" 
                                                               value="#{extrato.idRepasse.idCheque.situacao}"/>                                                            
                                                </center>
                                            </p:column>

                                            <p:column headerText="Função/Procedimento" styleClass="hidden-xs" width="20%">
                                                <center>
                                                    <h:outputText value="#{extrato.idRepasse.idCirurgia.externo ? extrato.idRepasse.idCirurgiaItem.idServico.descricao : extrato.idRepasse.idSici != null ? extrato.idRepasse.idSici.idServicoItem.descritiva : extrato.idCirurgia.idProcedimento.descricao}" />
                                                </center>
                                            </p:column>


                                            <p:column headerText="Status" width="10%" rendered="false"> 
                                                <center>
                                                    <h:outputText value="#{extrato.status}" styleClass="#{extrato.status == 'Não Retirado' ? 'label label-primary' : 'label label-success'}" />
                                                </center>
                                            </p:column>
                                            <p:column headerText="Lançamento" width="100"  styleClass="hidden-xs" >
                                                <center>
                                                    <h:outputText value="#{extrato.idRepasse.idCirurgia.dtCirurgia}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Vencimento" styleClass="hidden-xs" width="90">
                                                <center>
                                                    <h:outputText value="#{contaCorrenteMB.addDia(extrato.idRepasse.dtVencimento, associacaoMB.retornaPrazoCompensacaoCheque())}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>                                                


                                            <p:column headerText="Retirado" styleClass="hidden-xs" width="90">
                                                <center>
                                                    <h:outputText value="#{extrato.dtPagamentoMedico}" >
                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                    </h:outputText>
                                                </center>
                                            </p:column>

                                            <p:column headerText="Valor" width="90">
                                                <center>
                                                    <h:outputText value="#{extrato.idRepasse.idCirurgiaItem.desconto + extrato.valor}" >
                                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Desconto" width="90">
                                                <center>
                                                    <h:outputText value="#{extrato.idRepasse.idCirurgiaItem.desconto}" >
                                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>

                                            <p:column headerText="Valor Total" width="90">
                                                <center>
                                                    <h:outputText value="#{extrato.valor}" >
                                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                                    </h:outputText>
                                                </center>
                                            </p:column>
                                            <p:column headerText="Observação" width="300">
                                                <h:outputText value="#{extrato.idRepasse.observacao}" />
                                            </p:column>
                                        </p:dataTable>
                                        <br/>
                                    </h:panelGroup>
                                </div>
                            </p:rowExpansion>
                        </p:dataTable>
                        <br/>
                    </b:column>
                </h:form>
                <bcr:dialogPesquisaPaciente id="dlgConsultaPacientePesquisa" header="Consulta de Paciente" idDatatable="dtlConsultarPaciente"
                                            idDialogo="dlgConsultaPacientePesquisa" idForm="frmConsultaPacientePesquisa" updateBtnSelecionar=":extratos:paciente" 
                                            action="#{contaCorrenteMB.selecionarPacientePesquisa(varPaciente)}" actionTodosPacientes="#{contaCorrenteMB.zerarPaciente()}"/>
            </ui:define>
        </ui:composition>
    </body>
</html>
