<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Orçamentos</li>
            </ui:define>
            <ui:define name="content">
                <h:form id="frmOrctos">
                    <b:column span="12">
                        <p:messages autoUpdate="true" id="msgs" escape="true" closable="true"/>
                        <fieldset>
                            <legend><i class="fa fa-search"></i> Pesquisar</legend>
                            <b:row>
                                <b:column span="12">
                                    <b:column col-md="2">
                                        <h:outputText value="Nº Atendimento" />
                                        <p:inputText placeholder="Nº Atendimento"  value="#{contaCorrenteMB.paidCirurgia}"/>
                                    </b:column>
                                    <b:column col-md="3">
                                        <h:panelGrid columns="3">
                                            <h:panelGroup >
                                                <h:outputText value="Data Inicial" />
                                                <p:calendar placeholder="Data Inicial" value="#{contaCorrenteMB.padtIni}" pattern="dd/MM/yyyy" /> 
                                            </h:panelGroup>
                                            &nbsp;
                                            <h:panelGroup >
                                                <h:outputText value="Data Final" />
                                                <p:calendar placeholder="Data Final" value="#{contaCorrenteMB.padtFim}" pattern="dd/MM/yyyy" />
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </b:column>
                                </b:column>
                            </b:row>
                            <b:column col-md="2">
                                <h:outputText value="Procedimento" />
                                <p:selectOneMenu  value="#{contaCorrenteMB.paidprocedimentofiltro}" styleClass="form-control"  filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="Todos" itemValue=""  />
                                </p:selectOneMenu>
                            </b:column>

                            <b:column span="3">
                                <h:outputText value="Paciente" />
                                <h:panelGrid columns="2" style="width: 110% !important;">
                                    <p:inputText id="paciente2" value="#{contaCorrenteMB.nomePacientePesquisa != null ? contaCorrenteMB.nomePacientePesquisa : ''}" 
                                                 placeholder="Todos os pacientes" readonly="true" styleClass="form-control">
                                        <p:ajax update="@this"/>
                                    </p:inputText>
                                    <p:commandButton value="" icon="consultar" styleClass="btn btn-primary btninput" 
                                                     immediate="true" action="#{contaCorrenteMB.carregarPacientesLazyModel()}" update=":dlgConsultaPacientePesquisa2:frmConsultaPacientePesquisa2"
                                                     onclick="PF('dlgConsultaPacientePesquisa2').show();" />
                                </h:panelGrid>
                            </b:column>

                            <b:column col-md="3">
                                <h:outputText value="Status" />
                                <p:selectOneMenu  value="#{contaCorrenteMB.pstatus}" styleClass="form-control"  filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="Todos" itemValue=""  />
                                    <f:selectItems value="#{statusMB.listaStatus()}" var="stat"
                                                   itemLabel="#{stat.descricao}" itemValue="#{stat.idStatus}"      />
                                </p:selectOneMenu>
                            </b:column>
                        </fieldset>
                    </b:column>
                    <b:column col-md="12">
                        <br/>
                        <p:commandButton value="Pesquisar" styleClass="btn" icon="consultar" 
                                         action="#{contaCorrenteMB.pesquisarOrcamentos(sessaoMB.usuario.idTerceiro)}" 
                                         update="dtlOrcamentos, btnImprimirExtrato"/>
                        <p:commandButton id="btnImprimirExtrato" value="Imprimir" disabled="#{contaCorrenteMB.listaDeOrctos.size() == 0}" 
                                         styleClass="btn" action="#{contaCorrenteMB.imprimirOrcamentos(sessaoMB.usuario.idTerceiro)}"  ajax="false"  process="@this" onclick="this.form.target = '_blank'" icon="imprimir"/>                            
                        <hr/>
                    </b:column>

                    <b:column col-md="12">
                        <p:dataTable id="dtlOrcamentos" value="#{contaCorrenteMB.listaDeOrctos}" var="orctoPesq" style="width: 100%" 
                                     paginator="true" rowsPerPageTemplate="10,15,20,25,30,50,100" rows="10" paginatorPosition="bottom" 
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                            <f:facet name="header">
                                Meus Orçamentos
                            </f:facet>
                            <p:column width="10%">
                                <center>
                                    <p:commandLink style="width: 100%" actionListener="#{orcamentoMB.selecionarPorIDInfo((orctoPesq.idOrcamento))}"
                                                   oncomplete="PF('dlgInfoOrcto').show()" update=":frmInfoOrcto" >
                                        <p:graphicImage value="Recursos/icons/Info.png"  />
                                    </p:commandLink>
                                    &nbsp;
                                    <p:commandLink style="width: 100%" actionListener="#{orcamentoMB.imprimirOrcamento(orctoPesq.idOrcamento, 'A')}" ajax="false" 
                                                   target="_blank">
                                        <p:graphicImage value="Recursos/icons/imprimir.png"  />
                                    </p:commandLink>
                                </center>

                            </p:column>

                            <p:column headerText="Nº" styleClass="hidden-xs hidden-md hidden-sm" filterMatchMode="contains" sortBy="#{orctoPesq.idOrcamento}" width="6%">
                                <center><h:outputText value="#{orctoPesq.idOrcamento}" /></center>
                            </p:column>

                            <p:column  headerText="Status"  width="14%"  >
                                <center>
                                    #{orctoPesq.idStatus.descricao}
                                </center>
                            </p:column>

                            <p:column headerText="Paciente" sortBy="#{orctoPesq.idPaciente.nome}" filterBy="#{orctoPesq.idPaciente.nome == null ? orctoPesq.pacienteNaoCadastradado : orctoPesq.idPaciente.nome}">
                                <h:outputText value="#{orctoPesq.idPaciente.nome == null ? orctoPesq.pacienteNaoCadastradado : orctoPesq.idPaciente.nome}" />
                            </p:column>
                            <p:column headerText="Data" width="8%" sortBy="#{orctoPesq.dtOrcamento}" >
                                <h:outputText value="#{orctoPesq.dtOrcamento}">
                                    <f:convertDateTime pattern="dd/MM/yyy" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Médico" width="15%" sortBy="#{orctoPesq.idTerceiro.nome}" rendered="false"> 
                                <h:outputText value="#{orctoPesq.idTerceiro.nome}" />
                            </p:column>
                            <p:column headerText="Procedimento"  width="18%" >
                                <h:outputText value="#{orctoPesq.idProcedimento.descricao}"  />
                            </p:column>
                            <p:column headerText="Valor"  width="10%" >
                                <center>
                                    <h:outputText value="#{orctoPesq.valor}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </b:column>
                </h:form>
                <bcr:dialogPesquisaPaciente id="dlgConsultaPacientePesquisa2" header="Consulta de Paciente" idDatatable="dtlConsultarPaciente"
                                            idDialogo="dlgConsultaPacientePesquisa2" idForm="frmConsultaPacientePesquisa2" updateBtnSelecionar=":frmOrctos:paciente2" 
                                            action="#{contaCorrenteMB.selecionarPacientePesquisa(varPaciente)}" actionTodosPacientes="#{contaCorrenteMB.zerarPaciente()}"/>

                <p:dialog closeOnEscape="true" onHide="#{orcamentoMB.limpaObjeto()}" widgetVar="dlgInfoOrcto" 
                          header="Informações do Orçamento #{orcamentoMB.orcamento.idOrcamento}" resizable="false"  width="80%"  draggable="false"
                          modal="true" position="top" height="600">
                    <ui:include src="includeOrcamento/formOrcamentoInfo.xhtml" />
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>
