<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">
            <ui:define name="breadcrumb">
                <li class="active" style="color: #428bca;">Pagamentos</li>
            </ui:define>
            <ui:define name="content">
                <b:column col-md="12">
                    <p:messages autoUpdate="true" id="msg" escape="true" closable="true"/>
                </b:column>
                <h:form id="pesquisaSaques">
                    <fieldset>
                        <legend><i class="fa fa-search"></i> Pesquisar</legend>
                        <b:column id="cln12" span="12">
                            <b:row id="row1">
                                <b:column id="col5" span="2" >
                                    <h:outputText value="Retiradas de"  />
                                    <p:calendar value="#{contaCorrenteMB.dtInicioResumo}"  locale="pt" pattern="dd/MM/yyyy"/>
                                </b:column>
                                <b:column id="col6" span="2">
                                    <h:outputText value="até" />
                                    <p:calendar  value="#{contaCorrenteMB.dtFinalResumo}"   locale="pt" pattern="dd/MM/yyyy" />
                                </b:column>
                            </b:row>
                            <b:row>
                                <b:column span="12">
                                    <br/>
                                    <p:commandButton id="trg" icon="pesquisar" styleClass="btn"  update=":msg, :formSaques" value="Pesquisar" 
                                                     action="#{contaCorrenteMB.pesquisarSaqueTerceiro(sessaoMB.usuario.idTerceiro)}"/>
                                </b:column>
                            </b:row>
                        </b:column>
                    </fieldset>
                </h:form>
                <h:form id="formSaques">
                    <b:column span="12">
                        <hr/>
                        <p:dataTable id="dtlSaque" value="#{contaCorrenteMB.listaSaque}" var="conta" 
                                     rowKey="#{conta.idContaCorrente}" paginator="true" rowsPerPageTemplate="10,15,20,25,30,50,100" rows="10" paginatorPosition="bottom" 
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     emptyMessage="Não foram encontrados registros.">
                            <p:column headerText="Controle" width="10%">
                                <center>
                                    <p:commandLink title="Imprimir" id="btnImprimir" oncomplete="PF('dlgImprimirSaques').show()" styleClass="hidden-xs"
                                                   action="#{contaCorrenteMB.imprimir(conta.idContaCorrente)}"  update=":frmImprimirSaques" >
                                        <p:graphicImage value="Recursos/icons/printer.png" />
                                    </p:commandLink>
                                    &nbsp; 
                                    <p:tooltip for="btnImprimir" value="Imprimir"/>
                                    <p:commandLink title="Detalhar" id="btnInfo" oncomplete="PF('dlgItensSaques').show()" 
                                                   action="#{contaCorrenteMB.pesquisarItensSaque(conta, 'detalhar')}" 
                                                   update=":formSaques:dtlItensSaque, :formSaques:dlgItensSaques"  >
                                        <p:graphicImage value="Recursos/icons/Info.png" />
                                    </p:commandLink>
                                    &nbsp; 
                                    <p:tooltip for="btnInfo" value="Detalhar"/>
                                </center>
                            </p:column>
                            <p:column headerText="Tipo" width="10%" styleClass="hidden-xs">
                                <center><h:outputText id="tipo" value="#{conta.tipo == 'S' ? 'Liberação' : 'Estorno'}" 
                                                      styleClass="#{conta.tipo == 'S' ? 'label label-success' : 'label label-warning'}" /></center>
                                <p:tooltip for="tipo" value="#{conta.idContaCorrente}"/>
                            </p:column>
                            <p:column headerText="Descrição" width="30%" styleClass="hidden-xs">
                                <h:outputText value="Usuário: #{conta.idUsuario.usuario} - #{conta.idTerceiro.nome}"/>
                            </p:column>                                                       
                            <p:column headerText="Retirado" width="10%" >
                                <center>
                                    <h:outputText value="#{conta.dtPagamentoMedico}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Estorno" width="10%" styleClass="hidden-xs">
                                <center>

                                    <h:outputText value="#{conta.dtEstorno}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Valor" width="10%" >
                                <center>
                                    <h:outputText value="#{conta.valor}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </center>
                            </p:column>
                            <p:column headerText="Estornar" width="15%" rendered="false">
                                <center>
                                    <p:commandButton id="btnEstorno" action="#{contaCorrenteMB.estornarSaque()}" 
                                                     disabled="#{conta.situacao == 'Estornado' || conta.tipo == 'E' }" 
                                                     update=":msg, :formSaques, :formSaques:rwDadosEstornar, " icon="fa fa-check-circle" styleClass="btn btninput">                                            
                                        <p:confirm header="Confirmação" message="Tem certeza que deseja estornar selecionados?" icon="ui-icon-alert" />
                                        <p:tooltip for="btnEstorno" value="Estornar todos?"/>
                                    </p:commandButton>  


                                </center>
                            </p:column>
                        </p:dataTable>

                        <hr/>
                    </b:column>


                    <!-- Dialogo para Detalhar Saque -->                                                
                    <p:dialog id="dlgItensSaques" header="Detalhamento do Pagamento" 
                              widgetVar="dlgItensSaques" position="left top" modal="true" width="98%"  resizable="false" closeOnEscape="true">
                        <b:row>
                            <b:column span="12">
                                <p:dataTable id="dtlItensSaque" value="#{contaCorrenteMB.listaItensSaque}" var="conta" rowKey="#{conta.idContaCorrente}"
                                             paginator="true" paginatorPosition="bottom" rows="5" 
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}    Valor total: R$ #{contaCorrenteMB.contaCorrente.valor}">
                                    <p:column styleClass="hidden-xs" headerText="#" width="5%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}">
                                        <h:outputText value="#{conta.idContaCorrente}"/>
                                    </p:column>
                                    <p:column styleClass="hidden-xs" headerText="#{conta.idCirurgia.idCirurgia != null ? 'Fechamento' : 'Número Cheque'}" width="10%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}" >
                                        <center>
                                            <h:outputText value="#{conta.idCirurgia.idCirurgia == null ? conta.idRepasse.idCheque.numeroCheque : conta.idCirurgia.idCirurgia}"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Paciente" width="25%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}">
                                        <h:outputText value="#{conta.idPaciente.nome}"/>
                                    </p:column>
                                    <p:column headerText="Procedimento" width="20%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}">
                                        <h:outputText value="#{conta.idCirurgia.externo ? conta.idRepasse.idCirurgiaItem.idServico.descricao : conta.idCirurgia.idProcedimento.descricao == null ? conta.idRepasse.idCheque.idProcedimento.descricao : conta.idCirurgia.idProcedimento.descricao}"/>
                                    </p:column>
                                    <p:column headerText="Função" width="15%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}">
                                        <h:outputText value="#{conta.idRepasse.idSici.idServicoItem.descritiva}"/>
                                    </p:column>
                                    <p:column headerText="Valor" width="15%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}">
                                        <center>
                                            <h:outputText value="#{conta.valor}">
                                                <f:convertNumber type="currency" />
                                            </h:outputText>
                                        </center>
                                    </p:column>
                                    <p:column styleClass="hidden-xs" headerText="Observações" width="30%" style="background-color: #{conta.status == 'Estornado' ? 'rgba(255, 102, 102, 0.19)' : ''}">
                                        <center>
                                            <h:outputText value="#{conta.observacao}"/>
                                        </center>
                                    </p:column>
                                </p:dataTable>
                            </b:column>
                        </b:row>

                    </p:dialog>                          
                </h:form>
                <p:dialog id="dlgImprimirSaques" widgetVar="dlgImprimirSaques" header="Confirmação" closable="true" closeOnEscape="true" resizable="false" width="40%">
                    <h:form id="frmImprimirSaques">
                        <b:column span="12">
                            <bcr:alertInfo Descricao="Deseja imprimir este pagamento? Cód. #{contaCorrenteMB.idSaqueImprimir.toString()}"  />
                            <hr/>
                            <center>
                                <p:commandButton value="Sim. Desejo imprimir." icon="check16" action="#{contaCorrenteMB.imprimirComprovantePagamentoMedico(contaCorrenteMB.idSaqueImprimir)}"  
                                                 onclick="PF('dlgImprimirSaques').hide(); form.target = '_blank'" ajax="false">
                                </p:commandButton>
                                &nbsp;
                                <p:commandButton value="Não. Agora não." icon="cancel16" onclick="PF('dlgImprimirSaques').hide();"   >
                                </p:commandButton>
                            </center>
                        </b:column>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>
