<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <div class="container">
            <div class="row">
                <b:panel title="Lançamentos Avulsos">
                    <b:column span="3">
                        Ver somente lançamentos avulsos deste usuário<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.verLancamentosAvulsos}" title="Marque esta opção se este perfil deverá ver todos os lançamentos avulsos, independente do usuário que lançou. Deixe como NÃO quando o perfil de usuários deverão ver somente os lançamentos realizados pelo usuário." offLabel="Não" onLabel="Sim" onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Ver lançamentos avulsos deste perfil<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.verLancamentosAvulsosPerfil}" title="Marque esta opção se este perfil deverá ver todos os lançamentos avulsos, independente do usuário que lançou. Deixe como NÃO quando o perfil de usuários deverão ver somente os lançamentos realizados pelo usuário." offLabel="Não" onLabel="Sim" onIcon="confirmar" offIcon="excluir" />
                    </b:column>                    
                    <b:column span="3">
                        Receber pagamentos?<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.receberLancamento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Pagamentos devem ser verificados?<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.prontoAtendimento}" title="Marque esta opção se, quando for feito o lançamento avulso, deverá ser salvado como 'Não Pago' e o pagamento deverá ser confirmado." offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                </b:panel>
            </div>
        </div>

    </body>
</html>
