<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <div class="container">
            <div class="row">
                <b:panel title="Operação Caixa">
                    <b:column span="3">
                        Novo Operação Caixa<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.novooperacaocaixa}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Editar Operação Caixa<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.editaroperacaocaixa}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Excluir Operação Caixa<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.excluiroperacaocaixa}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                </b:panel>
            </div>
        </div>

    </body>
</html>
