<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <div class="container">
            <div class="row">
                <b:panel title="Controle de Fechamentos">
                    <b:column span="3">
                        Novo Fechamento<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.novainternacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Editar Fechamento<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.editarinternacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Info Fechamento<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.infointernacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Excluir Fechamento<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.excluirinternacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Liberar Fechamento<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.liberarinternacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Cancelar Fechamento<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.cancelarinternacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Permitir somente lançar pagamentos<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.permitirSomenteLancarPagamentosAtendimentoInterno}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Permitir somente do cabeçalho e lançamentos de itens<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.permitirSomenteItensAtendimentoInterno}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                </b:panel>
            </div>
        </div>

    </body>
</html>
