<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <div class="container">
            <div class="row">
                <b:panel title="Geral - #{papelMB.papel.descricao}">
                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Descrição" />
                            <p:inputText value="#{papelMB.papel.descricao}" styleClass="form-control"  required="true" requiredMessage="Informe a descrição do papel!"/>
                        </b:column>
                    </b:row>
                    <br/>
                    <p:accordionPanel>
                        <p:tab title="Cadastros">
                            <b:column span="3">

                                Acesso a Paciente<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menupaciente}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Terceiro<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuterceiro}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Itens do Orçamento<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuitensorcto}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Plano<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuplano}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="12">
                                <br/>
                            </b:column>
                            <b:column span="3">
                                Acesso a Exame<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuexame}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Motivo<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menumotivo}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Banco<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menubanco}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Convênio<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuconvenio}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="12">
                                <br/>
                            </b:column>
                            <b:column span="3">
                                Acesso a Procedimento<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuprocedimento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Especialidade<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuespecialidade}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Unidade de Atendimento<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuunidadeatendimento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Forma de Pagamento<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuformapagto}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="12">
                                <br/>
                            </b:column>
                            <b:column span="3">
                                Acesso a Op. Caixa <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuoperacaocaixa}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                        </p:tab>
                        <p:tab title="Movimento">
                            <b:column span="3">
                                Acesso a Orçamento <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuorcamento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso ao Fechamento de Alta <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menucirurgia}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3" rendered="false">
                                Acesso a Lançamento de Exames <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menulancarexame}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                        </p:tab>
                        <p:tab title="Tesouraria">
                            <b:column span="3">
                                Acesso a Controle de Caixas <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menucontrolecaixa}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Lançamentos em Caixas <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menulancarcaixa}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Contole de Cheques <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menucontrolecheques}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Estorno de Recebimentos <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuestornorecebimento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Movimento Financeiro <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.movimentoFinanceiro}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Movimento Repasse <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.movimentoRepasse}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            
                        </p:tab>
                        <p:tab title="Consultas / Resumos / Dashboard">
                            <b:column span="3">
                                Dashboard - Início<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.dashboard}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Consulta de Orçamento <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuconsultaorcamento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Consulta de Fechamentos<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuconsultacirurgia}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Consulta de Terceiro <br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuconsultaterceiro}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Consulta de Paciente<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuconsultapaciente}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso ao Resumo do Paciente<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.resumoPaciente}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso ao Resumo do Médico<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.resumoMedico}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            
                        </p:tab>
                        <p:tab title="Relatórios">
                            <b:column span="3">
                                Listagem de Orçamentos<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menulistagemorcamento}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Listagem de Fechamentos de Alta<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menulistagemcirurgia}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Listagem de Lançamentos Avulsos<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.relatorioLancamentoAvulso}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Listagem de Pagamentos recebidos<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.relatorioLancamentoCheques}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Relatório de Resumo de Pagamentos Médicos<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.relatorioResumoPagamentos}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Relatório de Laudos<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.relatorioLaudos}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                        </p:tab>
                        <p:tab title="Configurações">
                            <b:column span="3">
                                Acesso a Consulta de Conta corrente<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuconsultacontacorrente}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Usuário<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuusuario}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Permissão<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menupermissao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Auditoria<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuauditoria}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="12">
                                <br/>
                            </b:column>
                            <b:column span="3">
                                Acesso a Associação<br/>
                                <p:selectBooleanButton value="#{papelMB.papel.menuassociacao}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                            <b:column span="3">
                                Acesso a Backup<br/>
                                <p:selectBooleanButton  value="#{papelMB.papel.menubackup}" offLabel="Não" onLabel="Sim    " onIcon="confirmar" offIcon="excluir" />
                            </b:column>
                        </p:tab>
                    </p:accordionPanel>
                </b:panel>
            </div>
        </div>

    </body>
</html>
