<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <div class="container">
            <div class="row">
                <b:panel title="Controle de Cheques">
                    <b:column span="3">
                        Ver Cheques<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.menucontrolecheques}" offLabel="Não" onLabel="Sim"
                                               onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Editar Cheque<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.editarCheque}" offLabel="Não" onLabel="Sim"
                                               onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Excluir Cheque<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.excluirCheque}" offLabel="Não" onLabel="Sim"
                                               onIcon="confirmar" offIcon="excluir" />
                    </b:column>                    
                    <b:column span="3">
                        Compensar Cheque<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.compensarCheque}" offLabel="Não" onLabel="Sim"
                                               onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Lançar Cheque Avulso<br/>
                        <p:selectBooleanButton value="#{papelMB.papel.lancamentoChequeAvulso}" offLabel="Não" onLabel="Sim"
                                               onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                    <b:column span="3">
                        Movimentação do Cheque <br/>
                        <p:selectBooleanButton value="#{papelMB.papel.movimentarCheque}" offLabel="Não" onLabel="Sim"
                                               onIcon="confirmar" offIcon="excluir" />
                    </b:column>
                </b:panel>
            </div>
        </div>

    </body>
</html>
