<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <div class="modal-dialog " style="#{sessaoMB.usuario.trocarSenha ? '' : 'display:none;'}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title">Olá #{sessaoMB.usuario.usuario}!</h3>
                    <h4 class="modal-title">Para continuar, é necessário trocar a senha</h4>
                </div>
                <h:form id="frmTrocarSenha">
                    <div class="modal-body">
                        <p:messages id="msgPerfil" autoUpdate="true" />
                        <b:row id="rwSenha">
                            <b:column span="6">
                                <p:outputLabel for="senha" value="Senha antiga:" />
                                <p:inputText type="password" value="#{sessaoMB.senhaAntiga}" 
                                             styleClass="form-control" id="senha"  
                                             label="Senha"/>
                            </b:column>
                            <b:column span="6">
                                <p:outputLabel for="novaSenha1" value="Nova senha:" />
                                <p:password id="novaSenha1" styleClass="form-control" value="#{sessaoMB.novaSenha}"
                                            match="novaSenha2" label="Nova senha" feedback="true" inline="true" goodLabel="Bom" weakLabel="Fraca" 
                                            strongLabel="Forte"  promptLabel="Por favor, informe a senha.">
                                    <pe:keyFilter regEx="/[a-z0-9_]/i"/>
                                </p:password>
                                <p:outputLabel for="novaSenha2" value="Repetir senha:" />
                                <p:password id="novaSenha2" styleClass="form-control" value="#{sessaoMB.novaSenha}" 
                                            label="Repetir senha"/>
                            </b:column>                                        

                        </b:row>
                    </div>
                    <div class="modal-footer">
                        <p:commandButton id="btnSalvar" update="frmTrocarSenha, msgPerfil" styleClass="btn btn-primary" value="Salvar" icon="salvar" 
                                         action="#{sessaoMB.atualizarSenha()}" oncomplete="@all"/>
                        <p:blockUI block="frmTrocarSenha" trigger="btnSalvar" >
                            <img src="Recursos/img/novoLoading.gif" />
                        </p:blockUI>
                    </div>
                </h:form>
            </div>
        </div>
    </body>
</html>
