<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body >

        <b:row rendered="#{sessaoMB.usuario.idPapel.descricao != 'MEDICO'?false:true}">
            <p:growl id="msg" />
            <b:row>
                <b:column span="12">
                    <b:panel id="pnl" title="Conta Corrente" look="primary" >
                        <ul class="nav nav-tabs">
                            <li id="liSecA" class="active"><a data-toggle="tab" href="#sectionA">Consultar</a></li>
                            <li id="liSecB" class=""><a data-toggle="tab" href="#sectionB">Saques / Estornos</a></li>
                        </ul>
                        <script>
                            function mudaClasse(){
                                $("#liSecA").removeClass("active"); //colocar id no li onde referencia o links
                                $("#sectionA").removeClass("in active"); // id da tab no caso retira da que fica ativa primeiro
                                $("#liSecB").addClass("active");
                                $("#sectionB").addClass("in active");
                                document.getElementById('tblPrincipal:nome').focus();
                            }
                        </script>
                        <br/>
                        <div class="tab-content">
                            <div id="sectionA" class="tab-pane fade in active">
                                <h:form id="frmPesquisaContaCorrente">
                                    <b:column id="cln12" span="12">
                                        <b:row id="row1">
                                            <b:column span="3">
                                                <h:outputText value="Filtrar por: " />
                                                <p:selectOneMenu id="filtros" value="#{contaCorrenteMB.filtros}" styleClass="form-control">
                                                    <f:selectItem itemLabel="Dt. Lançamento" itemValue="A" />
                                                    <f:selectItem itemLabel="Dt. Estorno" itemValue="B" />                                                
                                                    <f:selectItem itemLabel="Todos" itemValue="D" />
                                                    <p:ajax event="change" update="row1"/>
                                                </p:selectOneMenu>
                                            </b:column>
                                            <b:column id="col1" span="2" rendered="#{contaCorrenteMB.filtros == 'A' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                                <h:outputText value="Lançamentos de" />
                                                <p:calendar  value="#{contaCorrenteMB.pdtINILancamento}" styleClass="form-control" locale="pt" pattern="dd/MM/yyyy" />
                                            </b:column>
                                            <b:column id="col2" span="2" rendered="#{contaCorrenteMB.filtros == 'A' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                                <h:outputText value="até" />
                                                <p:calendar  value="#{contaCorrenteMB.pdtFIMLancamento}"  styleClass="form-control" locale="pt" pattern="dd/MM/yyyy" />
                                            </b:column>
                                            <b:column id="col3" span="2" rendered="#{contaCorrenteMB.filtros == 'B' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                                <h:outputText value="Estornos de" />
                                                <p:calendar  value="#{contaCorrenteMB.pdtINIEstorno}" styleClass="form-control" locale="pt" pattern="dd/MM/yyyy"/>
                                            </b:column>
                                            <b:column id="col4" span="2" rendered="#{contaCorrenteMB.filtros == 'B' ? 'true' : contaCorrenteMB.filtros == 'D' ? 'true' : 'false'}">
                                                <h:outputText value="até" />
                                                <p:calendar  value="#{contaCorrenteMB.pdtFIMEstorno}"  styleClass="form-control" locale="pt" pattern="dd/MM/yyyy" />
                                            </b:column> 
                                        </b:row>
                                        <b:row id="row2">
                                            <b:column span="3">
                                                <bcr:outputrequired value="Médico" />
                                                <h:panelGrid columns="2" style="width: 100% !important;">
                                                    <p:selectOneMenu id="terceiro" value="#{contaCorrenteMB.terceiro}" converter="Converter" style="text-transform: capitalize" styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Selecione um médico.">
                                                        <f:selectItem itemLabel="#{sessaoMB.usuario.idTerceiro.nome}" itemValue="#{sessaoMB.usuario.idTerceiro}" />
                                                    </p:selectOneMenu>
                                                </h:panelGrid>
                                            </b:column>
                                            <b:column span="2">
                                                <h:outputText value="Situação" />
                                                <p:selectOneMenu id="situacao" value="#{contaCorrenteMB.psituacao}" styleClass="form-control">
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="Liberado" itemValue="Liberado" />
                                                    <f:selectItem itemLabel="Não Liberado" itemValue="Não Liberado" />
                                                    <f:selectItem itemLabel="Compensado" itemValue="Compensado" />
                                                    <f:selectItem itemLabel="Não Compensado" itemValue="Não Compensado" />     
                                                </p:selectOneMenu>
                                            </b:column>


                                            <b:column span="2">
                                                <h:outputText value="Tipo" />
                                                <p:selectOneMenu id="tipo" value="#{contaCorrenteMB.credDeb}" styleClass="form-control">
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem itemLabel="Crédito" itemValue="C" />
                                                    <f:selectItem itemLabel="Débito" itemValue="D" />                                                       
                                                    <p:ajax event="change" update="row2"/>
                                                </p:selectOneMenu>
                                            </b:column>

                                            <b:column span="2">
                                                <h:outputText value="Status" />
                                                <p:selectOneMenu id="status" value="#{contaCorrenteMB.pstatus}" styleClass="form-control">
                                                    <f:selectItem itemLabel="Todos" itemValue="" />
                                                    <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'C' ? 'true' : 'false'}" itemLabel="Retirado" itemValue="Retirado" />
                                                    <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'C' ? 'true' : 'false'}" itemLabel="Não Retirado" itemValue="Não Retirado" />
                                                    <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'D' ? 'true' : 'false'}" itemLabel="Pago" itemValue="Pago" />
                                                    <f:selectItem rendered="#{contaCorrenteMB.credDeb == 'D' ? 'true' : 'false'}" itemLabel="Não Pago" itemValue="Não Pago" />
                                                </p:selectOneMenu>
                                            </b:column>
                                        </b:row>
                                        <b:row>
                                            <b:column span="12">
                                                <br/>
                                                <p:commandButton id="trg" icon="consultar" styleClass="btn btn-primary"  update=":msg, :frmTable" value="Pesquisar" action="#{contaCorrenteMB.pesquisarContaCorrente()}"/>
                                                <p:blockUI trigger="trg" block="cln12"  >
                                                    <bcr:alertWarning Titulo="Atenção! " Descricao="Pesquisando..." />
                                                    <img src="Recursos/img/generated-image.gif" />
                                                </p:blockUI>
                                            </b:column>
                                        </b:row>
                                    </b:column>
                                </h:form>
                                <h:form id="frmTable">
                                    <b:column span="12">
                                        <hr/>
                                        <p:dataTable id="dtlCC" value="#{contaCorrenteMB.listaContaCorrente}" var="conta" paginator="true" rows="5">
                                            <p:column headerText="Nº" width="10%" >
                                                <center><h:outputText value="#{conta.idContaCorrente}" style="font-size: 10px" /></center>
                                            </p:column>
                                            <p:column headerText="Serviço" width="20%" >
                                                <center><h:outputText value="#{conta.idRepasse.idSici.idServicoItem.descritiva}" /></center>
                                            </p:column>
                                            <p:column headerText="Situação" width="20%" >
                                                <h:outputText value="#{conta.situacao}" styleClass="#{conta.situacao=='Liberado'?'label label-success':'label label-warning'}"/>
                                            </p:column>
                                            <p:column headerText="Status" width="20%" >
                                                <h:outputText value="#{conta.status}" styleClass="#{conta.status=='Retirado'?'label label-danger':'label label-success'}"/>
                                            </p:column>
                                            <p:column headerText="Tipo" width="10%" >
                                                <center> <h:outputText value="#{conta.tipo}" style="color: #{conta.tipo == 'C'? 'blue': conta.tipo == 'E' ? 'green' : conta.tipo == 'S' ? 'green' : 'red'} ;" /></center>
                                            </p:column>
                                            <p:column headerText="Histórico" width="53%"  >
                                                <h:outputText value="#{conta.observacao}" style="font-size: 10px"/>
                                            </p:column>

                                            <p:column headerText="Lançado" width="20%" >
                                                <h:outputText value="#{conta.dtLancamento}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Estorno" width="20%" >
                                                <h:outputText value="#{conta.dtEstorno}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Retirada" width="20%" >
                                                <h:outputText value="#{conta.dtRetirada}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Valor" width="25%" >
                                                <h:outputText value="#{conta.valor}" style="color: #{conta.tipo == 'C'? 'blue': conta.tipo == 'E' ? 'green' : conta.tipo == 'S' ? 'green' : 'red'}" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                        </p:dataTable>
                                        <hr/>
                                        <b:column span="4" >
                                        </b:column>
                                        <b:column span="4" >
                                            <b:panel id="totaisCreditos" title="Recebíveis" look="panel panel-info" >
                                                <h:panelGrid columns="2" style="width: 100% !important;" >
                                                    <h:outputText value="Não Liberado "/>
                                                    <h:outputText value="#{contaCorrenteMB.naoLiberado}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                                <br/>
                                                <h:panelGrid columns="2" style="width: 100% !important;" >
                                                    <h:outputText value="Liberado: " />
                                                    <h:outputText value="#{contaCorrenteMB.liberado}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                    <h:outputText value="Retirado:"/>
                                                    <h:outputText value="#{contaCorrenteMB.retirado}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                    <h:outputText value="Não Retirado" />
                                                    <h:outputText value="#{contaCorrenteMB.naoRetirado}" style="color: green; font-weight: bold; text-align: end">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                            </b:panel>
                                        </b:column>
                                        <b:column span="4" >
                                            <b:panel id="totaisGerais" title="Totais" look="panel panel-primary" >
                                                <h:panelGrid columns="2" style="width: 100% !important;" >
                                                    <h:outputText value="Saldo Anterior: " />
                                                    <h:outputText value="#{contaCorrenteMB.saldoAnterior}" style="color: black;">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                    <h:outputText value="Saldo a Pagar: "/>
                                                    <h:outputText value="#{contaCorrenteMB.debito}" style="color: #ed5565; text-align: end">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                    <h:outputText value="Saldo a Receber: "/>
                                                    <h:outputText value="#{contaCorrenteMB.credito}" style="color: #23c6c8; text-align: end">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                    <h:outputText value="Saldo Atual: "/>
                                                    <h:outputText value="#{contaCorrenteMB.saldoFinal}" style="color: #{contaCorrenteMB.saldoFinal > 0 ? '#428bca':'#ed5565'}; font-weight: bold; text-align: end">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                    <h:outputText value="Saldo a receber: "/>
                                                    <h:outputText value="#{contaCorrenteMB.naoRetirado}" style="color: #{contaCorrenteMB.saldoFinal > 0 ? 'green':'red'}; font-weight: bold; text-align: end">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                            </b:panel>
                                        </b:column>
                                    </b:column>
                                    <p:dialog header="Recebíveis selecionados" widgetVar="dlgSelecionados" modal="true" width="50%" resizable="false" closeOnEscape="true" closable="true">
                                        <p:outputPanel id="selecionados">
                                            <ui:repeat value="#{contaCorrenteMB.listaContaSelecionados}" var="conta">
                                                <h:panelGrid columns="2" style="width: 100% !important;"  >
                                                    <h:outputText value="#{conta.observacao}" />
                                                    <h:outputText value="#{conta.valor}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                            </ui:repeat>
                                            <hr/>
                                            <h:panelGrid columns="2" style="width: 100% !important;" >
                                                <h:outputText value="Total:  " />
                                                <h:outputText id="totalselecionados" value="#{contaCorrenteMB.totalSelecionado}">
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </h:panelGrid>
                                        </p:outputPanel>
                                    </p:dialog>
                                </h:form>
                            </div>
                            <div id="sectionB" class="tab-pane fade" >
                                <br/>
                                <h:form id="pesquisaSaques">
                                    <b:column id="cln12" span="12">
                                        <b:row id="row1">
                                            <b:column span="3">
                                                <h:outputText value="Médico" />
                                                <h:panelGrid columns="2" style="width: 100% !important;">
                                                    <p:selectOneMenu id="terceiro" value="#{contaCorrenteMB.terceiro}" onchange="#{contaCorrenteMB.setarDatas('Retirada')}" converter="Converter" style="text-transform: capitalize" styleClass="form-control" filter="true" filterMatchMode="contains" required="true" requiredMessage="Selecione um médico.">
                                                        <f:selectItem itemLabel="#{sessaoMB.usuario.idTerceiro.nome}" itemValue="#{sessaoMB.usuario.idTerceiro}" />
                                                    </p:selectOneMenu>
                                                </h:panelGrid>
                                            </b:column>

                                            <b:column id="col5" span="2" >
                                                <h:outputText value="Retiradas de"  />
                                                <p:calendar value="#{contaCorrenteMB.pdtINIRetirada}" styleClass="form-control" locale="pt" pattern="dd/MM/yyyy"/>
                                            </b:column>
                                            <b:column id="col6" span="2">
                                                <h:outputText value="até" />
                                                <p:calendar  value="#{contaCorrenteMB.pdtFIMRetirada}"  styleClass="form-control" locale="pt" pattern="dd/MM/yyyy" />
                                            </b:column>
                                        </b:row>
                                        <b:row>
                                            <b:column span="12">
                                                <br/>
                                                <p:commandButton id="trg" icon="consultar" styleClass="btn btn-primary"  update=":msg, :formSaques" value="Pesquisar" action="#{contaCorrenteMB.pesquisarSaque()}"/>
                                                <p:blockUI trigger="trg" block="cln12"  >
                                                    <bcr:alertWarning Titulo="Atenção! " Descricao="Pesquisando..." />
                                                    <img src="Recursos/img/generated-image.gif" />
                                                </p:blockUI>
                                            </b:column>
                                        </b:row>
                                    </b:column>
                                </h:form>
                                <h:form id="formSaques">
                                    <b:column span="12">
                                        <hr/>
                                        <p:dataTable id="dtlSaque" value="#{contaCorrenteMB.listaSaque}" var="conta" selection="#{contaCorrenteMB.listaContaSelecionados}" disabledSelection="#{conta.tipo == 'E'}" rowKey="#{conta.idContaCorrente}"
                                                     paginator="true" rows="5">
                                            <p:column selectionMode="multiple" width="12%" style="width:8px; text-align:center;" />
                                            <p:column headerText="Nº" width="10%" >
                                                <center><h:outputText value="#{conta.idContaCorrente}" style="font-size: 10px" /></center>
                                            </p:column>
                                            <p:column headerText="Situação" width="20%" >
                                                <h:outputText value="#{conta.situacao}"/>
                                            </p:column>
                                            <p:column headerText="Tipo" width="10%" >
                                                <center> <h:outputText value="#{conta.tipo}" style="color: #{conta.tipo == 'E' ? 'blue':'red'};" /></center>
                                            </p:column>
                                            <p:column headerText="Histórico" width="53%"  >
                                                <h:outputText value="#{conta.observacao}" style="font-size: 10px"/>
                                            </p:column>
                                            <p:column headerText="Lançado" width="15%" >
                                                <h:outputText value="#{conta.dtLancamento}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Estorno" width="15%" >
                                                <h:outputText value="#{conta.dtEstorno}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Valor" width="25%" >
                                                <h:outputText value="#{conta.valor}" style="color: #{conta.tipo == 'E' ? 'blue':'red'};" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </p:column>
                                            <f:facet name="footer">
                                                <p:commandButton process="dtlSaque" action="#{contaCorrenteMB.pesquisarItensSaque()}" update=":formSaques:selecionados" icon="ui-icon-search" value="Detalhar" oncomplete="PF('dlgItensSaques').show()" />
                                            </f:facet>
                                        </p:dataTable>
                                        <hr/>

                                    </b:column>
                                    <b:column span="4" >
                                    </b:column>
                                    <b:column span="4" >
                                    </b:column>
                                    <b:column span="4" >
                                        <b:panel id="totaisDebitos" title="Saldo" look="panel panel-primary" >
                                            <h:panelGrid columns="2" style="width: 100% !important;" >
                                                <h:outputText value="Saques: " style="color: red"/>
                                                <h:outputText value="#{contaCorrenteMB.saque}">
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                                <h:outputText value="Estornados: " style="color: blue"/>
                                                <h:outputText value="#{contaCorrenteMB.estorno}">
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </h:panelGrid>
                                        </b:panel>
                                    </b:column>
                                    <p:dialog header="Itens do saque" widgetVar="dlgItensSaques" modal="true" width="50%" resizable="false" closeOnEscape="true" closable="true" >
                                        <p:outputPanel id="selecionados">
                                            <ui:repeat value="#{contaCorrenteMB.listaItensSaque}" var="itens">
                                                <h:panelGrid columns="2" style="width: 100% !important;"  >
                                                    <h:outputText value="#{itens.observacao}" />
                                                    <h:outputText value="#{itens.valor}">
                                                        <f:convertNumber type="currency" />
                                                    </h:outputText>
                                                </h:panelGrid>
                                            </ui:repeat>
                                            <hr/>
                                            <h:panelGrid columns="2" style="width: 100% !important;" >
                                                <h:outputText value="Total:  " />
                                                <h:outputText id="totalselecionados" value="#{contaCorrenteMB.totalItensSaque}">
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </h:panelGrid>
                                        </p:outputPanel>
                                    </p:dialog>
                                </h:form>
                            </div>
                        </div>
                    </b:panel>
                </b:column>
            </b:row>
        </b:row>

    </body>
</html>
