<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <body id="todo" class="#{sessaoMB.usuario.trocarSenha ? 'mini-navbar' : 'yay'}"  >        
        <b:row rendered="#{sessaoMB.usuario.idPapel.descricao != 'MEDICO' and !sessaoMB.usuario.trocarSenha}">
            <b:column span="12">
                <p:messages id="msgUsuario" autoUpdate="true" showDetail="true" />
                <p:commandButton icon="refresh" styleClass="btn" rendered="#{sessaoMB.retornaUsuario().equals('root')}" 
                                                 value="Sincronizar" action="#{integracaoMB.vincularPacientes()}" />
                <b:panel title="Início" look="primary">
                    <h:panelGroup rendered="#{sessaoMB.usuario.idPapel.dashboard}">
                        <h:form id="graficos">
                            <b:column col-md="12" styleClass="text-center">
                                <p:commandButton id="btnMensal" icon="calendario" styleClass="btn #{graficoOrcamentoMB.tipo == 'M' ? 'btn-default' : ''}" value="Mensal" action="#{graficoOrcamentoMB.setarDatas('M')}" update="@form"/>
                                &nbsp;
                                <p:commandButton id="btnTrimestral" icon="pesquisar" styleClass="btn #{graficoOrcamentoMB.tipo == 'S' ? 'btn-default' : ''}" value="Selecionar" oncomplete="PF('dlgDataGraficos').show();" />
                                &nbsp;
                                <p:commandButton id="btnImprimirDashboard" styleClass="btn" onclick="this.form.target = '_blank'" value="Imprimir" action="#{graficoOrcamentoMB.imprimir()}" icon="imprimir" ajax="false" immediate="true"  process="@this" />                            
                                &nbsp;
                                <p:commandButton icon="pesquisar" styleClass="btn" rendered="#{sessaoMB.retornaUsuario().equals('root')}"
                                                 value="Listagem Cheque" action="#{chequeMB.listagemCheques()}" />
                                <p:commandButton icon="pesquisar" styleClass="btn" rendered="#{sessaoMB.retornaUsuario().equals('root')}" 
                                                 value="Vincular Pacientes" action="#{integracaoMB.vincularPacientes()}" />
                                &nbsp;
                                <p:commandButton icon="pesquisar" styleClass="btn" rendered="#{sessaoMB.retornaUsuario().equals('root')}" 
                                                 value="Vincular Médicos" action="#{integracaoMB.vincularMedicos()}" />

                                <p:commandButton icon="refresh" styleClass="btn" rendered="#{sessaoMB.retornaUsuario().equals('root')}" 
                                                 value="Sincronizar" action="#{sessaoMB.listarUsuariosLogados()}" />

                            </b:column>

                            <b:column col-md="12">
                                <b:row>
                                    <b:column col-md="4" >
                                        <br/>
                                        <center>
                                            <h4>Orçamentos: <h:outputText value="#{graficoOrcamentoMB.totalOrcamentoRealizados}"/></h4>                       
                                            <h4>Período: <h:outputText value="#{graficoOrcamentoMB.PDtIni}">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                </h:outputText> a <h:outputText value="#{graficoOrcamentoMB.PDtFim}" >
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                </h:outputText></h4>
                                            <p:chart id="chart2" widgetVar="chart2" type="pie" model="#{graficoOrcamentoMB.pieModel3}" responsive="true" />
                                        </center>
                                    </b:column>
                                    <b:column col-md="8" styleClass="no-padding">
                                        <br/>
                                        <center>
                                            <h4>Fechamentos: <h:outputText value="#{graficoOrcamentoMB.totalOrcamento}"/></h4>                       
                                            <h4>Período: <h:outputText value="#{graficoOrcamentoMB.PDtIni}">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                </h:outputText> a <h:outputText value="#{graficoOrcamentoMB.PDtFim}" >
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"  />
                                                </h:outputText>
                                            </h4>
                                        </center>
                                        <div class="col-md-6 text-center">
                                            <p:chart id="chart1" widgetVar="chart1" type="pie" model="#{graficoOrcamentoMB.pieModel2}" responsive="true" />
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <p:chart id="chart3" widgetVar="chart3" type="bar" model="#{graficoOrcamentoMB.graficoBarra}" responsive="true"/>
                                        </div>
                                        <script>
                                            function print() {
                                                var out = document.createElement('div');
                                                out.appendChild(PF('chart1').exportAsImage());
                                                out.appendChild(PF('chart2').exportAsImage());
                                                out.appendChild(PF('chart3').exportAsImage());
                                                var innerHTML = out.innerHTML;

                                                if (innerHTML != null) {
                                                    var openWindow = window.open("", 'Report', "");
                                                    openWindow.document.write(innerHTML);
                                                    openWindow.document.close();
                                                    openWindow.focus();
                                                    openWindow.print();
                                                    openWindow.close();
                                                }
                                            }
                                        </script>

                                    </b:column>
                                </b:row>

                            </b:column>
                        </h:form>
                    </h:panelGroup>
                    <b:column span="12">
                        <p:commandButton action="#{chequeMB.receberRepassesHospitalaresAntigos()}" value="Receber Repasses Hospitalares" 
                                         rendered="false" styleClass="btn btn-danger" />
                    </b:column>

                    <b:column col-md="12" rendered="#{sessaoMB.usuario.receberRepasse}" >
                        <div class="col-md-12">
                            <div class="text-center">
                                <bcr:ajaxStatus />
                                <br/>
                            </div>
                            <div class="text-right">

                            </div>

                        </div>
                        <h:form id="frmLiberar">
                            <p:dataTable id="dtlSaque" value="#{contaCorrenteMB.listaContaCorrenteLazy}" var="conta" lazy="true" widgetVar="wDtlSaques" 
                                         rowKey="#{conta.idContaCorrente}" paginator="true" rows="10" paginatorPosition="bottom" paginatorAlwaysVisible="true"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,15,25,50,100,200" sortBy="#{conta.dtLancamento}" sortOrder="descending">


                                <p:column width="180">
                                    <center>
                                        <p:commandButton title="Já foi liberado o pagamento ao médico?" value="Liberar" icon="check16"
                                                         action="#{contaCorrenteMB.pagarMedico(conta.idContaCorrente, conta.idRepasse.idRepasse)}" update="dtlSaque,:msg"/>
                                        <p:commandButton value="Detalhar" icon="imprimir" action="#{contaCorrenteMB.imprimirComprovantePagamentoMedico(conta.idContaCorrente)}"  
                                                         onclick="form.target = '_blank'" ajax="false"></p:commandButton>

                                    </center>
                                </p:column>
                                <p:column headerText="Descrição" width="250" filterMatchMode="contains" filterBy="#{conta.idTerceiro.nome}">
                                    <h:outputText value="Cód.: #{conta.idContaCorrente} - #{conta.idTerceiro.nome} - "/>
                                    <h:outputText value="#{conta.valor}">
                                        <f:convertNumber type="currency" />
                                    </h:outputText>
                                </p:column>    
                                <p:column headerText="Médico" width="150" filterMatchMode="contains" filterBy="#{conta.idTerceiro.nome}" sortBy="#{conta.idTerceiro.nome}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('wDtlSaques').filter()"  filter="true" filterMatchMode="contains" styleClass="form-control" >
                                            <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{contaCorrenteMB.listaTerceirosOrdenados()}"  var="terc"
                                                           itemLabel="#{terc.nome}" itemValue="#{terc.nome}"  />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{conta.idTerceiro.nome}"/>
                                </p:column>
                                <p:column headerText="Liberado" width="80"  sortBy="#{conta.dtLancamento}" >
                                    <center>
                                        <h:outputText value="#{conta.dtLancamento}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </center>
                                </p:column>

                                <p:column headerText="Valor" width="100" sortBy="#{conta.valor}" filterMatchMode="contains" filterBy="#{conta.valor}">
                                    <center>
                                        <h:outputText value="#{conta.valor}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </center>
                                </p:column>

                            </p:dataTable>
                        </h:form>
                    </b:column>



                </b:panel>
                <b:row rendered="#{!sessaoMB.usuario.idPapel.dashboard}">
                    <ui:include src="../includeLancamentoAvulso/inclLancamentoAvulso.xhtml"/>
                </b:row>

            </b:column>
        </b:row>
        <div class="modal inmodal fade" id="modalBackup" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Backup dos Dados</h4>
                    </div>
                    <h:form id="frmBkp">
                        <div class="modal-body">

                            <p>
                                <strong>Recomendações:</strong>
                                Relacionamos uma série de recomendações para um backup seguro e eficiente:
                                <ul>
                                    <li >Faça backup de todos os dados no mínimo diariamente.</li>
                                    <li>Mantenha cópias fora da empresa, em dispositivos seguros.</li>
                                    <li>Ele será armazenado localmente (Caminho: C:\SMA\Backups). 
                                        Se possível, faça o upload em servidores de hospedagem de arquivos.</li>
                                    <li>De tempos em tempos, faça testes do backup, restaurando ele em um ambiente de testes, para ter certeza que ele está pronto para ser usado em caso de emergência. Neste caso, entre em contato com suporte.</li>
                                    <li>Mantenha um histórico de backup pelo máximo possível de tempo, recomendamos no mínimo 30 dias.</li>

                                </ul>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <p:commandButton id="btnBkp" styleClass="btn btn-primary" icon="salvar" value="Fazer Backup" action="#{backupMB.GerarBackup()}" update="@all"/>
                            <p:blockUI block="frmBkp" trigger="btnBkp" >
                                <img src="Recursos/img/loading_bkp.gif" />
                            </p:blockUI>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>

        <p:dialog id="dlgDataGraficos" widgetVar="dlgDataGraficos" header="Selecione o período" width="500px"
                  position="center" draggable="false" resizable="false" >
            <h:form id="frmDatas">
                <b:row>
                    <b:column span="12">
                        <bcr:alertInfo Titulo="Ok!" Descricao="Selecione o período para geração dos grafícos"/>
                    </b:column>
                    <b:column span="6">
                        <p:outputLabel value="Data Inicial"/>
                        <p:calendar value="#{graficoOrcamentoMB.PDtIni}" 
                                    placeholder="Data Inicial" pattern="dd/MM/yyyy" locale="pt" />
                    </b:column>                            
                    <b:column span="6">
                        <p:outputLabel value="Data Inicial"/>
                        <p:calendar value="#{graficoOrcamentoMB.PDtFim}" 
                                    placeholder="Data Inicial" pattern="dd/MM/yyyy" locale="pt" />
                    </b:column>
                    <b:column span="12">
                        <hr/>
                        <p:commandButton value="Pesquisar" ajax="true" 
                                         update="@form, :graficos" icon="pesquisar" action="#{graficoOrcamentoMB.setarDatas('S')}" 
                                         oncomplete="PF('dlgDataGraficos').hide()" />

                    </b:column>
                </b:row>
            </h:form>
        </p:dialog>

    </body>
</html>
