<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body >

        <h:form id="frmCadastrarTerceiro">
            <b:row>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#basic">Dados Básicos</a></li>
                    <li><a data-toggle="tab" href="#optional">Dados Adicionais</a></li>
                </ul>
                <div class="tab-content">
                    <div id="basic" class="tab-pane fade in active">
                        <b:column span="8">
                            <br/>
                            <b:column span="4">
                                <h:outputText value="Tipo de Pessoa"/>                                
                                <p:selectOneMenu styleClass="form-control" value="#{terceiroMB.terceiro.tipoPessoa}"  required="true" requiredMessage="Informe o tipo de pessoa!">
                                    <f:selectItem itemLabel="Física" itemValue="F"/>
                                    <f:selectItem itemLabel="Jurídica" itemValue="J"/>
                                    <p:ajax update="frmCadastrarTerceiro"/>
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="Nome *" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                <p:inputText  styleClass="form-control"  required="true" id="nome"  label="Nome" requiredMessage="O campo nome é obrigatório" value="#{terceiroMB.terceiro.nome}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="Nome Fantasia*" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}"/>
                                <p:inputText  styleClass="form-control"  required="true" id="nomeFan"  label="Nome Fantasia" requiredMessage="O campo nome é obrigatório" value="#{terceiroMB.terceiro.nomeFantasia}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}"/>
                            </b:column>
                            <b:column span="12">
                                <h:outputText value="Razão Social *" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}"/>
                                <p:inputText  styleClass="form-control"  required="true" id="razao"  label="Nome" requiredMessage="O campo nome é obrigatório" value="#{terceiroMB.terceiro.razaoSocial}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Telefone *" />
                                <p:inputMask value="#{terceiroMB.terceiro.telefone}"  styleClass="form-control" required="true" id="telefone" label="Telefone"  requiredMessage="O campo Telefone é obrigatório" mask="(99)9999-9999" />
                            </b:column>
                            <b:column span="6" >
                                <h:outputText value="Especialidade" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                <h:panelGrid columns="3" style="width: 100% !important;">
                                    <p:selectOneMenu id="selectEspecialidade" styleClass="form-control" value="#{terceiroMB.especialidade.idEspecialidade}" filter="true" filterMatchMode="contains"  rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                        <f:selectItem itemLabel="Selecione uma Especialidade" itemValue=""/>
                                        <f:selectItems value="#{terceiroMB.listaEspecialidades()}" var="esp"
                                                       itemLabel="#{esp.descricao}" itemValue="#{esp.idEspecialidade}" >
                                        </f:selectItems>
                                    </p:selectOneMenu>

                                </h:panelGrid>
                            </b:column>
                        </b:column>
                        <b:column span="6">
                            <p:messages id="msgs2" />
                        </b:column>
                    </div>
                    <div id="optional" class="tab-pane fade">
                        <b:column span="6">
                            <br/>
                            <b:column span="6">                                                
                                <h:outputText value="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'CNPJ' : 'CPF'}"  />
                                <p:inputMask styleClass="form-control" id="cnpj" mask="#{terceiroMB.terceiro.tipoPessoa == 'J'? '99.999.999/9999-99' : '999.999.999-99'}"  
                                             value="#{terceiroMB.terceiro.cgccpf}" size="24" onblur="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'javascript: validarCPF(this.value);' : ''}" >
                                </p:inputMask>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="IE " rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                                <p:inputText  styleClass="form-control"  id="ie"  label="Nome" onblur="if (this.value == ''){this.value='ISENTO'}" value="#{terceiroMB.terceiro.ie}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'F'? 'false' : 'true'}" />
                            </b:column>

                            <b:column span="6">
                                <h:outputText value="Sexo" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" />
                                <p:selectOneMenu value="#{terceiroMB.terceiro.sexo}" styleClass="form-control"  rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                    <f:selectItem itemLabel="Selecione o sexo" itemValue="" />
                                    <f:selectItem itemLabel="Masculino" itemValue="M" />
                                    <f:selectItem itemLabel="Feminino" itemValue="F" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Tipo Conselho" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                <p:selectOneMenu value="#{terceiroMB.terceiro.tipoConselho}" style="font-size: 10px !important" styleClass="form-control"  filter="true" filterMatchMode="contains" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}" >
                                    <f:selectItem itemLabel="Selecione um Conselho" itemValue="" />
                                    <f:selectItem itemLabel="CRM" itemValue="CRM" />
                                    <f:selectItem itemLabel="COREN" itemValue="COREN" />
                                    <f:selectItem itemLabel="CREFITO" itemValue="CREFITO" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Numero Conselho" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                <p:inputText  styleClass="form-control"  id="descCons"   value="#{terceiroMB.terceiro.numeroConselho}" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="RG" rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"/>
                                <p:inputText value="#{terceiroMB.terceiro.rg}" styleClass="form-control"  id="rg" label="RG"  rendered="#{terceiroMB.terceiro.tipoPessoa == 'J'? 'false' : 'true'}"  />
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="CEP" />
                                <p:inputText value="#{terceiroMB.terceiro.cep}" styleClass="form-control"  id="cep"  label="cep">
                                    <p:ajax event="blur" listener="#{terceiroMB.ConsultaCEP()}" update="logradouro, cidade,bairro,estado,complemento, tipoLogradouro, :msg" />
                                </p:inputText>
                            </b:column>
                            <b:column span="2" >
                                <h:outputText value="CEP" style="visibility: hidden;" />
                                <p:commandButton value="Consultar" id="consultar" action="#{terceiroMB.ConsultaCEP()}" update="logradouro,  cidade,bairro,estado,complemento, tipoLogradouro, :msg"  icon="consultar" styleClass="btn btn-primary"  />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Tipo Logradouro" />
                                <p:selectOneMenu value="#{terceiroMB.terceiro.tipoLogradouro}" styleClass="form-control" id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="Selecione um tipo de logradouro" itemValue="" />
                                    <f:selectItem itemLabel="Outros" itemValue="OUTROS" />
                                    <f:selectItem itemLabel="Aeroporto" itemValue="AEROPORTO" />
                                    <f:selectItem itemLabel="Alameda" itemValue="ALAMEDA" />
                                    <f:selectItem itemLabel="Área" itemValue="ÁREA" />
                                    <f:selectItem itemLabel="Avenida" itemValue="AVENIDA" />
                                    <f:selectItem itemLabel="Campo" itemValue="CAMPO" />
                                    <f:selectItem itemLabel="Chácara" itemValue="CHÁCARA" />
                                    <f:selectItem itemLabel="Colônia" itemValue="COLÔNIA" />
                                    <f:selectItem itemLabel="Condomínio" itemValue="CONDÔMINIO" />
                                    <f:selectItem itemLabel="Conjunto" itemValue="CONJUNTO" />
                                    <f:selectItem itemLabel="Distrito" itemValue="DISTRITO" />
                                    <f:selectItem itemLabel="Esplanada" itemValue="ESPLANADA" />
                                    <f:selectItem itemLabel="Estação" itemValue="ESTAÇÃO" />
                                    <f:selectItem itemLabel="Estrada" itemValue="ESTRADA" />
                                    <f:selectItem itemLabel="Favela" itemValue="FAVELA" />
                                    <f:selectItem itemLabel="Fazenda" itemValue="FAZENDA" />
                                    <f:selectItem itemLabel="Feira" itemValue="FEIRA" />
                                    <f:selectItem itemLabel="Jardim" itemValue="JARDIM" />
                                    <f:selectItem itemLabel="Ladeira" itemValue="LADEIRA" />
                                    <f:selectItem itemLabel="Lago" itemValue="LAGO" />
                                    <f:selectItem itemLabel="Lagoa" itemValue="LAGOA" />
                                    <f:selectItem itemLabel="Largo" itemValue="LARGO" />
                                    <f:selectItem itemLabel="Loteamento" itemValue="LOTEAMENTO" />
                                    <f:selectItem itemLabel="Morro" itemValue="MORRO" />
                                    <f:selectItem itemLabel="Núcleo" itemValue="NÚCLEO" />
                                    <f:selectItem itemLabel="Parque" itemValue="PARQUE" />
                                    <f:selectItem itemLabel="Passarela" itemValue="PASSARELA" />
                                    <f:selectItem itemLabel="Pátio" itemValue="PÁTIO" />
                                    <f:selectItem itemLabel="Praça" itemValue="PRAÇA" />
                                    <f:selectItem itemLabel="Quadra" itemValue="QUADRA" />
                                    <f:selectItem itemLabel="Recanto" itemValue="RECANTO" />
                                    <f:selectItem itemLabel="Residencial" itemValue="RESIDENCIAL" />
                                    <f:selectItem itemLabel="Rodovia" itemValue="RODOVIA" />
                                    <f:selectItem itemLabel="Rua" itemValue="RUA" />
                                    <f:selectItem itemLabel="Setor" itemValue="SETOR" />
                                    <f:selectItem itemLabel="Sítio" itemValue="SÍTIO" />
                                    <f:selectItem itemLabel="Travessa" itemValue="TRAVESSA" />
                                    <f:selectItem itemLabel="Trecho" itemValue="TRECHO" />
                                    <f:selectItem itemLabel="Trevo" itemValue="TREVO" />
                                    <f:selectItem itemLabel="Vale" itemValue="VALE" />
                                    <f:selectItem itemLabel="Vereda" itemValue="VEREDA" />
                                    <f:selectItem itemLabel="Via" itemValue="VIA" />
                                    <f:selectItem itemLabel="Viaduto" itemValue="VIADUTO" />
                                    <f:selectItem itemLabel="Viela" itemValue="VIELA" />
                                    <f:selectItem itemLabel="Vila" itemValue="VILA" />
                                </p:selectOneMenu>
                            </b:column>
                            <b:column span="8">
                                <h:outputText value="Logradouro" />
                                <p:inputText value="#{terceiroMB.terceiro.logradouro}"  styleClass="form-control"  id="logradouro"  label="logradouro"  />
                            </b:column>
                            <b:column span="4">
                                <h:outputText value="Número" />
                                <p:inputText value="#{terceiroMB.terceiro.numero}" styleClass="form-control"  id="numero"  label="numero"  />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Bairro" />
                                <p:inputText value="#{terceiroMB.terceiro.bairro}" styleClass="form-control"  id="bairro"  label="bairro"  />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Complemento" />
                                <p:inputText value="#{terceiroMB.terceiro.complemento}" styleClass="form-control"  id="complemento"  label="complemento"  />
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Cidade" />
                                <p:inputText value="#{terceiroMB.terceiro.cidade}" styleClass="form-control"  id="cidade"  label="cidade"  />
                            </b:column>                                                       

                            <b:column span="6">
                                <h:outputText value="Estado" />
                                <p:selectOneMenu value="#{terceiroMB.terceiro.uf}" styleClass="form-control" id="estado"  filter="true" filterMatchMode="contains" >
                                    <f:selectItem itemLabel="Selecione um estado" itemValue="" />
                                    <f:selectItem itemLabel="Acre - AC" itemValue="AC" />
                                    <f:selectItem itemLabel="Alagoas - AL" itemValue="AL" />
                                    <f:selectItem itemLabel="Amapá - AP" itemValue="AP" />
                                    <f:selectItem itemLabel="Amazonas - AM" itemValue="AM" />
                                    <f:selectItem itemLabel="Bahia - BA" itemValue="BA" />
                                    <f:selectItem itemLabel="Ceara - CE" itemValue="CE" />
                                    <f:selectItem itemLabel="Distrito Federal - DF" itemValue="DF" />
                                    <f:selectItem itemLabel="Espirito Santo - ES" itemValue="ES" />
                                    <f:selectItem itemLabel="Goiás - GO" itemValue="GO" />
                                    <f:selectItem itemLabel="Maranhão - MA" itemValue="MA" />
                                    <f:selectItem itemLabel="Mato Grosso - MT" itemValue="MT" />
                                    <f:selectItem itemLabel="Mato Grosso do Sul - MS" itemValue="MS" />
                                    <f:selectItem itemLabel="Minas Gerais - MG" itemValue="MG" />
                                    <f:selectItem itemLabel="Pará - PA" itemValue="PA" />
                                    <f:selectItem itemLabel="Paraíba - PB" itemValue="PB" />
                                    <f:selectItem itemLabel="Paraná - PR" itemValue="PR" />
                                    <f:selectItem itemLabel="Pernambuco - PE" itemValue="PE" />
                                    <f:selectItem itemLabel="Paiauí - PI" itemValue="PI" />
                                    <f:selectItem itemLabel="Rio de Janeiro - RJ" itemValue="RJ" />
                                    <f:selectItem itemLabel="Rio Grande do Norte - RN" itemValue="RN" />
                                    <f:selectItem itemLabel="Rio Grande do Sul - RS" itemValue="RS" />
                                    <f:selectItem itemLabel="Rondônia - RO" itemValue="RO" />
                                    <f:selectItem itemLabel="Roraima - RR" itemValue="RR" />
                                    <f:selectItem itemLabel="Santa Catarina - SC" itemValue="SC" />
                                    <f:selectItem itemLabel="São Paulo - SP" itemValue="SP" />
                                    <f:selectItem itemLabel="Sergipe - SE" itemValue="SE" />
                                    <f:selectItem itemLabel="Tocantins - TO" itemValue="TO" />
                                </p:selectOneMenu>
                            </b:column>

                        </b:column>
                        <b:column span="6">
                            <p:messages id="msgs3" />
                        </b:column>

                    </div>

                </div>
                <b:column span="12">
                    <hr/>
                    <p:commandButton value="Salvar" id="salvar" action="#{terceiroMB.salvar()}" styleClass="btn btn-primary" ajax="true" update=":consultaCheques, :formCheque,:msg" icon="salvar" validateClient="true"/>
                    <p:commandButton value="Limpar" styleClass="btn btn-danger"  icon="voltar"  action="#{terceiroMB.novo()}"  update=":frmCadastrarTerceiro" />
                    <p:blockUI block="frmCadastrarTerceiro"  trigger="salvar" >
                        <p:graphicImage value="Recursos/img/novoLoading.gif" />
                    </p:blockUI>
                </b:column>
            </b:row>
        </h:form>

    </body>
</html>
