<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>SMA - Sistema Médico de Associados! </title>		
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="stylesheet" type="text/css" href="Recursos/cssLogin/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="Recursos/cssLogin/css/style3.css" />
        <link rel="stylesheet" type="text/css" href="Recursos/cssLogin/css/animate-custom.css" />
        <link rel="stylesheet" type="text/css" href="Recursos/css/sweet-alert.css" />
        <script src="Recursos/js/sweet-alert.js"/>
        <link rel = "icon" href = "Recursos/icons/Logo_SMA.ico" type = "image/x-icon" />
        <link rel = "shortcut icon" href = "Recursos/icons/Logo_SMA.ico" type = "image/x-icon" />

    </h:head>

    <body id="login" onload="document.getElementById('j_username').focus();">

        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">

                <span class="right">
                    <a href=" http://bcrtecnologia.com.br">
                        <strong>BCR Tecnologia</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>SMA <span>Sistema Medico de Associados</span></h1>

            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div  >
                            <form   autocomplete="on"  id="login" method="post" action="#{request.contextPath}/j_spring_security_check"> 
                                <p:dialog header="Atenção"   resizable="false" widgetVar="logError" visible="#{!empty param.login_error}">
                                   
                                    <script type="text/javascript" >
                                        $(document).ready(function(){   
                                            
                                            swal({     title: "Error!",     text: "Here's my error message!",     type: "error",     confirmButtonText: "Cool"   }); });
                                    </script>
                                   
                                    <center>
                                        <h:outputText value="#{SPRING_SECURITY_LAST_EXCEPTION.message}" style=" font-weight: bold; font-size: 20px; color: red;  "/>
                                        <br /><br />
                                    </center>
                                </p:dialog>
                                <h1>Acesso ao Sistema  </h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Usuário </label>
                                    <p:inputText type='text'  id='j_username'   autocomplete="false"  onfocus="this.value='';"  required="true  " placeholder="Digite aqui seu usuário"/>
                                    <!--<input id="j_username" name="username" required="required" type="text" placeholder="Digite aqui seu usuário"/>-->
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Senha </label>
                                    <p:inputText  type='password'  id='j_password' onfocus="this.value='';"  required="true" placeholder="Digite aqui sua senha!"/>
                                    <!--<input id="j_password" onfocus="this.value='';" name="password" required="required" type="password" placeholder="Digite aqui sua senha!" />--> 
                                </p>
                                <p class="login button"> 
                                    <input type="submit" class="btn-entrar" value="Entrar"  />
                                    <a href="#"    >Recuperar senha</a>
                                </p>
                                <script>
                                    document.getElementById("login").j_username.value = "#SPRING_SECURITY_LAST_USERNAME"};
                                </script>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>
