<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

        <title>SMA - Sistema Médico de Associados</title>		
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

        <link rel="icon" href = "Recursos/images/logo-ux.png" />
        <link rel="stylesheet" href="Recursos/css/bootstrap.css"/>        
        <link rel="stylesheet" href="Recursos/css/style.css"/>    
        <script src="Recursos/js/bootstrap.min.js"></script>
    </h:head>
    <body onload="document.getElementById('j_username').focus();">
        <script>
            function down(lstr){ 
                var str = lstr.value; 
                lstr.value = str.toLowerCase(); 
            }
        </script>
        <div class="modal show" id="loginModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <form autocomplete="on" id="login" method="post" style="margin-bottom: 0px;" action="#{request.contextPath}/j_spring_security_check">
                    <div class="modal-content">
                        <div class="modal-header">
                            <b:alert severity="danger" rendered="#{param.login_error == 1?'true':'false'}" closable="true">
                                <strong>Atenção ! </strong> Erro ao logar. #{SPRING_SECURITY_LAST_EXCEPTION.message}</b:alert>
                            <h1 class="text-center">Login </h1>
                        </div>                        
                        <div style="padding: 20px 0 0">
                            <center>
                                <img src="Recursos/images/logo-ux.png" height="80px" />
                            </center>
                        </div>
                        <div class="modal-body">
                            <form class="form col-md-12 center-block">
                                <div class="form-group">
                                    <label for="username" class="uname" data-icon="u" > Usuário </label>
                                    <p:inputText type='text'  id='j_username' styleClass="form-control" autocomplete="false" onfocus="this.value='';" 
                                                 required="true" onkeyup="down(this)" />
                                </div>
                                <div class="form-group">
                                    <label for="password" class="youpasswd" data-icon="p"> Senha </label>
                                    <p:inputText  type='password'  id='j_password' styleClass="form-control" onfocus="this.value='';" required="true"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Entrar"/>                                        
                                </div>
                                <script>
                                    document.getElementById("login").j_username.value = "#{SPRING_SECURITY_LAST_USERNAME}";
                                </script>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <div>
                                    <div align="center">
                                        SMA © 2019
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
